<template>
  <img class="avatar-img" :style="styles" :alt="userName" :title="userName" :src="src" />
</template>

<script>
  /*APIs*/
  /*Components*/
  /*Mixins*/

  export default {
  	data: function() {
  		return {
  			IsLoading: false
  		};
  	},
  	props: {
  		userId: {
  			type: [String, Number],
  			required: true,
  			default: null
  		},
  		userName: {
  			type: [String],
  			required: true,
  			default: null
  		},
  		src: {
  			type: [String],
  			required: true,
  			default: null
  		},
  		width: {
  			type: [String, Number],
  			required: false,
  			default: '22'
  		},
  		height: {
  			type: [String, Number],
  			required: false,
  			default: '22'
  		}
  	},
  	mixins: [],
  	filters: {},
  	components: {},
  	methods: {},
  	watch: {},
  	computed: {
  		styles: function() {
  			var height = this.height;
  			let width = this.width;
  			return { width: `${width}px`, height: `${height}px` };
  		}
  	},
  	created: function() {},
  	mounted: function() {}
  };
</script>


<style scoped lang="less">
  @import '../../../../../less/app-variables.less';
  .avatar-img {
  	border-radius: 50%;
  	display: flex;
  	margin: 0 0.5em 0 0;
  }
</style>
