<template>
  <div data-scroll="true" :class="{'patient-tags':true, 'is-modal': this.isModal, 'js-fullHeight-bodyElement': !this.isModal}">
    <ui-progress-circular color="primary" v-if="IsLoadingPatientData"></ui-progress-circular>
    <template v-if="!IsLoadingPatientData">
      <ui-select hasSearch placeholder="Select a team" label="Teams" @input="setSelectedTeam" class="" :disabled="IsLoading || !getTeamsUserCanManageTagsFor.length" :options="getTeamsUserCanManageTagsFor" :value="SelectedTeam"></ui-select>

      <ui-textbox :disabled="!getTeamsUserCanManageTagsFor.length || IsLoading" placeholder="Filter by tag name" :multi-line="false" v-model="TagFilterText"></ui-textbox>
      <ui-progress-circular color="primary" v-if="IsLoadingTeamData"></ui-progress-circular>
      <div v-if="SelectedTeam && !IsLoadingTeamData">
        <div class="team-tags-wrapper">
          <template v-if="getPatientTagsToRender.length">
            <div class="team-tags-item" v-for="(item) in getPatientTagsToRender" :key="item.ID">
              <AddPatientClinicalTagLine v-if="!item.hasOwnProperty('AddedByGroupID')" :item="item" :selectedTags="SelectedTagsToAdd.map(x => x.ID)" @tag-select-toggled="selectTag" :patientId="patientId" :isLoading="IsLoading" @component-busy="childComponentBusyToggle"></AddPatientClinicalTagLine>

              <RemovePatientClinicalTagLine v-if="item.hasOwnProperty('AddedByGroupID')" :item="item" @clinical-tag-removed="removedTag" @component-busy="childComponentBusyToggle" :patientId="patientId" :memberAreaId="SelectedTeam.value"></RemovePatientClinicalTagLine>
            </div>
          </template>
          <template v-else>No tags available for this team.</template>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  /*Components*/
  import AddPatientClinicalTagLine from 'VueComponents/patientClinicalTags/components/AddPatientClinicalTagLine';
  import RemovePatientClinicalTagLine from 'VueComponents/patientClinicalTags/components/RemovePatientClinicalTagLine';
  /* API Endpoints */
  import Vault from 'Endpoints/careflowApp/Vault';
  import GetPatient from 'Endpoints/patients/GetPatient';
  import appMain from '../../../app/app-main';
  import GroupClinicalTags from 'Endpoints/clinicalTags/GroupClinicalTags';
  import ClinicalTags from 'Endpoints/clinicalTags/ClinicalTags';

  //Utils

  export default {
  	data() {
  		return {
  			IsLoading: false,
  			IsLoadingPatientData: false,
  			IsLoadingTeamData: false,
  			ActiveNetworkExternalId: appMain.getNetworkExternalNetworkId(this.networkId),
  			Patient: this.patient,
  			PatientId: this.patientId,
  			UsersNetworkTeams: appMain.getTeamsUserIsMemberOf() || [],
  			SelectedTeam: '',
  			SelectedTeamAvailableClinicalTags: [],
  			SelectedTagsToAdd: [],
  			TagFilterText: '',
  		};
  	},
  	props: {
  		patient: {
  			type: [Object, String],
  			required: false,
  			default: null,
  		},
  		patientId: {
  			type: [String, Number],
  			required: true,
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false,
  		},
  		networkId: {
  			type: [String, Number],
  			required: true,
  		},
  		isModal: {
  			type: [Boolean],
  			required: false,
  			default: true,
  		},
  		isSubmitted: {
  			type: [Boolean],
  			required: false,
  		},
  	},
  	components: { AddPatientClinicalTagLine, RemovePatientClinicalTagLine },
  	mixins: [DateFilter],
  	filters: {},
  	watch: {
  		isValidForUpsert(newVal, OldVal) {
  			VueEventBus.$emit('Modal.ValidityUpdate', newVal);
  		},
  		SelectedTagsToAdd(newVal, OldVal) {
  			if (newVal.length) {
  				this.$emit('parent-modal-emit', 'setActiveModalSubmitButtonLabel', `Add ${newVal.length} tags`);
  				this.$emit('parent-modal-emit', 'setActiveModalSubmitButtonIsDisabled', false);
  			} else {
  				this.$emit('parent-modal-emit', 'setActiveModalSubmitButtonLabel', `Add tags`);
  				this.$emit('parent-modal-emit', 'setActiveModalSubmitButtonIsDisabled', true);
  			}
  		},
  		isSubmitted(newVal, OldVal) {
  			//Footer button clicked, trickle down prop
  			if (!newVal) return;
  			this.addClinicalTagsToPatient();
  		},
  		IsLoading(newVal, oldVal) {
  			if (newVal) return this.$emit('parent-modal-emit', 'setActiveModalSubmitButtonIsDisabled', true);
  			if (!this.SelectedTagsToAdd.length) return this.$emit('parent-modal-emit', 'setActiveModalSubmitButtonIsDisabled', true);
  			return this.$emit('parent-modal-emit', 'setActiveModalSubmitButtonIsDisabled', false);
  		},
  	},
  	computed: {
  		getTeamsUserCanManageTagsFor() {
  			if (!this.UsersNetworkTeams.length) return [];
  			return this.UsersNetworkTeams.map(x => {
  				const permissions = appMain.getUserPermissionsForMemberArea(x.MemberAreaID) || [];
  				if (permissions.includes('ManagePatientClinicalTags')) {
  					return {
  						label: x.Name,
  						value: x.MemberAreaID,
  					};
  				}
  				return null;
  			}).filter(Boolean);
  		},

  		getPatientTagsToRender() {
  			if (!this.SelectedTeam || !this.SelectedTeamAvailableClinicalTags.length) return [];

  			return this.SelectedTeamAvailableClinicalTags.map(x => {
  				//if (x.AddedByGroupID !== this.SelectedTeam.value) return null;

  				if (!x.IsSelected) return null; //Only active tags

  				const tagIsActiveIndex = this.Patient.ClinicalTags.findIndex(y => {
  					return y.ID === x.ID && x.IsSelected && y.AddedByGroupID === this.SelectedTeam.value;
  				});

  				let tag = tagIsActiveIndex !== -1 ? this.Patient.ClinicalTags[tagIsActiveIndex] : x;

  				if (this.TagFilterText.length > 0) {
  					if (tag.Value.toLowerCase().includes(this.TagFilterText.toLowerCase())) return tag;
  					return null;
  				}
  				return tag;
  			}).filter(Boolean);
  		},

  		isValidForUpsert() {
  			if (this.SelectedTagsToAdd.length || this.IsLoading) return true;
  			return false;
  		},
  	},
  	methods: {
  		setSelectedTeam(val) {
  			if (!val) return;
  			this.IsLoadingTeamData = true;
  			this.SelectedTeam = val;
  			this.TagFilterText = '';
  			this.SelectedTagsToAdd = [];

  			GroupClinicalTags.callApi(this.SelectedTeam.value)
  				.then(response => {
  					this.SelectedTeamAvailableClinicalTags = response.Data;
  					this.IsLoadingTeamData = false;
  				})
  				.fail(error => {
  					this.IsLoadingTeamData = false;
  				});
  		},

  		selectTag(val) {
  			if (!val) return;

  			let set = new Set(this.SelectedTagsToAdd);

  			if (!set.has(val)) {
  				set.add(val);
  			} else {
  				set.delete(val);
  			}

  			return (this.SelectedTagsToAdd = Array.from(set));
  		},
  		isTagSelected(id) {
  			//https://stackoverflow.com/questions/39997067/es6-unique-array-of-objects-with-set
  			let set = new Set(this.SelectedTagsToAdd);
  			return set.has(id);
  		},
  		addClinicalTagsToPatient() {
  			if (!this.SelectedTagsToAdd.length || !this.SelectedTeam) return;

  			this.IsLoading = true;
  			const obj = {
  				Added: this.SelectedTagsToAdd.map(x => x.ID), //API just wants the IDs
  				removed: [],
  			};
  			//Call API
  			return ClinicalTags.callApi(this.SelectedTeam.value, this.patientId, obj).then((response, status, XHR) => {
  				if (/^2/.test(XHR.status)) {
  					this.$emit('parent-modal-emit', 'closeActiveModal', true);
  					this.IsLoading = false;

  					VueEventBus.$emit('PatientClinicalTags.PatientTagsAdded', { MemberAreaId: this.SelectedTeam.value, PatientId: this.patientId, ClinicalTags: this.SelectedTagsToAdd });
  				}
  			});
  		},
  		removedTag(val) {
  			//Child component triggered
  			const index = this.Patient.ClinicalTags.findIndex(y => {
  				return y.ID === val.ID && y.AddedByGroupID === val.AddedByGroupID;
  			});

  			VueEventBus.$emit('PatientClinicalTags.PatientTagRemoved', { MemberAreaId: val.AddedByGroupID, PatientId: this.patientId, ClinicalTagId: val.ID });

  			this.IsLoading = false;

  			if (index !== -1) return this.Patient.ClinicalTags.splice(index, 1);
  		},
  		childComponentBusyToggle(val) {
  			this.IsLoading = val;
  		},
  	},
  	created() {
  		if (!this.patient && this.patientId) {
  			//No patient set - patient summary tab
  			this.IsLoadingPatientData = true;
  			GetPatient.callApi(this.patientId, this.networkId, ['HandoverNotes'])
  				.then((response, status, xhr) => {
  					this.Patient = response.Data;
  					this.IsLoadingPatientData = false;
  				})
  				.fail(error => {});
  		}
  		this.$emit('parent-modal-emit', 'setActiveModalSubmitButtonLabel', `Add tags`);
  	},
  	mounted() {
  		if (this.memberAreaId) {
  			this.setSelectedTeam({ label: appMain.getMemberAreaName(this.memberAreaId), value: this.memberAreaId });
  		}
  	},
  	deforeDestroy() {},
  };
</script>

<style lang="less">
  &.tags-modal-wrapper {
  	//Override global - add a class wrapper / parent
  	& .ui-textbox__label-text {
  		margin: 0 0 0.5em 0;
  	}
  	& .ui-select__content {
  		min-height: 43px;
  	}
  	& .ui-checkbox {
  		&:hover {
  			cursor: pointer;
  		}
  	}
  }
</style>


<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../less/app-variables.less';

  .team-tags-wrapper {
  	display: flex;
  	align-items: flex-start;
  	flex-wrap: wrap;
  	height: 100%;
  	margin-bottom: 5em;
  	justify-content: space-between;
  }

  .team-tags-item {
  	display: flex;
  	align-items: center;
  	width: 48%;
  	padding: 0;
  	border-bottom: 1px solid @row--border;
  	min-height: 45px;
  	height: 45px;
  }
</style>

<custom>Patient clinical tags</custom>
