<template>
  <div class="profiles-wrapper">
    <div class="profiles-header-wrapper">
      <p>Edit the profile colour by clicking the coloured icon and selecting from the available colour options.</p>
    </div>
    <div class="profiles-list-wrapper">
      <template v-if="!getProfilesToRender.length">
        <ui-progress-circular color="primary"></ui-progress-circular>
      </template>
      <template v-else>
        <ManageNetworkProfilesRow v-for="(item) in getProfilesToRender" :key="item.ExternalIdentifier" @profile-colour-changed="saveProfile" :profile="item" :isLoading="IsLoading" :lastUpdatedColour="LastUpdatedColourAndItem"></ManageNetworkProfilesRow>
      </template>
    </div>

  </div>
</template>
<script>
  /* API Endpoints */
  import * as Profiles from 'Endpoints/networks/TeamRoles';
  import * as ProfileUpdate from 'Endpoints/networks/ProfileUpdate';

  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  /*Utils*/
  /*Components*/
  import ManageNetworkProfilesRow from 'VueComponents/networkProfiles/components/ManageNetworkProfilesRow';

  export default {
  	data() {
  		return {
  			NetworkId: this.networkId,
  			Profiles: [],
  			IsLoading: false,
  			LastUpdatedColourAndItem: null,
  		};
  	},
  	components: { ManageNetworkProfilesRow },
  	props: {
  		networkId: {
  			type: [String, Number],
  			required: true,
  		},
  	},
  	mixins: [DateFilter],
  	methods: {
  		getProfiles() {
  			return Profiles.callApi(appMain.getNetworkExternalNetworkId(this.networkId), 0, 50).then((response, textStatus, xhr, fullResponse) => {
  				this.Profiles = response.Data;
  			});
  		},
  		saveProfile(obj) {
  			if (!obj) return;

  			this.IsLoading = true;

  			ProfileUpdate.callApi(appMain.getNetworkExternalNetworkId(this.networkId), obj.Item.ExternalIdentifier, obj.UpdatedColour.slice(1) + 'AA')
  				.then((response, textStatus, xhr, fullResponse) => {
  					this.IsLoading = false;
  					this.LastUpdatedColourAndItem = obj;
  					appMain.triggerAppNotification({
  						Heading: 'Handover profiles updated',
  						Text: 'Profile colour updated',
  						Icon: 'success',
  					});
  				})
  				.fail(error => {
  					this.getProfiles();
  					this.IsLoading = false;
  				});
  		},
  	},
  	computed: {
  		getProfilesToRender() {
  			return this.Profiles || [];
  		},
  	},
  	created() {
  		//Init
  		this.getProfiles();
  	},
  	mounted() {},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},
  	beforeDestroy() {},
  };
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../less/app-variables.less';
  .profiles-wrapper {
  	max-width: 800px;
  }
  .profiles-header-wrapper {
  	//padding: 0em 1em;
  	display: flex;
  	flex-direction: column;
  }
  .profiles-list-wrapper {
  	//padding: 0 1em 5em 1em;
  	display: flex;
  	flex-direction: column;
  	//width: 400px;
  }
</style>



<custom></custom>
