﻿<div class="pure-g itSupportDirectory__view-wrapper" id="itSupportDirectory__view">
    <div class="pure-u-8-24 js-scaffold-block">
        <div class="itSupportDirectory__searchWrapper" data-full-height-deduct="true">
            <span class="view-block__title">Networks</span>
            <input v-bind:disabled="IsLoading" placeholder="Filter by network name..." class="u-filter__txt" v-model="Search" type="text" />
        </div>
        <div class="js-fullHeight-bodyElement">
            <div data-scroll="true" class="itSupportDirectory__networks__col1 js-fullHeight-bodyElement">
                <ul class="itSupportDirectory__networks-ul">
                    <li v-bind:class="{'itSupportDirectory__networks-li': true, 'active': ActiveNetworkId === network.NetworkId}" v-for="network in fileredNetworks" v-on:click="setActiveNetwork(network)">
                        \{{network.Name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pure-u-16-24 js-scaffold-block">
        <div data-full-height-deduct="true" class="view-block__title">Teams</div>
        <div data-scroll="true" class="js-fullHeight-bodyElement">
            <div class="itSupportDirectory__networks__col2">
                <loading-block message="Loading network teams..." v-if="IsLoadingTeams"></loading-block>
                \{{ActiveNetwork.Network}}
                <ul class="itSupportDirectory__teams-ul" v-if="ActiveNetwork.length">
                    <li class="itSupportDirectory__teams-li" v-for="team in ActiveNetwork">
                        <a v-bind:href="'/#/' + ActiveNetworkId +'/Teams/'+ team.MemberAreaID">\{{team.Name}}</a>
                        <div class="teams-li__desc">
                            \{{team.Description}}
                        </div>
                    </li>
                </ul>
                <div v-else-if="!IsLoadingTeams && !ActiveNetwork.length">No teams in this network</div>
            </div>
        </div>
    </div>
</div>
