<template>
  <div :class="{'change-consultant-wrapper':true}">
    <template v-if="!ChangeType || IsLoadingConsultantCorrectionData || IsLoadingConsultantTransferData">
      <div class="set-type-wrapper">
        <div class="header">
          <div class="block-title">Change consultant</div>
          Please choose carefully from the following (this choice will impact upon reported patient data):
        </div>
        <div class="body">
          <div class="col-1">
            <div class="block-text">The current consultant was incorrectly allocated and I wish to correct this.</div>
            <ui-button type="secondary" :disabled="IsLoading" :loading="IsLoadingConsultantCorrectionData" v-on:click="setChangeType('correct')">Correct current consultant</ui-button>
          </div>
          <div class="col-2">
            <div class="block-text">This patient's care has now transferred to a new consultant and I wish to update this information to reflect this new episode of care.</div>
            <ui-button type="secondary" :disabled="IsLoading" :loading="IsLoadingConsultantTransferData" v-on:click="setChangeType('transfer')">Transfer to a new consultant</ui-button>
          </div>
        </div>
      </div>
    </template>

    <template v-else>
      <div>
        <div class="set-type-wrapper action">
          <div class="header">
            <div class="block-title">
              <template v-if="ChangeType === 'transfer'">Transfer to consultant</template>
              <template v-if="ChangeType === 'correct'">Update consultant</template>
            </div>
            <template v-if="ChangeType === 'transfer'">Select a consultant to transfer patient to:</template>
            <template v-if="ChangeType === 'correct'">Select the correct consultant:</template>
          </div>
          <div class="body">
            <ui-select hasSearch placeholder="Select a consultant" label="" @input="setConsultantToTransferTo" class="" :disabled="IsLoading" :options="getConsultantPatientCanBeTransferredTo" :value="SelectedConsultantToTransferTo">
              <template scope="props" slot="option">
                <div :class="{'profile-option':true}">
                  <div class="name">{{ props.option.label}}</div>
                  <div class="meta">{{ props.option.specialtyDescription}}</div>
                </div>
              </template>
            </ui-select>
          </div>
          <div class="footer">
            <ui-button v-on:click="()=>{if (ChangeType === 'transfer') return saveConsultantTransfer(); return saveConsultantUpdate();}" color="primary" :loading="IsLoading" :disabled="!SelectedConsultantToTransferTo">
              <template v-if="ChangeType === 'transfer'">Save consultant transfer</template>
              <template v-if="ChangeType === 'correct'">Save consultant update</template>

            </ui-button>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import GetPatientHospitalNumber from 'VueMixins/getPatientHospitalNumber';
  import StringToUpper from 'VueMixins/stringToUpperCase';

  /* API Endpoints */
  import * as GetMedwayGuid from 'Endpoints/medwayServices/patientServiceAPI/GetPatientMedwayGuid';
  import * as GetAdminCategories from 'Endpoints/medwayServices/inpatientServices/GetAdminCategories';
  import * as CreateNewPatientEpisode from 'Endpoints/medwayServices/inpatientServices/CreateNewPatientEpisode';
  import * as UpdatePatientEpisode from 'Endpoints/medwayServices/inpatientServices/UpdatePatientEpisode';
  import * as GetHealthcareProfessionals from 'Endpoints/medwayServices/healthcareProfessionalService/GetHealthcareProfessionals';
  import * as GetSpecialties from 'Endpoints/medwayServices/healthcareProfessionalService/GetSpecialties';
  import * as GetRoleTypes from 'Endpoints/medwayServices/healthcareProfessionalService/GetRoleTypes';
  import * as GetPatientSpells from 'Endpoints/medwayServices/inpatientServices/GetPatientSpells';
  /*Components*/

  export default {
  	data: function() {
  		return {
  			IsLoading: false,
  			IsLoadingConsultantTransferData: false,
  			IsLoadingConsultantCorrectionData: false,
  			RebuildUiComponentKey: null,
  			ChangeType: null,
  			SelectedConsultantToTransferTo: '',
  			PatientMedwayGuid: null,
  			InpatientData: {
  				Spells: [],
  				RoleTypes: [],
  				AdminCategories: [],
  				HealthCareProfessionals: [],
  			},
  		};
  	},
  	mixins: [DateFilter, GetPatientHospitalNumber, StringToUpper],
  	components: {},
  	props: {
  		patient: {
  			required: true,
  			type: [Object, Array],
  		},
  		patientId: {
  			required: true,
  			type: [Number, String],
  		},
  		networkId: {
  			required: true,
  			type: [Number, String],
  		},
  	},
  	filters: {},

  	computed: {
  		getConsultantPatientCanBeTransferredTo() {
  			if (!this.InpatientData.HealthCareProfessionals.length) return [];
  			return this.InpatientData.HealthCareProfessionals.map(x => {
  				if (x.inactive) return false;
  				return {
  					label: `${x.title.description} ${x.forename} ${x.surname}`,
  					value: x.hcpId,
  					specialtyDescription: x.specialtyDescription,
  					specialityId: x.specialtyId,
  					hcpId: x.hcpId,
  				};
  			}).filter(Boolean);
  		},
  	},

  	watch: {},

  	methods: {
  		getPatientMedwayGuid() {
  			return new Promise((resolve, reject) => {
  				if (!this.patient) return reject();
  				//Pending network config implementation - need to get the Hospital number
  				let identifier = this.getPatientHospitalNumberFromIdentifiers(this.patient.PatientIdentifiers);

  				if (!identifier) {
  					//No Hospital Number (Medway requirement) found
  					appMain.triggerAppNotification({
  						Text: 'No Hospital number found for patient <span class="u-strong">' + this.patient.PatientFamilyName + ', ' + this.patient.PatientGivenName + '</span>',
  						Icon: 'error',
  					});
  					return reject('FAB TPI: No valid PrimaryIdentifier');
  				}

  				GetMedwayGuid.getPatientMedwayGuid(this.patient.PatientExternalIdentifier, this.patient, identifier)
  					.then(response => {
  						//Full Medway patient obj
  						if (!response) return reject();
  						return resolve(response.patientId);
  					})
  					.catch(error => {
  						return reject(error);
  					});
  			});
  		},
  		setChangeType(val) {
  			if (!val) return;
  			this.ChangeType = val;
  			this.initConsultantChange();
  		},
  		initConsultantChange() {
  			this.IsLoading = true;
  			if (this.ChangeType === 'transfer') this.IsLoadingConsultantTransferData = true;
  			if (this.ChangeType === 'correct') this.IsLoadingConsultantCorrectionData = true;

  			//GetAdminCategories.callApi(),
  			//['b9947eee-b1a5-41a8-b4c6-4d98f19ae50b','ce6a75c7-4d12-4292-8139-b90bb856a0cf']
  			//consultants and clinicians
  			//   GetRoleTypes.callApi(response => {
  			// 		 alert(JSON.stringify(response.data.results))
  			// 		 this.InpatientData.RoleTypes = response.data;
  			// 		 return response;
  			//   	})

  			// Julia Wood -  I’d be tempted for the moment to use
  			// 48c7e8c3-3858-4f86-b7e9-a24aecedad9a;2b314126-2268-4af5-89c6-e36ba7528371
  			// For the role type parameter – this will give you consultants and clinicians.  As this are likely local values, I’d expect the trust to want to select the role type to use so will return results based on what they have locally configured.

  			Promise.all([this.getPatientMedwayGuid(), GetHealthcareProfessionals.getHcpByRoleTypes(['48c7e8c3-3858-4f86-b7e9-a24aecedad9a', '2b314126-2268-4af5-89c6-e36ba7528371'].join(';'))])
  				.then(responses => {
  					//Order is retained
  					this.PatientMedwayGuid = responses[0];
  					//this.InpatientData.AdminCategories = responses[1].data.results || [];
  					this.InpatientData.HealthCareProfessionals = responses[1].data.results || [];
  					return responses[0]; //Medway GUID
  				})
  				.then(response => GetPatientSpells.callApi(response))
  				.then(response => {
  					this.InpatientData.Spells = response.data.results;
  					this.IsLoadingConsultantTransferData = false;
  					this.IsLoadingConsultantCorrectionData = false;
  					this.IsLoading = false;
  				})
  				.catch(error => {
  					this.IsLoading = false;
  					this.IsLoadingConsultantTransferData = false;
  					this.IsLoadingConsultantCorrectionData = false;
  					this.InpatientData.Spells = [];
  					this.InpatientData.HealthCareProfessionals = [];
  					appMain.triggerAppNotification({
  						Heading: 'Cannot load consultants',
  						Text: `Please try again or contact an administrator.`,
  						Icon: 'error',
  					});
  				});
  		},
  		setConsultantToTransferTo(val) {
  			if (!val) return;
  			this.SelectedConsultantToTransferTo = val;
  		},

  		saveConsultantTransfer() {
  			this.IsLoading = true;
  			let spellId = this.InpatientData.Spells.length > 0 ? this.InpatientData.Spells[0].spellId : null;
  			if (!spellId) {
  				this.IsLoading = false;
  				return appMain.triggerAppNotification({
  					Heading: 'Consultant transfer failed',
  					Text: `Please try again or contact an administrator. No valid Spell ID available`,
  					Icon: 'error',
  				});
  			}

  			let hpcId = this.SelectedConsultantToTransferTo.value;
  			let adminCategory = '46ba9857-8bbf-4e6f-aa38-cbd81a019c03';
  			let specialityId = this.SelectedConsultantToTransferTo.specialityId;
  			let startDate = moment(moment())
  				.local()
  				.format();

  			//spellId, hpcId, adminCategory, specialtyId, startDate - ONE SPELL CAN HAVE MANY EPISODES
  			CreateNewPatientEpisode.callApi(spellId, hpcId, adminCategory, specialityId, startDate)
  				.then(response => {
  					this.IsLoading = false;
  					this.$emit('consultant-transfer-saved', response.data); //https://stackoverflow.com/questions/47659930/parent-not-listening-to-child-emit-vuejs

  					appMain.triggerAppNotification({
  						Heading: 'Consultant transferred',
  						Text: 'Transfer successful. Please allow a moment for systems to update.',
  						Icon: 'success',
  					});
  				})
  				.catch(error => {
  					this.IsLoading = false;
  					console.log(JSON.stringify(error));
  					let errorMsg = `${error.response.data.message}`;
  					appMain.triggerAppNotification({
  						Heading: 'Consultant transfer failed',
  						Text: `Please try again or contact an administrator. ${errorMsg}`,
  						Icon: 'error',
  					});
  				});
  		},

  		saveConsultantUpdate() {
  			//Correct patient consultant - amend the episode
  			//One spell can have MANY episodes
  			this.IsLoading = true;
  			const patientEpisodes = this.InpatientData.Spells.length ? this.InpatientData.Spells[0].inpatientEpisodes : null;

  			if (!patientEpisodes) return; //TODO:HANDLE - also if there is an endDate? what happens??

  			const episodeId = patientEpisodes[0].episodeId;
  			let specialtyId = this.SelectedConsultantToTransferTo.specialityId;
  			let hpcId = this.SelectedConsultantToTransferTo.value;

  			UpdatePatientEpisode.callApi(episodeId, specialtyId, hpcId)
  				.then(response => {
  					this.IsLoading = false;
  					this.$emit('consultant-transfer-saved', response.data); //https://stackoverflow.com/questions/47659930/parent-not-listening-to-child-emit-vuejs

  					appMain.triggerAppNotification({
  						Heading: 'Consultant updated',
  						Text: 'Update successful. Please allow a moment for systems to update.',
  						Icon: 'success',
  					});
  				})
  				.catch(error => {
  					this.IsLoading = false;
  					console.log(JSON.stringify(error));
  					let errorMsg = `${error.response.data.message}`;
  					appMain.triggerAppNotification({
  						Heading: 'Consultant update failed',
  						Text: `Please try again or contact an administrator. ${errorMsg}`,
  						Icon: 'error',
  					});
  				});
  		},
  	},

  	filters: {
  		toLowerCase(string) {
  			return string.toLowerCase();
  		},
  	},

  	events: {},

  	beforeCreate: function() {},

  	created: function() {},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},

  	mounted() {},
  };
</script>

<style scoped lang="less">
  @import '../../../../../less/app-variables.less';

  .block-title {
  	@title-main();
  }
  .change-consultant-wrapper {
  	max-width: 565px;
  	width: 565px;
  	min-height: 190px;
  	height: 190px;
  	max-height: auto;
  	position: relative;
  }
  .set-type-wrapper {
  	display: flex;
  	flex-direction: column;
  	flex-wrap: nowrap;
  	height: 100%;
  	position: relative;

  	& .header {
  		display: flex;
  		flex-direction: column;
  		margin: 0 0 3em 0;
  	}

  	& .body {
  		display: flex;
  		height: 100%;
  	}

  	.block-text {
  		display: flex;
  		//padding: 0 0 3em 0;
  	}

  	& .col-1 {
  		display: flex;
  		flex-direction: column;
  		width: 50%;
  		height: 100%;
  		border-right: 1px solid @row--border;
  		box-sizing: border-box;
  		padding: 0 1em 0 0;
  		& .ui-button {
  			margin-top: auto;
  		}
  	}
  	& .col-2 {
  		display: flex;
  		flex-direction: column;
  		width: 50%;
  		height: 100%;
  		box-sizing: border-box;
  		padding: 0 0 0 1em;
  		& .ui-button {
  			margin-top: auto;
  		}
  	}

  	& .footer {
  		margin: 1em 0 0 0;
  	}

  	&.action {
  		& .header {
  			margin: 0 0 1em 0;
  		}
  		& .body {
  			flex-direction: column;
  		}
  	}
  }

  .ui-select {
  	& .meta {
  		color: @text-light;
  	}
  }
</style>

<notes>Current Medications widget line item.</notes>
