<template>
  <div data-scroll="true" :class="{'post-update-wrapper':true, 'is-network-update': isNetworkMemberAreaId, 'is-modal': this.isModal, 'js-fullHeight-bodyElement': !this.isModal}">
    <ui-progress-circular color="primary" v-if="IsLoadingPatientData"></ui-progress-circular>
    <template v-if="!IsLoadingPatientData">
      <div v-if="!isNetworkMemberAreaId && !patientId" class="add-patient-wrapper">
        <ui-button v-on:click="$emit('add-patient-to-update',true)" color="primary" :raised="false" :disabled="IsLoading" :loading="IsLoading">Add a patient</ui-button>
      </div>
      <ui-select v-if="!isNetworkMemberAreaId" hasSearch label="Select a team" placeholder="Teams" @input="setSelectedTeam" class="" :disabled="IsLoading" :options="getTeamsUserCanStartConversationIn" :value="SelectedTeam"></ui-select>

      <ui-select v-if="!isNetworkMemberAreaId && patientId" label="Select a title" placeholder="Titles" @input="setSelectedTopic" class="" :disabled="IsLoading || !getTeamUpdateTopics.length" :options="getTeamUpdateTopics" :value="SelectedTopic"></ui-select>

      <ui-textbox v-if="(SelectedTopic && SelectedTopic.value === 'other') || isNetworkMemberAreaId || !patientId" placeholder="Add a title" :multi-line="false" class="" :disabled="IsLoading" v-model="CustomTitle"></ui-textbox>

      <div :class="{'update-comment-wrapper':true, 'is-network-update': isNetworkMemberAreaId}">
        <ui-textbox enforce-maxlength placeholder="Add details (optional)" :multi-line="true" name="comment" class="" :disabled="IsLoading" v-model="Comment"></ui-textbox>
      </div>
      <div :class="{'update-footer':true, 'is-network-update': isNetworkMemberAreaId}">
        <ui-button color="primary" :disabled="IsLoading || !isValidForUpsert" :loading="IsLoading" v-on:click="postUpdate">Post update</ui-button>

      </div>
    </template>
  </div>
</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  /*Components*/
  /* API Endpoints */
  import Vault from 'Endpoints/careflowApp/Vault';
  import GetPatient from 'Endpoints/patients/GetPatient';
  import StartNewConversationTaggedWithPatient from 'Endpoints/conversation/StartNewConversationTaggedWithPatient';
  import StartNewConversation from 'Endpoints/conversation/StartNewConversation';
  //Utils

  export default {
  	data() {
  		return {
  			IsLoading: false,
  			Patient: this.patient,
  			IsLoadingPatientData: !this.patient,
  			SelectedTeam: this.memberAreaId ? { label: appMain.getMemberAreaName(this.memberAreaId), value: this.memberAreaId } : '',
  			SelectedTopic: '',
  			Comment: '',
  			CustomTitle: '',
  		};
  	},
  	props: {
  		patient: {
  			type: [Object, String],
  			required: false,
  		},
  		patientId: {
  			type: [String, Number],
  			required: false,
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false,
  		},
  		networkId: {
  			type: [String, Number],
  			required: true,
  		},
  		isModal: {
  			type: [Boolean],
  			required: false,
  			default: false,
  		},
  		isNetworkMemberAreaId: {
  			//For Network updates - memberAreaId === networkMemberAreaId
  			type: [Boolean],
  			required: false,
  			default: false,
  		},
  	},
  	components: {},
  	mixins: [DateFilter],
  	filters: {},
  	watch: {
  		isValidForUpsert(newVal, OldVal) {
  			VueEventBus.$emit('Modal.ValidityUpdate', newVal);
  		},
  		patient(newVal, oldVal) {
  			this.Patient = newVal;
  		},
  	},
  	computed: {
  		getTeamsUserCanStartConversationIn() {
  			if (!Vault.getItem('GetMemberAreasAUserCanStartAConversationIn')) return [];

  			let data = Vault.getItem('GetMemberAreasAUserCanStartAConversationIn').Data.ConversationMemberAreas;

  			return data
  				.map(x => {
  					if (x.NetworkId === this.networkId && !x.IsNetwork) {
  						return {
  							label: x.MemberAreaName,
  							value: x.MemberAreaId,
  						};
  					}

  					return null;
  				})
  				.filter(Boolean);
  		},
  		getTeamUpdateTopics() {
  			if (!this.SelectedTeam || !Vault.getItem('GetMemberAreasAUserCanStartAConversationIn')) return [];

  			let data = Vault.getItem('GetMemberAreasAUserCanStartAConversationIn').Data.ConversationMemberAreas;

  			let parsedData =
  				data
  					.map(x => {
  						if (x.MemberAreaId === this.SelectedTeam.value) {
  							if (!x.Tags) return null;
  							return x.Tags.map(y => {
  								return {
  									label: y,
  									value: y,
  								};
  							});
  						}
  						return null;
  					})
  					.filter(Boolean)[0] || [];

  			//Add 'other'
  			parsedData.push({
  				label: 'Other',
  				value: 'other',
  			});

  			return parsedData;
  		},
  		isValidForUpsert() {
  			if (this.SelectedTeam && this.SelectedTopic && this.SelectedTopic.value !== 'other') return true;
  			if (this.SelectedTeam && this.SelectedTopic && this.SelectedTopic.value === 'other' && this.CustomTitle.trim().length) return true;
  			if (this.isNetworkMemberAreaId && this.CustomTitle.trim().length) return true;
  			if (!this.isNetworkMemberAreaId && !this.patientId && this.CustomTitle.trim().length) return true;
  			return false;
  		},
  	},
  	methods: {
  		setSelectedTeam(val) {
  			if (!val) return;
  			this.SelectedTeam = val;
  			this.SelectedTopic = '';
  		},
  		setSelectedTopic(val) {
  			if (!val) return;
  			this.SelectedTopic = val;
  		},
  		postUpdate() {
  			if (!this.isValidForUpsert) return false;
  			this.IsLoading = true;
  			const title = this.CustomTitle ? this.CustomTitle : this.SelectedTopic.value;
  			const memberAreaIdToAddUpdate = this.isNetworkMemberAreaId ? this.memberAreaId : this.SelectedTeam.value;

  			if (this.patientId) {
  				StartNewConversationTaggedWithPatient.callApi(memberAreaIdToAddUpdate, title, this.Comment, this.patientId)
  					.then((response, status, xhr) => {
  						setTimeout(() => {
  							if (this.patient && this.patientId) {
  								VueEventBus.$emit('PostUpdate.NewPatientFeedItemAdded', {
  									MemberAreaId: memberAreaIdToAddUpdate,
  									Title: title,
  									Body: this.Comment,
  									ContentItemID: response.Data.ContentItemID,
  									PatientData: this.patient,
  								});
  							}

  							this.$emit('update-saved', {}); //Close the modal, tell the parent
  							this.IsLoading = false;
  							this.SelectedTopic = '';
  							this.SelectedTeam = '';
  							this.CustomTitle = '';
  							this.Comment = '';
  							this.IsLoading = false;
  						}, 500); //Allow for Raven DB latency (serverside)

  						appMain.triggerAppNotification({
  							Heading: 'Patient update',
  							Text: 'Update posted successfully',
  							Icon: 'success',
  						});
  					})
  					.fail(error => {
  						this.IsLoading = false;
  					});
  			} else {
  				//network update
  				StartNewConversation.callApi(memberAreaIdToAddUpdate, this.CustomTitle, this.Comment)
  					.then((response, status, xhr) => {
  						setTimeout(() => {
  							VueEventBus.$emit('PostUpdate.NewFeedItemAdded', {
  								MemberAreaId: memberAreaIdToAddUpdate,
  								Title: this.CustomTitle,
  								Body: this.Comment,
  								ContentItemID: response.Data.ContentItemID,
  							});

  							this.$emit('update-saved', {}); //Close the modal, tell the parent
  							this.IsLoading = false;
  							this.SelectedTopic = '';
  							this.SelectedTeam = '';
  							this.CustomTitle = '';
  							this.Comment = '';
  							this.IsLoading = false;
  						}, 500); //Allow for Raven DB latency (serverside)

  						appMain.triggerAppNotification({
  							Heading: 'Updates',
  							Text: 'Update posted successfully',
  							Icon: 'success',
  						});
  					})
  					.fail(error => {
  						this.IsLoading = false;
  					});
  			}
  		},
  	},
  	created() {
  		if (!this.patient && this.patientId) {
  			//No patient set - patient summary tab
  			GetPatient.callApi(this.patientId, this.networkId, ['HandoverNotes'])
  				.then((response, status, xhr) => {
  					this.Patient = response.Data;
  					this.GroupListExternalIdentifiers = response.Data.GroupListExternalIdentifiers;
  					this.IsLoadingPatientData = false;
  				})
  				.fail(error => {});
  		} else {
  			this.IsLoadingPatientData = false;
  		}
  	},
  	mounted() {},
  	deforeDestroy() {},
  };
</script>

<style lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../less/app-variables.less';
  .post-update-wrapper {
  	&.is-network-update {
  		padding: 1em 0 0 0;
  	}
  }
  .update-comment-wrapper {
  	margin: 4em 0 0 0;
  	&.is-network-update {
  		margin: 3em 0 0 0;
  	}
  }
  .update-footer {
  	margin: 5em 0 0 0;
  	padding: 0;
  	&.is-network-update {
  		margin: 5em 0 0 0;
  		padding: 0;
  	}
  }
  .add-patient-wrapper {
  	margin: 0 0 2em 0;
  }
</style>

<custom>Post an update via a feed component</custom>
