﻿<div id="vue-network-home">
    <div class="pure-g networkHome__wrapper">
        <div class="pure-u-6-24 js-scaffold-block">
            <div class="networkHome__col1">
                <team-lists v-if="!PromptUserToSelectNetwork" :network-id="NetworkId" :refresh-requesting-summary="RefreshRequestingSummary"></team-lists>
                <template v-if="PromptUserToSelectNetwork">
                    <div style="background: #fff;">
                        <div style="height:25px" v-for="n in 50" :key="n" class="">
                            <vue-content-loading>
                                <rect x="10" y="10" rx="4" ry="4" height="8" width="300"></rect>
                                <rect x="340" y="10" rx="4" ry="4" height="8" width="30"></rect>
                            </vue-content-loading>
                        </div>
                    </div>
                </template>
                <set-preferred-network-modal v-if="PromptUserToSelectNetwork"></set-preferred-network-modal>
            </div>
        </div>
        <div class="pure-u-12-24 js-scaffold-block">
            <div class="networkHome__col2">
                <template v-if="!PromptUserToSelectNetwork">
                    <span data-full-height-deduct="true" class="view-block__title--large">All updates</span>
                    <div class="feedBody__wrapper">
                        <feed-component :member-area-id="MemberAreaId" :network-id="NetworkId" :patient-id="PatientId"></feed-component>
                    </div>
                </template>
                <template v-else>
                    <div style="padding:1em" class="">
                        <div style="width:890px;height:124px" v-for="n in 10" :key="n" class="">
                            <vue-content-loading :width="890" :height="124">
                                <circle cx="30" cy="30" r="30"></circle>
                                <rect x="75" y="13" rx="4" ry="4" height="13" width="752"></rect>
                                <rect x="75" y="37" rx="4" ry="4" width="695" height="10"></rect>
                                <rect x="0" rx="4" ry="4" height="10" y="70" width="851"></rect>
                                <rect x="0" rx="4" ry="4" width="882" height="10" y="87"></rect>
                                <rect x="0" rx="4" ry="4" height="10" y="104" width="807"></rect>
                            </vue-content-loading>
                        </div>
                    </div>
                </template>
            </div>
        </div>
        <div class="pure-u-6-24 js-scaffold-block">
            <div class="networkHome__col3">
                <network-directory-list v-if="!PromptUserToSelectNetwork" :max-height="65" :network-id="NetworkId" :widget-type="2" :css-remove="false"></network-directory-list>
                <network-updates-widget v-if="!PromptUserToSelectNetwork" :network-id="NetworkId"></network-updates-widget>
                <template v-if="PromptUserToSelectNetwork">
                    <div style="background: #fff;display:flex;flex-direction:column">
                        <div style="width:'330px;height:75px" v-for="n in 50" :key="n" class="">
                            <vue-content-loading>
                                <circle cx="33" cy="43" r="23"></circle>
                                <rect x="70" y="28" rx="4" ry="4" height="10" width="255"></rect>
                                <rect x="70" y="48" rx="4" ry="4" height="10" width="245"></rect>
                            </vue-content-loading>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</div>
