<template>
	<div data-scroll="true" :class="{'patient-referral':true, 'is-modal': this.isModal, 'js-fullHeight-bodyElement': !this.isModal}">
		<ui-progress-circular color="primary" v-if="IsLoadingPatientData"></ui-progress-circular>

		<template v-if="!IsLoadingPatientData">
			<div class="update-teams-wrapper">
				<ui-select hasSearch label="Select a task type" placeholder="Task types" @input="setTaskType" class="" :disabled="IsLoading || !getTaskTypes.length" :options="getTaskTypes" :value="SelectedTaskType"></ui-select>

				<ui-textbox :maxlength="1000" enforce-maxlength label="Notes (optional)" :multi-line="true" name="notes" class="" :disabled="IsLoading" v-model="Notes"></ui-textbox>

				<ui-select hasSearch label="Select a team" placeholder="Teams" @input="setReceivingTeam" class="" :disabled="IsLoading || !getTaskTeams.length" :options="getTaskTeams" :value="SelectedReceivingTeam"></ui-select>

				<ui-select hasSearch label="Assigned to (optional)" placeholder="Team members" @input="setReceivingTeamMember" class="" :disabled="IsLoading || !getTeamMembers.length" :options="getTeamMembers" :value="SelectedReceivingTeamMember">

					<template scope="props" slot="option">
						<div :class="{'taskItem__assigned-user-ddl-template':true}">

							<div v-if="props.option.avatar" class="assigned-user-ddl-template__avatar">
								<span class="u-relative"><img :alt="props.option.label" class="u-user-avatar--img-small" :src="props.option.avatar" />
									<span :class="getMemberPresenceIndicatorClass(props.option.lastOnline)"></span>
								</span>
							</div>
							<div class="assigned-user-ddl-template__meta">
								<div class="assigned-user-ddl-template__user">
									<span class="u-strong">{{ props.option.label}}
										<span v-if="!props.option.onDuty && !props.option.isRequestingUser">(off duty)</span>
									</span>
									<span v-if="props.option.profession"> - {{ props.option.profession}}</span>
									<span v-if="props.option.grade"> - {{ props.option.grade}}</span>
								</div>
								<div v-if="props.option.lastOnline" class="assigned-user-ddl-template__lastOnline">
									<span class="">Last online:</span> {{ props.option.lastOnline | formatDate}}
								</div>
							</div>
						</div>
					</template>

				</ui-select>

				<ui-switch :disabled="IsLoading" :checked="Urgent" v-model="Urgent">Urgent</ui-switch>

			</div>

			<div class="task-footer">
				<ui-button color="primary" :disabled="IsLoading || !isValidForUpsert" :loading="IsLoading" v-on:click="postTask">Save task</ui-button>
			</div>

		</template>
	</div>
</template>

<script>
/*Mixins*/
import DateFilter from 'VueMixins/dateFilter';
/*Components*/
/* API Endpoints */
import Vault from 'Endpoints/careflowApp/Vault';
import GetPatient from 'Endpoints/patients/GetPatient';
import GetTaskMetaData from 'Endpoints/tasks/TasksMetaData';
import GetUsersProfiles from 'Endpoints/users/GetUsersProfiles';
import UserTasks from 'Endpoints/tasks/UserTasks';

//Utils

export default {
	data() {
		return {
			IsLoading: false,
			Patient: this.patient,
			PatientId: this.patientId,
			IsLoadingPatientData: !this.patient,
			TasksMetaData: null,
			SelectedTaskType: '',
			SelectedReceivingTeam: '',
			ReceivingTeamMembers: [],
			SelectedReceivingTeamMember: '',
			Notes: '',
			Urgent: false
		};
	},
	props: {
		patient: {
			type: [Object, String],
			required: false
		},
		patientId: {
			type: [String, Number],
			required: true
		},
		memberAreaId: {
			type: [String, Number],
			required: false
		},
		networkId: {
			type: [String, Number],
			required: true
		},
		isModal: {
			type: [Boolean],
			required: false,
			default: false
		}
	},
	components: {},
	mixins: [DateFilter],
	filters: {},
	watch: {
		SelectedReceivingTeam() {
			//trigger to get team members
			if (!this.SelectedReceivingTeam || !this.SelectedReceivingTeam.value ) return;
			this.SelectedReceivingTeamMember = '';
			this.getSelectedTeamMembers();
		},
		isValidForUpsert(newVal, OldVal) {
			VueEventBus.$emit("Modal.ValidityUpdate", newVal);
		}
	},
	computed: {
		getTaskTypes() {
			if (!this.TasksMetaData) return [];

			return this.TasksMetaData.Types.map(x => {
				return {
					label: x.Description,
					value: x.Code
				};
			});
		},

		getTaskTeams() {
			if (!this.TasksMetaData) return [];

			return this.TasksMetaData.GroupsAllowingTasks.map(x => {
				return {
					label: x.Name,
					value: x.MemberAreaId,
					accessGroupId: x.AccessGroupId
				};
			});
		},

		getTeamMembers() {
			if (!this.ReceivingTeamMembers) return [];

			let teamMembers = this.ReceivingTeamMembers.map(x => {
				return {
					label: x.FirstName + ' ' + x.LastName || null,
					value: x.ApplicationUserID || null,
					actorId: x.ActorId || null,
					lastOnline: x.LastOnline || null,
					lastName: x.LastName || null,
					onDuty: x.OnDuty || null,
					avatar: x.ProfileImageLink || null,
					profession: x.Profession || null,
					speciality: x.Speciality || null,
					grade: x.Grade || null
				};
			});

			//Sort by last online
			let usersWhoHaveALastOnline = teamMembers.filter((item, index, array) => {
				if (item.lastOnline && item.lastName) return item;
			});

			let usersWhoDoNotHaveALastOnline = teamMembers.filter((item, index, array) => {
				if (!item.lastOnline && item.lastName) return item;
			});

			usersWhoHaveALastOnline = _.sortBy(usersWhoHaveALastOnline, function(o) {
				return o.lastOnline;
			}).reverse();
			usersWhoDoNotHaveALastOnline = _.sortBy(usersWhoDoNotHaveALastOnline, function(o) {
				return o.lastName;
			});

			usersWhoHaveALastOnline.push(usersWhoDoNotHaveALastOnline);
			teamMembers = [].concat.apply([], usersWhoHaveALastOnline); //Flatten arrays (array pushed into array)

			//Add Assign to me option, IF i AM found in the team membership
			let activeUserId = Vault.getItem('GetRequestingUserSummary')['Data']['FullName']['ApplicationUserID'] || null;
			let foundItem = teamMembers.findIndex(x => x.value === activeUserId); //Returns index or -1

			if (foundItem !== -1) {
				//This assumes unique IDs. If IDs are duplicated, it's probably better use forEach:)
				let item = teamMembers.filter(item => {
					return item.value === activeUserId;
				})[0];

				//Remove found index, not needed now that the data has the 'assign to me' option
				teamMembers.splice(foundItem, 1);

				//Add new item to start of collection
				teamMembers.unshift({
					label: 'Assign to me',
					value: item.value,
					actorId: item.actorId || null,
					firstName: item.firstName || '',
					lastName: item.lastName || '',
					avatar: item.avatar,
					profession: item.profession,
					speciality: item.speciality,
					grade: item.grade,
					lastOnline: item.lastOnline,
					onDuty: item.onDuty,
					isRequestingUser: item.isRequestingUser
				});
			}

			//Add Unassigned option
			teamMembers.unshift({
				label: 'Unassigned',
				value: '',
				onDuty: true
			});

			return teamMembers || [];
		},

		isValidForUpsert() {
			if (this.SelectedTaskType && this.SelectedReceivingTeam) return true;
			return false;
		}
	},
	methods: {
		getTaskMetaData() {
			return GetTaskMetaData.callApi(this.networkId)
				.then((response, status, xhr) => {
					this.TasksMetaData = response.Data;
					//Set team (if context) and trigger the team members ddl lookup
					const contextTeamIsInResponseData = this.TasksMetaData.GroupsAllowingTasks.filter(x => x.MemberAreaId === this.memberAreaId);
					if (this.memberAreaId && contextTeamIsInResponseData) {
						this.SelectedReceivingTeam = { label: contextTeamIsInResponseData[0].Name, value: contextTeamIsInResponseData[0].MemberAreaId, accessGroupId: contextTeamIsInResponseData[0].AccessGroupId};
					}
				})
				.fail(error => {});
		},
		setTaskType(val) {
			if (!val) return;
			this.SelectedTaskType = val;
		},
		setReceivingTeam(val) {
			if (!val) return;
			this.SelectedReceivingTeam = val;
		},
		setReceivingTeamMember(val) {
			if (!val) return;
			this.SelectedReceivingTeamMember = val;
		},
		getSelectedTeamMembers() {
			if (!this.SelectedReceivingTeam) return [];
			this.IsLoading = true;
			return GetUsersProfiles.callApi(this.SelectedReceivingTeam.accessGroupId)
				.then((response, status, xhr) => {
					this.ReceivingTeamMembers = response.Data.Passed;
					this.IsLoading = false;
				})
				.fail(error => {
					this.IsLoading = false;
				});
		},
		getMemberPresenceIndicatorClass: function(date) {
			//Helper
			return 'presenceStatus ' + appMain.getPresenceIndicatorClass(date);
		},
		postTask() {
			if (!this.isValidForUpsert) return;
			this.IsLoading = true;
			const obj = {
				AllocatedToAccessGroupID: this.SelectedReceivingTeam.accessGroupId,
				AssignedToActorID: this.SelectedReceivingTeamMember.actorId,
				Notes: this.Notes,
				PatientExternalIdentifier: this.PatientId,
				Type: {
					Code: this.SelectedTaskType.value,
					Description: this.SelectedTaskType.label
				},
				Urgent: this.Urgent
			};
			return UserTasks.callApi(obj)
				.then((response, status, xhr) => {
					this.IsLoading = false;
					this.$emit('task-saved', {});
					VueEventBus.$emit('RaisePatientTask.TaskRaised', {});
					appMain.triggerAppNotification({
						Heading: 'Patient task',
						Text: 'Task raised successfully',
						Icon: 'success'
					});
				})
				.fail(error => {
					this.IsLoading = false;
				});
		}
	},
	created() {
		this.getTaskMetaData();
		if (!this.patient && this.patientId) {
			//No patient set - patient summary tab
			GetPatient.callApi(this.patientId, this.networkId, ['HandoverNotes'])
				.then((response, status, xhr) => {
					this.Patient = response.Data;
					this.GroupListExternalIdentifiers = response.Data.GroupListExternalIdentifiers;
					this.IsLoadingPatientData = false;
				})
				.fail(error => {});
		}
	},
	mounted() {},
	deforeDestroy() {}
};
</script>
<style lang="less">
.ui-textbox__label-text {
	margin: 0 0 0.5em 0;
}
.ui-switch__input-wrapper {
	z-index: 1;
}
</style>


<style scoped lang="less" rel="stylesheet/less" type="text/less">
@import '../../../../less/app-variables.less';
.assigned-user-ddl-template__avatar {
	flex-basis: auto;
	margin-right: 0.5em;
}
.update-teams-wrapper {
	margin: 0 0 3em 0;
}
.task-footer {
	margin: 5em 0 0 0;
	padding: 2em 0 0 0;
}
</style>

<custom>Patient raise a tasl</custom>
