﻿<template>
  <div ref="tasks-wrapper" class="js-scaffold-block">

    <div v-if="ViewType==='myTasks'" data-full-height-deduct-global="true" class="view-title--team-wrapper pure-u-1 js-team-view-title">
      <!--No group home header in MyTasks view-->
      <div class="view-title--team-title">
        <!--<i class="material-icons">done</i>-->
        <template>
          <span :class="{'view-type-btn':true,'active':!Filters.ViewType.TasksIRaised}" v-on:click="Filters.ViewType.TasksIRaised ? filterSelectedAssignedViewType('assigned') : false; ">Tasks assigned to me</span>
        </template> &#124;
        <template>
          <span :class="{'view-type-btn':true,'active':Filters.ViewType.TasksIRaised}" v-on:click="!Filters.ViewType.TasksIRaised ? filterSelectedAssignedViewType('raised') : false;">Tasks I raised</span>
        </template>
        <ui-button color="primary" class="tasks__raiseTask-btn" v-on:click="getRaiseATaskModal()">Raise a task</ui-button>
      </div>
    </div>
    <!--Team tasks view-->
    <div v-else data-full-height-deduct-global="true" class="view-title--team-wrapper js-team-view-title">
      <div class="view-title--team-title">Tasks
      </div>
      <ui-button color="primary" class="tasks__raiseTask-btn" v-on:click="getRaiseATaskModal()">Raise a task</ui-button>
    </div>
    <!--Team tasks view end-->
    <div class="tasks__filters-wrapper" data-full-height-deduct="true">

      <div :class="{'filterBlock':true, 'meta-filters':true, 'urgent-filter': true}">

        <div class="filterBlock__btn-group">
          <button :disabled="IsLoading" :class="{'btn':true, 'first':true, active: Filters.SelectedMetaFilters.indexOf('urgent') !== -1}" v-on:click="setTaskMetaFilter('urgent');filterSelected(null, true);">Urgent</button>
        </div>
      </div>

      <div class="filterBlock">
        <ui-select label="" multiple @input="filterSelected(this,true)" placeholder="Task status" type="basic" class="u-txt-capitalise ui-select--no-border" :disabled="IsLoading" :options="Filters.Statuses" @dropdown-open="setDropdownToMaxWidth" v-model="Filters.SelectedStatuses"></ui-select>
      </div>

      <div class="filterBlock">

        <ui-select label="" multiple placeholder="Task type" type="basic" class="ui-select--no-border" :disabled="IsLoading" :options="getTaskTypesData" @dropdown-open="setDropdownToMaxWidth" v-model="Filters.SelectedTaskTypes"></ui-select>
      </div>

      <div class="filterBlock">

        <ui-select label="" multiple placeholder="Consultant" type="basic" class="ui-select--no-border" :disabled="IsLoading" @select="setConsultantsFilterData" :options="getConsultantsFilterData" :value="getConsultantsSelectedData">
          <template scope="props" slot="option">
            <!--<code>{{ props }}</code>-->
            <span v-if="!props.option.isValidOption" class="task-invalid-icon" v-tooltip.left="props.option.label + ' is not valid for this filter type'">
              <i class="material-icons">priority_high</i>
            </span>
            <div class="ui-select-option__basic">{{props.option.label}}</div>
            <div class="ui-select-option__checkbox">
              <ui-icon v-if="props.selected">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M9.984 17.016l9-9-1.406-1.453-7.594 7.594-3.563-3.563L5.016 12zm9-14.016C20.11 3 21 3.938 21 5.016v13.97C21 20.062 20.11 21 18.984 21H5.014C3.89 21 3 20.064 3 18.986V5.015C3 3.94 3.89 3 5.014 3h13.97z" />
                </svg>
              </ui-icon>
              <ui-icon v-else>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M18.984 3C20.062 3 21 3.938 21 5.016v13.97C21 20.062 20.062 21 18.984 21H5.014C3.938 21 3 20.064 3 18.986V5.015C3 3.94 3.936 3 5.014 3h13.97zm0 2.016H5.014v13.97h13.97V5.015z" />
                </svg>
              </ui-icon>
            </div>
          </template>
        </ui-select>
      </div>

      <div class="filterBlock">

        <ui-select placeholder="Choose a timeframe" type="basic" @input="setTasksTimeFrame" class="ui-select--no-border" :disabled="IsLoading" :options="Filters.TimeFrames" @dropdown-open="setDropdownToMaxWidth" :value="Filters.SelectedTimeFrameLabel"></ui-select>
      </div>
    </div>

    <div class="pure-g">

      <div class="pure-u-14-24">

        <div ref="tasks-list-table" data-scroll="true" class="js-fullHeight-bodyElement u-relative">

          <!--Loaders-->
          <template v-if="IsLoadingTaskData">
            <div v-for="n in 50" :key="n" class="">
              <vue-content-loading :width="890" :height="50">
                <rect x="10" y="13" rx="4" ry="4" height="13" width="820"></rect>
                <rect x="10" y="37" rx="4" ry="4" width="765" height="10"></rect>
              </vue-content-loading>
            </div>
          </template>

          <div v-if="!IsLoadingTaskData" class="u-data-table--default">
            <div v-if="getTasksDataToDisplay.length" class="table__head pure-g">
              <div ref="table-head-urgent-popout" class="pure-u-1-24">
                <i class="material-icons">priority_high</i>
                <ui-popover class="custom-popover" open-on="hover" trigger="table-head-urgent-popout">
                  <div>Tasks with an 'Urgent' status</div>
                </ui-popover>
              </div>
              <div class="pure-u-4-24">Task Type</div>
              <div v-if="!patientId" class="pure-u-9-24">Patient</div>
              <div class="pure-u-7-24">Assigned</div>
              <div v-if="patientId" class="pure-u-6-24">Status</div>
              <div v-on:click="Filters.DataTableSort.SortAsc = !Filters.DataTableSort.SortAsc" :class="{'pure-u-3-24':!patientId,'pure-u-6-24':patientId, active: true, 'u-table-head__sort-col' :true}">
                Raised
                  <i v-if="!Filters.DataTableSort.SortAsc" class="material-icons">arrow_drop_down</i>
                  <i v-if="Filters.DataTableSort.SortAsc" class="material-icons">arrow_drop_up</i>

              </div>
            </div>
            <div class="table__body">

              <TaskRowItem v-for="(row) in getTasksDataToDisplay" :key="row.ContentItemId" :taskItem="row" :patientId="patientId" @task-item-selected="contentId => ActiveTaskContentId = contentId" :active-id="ActiveTaskContentId" :is-loading="IsLoading"></TaskRowItem>

              <div class="u-text-center pure-u-1" v-if="!IsLoadingTaskData">
                <template v-if="Filters.SelectedTimeFrameLabel.label === 'Last 24 hours' || Filters.SelectedTimeFrameLabel.label === 'Last 48 hours' || Filters.SelectedTimeFrameLabel.label === 'Last 7 days'">
                  <p v-if="!Tasks.Data.length">No results</p>
                  <p v-if="Tasks.Data.length">End of filtered results</p>
                  <div>
                    <button :disabled="IsLoading" type="button" v-on:click.stop.prevent="setTasksTimeFrame({'label':'Last 30 days','value':Filters.TimeFrames[3].value })" class="btn--plain">View tasks from the last 30 days</button>
                  </div>
                </template>
                <template v-if="Filters.SelectedTimeFrameLabel.label === 'Last 30 days'">
                  <p v-if="!Tasks.Data.length">No results</p>
                  <p v-if="Tasks.Data.length">End of filtered results</p>
                  <div>
                    <button :disabled="IsLoading" type="button" v-on:click.stop.prevent="setTasksTimeFrame({'label':'View all','value':Filters.TimeFrames[4].value })" class="btn--plain">View tasks older than 30 days</button>
                  </div>
                </template>
                <template v-if="Filters.SelectedTimeFrameLabel.label === 'View all'">
                  <p v-if="!Tasks.Data.length">No results</p>
                  <p v-if="Tasks.Data.length">End of filtered results</p>
                </template>
              </div>

            </div>
          </div>
          <!--End getTasksDataToDisplay -->
        </div>
      </div>
      <div class="pure-u-10-24">
        <!--Loaders-->
        <template v-if="IsLoadingTaskData">
          <div v-for="n in 1" :key="n" class="">
            <vue-content-loading :width="890" :height="500">
              <rect x="10" y="13" rx="4" ry="4" height="85" width="820"></rect>
              <rect x="10" y="115" rx="4" ry="4" width="765" height="28"></rect>
              <rect x="10" y="160" rx="4" ry="4" width="700" height="19"></rect>
              <rect x="10" y="205" rx="4" ry="4" width="745" height="15"></rect>
              <rect x="10" y="240" rx="4" ry="4" width="730" height="15"></rect>
            </vue-content-loading>
          </div>
        </template>

        <div v-if="ActiveTask && !IsLoadingTaskData" data-scroll="true" class="js-fullHeight-bodyElement u-relative task-item-wrapper">
          <task-item :key="ActiveTaskContentId" :task-data="ActiveTask" :task-meta-data="TasksMetaData" :patient-id="ActiveTask.Patient.PatientExternalIdentifier" :network-id="networkId" :member-area-id="memberAreaId" :is-loading="IsLoading" @update-task="updateTask"></task-item>
        </div>

      </div>
    </div>

    <!--modals-->
    <ui-modal :promptBeforeClose="OpenModalIsValidForUpsert" dismissOn="close-button" ref="TasksModal" :size="ComponentKeys.NetworkSearchModal ? 'large' : 'normal'" :title="`Raise a task`" @close="raiseATaskModalClosed('TasksModal')">

      <PatientTaskModal v-if="NetworkSearchPatientSelected.length && !ComponentKeys.NetworkSearchModal" @modal-task-saved="closeModal('TasksModal')" :key="ComponentKeys.TasksModal" :patient="NetworkSearchPatientSelected[0]" :patientId="NetworkSearchPatientSelected[0].PatientExternalIdentifier" :memberAreaId="memberAreaId" :networkId="networkId"></PatientTaskModal>

      <NetworkPatientSearch v-if="ComponentKeys.NetworkSearchModal" :networkId="networkId" :memberAreaId="memberAreaId" :widgetType="2" @network-search-selected-patients="(array, patient) => { (array.length) ? this.NetworkSearchPatientSelected = [patient] : this.NetworkSearchPatientSelected =[]}" :clearSelections="!NetworkSearchPatientSelected.length" :isAddingPatientsToTeamList="false" :allowMultipleSelections="false"></NetworkPatientSearch>

      <div v-show="ComponentKeys.NetworkSearchModal" slot="footer">
        <ui-button color="primary" type="secondary" :disabled="IsLoading" v-on:click="NetworkSearchPatientSelected = []; ComponentKeys.NetworkSearchModal = null; $refs['TasksModal'].close()">Cancel</ui-button>
        <ui-button :disabled="IsLoading || !NetworkSearchPatientSelected.length" :loading="IsLoading" v-on:click="addPatientToTask" color="primary">
          Add patient to task
        </ui-button>
      </div>

    </ui-modal>

  </div>
</template>

<script>
  /* Utils */
  import PubSub from 'Endpoints/careflowApp/PubSub';
  import Vault from 'Endpoints/careflowApp/Vault';
  import GetHandlebarsTemplate from 'Endpoints/careflowApp/GetHandlebarsTemplate';
  import appRouter from 'AppJs/app-router';

  /* API Endpoints */
  import GetUserTask from 'Endpoints/tasks/GetUserTask';
  import GetUserTasks from 'Endpoints/tasks/GetUserTasks';
  import TasksMetaData from 'Endpoints/tasks/TasksMetaData';
  import * as UpdateTask from 'Endpoints/tasks/UpdateUserTask';
  import GetUsersProfiles from 'Endpoints/users/GetUsersProfiles';
  import sort from 'js-flock/es5/sort'; //https://www.npmjs.com/package/js-flock

  /*Components*/
  import TaskRowItem from 'VueComponents/Tasks/components/TaskRowItem';
  import TaskItem from 'VueComponents/Tasks/components/TaskItem';
  import PatientTaskModal from 'VueComponents/modals/PatientTaskModal';
  import NetworkPatientSearch from 'VueComponents/patientSearch/NetworkPatientSearch';
  import { VueContentLoading } from 'vue-content-loading';

  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';

  export default {
  	data() {
  		return {
  			NetworkId: this.networkId || null,
  			MemberAreaId: this.memberAreaId || null,
  			PatientId: this.patientId || null,
  			ViewType: this.getViewType(),

  			SuppliedActiveTaskContentId: this.suppliedActiveTaskContentId || null, //If a task to display is passed (E.g. patient dashboard)
  			Tasks: {
  				Data: [],
  				ThereAreMore: false,
  				Page: 0 //Default
  			},
  			TasksMetaData: [], //Network specific
  			Filters: {
  				Statuses: [
  					{
  						label: 'outstanding',
  						value: 1
  					},
  					{
  						label: 'removed',
  						value: 2
  					},
  					{
  						label: 'completed',
  						value: 3
  					}
  				],
  				TimeFrames: [
  					{
  						label: 'Last 24 hours',
  						value: moment().subtract(1, 'days')
  					},
  					{
  						label: 'Last 48 hours',
  						value: moment().subtract(2, 'days')
  					},
  					{
  						label: 'Last 7 days',
  						value: moment().subtract(7, 'days')
  					},
  					{
  						label: 'Last 30 days',
  						value: moment().subtract(30, 'days')
  					},
  					{
  						label: 'View all',
  						value: null
  					}
  				],
  				SelectedStatuses: [],
  				SelectedConsultants: [],
  				SelectedTaskTypes: [],
  				SelectedMetaFilters: [], //Empty by default
  				SelectedTimeFrame: moment().subtract(30, 'days'), //Default to 30 days
  				SelectedTimeFrameLabel: {
  					//Default
  					label: 'Last 30 days',
  					value: moment().subtract(30, 'days')
  				},
  				DataTableSort: {
  					SortColumns: ['Raised'],
  					SortAsc: false //asc or dec
  				},
  				ViewType: {
  					TasksIRaised: false
  				}
  			},
  			ActiveTask: null,
  			ActiveTaskContentId: null,
  			TaskItemIsLoading: false,
  			ActiveTaskIsUpdating: false, //Child component updating flag
  			IsLoading: false, //Default
  			IsLoadingTaskData: true, //Default
  			IsFirstLoad: true, //Default
  			OpenModalIsValidForUpsert: false, //default
  			ComponentKeys: {
  				NetworkSearchModal: null,
  				TasksModal: null
  			},
  			NetworkSearchPatientSelected: []
  		};
  	},
  	components: {
  		TaskItem,
  		VueContentLoading,
  		NetworkPatientSearch,
  		PatientTaskModal,
  		TaskRowItem
  	},
  	mixins: [DateFilter],
  	props: {
  		patientId: {
  			type: [String, Number],
  			required: false
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false
  		},
  		networkId: {
  			type: [String, Number],
  			required: true
  		},
  		suppliedActiveTaskContentId: {
  			type: [String, Number],
  			required: false,
  			default: null
  		}
  	},
  	watch: {
  		ActiveTaskContentId: function(newVal, oldVal) {
  			if (newVal)
  				return (this.ActiveTask =
  					this.getTasksDataToDisplay.find(x => x.ContentItemId === newVal) ||
  					null);
  			return (this.ActiveTask = null);
  		},
  		getTasksDataToDisplay(newVal, oldVal) {
  			//Computed data

  			if (!newVal || !newVal.length) {
  				return (this.ActiveTaskContentId = null);
  			}

  			//Preload top task on initial load of view
  			if (this.IsFirstLoad && newVal && newVal.length) {
  				if (this.SuppliedActiveTaskContentId) {
  					//Activate passed item ID
  					this.ActiveTaskContentId = this.SuppliedActiveTaskContentId;
  					this.IsFirstLoad = false;
  				} else {
  					this.ActiveTaskContentId = newVal[0].ContentItemId; //Take first item Will trigger watcher
  					this.IsFirstLoad = false;
  				}
  			} else {
  				//Not initial load
  				if (newVal && newVal.length) {
  					let foundIndex = newVal.findIndex(
  						x => x.ContentItemId == this.ActiveTaskContentId
  					); //This assumes unique IDs. If IDs are duplicated, it's probably better if you use forEach

  					if (foundIndex === -1)
  						return (this.ActiveTaskContentId = newVal[0].ContentItemId); //Will trigger watcher. ONLY if the edited task is not in new filter load the top task
  				} else {
  					//No data, clear task
  					//this.ActiveTaskContentId = null;
  					this.ActiveTaskContentId = null;
  				}
  			}
  		},

  		getConsultantsFilterData(newVal, oldVal) {
  			//Check for invalid options on computed mutation (if viewType etc. has changed filters may no longer be applicable)

  			if (this.Filters.SelectedConsultants.length) {
  				//There are active consultants, are they valid?

  				this.Filters.SelectedConsultants.forEach(a => {
  					var foundIndex = newVal.findIndex(x => x.value === a.value); //This assumes unique IDs. If IDs are duplicated, it's probably better if you use forEach
  					if (foundIndex === -1) {
  						//Not found, so invalid clinician option
  						newVal.push({
  							label: a.label,
  							value: a.value,
  							isValidOption: false
  						});
  					}
  				});
  			}
  		}
  	},

  	methods: {
  		getViewType() {
  			return new Promise((resolve, reject) => {
  				let viewType; //memberAreaId, networkId, patientId. Check against props
  				if (this.networkId && !this.memberAreaId && !this.patientId) {
  					viewType = 'myTasks';
  				}
  				if (this.memberAreaId && !this.patientId) {
  					viewType = 'teamTasks';
  				}
  				if (this.patientId) {
  					viewType = 'patientTasks';
  				}

  				if (viewType) {
  					this.ViewType = viewType;
  					resolve(viewType);
  				} else {
  					reject();
  				}
  			});
  		},

  		getTasksData() {
  			return new Promise((resolve, reject) => {
  				this.IsLoadingTaskData = true;
  				let that = this;
  				this.Tasks.Page = 0; //Reset
  				if (this.Tasks.Data.length) this.Tasks.Data = []; //Vue will not observe a length set
  				this.Tasks.ThereAreMore = false;
  				this.ActiveTaskContentId = null;
  				this.ActiveTask = null;

  				let stagingData = []; //For skip/take data. Only push to observed on complete, so watchers are not triggered each skip

  				let callApi = () => {
  					//https://stackoverflow.com/questions/27977525/how-do-i-write-a-named-arrow-function-in-es2015
  					let params = that.getParams(); //Get the model
  					if (!params) return console.error('No task model params set');

  					GetUserTasks.callApi(params)
  						.then(response => {
  							stagingData.push.apply(stagingData, response.Data); //Push array into array
  							//this.Tasks.Data.push.apply(that.Tasks.Data, response.Data);
  							this.Tasks.ThereAreMore =
  								response.Metadata.Pagination.ThereAreMore;

  							if (response.Metadata.Pagination.ThereAreMore) {
  								this.Tasks.Page += 1;
  								return callApi();
  							}

  							this.Tasks.Data.push.apply(this.Tasks.Data, stagingData); //Merge the staging data
  							stagingData = [];
  							this.IsLoadingTaskData = false;
  							return resolve();
  						})
  						.fail(() => {
  							//appMain.triggerAppNotification({
  							//    Text: "There was a problem processing the request. Please try again",
  							//    Icon: "error"
  							//});
  							//appRouter.careflowAppRouter.refresh(); //Reload route
  							this.IsLoadingTaskData = false;
  							reject();
  						});
  				};

  				callApi(); //Init
  			});
  		},

  		getTasksMetaData() {
  			return TasksMetaData.callApi(this.networkId)
  				.then((response, textStatus, jqXHr) => {
  					if (/^2/.test(jqXHr.status)) {
  						this.TasksMetaData = response.Data;
  					}
  				})
  				.fail(function() {
  					this.TasksMetaData = [];
  				});
  		},

  		getParams() {
  			//get request params depending on model setup
  			return {
  				//"Accepted": true,
  				AllocatedToAccessGroupIds:
  					this.memberAreaId && !this.patientId
  						? [appMain.getAccessGroupId(this.memberAreaId)]
  						: [],
  				Date: {
  					After: this.Filters.SelectedTimeFrame,
  					Before: null
  					//"SortDirection": "string",
  					//"Type": "string"
  				},
  				ItemsPerPage: 50,
  				NetworkId: this.NetworkId,
  				OnlyTasksAssignedToMe:
  					this.ViewType === 'myTasks' && !this.Filters.ViewType.TasksIRaised
  						? true
  						: false,
  				OnlyTasksCreatedByMe:
  					this.ViewType === 'myTasks' && this.Filters.ViewType.TasksIRaised,
  				Page: this.Tasks.Page,
  				PatientExternalIdentifiers: this.patientId ? [this.patientId] : [],
  				StatusIds:
  					this.Filters.SelectedStatuses.map((item, index, array) => {
  						return item.value;
  					}) || [],
  				Urgent:
  					this.Filters.SelectedMetaFilters.indexOf('urgent') !== -1
  						? true
  						: null
  				//"Assigned": true
  			};
  		},

  		filterSelected(el, doNotResetFilters) {
  			//A change to the list filters, calling for a hard resresh (clinical safety). UI components pass selected 'el' data as array (label, val)

  			if (!doNotResetFilters) {
  				//clear filters for clinician and type (the filters handled client side), others post data
  				this.Filters.SelectedConsultants = [];
  				this.Filters.SelectedTaskTypes = [];
  			}
  			if (!this.IsLoadingTaskData) return this.getTasksData(); //Need to call API... this.getTasksData(); //Need to call API...until websockets for clinical safety, pull data
  			return;
  		},

  		filterSelectedAssignedViewType(type) {
  			//Tasks I raised, Assigned to me 'raised, assigned'
  			if (!type) return;

  			if (type === 'assigned') {
  				this.Filters.ViewType.TasksIRaised = false;
  				this.getTasksData(); //Need to call API...until websockets for clinical safety, pull data
  			}

  			if (type === 'raised') {
  				this.Filters.ViewType.TasksIRaised = true;
  				this.getTasksData(); //Need to call API...until websockets for clinical safety, pull data
  			}
  		},

  		setTaskMetaFilter(value) {
  			/*Used by button filters (eg Urgent)*/

  			if (!value) return;

  			const index = this.Filters.SelectedMetaFilters.indexOf(value);

  			if (index !== -1) {
  				return this.Filters.SelectedMetaFilters.splice(index, 1);
  			}

  			return this.Filters.SelectedMetaFilters.push(value);
  		},

  		setTasksTimeFrame(val, justSetValues) {
  			if (!val) return;

  			val = JSON.parse(JSON.stringify(val));

  			this.Filters.SelectedTimeFrame = val.value;

  			//Set the model
  			this.Filters.SelectedTimeFrameLabel.value = val.value;

  			this.Filters.SelectedTimeFrameLabel.label = val.label;

  			if (!justSetValues) {
  				this.IsFirstLoad = true; //Fresh reload, ensure first task will be selected
  				if (!this.IsLoadingTaskData) return this.getTasksData(); //Need to call API...
  			}
  			return;
  		},

  		setConsultantsFilterData(option, obj) {
  			//Triggerd by selecting a consultant in the DDL

  			if (!option || !option.isValidOption) return;

  			var foundIndex = this.Filters.SelectedConsultants.findIndex(
  				x => x.value === option.value
  			);

  			if (foundIndex === -1 && option.isValidOption) {
  				return this.Filters.SelectedConsultants.push(option);
  			} else {
  				return this.Filters.SelectedConsultants.splice(foundIndex, 1); //https://vuejs.org/2016/02/06/common-gotchas/
  			}
  		},

  		setDropdownToMaxWidth() {},

  		updateTask(
  			contentItemId,
  			patientId,
  			assignedToActorId,
  			allocatedToAccessGroupId,
  			comment = '',
  			statusId,
  			removalReasonId,
  			urgent,
  			accepted
  		) {
  			this.IsLoading = true;

  			let task = this.getTasksDataToDisplay.find(
  				x =>
  					x.ContentItemId === contentItemId &&
  					x.Patient.PatientExternalIdentifier === patientId
  			);

  			//Always pass group and assigned actor IDs, get ariound the api issue - it does not return them (actorId)!

  			if (typeof urgent === 'undefined') urgent = task.Urgent;
  			if (!statusId) statusId = task.Status.StatusId;
  			if (!accepted) accepted = task.Accepted;

  			//contentItemId, accepted, allocatedToAccessGroupId, assignedToActorId, comment, statusId, urgent, removalReasonId
  			UpdateTask.updateTask(
  				contentItemId,
  				accepted,
  				allocatedToAccessGroupId,
  				assignedToActorId,
  				comment,
  				statusId,
  				urgent,
  				removalReasonId
  			)
  				.then(() => {
  					//Due to the way the API is configured, it is necessary to reload the Task, updating model only will not suffice. History tokens need loading etc.
  					this.reloadTask(contentItemId)
  						.then(x => {
  							this.IsLoading = false;
  						})
  						.fail(x => {
  							this.IsLoading = false;
  						});
  				})
  				.fail(() => {
  					this.IsLoading = false;
  				});
  		},

  		reloadTask(contentItemId) {
  			//Due to the way the API is configured, it is necessary to reload the Task, updating model only will not suffice. History tokens need loading etc.

  			if (!contentItemId) return;
  			return GetUserTask.callApi(contentItemId)
  				.then((response, textStatus, jqXHr) => {
  					if (/^2/.test(jqXHr.status)) {
  						//Find the item to replace
  						let itemIndex = this.Tasks.Data.findIndex(
  							x => x.ContentItemId === contentItemId
  						);
  						if (itemIndex !== -1)
  							this.Tasks.Data.splice(itemIndex, 1, response.Data);
  						if (this.ActiveTaskContentId == contentItemId)
  							this.ActiveTask = response.Data; //Update active task, flow down to child
  					}
  				})
  				.fail(() => {});
  		},

  		getRaiseATaskModal() {
  			this.ComponentKeys.NetworkSearchModal = Date.now();
  			this.$refs['TasksModal'].open();
  		},
  		addPatientToTask() {
  			this.ComponentKeys.NetworkSearchModal = null; //kill modal component
  		},

  		raiseATaskModalClosed(ref) {
  			this.ComponentKeys.NetworkSearchModal = null; //kill modal component
  			this.ComponentKeys.TasksModal = null; //kill modal component
  		},
  		closeModal(ref) {
  			this.$refs[ref].close();
  		}
  	},
  	computed: {
  		//Difference between computed property and method is that computed properties are cached and change only when their dependencies change - that's why you can't pass parameters there. Methods are evaluated every time you call them.

  		getTasksDataToDisplay() {
  			if (!this.Tasks.Data || !this.Tasks.Data.length || !this.ViewType)
  				return [];

  			let cliniciansFlattened = this.Filters.SelectedConsultants.map(x => {
  				return x.value;
  			}).filter(Boolean);

  			//Filters set

  			let filteredData = this.Tasks.Data.filter(x => {
  				let types = this.Filters.SelectedTaskTypes.length
  					? x.Type &&
  					  this.Filters.SelectedTaskTypes.includes(x.Type.Description)
  					: true;

  				let clinician = cliniciansFlattened.length
  					? x.Patient.Clinician &&
  					  cliniciansFlattened.includes(x.Patient.Clinician.FullName)
  					: true;

  				//Filters are OR then AND
  				if (types && clinician) return x;

  				return null;
  			}).filter(Boolean);

  			// //Sorts
  			if (this.Filters.DataTableSort.SortAsc) {
  				sort(filteredData).asc(['CreatedDate']);
  			} else {
  				sort(filteredData).desc(['CreatedDate']);
  			}

  			return filteredData || [];
  		},

  		getConsultantsFilterData() {
  			if (!this.Tasks.Data || !this.Tasks.Data.length) return [];

  			let cliniciansArray = [];

  			cliniciansArray = this.Tasks.Data.map((item, index, items) => {
  				//https://hackernoon.com/understanding-map-filter-and-reduce-in-javascript-5df1c7eee464
  				if (
  					item.Patient &&
  					item.Patient.Clinician &&
  					item.Patient.Clinician.FullName
  				) {
  					return {
  						label: item.Patient.Clinician.FullName,
  						value: item.Patient.Clinician.FullName,
  						lastName: item.Patient.Clinician.LastName,
  						isValidOption: true
  					};
  				}
  				return '';
  			});

  			let unique = cliniciansArray.filter((obj, pos, arr) => {
  				//Get unique obj
  				return arr.map(mapObj => mapObj['value']).indexOf(obj['value']) === pos;
  			});

  			unique = unique.filter(Boolean); //remove nulls

  			//var result = [...new Set(cliniciansArray)];//https://davidwalsh.name/array-unique
  			console.log(unique);
  			// return _.compact(unique); //Returns a copy of the array with all falsy values removed

  			return _.sortBy(unique, obj => obj.lastName);
  		},

  		getConsultantsSelectedData() {
  			//Computed to populate and update consultants filter ddl value for SELECTED value(s)

  			if (!this.Filters.SelectedConsultants.length) return [];

  			//let selectedClinicians =  this.Filters.SelectedConsultants.map((item, index, array) => {
  			//     if (item.isValidOption) return item.label;
  			// });

  			return this.Filters.SelectedConsultants;
  		},

  		getTaskTypesData() {
  			if (!this.Tasks.Data || !this.Tasks.Data.length) return [];

  			let taskTypesArray = this.Tasks.Data.map((item, index, items) => {
  				//https://hackernoon.com/understanding-map-filter-and-reduce-in-javascript-5df1c7eee464
  				if (item.Type && item.Type.Description) return item.Type.Description;
  				return '';
  			});

  			var result = [...new Set(taskTypesArray)].filter(Boolean); //https://davidwalsh.name/array-unique

  			return result;
  		}
  	},
  	created() {
  		VueEventBus.$on('Modal.ValidityUpdate', val => {
  			this.OpenModalIsValidForUpsert = val;
  		});
  	},
  	mounted() {
  		//Setup view scroll height for patient context view ONLY - TODO:investigate restructure of dashboard view to remove this
  		if (this.patientId) {
  			let tasksTable = this.$refs['tasks-list-table']; //Dom el
  			let $tasksTable = $(tasksTable);
  			$tasksTable.attr(
  				'data-full-height-deduct-exclude',
  				'js-teamPatientView-head-section'
  			);
  			appMain.setElementsAsFullHeight();
  		}

  		/*Events*/

  		VueEventBus.$on('RaisePatientTask.TaskRaised', obj => {
  			this.IsLoading = true;
  			this.ActiveTaskContentId = null;
  			this.ActiveTask = null; //TODO: clear task method()
  			//Due to the API setup, lets reload the tasks data, obj does not contain history, status etc. Also, add a delay to cater for API / Raven / SQL DB latency in adding new task
  			this.IsFirstLoad = true;
  			setTimeout(() => {
  				if (this.$refs['TasksModal']) this.$refs['TasksModal'].close();
  				this.getTasksData()
  					.then(response => {
  						this.IsLoading = false;
  					})
  					.catch(error => {
  						this.IsLoading = false;
  					});
  			}, 1500);
  		});

  		this.getViewType()
  			.then(response => {
  				this.getTasksMetaData()
  					.then(response => {
  						if (this.suppliedActiveTaskContentId)
  							this.setTasksTimeFrame(
  								{ label: 'View all', value: this.Filters.TimeFrames[4].value },
  								true
  							); //As a value has been passed, load all tasks to be sure to catch it

  						this.getTasksData(); //Initial setup
  					})
  					.catch(error => {
  						//TODO local error handling
  					});
  			})
  			.catch(error => {
  				//TODO local error handling
  			});
  	},
  	beforeDestroy() {
  		VueEventBus.$off('RaisePatientTask.TaskRaised');
  		VueEventBus.$off('Modal.ValidityUpdate');
  	},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	}
  };
</script>

<style lang="less" scoped>
  .view-title--team-title {
  	display: flex;
  	flex-grow: 1;
  }
  .view-title--team-wrapper {
  	display: flex;
  }
  .task-item-wrapper {
  	overflow-y: hidden;
  }
  .urgent-filter.filterBlock {
  	width: auto;
  	min-width: auto;
  }
</style>


<custom>
    Tasks component
</custom>
