﻿<template>
  <div class="task-item-wrapper u-elevation-2">

    <patient-banner v-if="taskData.Patient" :networkId="networkId" :content-id="taskData.ContentItemId" :patient-id="taskData.Patient.PatientExternalIdentifier" :patient="taskData.Patient" :member-area-id="MemberAreaId"></patient-banner>

    <div class="item-wrapper">

      <div class="item-title">{{taskData.Type.Description}}</div>

      <div class="item-notes">{{taskData.Notes}}</div>

      <!--author-->
      <div class="author-wrapper">
        Raised by {{taskData.CreatedBy.User.FirstName}} {{taskData.CreatedBy.User.LastName}} - {{taskData.CreatedDate | formatDate}}
        <!-- <Avatar :userId="Task.StagingTaskData.CreatedBy.User.ApplicationUserID" :userName="`${Task.StagingTaskData.CreatedBy.User.FirstName} ${Task.StagingTaskData.CreatedBy.User.LastName}`" :src="item.ImageUrlOfContentItemCreatedBy"></Avatar><span class="item-author" v-html="getItemAuthorLabel"></span><span v-if="!isNetworkMemberAreaId" v-html="getAuthorLocation" class="author-location"></span> -->
      </div>

      <div class="item-body">

        <div class="body-1">
          <!--team-->
          <ui-select placeholder="Select a team" :options="getTeamsAllowingTasks" @input="setReceivingTeam" :disabled="IsLoading" class="ui-select-bg-shade" :value="SelectedReceivingTeam">
            <template scope="props" slot="option">
              <div :class="{'taskItem__assigned-user-ddl-template':true, 'is-selected': props.option.value === taskData.AllocatedToGroup.AccessGroupID }">{{ props.option.label}}</div>
            </template>
          </ui-select>

          <!--user-->
          <ui-select has-search placeholder="Select a user" :options="getUsersTaskCanBeAssignedTo" :disabled="IsLoading" class="ui-select-bg-shade last" @input="setTaskAssignedUser" :value="SelectedReceivingTeamMember">
            <template scope="props" slot="option">
              <div :class="{'taskItem__assigned-user-ddl-template':true, 'is-selected':taskData.AssignedToUser && props.option.value === taskData.AssignedToUser.ApplicationUserID}">

                <div v-if="props.option.avatar" class="assigned-user-ddl-template__avatar">
                  <span class="u-relative"><img :alt="props.option.label" class="u-user-avatar--img-small" :src="props.option.avatar" />
                    <span :class="getMemberPresenceIndicatorClass(props.option.lastOnline)"></span>
                  </span>
                </div>
                <div class="assigned-user-ddl-template__meta">
                  <div class="assigned-user-ddl-template__user">
                    <span class="u-strong"> <span v-if="props.option.isRequestingUser">Assign to me</span><span v-else>{{ props.option.label}}</span>
                      <span v-if="!props.option.onDuty && !props.option.isRequestingUser">(off duty)</span>
                    </span>
                    <span v-if="props.option.isAssignedUser && props.option.taskAcceptanceLabel">({{ props.option.taskAcceptanceLabel }})</span>
                    <span v-if="props.option.profession"> - {{ props.option.profession}}</span>
                    <span v-if="props.option.grade"> - {{ props.option.grade}}</span>
                  </div>
                  <div v-if="props.option.lastOnline" class="assigned-user-ddl-template__lastOnline">
                    <span class="">Last online:</span> {{ props.option.lastOnline | formatDate}}
                  </div>
                </div>
              </div>
            </template>
          </ui-select>
          <div v-if="taskIsEdited" class="actions-save-wrapper">
            <ui-button color="primary" :loading="IsLoading" v-on:click="userUpdateTaskAssignedMeta">Save</ui-button>
          </div>

          <div v-if="taskData.UserCanAccept && !taskData.Accepted && !taskIsEdited" class="actions-save-wrapper">
            <ui-button color="primary" :loading="IsLoading" :disabled="IsLoading" v-on:click="userAcceptTask">Accept</ui-button>
          </div>

        </div>
        <div class="body-2">

          <div class="accepted-label" v-if="taskData.UserCanAccept && taskData.Accepted && !taskIsEdited">
            <img src="/Content/img/global/svg/task-accepted.svg" title="Task accepted" alt="Task accepted" /> Accepted</div>

          <div class="urgency-toggle">
            <ui-switch switchPosition="right" :disabled="IsLoading" @input="setTaskUrgency" :value="taskData.Urgent">
              <i v-if="taskData.Urgent" class="material-icons urgent">error</i> Urgent</ui-switch>
          </div>

        </div>

      </div>

      <div class="item-actions">

        <div class="actions-1">
          <ui-button v-if="taskData.Status.StatusId === 1" color="primary" type="secondary" :loading="IsLoading" v-on:click="userCompleteTask">Complete task</ui-button>
          <ui-button v-if="taskData.Status.StatusId !==1" color="primary" type="secondary" :disabled="IsLoading" :loading="IsLoading" v-on:click="userOpenTask">Re-open</ui-button>

        </div>

        <div class="actions-2">

          <ui-button ref="remove-task-form-btn" type="secondary" :disabled="IsLoading" has-dropdown>
            <div slot="dropdown" class="taskItem__remove-wrapper custom-popover">
              <div class="formRow">
                <ui-select label="" placeholder="Select a reason" class="" :disabled="IsLoading" :options="getTaskRemovalReasons" v-model="SelectedRemovalReason"></ui-select>

              </div>
              <div class="formRow">
                <div class="formRow--footer-actions">
                  <ui-button color="primary" :disabled="IsLoading || !SelectedRemovalReason" :loading="IsLoading" v-on:click.stop.prevent="userRemoveTask">Remove</ui-button>
                </div>
              </div>
            </div>
            Remove task
          </ui-button>

        </div>
      </div>

      <div class="item-comments">
        <div class="comments-title">Comments and task history <div v-show="!ViewAllHistoryItems && TaskHistory.length > 3" v-on:click="ViewAllHistoryItems = !ViewAllHistoryItems" class="see-all-history-btn">Show earlier</div>
        </div>

        <div class="comment-items-wrapper">

          <ui-progress-circular color="primary" v-if="TaskItemHistoryIsLoading"></ui-progress-circular>
          <template v-else>

            <div v-for="(comment) in getTaskHistoryItemsToDisplay" :key="comment.Date" class="comment-item">

              <div v-if="comment.Comment" class="comment-comment-item">
                <div v-if="comment.Content.toLowerCase().includes('status changed to removed')" class="">{{comment.Content}}</div>
                <div class="comment-text">{{comment.Comment}}</div>
                <div v-for="(item,index) in comment.Resources" :key="item.ResourceId">
                  <!---Need last Resource item for Comment-->
                  <div v-if="index == comment.Resources.length -1" class="author-wrapper ">
                    <!-- <Avatar :userId="item.Value" :userName="`${comment.CommentCreatedBy.FirstName} ${comment.CommentCreatedBy.LastName}`" :src="comment.ImageUrlOfCommenter"></Avatar> -->
                    <span class="">{{item.Value}} {{comment.Date | formatDate}}</span>
                  </div>

                </div>
              </div>

              <div v-else class="comment-audit-item">
                <!--Audit item-->
                <div v-if="comment.Content" class="">{{comment.Content}} {{comment.Date | formatDate}}</div>
              </div>

            </div>
          </template>
        </div>

      </div>

      <!--add comment-->
      <div class="item-add-comment">
        <ui-textbox placeholder="Add a comment" :rows="1" :multi-line="true" class="" :disabled="IsLoading" ref="taskItem-comment-textarea" v-model="TaskComment"></ui-textbox>
        <ui-button color="primary" :disabled="IsLoading" :loading="IsLoading" v-if="TaskComment.length" v-on:click="submitTaskComment">Add comment</ui-button>
        <ui-button type="secondary" :disabled="IsLoading" :loading="IsLoading" v-if="TaskComment.length" v-on:click="TaskComment = ''">Cancel</ui-button>
      </div>

    </div>
  </div>

</template>

<script>
  /* Utils */
  import PubSub from 'Endpoints/careflowApp/PubSub';
  import Vault from 'Endpoints/careflowApp/Vault';
  import GetHandlebarsTemplate from 'Endpoints/careflowApp/GetHandlebarsTemplate';

  /* API Endpoints */
  import GetUserTask from 'Endpoints/tasks/GetUserTask';
  import GetUserTasks from 'Endpoints/tasks/GetUserTasks';
  import TasksMetaData from 'Endpoints/tasks/TasksMetaData';
  import UpdateUserTask from 'Endpoints/tasks/UpdateUserTask';
  import GetUsersProfiles from 'Endpoints/users/GetUsersProfiles';

  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';

  /*Components*/
  import PatientBanner from 'VueComponents/patientBanners/FeedItem__PatientBanner';
  import Avatar from 'VueComponents/utils/users/UserAvatar.vue';

  export default {
  	data() {
  		//https://forum.vuejs.org/t/data-properties-based-on-props-are-not-re-evaluated-when-props-change/21085/2
  		return {
  			//Set at runtime, changes to the parent prop will not apply here unless manually updated (see taskData watcher hook)

  			NetworkId: this.networkId,
  			MemberAreaId: this.memberAreaId,
  			PatientId: this.patientId,
  			ViewType: this.viewType,
  			IsLoading: this.isLoading,
  			IsLoadingItemData: true,
  			SelectedReceivingTeam: '',
  			ReceivingTeamMembers: [],
  			SelectedReceivingTeamMember: '',
  			TaskComment: '',
  			SelectedRemovalReason: '',
  			ViewAllHistoryItems: false,
  			TaskHistory: [],
  			TaskMetaData: this.taskMetaData,
  			TaskItemHistoryIsLoading: false
  		};
  	},
  	components: { PatientBanner },
  	mixins: [DateFilter],
  	props: {
  		taskData: {
  			type: [Object],
  			required: true
  		},
  		taskMetaData: {
  			type: [Object],
  			required: true
  		},
  		patientId: {
  			type: [String, Number],
  			required: false
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false
  		},
  		networkId: {
  			type: [String, Number],
  			required: true
  		},
  		isLoading: {
  			type: [Boolean],
  			required: false,
  			default: false
  		}
  	},

  	watch: {
  		isLoading(newVal, oldVal) {
  			this.IsLoading = newVal;
  		},

  		SelectedReceivingTeam(newVal, oldVal) {
  			//trigger to get team members
  			if (!this.SelectedReceivingTeam || !this.SelectedReceivingTeam.value)
  				return;
  			this.SelectedReceivingTeamMember = '';
  			this.getSelectedTeamMembers();
  		},

  		taskData: {
  			//component prop data watcher - check when it changes, update the model here
  			handler(newVal, oldVal) {
  				if (newVal) this.getTaskItemHistory(newVal.ContentItemId);

  				//Set UI defaults
  				if (newVal && newVal.AllocatedToGroup && this.getTeamsAllowingTasks)
  					this.SelectedReceivingTeam =
  						this.getTeamsAllowingTasks.find(
  							x => x.accessGroupId === newVal.AllocatedToGroup.AccessGroupID
  						) || '';
  				this.TaskComment = '';
  			},
  			immediate: true, //Fire on init
  			deep: true //https://stackoverflow.com/questions/42133894/vue-js-how-to-properly-watch-for-nested-properties
  		},
  		getTeamsAllowingTasks(newVal, oldVal) {
  			if (newVal.length) this.getSelectedTeamMembers();
  		}
  	},
  	methods: {
  		getTaskItemHistory(id) {
  			if (!id) return;

  			this.TaskItemHistoryIsLoading = true;
  			return GetUserTask.callApi(id)
  				.then((response, textStatus, jqXHr) => {
  					if (/^2/.test(jqXHr.status)) {
  						//Parse tokens with resources
  						response.Data.History.forEach(function(item) {
  							item.Resources.forEach(function(resource) {
  								item.Content = item.Content.replace(
  									resource.Token,
  									resource.Value
  								);
  							});
  						});
  						//Pass parsed data
  						this.TaskHistory = response.Data.History;
  						this.TaskItemHistoryIsLoading = false;
  					}
  				})
  				.fail(() => {
  					this.TaskItemHistoryIsLoading = false;
  				});
  		},

  		setTaskUrgency(val) {
  			//Update urgency

  			if (val === this.taskData.Urgent) return;

  			const assignedToActorId = this.taskData.AssignedToUser
  				? this.getUsersTaskCanBeAssignedTo.find(
  						x =>
  							x.applicationUserId ===
  							this.taskData.AssignedToUser.ApplicationUserID
  				  ).actorId
  				: null;
  			const allocatedToAccessGroupId = this.taskData.AllocatedToGroup
  				? this.taskData.AllocatedToGroup.AccessGroupID
  				: null;

  			this.$emit(
  				'update-task',
  				this.taskData.ContentItemId,
  				this.patientId,
  				assignedToActorId,
  				allocatedToAccessGroupId,
  				null,
  				this.taskData.Status.StatusId,
  				'',
  				val,
  				this.taskData.Accepted
  			);
  		},

  		userAcceptTask() {
  			//Accept Task

  			if (this.taskData.Accepted) return;

  			const assignedToActorId = this.taskData.AssignedToUser
  				? this.getUsersTaskCanBeAssignedTo.find(
  						x =>
  							x.applicationUserId ===
  							this.taskData.AssignedToUser.ApplicationUserID
  				  ).actorId
  				: null;
  			const allocatedToAccessGroupId = this.taskData.AllocatedToGroup
  				? this.taskData.AllocatedToGroup.AccessGroupID
  				: null;

  			this.$emit(
  				'update-task',
  				this.taskData.ContentItemId,
  				this.patientId,
  				assignedToActorId,
  				allocatedToAccessGroupId,
  				null,
  				this.taskData.Status.StatusId,
  				'',
  				this.taskData.Urgent,
  				true
  			);
  		},

  		userCompleteTask() {
  			//Complete Task

  			const statusToSet = this.taskMetaData.Statuses.find(
  				item => item.Name.toLowerCase() === 'completed'
  			).StatusId;
  			const assignedToActorId = this.taskData.AssignedToUser
  				? this.getUsersTaskCanBeAssignedTo.find(
  						x =>
  							x.applicationUserId ===
  							this.taskData.AssignedToUser.ApplicationUserID
  				  ).actorId
  				: null;
  			const allocatedToAccessGroupId = this.taskData.AllocatedToGroup
  				? this.taskData.AllocatedToGroup.AccessGroupID
  				: null;

  			this.$emit(
  				'update-task',
  				this.taskData.ContentItemId,
  				this.patientId,
  				assignedToActorId,
  				allocatedToAccessGroupId,
  				null,
  				statusToSet,
  				'',
  				this.taskData.Urgent,
  				this.taskData.Accepted
  			);
  		},

  		userOpenTask() {
  			//Re-open a Task
  			const statusToSet = this.taskMetaData.Statuses.find(
  				item => item.Name.toLowerCase() === 'outstanding'
  			).StatusId;
  			const assignedToActorId = null; //Unassign when re-opening a task
  			const allocatedToAccessGroupId = this.taskData.AllocatedToGroup
  				? this.taskData.AllocatedToGroup.AccessGroupID
  				: null;

  			this.$emit(
  				'update-task',
  				this.taskData.ContentItemId,
  				this.patientId,
  				assignedToActorId,
  				allocatedToAccessGroupId,
  				null,
  				statusToSet,
  				'',
  				this.taskData.Urgent,
  				this.taskData.Accepted
  			);
  		},

  		userRemoveTask() {
  			if (!this.SelectedRemovalReason || !this.SelectedRemovalReason.value)
  				return;
  			//Remove task

  			const statusToSet = this.taskMetaData.Statuses.find(
  				item => item.Name.toLowerCase() === 'removed'
  			).StatusId;
  			const assignedToActorId = this.taskData.AssignedToUser
  				? this.getUsersTaskCanBeAssignedTo.find(
  						x =>
  							x.applicationUserId ===
  							this.taskData.AssignedToUser.ApplicationUserID
  				  ).actorId
  				: null;
  			const allocatedToAccessGroupId = this.taskData.AllocatedToGroup
  				? this.taskData.AllocatedToGroup.AccessGroupID
  				: null;

  			//contentItemId, patientId, assignedToActorId, allocatedToAccessGroupId, comment = '', statusId, removalReasonId, urgent, accepted
  			this.$emit(
  				'update-task',
  				this.taskData.ContentItemId,
  				this.patientId,
  				assignedToActorId,
  				allocatedToAccessGroupId,
  				null,
  				statusToSet,
  				this.SelectedRemovalReason.value,
  				this.taskData.Urgent,
  				this.taskData.Accepted
  			);
  		},

  		userUpdateTaskAssignedMeta() {
  			//  this.IsLoading = true;

  			const allocatedToAccessGroupId = this.SelectedReceivingTeam.accessGroupId;
  			const assignedToActorId = this.SelectedReceivingTeamMember.actorId;

  			//contentItemId, patientId, assignedToActorId, allocatedToAccessGroupId, comment = '', statusId, removalReasonId, urgent, accepted
  			this.$emit(
  				'update-task',
  				this.taskData.ContentItemId,
  				this.patientId,
  				assignedToActorId,
  				allocatedToAccessGroupId,
  				null,
  				this.taskData.Status.StatusId,
  				null,
  				this.taskData.Urgent,
  				this.taskData.Accepted
  			);
  		},

  		submitTaskComment() {
  			//Add a comment

  			const assignedToActorId = this.taskData.AssignedToUser
  				? this.getUsersTaskCanBeAssignedTo.find(
  						x =>
  							x.applicationUserId ===
  							this.taskData.AssignedToUser.ApplicationUserID
  				  ).actorId
  				: null;
  			const allocatedToAccessGroupId = this.taskData.AllocatedToGroup
  				? this.taskData.AllocatedToGroup.AccessGroupID
  				: null;

  			//contentItemId, patientId, assignedToActorId, allocatedToAccessGroupId, comment = '', statusId, removalReasonId, urgent, accepted
  			this.$emit(
  				'update-task',
  				this.taskData.ContentItemId,
  				this.patientId,
  				assignedToActorId,
  				allocatedToAccessGroupId,
  				this.TaskComment,
  				this.taskData.Status.StatusId,
  				null,
  				this.taskData.Urgent,
  				this.taskData.Accepted
  			);
  		},

  		setReceivingTeam(val) {
  			if (!val) return;

  			this.Task.StagingTaskData.AllocatedToGroup = {
  				AccessGroupID: val.value,
  				Description: val.description,
  				MemberAreaID: appMain.getMemberAreaIdFromAccessGroupId(val.value),
  				Name: val.label
  			};
  		},

  		getSelectedTeamMembers() {
  			if (!this.SelectedReceivingTeam) return [];
  			this.IsLoadingItemData = true;
  			return GetUsersProfiles.callApi(this.SelectedReceivingTeam.accessGroupId)
  				.then((response, status, xhr) => {
  					this.ReceivingTeamMembers = response.Data.Passed;
  					this.IsLoadingItemData = false;
  				})
  				.fail(error => {
  					this.IsLoadingItemData = false;
  				});
  		},

  		setReceivingTeam(val) {
  			if (!val) return;
  			this.SelectedReceivingTeam = val;
  		},

  		setTaskAssignedUser(val) {
  			// //Triggered via ddl
  			if (val.isRequestingUser) val.label = `${val.firstName} ${val.lastName}`;
  			this.SelectedReceivingTeamMember = val;
  		},

  		setDropdownToMaxWidth() {},

  		getMemberPresenceIndicatorClass: function(date) {
  			//Helper
  			return 'presenceStatus ' + appMain.getPresenceIndicatorClass(date);
  		}
  	},

  	computed: {
  		taskIsEdited() {
  			//If assigned team or assigned user is changed

  			let savedAssignedTeam = this.taskData.AllocatedToGroup
  				? this.taskData.AllocatedToGroup.AccessGroupID
  				: null;
  			let savedAssignedUser = this.taskData.AssignedToUser
  				? this.taskData.AssignedToUser.ApplicationUserID
  				: null;

  			let selectedTeam = this.SelectedReceivingTeam
  				? this.SelectedReceivingTeam.accessGroupId
  				: null;
  			let selectedUser = this.SelectedReceivingTeamMember
  				? this.SelectedReceivingTeamMember.applicationUserId
  				: null;

  			console.log(
  				savedAssignedTeam,
  				savedAssignedUser,
  				selectedTeam,
  				selectedUser
  			);

  			if (
  				savedAssignedTeam !== selectedTeam ||
  				savedAssignedUser !== selectedUser
  			)
  				return true;
  			return false;
  		},
  		getTeamsAllowingTasks() {
  			let options = this.taskMetaData.GroupsAllowingTasks.map(item => {
  				//https://hackernoon.com/understanding-map-filter-and-reduce-in-javascript-5df1c7eee464
  				return {
  					label: item.Name,
  					value: item.AccessGroupId,
  					description: item.Description,
  					accessGroupId: item.AccessGroupId,
  					memberAreaId: item.MemberAreaId
  				};
  			});

  			var result = [...options]; //https://davidwalsh.name/array-unique

  			return result.filter(Boolean);
  		},
  		getUsersTaskCanBeAssignedTo() {
  			if (!this.ReceivingTeamMembers.length) return [];

  			let teamMembers = this.ReceivingTeamMembers.map(x => {
  				return {
  					label: x.FirstName + ' ' + x.LastName || null,
  					value: x.ApplicationUserID || null,
  					applicationUserId: x.ApplicationUserID || null,
  					actorId: x.ActorId || null,
  					lastOnline: x.LastOnline || null,
  					firstName: x.FirstName || null,
  					lastName: x.LastName || null,
  					onDuty: x.OnDuty || null,
  					avatar: x.ProfileImageLink || null,
  					profession: x.Profession || null,
  					speciality: x.Speciality || null,
  					grade: x.Grade || null,
  					isRequestingUser: x.IsRequestingUser
  				};
  			});

  			//Sort by last online
  			let usersWhoHaveALastOnline = teamMembers.filter((item, index, array) => {
  				if (item.lastOnline && item.lastName) return item;
  			});

  			let usersWhoDoNotHaveALastOnline = teamMembers.filter(
  				(item, index, array) => {
  					if (!item.lastOnline && item.lastName) return item;
  				}
  			);

  			usersWhoHaveALastOnline = _.sortBy(usersWhoHaveALastOnline, function(o) {
  				return o.lastOnline;
  			}).reverse();
  			usersWhoDoNotHaveALastOnline = _.sortBy(
  				usersWhoDoNotHaveALastOnline,
  				function(o) {
  					return o.lastName;
  				}
  			);

  			usersWhoHaveALastOnline.push(usersWhoDoNotHaveALastOnline);
  			teamMembers = [].concat.apply([], usersWhoHaveALastOnline); //Flatten arrays (array pushed into array)

  			//Add Assign to me option, IF user is found in the team
  			let activeUserId =
  				Vault.getItem('GetRequestingUserSummary')['Data']['FullName'][
  					'ApplicationUserID'
  				] || null;
  			let foundItem = teamMembers.findIndex(x => x.value === activeUserId); //Returns index or -1

  			if (foundItem !== -1) {
  				//This assumes unique IDs. If IDs are duplicated, it's probably better use forEach:)
  				let item = teamMembers.find(item => item.value === activeUserId);

  				//Remove found index, not needed now that the data has the 'assign to me' option
  				teamMembers.splice(foundItem, 1);

  				//Add new item to start of collection
  				teamMembers.unshift({
  					label: item.label,
  					value: item.value,
  					applicationUserId: item.applicationUserId || null,
  					actorId: item.actorId || null,
  					firstName: item.firstName || '',
  					lastName: item.lastName || '',
  					avatar: item.avatar,
  					profession: item.profession,
  					speciality: item.speciality,
  					grade: item.grade,
  					lastOnline: item.lastOnline,
  					onDuty: item.onDuty,
  					isRequestingUser: item.isRequestingUser
  				});
  			}

  			//Add Unassigned option
  			teamMembers.unshift({
  				label: 'Unassigned',
  				value: '',
  				onDuty: true
  			});

  			//Set default UI if team / user matches

  			this.SelectedReceivingTeamMember =
  				teamMembers &&
  				teamMembers.length &&
  				this.SelectedReceivingTeam &&
  				this.taskData.AssignedToUser
  					? teamMembers.find(
  							x =>
  								x.applicationUserId ===
  									this.taskData.AssignedToUser.ApplicationUserID &&
  								this.taskData.AllocatedToGroup.AccessGroupID ===
  									this.SelectedReceivingTeam.accessGroupId
  					  )
  					: '';

  			return teamMembers || [];
  		},
  		getTaskHistoryItemsToDisplay() {
  			if (!this.TaskHistory || !this.TaskHistory.length) return [];
  			if (!this.ViewAllHistoryItems) {
  				return this.TaskHistory.slice(-3); //Use negative numbers to select from the end of an array.
  			} else {
  				return this.TaskHistory;
  			}
  		},

  		getTaskRemovalReasons() {
  			let options = this.TaskMetaData.RemovalReasons.map(
  				(item, index, items) => {
  					//https://hackernoon.com/understanding-map-filter-and-reduce-in-javascript-5df1c7eee464
  					return {
  						label: item.Reason,
  						value: item.RemovalReasonId
  					};
  				}
  			);

  			var result = [...new Set(options)]; //https://davidwalsh.name/array-unique

  			return _.compact(result);
  		}
  	},

  	created() {},
  	mounted() {},
  	beforeDestroy() {},
  	updated() {
  		//this.Task.Data = this.taskData || [];//Important, else props wont update as data assigned only at runtime NOT NEEDED, API LOADED EACH TASK
  		appMain.setElementsAsFullHeight();
  	}
  };
</script>




<style scoped lang="less">
  @import '../../../../../less/app-variables.less';
  .task-item-wrapper {
  	padding: 0;
  	margin: 0.8em 0 15em 0.8em;
  	box-sizing: border-box;
  	width: 97%;
  	> .u-patientBanner {
  		margin-bottom: 0;
  	}
  }
  .item-wrapper {
  	display: flex;
  	box-sizing: border-box;
  	flex-flow: column;
  	flex-wrap: nowrap;

  	padding: 0.8em;
  	position: relative;
  	margin: 0 0 1em 0;
  }

  .urgent {
  	color: @urgent-colour;
  }
  .item-title {
  	font-weight: @font--medium;
  	font-size: 1.1em;
  	margin: 0 0 0.8em 0;
  	width: 97%;
  }

  .item-notes {
  	border-top: 1px solid @row--border;
  	padding: 1em 0 0 0;
  }

  .item-body {
  	display: flex;
  	flex-flow: row;
  	border-top: 1px solid @row--border;
  	border-bottom: 1px solid @row--border;
  	padding: 0.8em 0;
  	margin: 1em 0;
  	& .body-1 {
  		display: flex;
  		flex-basis: 50%;
  		flex-flow: column;
  		& .ui-select {
  			&.last {
  				margin-bottom: 0;
  			}
  		}

  		& .actions-save-wrapper {
  			flex-basis: auto;
  			margin: 1em 0 0 0;
  		}
  	}
  	& .body-2 {
  		display: flex;
  		flex-basis: 50%;
  		flex-flow: row;
  		align-items: flex-end;
  		justify-content: space-between;
  		padding: 0 1em;
  		box-sizing: border-box;

  		& .accepted-label {
  			display: flex;
  			flex-flow: row;
  			align-items: center;
  		}

  		& .urgency-toggle {
  			margin-left: auto;
  		}
  	}
  }

  .item-actions {
  	display: flex;
  	flex-flow: row;

  	& .actions-1 {
  		display: flex;
  		flex-basis: 50%;
  		flex-flow: row;
  	}
  	& .actions-2 {
  		display: flex;
  		flex-basis: 50%;
  		flex-flow: row;
  		justify-content: flex-end;
  	}
  }
  .see-all-history-btn {
  	margin: 0 0 0 1em;
  	color: @link--active;
  	&:hover {
  		cursor: pointer;
  	}
  }

  .comments-title {
  	font-weight: @font--medium;
  	margin: 1em 0 1em 0;
  	display: flex;
  }
  .comment-item {
  	color: @text-light;
  	margin: 0 0 0.8em 0;
  	& .comment-text {
  		line-height: 1.5em;
  		color: @body-colour;
  	}
  }
  .comment-audit-item {
  	color: @text-light;
  }
  .comment-comment-item {
  	background: @feed-comment-block-bg;
  	padding: 0.8em;
  	margin: 0 0 0.5em 0;
  }

  .author-wrapper {
  	display: flex;
  	flex-flow: row;
  	align-items: center;
  	margin: 0.8em 0 0 0;
  	justify-content: flex-start;
  	color: @text-light;
  	font-size: 0.9em;
  }

  .item-add-comment {
  	margin: 2em 0 1em 0;
  }
</style>

<custom>
    Task item component
</custom>
