<template>
  <div v-on:click="selectRow" :class="{'table__row':true, 'pure-g':true, 'active': activeId === taskItem.ContentItemId}">

    <div class="pure-u-1-24">
      <span class="tasks__urgent" v-if="taskItem.Urgent">
        <i class="material-icons">error</i>
      </span>
    </div>
    <div class="pure-u-4-24">
      <span class="u-block u-strong">{{ taskItem.Type.Description }}</span>
    </div>
    <div v-if="!patientId" class="pure-u-9-24">
      <template v-if="taskItem.Patient">
        <div class="patient__data-cell">
          <div class="patient__data">
            <span class="patient-name">
              <span class="u-uppercase">{{ taskItem.Patient.PatientFamilyName }}</span>, {{taskItem.Patient.PatientGivenName }}
              <template v-if="taskItem.Patient.PatientTitle">
                ({{ taskItem.Patient.PatientTitle }})
              </template>
            </span>
          </div>
          <div class="patient__data--identifiers">
            <span class="identifiers__set">
              <span class="label">Born</span>{{ taskItem.Patient.PatientDateOfBirth }}</span>
            <span v-if="taskItem.Patient.PatientIdentifiers.PrimaryIdentifier" class="identifiers__set">
              <span class="label">{{ taskItem.Patient.PatientIdentifiers.PrimaryIdentifier.Label }}</span>{{ taskItem.Patient.PatientIdentifiers.PrimaryIdentifier.Value }}
            </span>
          </div>
          <div class="patient__data" v-html="getConsultantString"></div>
          <div class="patient__data" v-html="getPatientLocationString"></div>
        </div>
      </template>
    </div>
    <div class="pure-u-7-24">
      <div class="tasks__status-meta-wrapper">
        <div v-if="!patientId" v-html="getTaskAcceptanceLabel" class="u-block"></div>
        <div v-if="taskItem.AssignedToUser && taskItem.AllocatedToGroup" class="u-block tasks__allocatedUser">
          {{taskItem.AssignedToUser.FirstName}} {{taskItem.AssignedToUser.LastName}}
          <span span v-if="taskItem.AllocatedToGroup"> - {{ taskItem.AllocatedToGroup.Name }}</span>
        </div>
        <div v-if="!taskItem.AssignedToUser && taskItem.AllocatedToGroup" class="u-block tasks__allocatedTeam">{{ taskItem.AllocatedToGroup.Name }}</div>
      </div>
    </div>

    <div v-if="patientId" class="pure-u-6-24">
      <span v-if="patientId" v-html="getTaskAcceptanceLabel" class="u-block"></span>
    </div>

    <div :class="{'pure-u-3-24':!patientId,'pure-u-6-24':patientId}">
      {{taskItem.CreatedDate | formatDate}}
    </div>
  </div>

</template>

<script>
  /* Utils */

  import Vault from 'Endpoints/careflowApp/Vault';
  /* API Endpoints */

  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';

  /*Components*/

  export default {
  	data() {
  		//https://forum.vuejs.org/t/data-properties-based-on-props-are-not-re-evaluated-when-props-change/21085/2
  		return {
  			IsLoading: false
  		};
  	},
  	components: {},
  	mixins: [DateFilter],
  	props: {
  		patientId: {
  			type: [String, Number],
  			required: false
  		},
  		taskItem: {
  			type: [Object],
  			required: true
  		},
  		activeId: {
  			type: [String, Number],
  			required: false
  		},
  		isLoading: {
  			type: [Boolean],
  			required: false
  		}
  	},
  	watch: {},
  	methods: {
  		selectRow() {
  			if (this.isLoading) return;
  			this.$emit('task-item-selected', this.taskItem.ContentItemId);
  		}
  	},

  	computed: {
  		getTaskAcceptanceLabel() {
  			//Infer label to display in list

  			if (this.taskItem.Status.StatusId === 3)
  				return "<span class='tasks__taskStatus--completed'><i class='material-icons'>done</i> Completed</span>";
  			if (
  				!this.taskItem.Accepted &&
  				this.taskItem.AssignedToUser &&
  				this.taskItem.Status.StatusId === 1
  			)
  				return "<span class='tasks__taskStatus'><i class='material-icons'>perm_identity</i> Pending</span>";
  			if (
  				this.taskItem.AssignedToUser &&
  				this.taskItem.Accepted &&
  				this.taskItem.Status.StatusId === 1
  			)
  				return "<span class='tasks__taskStatus'><img src='./Content/img/global/svg/task-accepted.svg' alt='Task accepted' /> Accepted</span>";
  			if (this.taskItem.Status.StatusId === 1 && !this.taskItem.AssignedToUser)
  				return "<span class='tasks__taskStatus--unassigned'>Unassigned</span>";
  			if (this.taskItem.Status.StatusId === 2)
  				return "<span class='tasks__taskStatus'><i class='material-icons'>clear</i> Removed</span>";
  		},
  		getPatientLocationString() {
  			if (!this.taskItem.Patient.SiteName) return ``;

  			const siteArea = `${
  				this.taskItem.Patient.AreaName
  					? `${this.taskItem.Patient.AreaName} (${
  							this.taskItem.Patient.SiteName
  					  }), `
  					: `${this.taskItem.Patient.SiteName}, `
  			}`;
  			const bay = `${
  				this.taskItem.Patient.Bay ? `${this.taskItem.Patient.Bay}` : ``
  			}`;
  			const bayAndBed = `${
  				this.taskItem.Patient.Bay && this.taskItem.Patient.Bed ? ` - ` : ``
  			}`;
  			const bed = `${
  				this.taskItem.Patient.Bed ? `${this.taskItem.Patient.Bed}` : ``
  			}`;

  			return `${siteArea} ${bay} ${bayAndBed} ${bed}`;
  		},

  		getConsultantString() {
  			if (!this.taskItem.Patient.Clinician) return ``;
  			return `${
  				this.taskItem.Patient.AreaName || this.taskItem.Patient.SiteName
  					? `${this.taskItem.Patient.Clinician.FullName}, `
  					: `${this.taskItem.Patient.Clinician.FullName} `
  			}`;
  		}
  	},

  	created() {},
  	mounted() {},
  	beforeDestroy() {},
  	updated() {}
  };
</script>


<style scoped lang="less">
  @import '../../../../../less/app-variables.less';
</style>

<custom>
    Task table item row
</custom>
