﻿<!--Wrapper for Messages (linked from top nav) messages components-->
<div id="vue-messages" class="pure-g">
    <div class="pure-u-1 messages-wrapper">
        <messages :network-id="NetworkId" ></messages>
    </div>
</div>