<template>
	<div data-scroll="true" class="js-fullHeight-bodyElement">
		<div class="splash">
			<div class="splash__logo-wrapper">
				<img class="logo-img" src="/Content/img/careflow.png" alt="CareFlow Workspace" />
			</div>

			<template v-if="IsLoading">
				<div class="u-screen-only splash__loader-wrapper">
					<div class="loader-title">Authenticating...
					</div>
					<ui-progress-circular color="primary">Authenticating...</ui-progress-circular>
				</div>
			</template>

		</div>
	</div>
</template>

<script>
/*Mixins*/
import DateFilter from 'VueMixins/dateFilter';
/*Components*/

/* API Endpoints */
import Vault from 'Endpoints/careflowApp/Vault';
export default {
	data() {
		return {
			IsLoading: true
		};
	},
	props: {
		data: {
			//Optional init obj
			type: [Object, Array],
			required: false
		}
	},
	components: {},
	mixins: [],
	filters: {},
	watch: {},
	computed: {},

	methods: {},
	created() {
		if (typeof window.external === 'object') window.external.Push('integrationReady','');  ; //Tell Medway client that View is ready for hand-shake
	},
	mounted() {},
	updated() {
		appMain.setElementsAsFullHeight();
	},
	deforeDestroy() {}
};
</script>

<style lang="less" rel="stylesheet/less" type="text/less">
@import '../../../../less/app-variables.less';

.splash {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	padding: 6em 0 0 0;
	margin-bottom: 6em;
	box-sizing: border-box;
}

.splash__logo-wrapper {
	margin: 0 0 3em 0;
	& .logo-img {
		max-width: 140px;
	}
}

.splash__loader-wrapper {
	align-items: center;
	align-content: center;
	display: flex;
	flex-direction: column;
	& .loader-title {
		margin: 0 0 1em 0;
		font-size: 1.5em;
		font-weight: @font--medium;
	}
}
</style>

<custom>Splash page for third party integrations module</custom>
