<template>
  <div>
    <div v-if="ActiveItemTitle" data-full-height-deduct="true" class="body__title pure-u-1">
      <div class="title">{{ActiveItemTitle}}</div>
      <div v-if="ActiveItem === 'Insights'">
        <div class="title-action-btn no-highlight" type="button" v-on:click="triggerRefreshOfBiReport">Refresh report</div>
      </div>
    </div>
    <div data-scroll="true" class="pure-u-1 js-fullHeight-bodyElement">
      <div :class="{'body__wrapper':true, 'bi-container':ActiveItem === 'Insights'}">
        <ManageNetworkProfiles v-if="ActiveItem === 'ManageNetworkProfiles'" :networkId="networkId"></ManageNetworkProfiles>
        <BiReport v-if="ActiveItem === 'Insights'" :networkId="networkId" :reportGuid="activeItemConfig.ReportGuid"></BiReport>
      </div>
    </div>
  </div>
</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  /*Components*/
  import ManageNetworkProfiles from 'VueComponents/networkProfiles/ManageNetworkProfiles';
  import BiReport from 'VueComponents/reports/BiReport';

  /* API Endpoints */

  export default {
  	data() {
  		return {
  			IsLoading: false,
  			Permissions: this.permissions || appMain.getUserPermissionsForAllUsersMemberAreas(),
  			ActiveItem: this.activeItem || null,
  			ActiveItemTitle: this.activeItemTitle || null,
  		};
  	},
  	components: { ManageNetworkProfiles, BiReport },
  	props: {
  		permissions: {
  			type: Array,
  			required: false,
  		},
  		networkId: {
  			type: [Number, String],
  			required: true,
  			default: null,
  		},
  		activeItem: {
  			type: [String],
  			required: false,
  			default: null,
  		},
  		activeItemTitle: {
  			type: [String],
  			required: false,
  			default: null,
  		},
  		activeItemConfig: {
  			/*Custom config object*/
  			type: [Object],
  			required: false,
  			default: null,
  		},
  	},
  	watch: {
  		activeItem(newVal, oldVal) {
  			if (!newVal) return;
  			this.ActiveItem = newVal;
  		},
  		activeItemTitle(newVal, oldVal) {
  			if (!newVal) return;
  			this.ActiveItemTitle = newVal;
  		},
  	},
  	mixins: [DateFilter],

  	computed: {},

  	methods: {
  		setActiveItem(item) {},
  		triggerRefreshOfBiReport() {
  			VueEventBus.$emit('BiReport.Refresh', null);
  		},
  	},
  	mounted() {
  		appMain.setElementsAsFullHeight();
  	},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},
  };
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../less/app-variables.less';
  .body__wrapper {
  	padding: 1em;
  	margin-bottom: 18em;
  	display: flex;
  	height: 100%;
  	&.bi-container {
  		margin: 0;
  		padding: 0;
  	}
  }
  .body__title {
  	border-bottom: 1px solid @row--border;
  	padding: 1em 0.8em;
  	box-sizing: border-box;
  	display: flex;
  	flex-flow: row;
  	& .title {
  		font-size: 1.5em;
  		font-weight: @font--medium;
  	}
  }
  .title-action-btn {
  	color: @button-plain-colour;
  	margin: 0 0 0 1.6em;
  	font-weight: @font--medium;
  	&:hover {
  		cursor: pointer;
  	}
  }
</style>

<custom>Network Administration body</custom>
