<template>
  <nav data-scroll="true" class="pure-u js-fullHeight-bodyElement">
    <div class="nav__wrapper">
      <div class="nav__title pure-u">
        Team Management
      </div>
      <div v-if="Permissions.includes('UpdateNetworkProfile')" :class="{'nav__item':true, 'active': ActiveItemTitle === 'Manage network handover profiles'}" v-on:click="setActiveItem('ManageNetworkProfiles', 'Manage network handover profiles')">Handover profiles</div>
      <div v-if="Permissions.includes('ViewReports') && BiReportsAreEnabled" class="nav__title pure-u">
        <!--https://jira.systemc.com/browse/CFCW-39-->
        Insights
      </div>
      <template v-if="Permissions.includes('ViewReports') && BiReportsAreEnabled && ActiveReports.length">
        <div v-for="(report) in ActiveReports" :key="report.Id" :class="{'nav__item':true, 'active': ActiveItemTitle.includes(report.reportName)}" v-on:click="setActiveItem('Insights', report.reportName, {ReportGuid:report.Id})">{{report.reportName}}</div>
      </template>
    </div>
  </nav>
</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  /*Components*/
  /* API Endpoints */

  export default {
  	data() {
  		return {
  			IsLoading: false,
  			Permissions: this.permissions || appMain.getUserPermissionsForAllUsersMemberAreas(),
  			BiReportsAreEnabled: appMain.checkIfFeatureIsEnabledInAppConfig('enableBiReports'),
  			ActiveReports: appMain.checkIfFeatureIsEnabledInAppConfig('biReports') || [],
  			ActiveItem: '',
  			ActiveItemTitle: '',
  		};
  	},
  	props: {
  		permissions: {
  			type: Array,
  			required: false,
  		},
  		networkId: {
  			type: [Number, String],
  			required: true,
  			default: null,
  		},
  	},
  	mixins: [DateFilter],

  	computed: {},

  	methods: {
  		setActiveItem(item, title, itemConfig) {
  			if (!item || !title) return;
  			this.ActiveItem = item;
  			this.ActiveItemTitle = title;
  			let obj = {
  				ActiveItem: item,
  				ActiveItemTitle: title,
  				ActiveItemConfig: itemConfig, //Object that can contain any custom config props / arrays
  			};
  			this.$emit('set-active-item', obj);
  			//This is because attributes in HTML are case insensitive and if you are rendering some of your template to the DOM, it's just better all around //to avoid camelCased names. Note that this doesn't apply if you define the templates in strings or if you are using single file components.
  		},
  	},
  	mounted() {
  		//Set default
  		this.setActiveItem('ManageNetworkProfiles', 'Manage network handover profiles');
  		appMain.setElementsAsFullHeight();
  	},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},
  };
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../less/app-variables.less';

  .nav__wrapper {
  	padding: 0.8em;
  	margin: 1em 0 0 0;
  	box-sizing: border-box;
  }
  .nav__title {
  	text-transform: uppercase;
  	margin: 1.2em 0 0.8em;
  	box-sizing: border-box;
  	font-weight: @font--medium;
  	&:first-of-type {
  		margin-top: 0;
  	}
  }
  .nav__item {
  	text-transform: initial;
  	margin: 0.5em 0 0.5em 0;
  	padding: 0 0 0 0.8em;
  	box-sizing: border-box;
  	&:hover {
  		cursor: pointer;
  	}
  	&.active {
  		color: @generic-nav-bg--active;
  	}
  }
</style>

<custom>Component notes</custom>
