<template>
	<div>
		<div v-if="isFirstRule" class="body__controls-advanced">

			<div class="body__select-block block--status">
				<div class="block-text-desc">All patients</div>
				<ui-select class="ui-select-status" ref="ui-select-consultant-status" @select="optionSelected" :key="RebuildUiComponentKey" :disabled="IsLoading" placeholder="Select a status" :options="consultantStatuses" v-model="ConsultantIsExcluded"></ui-select>
			</div>

			<div class="body__select-block">
				<ui-select class="ui-select-consultant" ref="ui-select-consultant" @select="optionSelected" :key="RebuildUiComponentKey" has-search :disabled="IsLoading" placeholder="Select a consultant" :options="getConsultantsData" v-model="SelectedConsultant"></ui-select>
			</div>

			<div class="body__select-block block--status">
				<ui-select class="ui-select-status" ref="ui-select-location-status" @select="optionSelected" :key="RebuildUiComponentKey" :disabled="IsLoading" placeholder="Select a status" :options="locationStatuses" v-model="LocationIsExcluded"></ui-select>
			</div>

			<div :class="{'body__select-block':true, 'block--location':true, 'last-rule': isLastAddedRule}">
				<ui-select ref="ui-select-location" @select="optionSelected" :key="RebuildUiComponentKey" has-search class="ui-select-location" :disabled="IsLoading" label="" placeholder="Select a location" :options="getLocationData" v-model="SelectedLocation">
					<template scope="props" slot="option">
						<template v-if="props.option.isSiteLabel">
							<div :class="{'ui-select-option__basic':true, 'site-label':true, 'is-disabled': props.option.isDisabled}">{{props.option.label}}</div>
						</template>
						<template v-else>
							<div :class="{'ui-select-option__basic':true, 'area-label':true, 'is-disabled': props.option.isDisabled}">{{props.option.label}}</div>
						</template>
					</template>
				</ui-select>

			</div>
			<ui-button v-if="isLastAddedRule && this.SelectedConsultant && this.SelectedLocation" type="secondary" :disabled="IsLoading" v-on:click="()=>{if (!this.SelectedLocation || !this.SelectedConsultant) return; this.$emit('add-new-rule')}">Add rule</ui-button>
		</div>

		<!---Row 2 + (not first row/!isFirstRule)-->
		<div v-else class="body__controls-advanced">
			<div class="body__select-block block--status">

				<ui-select class="ui-select-status" ref="ui-select-location-status" @select="optionSelected" :key="RebuildUiComponentKey" :disabled="IsLoading" placeholder="Select a status" :options="locationStatuses" v-model="LocationIsExcluded"></ui-select>
			</div>

			<div :class="{'body__select-block':true, 'block--location':true, 'last-rule': isLastAddedRule}">
				<ui-select ref="ui-select-location" @select="optionSelected" :key="RebuildUiComponentKey" has-search class="ui-select-location" :disabled="IsLoading" placeholder="Select a location" :options="getLocationData" v-model="SelectedLocation">
					<template scope="props" slot="option">
						<template v-if="props.option.isSiteLabel">
							<div :class="{'ui-select-option__basic':true, 'site-label':true, 'is-disabled': props.option.isDisabled}">{{props.option.label}}</div>
						</template>
						<template v-else>
							<div :class="{'ui-select-option__basic':true, 'area-label':true, 'is-disabled': props.option.isDisabled}">{{props.option.label}}</div>
						</template>
					</template>
				</ui-select>

			</div>
			<ui-button v-if="isLastAddedRule" type="secondary" :disabled="IsLoading" v-on:click="()=>{if (!this.SelectedLocation) return; this.$emit('add-new-rule')}">Add rule</ui-button>

		</div>

	</div>
</template>

<script>
/* Utils */
import Vault from 'Endpoints/careflowApp/Vault';
/*Mixins*/
import DateFilter from 'VueMixins/dateFilter';
import GetGuid from 'VueMixins/getGuid';
/* API Endpoints */

/*Components*/
import { VueContentLoading } from 'vue-content-loading';

export default {
	data: function() {
		return {
			IsLoading: false,
			RebuildUiComponentKey: null,
			ConsultantIsExcluded: {
				label: 'UNDER',
				value: false
			}, //Default
			LocationIsExcluded: {
				label: 'IN',
				value: false
			}, //Default
			SelectedConsultant: '',
			SelectedLocation: '',
			SelectionsAreValid: false,
			ClientAssignedLocationGuid: this.getGuid()
		};
	},
	mixins: [DateFilter, GetGuid],
	components: {
		VueContentLoading
	},
	props: {
		consultants: {
			required: true,
			type: [Object, Array]
		},
		locations: {
			required: true,
			type: [Object, Array]
		},
		memberAreaId: {
			required: false,
			type: [String, Number]
		},
		networkId: {
			required: false,
			type: [String, Number]
		},
		isFirstRule: {
			required: true,
			type: [Boolean],
			default: false
		},
		isLastAddedRule: {
			required: true,
			type: [Boolean],
			default: false
		},
		lastSelectionsSaved: {
			required: true,
			type: [Date, String, Number],
			default: false
		},
		advancedSelection: {
			required: false,
			type: [Object, Array]
		}
	},
	filters: {},

	watch: {
		lastSelectionsSaved(newVal, oldVal) {
			//New filter saved, clear settings
			if (newVal) return this.clearRowData();
		},
		ConsultantIsExcluded(newVal, oldVal) {
			if (newVal.value) {
				//Advanced - If 'NOT UNDER' selected, disable 'All Consultants' row
				this.SelectedConsultant = '';
				this.SelectionsAreValid = false;
				this.$emit('reset-selection', {});
			}
		}
	},

	computed: {
		getConsultantsData() {
			if (!this.consultants) return [];
			const consultantIsExcludedFlag = this.ConsultantIsExcluded.value; //Advanced - If 'NOT UNDER' selected, disable 'All Consultants' row

			let returnData = this.consultants.map(x => {
				return {
					label: x.label,
					type: x.type,
					value: x.value
				};
			});

			if (consultantIsExcludedFlag) returnData[0].isDisabled = true; //All consultants

			return returnData;
		},
		getLocationData() {
			if (!this.locations) return [];

			let returnData = this.locations.map(x => {
				return {
					areaName: x.areaName,
					fullNameLabel: x.fullNameLabel,
					isDisabled: x.isDisabled || ((x.isSiteLabel && this.SelectedConsultant.value === "") || (this.LocationIsExcluded.value && this.SelectedConsultant.value === "")) || (this.LocationIsExcluded.value && this.ConsultantIsExcluded.value) || (!this.isFirstRule && this.advancedSelection.ClinicianName === "" && this.LocationIsExcluded.value) || (!this.isFirstRule && x.isSiteLabel && this.advancedSelection.ClinicianName === "") || (!this.isFirstRule && this.LocationIsExcluded.value && this.advancedSelection.IsClinicianExcluded), //Disable site labels in advanced when 'All consultants' and other criteria (always evolving!)
					isSiteLabel: x.isSiteLabel,
					label: x.label,
					locationType: x.locationType,
					siteName: x.siteName,
					type: x.type,
					value: x.value
				};
			});

			return returnData;
		},
		consultantStatuses() {
			return [
				{
					label: 'UNDER',
					value: false
				},
				{
					label: 'NOT UNDER',
					value: true
				}
			];
		},
		locationStatuses() {
			return [
				{
					label: 'IN',
					value: false
				},
				{
					label: 'NOT IN',
					value: true
				}
			];
		}
	},

	methods: {
		optionSelected(val) {
			if (!val) return;

			if (this.isFirstRule && typeof this.ConsultantIsExcluded === 'object' && typeof this.LocationIsExcluded === 'object' && typeof this.SelectedConsultant === 'object' && typeof this.SelectedLocation === 'object') {
				this.$emit('advanced-selection-set', {
					//Only emits if 'valid'
					ConsultantExcluded: this.ConsultantIsExcluded,
					SelectedConsultant: this.SelectedConsultant,
					LocationIsExcluded: this.LocationIsExcluded,
					IsSiteLabel: val.isSiteLabel,
					SelectedLocation: this.SelectedLocation,
					ClientAssignedLocationGuid: this.ClientAssignedLocationGuid,
					SelectedLocationValue: this.SelectedLocation.value
				});
				return (this.SelectionsAreValid = true);
			}

			//Not first rule added - only handles locations, not clinician
			if (!this.isFirstRule && typeof this.LocationIsExcluded === 'object' && typeof this.SelectedLocation === 'object') {
				this.$emit('advanced-selection-set', {
					//Only emits if 'valid'
					ConsultantExcluded: null,
					SelectedConsultant: null,
					LocationIsExcluded: this.LocationIsExcluded,
					IsSiteLabel: val.isSiteLabel,
					SelectedLocation: this.SelectedLocation,
					ClientAssignedLocationGuid: this.ClientAssignedLocationGuid,
					SelectedLocationValue: this.SelectedLocation.value
				});
				return (this.SelectionsAreValid = true);
			}

			return (this.SelectionsAreValid = false);
		},
		clearRowData() {
			this.$refs['ui-select-consultant-status'].closeDropdown({ autoBlur: true }); //Method in component
			this.$refs['ui-select-consultant'].closeDropdown({ autoBlur: true }); //Method in component
			this.$refs['ui-select-location-status'].closeDropdown({ autoBlur: true }); //Method in component
			this.$refs['ui-select-location'].closeDropdown({ autoBlur: true }); //Method in component
			(this.ConsultantIsExcluded = {
				label: 'UNDER',
				value: false
			}),
				(this.LocationIsExcluded = {
					label: 'IN',
					value: false
				}),
				(this.SelectedConsultant = ''),
				(this.SelectedLocation = ''),
				(this.SelectionsAreValid = false);
		}
	},

	events: {},

	beforeCreate: function() {},

	created: function() {
		//Init
	},
	updated() {
		appMain.setElementsAsFullHeight();
	},

	mounted() {}
};
</script>

<style lang="less">
@import '../../../../../less/app-variables.less';
.body__controls-advanced {
	display: flex;
	flex-direction: row;
	flex-flow: row nowrap;
	margin: 0 0 1em 0;
	min-height: 29px;
	& .body__select-block {
		display: flex;
		flex-direction: row;
		//width: 98%;
		//min-width: 280px;
		margin: 0 1em 0 0;

		& .ui-select {
			width: 100%;
			margin-bottom: 0;
			&.ui-select-status {
				& .ui-select__display {
					& .ui-select__display-value {
						color: @careflow--blue;
						font-weight: @font--medium;
					}
				}
			}
		}
		& .ui-button--type-secondary {
			margin-left: auto;
		}

		&.block--status {
			& .ui-select {
				min-width: 92px;
			}
		}
		&:last-of-type {
		}
		&.last-rule {
			& .ui-select {
				//width: 81%;
			}
		}
		& .block-text-desc {
			display: flex;
			flex-wrap: nowrap;
			//white-space: nowrap;
			width: 100%;
			white-space: nowrap;
			margin: 0 1em 0 0;
			align-items: center;
		}
	}
	& .ui-select-location {
		//DDl component - custom template in slot
		min-width: 200px;
		& .site-label {
			box-sizing: border-box;
			font-weight: @font--medium;
		}
		& .area-label {
			box-sizing: border-box;
			padding-left: 0.5em;
		}
		& .is-disabled {
			color: @text-light;
			&:hover {
				cursor: not-allowed
			}
			//color: @link--active;
		}
	}
	& .ui-select-consultant {
		min-width: 200px;
		& .is-disabled {
			color: @text-light;
			&:hover {
				cursor:not-allowed
			}
		}
	}
}
</style>

<notes>Saved team Smart List item</notes>
