<template>
  <div class="network-updates-wrapper">
    <nav class="network-updates-nav js-scaffold-block">
      <Navigation :activeUrl="activeUrl" :isNetworkMemberAreaId="true" :network-id="networkId" :member-area-id="memberAreaId"></Navigation>
    </nav>
    <div class="network-updates-body">

      <div v-if="activeUrl && activeUrl === 'updates' && viewTitle" data-full-height-deduct-global="true" class="view-title--team-wrapper pure-u-1">
        <div class="view-title--team-title">{{viewTitle}}</div>
      </div>

      <div v-if="activeUrl === 'updates'" class="pure-u-1">
        <div class="feedBody__container u-pull-left js-scaffold-block">
          <div class="feedBody__wrapper">
            <FeedComponent :isNetworkMemberAreaId="true" :member-area-id="memberAreaId" :network-id="networkId" :content-id-to-activate="contentIdToActivate"></FeedComponent>
          </div>
        </div>
        <div class="pure-u js-scaffold-block">
          <NetworkDirectoryList :network-id="networkId"></NetworkDirectoryList>
        </div>
      </div>
      <div v-if="activeUrl === 'directory'" class="pure-u">
        <NetworkDirectory :network-id="networkId"></NetworkDirectory>
      </div>

    </div>
  </div>
</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  /*Components*/
  import Navigation from 'VueComponents/navigation/TeamNavigation';
  import FeedComponent from 'VueComponents/feeds/FeedComponent';
  import NetworkDirectoryList from 'VueComponents/directory/TeamDirectoryListWidget';
  import NetworkDirectory from 'VueComponents/directory/TeamDirectory';

  /* API Endpoints */

  export default {
  	data() {
  		return {
  			IsLoading: false,
  			Permissions:
  				this.permissions || appMain.getUserPermissionsForAllUsersMemberAreas(),
  			ViewTitle: this.viewTitle,
  			ActiveUrl: this.activeUrl || 'updates'
  		};
  	},
  	components: {
  		FeedComponent,
  		Navigation,
  		NetworkDirectory,
  		NetworkDirectoryList
  	},
  	props: {
  		permissions: {
  			type: Array,
  			required: false
  		},
  		networkId: {
  			type: [Number, String],
  			required: true,
  			default: null
  		},
  		memberAreaId: {
  			//NetworkMemberAreaId
  			type: [Number, String],
  			required: true,
  			default: null
  		},
  		viewTitle: {
  			type: [String],
  			required: false,
  			default: ''
  		},
  		activeUrl: {
  			type: [String],
  			required: false,
  			default: 'teamupdates'
  		},
  		contentIdToActivate: {
  			type: [String, Number],
  			required: false,
  			default: null
  		}
  	},
  	watch: {},
  	mixins: [DateFilter],

  	computed: {},

  	methods: {
  		setActiveItem(item) {}
  	},
  	created() {},
  	mounted() {
  		appMain.setElementsAsFullHeight();
  	},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	}
  };
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../less/app-variables.less';
  .network-updates-wrapper {
  	display: flex;
  	flex-direction: row;
  	width: 100%;
  }
  .network-updates-nav {
  	width: 45px;
  	max-width: 45px;
  	display: flex;
  	flex-direction: column;
  	background: @generic-nav-bg;
  	box-sizing: border-box;
  	height: 100%;
  }
  .network-updates-body {
  	width: calc(~'100% - 45px');
  	max-width: calc(~'100% - 45px');
  	display: flex;
  	flex-direction: column;
  	background: #fff;
  }
</style>

<custom>Network Administration body</custom>
