﻿<template>
    <div ref="messages-wrapper" class="js-scaffold-block">   
        

        <div class="">

            <div v-for="(item,index) in getMessagesInbox">
                <div>{{item.day | formatDate}}</div>
                <div v-for="(message,index) in item.messages" v-on:click="getMessageThread(message.TrackableItemId)">
                    <div>
                       <img class="" :src="message.ImageUrlOfSenderOfLatestMessage" :alt="message.NameOfSenderOfLatestMessage.FirstName + ' ' + message.NameOfSenderOfLatestMessage.FirstName" /> 
                    </div>

                    <div>
                       <div v-for="(recipient, index) in message.RecipientList.Names">{{recipient.FirstName}} {{recipient.LastName}}</div>
                    </div>

                    <div>
                        {{message.NameOfSenderOfLatestMessage.FirstName}}: {{message.LatestMessage}}
                    </div>

                </div>
            </div>

        </div>



    </div>
</template>

<script>
    /* Utils */
    import PubSub from '../../../endPoints/careflowApp/PubSub';
    import Vault from '../../../endPoints/careflowApp/Vault';
    import GetHandlebarsTemplate from '../../../endPoints/careflowApp/GetHandlebarsTemplate';
    import appRouter from '../../../app/app-router';

    /* API Endpoints */
    import GetConversationSummaryList from '../../../endPoints/messages/GetConversationSummaryList';
    import GetMessagesConversation from '../../../endPoints/messages/GetMessagesConversation';


    /*Components*/
    import { VueContentLoading } from 'vue-content-loading';

    /*Mixins*/
    import DateFilter from '../../vue-mixin/dateFilter'

    export default {
        data() {
            return {
                Messages: [],
                ActiveMessageId: null,
                ActiveMessageThread: null,
                NetworkId: this.networkId || null,
                IsLoading: true, //Default
                IsFirstLoad: true, //Default
                ThereAreMoreMessages: false
            }
        },
        components: { VueContentLoading },
        mixins: [DateFilter],
        props: ['networkId'],
        watch: {

            //Filters: {
            //    handler(newVal, oldVal) {

            //        //Handle consultants model
            //        //this.Filters.SelectedConsultantsLabel = newVal.SelectedConsultants.map((item, index, aray) => {
            //        //    return item.value
            //        //});

            //    },
            //    deep: true //https://stackoverflow.com/questions/42133894/vue-js-how-to-properly-watch-for-nested-properties
            //},

        },

        methods: {

            getUserMessagesList() {

                return new Promise((resolve, reject) => {

                    let stagingData = [];
                    let skip = 0;
                    let take = 10;
                    this.IsLoading = true;

                    let callApi = () => {

                        GetConversationSummaryList.callApi(skip, take).then((response, testStatus, jqXHr, responseHeaders) => {

                            this.ThereAreMoreMessages = response.Data.ThereAreMore;
                            stagingData.push.apply(stagingData, response.Data.ConversationSummaries); //Push array into array

                            if (response.Data.ThereAreMore) {
                                skip += 10;
                                return callApi();
                            }

                            this.Messages.push.apply(this.Messages, stagingData);//Merge the staging data
                            stagingData = [];
                            this.IsLoading = false;
                            return resolve();


                        }).fail(error => { return reject();});
                    };

                    callApi(); //init

                }).catch(() => {
                    //appMain.triggerAppNotification({
                    //    Text: "There was a problem processing the request. Please try again",
                    //    Icon: "error"
                    //});
                    //appRouter.careflowAppRouter.refresh(); //Reload route
                    reject();
                });


            },

            getMessageThread(messageId) {

                if (!messageId) return;

                this.ActiveMessageId = messageId;

                return GetMessagesConversation.callApi(messageId).then((response, textStatus, xhr) => {




                });


            }


        },
        computed: { //Difference between computed property and method is that computed properties are cached and change only when their dependencies change - that's why you can't pass parameters there. Methods are evaluated every time you call them.

            getMessagesInbox() {

                //Sort the data
                let groups = _.groupBy(this.Messages, (item) => {//Group the data
                    return moment(item.OrderingDate).startOf('day').format();
                });

                let result = _.map(groups, (group, day) => {
                    return {
                        day: day,
                        messages: group
                    }
                });

                return result;

            }


        },
        created() { },
        mounted() {

            //Init setup
            this.getUserMessagesList().then(response => {
                this.IsFirstLoad = false;
            });


        },
        beforeDestroy() {

        },
        updated() {
            appMain.setElementsAsFullHeight();
        }
    }
</script>

<style>
</style>

<custom>
    Tasks component
</custom>