<template>
  <div :class="{'is-visible':HasBeenVisible, 'feed-item': true}" ref="feed-item">
    <!--PatientBanner-->
    <PatientBanner v-if="ItemType === 'PatientUpdate' && !PatientId" :networkId="NetworkId" :memberAreaId="MemberAreaId" :patient="item.PatientDetails" :patientId="item.PatientDetails.PatientExternalIdentifier"></PatientBanner>
    <div :class="{'update-item':true, 'is-patient-update': ItemType === 'PatientUpdate' && !PatientId}" ref="item-expanded">

      <!--IsRead-->
      <div class="item-is-read">
        <span v-if="!item.IsRead" class="u-unread-icon"></span>
        <i v-else ref="read-item-description" class="material-icons">check</i>
        <ui-popover v-if="item.IsRead" class="custom-popover" openOn="hover" trigger="read-item-description">
          <div>This item has been read</div>
        </ui-popover>
      </div>

      <!--title-->
      <div class="item-title">{{item.ClinicalAlertDetails.Subject}}</div>

      <!--alert sent time-->
      <div class="item-timestamp">{{item.ClinicalAlertDetails.ClinicalAlertTopicName}} - Notification sent: {{item.ClinicalAlertDetails.ClinicalAlertCreatedDateTime | formatDate}}</div>

      <!--item body-->
      <div v-html="$options.filters.decodeString(item.ClinicalAlertDetails.Body)" class="item-update-body">
        <div v-if="item.ClinicalAlertDetails.Url" class="alertFeed-item__url"><a target="_blank" :href="item.ClinicalAlertDetails.Url">{{item.ClinicalAlertDetails.Url}}</a></div>

        <div class="item-event-date">Date of event: {{item.ClinicalAlertDetails.EventDateTime | formatDate}}</div>
      </div>

      <!--Viewed by-->
      <div class="view-block__label-solid">Notification seen by</div>
      <div class="item-viewd-by-wrapper">

        <template v-if="item.ClinicalAlertDetails.ViewedBy.length">
          <template v-for="(x, index) in item.ClinicalAlertDetails.ViewedBy">

            <template v-if="!ViewAllSeenByUsers && index <= 5">
              <div :key="x.Viewer.ApplicationUserID" class="viewed-by-item">
                <Avatar :userId="x.Viewer.ApplicationUserID" :userName="`${x.Viewer.FirstName} ${x.Viewer.LastName}`" :src="x.ImageUrlOfViewer" :height="22" :width="22"></Avatar>
                <div class="viewed-by-item-meta">
                  <div class="viewed-by-item-user"><a :href="'/#/Profile/' + x.Viewer.ApplicationUserID">{{x.Viewer.FirstName}} {{x.Viewer.LastName}}</a></div>
                  <div class="viewed-by-item-date">{{x.LastViewedDate | formatDate}}</div>
                </div>
              </div>
            </template>
            <template v-if="ViewAllSeenByUsers">
              <div :key="x.Viewer.ApplicationUserID" class="viewed-by-item">
                <Avatar :userId="x.Viewer.ApplicationUserID" :userName="`${x.Viewer.FirstName} ${x.Viewer.LastName}`" :src="x.ImageUrlOfViewer" :height="22" :width="22"></Avatar>
                <span class="viewed-by-item-meta">
                  <div class="viewed-by-item-user"><a :href="'/#/Profile/' + x.Viewer.ApplicationUserID">{{x.Viewer.FirstName}} {{x.Viewer.LastName}}</a></div>
                  <div class="viewed-by-item-date">{{x.LastViewedDate | formatDate}}</div>
                </span>
              </div>
            </template>
          </template>
        </template>

        <template v-if="!ViewAllSeenByUsers && item.ClinicalAlertDetails.ViewedBy.length > 6">
          <div class="viewed-by-item">
            <span v-on:click="ViewAllSeenByUsers = !ViewAllSeenByUsers" class="btn--plain">View all</span>
          </div>
        </template>
      </div>

      <!--comments-->
      <div class="item-comments">

        <template v-if="FeedItemData.Comments.length">

          <div class="comments-actions">Comments <template v-if="FeedItemData.Comments.length > 3">({{FeedItemData.NumberOfComments}})</template>
            <button :disabled="IsLoading" v-on:click="getEarlierClinicalAlertItemComments" v-if="!UserHasLoadedMoreComments" aria-label="See earlier comments" class="btn--plain load-comments-btn">Show all comments</button>
          </div>

          <div v-for="(comment) in getCommentsToDisplay" :key="comment.CommentDate" class="comment-block">
            <div class="comment-body">{{comment.Text}}</div>
            <div class="comment-author">
              <Avatar :userId="comment.CommentCreatedBy.ApplicationUserID" :userName="`${comment.CommentCreatedBy.FirstName} ${comment.CommentCreatedBy.LastName}`" :src="comment.ImageUrlOfCommenter"></Avatar><span class="item-author" v-html="getCommentAuthorLabel(comment)"></span>
            </div>
          </div>
        </template>
        <!--New comment-->
        <div class="new-comment-wrapper">
          <feed-item-add-comment v-if="ContentIdKey" @itemCommentAdded="addCommentToFeedItem" :itemId="ContentIdKey"></feed-item-add-comment>
        </div>

      </div>

    </div>
  </div>
</template>

<script>
  /*APIs*/

  import MarkConversationAsRead from 'Endpoints/homeFeed/MarkConversationAsRead';
  import GetCommentsForClinicalAlert from 'Endpoints/clinicalAlerts/GetCommentsForClinicalAlert';
  import Vault from 'Endpoints/careflowApp/Vault';

  /*Components*/
  import FeedItemAddComment from 'VueComponents/feeds/components/FeedItemAddComment';
  import PatientBanner from 'VueComponents/patientBanners/FeedItem__PatientBanner';
  import Avatar from 'VueComponents/utils/users/UserAvatar.vue';

  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import ScrollToEl from 'VueMixins/scrollToElement';

  export default {
  	data: function() {
  		return {
  			HasBeenVisible: false,
  			IsLoading: false,
  			NetworkId: this.networkId,
  			MemberAreaId: this.memberAreaId,
  			PatientId: this.patientId,
  			FeedItemData: this.item,
  			ItemType: this.itemType,
  			ContentIdKey: this.item.hasOwnProperty('ContentItemID')
  				? this.item.ContentItemID
  				: this.item.ConversationTrackableItemId,

  			ThereAreMoreComments:
  				this.item.Comments.length > 3 ||
  				this.item.ClinicalAlertDetails.ThereAreMoreComments, //default bool to set
  			UserHasLoadedMoreComments: false,
  			CountOfUserSessionAddedComments: 0, //Each inline comment added in this session
  			ViewAllSeenByUsers: false,
  			ImageFileUri: null,
  			IsLoadingFullImageFileUri: false,
  			FullImageFileUri: null,
  			VideoFileUri: null,
  			DocumentFileUri: null,
  			FileName: 'Download file',
  			FileExtensionType: null
  		};
  	},
  	props: {
  		item: {
  			type: [Object],
  			required: true,
  			default: null
  		},
  		itemType: {
  			type: [String],
  			required: false,
  			default: null
  		},
  		networkId: {
  			type: [String, Number],
  			required: true,
  			default: false
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false,
  			default: null
  		},
  		patientId: {
  			//Only passed in a patient feed (e.g summary tabs)
  			type: [String, Number],
  			required: false,
  			default: null
  		},

  		isNetworkMemberAreaId: {
  			//For Network updates - memberAreaId === networkMemberAreaId
  			type: [Boolean],
  			required: false,
  			default: false
  		},
  		contentIdToActivate: {
  			type: [String, Number],
  			required: false,
  			default: null
  		}
  	},
  	mixins: [DateFilter, ScrollToEl],
  	filters: {
  		decodeString: function(value) {
  			if (!value) return '';
  			return _.unescape(value);
  		}
  	},
  	components: { FeedItemAddComment, PatientBanner, Avatar },
  	methods: {
  		markFeedItemAsRead() {
  			if (!this.item.IsRead) {
  				console.log('Mark as read' + ' ' + this.ContentIdKey);
  				this.$emit('markItemAsRead', this.ContentIdKey);
  			}
  		},

  		getEarlierClinicalAlertItemComments() {
  			this.UserHasLoadedMoreComments = true; //Feed Api returns all comments

  			if (!this.FeedItemData.ClinicalAlertDetails.ThereAreMoreComments)
  				return false;

  			const take = 10;

  			return GetCommentsForClinicalAlert.callApi(
  				this.ContentIdKey,
  				this.FeedItemData.Comments.length,
  				take
  			)
  				.then(response => {
  					if (response.Data.Comments) {
  						this.item.Comments.unshift(...response.Data.Comments); //Flatten arrays (array pushed into array)
  						this.UserHasLoadedMoreComments = true;
  					}
  					this.FeedItemData.ClinicalAlertDetails.ThereAreMoreComments =
  						response.Data.ThereAreMore;
  					this.IsLoading = false;
  				})
  				.fail(error => {
  					this.IsLoading = false;
  				});
  		},

  		addCommentToFeedItem(comment) {
  			//Event emitted
  			this.FeedItemData.Comments.push({
  				CommentCreatedBy: {
  					ApplicationUserID: Vault.getItem('ApplicationUserID'),
  					FirstName: Vault.getItem('LoggedInUserFirstName'),
  					IsRequestingUser: true,
  					LastName: Vault.getItem('LoggedInUserLastName')
  				},
  				CommentDate: moment(moment())
  					.local()
  					.format(),
  				ImageUrlOfCommenter: Vault.getItem('LoggedInUserAvatar'),
  				Text: comment
  			});

  			(this.FeedItemData.LastCommentText = comment),
  				(this.FeedItemData.LastCommentDate = moment(moment())
  					.local()
  					.format()),
  				(this.FeedItemData.LastCommenter = {
  					ApplicationUserID: Vault.getItem('ApplicationUserID'),
  					FirstName: Vault.getItem('LoggedInUserFirstName'),
  					IsRequestingUser: true,
  					LastName: Vault.getItem('LoggedInUserLastName')
  				});

  			this.FeedItemData.NumberOfComments++; //Update count
  			this.CountOfUserSessionAddedComments++; //Lets not remove comments if user is adding them, display them as added
  		},

  		getCommentAuthorLabel(comment) {
  			return `<a href="/#/Profile/${
  				comment.CommentCreatedBy.ApplicationUserID
  			}">${comment.CommentCreatedBy.FirstName} ${
  				comment.CommentCreatedBy.LastName
  			}</a>  ${this.$options.filters.formatDate(comment.CommentDate)}`;
  		}
  	},
  	watch: {},
  	computed: {
  		getItemAuthorLabel() {
  			//TODO: Should ContentItemUpdatedDate be a created date?
  			return `Started by <a href="/#/Profile/${
  				this.item.CreatedBy.ApplicationUserID
  			}">${this.item.CreatedBy.FirstName} ${
  				this.item.CreatedBy.LastName
  			}</a>  ${this.$options.filters.formatDate(
  				this.item.ContentItemUpdatedDate
  			)}`;
  		},
  		getAuthorLocation() {
  			return `<a title="${this.item.MemberAreaName}" href="/#/${
  				this.NetworkId
  			}/Teams/${this.item.MemberAreaID}/TeamUpdates">${
  				this.item.MemberAreaName
  			}</a>`;
  		},
  		getCommentsToDisplay() {
  			if (this.UserHasLoadedMoreComments) return this.item.Comments;

  			if (this.FeedItemData.Comments.length > 3) {
  				let negativeSlice = Number(3 + this.CountOfUserSessionAddedComments);
  				return this.FeedItemData.Comments.slice(-negativeSlice); //-negative slice take from end - take latest 3 plus any session added comments by the user
  			}
  			return this.FeedItemData.Comments;
  		}
  	},
  	created: function() {},
  	mounted: function() {
  		// Element to be observed
  		let el = this.$refs['feed-item'];
  		// Create new IntersectionObserver
  		const io = new IntersectionObserver(
  			entries => {
  				//if (this.HasBeenVisible) return;
  				// Available data when an intersection happens
  				console.log(entries);
  				// Element enters the visible area of its parent element
  				if (entries[0].intersectionRatio !== 0) {
  					//can be array of intersection points, see browser API docs
  					console.log('im hit by IntersectionObserver');
  					this.HasBeenVisible = true;
  					this.markFeedItemAsRead();
  					io.disconnect(); //All done, so disconnect
  					// Element leaves the visible area of its parent element
  				} else {
  					console.log('i have left IntersectionObserver');
  				}
  			},
  			{
  				// Define an element as the root
  				root: document.querySelector('.js-feed-wrapper')
  			}
  		);
  		// Start observing
  		if (!this.contentIdToActivate) io.observe(el);

  		//activate item if passed
  		if (
  			this.contentIdToActivate &&
  			this.contentIdToActivate === this.ContentIdKey
  		) {
  			this.scrollToEl(this.$refs['feed-item']);
  			io.observe(el);
  		}
  		//Allow a 2 sec timeout for scroll to happen, else media assets loading etc will grow feed item sizes when they load, messing with scroll end position on scrollIntoView. TODO: Investigate better solution
  		if (
  			this.contentIdToActivate &&
  			this.contentIdToActivate !== this.ContentIdKey
  		) {
  			setTimeout(() => {
  				io.observe(el);
  			}, 2000);
  		}
  	}
  };
</script>


<style scoped lang="less">
  @import '../../../../../less/app-variables.less';
  .is-visible {
  }
  .feed-item {
  	position: relative;
  }
  .u-patientBanner {
  	margin-bottom: 0;
  }
  .update-item {
  	display: flex;
  	box-sizing: border-box;
  	flex-flow: column;
  	flex-wrap: nowrap;
  	border: 1px solid @row--border;
  	padding: 0.8em;
  	position: relative;
  	margin: 0 0 1em 0;
  	&.is-patient-update {
  		border-top: none;
  	}
  }
  .item-is-read {
  	position: absolute;
  	top: 7px;
  	right: 7px;
  	color: @text-light;
  	& .material-icons {
  		font-size: 19px;
  		opacity: 0.3;
  	}
  }
  .item-title {
  	font-weight: @font--medium;
  	font-size: 1.1em;
  	margin: 0 0 0.8em 0;
  	width: 97%;
  }

  .item-timestamp {
  	color: @text-light;
  	margin: 0 0 0.8em 0;
  }

  .item-event-date {
  	color: @text-light;
  	margin: 0.8em 0 0 0;
  }

  .author-wrapper {
  	border-bottom: 1px solid @row--border;
  	padding: 0 0 0.5em 0;
  	margin: 0 0 0.5em 0;
  	display: flex;
  	flex-flow: row;
  	justify-content: flex-start;
  	align-items: center;
  	color: @text-light;
  	font-size: 0.9em;
  	& .author-location {
  		margin-left: auto;
  	}
  }

  .item-update-body {
  	margin: 0 0 1em 0;
  	white-space: pre-line;
  	line-height: 1.5em;
  }

  .comments-actions {
  	font-weight: @font--medium;
  	margin: 0 0 0.5em 0;
  }

  .comment-block {
  	background: @feed-comment-block-bg;
  	padding: 0.8em;
  	margin: 0 0 0.5em 0;
  }
  .comment-body {
  	white-space: pre-line;
  	line-height: 1.5em;
  }
  .comment-author {
  	display: flex;
  	flex-flow: row;
  	align-items: center;
  	margin: 0.8em 0 0 0;
  	justify-content: flex-start;
  	color: @text-light;
  	font-size: 0.9em;
  }
  .load-comments-btn {
  	margin: 0 0 0 1em;
  }

  .item-viewd-by-wrapper {
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  }

  .viewed-by-item {
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	align-items: center;
  	margin: 0 1.5em 0.5em 0;
  	min-width: 140px;
  }

  .viewed-by-item-meta {
  	display: flex;
  	flex-direction: column;
  }

  .viewed-by-item-date {
  	color: @text-light;
  	font-size: 0.9em;
  }
  .viewed-by-item-user {
  	display: flex;
  }
</style>
