﻿<template>
  <div class="feedBody__itemReply">
    <ui-textbox placeholder="Add comment" :rows="1" ref="textarea" :multi-line="true" class="itemReply__txtarea" :disabled="IsAddingNewComment" v-model="NewCommentText"></ui-textbox>
    <ui-button color="primary" :disabled="IsAddingNewComment" :loading="IsAddingNewComment" v-if="NewCommentText.length" v-on:click.stop.prevent="addNewFeedItemComment">Add comment</ui-button>
    <ui-button type="secondary" :disabled="IsAddingNewComment" :loading="IsAddingNewComment" v-if="NewCommentText.length" v-on:click.stop.prevent="clearCommentTextArea">Cancel</ui-button>
  </div>
</template>
<script>
  /* API Endpoints */
  import AddCommentToFeedItem from 'Endpoints/homeFeed/AddCommentToFeedItem';
  import Vault from 'Endpoints/careflowApp/Vault';

  export default {
  	data: function() {
  		return {
  			NewCommentText: '',
  			IsAddingNewComment: false
  		};
  	},
  	props: {
  		itemId: {
  			type: [String, Number],
  			required: true,
  			default: null
  		}
  	},
  	methods: {
  		clearCommentTextArea() {
  			if (this.$refs.textarea) {
  				this.$nextTick(() => {
  					this.NewCommentText = '';
  					this.$refs.textarea.refreshSize();
  					this.$refs.textarea.resetTouched();
  					return;
  				});
  			}
  			return (this.NewCommentText = '');
  		},

  		addNewFeedItemComment() {
  			if (!this.NewCommentText.length || !this.NewCommentText.trim()) {
  				if (this.$refs.textarea) {
  					this.$nextTick(() => {
  						this.$refs.textarea.refreshSize();
  						this.$refs.textarea.resetTouched();
  						return (this.NewCommentText = '');
  					});
  				}
  				return (this.NewCommentText = '');
  			}

  			this.IsAddingNewComment = true;

  			//Api call
  			AddCommentToFeedItem.callApi(this.itemId, this.NewCommentText)
  				.then((data, textStatus, jqXHr) => {
  					if (/^2/.test(jqXHr.status)) {
  						//Update Added
  						this.$emit('itemCommentAdded', this.NewCommentText);
  					}
  					this.NewCommentText = ''; //reset text
  					this.clearCommentTextArea();
  					this.IsAddingNewComment = false;
  				})
  				.fail(function() {
  					//TODO: local error handler
  				});
  		}
  	},
  	computed: {},
  	mounted: function() {}
  };
</script>
<style scoped lang="less">
  .feedBody__itemReply {
  	margin: 1em 0;
  }
</style>
<custom>
    Add a comment to a feed item
</custom>
