﻿<template>

  <div ref="item-expanded">
    <UpdateItem v-if="ItemType === 'Update' || ItemType === 'PatientUpdate' || ItemType === 'ImageFile' || ItemType === 'Document' || ItemType === 'Event' || ItemType === 'VideoFile'" :item="FeedItemData" :itemType="ItemType" :networkId="NetworkId" :memberAreaId="MemberAreaId" :patientId="PatientId" :isNetworkMemberAreaId="isNetworkMemberAreaId" @markItemAsRead="markFeedItemAsRead" :contentIdToActivate="contentIdToActivate"></UpdateItem>
    <ReferralItem v-if="ItemType === 'Referral'" :item="FeedItemData" :itemType="ItemType" :networkId="NetworkId" :memberAreaId="MemberAreaId" :patientId="PatientId" :isNetworkMemberAreaId="isNetworkMemberAreaId" @markItemAsRead="markFeedItemAsRead" :contentIdToActivate="contentIdToActivate"></ReferralItem>
    <ClinicalAlertItem v-if="ItemType === 'ClinicalAlert'" :item="FeedItemData" :itemType="ItemType" :networkId="NetworkId" :memberAreaId="MemberAreaId" :patientId="PatientId" :isNetworkMemberAreaId="isNetworkMemberAreaId" @markItemAsRead="markFeedItemAsRead" :contentIdToActivate="contentIdToActivate"></ClinicalAlertItem>
  </div>
</template>

<script>
  /*APIs*/

  import MarkConversationAsRead from 'Endpoints/homeFeed/MarkConversationAsRead';
  import GetCommentsForClinicalAlert from 'Endpoints/clinicalAlerts/GetCommentsForClinicalAlert';

  import Vault from 'Endpoints/careflowApp/Vault';

  /*Components*/
  import FeedItemAddComment from 'VueComponents/feeds/components/FeedItemAddComment';
  import PatientBanner from 'VueComponents/patientBanners/FeedItem__PatientBanner';
  import UpdateItem from 'VueComponents/feeds/components/UpdateItem';
  import ReferralItem from 'VueComponents/feeds/components/ReferralItem';
  import ClinicalAlertItem from 'VueComponents/feeds/components/ClinicalAlertItem';

  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import ScrollToEl from 'VueMixins/scrollToElement';

  export default {
  	data: function() {
  		return {
  			NetworkId: this.networkId,
  			MemberAreaId: this.memberAreaId,
  			PatientId: this.patientId,
  			FeedItemData: this.data,
  			ItemType: null,
  			ContentIdKey: null,
  			ContentIdToActivate: this.contentIdToActivate,
  			ViewAllSeenByUsers: false
  		};
  	},
  	props: {
  		data: {
  			type: [Object],
  			required: true,
  			default: null
  		},
  		networkId: {
  			type: [String, Number],
  			required: true,
  			default: false
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false,
  			default: null
  		},
  		patientId: {
  			//Only passed in a patient feed (e.g summary tabs)
  			type: [String, Number],
  			required: false,
  			default: null
  		},
  		contentIdToActivate: {
  			type: [String, Number],
  			required: false,
  			default: null
  		},
  		isNetworkMemberAreaId: {
  			//For Network updates - memberAreaId === networkMemberAreaId
  			type: [Boolean],
  			required: false,
  			default: false
  		}
  	},
  	mixins: [DateFilter, ScrollToEl],
  	filters: {
  		decodeString: function(value) {
  			if (!value) return '';
  			return _.unescape(value);
  		}
  	},
  	components: {
  		FeedItemAddComment,
  		PatientBanner,
  		UpdateItem,
  		ReferralItem,
  		ClinicalAlertItem
  	},
  	methods: {
  		getFeedItemType() {
  			if (this.data.ClinicalAlertDetails) return 'ClinicalAlert';
  			if (this.data.ReferralDetails) return 'Referral';
  			if (this.data.IsImageFile) return 'ImageFile';
  			if (
  				this.data.DocumentMimeType &&
  				this.data.DocumentMimeType.toLowerCase().includes('video')
  			)
  				return 'VideoFile';
  			if (this.data.DocumentMimeType) return 'Document';
  			if (this.data.EventStartDate) return 'Event';
  			if (
  				(this.data.PatientDetails || this.data.PatientExternalIdentifier) &&
  				!this.data.ReferralDetails
  			)
  				return 'PatientUpdate';
  			return 'Update';
  		},

  		getFeedItemContentKey() {
  			//API returns different prop for patient or team feed :( Set a standard key
  			let idType = this.data.hasOwnProperty('ContentItemID')
  				? this.data.ContentItemID
  				: this.data.ConversationTrackableItemId; //If a patient feed
  			if (idType) return idType;
  			return null;
  		},

  		markFeedItemAsRead(contentId) {
  			if (this.FeedItemData.IsRead) return;

  			MarkConversationAsRead.callApi(contentId)
  				.then((data, textStatus, jQXHr) => {
  					if (/^2/.test(jQXHr.status)) {
  						setTimeout(() => {
  							this.FeedItemData.IsRead = true;
  						}, 2000); //Add a 2 sec delay for UI, before changing bool which will flow down to child

  						//If its an alert, mark it as viewed
  						if (this.ItemType === 'ClinicalAlert') {
  							if (!Array.isArray(this.data.ClinicalAlertDetails.ViewedBy))
  								return;

  							const index = this.data.ClinicalAlertDetails.ViewedBy.findIndex(
  								user =>
  									user.Viewer.ApplicationUserID ===
  									Vault.getItem('ApplicationUserID')
  							);

  							if (index !== -1) return; //Found, so bail

  							this.data.ClinicalAlertDetails.ViewedBy.push({
  								FirstViewedDate: moment(moment())
  									.local()
  									.format(),
  								ImageUrlOfViewer: Vault.getItem('LoggedInUserAvatar'),
  								LastViewedDate: moment(moment())
  									.local()
  									.format(),
  								Viewer: {
  									ApplicationUserID: Vault.getItem('ApplicationUserID'),
  									FirstName: Vault.getItem('LoggedInUserFirstName'),
  									IsRequestingUser: true,
  									LastName: Vault.getItem('LoggedInUserLastName')
  								}
  							});
  						}
  					}
  				})
  				.fail(error => {});
  		},


  	},
  	watch: {},
  	computed: {},
  	created: function() {},
  	mounted: function() {
  		this.ItemType = this.getFeedItemType();
  		this.ContentIdKey = this.getFeedItemContentKey();
  	}
  };
</script>


<style scoped lang="less">
  @import '../../../../../less/app-variables.less';
</style>
