<template>
  <div :class="{'is-visible':HasBeenVisible, 'feed-item': true}" ref="feed-item">

    <!--PatientBanner-->
    <PatientBanner v-if="!PatientId" :networkId="NetworkId" :memberAreaId="MemberAreaId" :patient="item.PatientDetails" :patientId="item.PatientDetails.PatientExternalIdentifier"></PatientBanner>
    <div :class="{'update-item':true, 'is-patient-update': ItemType === 'PatientUpdate'}" ref="item-expanded">

      <!--IsRead-->
      <div class="item-is-read">
        <span v-if="!item.IsRead" class="u-unread-icon"></span>
        <i v-else ref="read-item-description" class="material-icons">check</i>
        <ui-popover v-if="item.IsRead" class="custom-popover" openOn="hover" trigger="read-item-description">
          <div>This item has been read</div>
        </ui-popover>
      </div>

      <!--title-->
      <div v-html="getReferralTitle" class="item-title">{{item.Title}}</div>

      <!--author-->
      <div class="author-wrapper">
        <Avatar :userId="item.CreatedBy.ApplicationUserID" :userName="`${item.CreatedBy.FirstName} ${item.CreatedBy.LastName}`" :src="item.ImageUrlOfContentItemCreatedBy"></Avatar><span class="item-author" v-html="getItemAuthorLabel"></span><span v-if="!isNetworkMemberAreaId" v-html="getAuthorLocation" class="author-location"></span>
      </div>

      <!--item body - referral SBAR-->
      <div class="item-update-body">
        <div v-for="(item) in getSbarSortedFields" :key="item.Name" class="sbar-wrapper"><span class="sbar-label">{{item.Name}}:</span><span class="sbar-text">{{item.Value}}</span></div>
      </div>

      <!--Referral status-->
      <div class="referral-status-wrapper">
        <!--Referral Update-->
        <template v-if="FeedItemData.ReferralDetails.StatusesUserCanApply.length">

          <div class="status-label">Status:
            <div ref="trigger" class="popover-trigger"><span :class="getReferralClass(FeedItemData.ReferralDetails.ReferralStatusId)">Referral {{FeedItemData.ReferralDetails.ReferralStatusName.toLowerCase()}}</span><i v-if="FeedItemData.ReferralDetails.StatusesUserCanApply.length" class="material-icons">arrow_drop_down</i></div>
          </div>

          <ui-popover ref="referralstatusedit" class="custom-popover teamReferral-status-popover" trigger="trigger">

            <ui-select label="" placeholder="Select a status" class="u-txt-capitalise referal-status-ddl" :disabled="IsLoading" :options="getReferralStatusesUserCanApply" v-model="ReferralUpdate.UpdateStatus"></ui-select>

            <div class="referal-status-input-wrapper">
              <ui-textbox :rows="2" ref="referralstatuscomment" placeholder="Add a comment" :multi-line="true" name="comment" class="" :disabled="IsLoading" v-model="ReferralUpdate.Comment"></ui-textbox>
            </div>

            <div class="help is-danger" v-if="ReferralUpdate.CustomErrorMessage">
              <div>{{ReferralUpdate.CustomErrorMessage}}</div>
            </div>

            <ui-button typeof="button" color="primary" :disabled="IsLoading || !ReferralUpdate.UpdateStatus" :loading="IsLoading" v-on:click.stop.prevent="updateReferralStatus">Update status</ui-button>

          </ui-popover>
        </template>
        <template v-else>
          <!--No statuses to apply-->
          <div>Referral status: <span :class="getReferralStatusClass(FeedItemData.ReferralDetails.ReferralStatusId)"></span><span class="popover-trigger" :class="getReferralClass(FeedItemData.ReferralDetails.ReferralStatusId)">{{FeedItemData.ReferralDetails.ReferralStatusName}}</span></div>
        </template>
      </div>

      <div class="item-comments">

        <template v-if="FeedItemData.Comments.length">

          <div class="comments-actions">Comments <template v-if="FeedItemData.Comments.length > 3">({{FeedItemData.NumberOfComments}})</template>
            <button :disabled="IsLoading" v-on:click="getEarlierFeedItemComments" v-if="FeedItemData.NumberOfComments > 3 && ThereAreMoreComments" aria-label="See earlier comments" class="btn--plain load-comments-btn">Show all comments</button>
          </div>

          <div v-for="(comment) in getCommentsToDisplay" :key="comment.CommentDate" class="comment-block">
            <div v-if="comment.ReferralStatusDetails" class="comment-body-referral"><span :class="getReferralClass(comment.ReferralStatusDetails.ReferralStatusId)">{{comment.ReferralStatusDetails.ReferralStatusDescription}}</span></div>
            <div class="comment-body">{{comment.Text}}</div>
            <div class="comment-author">
              <Avatar :userId="comment.CommentCreatedBy.ApplicationUserID" :userName="`${comment.CommentCreatedBy.FirstName} ${comment.CommentCreatedBy.LastName}`" :src="comment.ImageUrlOfCommenter"></Avatar><span class="item-author" v-html="getCommentAuthorLabel(comment)"></span>
            </div>
          </div>
        </template>
        <!--New comment-->
        <div class="new-comment-wrapper">
          <feed-item-add-comment v-if="ContentIdKey" @itemCommentAdded="addCommentToFeedItem" :itemId="ContentIdKey"></feed-item-add-comment>
        </div>

      </div>

    </div>
  </div>
</template>

<script>
  /*APIs*/
  import GetCommentsForFeedItems from 'Endpoints/homeFeed/GetCommentsForFeedItems';
  import UpdateReferralStatus from 'Endpoints/referral/UpdateReferralStatus';
  import Vault from 'Endpoints/careflowApp/Vault';
  import DownloadJs from 'downloadjs';
  //import VueWaypoint from 'vue-waypoint';

  /*Components*/
  import FeedItemAddComment from 'VueComponents/feeds/components/FeedItemAddComment';
  import PatientBanner from 'VueComponents/patientBanners/FeedItem__PatientBanner';
  import Avatar from 'VueComponents/utils/users/UserAvatar.vue';

  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import ScrollToEl from 'VueMixins/scrollToElement';

  export default {
  	data: function() {
  		return {
  			HasBeenVisible: false,
  			IsLoading: false,
  			NetworkId: this.networkId,
  			MemberAreaId: this.memberAreaId,
  			PatientId: this.patientId,
  			FeedItemData: this.item,
  			ReferralUpdate: {
  				Comment: '',
  				UpdateStatus: '', //Default
  				CustomErrorMessage: ''
  			},
  			ItemType: this.itemType,
  			ContentIdKey: this.item.hasOwnProperty('ContentItemID')
  				? this.item.ContentItemID
  				: this.item.ConversationTrackableItemId,
  			ThereAreMoreComments: this.item.NumberOfComments > 3, //default bool to set
  			UserHasLoadedMoreComments: false,
  			CountOfUserSessionAddedComments: 0, //Each inline comment added in this session
  			ViewAllSeenByUsers: false
  		};
  	},
  	props: {
  		item: {
  			type: [Object],
  			required: true,
  			default: null
  		},
  		itemType: {
  			type: [String],
  			required: false,
  			default: null
  		},
  		networkId: {
  			type: [String, Number],
  			required: true,
  			default: false
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false,
  			default: null
  		},
  		patientId: {
  			//Only passed in a patient specific feed (e.g dashboard summary tabs)
  			type: [String, Number],
  			required: false,
  			default: null
  		},
  		isNetworkMemberAreaId: {
  			//For Network updates - memberAreaId === networkMemberAreaId
  			type: [Boolean],
  			required: false,
  			default: false
  		},
  		contentIdToActivate: {
  			type: [String, Number],
  			required: false,
  			default: null
  		}
  	},
  	mixins: [DateFilter, ScrollToEl],
  	filters: {
  		formatFileSize: function(value) {
  			if (value == 0) return '0 Bytes';
  			var k = 1000,
  				dm = 2, //decimalPoint
  				sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
  				i = Math.floor(Math.log(value) / Math.log(k));
  			return parseFloat((value / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
  		}
  	},
  	components: { FeedItemAddComment, PatientBanner, Avatar },
  	methods: {
  		markFeedItemAsRead() {
  			if (!this.item.IsRead) {
  				console.log('Mark as read' + ' ' + this.ContentIdKey);
  				this.$emit('markItemAsRead', this.ContentIdKey);
  			}
  		},

  		getEarlierFeedItemComments() {
  			this.IsLoading = true;
  			const take = Number(
  				this.FeedItemData.NumberOfComments - this.FeedItemData.Comments.length
  			);
  			return GetCommentsForFeedItems.callApi(
  				this.ContentIdKey,
  				this.FeedItemData.Comments.length,
  				take
  			)
  				.then(response => {
  					if (response.Data.Comments) {
  						this.item.Comments.unshift(...response.Data.Comments); //Flatten arrays (array pushed into array)
  						this.UserHasLoadedMoreComments = true;
  					}
  					this.ThereAreMoreComments = response.Data.ThereAreMore;
  					this.IsLoading = false;
  				})
  				.fail(error => {
  					this.IsLoading = false;
  				});
  		},

  		addCommentToFeedItem(comment) {
  			//Event emitted
  			this.FeedItemData.Comments.push({
  				CommentCreatedBy: {
  					ApplicationUserID: Vault.getItem('ApplicationUserID'),
  					FirstName: Vault.getItem('LoggedInUserFirstName'),
  					IsRequestingUser: true,
  					LastName: Vault.getItem('LoggedInUserLastName')
  				},
  				CommentDate: moment(moment())
  					.local()
  					.format(),
  				ImageUrlOfCommenter: Vault.getItem('LoggedInUserAvatar'),
  				Text: comment
  			});

  			(this.FeedItemData.LastCommentText = comment),
  				(this.FeedItemData.LastCommentDate = moment(moment())
  					.local()
  					.format()),
  				(this.FeedItemData.LastCommenter = {
  					ApplicationUserID: Vault.getItem('ApplicationUserID'),
  					FirstName: Vault.getItem('LoggedInUserFirstName'),
  					IsRequestingUser: true,
  					LastName: Vault.getItem('LoggedInUserLastName')
  				});

  			this.FeedItemData.NumberOfComments++; //Update count
  			this.CountOfUserSessionAddedComments++; //Lets not remove comments if user is adding them, display them as added
  		},

  		getCommentAuthorLabel(comment) {
  			return `<a href="/#/Profile/${
  				comment.CommentCreatedBy.ApplicationUserID
  			}">${comment.CommentCreatedBy.FirstName} ${
  				comment.CommentCreatedBy.LastName
  			}</a>  ${this.$options.filters.formatDate(comment.CommentDate)}`;
  		},

  		getReferralStatusName: function(statusId) {
  			switch (parseInt(statusId)) {
  				case 1:
  					return 'pending';
  				case 2:
  					return 'accepted';
  				case 3:
  					return 'declined';
  				case 4:
  					return 'cancelled';
  				default:
  					return '';
  			}
  		},

  		getReferralStatusClass: function(id) {
  			/*For blobs*/
  			if (id === 1) return 'referralStatus-icon--1';
  			if (id === 2) return 'referralStatus-icon--2';
  			if (id === 3) return 'referralStatus-icon--3';
  			if (id === 4) return 'referralStatus-icon--4';
  			return '';
  		},

  		getReferralClass(id) {
  			/*For text labels*/
  			switch (id) {
  				case 1:
  					return 'referralStatus referralStatus-pending';
  				case 2:
  					return 'referralStatus referralStatus-accepted';
  				case 3:
  					return 'referralStatus referralStatus-declined';
  				case 4:
  					return 'referralStatus referralStatus-cancelled';
  				default:
  					return 'referralStatus';
  			}
  		},

  		updateReferralStatus() {
  			if (
  				!this.ReferralUpdate.UpdateStatus ||
  				!this.ReferralUpdate.UpdateStatus.value
  			)
  				return false;

  			//Validate the form
  			if (
  				this.ReferralUpdate.UpdateStatus.value === 3 &&
  				!this.ReferralUpdate.Comment.trim()
  			)
  				return (this.ReferralUpdate.CustomErrorMessage =
  					'Please enter a reason for declining');

  			this.IsLoading = true;
  			this.ReferralUpdate.CustomErrorMessage = '';

  			UpdateReferralStatus.callApi(
  				this.ContentIdKey,
  				this.ReferralUpdate.Comment,
  				this.FeedItemData.ReferralDetails.TargetMemberAreaId,
  				this.ReferralUpdate.UpdateStatus.value
  			)
  				.then((data, textStatus, jqXHR) => {
  					//Process update

  					this.FeedItemData.ReferralDetails.ReferralStatusId = this.ReferralUpdate.UpdateStatus.value;
  					this.FeedItemData.ReferralDetails.ReferralStatusDescription =
  						'Referral ' +
  						this.getReferralStatusName(this.ReferralUpdate.UpdateStatus.value) +
  						' by ' +
  						appMain.getMemberAreaName(
  							this.FeedItemData.ReferralDetails.TargetMemberAreaId
  						);
  					this.FeedItemData.ReferralDetails.ReferralStatusName = this.getReferralStatusName(
  						this.ReferralUpdate.UpdateStatus.value
  					);
  					this.FeedItemData.Comments.push({
  						Text: this.ReferralUpdate.Comment,
  						ImageUrlOfCommenter: Vault.getItem('LoggedInUserAvatar'),
  						CommentDate: moment
  							.utc()
  							.local()
  							.format(),
  						LastCommentDate: moment
  							.utc()
  							.local()
  							.format(),
  						CommentCreatedBy: {
  							ApplicationUserID: Vault.getItem('ApplicationUserID'),
  							FirstName: Vault.getItem('LoggedInUserFirstName'),
  							LastName: Vault.getItem('LoggedInUserLastName'),
  							IsRequestingUser: true
  						},
  						ReferralStatusDetails: {
  							ReferralStatusId: this.ReferralUpdate.UpdateStatus.value,
  							ReferralStatusName: this.getReferralStatusName(
  								this.ReferralUpdate.UpdateStatus.value
  							).replace(/\b\w/g, function(l) {
  								return l.toUpperCase();
  							}),
  							ReferralStatusDescription: `Referral ${this.getReferralStatusName(
  								this.ReferralUpdate.UpdateStatus.value
  							)} by ${appMain.getMemberAreaName(
  								this.FeedItemData.ReferralDetails.TargetMemberAreaId
  							)}`
  						}
  					});
  					//Clear down
  					this.ReferralUpdate.Comment = '';
  					this.ReferralUpdate.UpdateStatus = '';
  					this.IsLoading = false;
  					this.FeedItemData.NumberOfComments++; //Update count

  					//Update options from response data
  					this.FeedItemData.ReferralDetails.StatusesUserCanApply =
  						data.Data.StatusesUserCanApply || [];

  					if (this.$refs.referralstatuscomment) {
  						this.$nextTick(() => {
  							this.$refs.referralstatuscomment.refreshSize();
  							this.$refs.referralstatuscomment.resetTouched();
  							this.$refs.referralstatusedit.close(); //Close popover
  							return;
  						});
  					}
  				})
  				.fail((jqXHR, textStatus, errorThrown) => {
  					// appMain.triggerAppNotification({
  					// 	Text: 'There was a problem processing your request, please try again',
  					// 	Icon: 'error',
  					// });
  				});

  			this.$emit('updated-referral-status', {});
  		}
  	},
  	watch: {},
  	computed: {
  		getItemAuthorLabel() {
  			//TODO: Should ContentItemUpdatedDate be a created date?
  			return `Started by <a href="/#/Profile/${
  				this.item.CreatedBy.ApplicationUserID
  			}">${this.item.CreatedBy.FirstName} ${
  				this.item.CreatedBy.LastName
  			}</a>  ${this.$options.filters.formatDate(
  				this.item.ContentItemUpdatedDate
  			)}`;
  		},
  		getAuthorLocation() {
  			const memberAreaId = this.item.MemberAreaID
  				? this.item.MemberAreaID
  				: appMain.getMemberAreaIdFromNamePassedAsString(
  						this.item.MemberAreaName
  				  ); //Until GetPatientFeedItems returns a memberAreaId as well as MemberAreaName, this is the best I can do to set the memberarea context.

  			return `<a title="${this.item.MemberAreaName}" href="/#/${
  				this.NetworkId
  			}/Teams/${memberAreaId}/TeamUpdates">${this.item.MemberAreaName}</a>`;
  		},
  		getCommentsToDisplay() {
  			if (this.UserHasLoadedMoreComments) return this.item.Comments;

  			if (this.FeedItemData.Comments.length > 3) {
  				let negativeSlice = Number(3 + this.CountOfUserSessionAddedComments);
  				return this.FeedItemData.Comments.slice(-negativeSlice); //-negative slice take from end - take latest 3 plus any session added comments by the user
  			}
  			return this.FeedItemData.Comments;
  		},

  		getReferralTitle() {
  			if (!this.item.ReferralDetails) return ``;
  			return `Team referral from <a href="/#/${this.NetworkId}/Teams/${
  				this.item.ReferralDetails.SendingMemberAreaId
  			}/TeamUpdates" title="${
  				this.item.ReferralDetails.SendingMemberAreaName
  			}">${
  				this.item.ReferralDetails.SendingMemberAreaName
  			}</a> to <a href="/#/${this.NetworkId}/Teams/${
  				this.item.ReferralDetails.ReceivingMemberAreaId
  			}/TeamUpdates" title="${
  				this.item.ReferralDetails.ReceivingMemberAreaName
  			}">${this.item.ReferralDetails.ReceivingMemberAreaName}</a>`;
  		},

  		getReferralStatusesUserCanApply() {
  			//Referral statuses
  			if (
  				!this.FeedItemData.ReferralDetails ||
  				!this.FeedItemData.ReferralDetails.StatusesUserCanApply
  			)
  				return [];
  			return this.FeedItemData.ReferralDetails.StatusesUserCanApply.map(
  				(item, index, array) => {
  					return {
  						label: item.StatusName,
  						value: item.ReferralStatusId
  					};
  				}
  			);
  		},

  		getSbarSortedFields() {
  			//Sort by SBAR keys - ios / Android does not construct obj correctly, API does not sort!
  			if (
  				!this.FeedItemData.ReferralDetails ||
  				!this.FeedItemData.ReferralDetails.ReferralContent
  			)
  				return [];

  			let getIndexKey = name => {
  				if (name === 'Situation') return 0;
  				if (name === 'Background') return 1;
  				if (name === 'Assessment') return 2;
  				if (name === 'Recommendation') return 3;
  				return Infinity;
  			};

  			//Sort by SBAR keys - ios does not construct obj correctly, API does not sort!
  			let sortedData =
  				this.FeedItemData.ReferralDetails.ReferralContent.map(
  					(item, index, array) => {
  						return {
  							Name: item.Name,
  							Value: item.Value,
  							IndexKey: getIndexKey(item.Name)
  						};
  					}
  				) || [];

  			// sort by IndexKey
  			sortedData.sort((a, b) => {
  				return a.IndexKey - b.IndexKey;
  			});

  			return sortedData || [];
  		}
  	},
  	created: function() {},
  	mounted: function() {
  		// Element to be observed
  		let el = this.$refs['feed-item'];
  		let intersectionRatio = 0;
  		// Create new IntersectionObserver
  		const io = new IntersectionObserver(
  			entries => {
  				// Available data when an intersection happens
  				console.log(entries);
  				// Element enters the visible area of its parent element
  				if (entries[0].intersectionRatio !== 0) {
  					//can be array of intersection points, see browser API docs
  					//if (this.HasBeenVisible) return;
  					console.log('im hit by IntersectionObserver');
  					// How much of the element is visible
  					intersectionRatio = entries[0].intersectionRatio;
  					this.HasBeenVisible = true;
  					this.markFeedItemAsRead();
  					io.disconnect(); //All done, so disconnect
  					// Element leaves the visible area of its parent element
  				} else {
  					console.log('i have left IntersectionObserver');
  				}
  			},
  			{
  				// Define an element as the root
  				root: document.querySelector('.js-feed-wrapper')
  				//threshold: [0, 0.25, 0.5, 0.75, 1]
  			}
  		);
  		// Start observing
  		if (!this.contentIdToActivate) io.observe(el);

  		//activate item if passed
  		if (
  			this.contentIdToActivate &&
  			this.contentIdToActivate === this.ContentIdKey
  		) {
  			this.scrollToEl(this.$refs['feed-item']);
  			io.observe(el);
  		}
  		//Allow a 2 sec timeout for scroll to happen, else media assets loading etc will grow feed item sizes when they load, messing with scroll end position on scrollIntoView. TODO: Investigate better solution
  		if (
  			this.contentIdToActivate &&
  			this.contentIdToActivate !== this.ContentIdKey
  		) {
  			setTimeout(() => {
  				io.observe(el);
  			}, 2000);
  		}
  	}
  };
</script>


<style scoped lang="less">
  @import '../../../../../less/app-variables.less';
  .is-visible {
  }
  .feed-item {
  	position: relative;
  }
  .u-patientBanner {
  	margin-bottom: 0;
  }
  .update-item {
  	display: flex;
  	box-sizing: border-box;
  	flex-flow: column;
  	flex-wrap: nowrap;
  	border: 1px solid @row--border;
  	padding: 0.8em;
  	position: relative;
  	margin: 0 0 1em 0;
  	&.is-patient-update {
  		border-top: none;
  	}
  }
  .item-is-read {
  	position: absolute;
  	top: 7px;
  	right: 7px;
  	color: @text-light;
  	& .material-icons {
  		font-size: 19px;
  		opacity: 0.3;
  	}
  }
  .item-title {
  	font-weight: @font--medium;
  	font-size: 1.1em;
  	margin: 0 0 0.8em 0;
  	width: 97%;
  }

  .author-wrapper {
  	display: flex;
  	flex-flow: row;
  	justify-content: flex-start;
  	align-items: center;
  	color: @text-light;
  	font-size: 0.9em;
  	& .author-location {
  		margin-left: auto;
  	}
  }
  .comment-body {
  	white-space: pre-line;
  	line-height: 1.5em;
  }
  .comment-body-referral {
  	margin: 0 0 0.5em 0;
  	& .referralStatus {
  		margin-left: 0;
  	}
  }

  .referral-status-wrapper {
  	display: flex;
  	flex-flow: row;
  	justify-content: flex-start;
  	//border-bottom: 1px solid @row--border;
  	margin: 0 0 1em 0;
  	padding: 0 0 0.5em 0;
  	& .status-label {
  		display: flex;
  		flex-flow: row;
  		align-items: center;
  		> div {
  			display: flex;
  			flex-flow: row;
  			align-items: center;
  		}
  		& .popover-trigger {
  			background: @feed-comment-block-bg;
  			margin: 0 0 0 1em;
  			align-items: center;
  			padding: 0.2em;
  			&:hover {
  				cursor: pointer;
  			}
  		}
  	}
  }

  .referal-status-input-wrapper {
  	margin: 2em 0 0 0;
  }

  .referralStatus {
  	text-transform: inherit;
  	margin: 0 0 0 0.5em;
  }

  .item-update-body {
  	margin: 0.5em 0 1.8em 0;
  	padding: 0.5em 0 0 0;
  	display: flex;
  	flex-flow: column;
  	border-top: 1px solid @row--border;
  }

  .sbar-wrapper {
  	display: flex;
  	flex-flow: column;
  	margin: 0 0 1em 0;
  	white-space: pre-line;
  	&:last-of-type {
  		margin-bottom: 0;
  	}
  	& .sbar-label {
  		font-weight: @font--medium;
  		margin: 0 0 0.3em 0;
  	}
  	& .sbar-text {
  		line-height: 1.5em;
  	}
  }

  .comments-actions {
  	font-weight: @font--medium;
  	margin: 0 0 0.5em 0;
  }

  .comment-block {
  	background: @feed-comment-block-bg;
  	padding: 0.8em;
  	margin: 0 0 0.5em 0;
  }
  .comment-author {
  	display: flex;
  	flex-flow: row;
  	align-items: center;
  	margin: 0.8em 0 0 0;
  	justify-content: flex-start;
  	color: @text-light;
  	font-size: 0.9em;
  }
  .load-comments-btn {
  	margin: 0 0 0 1em;
  }
</style>
