<template>
  <div :class="{'is-visible':HasBeenVisible, 'feed-item': true}" ref="feed-item">
    <!--PatientBanner-->
    <PatientBanner v-if="ItemType === 'PatientUpdate' && !PatientId" :networkId="NetworkId" :memberAreaId="MemberAreaId" :patient="item.PatientDetails" :patientId="item.PatientDetails.PatientExternalIdentifier"></PatientBanner>
    <div :class="{'update-item':true, 'is-patient-update': ItemType === 'PatientUpdate' && !PatientId}" ref="item-expanded">

      <!--IsRead-->
      <div class="item-is-read">
        <span v-if="!item.IsRead" class="u-unread-icon"></span>
        <i v-else ref="read-item-description" class="material-icons">check</i>
        <ui-popover v-if="item.IsRead" class="custom-popover" openOn="hover" trigger="read-item-description">
          <div>This item has been read</div>
        </ui-popover>
      </div>

      <!--title-->
      <div class="item-title">{{item.Title}}</div>

      <!--author-->
      <div class="author-wrapper">
        <Avatar :userId="item.CreatedBy.ApplicationUserID" :userName="`${item.CreatedBy.FirstName} ${item.CreatedBy.LastName}`" :src="item.ImageUrlOfContentItemCreatedBy"></Avatar><span class="item-author" v-html="getItemAuthorLabel"></span><span v-if="!isNetworkMemberAreaId" v-html="getAuthorLocation" class="author-location"></span>
      </div>

      <div v-if="ItemType !== 'PatientUpdate' && ItemType !== 'Update'" class="item-update-attachment">

        <!--Image-->
        <div v-if="ItemType === 'ImageFile' && ImageFileUri">
          <img :name="item.ContentItemDescription || item.Title" :title="item.ContentItemDescription || item.Title" :alt="item.ContentItemDescription || item.Title" v-on:click="getFullImageView()" class="feedBody__item-img" :src="ImageFileUri" />
        </div>

        <!--Video-->
        <div v-if="ItemType === 'VideoFile' && VideoFileUri && ImageFileUri" class="feedBody__item-video">
          <video :poster="ImageFileUri" ref="feed-item-video" width="400" controls>
            <source :src="VideoFileUri" type="video/mp4" />Your browser does not support the video tag.
          </video>
        </div>

        <!--Document-->
        <div class="attachment-document-wrapper" v-if="ItemType === 'Document' && DocumentFileUri">
          <div class="attachment-icon"><img :src="getMimeTypeIcon" class="mime-icon" /></div>
          <div class="attachment-actions">
            <button :disabled="IsLoading" class="btn--plain btn--download" v-on:click="downloadFile()">{{FileName}}</button>
            <div class="file-size">{{item.DocumentFileSize | formatFileSize}}</div>
          </div>

        </div>

        <!--Event-->
        <div v-if="ItemType === 'Event'" class="feedBody__item-event">

          <div class="pure-u event__icon">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </div>
          <div class="pure-u">
            <div class="event__time">
              {{item.EventStartDate | formatDate}} to {{item.EventEndDate | formatDate}}
            </div>
            <div class="event__location">
              Location: {{item.EventLocation}}
            </div>
            <div class="event__address">
              <div>{{item.EventAddress.AddressNameNo}}</div>
              <div>{{item.EventAddress.AddressLine1}}</div>
              <div>{{item.EventAddress.AddressLine2}}</div>
              <div>{{item.EventAddress.AddressCounty}}</div>
              <div>{{item.EventAddress.AddressPostcode}}</div>
            </div>
          </div>
        </div>

        <!--Referral-->

      </div>

      <!--item body-->
      <div class="item-update-body">
        <div v-if="item.ConversationBody">{{item.ConversationBody}}</div>
        <div v-if="item.ContentItemDescription && !item.ConversationBody">{{item.ContentItemDescription}}</div>
      </div>

      <div class="item-comments">

        <template v-if="FeedItemData.Comments.length">

          <div class="comments-actions">Comments <template v-if="FeedItemData.Comments.length > 3">({{FeedItemData.NumberOfComments}})</template>
            <button :disabled="IsLoading" v-on:click="getEarlierFeedItemComments" v-if="FeedItemData.NumberOfComments > 3 && ThereAreMoreComments" aria-label="See earlier comments" class="btn--plain load-comments-btn">Show all comments</button>
          </div>

          <div v-for="(comment) in getCommentsToDisplay" :key="comment.CommentDate" class="comment-block">
            <div class="comment-body">{{comment.Text}}</div>
            <div class="comment-author">
              <Avatar :userId="comment.CommentCreatedBy.ApplicationUserID" :userName="`${comment.CommentCreatedBy.FirstName} ${comment.CommentCreatedBy.LastName}`" :src="comment.ImageUrlOfCommenter"></Avatar><span class="item-author" v-html="getCommentAuthorLabel(comment)"></span>
            </div>
          </div>
        </template>
        <!--New comment-->
        <div class="new-comment-wrapper">
          <feed-item-add-comment v-if="ContentIdKey" @itemCommentAdded="addCommentToFeedItem" :itemId="ContentIdKey"></feed-item-add-comment>
        </div>

      </div>

    </div>
    <!--Modals-->
    <ui-modal v-if="ItemType === 'ImageFile' && ImageFileUri" :promptBeforeClose="false" dismissOn="close-button" ref="full-view-modal" size="fit-content" :title="FeedItemData.ContentItemDescription || FeedItemData.Title" @close="modalClosed()">
      <ui-progress-circular v-if="IsLoadingFullImageFileUri" color="primary"></ui-progress-circular>
      <img v-else :name="FeedItemData.ContentItemDescription || FeedItemData.Title" :alt="FeedItemData.ContentItemDescription || FeedItemData.Title" :src="`data:image/png;base64, ${FullImageFileUri}`" :title="FeedItemData.ContentItemDescription || FeedItemData.Title" />
    </ui-modal>
  </div>
</template>

<script>
  /*APIs*/
  import GetCommentsForFeedItems from 'Endpoints/homeFeed/GetCommentsForFeedItems';
  import RetrieveImage from 'Endpoints/file/RetrieveImage';
  import GetVideoSASUri from 'Endpoints/file/GetVideoSASUri';
  import RetrieveDocumentContents from 'Endpoints/homeFeed/RetrieveDocumentContents';
  import Vault from 'Endpoints/careflowApp/Vault';
  import DownloadJs from 'downloadjs';
  //import VueWaypoint from 'vue-waypoint';

  /*Components*/
  import FeedItemAddComment from 'VueComponents/feeds/components/FeedItemAddComment';
  import PatientBanner from 'VueComponents/patientBanners/FeedItem__PatientBanner';
  import Avatar from 'VueComponents/utils/users/UserAvatar.vue';

  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import ScrollToEl from 'VueMixins/scrollToElement';

  export default {
  	data: function() {
  		return {
  			HasBeenVisible: false,
  			IsLoading: false,
  			NetworkId: this.networkId,
  			MemberAreaId: this.memberAreaId,
  			PatientId: this.patientId,
  			FeedItemData: this.item,
  			ItemType: this.itemType,
  			ContentIdKey: this.item.hasOwnProperty('ContentItemID')
  				? this.item.ContentItemID
  				: this.item.ConversationTrackableItemId,

  			ThereAreMoreComments: this.item.NumberOfComments > 3, //default bool to set
  			UserHasLoadedMoreComments: false,
  			CountOfUserSessionAddedComments: 0, //Each inline comment added in this session
  			ViewAllSeenByUsers: false,
  			ImageFileUri: null,
  			IsLoadingFullImageFileUri: false,
  			FullImageFileUri: null,
  			VideoFileUri: null,
  			DocumentFileUri: null,
  			FileName: 'Download file',
  			FileExtensionType: null
  		};
  	},
  	props: {
  		item: {
  			type: [Object],
  			required: true,
  			default: null
  		},
  		itemType: {
  			type: [String],
  			required: false,
  			default: null
  		},
  		networkId: {
  			type: [String, Number],
  			required: true,
  			default: false
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false,
  			default: null
  		},
  		patientId: {
  			//Only passed in a patient feed (e.g summary tabs)
  			type: [String, Number],
  			required: false,
  			default: null
  		},

  		isNetworkMemberAreaId: {
  			//For Network updates - memberAreaId === networkMemberAreaId
  			type: [Boolean],
  			required: false,
  			default: false
  		},
  		contentIdToActivate: {
  			type: [String, Number],
  			required: false,
  			default: null
  		}
  	},
  	mixins: [DateFilter, ScrollToEl],
  	filters: {
  		formatFileSize: function(value) {
  			if (value == 0) return '0 Bytes';
  			var k = 1000,
  				dm = 2, //decimalPoint
  				sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
  				i = Math.floor(Math.log(value) / Math.log(k));
  			return parseFloat((value / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
  		}
  	},
  	components: { FeedItemAddComment, PatientBanner, Avatar },
  	methods: {
  		markFeedItemAsRead() {
  			if (!this.item.IsRead) {
  				console.log('Mark as read' + ' ' + this.ContentIdKey);
  				this.$emit('markItemAsRead', this.ContentIdKey);
  			}
  		},

  		initFeedItemMediaAssets() {
  			let that = this;

  			let uri;
  			//If an image, get it
  			if (this.ItemType === 'ImageFile' && !this.ImageFileUri) {
  				RetrieveImage.callApi(this.ContentIdKey, 200, 200).then(
  					(response, textStatus, jqXHR) => {
  						that.ImageFileUri = 'data:image/png;base64,' + response;
  					}
  				);
  			}

  			//If a video, get it
  			if (this.ItemType === 'VideoFile' && !this.VideoFileUri) {
  				let video = this.$refs['feed-item-video'];
  				//Get SAS uri
  				GetVideoSASUri.callApi(this.ContentIdKey).then(
  					(response, textStatus, jqXHR) => {
  						this.VideoFileUri = response.Data.SasUri;
  						video.load();
  					}
  				);
  				//Get the poster
  				RetrieveImage.callApi(this.ContentIdKey, 800, 800).then(
  					(response, textStatus, jqXHR) => {
  						this.ImageFileUri = 'data:image/png;base64,' + response;
  					}
  				);
  			}

  			//If a document, get it
  			if (this.ItemType === 'Document' && !this.DocumentFileUri) {
  				RetrieveDocumentContents.callApi(this.ContentIdKey).then(
  					(response, textStatus, jqXHR, responseHeaders) => {
  						//https://doccom.atlassian.net/browse/DOC-3585

  						if (response) {
  							const contentDisposition =
  								responseHeaders['content-disposition'] || null;
  							const contentType = responseHeaders['content-type'] || null;
  							const extension = contentDisposition.substr(
  								contentDisposition.indexOf('.')
  							);
  							const fileName = contentDisposition.substr(
  								contentDisposition.indexOf('=') + 1
  							);
  							this.FileName = `${fileName}`;
  							this.FileExtensionType = extension;

  							const uri = new Buffer(response, 'binary').toString('base64'); //arrayBuffer / blob to base64 - https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/ArrayBuffer
  							this.DocumentFileUri = 'data:' + contentType + ';base64,' + uri; //https://stackoverflow.com/questions/10473932/browser-html-force-download-of-image-from-src-dataimage-jpegbase64

  							//function base64toBlob(base64Data, contentType) {
  							//    contentType = contentType || '';
  							//    var sliceSize = 1024;
  							//    var byteCharacters = atob(base64Data);
  							//    var bytesLength = byteCharacters.length;
  							//    var slicesCount = Math.ceil(bytesLength / sliceSize);
  							//    var byteArrays = new Array(slicesCount);

  							//    for (var sliceIndex = 0; sliceIndex < slicesCount; ++sliceIndex) {
  							//        var begin = sliceIndex * sliceSize;
  							//        var end = Math.min(begin + sliceSize, bytesLength);

  							//        var bytes = new Array(end - begin);
  							//        for (var offset = begin, i = 0; offset < end; ++i, ++offset) {
  							//            bytes[i] = byteCharacters[offset].charCodeAt(0);
  							//        }
  							//        byteArrays[sliceIndex] = new Uint8Array(bytes);
  							//    }
  							//    return new Blob(byteArrays, { type: contentType });
  							//}
  							//let xxx = base64toBlob(uri, contentType)
  							//console.log("aaaaaa: "+xxx)

  							//DownloadJs(new Blob([response]), "", contentType);
  						}
  					}
  				);
  			}
  		},

  		getFullImageView() {
  			//Open a feed image in a modal
  			var that = this;
  			this.IsLoadingFullImageFileUri = true;
  			this.$refs['full-view-modal'].open();
  			RetrieveImage.callApi(this.ContentIdKey, 800, 800, true, 'MaxSize')
  				.then((response, textStatus, jqXHR) => {
  					//Open image in modal
  					this.FullImageFileUri = response;
  					this.IsLoadingFullImageFileUri = false;
  				})
  				.fail(error => {
  					this.IsLoadingFullImageFileUri = false;
  				});
  		},

  		downloadFile() {
  			if (!this.DocumentFileUri || !this.item.DocumentMimeType) return;
  			DownloadJs(
  				this.DocumentFileUri,
  				this.FileName,
  				this.item.DocumentMimeType
  			); //https://github.com/rndme/download
  		},

  		getEarlierFeedItemComments() {
  			this.IsLoading = true;
  			const take = Number(
  				this.FeedItemData.NumberOfComments - this.FeedItemData.Comments.length
  			);
  			return GetCommentsForFeedItems.callApi(
  				this.ContentIdKey,
  				this.FeedItemData.Comments.length,
  				take
  			)
  				.then(response => {
  					if (response.Data.Comments) {
  						this.item.Comments.unshift(...response.Data.Comments); //Flatten arrays (array pushed into array)
  						this.UserHasLoadedMoreComments = true;
  					}
  					this.ThereAreMoreComments = response.Data.ThereAreMore;
  					this.IsLoading = false;
  				})
  				.fail(error => {
  					this.IsLoading = false;
  				});
  		},

  		addCommentToFeedItem(comment) {
  			//Event emitted
  			this.FeedItemData.Comments.push({
  				CommentCreatedBy: {
  					ApplicationUserID: Vault.getItem('ApplicationUserID'),
  					FirstName: Vault.getItem('LoggedInUserFirstName'),
  					IsRequestingUser: true,
  					LastName: Vault.getItem('LoggedInUserLastName')
  				},
  				CommentDate: moment(moment())
  					.local()
  					.format(),
  				ImageUrlOfCommenter: Vault.getItem('LoggedInUserAvatar'),
  				Text: comment
  			});

  			(this.FeedItemData.LastCommentText = comment),
  				(this.FeedItemData.LastCommentDate = moment(moment())
  					.local()
  					.format()),
  				(this.FeedItemData.LastCommenter = {
  					ApplicationUserID: Vault.getItem('ApplicationUserID'),
  					FirstName: Vault.getItem('LoggedInUserFirstName'),
  					IsRequestingUser: true,
  					LastName: Vault.getItem('LoggedInUserLastName')
  				});

  			this.FeedItemData.NumberOfComments++; //Update count
  			this.CountOfUserSessionAddedComments++; //Lets not remove comments if user is adding them, display them as added
  		},

  		getCommentAuthorLabel(comment) {
  			return `<a href="/#/Profile/${
  				comment.CommentCreatedBy.ApplicationUserID
  			}">${comment.CommentCreatedBy.FirstName} ${
  				comment.CommentCreatedBy.LastName
  			}</a>  ${this.$options.filters.formatDate(comment.CommentDate)}`;
  		},

  		modalClosed() {}
  	},
  	watch: {},
  	computed: {
  		getItemAuthorLabel() {
  			//TODO: Should ContentItemUpdatedDate be a created date?
  			return `Started by <a href="/#/Profile/${
  				this.item.CreatedBy.ApplicationUserID
  			}">${this.item.CreatedBy.FirstName} ${
  				this.item.CreatedBy.LastName
  			}</a>  ${this.$options.filters.formatDate(
  				this.item.ContentItemUpdatedDate
  			)}`;
  		},
  		getAuthorLocation() {
  			const memberAreaId = this.item.MemberAreaID
  				? this.item.MemberAreaID
  				: appMain.getMemberAreaIdFromNamePassedAsString(
  						this.item.MemberAreaName
  				  ); //Until GetPatientFeedItems returns a memberAreaId as well as MemberAreaName, this is the best I can do to set the memberarea context.

  			return `<a title="${this.item.MemberAreaName}" href="/#/${
  				this.NetworkId
  			}/Teams/${memberAreaId}/TeamUpdates">${this.item.MemberAreaName}</a>`;
  		},
  		getCommentsToDisplay() {
  			if (this.UserHasLoadedMoreComments) return this.item.Comments;

  			if (this.FeedItemData.Comments.length > 3) {
  				let negativeSlice = Number(3 + this.CountOfUserSessionAddedComments);
  				return this.FeedItemData.Comments.slice(-negativeSlice); //-negative slice take from end - take latest 3 plus any session added comments by the user
  			}
  			return this.FeedItemData.Comments;
  		},
  		getMimeTypeIcon() {
  			// List of official MIME Types: http://www.iana.org/assignments/media-types/media-types.xhtml
  			const imageBaseUrl = `/Content/img/mime/`;
  			const icon_classes = {
  				// Media
  				image: `${imageBaseUrl}gif_45x56@2x.png`,
  				audio: `${imageBaseUrl}mpeg_45x56@2x.png`,
  				video: `${imageBaseUrl}mov_45x56@2x.png`,
  				// Documents
  				'application/pdf': `${imageBaseUrl}pdf_45x56@2x.png`,
  				'application/msword': `${imageBaseUrl}doc_45x56@2x.png`,
  				'application/vnd.ms-word': `${imageBaseUrl}doc_45x56@2x.png`,
  				'application/vnd.oasis.opendocument.text': `${imageBaseUrl}txt_45x56@2x.png`,
  				'application/vnd.openxmlformats-officedocument.wordprocessingml': `${imageBaseUrl}doc_45x56@2x.png`,
  				'application/vnd.ms-excel': `${imageBaseUrl}xls_45x56@2x.png`,
  				'application/vnd.openxmlformats-officedocument.spreadsheetml': `${imageBaseUrl}xls_45x56@2x.png`,
  				'application/vnd.oasis.opendocument.spreadsheet': `${imageBaseUrl}xls_45x56@2x.png`,
  				'application/vnd.ms-powerpoint': `${imageBaseUrl}pptx_45x56@2x.png`,
  				'application/vnd.openxmlformats-officedocument.presentationml': `${imageBaseUrl}pptx_45x56@2x.png`,
  				'application/vnd.oasis.opendocument.presentation': `${imageBaseUrl}pptx_45x56@2x.png`,
  				'text/plain': `${imageBaseUrl}txt_45x56@2x.png`,
  				'text/html': `${imageBaseUrl}txt_45x56@2x.png`,
  				'application/json': `${imageBaseUrl}txt_45x56@2x.png`,
  				// Archives
  				'application/gzip': `${imageBaseUrl}file_45x56@2x.png`,
  				'application/zip': `${imageBaseUrl}file_45x56@2x.png`
  			};

  			for (let key in icon_classes) {
  				if (icon_classes.hasOwnProperty(key)) {
  					if (this.item.DocumentMimeType.search(key) === 0) {
  						// Found it
  						return `${icon_classes[key]}`;
  					}
  				} else {
  					return `${imageBaseUrl}txt_45x56@2x.png`;
  				}
  			}
  		}
  	},
  	created: function() {},
  	mounted: function() {
  		// Element to be observed
  		let el = this.$refs['feed-item'];
  		// Create new IntersectionObserver
  		const io = new IntersectionObserver(
  			entries => {
  				//if (this.HasBeenVisible) return;
  				// Available data when an intersection happens
  				console.log(entries);
  				// Element enters the visible area of its parent element
  				if (entries[0].intersectionRatio !== 0) {
  					//can be array of intersection points, see browser API docs
  					console.log('im hit by IntersectionObserver');
  					this.HasBeenVisible = true;
  					this.initFeedItemMediaAssets();
  					this.markFeedItemAsRead();
  					io.disconnect(); //All done, so disconnect
  					// Element leaves the visible area of its parent element
  				} else {
  					console.log('i have left IntersectionObserver');
  				}
  			},
  			{
  				// Define an element as the root
  				root: document.querySelector('.js-feed-wrapper')
  			}
  		);
  		// Start observing
  		if (!this.contentIdToActivate) io.observe(el);

  		//activate item if passed
  		if (
  			this.contentIdToActivate &&
  			this.contentIdToActivate === this.ContentIdKey
  		) {
  			this.scrollToEl(this.$refs['feed-item']);
  			io.observe(el);
  		}
  		//Allow a 2 sec timeout for scroll to happen, else media assets loading etc will grow feed item sizes when they load, messing with scroll end position on scrollIntoView. TODO: Investigate better solution
  		if (
  			this.contentIdToActivate &&
  			this.contentIdToActivate !== this.ContentIdKey
  		) {
  			setTimeout(() => {
  				io.observe(el);
  			}, 2000);
  		}
  	}
  };
</script>


<style scoped lang="less">
  @import '../../../../../less/app-variables.less';
  .is-visible {
  }
  .feed-item {
  	position: relative;
  }
  .u-patientBanner {
  	margin-bottom: 0;
  }
  .update-item {
  	display: flex;
  	box-sizing: border-box;
  	flex-flow: column;
  	flex-wrap: nowrap;
  	border: 1px solid @row--border;
  	padding: 0.8em;
  	position: relative;
  	margin: 0 0 1em 0;
  	&.is-patient-update {
  		border-top: none;
  	}
  }
  .item-is-read {
  	position: absolute;
  	top: 7px;
  	right: 7px;
  	color: @text-light;
  	& .material-icons {
  		font-size: 19px;
  		opacity: 0.3;
  	}
  }
  .item-title {
  	font-weight: @font--medium;
  	font-size: 1.1em;
  	margin: 0 0 0.8em 0;
  	width: 97%;
  }

  .author-wrapper {
  	border-bottom: 1px solid @row--border;
  	padding: 0 0 0.5em 0;
  	margin: 0 0 0.5em 0;
  	display: flex;
  	flex-flow: row;
  	justify-content: flex-start;
  	align-items: center;
  	color: @text-light;
  	font-size: 0.9em;
  	& .author-location {
  		margin-left: auto;
  	}
  }

  .item-update-body {
  	margin: 0 0 1.8em 0;
  	white-space: pre-line;
  	line-height: 1.5em;
  }

  .comments-actions {
  	font-weight: @font--medium;
  	margin: 0 0 0.5em 0;
  }

  .comment-block {
  	background: @feed-comment-block-bg;
  	padding: 0.8em;
  	margin: 0 0 0.5em 0;
  }
  .comment-body {
  	white-space: pre-line;
  	line-height: 1.5em;
  }
  .comment-author {
  	display: flex;
  	flex-flow: row;
  	align-items: center;
  	margin: 0.8em 0 0 0;
  	justify-content: flex-start;
  	color: @text-light;
  	font-size: 0.9em;
  }
  .load-comments-btn {
  	margin: 0 0 0 1em;
  }

  .attachment-document-wrapper {
  	display: flex;
  	margin: 0 0 1em 0;
  	border-bottom: 1px solid @row--border;
  	align-items: center;
  	padding: 0 0 0.5em 0;
  	& .attachment-icon {
  		display: flex;
  		margin: 0 1em 0 0;
  		flex-flow: row nowrap;
  		align-items: center;

  		& .mime-icon {
  			width: 45px;
  		}
  	}
  	& .attachment-actions {
  		display: flex;
  		flex-flow: column;
  		& .file-size {
  			text-transform: lowercase;
  			margin: 0.2em 0 0 0;
  		}
  	}
  }
</style>
