<template v-cloak>
	<div class="patient-team-item">
		<ui-switch :disabled="disabled" @input="toggleTagStatus" :checked="item.PatientIsOnGroupList" :value="IsOnGroupList">{{item.TeamName}}</ui-switch>
	</div>
</template>

<script>
/*Mixins*/
import DateFilter from 'VueMixins/dateFilter';
/*Components*/
/* API Endpoints */
import Vault from 'Endpoints/careflowApp/Vault';

//Utils

export default {
	data() {
		return {
			IsLoading: false,
			Patient: this.patient,
			IsOnGroupList: this.item.PatientIsOnGroupList
		};
	},
	props: {
		item: {
			type: [Object, String],
			required: true
		},
		patientId: {
			type: [String, Number],
			required: true
		},
		disabled: {
			type: [Boolean],
			required: true
		}
	},
	components: {},
	mixins: [DateFilter],
	filters: {},
	watch: {
		item(newVal, OldVal) {
			if (!newVal) return;
			this.IsOnGroupList = newVal.PatientIsOnGroupList;
		}
	},
	computed: {},

	methods: {
		toggleTagStatus(val) {
			//Called with new val if no param passed
			if (this.IsOnGroupList === val) return;
			this.$emit('membership-updated', {
				PatientId: this.patientId,
				MemberAreaId: this.item.MemberAreaId,
				GroupListExternalIdentifier: this.item.GroupListExternalIdentifier,
				IsOnTeamList: val
			});
		}
	},
	created() {},
	mounted() {},
	deforeDestroy() {}
};
</script>

<style scoped lang="less">
@import '../../../../../less/app-variables.less';
.patient-team-item {
	max-width: 50%;
}
.ui-switch {
	z-index: 1;
}
.ui-switch__input-wrapper {
	min-width: 2.125rem;
}
</style>

<custom>Patient context team lists</custom>
