<!--Netowrk search wrapper on /PatientSearch view-->
<div id="vue-network-patient-search" class="network-patient-search-wrapper">
    <div class="network-patient-search-col-1">
        <network-patient-search :network-id="NetworkId" :supplied-search-term="SearchTerm" :patient-id="PatientId" :route-config="RouteConfig" @patient-selected="setSearchPatient"></network-patient-search>
    </div>
    <div class="network-patient-search-col-2 js-scaffold-block">
        <patient-dashboard v-if="PatientId && ActivePatient" :key="PatientId" :patient-id="PatientId" :patient="ActivePatient" :network-id="NetworkId" :route-config="RouteConfig"></patient-dashboard>
        <div v-else class="containerEmpty-wrapper">
            <div>
                <i class="material-icons">people</i>
            </div>
            Search for a patient to view dashboard
        </div>
    </div>
</div>
