<template>
  <div v-on:click.stop="patientSelectToggled(!IsSelected)" v-bind:class="{'table__row':true, 'pure-g':true, 'active':this.IsSelected}">
    <div :class="{'body__cell':true, 'u-screen-only':true, 'pure-u-1-24':true, 'column-select':true, 'is-on-list':patientIsOnTeamList}">

      <template v-if="isAddingPatientsToTeamList">
        <ui-checkbox v-if="!patientIsOnTeamList" :disabled="IsLoading" @change="patientSelectToggled" :checked="IsSelected" :value="IsSelected"></ui-checkbox>
        <template v-else>
          <i ref="dropdownTrigger" class="material-icons">
            person_pin_circle
          </i>
          <ui-popover class="custom-popover" openOn="hover" trigger="dropdownTrigger" ref="dropdown">
            This patient is already pinned to the team list.
          </ui-popover>
        </template>
      </template>
      <template v-else>
        <ui-checkbox :disabled="IsLoading && !IsSelected" @change="patientSelectToggled" :checked="IsSelected" :value="IsSelected"></ui-checkbox>
      </template>

    </div>
    <div class="body__cell pure-u-6-24 column-patient">
      {{PatientData.PatientFamilyName | toUpperCase}}, {{PatientData.PatientGivenName}}
      <template v-if="PatientData.PatientTitle">
        ({{PatientData.PatientTitle}})
      </template>
    </div>
    <div class="body__cell pure-u-6-24">
      <div class="row-identifiers-wrapper">
        <div>
          <span class="identifier-label label first">Born:</span>
          <span class="">{{PatientData.PatientDateOfBirth}}
            <span v-if="PatientData.AgeDescription">({{PatientData.AgeDescription}})</span>
          </span>
        </div>
        <template v-if="PatientData.DateOfDeath">
          <div>
            <span class="identifier-label label">Died:</span>
            <span class="">{{PatientData.DateOfDeath}}
              <span v-if="PatientData.AgeDescription">({{PatientData.AgeDescription}})</span>
            </span>
          </div>
        </template>
        <div v-if="PatientData.PatientIdentifiers.PrimaryIdentifier">
          <span class="identifier-label label">{{PatientData.PatientIdentifiers.PrimaryIdentifier.Label}}</span>
          <span>{{PatientData.PatientIdentifiers.PrimaryIdentifier.Value}}</span>
        </div>
        <template v-if="PatientData.PatientIdentifiers.AlternativeIdentifiers.length">
          <div v-for="(item) in PatientData.PatientIdentifiers.AlternativeIdentifiers" :key="item.Value">
            <span class="identifier-label label">{{item.Label}}</span>
            <span>{{item.Value}}</span>
          </div>
        </template>
      </div>
    </div>
    <div class="body__cell pure-u-6-24">
      <template v-if="PatientData.AreaName">
        {{PatientData.AreaName}} ({{PatientData.SiteName}})
      </template>
      <template v-else>
        {{PatientData.AreaName}}{{PatientData.SiteName}}
      </template>{{PatientData.Bay}}
      <template v-if="PatientData.Bay && PatientData.Bed">, </template>{{PatientData.Bed}}
    </div>
    <div class="body__cell pure-u-5-24">
      <template v-if="PatientData.Clinician">
        {{PatientData.Clinician.FullName}}
      </template>
    </div>

  </div>

</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import ScrollToEl from 'VueMixins/scrollToElement';
  import StringToUppercase from 'VueMixins/stringToUpperCase';
  /*Components*/

  /* API Endpoints */
  import AddPatientToGroupList from 'Endpoints/patients/AddPatientToGroupList';
  import appMain from '../../../../app/app-main';
  export default {
  	data() {
  		return {
  			IsLoading: false,
  			IsSelected: false,
  			PatientData: this.patient || null,
  			PatientId: this.patientId || null,
  			NetworkId: this.networkId || null,
  			MemberAreaId: this.memberAreaId || null,
  		};
  	},
  	props: {
  		patient: {
  			type: [Object, String],
  			required: true,
  		},
  		patientId: {
  			type: [String, Number],
  			required: true,
  		},
  		isSelected: {
  			type: [Boolean],
  			required: false,
  			default: false,
  		},
  		networkId: {
  			type: [String, Number],
  			required: true,
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false,
  		},

  		isAddingPatientsToTeamList: {
  			//Prop to allow parent to set disabled state
  			type: [Boolean],
  			required: false,
  			default: false,
  		},

  		allowMultipleSelections: {
  			//Prop to allow parent to set disabled state
  			type: [Boolean],
  			required: false,
  			default: true,
  		},
  		isBusy: {
  			//Prop to allow parent to set disabled state
  			type: [Boolean],
  			required: false,
  			default: false,
  		},
  	},
  	components: {},
  	mixins: [DateFilter, ScrollToEl, StringToUppercase],
  	filters: {},
  	watch: {
  		isBusy(newVal, oldVal) {
  			this.IsLoading = newVal;
  		},
  		isSelected(newVal, oldVal) {
  			this.IsSelected = newVal;
  		},
  	},
  	computed: {
  		patientIsOnTeamList() {
  			let memberAreaExternalId = appMain.getMemberAreaExternalNetworkId(this.memberAreaId);
  			return this.patient.GroupListExternalIdentifiers.filter(x => x === memberAreaExternalId).length > 0;
  		},
  	},

  	methods: {
  		patientSelectToggled(isSelectedBool) {
  			if ((this.isAddingPatientsToTeamList && this.patientIsOnTeamList) || (!this.allowMultipleSelections && this.isBusy && !this.IsSelected)) return;
  			//this.IsSelected = isSelectedBool;
  			if (this.allowMultipleSelections) return this.$emit('patient-selected', this.patientId);
  			if (!this.allowMultipleSelections) return this.$emit('patient-selected', this.patientId, this.patient);
  		},
  	},
  	created() {},
  	mounted() {},
  	deforeDestroy() {},
  };
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../../less/app-variables.less';

  & .table__row {
  	& .body__cell {
  		flex-grow: 1;
  		&.column-select {
  			max-width: 25px;
  			display: flex;
  			justify-content: center;
  			& .material-icons {
  				font-size: 22px;
  			}
  			&.is-on-list {
  				padding-top: 0;
  			}
  		}
  		&.column-actions {
  			max-width: 45px;
  			display: flex;
  			//justify-content: center;
  		}

  		&.column-patient {
  			display: flex;
  			max-width: 300px;
  		}
  	}
  }

  .clinical-tag-wrapper {
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	align-items: flex-start;
  	align-content: flex-start;
  	width: 100%;
  }
  .popover-trigger {
  	&:hover {
  		color: @link--active;
  		cursor: pointer;
  	}
  }
</style>

<custom>Team patient list table - patient row item used in network search modal</custom>
