<template>
  <div :class="{'fab-wrapper':true, 'is-fab':widgetType === 'fab', 'is-actions':widgetType === 'actions', 'is-tpi': IsTpiIntegrationSession}">
    <!--FAB-->
    <template v-if="widgetType==='fab'">
      <a v-on:click="FabIsOpen = !FabIsOpen" class="popover-trigger" ref="dropdownTrigger" tabindex="0">
        <div class="menu-icon--closed" v-if="!FabIsOpen"><i class="material-icons">add</i></div>
        <div class="menu-icon--open" v-if="FabIsOpen"><i class="material-icons">close</i></div>
      </a>
      <ui-popover @close="popoverClosed" ariaLabel="Patient options" dropdownPosition="top left" trigger="dropdownTrigger" ref="dropdown">
        <ui-menu contain-focus has-icons has-secondary-text :options="getMenuOptions" @select="optionSelected" @close="menuClosed"></ui-menu>
      </ui-popover>
    </template>
    <!--non FAB-->
    <template v-if="widgetType==='actions'">
      <ui-icon-button type="secondary" color="primary" size="normal" has-dropdown icon="more_horiz" ref="dropdown">
        <ui-menu contain-focus has-icons slot="dropdown" :options="getMenuOptions" @select="optionSelected" @close="menuClosed"></ui-menu>
      </ui-icon-button>
    </template>

    <!--Modals-->
    <ui-modal :promptBeforeClose="OpenModalIsValidForUpsert" dismissOn="close-button" ref="HandoverModal" size="normal" title="Update handover" @close="modalClosed('HandoverModal')">
      <HandoverModal v-if="ComponentKeys.HandoverModal" @modal-handover-saved="closeModal('HandoverModal')" :key="ComponentKeys.HandoverModal" :patient="Patient" :patientId="patientId" :memberAreaId="memberAreaId" :networkId="networkId"></HandoverModal>
    </ui-modal>

    <ui-modal :promptBeforeClose="OpenModalIsValidForUpsert" dismissOn="close-button" ref="ListsModal" size="normal" title="Manage lists" @close="modalClosed('ListsModal')">
      <TeamListsModal v-if="ComponentKeys.ListsModal" :key="ComponentKeys.ListsModal" :patientId="patientId" :patient="Patient" :memberAreaId="memberAreaId" :networkId="networkId"></TeamListsModal>
    </ui-modal>

    <ui-modal :promptBeforeClose="OpenModalIsValidForUpsert" dismissOn="close-button" ref="UpdateModal" size="normal" title="Post an update" @close="modalClosed('UpdateModal')">
      <PatientUpdateModal @modal-update-saved="closeModal('UpdateModal')" v-if="ComponentKeys.UpdateModal" :key="ComponentKeys.UpdateModal" :patient="Patient" :patientId="patientId" :memberAreaId="memberAreaId" :networkId="networkId"></PatientUpdateModal>
    </ui-modal>

    <ui-modal :promptBeforeClose="OpenModalIsValidForUpsert" dismissOn="close-button" ref="ReferralModal" size="normal" title="Start referral" @close="modalClosed('ReferralModal')">
      <PatientReferralModal v-if="ComponentKeys.ReferralModal" @modal-referral-saved="closeModal('ReferralModal')" :key="ComponentKeys.ReferralModal" :patient="Patient" :patientId="patientId" :memberAreaId="memberAreaId" :networkId="networkId"></PatientReferralModal>
    </ui-modal>

    <ui-modal :promptBeforeClose="OpenModalIsValidForUpsert" dismissOn="close-button" ref="TasksModal" size="normal" title="Raise a task" @close="modalClosed('TasksModal')">
      <PatientTaskModal v-if="ComponentKeys.TasksModal" @modal-task-saved="closeModal('TasksModal')" :key="ComponentKeys.TasksModal" :patient="Patient" :patientId="patientId" :memberAreaId="memberAreaId" :networkId="networkId"></PatientTaskModal>
    </ui-modal>

    <ui-modal class="ui-modal--full-height-fixed remove-padding" v-if="Permissions.includes('UpsertHandoverNote') && ActiveUrl.includes('PatientListHandovers')" :promptBeforeClose="OpenModalIsValidForUpsert" dismissOn="close-button" ref="HandoverAuditModal" size="large" title="Handover audit" @close="modalClosed('HandoverAuditModal')">
      <HandoverAuditModal v-if="ComponentKeys.HandoverAuditModal" :patientId="patientId" :patient="Patient" :networkId="networkId" :memberAreaId="memberAreaId" :isModal="true" :key="ComponentKeys.HandoverAuditModal"></HandoverAuditModal>
    </ui-modal>

    <ui-modal class="ui-modal--full-height-fixed" :promptBeforeClose="OpenModalIsValidForUpsert" dismissOn="close-button" ref="TagsModal" size="normal" title="Manage clinical tags" @close="modalClosed('TagsModal')">
      <PatientTagsModal v-if="ComponentKeys.TagsModal" :isSubmitted="ActiveModal.Footer.SubmitButton.IsClicked" @parent-modal-emit="configModal" :key="ComponentKeys.TagsModal" :patient="Patient" :patientId="patientId" :memberAreaId="memberAreaId" :networkId="networkId"></PatientTagsModal>

      <div slot="footer">
        <ui-button :disabled="ActiveModal.Footer.SubmitButton.IsDisabled" :loading="ActiveModal.IsLoading" @click="modalEmitSubmit" color="primary">{{ActiveModal.Footer.SubmitButton.Label}}</ui-button>
      </div>
    </ui-modal>

  </div>
</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import GetPatientHospitalNumber from 'VueMixins/getPatientHospitalNumber';
  /*Components*/
  import HandoverModal from 'VueComponents/modals/PatientHandoverModal';
  import TeamListsModal from 'VueComponents/modals/PatientTeamListsModal';
  import PatientUpdateModal from 'VueComponents/modals/PatientUpdateModal';
  import PatientReferralModal from 'VueComponents/modals/PatientReferralModal';
  import PatientTaskModal from 'VueComponents/modals/PatientTaskModal';
  import PatientTagsModal from 'VueComponents/modals/PatientTagsModal';
  import HandoverAuditModal from 'VueComponents/handovers/HandoverList';

  /* API Endpoints */
  import Vault from 'Endpoints/careflowApp/Vault';
  import PubSub from 'Endpoints/careflowApp/PubSub';
  import GetPatient from 'Endpoints/patients/GetPatient';
  import * as GetMedwayGuid from 'Endpoints/medwayServices/patientServiceAPI/GetPatientMedwayGuid';
  import appRouter from 'AppJs/app-router';

  export default {
  	data() {
  		return {
  			Patient: null,
  			PatientMedwayGuid: null,
  			IsLoading: false,
  			FabIsOpen: false,
  			Permissions: this.permissions || appMain.getUserPermissionsForAllUsersMemberAreas(), //All member areas in netowork, FABs are treated as 'global'
  			ComponentKeys: {
  				UpdateModal: null,
  				HandoverModal: null,
  				ListsModal: null,
  				ReferralModal: null,
  				TagsModal: null,
  				TasksModal: null,
  			},
  			ActiveModal: {
  				Key: null,
  				IsOpen: false,
  				IsLoading: false,
  				Footer: {
  					SubmitButton: {
  						IsDisabled: true, //default
  						IsClicked: false,
  						Label: 'Save',
  					},
  				},
  			},

  			IsTpiIntegrationSession: appMain.isTpiIntegrationSession(),
  			OpenModalIsValidForUpsert: false,
  			ActiveUrl: appRouter.careflowAppRouter.getLocation(),
  		};
  	},
  	props: {
  		widgetType: {
  			type: [Number, String],
  			required: false,
  			default: 'fab', //'fab' or 'actions' (actions in banners etc)
  		},
  		patientId: {
  			type: [String, Number],
  			required: true, //required at least PatientId
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false,
  			default: null,
  		},
  		networkId: {
  			type: [String, Number],
  			required: true,
  			default: null,
  		},
  		permissions: {
  			//TODO - Pass as param to improve performance, many fabs can exist on lists, feeds etc!
  			type: [Array],
  			required: false,
  		},
  	},
  	components: { HandoverModal, TeamListsModal, PatientUpdateModal, PatientReferralModal, PatientTaskModal, PatientTagsModal, HandoverAuditModal },
  	mixins: [DateFilter, GetPatientHospitalNumber],
  	filters: {},
  	watch: {
  		FabIsOpen(newVal, oldVal) {},
  	},
  	computed: {
  		getMenuOptions() {
  			//TODO: split into module
  			let response = [];

  			if (this.Permissions.includes('UpsertHandoverNote') && this.ActiveUrl.includes('PatientListHandovers')) {
  				response.push({
  					id: 'HandoverAuditModal',
  					label: 'Handover audit',
  					icon: 'history',
  					secondaryText: '',
  					disabled: this.IsLoading || false,
  				});
  			}

  			if (this.Permissions.includes('TagConversationWithPatient')) {
  				response.push({
  					id: 'UpdateModal',
  					label: 'Post an update',
  					icon: 'edit',
  					secondaryText: '',
  					disabled: this.IsLoading || false,
  				});
  			}

  			if (this.Permissions.includes('UpsertHandoverNote')) {
  				response.push({
  					id: 'HandoverModal',
  					label: 'Update handover',
  					icon: 'assignment',
  					secondaryText: '',
  					disabled: this.IsLoading || false,
  				});
  			}
  			if (this.Permissions.includes('AddPatientToGroupList')) {
  				response.push({
  					id: 'ListsModal',
  					label: 'Manage lists',
  					icon: 'format_list_bulleted',
  					secondaryText: '',
  					disabled: this.IsLoading || false,
  				});
  			}

  			if (this.Permissions.includes('ReferPatient')) {
  				response.push({
  					id: 'ReferralModal',
  					label: 'Start referral',
  					icon: 'swap_horiz',
  					secondaryText: '',
  					disabled: this.IsLoading || false,
  				});
  			}

  			if (this.Permissions.includes('ManagePatientClinicalTags')) {
  				response.push({
  					id: 'TagsModal',
  					label: 'Manage tags',
  					icon: 'local_offer',
  					secondaryText: '',
  					disabled: this.IsLoading || false,
  				});
  			}

  			if (this.Permissions.includes('UpsertUserTask')) {
  				response.push({
  					id: 'TasksModal',
  					label: 'Raise a task',
  					icon: 'check',
  					secondaryText: '',
  					disabled: this.IsLoading || false,
  				});
  			}

  			if (this.Permissions.includes('ViewPatients')) {
  				response.push({
  					id: 'fab-patient-network-dashboard',
  					label: 'Patient dashboard',
  					icon: 'person',
  					secondaryText: '',
  					disabled: this.IsLoading || false,
  				});
  			}
  			//TPI's
  			if (appMain.checkIfFeatureIsEnabledInAppConfig('enableEdmsLink')) {
  				response.push({
  					id: 'fab-tpi-remote',
  					label: 'Open Evolve',
  					commandName: 'openEDMS',
  					icon: 'open_in_new',
  					secondaryText: '',
  					disabled: this.IsLoading || false,
  				});
  			}

  			if (appMain.checkIfFeatureIsEnabledInAppConfig('enableMediViewerLink')) {
  				response.push({
  					id: 'fab-tpi-remote',
  					label: 'Open MediViewer',
  					commandName: 'openEPMA',
  					icon: 'open_in_new',
  					secondaryText: '',
  					disabled: this.IsLoading || false,
  				});
  			}

  			if (appMain.checkIfFeatureIsEnabledInAppConfig('enableAspyraLink')) {
  				response.push({
  					id: 'fab-tpi-remote',
  					label: 'Open Aspyra PACS',
  					commandName: 'openAspyra',
  					icon: 'open_in_new',
  					secondaryText: '',
  					disabled: this.IsLoading || false,
  				});
  			}

  			return response || [];
  		},
  	},

  	methods: {
  		optionSelected(optionSelected) {
  			//Handle TPI windows
  			if (optionSelected.id === 'fab-tpi-remote') return this.getThirdPartyWindow(optionSelected.commandName);

  			return this.openModal(optionSelected.id);
  		},

  		openModal(ref) {
  			this.IsLoading = true;

  			return this.getPatient()
  				.then(response => {
  					this.IsLoading = false;
  					if (this.widgetType === 'fab') this.$refs.dropdown.close(); //Close the fab menu
  					if (this.widgetType === 'actions') this.$refs.dropdown.closeDropdown();

  					//Network patient dashboard
  					if (ref === 'fab-patient-network-dashboard') {
  						let currentUrl = appRouter.careflowAppRouter.getLocation();
  						let dashboardUrl = '/#/' + this.networkId + '/PatientSearch/null/' + this.patientId + '';

  						if (currentUrl === dashboardUrl) return;

  						return appRouter.careflowAppRouter.setLocation(dashboardUrl);
  					}
  					//Handover Audit
  					// if (ref === 'fab-patient-handover-audit') {
  					// 	let currentUrl = appRouter.careflowAppRouter.getLocation();
  					// 	let configObj = {
  					// 		ActiveTab: 'patient-handovers',
  					// 		SourceReference: ref,
  					// 	};
  					// 	let dashboardUrl = '/#/' + this.networkId + '/PatientSearch/null/' + this.patientId + '/' + btoa(JSON.stringify(configObj)) + '';

  					// 	if (currentUrl === dashboardUrl) return;

  					// 	return appRouter.careflowAppRouter.setLocation(dashboardUrl);
  					// }

  					this.OpenModalIsValidForUpsert = false; //Reset confirm prompt
  					this.ComponentKeys[ref] = Date.now(); //Force modal component to rebuildand instansiate
  					this.$refs[ref].open(); //Open the Modal
  					this.modalOpened(ref);
  				})
  				.catch(error => {
  					if (this.widgetType === 'fab') this.$refs.dropdown.close(); //Close the fab menu
  					if (this.widgetType === 'actions') this.$refs.dropdown.closeDropdown();
  					this.IsLoading = false;
  					this.OpenModalIsValidForUpsert = false; //Reset confirm prompt
  				});
  		},
  		closeModal(ref) {
  			this.$refs[ref].close();
  		},
  		modalClosed(ref) {
  			if (!ref) return;
  			this.IsLoading = false;
  			this.ComponentKeys[ref] = null;
  			this.ActiveModal.IsOpen = false;
  			this.ActiveModal.Key = null;
  			this.ActiveModal.Footer.SubmitButton.Label = 'Save';
  			this.ActiveModal.IsLoading = false;
  			this.ActiveModal.Footer.SubmitButton.IsDisabled = true;
  			this.ActiveModal.IsOpen = false;
  			this.Patient = null;
  			this.OpenModalIsValidForUpsert = false;
  		},
  		modalOpened(ref) {
  			this.ActiveModal.IsOpen = true;
  			this.ActiveModal.Key = ref;
  		},

  		configModal(command, param) {
  			//listens on 'parent-modal-emit' - TODO: Deprecate for EventBus
  			if (!command) return;

  			switch (command) {
  				case 'setActiveModalSubmitButtonLabel':
  					this.ActiveModal.Footer.SubmitButton.Label = param;
  					break;
  				case 'setActiveModalSubmitButtonIsDisabled':
  					this.ActiveModal.Footer.SubmitButton.IsDisabled = param;
  					break;
  				case 'closeActiveModal':
  					this.closeModal(this.ActiveModal.Key);
  					break;
  				default:
  					console.log('No matching command');
  			}
  		},
  		modalEmitSubmit() {
  			//Modal footer action button
  			this.ActiveModal.Footer.SubmitButton.IsClicked = true;
  			this.ActiveModal.IsLoading = true;
  			this.$nextTick(() => {
  				//https://stackoverflow.com/questions/47634258/what-is-nexttick-or-what-does-it-do-in-vuejs
  				this.ActiveModal.Footer.SubmitButton.IsClicked = false;
  			});
  			// setTimeout(() => {
  			// 	this.ActiveModal.Footer.SubmitButton.IsClicked = false;
  			// }, 0); //reset - IE11 requires timeout
  		},
  		menuClosed() {
  			//if (this.widgetType === 'actions') this.$refs.dropdown.closeDropdown();
  		},
  		popoverClosed() {
  			this.FabIsOpen = false;
  		},
  		getThirdPartyWindow(ref) {
  			//TPI windows
  			let url;
  			this.IsLoading = true;
  			return GetPatient.callApi(this.patientId, this.networkId, ['ClinicalTags', 'HandoverNotes'])
  				.then((response, data, xhr, fullResponse) => {
  					this.Patient = response.Data;
  					this.IsLoading = false;

  					//Pending network config implementation - need to get the Hospital number
  					let identifier = this.getPatientHospitalNumberFromIdentifiers(this.Patient.PatientIdentifiers);

  					if (!identifier) {
  						//No Hospital Number (Medway requirement) found
  						appMain.triggerAppNotification({
  							Text: 'No Hospital number found for patient <span class="u-strong">' + this.Patient.PatientFamilyName + ', ' + this.Patient.PatientGivenName + '</span>',
  							Icon: 'error',
  						});
  						return Promise.reject('FAB TPI: No valid PrimaryIdentifier');
  					}

  					//TPI's
  					switch (ref) {
  						case 'openEDMS':
  							url = 'http://evolve-test/evolve-emb/Portal/ExternalLink.aspx?logonmethod=automatic&hospitalNumber=' + identifier + '';
  							//live: http://evolve-live/evolve-emb/Portal/ExternalLink.aspx?logonmethod=automatic&hospitalNumber={0}
  							let edmsWindow;
  							edmsWindow = window.open(url, 'edmsWindow'); //https://doccom.atlassian.net/browse/WEB-825
  							appMain.setOpenedPatientContextWindow(edmsWindow);
  							break;

  						case 'openEPMA':
  							url = 'https://mvdemo1.immj.net/medway?username=sysc_demo&patientKey=AW123456';
  							let epmaWindow;
  							epmaWindow = window.open(url, 'epmaWindow'); //https://doccom.atlassian.net/browse/WEB-825
  							appMain.setOpenedPatientContextWindow(epmaWindow);
  							break;

  						case 'openAspyra':
  							url = 'http://52.151.77.118/AccessNET/ImageWEB/ExamLoad.aspx?PatientID=' + identifier + '&Username=systemc&password=Password';
  							let aspryaWindow;
  							aspryaWindow = window.open(url, 'aspryaWindow'); //https://doccom.atlassian.net/browse/WEB-825
  							appMain.setOpenedPatientContextWindow(aspryaWindow);
  							break;
  					}

  					if (this.widgetType === 'fab') this.$refs.dropdown.close(); //Close the fab menu
  					if (this.widgetType === 'actions') this.$refs.dropdown.closeDropdown();
  				})
  				.fail(error => {
  					if (this.widgetType === 'fab') this.$refs.dropdown.close(); //Close the fab menu
  					if (this.widgetType === 'actions') this.$refs.dropdown.closeDropdown();
  					this.Patient = null;
  					this.IsLoading = false;
  				});
  		},
  		getPatient() {
  			return new Promise((resolve, reject) => {
  				if (this.Patient) return resolve(this.Patient);
  				return GetPatient.callApi(this.patientId, this.networkId, ['ClinicalTags', 'HandoverNotes', 'GroupLists'])
  					.then((response, data, xhr, fullResponse) => {
  						this.Patient = response.Data;
  						resolve(this.Patient);
  					})
  					.fail(error => {
  						reject(error);
  					});
  			});
  		},
  		getPatientMedwayGuid() {
  			return new Promise((resolve, reject) => {
  				//if (this.PatientMedwayGuid) return resolve(this.PatientMedwayGuid);
  				if (!this.Patient) return reject();

  				//Pending network config implementation - need to get the Hospital number
  				let identifier = this.getPatientHospitalNumberFromIdentifiers(this.Patient.PatientIdentifiers);

  				if (!identifier) {
  					//No Hospital Number (Medway requirement) found
  					appMain.triggerAppNotification({
  						Text: 'No Hospital number found for patient <span class="u-strong">' + this.Patient.PatientFamilyName + ', ' + this.Patient.PatientGivenName + '</span>',
  						Icon: 'error',
  					});
  					return reject('FAB TPI: No valid PrimaryIdentifier');
  				}

  				GetMedwayGuid.getPatientMedwayGuid(this.Patient.PatientExternalIdentifier, this.Patient, identifier)
  					.then(response => {
  						if (!response) return reject();
  						this.PatientMedwayGuid = response.patientId;
  						return resolve(this.PatientMedwayGuid);
  					})
  					.catch(error => {
  						return reject(error);
  					});
  			});
  		},
  	},
  	created() {
  		VueEventBus.$on('Modal.OpenFabOption', option => {
  			if (option.hasOwnProperty('patient') && option.patient) this.Patient = option.patient; //Pass in a patient (optional)
  			this.optionSelected(option);
  		});
  		VueEventBus.$on('Modal.ValidityUpdate', val => {
  			this.OpenModalIsValidForUpsert = val;
  		});
  	},
  	mounted() {},
  	beforeDestroy() {
  		this.Patient = null;
  		VueEventBus.$off('Modal.ValidityUpdate');
		VueEventBus.$off('Modal.OpenFabOption');
  	},
  };
</script>

<style lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../less/app-variables.less';

  .fab-wrapper {
  	display: flex;
  	&.is-fab {
  		position: absolute;
  		bottom: 20px;
  		right: 40px;
  		width: 83px;
  		height: 83px;
  		//opacity: .9;
  		//z-index: 9; //issue with fab over modal bg - https://doccom.atlassian.net/browse/WEB-1033
  		&.is-tpi {
  			right: 105px;
  		}
  		.menu-icon {
  			width: 77px;
  			height: 77px;
  			background: @careflow--blue;
  			display: flex;
  			border-radius: 50%;
  			align-items: center;
  			justify-content: center;
  			& .material-icons {
  				color: #fff;
  				font-size: 60px;
  			}
  			&:hover {
  				cursor: pointer;
  			}
  		}
  		.menu-icon--open {
  			.menu-icon();
  			background: @urgent-colour;
  		}
  		.menu-icon--closed {
  			.menu-icon();
  		}
  		& .popover-trigger {
  			-webkit-touch-callout: none; /* iOS Safari */
  			-webkit-user-select: none; /* Safari */
  			-khtml-user-select: none; /* Konqueror HTML */
  			-moz-user-select: none; /* Firefox */
  			-ms-user-select: none; /* Internet Explorer/Edge */
  			user-select: none; /* Non-prefixed version, currently
                                                                                                              supported by Chrome and Opera */
  		}
  		// & .popover-trigger {
  		// 	width: 80px;
  		// 	height: 80px;
  		// 	position: relative;
  		// 	display: flex;
  		// 	z-index: 9;
  		// }
  		// & i.material-icons {
  		// 	font-size: 78px;
  		// }
  		// & .fab-launch-icon {
  		// 	width: 80px;
  		// 	position: relative;
  		// 	opacity: 0.9;
  		// 	&:hover {
  		// 		cursor: pointer;
  		// 	}
  		// }

  		// & .ui-menu.has-icons {
  		// 	& i.material-icons {
  		// 		font-size: 17px;
  		// 	}
  		// }
  	}

  	&.is-actions {
  		position: relative;
  		display: flex;

  		& .ui-icon-button {
  			& .ui-icon {
  				font-size: 24px;
  			}
  		}
  	}
  }
</style>

<custom>FAB - Patient context / dashboard</custom>
