<template>

  <div class="tpi-menu-wrapper">
    <a v-on:click="FabIsOpen = !FabIsOpen" class="popover-trigger" ref="dropdownTrigger" tabindex="0">
      <div class="menu-icon--closed" v-if="!FabIsOpen"><i class="material-icons">open_in_new</i></div>
      <div class="menu-icon--open" v-if="FabIsOpen"><i class="material-icons">close</i></div>
    </a>
    <ui-popover @close="popoverClosed" ariaLabel="TPI shell options" dropdownPosition="top center" trigger="dropdownTrigger" ref="dropdown">
      <ui-menu contain-focus has-icons has-secondary-text :options="getMenuOptions" @select="optionSelected" @close="menuClosed"></ui-menu>
      <div class="menu-custom-block">Hold 'Ctrl' key while clicking to open multiple windows</div>
    </ui-popover>
    <!-- <ui-checkbox-group vertical :options="Menu.Options" v-model="Menu.SelectedOption"></ui-checkbox-group>
		<ui-button color="primary" :disabled="IsLoading" :loading="IsLoading" v-show="getInRequestContextHandoverForActiveTeam && !IsEditingHandover" v-on:click="IsEditingHandover = true">Edit handover</ui-button> -->
  </div>
</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import GetPatientHospitalNumber from 'VueMixins/getPatientHospitalNumber';
  /*Components*/
  /* API Endpoints */
  import Vault from 'Endpoints/careflowApp/Vault';
  import PubSub from 'Endpoints/careflowApp/PubSub';
  import GetPatient from 'Endpoints/patients/GetPatient';
  import * as GetMedwayGuid from 'Endpoints/medwayServices/patientServiceAPI/GetPatientMedwayGuid';
  import appRouter from 'AppJs/app-router';
  import appMain from '../../../app/app-main';

  export default {
  	data() {
  		return {
  			Patient: null,
  			PatientMedwayGuid: null,
  			IsLoading: false,
  			FabIsOpen: false,
  			Permissions:
  				this.permissions || appMain.getUserPermissionsForAllUsersMemberAreas(), //All member areas in netowork, FABs are treated as 'global'
  			IsTpiIntegrationSession: appMain.isTpiIntegrationSession(),
  			ActiveUrl: appRouter.careflowAppRouter.getLocation()
  		};
  	},
  	props: {
  		patientId: {
  			type: [String, Number],
  			required: true //required at least PatientId
  		},
  		patient: {
  			type: [String, Object],
  			required: false //required at least PatientId
  		},
  		patientMedayGuid: {
  			type: [String, Number],
  			required: false
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false,
  			default: null
  		},
  		networkId: {
  			type: [String, Number],
  			required: true
  		},
  		permissions: {
  			//TODO - Pass as param to improve performance, many fabs can exist on lists, feeds etc!
  			type: [Array],
  			required: false
  		}
  	},
  	components: {},
  	mixins: [DateFilter, GetPatientHospitalNumber],
  	filters: {},
  	watch: {
  		FabIsOpen(newVal, oldVal) {}
  	},
  	computed: {
  		getMenuOptions() {
  			let response = [];
  			//https://confluence.systemc.com/display/Integration/Workspace+TPI
  			//Medway item set
  			response.push(
  				{
  					commandId: 'fab-tpi-medway',
  					value: 'placeOrder',
  					id: 'placeOrder',
  					commandType: 'medway',
  					label: 'Place an Order',
  					//icon: 'open_in_new',
  					secondaryText: '',
  					disabled: this.IsLoading || false
  				},

  				{
  					commandId: 'fab-tpi-medway',
  					value: 'openOrders',
  					id: 'openOrders',
  					commandType: 'medway',
  					label: 'Open Orders',
  					//icon: 'open_in_new',
  					secondaryText: '',
  					disabled: this.IsLoading || false
  				},

  				{
  					commandId: 'fab-tpi-medway',
  					value: 'openCumulativeResults',
  					id: 'openCumulativeResults',
  					commandType: 'medway',
  					label: 'Open Results',
  					//icon: 'open_in_new',
  					secondaryText: '',
  					disabled: this.IsLoading || false
  				},

  				{
  					commandId: 'fab-tpi-medway',
  					value: 'startNote',
  					id: 'startNote',
  					commandType: 'medway',
  					label: 'Start a Note',
  					//icon: 'open_in_new',
  					secondaryText: '',
  					disabled: this.IsLoading || false
  				},

  				{
  					commandId: 'fab-tpi-medway',
  					value: 'clinicalNotes',
  					id: 'clinicalNotes',
  					commandType: 'medway',
  					label: 'Open Notes',
  					//icon: 'open_in_new',
  					secondaryText: '',
  					disabled: this.IsLoading || false
  				},

  				{
  					commandId: 'fab-tpi-medway',
  					value: 'openLetters',
  					id: 'openLetters',
  					commandType: 'medway',
  					label: 'Open Letters',
  					//icon: 'open_in_new',
  					secondaryText: '',
  					disabled: this.IsLoading || false
  				},

  				{
  					commandId: 'fab-tpi-medway',
  					value: 'openECN',
  					id: 'openECN',
  					commandType: 'medway',
  					label: 'Open ECN',
  					//icon: 'open_in_new',
  					secondaryText: '',
  					disabled: this.IsLoading || false
  				},

  				{
  					commandId: 'fab-tpi-medway',
  					value: 'openEPMA',
  					id: 'openEPMA',
  					commandType: 'medway',
  					label: 'Open EPMA',
  					//icon: 'open_in_new',
  					secondaryText: '',
  					disabled: this.IsLoading || false
  				},

  				{
  					commandId: 'fab-tpi-medway',
  					value: 'openVitals',
  					id: 'openVitals',
  					commandType: 'medway',
  					label: 'Open Vitals',
  					//icon: 'open_in_new',
  					secondaryText: '',
  					disabled: this.IsLoading || false
  				},

  				{
  					commandId: 'fab-tpi-medway',
  					value: 'openPACS',
  					id: 'openPACS',
  					commandType: 'medway',
  					label: 'Open PACS',
  					//icon: 'open_in_new',
  					secondaryText: '',
  					disabled: this.IsLoading || false
  				},

  				// {
  				// 	commandId: 'fab-tpi-medway',
  				// 	value: 'openIce',
  				// 	id: 'openIce',
  				// 	commandType: 'medway',
  				// 	label: 'ICE Orders',
  				// 	//icon: 'open_in_new',
  				// 	secondaryText: '',
  				// 	disabled: true,
  				// },

  				{
  					commandId: 'fab-tpi-medway',
  					value: 'openEDMS',
  					id: 'openEDMS',
  					commandType: 'medway',
  					label: 'Open EDMS',
  					//icon: 'open_in_new',
  					secondaryText: '',
  					disabled: this.IsLoading || false
  				},

  				{
  					commandId: 'fab-tpi-medway',
  					value: 'openConnectingCare',
  					id: 'openConnectingCare', //Add to menu for Bristol deployments only
  					commandType: 'medway',
  					label: 'Open Connecting Care',
  					//icon: 'open_in_new',
  					secondaryText: '',
  					disabled: this.IsLoading || false
  				}

  				// 	{/*Deep linked from clinical notes tab on dashboard*/
  				// 	commandId: 'fab-tpi-medway',
  				// 	value: 'viewNote',
  				// 	id: 'viewNote',
  				// 	commandType: 'medway',
  				// 	label: 'View Clinical Note',
  				// 	//icon: 'open_in_new',
  				// 	secondaryText: '',
  				// 	disabled: this.IsLoading || false
  				// },
  			);

  			if (this.networkId !== 1210 && this.networkId !== 1212) { //Add to menu for Bristol deployments only
  				let index = response.findIndex(x => x.id === 'openConnectingCare');
  				if (index !== -1) response.splice(index, 1);
			  }

			//Remove PACS for Bristol
            if (this.networkId === 1210 || this.networkId === 1212) {
                  let index = response.findIndex(x => x.id === 'openPACS');
                  if (index !== -1) response.splice(index, 1);
            }

  			return response || [];
  		}
  	},

  	methods: {
  		optionSelected(optionSelected) {
  			//Medway  Shell commands
  			if (optionSelected.commandId === 'fab-tpi-medway') {
  				this.IsLoading = true;
  				return this.getPatient()
  					.then(this.getPatientMedwayGuid)
  					.then(response => {
  						//Returns Medway Guid (sets on data also)
  						this.IsLoading = false;
  						this.$refs.dropdown.close(); //Close the fab menu
  						return appApi.callCommand(optionSelected.id, {
  							patientId: response
  						}); //Call global API method
  					})
  					.catch(error => {
  						this.IsLoading = false;
  					});
  			}
  		},

  		menuClosed() {
  			//if (this.widgetType === 'actions') this.$refs.dropdown.closeDropdown();
  		},
  		popoverClosed() {
  			this.FabIsOpen = false;
  		},
  		getPatient() {
  			return new Promise((resolve, reject) => {
  				//Only required in TPI shell to get Medway Guid, so check cache and skip if possible
  				const cachedMedwayPatient = appMain.getLastCachedValidPatientMedwayLookup(
  					this.patientId
  				);
  				if (cachedMedwayPatient) return resolve(cachedMedwayPatient.patientId);

  				GetPatient.callApi(this.patientId, this.networkId, [
  					'ClinicalTags',
  					'HandoverNotes',
  					'GroupLists'
  				])
  					.then((response, data, xhr, fullResponse) => {
  						this.Patient = response.Data;
  						resolve(this.Patient);
  					})
  					.fail(error => {
  						reject(error);
  					});
  			});
  		},
  		getPatientMedwayGuid() {
  			return new Promise((resolve, reject) => {
  				const cachedMedwayPatient = appMain.getLastCachedValidPatientMedwayLookup(
  					this.patientId
  				);
  				if (cachedMedwayPatient) return resolve(cachedMedwayPatient.patientId);

  				if (!this.Patient) return reject('No patient set');

  				//Pending network config implementation - need to get the Hospital number
  				let identifier = this.getPatientHospitalNumberFromIdentifiers(
  					this.Patient.PatientIdentifiers
  				);

  				if (!identifier) {
  					//No Hospital Number (Medway requirement) found
  					appMain.triggerAppNotification({
  						Text:
  							'No Hospital number found for patient <span class="u-strong">' +
  							this.Patient.PatientFamilyName +
  							', ' +
  							this.Patient.PatientGivenName +
  							'</span>',
  						Icon: 'error'
  					});
  					return reject('FAB TPI: No valid PrimaryIdentifier');
  				}

  				GetMedwayGuid.getPatientMedwayGuid(
  					this.Patient.PatientExternalIdentifier,
  					this.Patient,
  					identifier
  				)
  					.then(response => {
  						if (!response) return reject();
  						this.PatientMedwayGuid = response.patientId;
  						return resolve(this.PatientMedwayGuid);
  					})
  					.catch(error => {
  						appMain.triggerAppNotification({
  							Heading: 'Medway identifier unavailable',
  							Text:
  								'Could not open Medway. No Medway identifier available for patient <span class="u-strong">' +
  								this.Patient.PatientFamilyName +
  								', ' +
  								this.Patient.PatientGivenName +
  								'</span>',
  							Icon: 'error'
  						});
  						return reject(error);
  					});
  			});
  		}
  	},
  	created() {},
  	mounted() {},
  	deforeDestroy() {
  		this.Patient = null;
  	}
  };
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../less/app-variables.less';

  .tpi-menu-wrapper {
  	position: absolute;
  	bottom: 60px;
  	right: 40px;
  	width: 60px;
  	height: 60px;
  	//opacity: .9;
  }
  .menu-icon {
  	width: 57px;
  	height: 57px;
  	background: @careflow--blue;
  	display: flex;
  	border-radius: 50%;
  	align-items: center;
  	justify-content: center;
  	& .material-icons {
  		color: #fff;
  	}
  	&:hover {
  		cursor: pointer;
  	}
  }
  .menu-icon--open {
  	.menu-icon();
  	background: @urgent-colour;
  }
  .menu-icon--closed {
  	.menu-icon();
  }
  .menu-custom-block {
  	padding: 1em;
  	border-top: 1px solid @row--border;
  	max-width: 247px; /*To match select menu component*/
  }
  & .popover-trigger {
  	-webkit-touch-callout: none; /* iOS Safari */
  	-webkit-user-select: none; /* Safari */
  	-khtml-user-select: none; /* Konqueror HTML */
  	-moz-user-select: none; /* Firefox */
  	-ms-user-select: none; /* Internet Explorer/Edge */
  	user-select: none; /* Non-prefixed version, currently
                                                                  supported by Chrome and Opera */
  }
</style>

<custom>FAB - Patient context</custom>
