<template>
  <div class="report-wrapper">
    <div v-if="IsLoading" class="loader-wrapper">
      <ui-progress-circular color="primary"></ui-progress-circular>
    </div>
    <div :key="ComponentKey" :ref="ComponentKey" class="report-container"></div>
  </div>
</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  /*Components*/
  import * as pbi from 'powerbi-client';
  /* API Endpoints */
  import * as GetBiReport from 'Endpoints/networks/Reports';
  import appMain from 'AppJs/app-main';

  export default {
  	data() {
  		return {
  			IsLoading: false,
  			ReportContainer: null,
  			EmbedToken: null,
  			ReportIsLoaded: false,
  			ComponentKey: Date.now(),
  		};
  	},
  	components: {},
  	props: {
  		networkId: {
  			type: [Number, String],
  			required: true,
  			default: null,
  		},
  		reportGuid: {
  			type: [Number, String],
  			required: true,
  			default: null,
  		},
  	},
  	watch: {
  		reportGuid(newVal, oldVal) {
  			if (newVal) this.getEmbeddedReport();
  		},
  	},
  	mixins: [DateFilter],

  	computed: {},

  	methods: {
  		getEmbeddedReport() {
  			this.ComponentKey = Date.now();
  			this.ReportIsLoaded = false;
  			//if (this.$refs[this.reportGuid]) this.$refs[this.ComponentKey].innerHTML = '';
  			this.IsLoading = true;
  			GetBiReport.getReport(appMain.getNetworkExternalNetworkId(this.networkId), this.reportGuid)
  				.then((response, status, xhr, fullHeader) => {
  					if (this.reportGuid !== response.Data.Id) return; //Prevents trigger clicking on nav loading the wrong report
  					this.IsLoading = false;
  					// Get models. models contains enums that can be used.
  					if (!this.EmbedToken) this.EmbedToken = response.Data.EmbedToken;

  					let models = pbi.models;
  					//Is the accessToken per report or per session?
  					let embedConfiguration = {
  						type: 'report',
  						id: response.Data.Id, //Matches this.reportGuid
  						embedUrl: response.Data.EmbedUrl,
  						tokenType: models.TokenType.Embed, //https://github.com/Microsoft/PowerBI-JavaScript/wiki/Embedding-Basics
  						accessToken: response.Data.EmbedToken.token,
  						permissions: 1,
  						//accessToken: this.EmbedToken.token || response.Data.EmbedToken.token,
  					};

  					let report = powerbi.load(this.$refs[this.ComponentKey], embedConfiguration);

  					//Events - https://github.com/Microsoft/PowerBI-JavaScript/wiki/Handling-Events#full-list-of-events-and-their-response-values
  					report.on('rendered', event => {
  						//Called when a report is fully rendered. For example, if all visuals are rendered on loading report or after user interaction.
  						this.ReportIsLoaded = true;
  					});

  					report.on('error', event => {
  						appMain.triggerAppNotification({
  							Heading: 'Report could not be loaded',
  							Text: 'Please try again or contact your system administrator',
  							Icon: 'error',
  						});
  					});
  				})
  				.fail(error => {
  					this.IsLoading = false;
  					//try again
  					this.getEmbeddedReport();
  				});
  		},
  		reloadReport() {
  			//https://github.com/Microsoft/PowerBI-JavaScript/wiki/Embedding---Basic-interactions
  			let element = this.$refs[this.reportGuid];
  			let report = powerbi.get(element);
  			report.reload().catch(error => {});
  		},
  		refreshReport() {
  			//https://github.com/Microsoft/PowerBI-JavaScript/wiki/Embedding---Basic-interactions
  			let element = this.$refs[this.reportGuid];
  			let report = powerbi.get(element);

  			report.refresh().catch(error => {});
  		},
  	},
  	created() {
  		this.getEmbeddedReport();
  	},
  	mounted() {
  		VueEventBus.$on('BiReport.Refresh', reportId => {
  			if (this.ReportIsLoaded) this.refreshReport();
  			this.getEmbeddedReport();
  		});
  		appMain.setElementsAsFullHeight();
  	},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},
  	beforeDestroy() {
  		VueEventBus.$off('BiReport.Refresh');
  	},
  };
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../less/app-variables.less';
  .report-wrapper {
  	box-sizing: border-box;
  	display: flex;
  	width: 99%;
  	height: 100%;
  	flex-flow: column;
  }
  .report-container {
  	display: flex;
  	height: 100%;
  	height: 100vh;
  }
  .loader-wrapper {
  	padding: 1em;
  }
</style>

<custom>BiReport</custom>
