<template>
  <div class="patient-summary-widget">
    <div class="view-block__title">Active Problems</div>
    <div v-for="(item, index) in getActiveGpProblemsToDisplay" :key="index" class="item">
      <RowItem :item="item"></RowItem>
    </div>
  </div>
</template>

<script>
  import Vault from 'Endpoints/careflowApp/Vault';
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import GetPatientHospitalNumber from 'VueMixins/getPatientHospitalNumber';
  /* API Endpoints */
  import * as GetGpProblems from 'Endpoints/medwayServices/graphnetPrimaryCare/GetActiveGpProblems';
  /*Components*/
  import RowItem from 'VueComponents/medwayIntegrations/primaryCare/components/GpProblemsActiveRowItem.vue';

  export default {
  	data: function() {
  		return {
  			IsLoading: true,
  			ActiveProblems: [],
  			ApiError: false
  		};
  	},
  	mixins: [DateFilter, GetPatientHospitalNumber],
  	components: { RowItem },
  	props: {
  		patientId: {
  			required: true,
  			type: [Number, String]
  		},
  		networkId: {
  			required: true,
  			type: [Number, String]
  		},
  		memberAreaId: {
  			required: false,
  			type: [Number, String]
  		},
  		patientMedwayGuid: {
  			required: false,
  			type: [Number, String]
  		}
  	},
  	filters: {},

  	computed: {
  		getActiveGpProblemsToDisplay() {
  			return [
  				{
  					Date: '2014-01-21T00:00:00',
  					Rubric: 'Diabetes Diagnosis',
  					ReadCode: 'DT2D',
  					Notes: 'Type 2 Diabetes Mellitus diagnosed',
  					TenancyDescription: 'Orglinks'
  				}
  			];
  		}
  	},

  	watch: {},

  	methods: {
  		getActiveGpProblems() {
  			//api call - https://demoazcc.grhapp.com/CCAPI/swagger/ui/index#!/GpActiveProblems/GpActiveProblems_GetPregnancyBirthAndPostNatalResultsByPatientDetailId

  			return GetGpProblems.getActiveGpProblems()
  				.then(response => {
  					alert(JSON.stringify(response));
  				})
  				.catch(error => {
  					alert('error');
  				});
  		}
  	},

  	events: {},

  	beforeCreate: function() {},

  	created: function() {
  		this.getActiveGpProblems().catch(error => {
  			this.IsLoading = false;
  			this.ApiError = true;
  		});
  	},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},

  	mounted() {}
  };
</script>

<style scoped lang="less">
  @import '../../../../../../less/app-variables.less';
  .patient-summary-widget {
  	box-sizing: border-box;
  	margin: 1em 0 2em 0;
  	padding: 0 1em;
  }
  .item {
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
  	margin: 0 0 0.6em 0;
  	flex-wrap: wrap;
  	flex: 1;
  }
</style>
<notes>GraphNet Primary Care Tab view (Integration API), used on patient dashboard.</notes>
