<template>
  <div class="patient-summary-widget">
    <div class="view-block__title">Past Problems</div>
    <div v-for="(item, index) in getPastGpProblemsToDisplay" :key="index" class="item">
      <RowItem :item="item"></RowItem>
    </div>
  </div>
</template>

<script>
  import Vault from 'Endpoints/careflowApp/Vault';
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import GetPatientHospitalNumber from 'VueMixins/getPatientHospitalNumber';
  /* API Endpoints */
  import * as GetGpProblems from 'Endpoints/medwayServices/graphnetPrimaryCare/GetActiveGpProblems';
  /*Components*/
  import RowItem from 'VueComponents/medwayIntegrations/primaryCare/components/GpProblemsPastRowItem.vue';

  export default {
  	data: function() {
  		return {
  			IsLoading: true,
  			ActiveProblems: [],
  			ApiError: false
  		};
  	},
  	mixins: [DateFilter, GetPatientHospitalNumber],
  	components: { RowItem },
  	props: {
  		patientId: {
  			required: true,
  			type: [Number, String]
  		},
  		networkId: {
  			required: true,
  			type: [Number, String]
  		},
  		memberAreaId: {
  			required: false,
  			type: [Number, String]
  		},
  		patientMedwayGuid: {
  			required: false,
  			type: [Number, String]
  		}
  	},
  	filters: {},

  	computed: {
  		getPastGpProblemsToDisplay() {
  			return [
        {
            "Date": "2000-09-04T00:00:00",
            "Rubric": "Insomnia",
            "ReadCode": "R0052",
            "Notes": "",
            "TenancyDescription": "Orglinks"
        },
        {
            "Date": "1999-10-07T00:00:00",
            "Rubric": "O/E - dry skin",
            "ReadCode": "2F13.",
            "Notes": "",
            "TenancyDescription": "Orglinks"
        },
        {
            "Date": "1995-04-07T00:00:00",
            "Rubric": "Obesity",
            "ReadCode": "C380.",
            "Notes": "",
            "TenancyDescription": "Orglinks"
        },
        {
            "Date": "1994-11-30T00:00:00",
            "Rubric": "Glue ear",
            "ReadCode": "F4130",
            "Notes": "",
            "TenancyDescription": "Orglinks"
        },
        {
            "Date": "1994-06-22T00:00:00",
            "Rubric": "Back pain",
            "ReadCode": "N145.",
            "Notes": "",
            "TenancyDescription": "Orglinks"
        },
        {
            "Date": "1993-07-19T00:00:00",
            "Rubric": "Pharyngitis - acute",
            "ReadCode": "H02..",
            "Notes": "",
            "TenancyDescription": "Orglinks"
        },
        {
            "Date": "1992-10-26T00:00:00",
            "Rubric": "Knee joint pain left",
            "ReadCode": "N0946",
            "Notes": "",
            "TenancyDescription": "Orglinks"
        },
        {
            "Date": "1991-11-08T00:00:00",
            "Rubric": "Angioneurotic oedema?contact",
            "ReadCode": "SN51.",
            "Notes": "",
            "TenancyDescription": "Orglinks"
        },
        {
            "Date": "1991-05-06T00:00:00",
            "Rubric": "Frequency of micturition.",
            "ReadCode": "R084.",
            "Notes": "",
            "TenancyDescription": "Orglinks"
        }
    ];
  		}
  	},

  	watch: {},

  	methods: {
  		getPastGpProblems() {
  			//api call - https://demoazcc.grhapp.com/CCAPI/swagger/ui/index#!/GpActiveProblems/GpActiveProblems_GetPregnancyBirthAndPostNatalResultsByPatientDetailId

  			return GetGpProblems.getActiveGpProblems()
  				.then(response => {
  					alert(JSON.stringify(response));
  				})
  				.catch(error => {
  					alert('error');
  				});
  		}
  	},

  	events: {},

  	beforeCreate: function() {},

  	created: function() {
  		this.getPastGpProblems().catch(error => {
  			this.IsLoading = false;
  			this.ApiError = true;
  		});
  	},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},

  	mounted() {}
  };
</script>

<style scoped lang="less">
  @import '../../../../../../less/app-variables.less';
  .patient-summary-widget {
  	box-sizing: border-box;
  	margin: 1em 0 2em 0;
  	padding: 0 1em;
  }
  .item {
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
  	margin: 0 0 0.6em 0;
  	flex-wrap: wrap;
  	flex: 1;
  }
</style>
<notes>GraphNet Primary Care Tab view (Integration API), used on patient dashboard.</notes>
