<template>
  <div ref="info" class="item-row"><span class="row__title">{{item.Rubric}}</span><span class="row__date">{{item.Date | formatDate}}</span>
    <!--popover-->
    <ui-popover class="custom-popover" open-on="hover" trigger="info">
      <div class="popover-row" v-if="item.Notes"><span class="title">Notes:</span>{{item.Notes}}</div>
      <div class="popover-row" v-if="item.ReadCode"><span class="title">Read code:</span>{{item.ReadCode}}</div>
    </ui-popover>
  </div>
</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  /* API Endpoints */
  export default {
  	data: function() {
  		return {
  			IsLoading: true,
  			ApiError: false
  		};
  	},
  	mixins: [DateFilter],
  	components: {},
  	props: {
  		item: {
  			required: true,
  			type: [Object]
  		}
  	},
  	filters: {},

  	computed: {},

  	watch: {},

  	methods: {},

  	events: {},

  	beforeCreate: function() {},

  	created: function() {},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},

  	mounted() {}
  };
</script>

<style scoped lang="less">
  @import '../../../../../../less/app-variables.less';
  .item-row {
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;

  	& .row__title {
  		@text-wrap-container();
  		color: @link--active;
  		font-weight: @font--medium;
  		display: flex;
  		flex-grow: inherit;
  		padding: 0;
  		margin: 0 0.7em 0 0;
  		box-sizing: border-box;
  		&:hover {
  			cursor: pointer;
  		}
  	}
  	& .row__date {
  		color: @text-light;
  		display: flex;
  		font-weight: @font--normal;
  		margin: 0;
  	}
  }
  .popover-row {
  	margin: 0 0 0.5em 0;
  	display: flex;
	  flex-flow: row;
	  &:last-of-type {
		  margin-bottom: 0;
	  }
  	& .title {
  		color: @text-light;
  		display: flex;
  		font-weight: @font--normal;
  		margin: 0 0.5em 0 0;
  	}
  }
</style>
<notes>GraphNet Primary Care Tab view (Integration API), used on patient dashboard.</notes>
