﻿<template>
  <div class="teamPatientView__wrapper">

    <section>
      <div data-full-height-deduct="true" class="js-teamPatientView-head-section">
        <div class="teamPatientView__headSection">
          <patient-banner :key="PatientId" :member-area-id="MemberAreaId" :network-id="NetworkId" :patient="Patient" :patient-id="PatientId"></patient-banner>
          <!--Patient Summary Menu-->
          <nav class="teamPatientView__nav pure-u-1">
            <ul class="teamPatientView__nav-ul">
              <li :class="{'nav-ul-li': true, 'active':ActiveTab === 'patient-summary'}" v-on:click="summaryTabSelected('patient-summary')">
                <span>Summary</span>
              </li>
              <li v-if="Permissions.includes('ReadContent')" :class="{'nav-ul-li': true, 'active':ActiveTab === 'patient-updates'}" v-on:click="summaryTabSelected('patient-updates')">
                <span>Updates</span>
              </li>
              <li v-if="Permissions.includes('UpsertHandoverNote')" :class="{'nav-ul-li': true, 'active':ActiveTab === 'patient-handovers'}" v-on:click="summaryTabSelected('patient-handovers')">
                <span>Handover</span>
              </li>
              <li v-if="Permissions.includes('ViewReferral')" :class="{'nav-ul-li': true, 'active':ActiveTab === 'patient-referrals'}" v-on:click="summaryTabSelected('patient-referrals')">
                <span>Referrals</span>
              </li>
              <li v-if="Permissions.includes('TasksAreAllowed')" :class="{'nav-ul-li': true, 'active':ActiveTab === 'patient-tasks'}" v-on:click="summaryTabSelected('patient-tasks')">
                <span>Tasks</span>
              </li>
              <li v-if="Permissions.includes('ManagePatientClinicalTags')" :class="{'nav-ul-li': true, 'active':ActiveTab === 'patient-tags'}" v-on:click="summaryTabSelected('patient-tags')">
                <span>Tags</span>
              </li>
              <li v-if="Permissions.includes('AddPatientToGroupList')" :class="{'nav-ul-li': true, 'active':ActiveTab === 'patient-lists'}" v-on:click="summaryTabSelected('patient-lists')">
                <span>Lists</span>
              </li>
              <li v-if="Permissions.includes('CurrentMedicationsAreEnabled')" :class="{'nav-ul-li': true, 'active':ActiveTab === 'patient-medications'}" v-on:click="summaryTabSelected('patient-medications')">
                <span>Medications</span>
              </li>
              <li v-if="Permissions.includes('ClinicalResultsEnabled')" :class="{'nav-ul-li': true, 'active':ActiveTab === 'patient-results'}" v-on:click="summaryTabSelected('patient-results')">
                <span>Results</span>
              </li>
              <li v-if="Permissions.includes('ClinicalNotesAreEnabled')" :class="{'nav-ul-li': true, 'active':ActiveTab === 'patient-clinical-notes'}" v-on:click="summaryTabSelected('patient-clinical-notes')">
                <span>Notes</span>
              </li>
              <li v-if="Permissions.includes('SharedCareRecordEnabled')" :class="{'nav-ul-li': true, 'active':ActiveTab === 'patient-shared-care'}" v-on:click="summaryTabSelected('patient-shared-care')">
                <span>Shared care record</span>
              </li>
			   <li :class="{'nav-ul-li': true, 'active':ActiveTab === 'patient-primary-care'}" v-on:click="summaryTabSelected('patient-primary-care')">
                <span>Primary care</span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
    <!--Tab views-->
    <div class="pure-u-1 u-relative">
      <div :key="PatientId" v-if="ActiveTab === 'patient-summary'" class="">
        <summary-tab @set-active-tab="setActiveContentItemInTab" :patient-medway-guid="PatientMedwayGuid" :member-area-id="MemberAreaId" :network-id="NetworkId" :patient="Patient" :patient-id="PatientId" :permissions="Permissions" :routeConfig="routeConfig"></summary-tab>
      </div>

      <div :key="PatientId" v-if="ActiveTab === 'patient-updates'" class="feedBody__container">
        <content-feed :member-area-id="MemberAreaId" :network-id="NetworkId" :patient-id="PatientId" :content-id-to-activate="ContentIdToActivate" :routeConfig="routeConfig"></content-feed>
      </div>

      <div :key="PatientId" v-if="ActiveTab === 'patient-handovers'" class="">
        <handover-tab :member-area-id="MemberAreaId" :network-id="NetworkId" :patient="Patient" :patient-id="PatientId" :content-id-to-activate="ContentIdToActivate" :routeConfig="routeConfig"></handover-tab>
      </div>

      <div :key="PatientId" v-if="ActiveTab === 'patient-referrals'" class="">
        <referrals-tab :member-area-id="MemberAreaId" :network-id="NetworkId" :patient-id="PatientId" :default-content-item-id="ContentIdToActivate" :routeConfig="routeConfig"></referrals-tab>
      </div>

      <div :key="PatientId" v-if="ActiveTab === 'patient-tasks'" class="">
        <tasks-tab :member-area-id="MemberAreaId" :network-id="NetworkId" :patient-id="PatientId" :supplied-active-task-content-id="ContentIdToActivate" :routeConfig="routeConfig"></tasks-tab>
      </div>

      <div :key="PatientId" v-if="ActiveTab === 'patient-tags'" class="">
        <patient-tags :member-area-id="MemberAreaId" :network-id="NetworkId" :patient-id="PatientId" :routeConfig="routeConfig" :widgetType="2"></patient-tags>
      </div>

      <div :key="PatientId" v-if="ActiveTab === 'patient-lists'" class="">
        <lists-tab :member-area-id="MemberAreaId" :network-id="NetworkId" :patient-id="PatientId" :routeConfig="routeConfig"></lists-tab>
      </div>

      <div :key="PatientId" v-if="ActiveTab === 'patient-medications'" class="">
        <MedicationsTab :member-area-id="MemberAreaId" :network-id="NetworkId" :patient-id="PatientId" :patient="Patient" :routeConfig="routeConfig"></MedicationsTab>
      </div>

      <div :key="PatientId" v-if="ActiveTab === 'patient-results'" class="">
        <results-tab :member-area-id="MemberAreaId" :network-id="NetworkId" :patient-hospital-number="Patient.PatientIdentifiers.PrimaryIdentifier.Value" :result-id-to-trigger="ContentIdToActivate" :routeConfig="routeConfig"></results-tab>
      </div>

      <div :key="PatientId" v-if="ActiveTab === 'patient-clinical-notes'" class="">
        <ClinicalNotesTab :member-area-id="MemberAreaId" :network-id="NetworkId" :patient-id="PatientId" :patient="Patient" :routeConfig="routeConfig"></ClinicalNotesTab>
      </div>

      <div :key="PatientId" v-if="ActiveTab === 'patient-shared-care'" class="">
        <shared-care-tab :member-area-id="MemberAreaId" :network-id="NetworkId" :patient-id="PatientId" :patient="Patient" :routeConfig="routeConfig"></shared-care-tab>
      </div>

	  <div :key="PatientId" v-if="ActiveTab === 'patient-primary-care'" class="">
        <primary-care-tab :member-area-id="MemberAreaId" :network-id="NetworkId" :patient-id="PatientId" :patient="Patient" :routeConfig="routeConfig"></primary-care-tab>
      </div>
    </div>
    <PatientContextFab :patientId="PatientId" :patient="Patient" :networkId="NetworkId" :memberAreaId="MemberAreaId" :routeConfig="routeConfig"></PatientContextFab>
    <TpiShellFabCommands v-if="IsTpiIntegrationSession" :patientId="PatientId" :patient="Patient" :networkId="NetworkId" :memberAreaId="MemberAreaId" :routeConfig="routeConfig"></TpiShellFabCommands>
  </div>
</template>

<script>
  /*APIs*/
  import * as GetMedwayGuid from 'Endpoints/medwayServices/patientServiceAPI/GetPatientMedwayGuid';
  /*Utils*/
  import PubSub from 'Endpoints/careflowApp/PubSub';
  import Vault from 'Endpoints/careflowApp/Vault';
  import GetHandlebarsTemplate from 'Endpoints/careflowApp/GetHandlebarsTemplate';
  /*Mixins*/
  import GetPatientHospitalNumber from 'VueMixins/getPatientHospitalNumber';
  /*Components*/
  import PatientBanner from 'VueComponents/patientBanners/FullPatientBanner';
  import ContentFeed from 'VueComponents/feeds/FeedComponent';
  import ReferralsTab from 'VueComponents/referrals/TeamPatientReferrals';
  import TasksTab from 'VueComponents/tasks/TasksList';
  import SummaryTab from 'VueComponents/patientDashboard/TabSummary';
  //import HandoverTab from 'VueComponents/patientDashboard/TabHandover';
  import HandoverTab from 'VueComponents/handovers/HandoverList';
  import PatientTags from 'VueComponents/patientDashboard/widgets/PatientClinicalTagsWidget';
  //import ListsTab from 'VueComponents/patientDashboard/TabLists';
  import ListsTab from 'VueComponents/patientTeamListMemberships/PatientListMemberships';
  import ResultsTab from 'VueComponents/patientDashboard/TabResults';
  //import NotesTab from 'VueComponents/patientDashboard/TabNotes';
  import SharedCareTab from 'VueComponents/patientDashboard/TabSharedCare';
    import PrimaryCareTab from 'VueComponents/medwayIntegrations/primaryCare/PrimaryCareTabView';
  import MedicationsTab from 'VueComponents/medwayIntegrations/patientMedications/CurrentMedicationsFullPatientView';
  import ClinicalNotesTab from 'VueComponents/medwayIntegrations/clinicalNotes/ClinicalNotesTabView';
  import PatientContextFab from 'VueComponents/fab/PatientContextFab';
  import TpiShellFabCommands from 'VueComponents/fab/TpiShellFabCommands';

  export default {
  	data: function() {
  		return {
  			//Set once at runtime
  			Patient: this.patient || null,
  			PatientId: this.patientId || null,
  			PatientHospitalNumber: this.patient
  				? this.getPatientHospitalNumberFromIdentifiers(
  						this.patient.PatientIdentifiers
  				  )
  				: null,
  			PatientMedwayGuid: null,
  			MemberAreaId: this.memberAreaId || null,
  			NetworkId: this.networkId || Vault.getSessionItem('ActiveNetworkId'),
  			TasksAreAllowed: false,
  			VitalsAndObsEnabled: false,
  			//ClinicalNotingEnabled: false,
  			ClinicalResultsEnabled: false,
  			PatientEpisodeServiceEnabled: false,
  			SharedCareRecordEnabled: false,
  			MedwayPatientAlertsAreEnabled: false,
  			CurrentMedicationsAreEnabled: false,
  			ClinicalNotesAreEnabled: false,
  			IsTpiIntegrationSession: appMain.isTpiIntegrationSession(),
  			Environment: appMain.getCurrentEnvironment() || null,
  			ActiveTab: 'patient-summary', //Default
  			ContentIdToActivate: null,
  			RebuildUiComponentKey: Date.now(), //Changing this prop will force any component with the :key="RebuildUiComponentKey" to re-render
  			Permissions: []
  		};
  	},
  	mixins: [GetPatientHospitalNumber],
  	components: {
  		PatientBanner,
  		SummaryTab,
  		ContentFeed,
  		HandoverTab,
  		ReferralsTab,
  		TasksTab,
  		PatientTags,
  		ListsTab,
  		MedicationsTab,
  		ResultsTab,
  		ClinicalNotesTab,
		  SharedCareTab,
		  PrimaryCareTab,
  		PatientContextFab,
  		TpiShellFabCommands
  	},
  	props: {
  		patientId: {
  			type: [String, Number],
  			default: '',
  			required: true
  		},
  		patient: {
  			type: Object,
  			default: function() {
  				return {};
  			},
  			required: true
  		},
  		networkId: {
  			type: [String, Number],
  			default: '',
  			required: true
  		},
  		memberAreaId: {
  			type: [String, Number],
  			default: '',
  			required: false
  		},
  		routeConfig: {
  			type: [String, Object],
  			default: null,
  			required: false
  		}
  		//permissions: {
  		//    type: Array,
  		//    default: function () { return [] },
  		//    required: false
  		//}
  	},

  	watch: {
  		patient(newVal, oldVal) {
  			//Will trigger rebuild of patient dashboard tabs and views, PatientId is :key
  			this.PatientId = newVal.PatientExternalIdentifier;
  			this.Patient = newVal;
  			this.PatientHospitalNumber =
  				this.getPatientHospitalNumberFromIdentifiers(
  					newVal.PatientIdentifiers
  				) || null;
  			this.PatientMedwayGuid = null;
  			if (this.ActiveTab) this.summaryTabSelected(this.ActiveTab);
  		}
  	},
  	methods: {
  		getUserPermissions() {
  			let permissions = appMain.getUserPermissionsForAllUsersMemberAreas(); //https://doccom.atlassian.net/browse/WEB-907

  			this.TasksAreAllowed = this.teamAllowsTasks();

  			this.VitalsAndObsEnabled =
  				appMain.checkIfFeatureIsEnabledInAppConfig(
  					'enablePatientObsAndVitals'
  				) !== false;

  			//this.ClinicalNotingEnabled = appMain.checkIfFeatureIsEnabledInAppConfig('clinicalNotingBaseURI') !== false;

  			this.ClinicalResultsEnabled =
  				appMain.checkIfFeatureIsEnabledInAppConfig('enableClinicalResults') !==
  				false;

  			this.SharedCareRecordEnabled =
  				appMain.checkIfFeatureIsEnabledInAppConfig(
  					'sharedCareRecordBaseURI'
  				) !== false;

  			this.MedwayPatientAlertsAreEnabled =
  				appMain.checkIfFeatureIsEnabledInAppConfig(
  					'enablePatientAlertingService'
  				) !== false;

  			this.CurrentMedicationsAreEnabled =
  				appMain.checkIfFeatureIsEnabledInAppConfig(
  					'enableCurrentMedicationsService'
  				) !== false;

  			this.ClinicalNotesAreEnabled =
  				appMain.checkIfFeatureIsEnabledInAppConfig(
  					'enableClinicalNotesService'
  				) !== false;

  			this.PatientEpisodeServiceEnabled =
  				appMain.checkIfFeatureIsEnabledInAppConfig(
  					'enablePatientEpisodeService'
  				) !== false;

  			if (this.TasksAreAllowed) permissions.push('TasksAreAllowed');
  			if (this.VitalsAndObsEnabled) permissions.push('VitalsAndObsEnabled');
  			//if (this.ClinicalNotingEnabled) permissions.push('ClinicalNotingEnabled');
  			if (this.ClinicalResultsEnabled)
  				permissions.push('ClinicalResultsEnabled');
  			if (this.SharedCareRecordEnabled)
  				permissions.push('SharedCareRecordEnabled');
  			if (this.MedwayPatientAlertsAreEnabled)
  				permissions.push('MedwayPatientAlertsAreEnabled');
  			if (this.CurrentMedicationsAreEnabled)
  				permissions.push('CurrentMedicationsAreEnabled');
  			if (this.ClinicalNotesAreEnabled)
  				permissions.push('ClinicalNotesAreEnabled');
  			if (this.PatientEpisodeServiceEnabled)
  				permissions.push('PatientEpisodeServiceEnabled');

  			this.Permissions = permissions || [];
  			return permissions || [];
  		},
  		summaryTabSelected(tabId) {
  			if (!tabId) return;
  			this.ActiveTab = tabId;
  		},
  		setActiveContentItemInTab(obj) {
  			//Event triggered
  			if (!obj) return;
  			this.ContentIdToActivate = obj.ContentItemId;
  			this.summaryTabSelected(obj.ContentType);
  		},

  		summaryTabDeSelected(tabId) {},

  		teamAllowsTasks() {
  			if (
  				!Vault.getItem('NetworkTeamsAllowingTasks') ||
  				!Array.isArray(Vault.getItem('NetworkTeamsAllowingTasks'))
  			)
  				return false;

  			if (!this.memberAreaId) {
  				return (this.TasksAreAllowed =
  					Vault.getItem('NetworkTeamsAllowingTasks').length > 0); //At network level, just check if ANY team in network allows Tasks
  			} else {
  				return (this.TasksAreAllowed =
  					Vault.getItem('NetworkTeamsAllowingTasks').filter(
  						item => item.MemberAreaId === this.memberAreaId
  					).length > 0);
  			}
  		}
  	},
  	created: function() {
  		this.getUserPermissions(); //Dashboard is cross team, so check all users teams
  		if (this.routeConfig && this.routeConfig.hasOwnProperty('ActiveTab'))
  			this.ActiveTab = this.routeConfig.ActiveTab;

  		// if (this.patient && this.patientId && this.PatientHospitalNumber) {
  		// 	//Get the Medway GUID
  		// 	GetMedwayGuid.getPatientMedwayGuid(this.patientId, this.patient, this.PatientHospitalNumber)
  		// 		.then(response => {
  		// 			this.PatientMedwayGuid = response.patientId;
  		// 		})
  		// 		.catch(error => {});
  		// }

  		if (this.Environment === 'Demo') {
  			VueEventBus.$on('PatientSummaryWidget.Results.ViewAll', () => {
  				return this.summaryTabSelected('patient-results');
  			});
  		}
  	},
  	mounted: function() {},

  	updated: function() {},

  	beforeDestroy: function() {
  		if (this.Environment === 'Demo')
  			VueEventBus.$off('PatientSummaryWidget.Results.ViewAll');
  	}
  };
</script>

<style>
</style>

<custom>Patient Summary - This compomnent is gradually deprecating GroupHome__PatientView handlebars template, refactoring to Vue along with the components that live within it.</custom>
