﻿<template>
	<div data-scroll="true" class="pure-u-1 js-fullHeight-bodyElement">
		<!--DOM container for at present non Vue components - refactor underway-->
		<div class="js-teamPatientView-lists-tab-template"></div>
	</div>
</template>

<script>
/* API Endpoints */
import GetPatient from 'Endpoints/patients/GetPatient';

/*Utils*/
import PubSub from 'Endpoints/careflowApp/PubSub';
import Vault from 'Endpoints/careflowApp/Vault';
import GetHandlebarsTemplate from 'Endpoints/careflowApp/GetHandlebarsTemplate';

/*Views*/
import patientView from 'Views/PatientView';

/*Components*/
import { VueContentLoading } from 'vue-content-loading';

export default {
	data: function() {
		return {
			Patient: this.patient,
			PatientId: this.patientId,
			MemberAreaId: this.memberAreaId || null,
			NetworkId: this.networkId || Vault.getSessionItem('ActiveNetworkId'),
			Permissions: this.permissions,
			Environment: null
		};
	},
	components: { VueContentLoading },
	props: {
		patientId: {
			type: [String, Number],
			default: '',
			required: true
		},
		patient: {
			type: Object,
			default: function() {
				return {};
			},
			required: false
		},
		networkId: {
			type: [String, Number],
			default: '',
			required: true
		},
		memberAreaId: {
			type: [String, Number],
			default: '',
			required: false
		},
		permissions: {
			type: Array,
			default: function() {
				return [];
			},
			required: false
		}
	},

	watch: {},
	methods: {
		getUserPermissions() {
			return appMain.getUserPermissionsForAllUsersMemberAreas(); //https://doccom.atlassian.net/browse/WEB-907
		},

		getPatientListsTab(obj) {
			/*Obj present on a 'reload' typically triggered by legacy modal*/

			if (!obj || (obj && obj.IsModal)) {
				$('.js-teamPatientView-lists-tab-template').ajaxLoadingHelper({
					LoadingMessage: 'Loading patient lists',
					DisableNoInputs: true
				});
			}

			GetPatient.callApi(this.PatientId, this.NetworkId, 'ClinicalTags, HandoverNotes, GroupLists')
				.then((response, textStatus, xHR) => {
					//https://doccom.atlassian.net/browse/WEB-741
					patientView.setCachedPatient(response); //Update patient cache here (For legacy, non Vue FAB etc.)

					if (!obj || (obj && obj.IsModal)) {
						PubSub.publish('PatientView.GetPatientActions.PatientLists', {
							/*Legacy, deprecate with Vue control*/
							PatientId: this.PatientId,
							PatientData: response.Data,
							IsModal: false,
							MemberAreaId: this.MemberAreaId || null,
							IsNetworkContext: !!this.MemberAreaId
						});
					}
				})
				.fail(error => {});
		}
	},
	created: function() {
		this.Environment = appMain.getCurrentEnvironment();
		/*Events*/
		VueEventBus.$on('PatientView.GetPatientActions.PatientListStatusUpdated', obj => {
			this.getPatientListsTab(obj);
		});
	},
	mounted: function() {
		//Init
		this.getPatientListsTab();
	},
	beforeDestroy() {
		VueEventBus.$off('PatientView.GetPatientActions.PatientListStatusUpdated');
	}
};
</script>

<style></style>
<custom>Patient Lists Tab, TO BE REFACTORED TO VUE</custom>
