﻿<template>
	<div class="pure-g">
		<div class="pure-u-1 js-fullHeight-bodyElement js-iframe-parent-wrapper">
			<iframe class="js-rapportTest-iframe" name="iframe"></iframe>
		</div>
		<!--Demo environment requires a specific post-->
		<form v-if="Environment !== 'Demo'" class="u-no-display js-rapportTest-postForm" id="notes-post" target="iframe" method="post" :action="ClinicalNotingBaseURI">
			<input type="hidden" name="Username" :value="UserName" />
			<!--<input type="hidden" name="Password" value="kG28H*#5" />-->
			<input type="hidden" name="AuthorizationToken" :value="AccessToken" />
			<input type="hidden" name="SiteCode" :value="SiteCode" />
			<input type="hidden" name="HomeHubId" value="hubschemas/plasma/clinicalnotingoverview" />
			<input type="hidden" name="PatientSearchResult.SourceSiteCode" :value="SiteCode" />
			<input type="hidden" name="PatientSearchResult.Title" :value="Patient.PatientTitle" />
			<input type="hidden" name="PatientSearchResult.Surname" :value="Patient.PatientFamilyName" />
			<input type="hidden" name="PatientSearchResult.Forename" :value="Patient.PatientGivenName" />
			<input type="hidden" name="PatientSearchResult.Address" :value="Patient.Address" />
			<input type="hidden" name="PatientSearchResult.DateOfBirth" :value="Patient.PatientDateOfBirth" />
			<input type="hidden" name="PatientSearchResult.DateOfDeath" :value="Patient.DateOfDeath" />
			<input type="hidden" name="PatientSearchResult.LocalId" :value="Patient.PatientIdentifiers.PrimaryIdentifier.Value" />
			<input type="hidden" name="PatientSearchResult.LocalIdType" :value="Patient.PatientIdentifiers.PrimaryIdentifier.Label" />
			<input type="hidden" name="PatientSearchResult.Gender" :value="Patient.PatientGender" />
			<input type="hidden" name="PatientSearchResult.Postcode" value="" />
			<input type="hidden" name="PatientSearchResult.HasLinkedPatients" value="" />
			<input type="hidden" name="PatientSearchResult.IsMinorPatient" value="" />
			<input type="hidden" name="PatientSearchResult.RestrictedDemographics" value="" />
			<input type="hidden" name="PatientSearchResult.RestrictedRecord" value="" />
			<input type="hidden" name="PatientSearchResult.ExternalId" :value="Patient.PatientExternalIdentifier" />
			<!--Patient external ID-->
			<input type="hidden" name="PatientSearchResult.ProviderName" value="Careflow" />
			<input type="hidden" name="PatientSearchResult.ContactNumber" :value="Patient.TelephoneNumber" />
			<input type="hidden" name="PatientContexts" value="null" />
			<input type="hidden" name="ConsentToken" value="null" />
		</form>
		<!--Demo-->
		<form v-else class="u-no-display js-rapportTest-postForm" id="notes-post" target="iframe" method="post" action="https://pwnhsft-clinical.shearwatersystems.com/web/external/login">
			<input type="hidden" name="Username" value="clinicalnoting.user" />
			<input type="hidden" name="Password" value="kG28H*#5" />
			<input type="hidden" name="AuthorizationToken" value="" />
			<input type="hidden" name="SiteCode" value="999" />
			<input type="hidden" name="HomeHubId" value="hubschemas/plasma/clinicalnotingoverview" />
			<input type="hidden" name="PatientSearchResult.SourceSiteCode" value="999" />
			<input type="hidden" name="PatientSearchResult.Title" :value="Patient.PatientTitle" />
			<input type="hidden" name="PatientSearchResult.Surname" :value="Patient.PatientFamilyName" />
			<input type="hidden" name="PatientSearchResult.Forename" :value="Patient.PatientGivenName" />
			<input type="hidden" name="PatientSearchResult.Address" :value="Patient.Address" />
			<input type="hidden" name="PatientSearchResult.DateOfBirth" :value="Patient.PatientDateOfBirth" />
			<input type="hidden" name="PatientSearchResult.DateOfDeath" :value="Patient.DateOfDeath" />
			<input type="hidden" name="PatientSearchResult.LocalId" :value="Patient.PatientIdentifiers.PrimaryIdentifier.Value" />
			<input type="hidden" name="PatientSearchResult.LocalIdType" :value="Patient.PatientIdentifiers.PrimaryIdentifier.Label" />
			<input type="hidden" name="PatientSearchResult.Gender" :value="Patient.PatientGender" />
			<input type="hidden" name="PatientSearchResult.Postcode" value="" />
			<input type="hidden" name="PatientSearchResult.HasLinkedPatients" value="" />
			<input type="hidden" name="PatientSearchResult.IsMinorPatient" value="" />
			<input type="hidden" name="PatientSearchResult.RestrictedDemographics" value="" />
			<input type="hidden" name="PatientSearchResult.RestrictedRecord" value="" />
			<input type="hidden" name="PatientSearchResult.ExternalId" :value="Patient.PatientExternalIdentifier" />
			<!--Patient external ID-->
			<input type="hidden" name="PatientSearchResult.ProviderName" value="Careflow" />
			<input type="hidden" name="PatientSearchResult.ContactNumber" :value="Patient.TelephoneNumber" />
			<input type="hidden" name="PatientContexts" value="null" />
			<input type="hidden" name="ConsentToken" value="null" />
		</form>
	</div>
</template>

<script>
/* API Endpoints */
import GetPatient from 'Endpoints/patients/GetPatient';

/*Utils*/
import PubSub from 'Endpoints/careflowApp/PubSub';
import Vault from 'Endpoints/careflowApp/Vault';
import GetHandlebarsTemplate from 'Endpoints/careflowApp/GetHandlebarsTemplate';

/*Views*/
import patientView from 'Views/PatientView';

/*Components*/
import { VueContentLoading } from 'vue-content-loading';

export default {
	data: function() {
		return {
			Patient: this.patient,
			ClinicalNotingBaseURI: null,
			SiteCode: null,
			AccessToken: null,
			UserName: null,
			Environment: appMain.getCurrentEnvironment(),
			NetworkId: this.networkId,
			MemberAreaId: this.memberAreaId,
			IsLoading: true
		};
	},
	components: { VueContentLoading },
	props: {
		patientId: {
			type: [String, Number],
			default: '',
			required: true
		},
		patient: {
			type: Object,
			default: function() {
				return {};
			},
			required: true
		},
		networkId: {
			type: [String, Number],
			default: '',
			required: true
		},
		memberAreaId: {
			type: [String, Number],
			default: '',
			required: false
		},
		permissions: {
			type: Array,
			default: function() {
				return [];
			},
			required: false
		}
	},

	watch: {},
	methods: {
		getUserPermissions() {
			return appMain.getUserPermissionsForAllUsersMemberAreas(); //https://doccom.atlassian.net/browse/WEB-907
		},

		getPatientMedwayNotesTab() {
			appMain.removeGlobalContextActionsUi();

			//Get the token and username
			this.AccessToken = JSON.parse(JSON.stringify(Vault.getSessionItem('access_token')));
			this.UserName = Vault.getItem('LoggedInUserEmail');

			//Get the rapport iframe url URL via app config - find the correct data for this network
			this.ClinicalNotingBaseURI = appMain.checkIfFeatureIsEnabledInAppConfig('clinicalNotingBaseURI');
			this.SiteCode = appMain.checkIfFeatureIsEnabledInAppConfig('siteCode');

			if (!this.ClinicalNotingBaseURI || !this.SiteCode) return;

			this.IsLoading = false;

			//Setup the iframe / DOM
			appMain.setElementsAsFullHeight();

			let $iframe = $('.js-rapportTest-iframe');
			let height = $iframe.closest('.js-fullHeight-bodyElement').height();

			$iframe.css({ width: '99.2%', border: 'none', height: height });

			//We need to resize the iframe on window resize
			$(window).resize(function() {
				height = $iframe.closest('.js-fullHeight-bodyElement').height();
				$iframe.css({ width: '99.2%', border: 'none', height: height });
			});

			//Post the data
			setTimeout(() => {
				document.getElementById('notes-post').submit();
				//Remove the post form
				document.getElementById('notes-post').remove();
			}, 0);
		}
	},
	created: function() {
		this.Environment = appMain.getCurrentEnvironment();
	},
	mounted: function() {
		//Init
		this.getPatientMedwayNotesTab();
	}
};
</script>

<style></style>
<custom>Patient Medway Clinical Notes Tab, TO BE REFACTORED TO VUE</custom>
