﻿<template>
    <div class="pure-u-1">
        <div id="patient-results-view" data-vue-el="patient-results-view" class="pure-u-1 patient-results-table-wrapper">
            <!--<loading-block message="Loading patient results..." v-if="IsLoading"></loading-block>-->
            <template v-if="!IsLoading" v-cloak>

                <div data-full-height-deduct="true" class="pure-g patient-results__table-head-row">
                    <div class="pure-u-6-24"><span class="patient-results__table-head">Item</span></div>
                    <div class="pure-u-5-24"><span class="patient-results__table-head">Result Date</span></div>
                    <div class="pure-u-5-24"><span class="patient-results__table-head">Clin Sig Date</span></div>
                    <div class="pure-u-4-24"><span class="patient-results__table-head">Status</span></div>
                    <div class="pure-u-4-24"><span class="patient-results__table-head">Acknowledged</span></div>
                </div>
                <template v-if="!patientResults || !patientResults.length">
                    <div class="pure-u-1 patient-results__table-result-row">No results for this patient</div>
                </template>
                <div data-scroll="true" class="js-fullHeight-bodyElement">
                    <div data-scroll="true" v-bind:class="{'pure-g':true, 'patient-results__table-result-row': true, 'row-abnormal':result.isAbnormal, 'active':result.resultId === ResultId}" v-for="result in patientResults" v-on:click="getSingleResultComponents(result.resultId)">

                        <div class="pure-u-6-24 patient-results__table-result"><span v-if="result.isAbnormal" class="patient-results_abnormal-icon"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>{{result.name}}</div>
                        <div class="pure-u-5-24 patient-results__table-result"><span class="">{{result.resultDateTime | formatDate}}</span> </div>
                        <div class="pure-u-5-24 patient-results__table-result"><span class="">{{result.significantDateTime | formatDate}}</span></div>
                        <div class="pure-u-4-24 patient-results__table-result"><span class="">{{result.status}}</span></div>
                        <div class="pure-u-4-24 patient-results__table-result last"><span class=""><span class="patient-results__acknowledged-icon" v-if="result.isAcknowledged"><i class="fa fa-check" aria-hidden="true"></i></span><span class="patient-results__unacknowledged-icon" v-if="!result.isAcknowledged"><i class="fa fa-times" aria-hidden="true"></i></span></span></div>

                        <!--Component data-->
                        <div v-if="result.resultId === ResultId && PatientResultComponents && PatientResultComponents.resultId === result.resultId" class="pure-u-1 results-component-table">

                            <div class="pure-g patient-results__result-component-table-head-row">
                                <div class="pure-u-4-24"><span class="patient-results__table-head">Components</span></div>
                                <div class="pure-u-4-24"><span class="patient-results__table-head">Value</span></div>
                                <div class="pure-u-4-24"><span class="patient-results__table-head">Units</span></div>
                                <div class="pure-u-4-24"><span class="patient-results__table-head">Range</span></div>
                                <div class="pure-u-4-24"><span class="patient-results__table-head">Abnormal</span></div>
                                <div class="pure-u-4-24"><span class="patient-results__table-head last">Comment</span></div>
                            </div>

                            <template v-for="(item, index) in PatientResultComponents.resultComponents">
                                <div v-bind:class="{'pure-g':true,'patient-results__result-component-row':true,'row-abnormal':item.isAbnormal, 'last':index === (PatientResultComponents.resultComponents.length-1)}">
                                    <div class="pure-u-4-24 patient-results__result-component"><span v-if="item.isAbnormal" class="patient-results_abnormal-icon"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>{{item.name}}</div>
                                    <div class="pure-u-4-24 patient-results__result-component">{{item.value}}</div>
                                    <div class="pure-u-4-24 patient-results__result-component">{{item.units}}</div>
                                    <div class="pure-u-4-24 patient-results__result-component">{{item.range}}</div>
                                    <div class="pure-u-4-24 patient-results__result-component">{{item.isAbnormalText}}</div>
                                    <div class="pure-u-4-24 patient-results__result-component last">{{item.comments}}</div>
                                </div>
                            </template>

                            <div class="pure-u-1 u-text-center">
                                <span class="result-component-end-label">End of report</span>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
    /* API Endpoints */
    import GetPatient from 'Endpoints/patients/GetPatient';

    /*Utils*/
    import PubSub from 'Endpoints/careflowApp/PubSub';
    import Vault from 'Endpoints/careflowApp/Vault';
    import GetHandlebarsTemplate from 'Endpoints/careflowApp/GetHandlebarsTemplate';

    /*Views*/
    import patientView from 'Views/PatientView';

    /*Components*/
    import { VueContentLoading } from 'vue-content-loading';

    export default {
        data: function () {
            return {
                PatientHospitalNumber: this.patientHospitalNumber,
                ResultId: this.resultId,
                PatientResults: null,
                PatientResultsDataLoading: false,
                PatientResultComponents: null,
                NetworkID: this.networkId,
                MemberAreaId:this.memberAreaId,
                Search: '',
                IsLoading: true
            };
        },
        props: {
            patientHospitalNumber: {
                type: [String, Number],
                default: "",
                required: true
            },
            networkId: {
                type: [String, Number],
                default: "",
                required: false
            },
            memberAreaId: {
                type: [String, Number],
                default: "",
                required: false
            },
            resultIdToTrigger: {
                type: [String, Number],
                default: "",
                required: false
            }
        },
        components: { VueContentLoading },

        computed: {
            patientResults: function () {
                if (!this.PatientResults) return false;
                return this.PatientResults;
            }
        },

        watch: {
            patientResults: function () {
                this.IsLoading = false;
            }
        },

        filters: {
            formatDate: function (date) {
                if (!date) return '';
                return appMain.formatDate(date);
            }
        },

        methods: {
            getAllPatientResults: function () {
                var hospitalNumber = this.PatientHospitalNumber;
                var that = this;

                return axios({
                    method: 'get',
                    url: "/medway?path=Results/v3/patient/demo/hospitalno/" + hospitalNumber + "/allresults",
                    headers: {
                        'Authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2RlbW8tbWFwcC0wMS5kZW1vLm1ndC9ERU1PTElWRSIsImF1ZCI6Imh0dHA6Ly9tZWR3YXljbGllbnQuc3lzdGVtYy5jb20vYXBpLyIsIm5iZiI6MTUwODQxNTE2NywiZXhwIjoxNjM0NjQ2NDA3LCJodHRwOi8vaWRlbnRpdHlzZXJ2ZXIudGhpbmt0ZWN0dXJlLmNvbS9jbGFpbXMvY2xpZW50IjoiTWVkd2F5V2ViQXBpLURlbW9MSVZFIiwiaHR0cDovL2lkZW50aXR5c2VydmVyLnRoaW5rdGVjdHVyZS5jb20vY2xhaW1zL3Njb3BlIjoiaHR0cDovL21lZHdheWNsaWVudC5zeXN0ZW1jLmNvbS9hcGkvIiwibmFtZWlkIjoiREVNT1xcRGVtb0FkbWluIiwidW5pcXVlX25hbWUiOiJERU1PXFxEZW1vQWRtaW4iLCJhdXRobWV0aG9kIjoiT0F1dGgyIiwiYXV0aF90aW1lIjoiMjAxNy0xMC0xOVQxMjoxMjo0Ny42NThaIn0.mjfqLKJR8G3bF4BRjjXPniWNvg_IaaekQABXpXiNqzA',
                        'Accept': 'application/json'
                    }
                }).then(function (response) {
                    that.PatientResults = response.data;
                }).catch(function (error) {
                    that.PatientResults = [];                  
                });
            },

            getSingleResultComponents: function (resultId) {
                if (this.PatientResultsDataLoading) return;
                this.PatientResultsDataLoading = true;

                this.ResultId = resultId;
                var that = this;

                return axios({
                    method: 'get',
                    url: "/medway?path=Results/v3/result/" + resultId + "",
                    headers: {
                        'Authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2RlbW8tbWFwcC0wMS5kZW1vLm1ndC9ERU1PTElWRSIsImF1ZCI6Imh0dHA6Ly9tZWR3YXljbGllbnQuc3lzdGVtYy5jb20vYXBpLyIsIm5iZiI6MTUwODQxNTE2NywiZXhwIjoxNjM0NjQ2NDA3LCJodHRwOi8vaWRlbnRpdHlzZXJ2ZXIudGhpbmt0ZWN0dXJlLmNvbS9jbGFpbXMvY2xpZW50IjoiTWVkd2F5V2ViQXBpLURlbW9MSVZFIiwiaHR0cDovL2lkZW50aXR5c2VydmVyLnRoaW5rdGVjdHVyZS5jb20vY2xhaW1zL3Njb3BlIjoiaHR0cDovL21lZHdheWNsaWVudC5zeXN0ZW1jLmNvbS9hcGkvIiwibmFtZWlkIjoiREVNT1xcRGVtb0FkbWluIiwidW5pcXVlX25hbWUiOiJERU1PXFxEZW1vQWRtaW4iLCJhdXRobWV0aG9kIjoiT0F1dGgyIiwiYXV0aF90aW1lIjoiMjAxNy0xMC0xOVQxMjoxMjo0Ny42NThaIn0.mjfqLKJR8G3bF4BRjjXPniWNvg_IaaekQABXpXiNqzA',
                        'Accept': 'application/json'
                    }
                }).then((response) => {
                    that.PatientResultsDataLoading = false;
                    that.PatientResultComponents = response.data;
                }).catch((error) => { that.PatientResultComponents = null; });
            }
        },

        events: {},

        beforeCreate: function () {
        },

        created: function () {
            appMain.setModuleRootVueInstance(this);
            
        
            if (this.resultIdToTrigger) {
                //Get all results
                this.getAllPatientResults(this.PatientHospitalNumber).then(this.getSingleResultComponents(this.resultIdToTrigger));
            } else {
                //Get all results
                this.getAllPatientResults(this.PatientHospitalNumber);
            }
        },

        beforeMount: function () { },

        mounted: function () { },

        beforeUpdate: function () { },

        updated: function () {
            appMain.setElementsAsFullHeight();
        },

        beforeDestroy: function () { },

        destroyed: function () { }
         

    }
</script>

<style></style>
<custom>Patient Results Tab, TO BE REFACTORED TO VUE - BUILT IN HASTE FOR EHI DEMO</custom>