﻿<template>
  <div class="pure-g">
    <div class="pure-u-1 js-fullHeight-bodyElement js-iframe-parent-wrapper">
      <iframe class="js-careCentricTest-iframe" name="iframe"></iframe>
    </div>
    <!--Demo environment requires a specific post-->
    <form v-if="Environment !== 'Demo'" class="u-no-display js-sharedCare-postForm" id="shared-care-post" target="iframe" method="post" :action="SharedCareRecordBaseURI">
      <input type="hidden" name="Username" value="carecentric.user" />
      <input type="hidden" name="Password" value="kG28H*#5" />
      <input type="hidden" name="AuthorizationToken" value="" />
      <input type="hidden" name="SiteCode" value="999" />
      <input type="hidden" name="PatientSearchResult.SourceSiteCode" value="999" />
      <input type="hidden" name="PatientSearchResult.Title" :value="Patient.PatientTitle" />
      <input type="hidden" name="PatientSearchResult.Surname" :value="Patient.PatientFamilyName" />
      <input type="hidden" name="PatientSearchResult.Forename" :value="Patient.PatientGivenName" />
      <input type="hidden" name="PatientSearchResult.Address" :value="Patient.Address" />
      <input type="hidden" name="PatientSearchResult.DateOfBirth" :value="Patient.PatientDateOfBirth" />
      <input type="hidden" name="PatientSearchResult.DateOfDeath" :value="Patient.DateOfDeath" />
      <input type="hidden" name="PatientSearchResult.LocalId" :value="Patient.PatientIdentifiers.PrimaryIdentifier.Value" />
      <input type="hidden" name="PatientSearchResult.LocalIdType" :value="Patient.PatientIdentifiers.PrimaryIdentifier.Label" />
      <input type="hidden" name="PatientSearchResult.Gender" :value="Patient.PatientGender" />
      <input type="hidden" name="PatientSearchResult.Postcode" value="" />
      <input type="hidden" name="PatientSearchResult.HasLinkedPatients" value="" />
      <input type="hidden" name="PatientSearchResult.IsMinorPatient" value="" />
      <input type="hidden" name="PatientSearchResult.RestrictedDemographics" value="" />
      <input type="hidden" name="PatientSearchResult.RestrictedRecord" value="" />
      <input type="hidden" name="PatientSearchResult.ExternalId" :value="Patient.PatientExternalIdentifier" />
      <!--Patient external ID-->
      <input type="hidden" name="PatientSearchResult.ProviderName" value="Careflow" />
      <input type="hidden" name="PatientSearchResult.ContactNumber" :value="Patient.TelephoneNumber" />
      <input type="hidden" name="PatientContexts" value="null" />
      <input type="hidden" name="ConsentToken" value="null" />
    </form>
    <!--Demo-->
    <form v-else class="u-no-display js-sharedCare-postForm" id="shared-care-post" target="iframe" method="post" :action="SharedCareRecordBaseURI">
      <input type="hidden" name="Username" value="carecentric.user" />
      <input type="hidden" name="Password" value="kG28H*#5" />
      <input type="hidden" name="AuthorizationToken" value="" />
      <input type="hidden" name="SiteCode" value="999" />
      <input type="hidden" name="PatientSearchResult.SourceSiteCode" value="999" />
      <input type="hidden" name="PatientSearchResult.Title" :value="Patient.PatientTitle" />
      <input type="hidden" name="PatientSearchResult.Surname" :value="Patient.PatientFamilyName" />
      <input type="hidden" name="PatientSearchResult.Forename" :value="Patient.PatientGivenName" />
      <input type="hidden" name="PatientSearchResult.Address" :value="Patient.Address" />
      <input type="hidden" name="PatientSearchResult.DateOfBirth" :value="Patient.PatientDateOfBirth" />
      <input type="hidden" name="PatientSearchResult.DateOfDeath" :value="Patient.DateOfDeath" />
      <input type="hidden" name="PatientSearchResult.LocalId" :value="Patient.PatientIdentifiers.PrimaryIdentifier.Value" />
      <input type="hidden" name="PatientSearchResult.LocalIdType" :value="Patient.PatientIdentifiers.PrimaryIdentifier.Label" />
      <input type="hidden" name="PatientSearchResult.Gender" :value="Patient.PatientGender" />
      <input type="hidden" name="PatientSearchResult.Postcode" value="" />
      <input type="hidden" name="PatientSearchResult.HasLinkedPatients" value="" />
      <input type="hidden" name="PatientSearchResult.IsMinorPatient" value="" />
      <input type="hidden" name="PatientSearchResult.RestrictedDemographics" value="" />
      <input type="hidden" name="PatientSearchResult.RestrictedRecord" value="" />
      <input type="hidden" name="PatientSearchResult.ExternalId" :value="Patient.PatientExternalIdentifier" />
      <!--Patient external ID-->
      <input type="hidden" name="PatientSearchResult.ProviderName" value="Careflow" />
      <input type="hidden" name="PatientSearchResult.ContactNumber" :value="Patient.TelephoneNumber" />
      <input type="hidden" name="PatientContexts" value="null" />
      <input type="hidden" name="ConsentToken" value="null" />
    </form>
  </div>
</template>

<script>
  /* API Endpoints */
  import GetPatient from 'Endpoints/patients/GetPatient';

  /*Utils*/
  import PubSub from 'Endpoints/careflowApp/PubSub';
  import Vault from 'Endpoints/careflowApp/Vault';
  import GetHandlebarsTemplate from 'Endpoints/careflowApp/GetHandlebarsTemplate';

  /*Views*/
  import patientView from 'Views/PatientView';

  /*Components*/
  import { VueContentLoading } from 'vue-content-loading';

  export default {
  	data: function() {
  		return {
  			Patient: this.patient,
  			SharedCareRecordBaseURI: null,
  			SiteCode: null,
  			AccessToken: null,
  			UserName: null,
  			Environment: appMain.getCurrentEnvironment(),
  			NetworkId: this.networkId,
  			MemberAreaId: this.memberAreaId,
  			IsLoading: true,
  		};
  	},
  	components: { VueContentLoading },
  	props: {
  		patientId: {
  			type: [String, Number],
  			default: '',
  			required: true,
  		},
  		patient: {
  			type: Object,
  			default: function() {
  				return {};
  			},
  			required: true,
  		},
  		networkId: {
  			type: [String, Number],
  			default: '',
  			required: true,
  		},
  		memberAreaId: {
  			type: [String, Number],
  			default: '',
  			required: false,
  		},
  		permissions: {
  			type: Array,
  			default: function() {
  				return [];
  			},
  			required: false,
  		},
  	},

  	watch: {},
  	methods: {
  		getUserPermissions() {
  			return appMain.getUserPermissionsForAllUsersMemberAreas(); //https://doccom.atlassian.net/browse/WEB-907
  		},

  		getPatientMedwaySharedCareTab() {
  			//Set patient  -  FOR DEC-20-18 DEMO ONLY - NOT FOR PRODUCTION - REMOVE

  			if (this.networkId === 1215) {
  				this.Patient = this.getDemoStagingPatient(this.patient.PatientIdentifiers.PrimaryIdentifier.Value);
  			}

  			//Get the token and username
  			this.AccessToken = JSON.parse(JSON.stringify(Vault.getSessionItem('access_token')));
  			this.UserName = Vault.getItem('LoggedInUserEmail');

  			//Get the rapport iframe url URL via app config - find the correct data for this network
  			this.SharedCareRecordBaseURI = appMain.checkIfFeatureIsEnabledInAppConfig('sharedCareRecordBaseURI');
  			this.SiteCode = appMain.checkIfFeatureIsEnabledInAppConfig('siteCode');

  			if (!this.SharedCareRecordBaseURI || !this.SiteCode) return;

  			this.IsLoading = false;

  			//Setup the iframe / DOM
  			appMain.setElementsAsFullHeight();

  			let $iframe = $('.js-careCentricTest-iframe');
  			let height = $iframe.closest('.js-fullHeight-bodyElement').height();

  			$iframe.css({ width: '99.2%', border: 'none', height: height });

  			//We need to resize the iframe on window resize
  			$(window).resize(function() {
  				height = $iframe.closest('.js-fullHeight-bodyElement').height();
  				$iframe.css({ width: '99.2%', border: 'none', height: height });
  			});

  			//Post the data
  			setTimeout(() => {
  				document.getElementById('shared-care-post').submit();
  				//Remove the post form
  				document.getElementById('shared-care-post').remove();
  			}, 0);
  		},

  		getDemoStagingPatient(id) {
  			//FOR DEC-20-18 DEMO ONLY - NOT FOR PRODUCTION - REMOVE
  			const marjorieHeritage = {
  				PatientIdentifiers: {
  					PrimaryIdentifier: {
  						Label: 'Hospital number',
  						Value: 'H000000796',
  						Status: 'Primary',
  					},
  					AlternativeIdentifiers: [
  						{
  							Label: 'NHS No',
  							Value: '2345714999',
  							Status: null,
  						},
  					],
  				},
  				AgeDescription: '65y',
  				PatientTitle: 'Mrs',
  				PatientGivenName: 'Marjorie',
  				PatientFamilyName: 'Heritage',
  				PatientGender: 'Female',
  				PatientDateOfBirth: '15-Jan-1953',
  				Address: '12 River Lea Mews, Madeley, Crewe, Staffordshire, CW3 9EH',
  				TelephoneNumber: '01782 345362',
  				Clinician: null,
  				SiteName: null,
  				AreaName: null,
  				Bay: null,
  				BaySort: null,
  				Bed: null,
  				BedSort: null,
  				EstimatedDischargeDate: null,
  				AdmissionDate: null,
  				DateOfDeath: null,
  				PatientExternalIdentifier: 'cc3c08b6-4e04-448c-8a2e-6d50ef9f246f',
  				GroupListExternalIdentifiers: ['2df29219-4ee3-4f18-aed5-8841e8dc81fa', '0b5ddbf0-894d-4612-8cff-9ec2fc34357a'],
  				NetworkAccessGroupExternalIdentifier: 'b49d2a27-ff54-4a3f-b415-3964891a69ec',
  				PatientNotFound: false,
  				OrganisationIdentifier: null,
  				HandoverNotes: [
  					{
  						GroupName: 'Orthopaedic Team',
  						MemberAreaId: 213,
  						DateLastUpdated: '2018-05-16T16:49:58.0150351Z',
  						DaysSinceLastUpdate: 217,
  						IsCurrent: true,
  						AddedPriorToAdmissionDate: false,
  						Notes: [
  							{
  								Key: 'Situation',
  								Position: 0,
  								Value: 'Fall at home\nRevision TKR',
  							},
  							{
  								Key: 'Background',
  								Position: 1,
  								Value: 'IDDM\nLives alone',
  							},
  							{
  								Key: 'Assessment',
  								Position: 2,
  								Value: 'Found on floor\nHypoglycamia',
  							},
  							{
  								Key: 'Recommendation',
  								Position: 3,
  								Value: 'Admit\nDiabetes specialist nurse review\nOrthopaedic review',
  							},
  						],
  						UpdatedByName: 'Graham Peterson',
  						Profile: {
  							ExternalIdentifier: 'dddddddd-dddd-dddd-dddd-dddddddddddd',
  							Colour: 'FFCCCCCC',
  							Name: 'Default',
  							NotFound: false,
  						},
  					},
  				],
  				IsInGroup: false,
  			};
  			const georgeCraven = {
  				PatientIdentifiers: {
  					PrimaryIdentifier: {
  						Label: 'Hospital number',
  						Value: 'H000000889',
  						Status: 'Primary',
  					},
  					AlternativeIdentifiers: [],
  				},
  				AgeDescription: '78y',
  				PatientTitle: 'Mr',
  				PatientGivenName: 'George',
  				PatientFamilyName: 'Craven',
  				PatientGender: 'Male',
  				PatientDateOfBirth: '06-Dec-1940',
  				Address: '15 Cherry Avenue, BRENTWOOD, Essex, CM13 2DZ',
  				TelephoneNumber: '07890654654',
  				Clinician: {
  					FullName: 'Dr Elizabeth Bacon',
  					FirstName: 'Elizabeth',
  					LastName: 'Bacon',
  					Title: 'Dr',
  				},
  				SiteName: 'Prince William',
  				AreaName: 'Terling Ward',
  				Bay: 'Bay 5 - Male',
  				BaySort: '000000000Bay 5 - Male',
  				Bed: 'Bed 18',
  				BedSort: '000000000000000Bed 18',
  				EstimatedDischargeDate: null,
  				AdmissionDate: '2017-10-09T06:54:00.0000000Z',
  				DateOfDeath: null,
  				PatientExternalIdentifier: '98846226-20dc-48d2-8ab6-6c0d9a734284',
  				GroupListExternalIdentifiers: ['8292dc97-5a30-4a9a-8c32-5409fbcaec8b', 'ade075d1-bb71-4e7d-9413-5fd6e8f4036c', '09ab6ffb-7cc5-4062-87ed-fb721d247b7b', '0b5ddbf0-894d-4612-8cff-9ec2fc34357a', '86df191c-7e40-47f2-b328-3c69f4953887'],
  				NetworkAccessGroupExternalIdentifier: 'b49d2a27-ff54-4a3f-b415-3964891a69ec',
  				PatientNotFound: false,
  				OrganisationIdentifier: null,
  				HandoverNotes: [
  					{
  						GroupName: 'General Medicine',
  						MemberAreaId: 195,
  						DateLastUpdated: '2018-04-24T14:17:20.2513822Z',
  						DaysSinceLastUpdate: 239,
  						IsCurrent: true,
  						AddedPriorToAdmissionDate: false,
  						Notes: [
  							{
  								Key: 'Situation',
  								Position: 0,
  								Value: 'Emergency GP referral\n5/7 history increasing SOB, pyrexia and productive cough\n',
  							},
  							{
  								Key: 'Background',
  								Position: 1,
  								Value: 'Osteoporosis',
  							},
  							{
  								Key: 'Assessment',
  								Position: 2,
  								Value: 'Crackles right base',
  							},
  							{
  								Key: 'Recommendation',
  								Position: 3,
  								Value: 'VTE risk assessment, MUST assessment, bloods, CXR',
  							},
  						],
  						UpdatedByName: 'Anita King',
  						Profile: {
  							ExternalIdentifier: 'dddddddd-dddd-dddd-dddd-dddddddddddd',
  							Colour: 'FFCCCCCC',
  							Name: 'Default',
  							NotFound: false,
  						},
  					},
  				],
  				IsInGroup: false,
  			};
  			const jonSnow = {
  				PatientIdentifiers: {
  					PrimaryIdentifier: {
  						Label: 'Hospital number',
  						Value: 'H000000891',
  						Status: 'Primary',
  					},
  					AlternativeIdentifiers: [
  						{
  							Label: 'NHS Number',
  							Value: '9400541325',
  							Status: null,
  						},
  					],
  				},
  				AgeDescription: '69y',
  				PatientTitle: 'Mr',
  				PatientGivenName: 'Jonathan',
  				PatientFamilyName: 'Snow',
  				PatientGender: 'Male',
  				PatientDateOfBirth: '12-May-1949',
  				Address: '',
  				TelephoneNumber: null,
  				Clinician: {
  					FullName: 'Dr Elizabeth Bacon',
  					FirstName: 'Elizabeth',
  					LastName: 'Bacon',
  					Title: 'Dr',
  				},
  				SiteName: 'Prince William',
  				AreaName: 'Terling Ward',
  				Bay: 'Bay 4 - Male',
  				BaySort: '000000000Bay 4 - Male',
  				Bed: 'Bed 15',
  				BedSort: '000000000000000Bed 15',
  				EstimatedDischargeDate: null,
  				AdmissionDate: null,
  				DateOfDeath: null,
  				PatientExternalIdentifier: '84f8d513-f14d-49db-8362-461d56665b30',
  				GroupListExternalIdentifiers: [
  					'ade075d1-bb71-4e7d-9413-5fd6e8f4036c',
  					'0250ac59-c98d-43fb-9660-01940d46e819',
  					'02c8378e-c673-45a2-ac04-da8accbec80d',
  					'0b5ddbf0-894d-4612-8cff-9ec2fc34357a',
  					'76fa28f9-8f0e-4945-8926-79ad614709a2',
  					'a04317f2-f848-4d70-8519-5e68bb1610e9',
  					'2df29219-4ee3-4f18-aed5-8841e8dc81fa',
  				],
  				NetworkAccessGroupExternalIdentifier: 'b49d2a27-ff54-4a3f-b415-3964891a69ec',
  				PatientNotFound: false,
  				OrganisationIdentifier: null,
  				HandoverNotes: [
  					{
  						GroupName: 'General Medicine',
  						MemberAreaId: 195,
  						DateLastUpdated: '2018-05-01T15:42:38.9890392Z',
  						DaysSinceLastUpdate: 232,
  						IsCurrent: true,
  						AddedPriorToAdmissionDate: false,
  						Notes: [
  							{
  								Key: 'Situation',
  								Position: 0,
  								Value: 'UTI and confusion',
  							},
  							{
  								Key: 'Background',
  								Position: 1,
  								Value: "NIDDM, Hypertension, Parkinson's Disease,  recurrent DVT, glaucoma, Vit D Defficiency",
  							},
  							{
  								Key: 'Assessment',
  								Position: 2,
  								Value: 'Dehydrated\nNo signs pyelonephritis\ndip[ +ve',
  							},
  							{
  								Key: 'Recommendation',
  								Position: 3,
  								Value: 'Admit under Care of Elderly\nRehydrate\nAntibiotics\nRefer social care team\nChase urine culture',
  							},
  						],
  						UpdatedByName: 'Anita King',
  						Profile: {
  							ExternalIdentifier: 'dddddddd-dddd-dddd-dddd-dddddddddddd',
  							Colour: 'FFCCCCCC',
  							Name: 'Default',
  							NotFound: false,
  						},
  					},
  				],
  				IsInGroup: false,
  			};

  			//Return
  			if (parseInt(id) === 800061831) return jonSnow;
  			if (parseInt(id) === 800061836) return marjorieHeritage;
  			if (parseInt(id) === 800061834) return georgeCraven;

  			return this.patient;
  		},
  	},
  	created: function() {
  		this.Environment = appMain.getCurrentEnvironment();
  	},
  	mounted: function() {
  		//Init
  		this.getPatientMedwaySharedCareTab();
  	},
  };
</script>

<style></style>
<custom>Patient Medway Shared Care Record Tab, TO BE REFACTORED TO VUE</custom>
