﻿<template>
  <div data-scroll="true" class="u-relative js-fullHeight-bodyElement">
    <!--DOM container for at present non Vue components - refactor underway-->
    <div v-if="Environment === 'Demo'" class="pure-g">
      <div class="pure-u-lg-8-24 pure-u-xl-8-24 patientSummary__col1">
        <div v-if="Permissions.includes('VitalsAndObsEnabled')" class="js-teamPatientView-obs-template"></div>
      </div>
      <div class="pure-u-lg-8-24 pure-u-xl-8-24 patientSummary__col2">
        <patient-tasks-widget v-if="Permissions.includes('TasksAreAllowed')" @set-active-item="setActiveContentItem" :patientId="patientId" :networkId="NetworkId"></patient-tasks-widget>
        <patient-referrals-widget v-if="Permissions.includes('ViewReferral')" @set-active-item="setActiveContentItem" :patientId="patientId" :networkId="NetworkId"></patient-referrals-widget>
        <patient-updates-widget @set-active-item="setActiveContentItem" v-if="Permissions.includes('ViewPatientFeed')" :patientId="patientId" :networkId="NetworkId"></patient-updates-widget>
        <clinical-notes-widget v-if="Permissions.includes('ClinicalNotesAreEnabled')" @set-active-item="setActiveContentItem" :patient-id="patientId" :patient="patient" :networkId="NetworkId" :member-area-id="MemberAreaId" :patientMedwayGuid="patientMedwayGuid"></clinical-notes-widget>
        <patient-tags-widget v-if="Permissions.includes('ManagePatientClinicalTags')" :patientId="patientId" :networkId="NetworkId" :member-area-id="MemberAreaId" :widgetType="1"></patient-tags-widget>
		<PatientEpisodesWidget v-if="Permissions.includes('PatientEpisodeServiceEnabled')" :patient="patient" :patient-id="patientId" :network-id="NetworkId" :member-area-id="MemberAreaId" :patientMedwayGuid="patientMedwayGuid"></PatientEpisodesWidget>
      </div>
      <div class="pure-u-lg-8-24 pure-u-xl-8-24 patientSummary__col3">
        <patient-summary-alerts-widget :patient-id="patientId" :patient="patient" v-if="Permissions.includes('MedwayPatientAlertsAreEnabled')" :widget-type="1" :patientMedwayGuid="patientMedwayGuid"></patient-summary-alerts-widget>
        <div v-if="Permissions.includes('ClinicalResultsEnabled')" class="js-teamPatientView-results-template"></div>
        <patient-handovers-widget v-if="Permissions.includes('UpsertHandoverNote')" :patientId="patientId" :networkId="NetworkId" :memberAreaId="MemberAreaId" @set-active-item="setActiveContentItem"></patient-handovers-widget>
        <PatientCurrentMedicationsWidget v-if="Permissions.includes('CurrentMedicationsAreEnabled')" @set-active-item="setActiveContentItem" :patient="patient" :patient-id="patientId" :network-id="NetworkId" :member-area-id="MemberAreaId" :patientMedwayGuid="patientMedwayGuid"></PatientCurrentMedicationsWidget>

        <!--<div class=" js-PatientViewLists-template"></div>-->
      </div>
    </div>
    <div v-else class="pure-g">
      <!--Non demo env-->
      <div class="pure-u-lg-8-24 pure-u-xl-8-24 patientSummary__col1">

        <!-- <div v-if="Permissions.includes('VitalsAndObsEnabled')" class="js-teamPatientView-obs-template"></div> -->

        <PatientVitalsSummaryWidget v-if="Permissions.includes('VitalsAndObsEnabled')" :patient-id="patientId" :patient="patient" :networkId="NetworkId" :member-area-id="MemberAreaId"></PatientVitalsSummaryWidget>
        <div v-if="Permissions.includes('ClinicalResultsEnabled')" class="js-teamPatientView-results-template"></div>

        <patient-tasks-widget v-if="Permissions.includes('TasksAreAllowed')" @set-active-item="setActiveContentItem" :patientId="patientId" :networkId="NetworkId"></patient-tasks-widget>

        <patient-updates-widget v-if="Permissions.includes('ViewPatientFeed')" @set-active-item="setActiveContentItem" :patientId="patientId" :networkId="NetworkId"></patient-updates-widget>

      </div>
      <div class="pure-u-lg-8-24 pure-u-xl-8-24 patientSummary__col2">

        <clinical-notes-widget v-if="Permissions.includes('ClinicalNotesAreEnabled')" @set-active-item="setActiveContentItem" :patient-id="patientId" :patient="patient" :networkId="NetworkId" :member-area-id="MemberAreaId" :patientMedwayGuid="patientMedwayGuid"></clinical-notes-widget>

        <patient-referrals-widget v-if="Permissions.includes('ViewReferral')" @set-active-item="setActiveContentItem" :patientId="patientId" :networkId="NetworkId"></patient-referrals-widget>

        <patient-handovers-widget v-if="Permissions.includes('UpsertHandoverNote')" :patientId="patientId" :network-id="NetworkId" :memberAreaId="MemberAreaId" @set-active-item="setActiveContentItem"></patient-handovers-widget>

        <PatientEpisodesWidget v-if="Permissions.includes('PatientEpisodeServiceEnabled')" :patient="patient" :patient-id="patientId" :network-id="NetworkId" :member-area-id="MemberAreaId" :patientMedwayGuid="patientMedwayGuid"></PatientEpisodesWidget>

      </div>
      <div class="pure-u-lg-8-24 pure-u-xl-8-24 patientSummary__col3">

        <!--v-if="Permissions.includes('MedwayPatientAlertsAreEnabled')"-->
        <patient-summary-alerts-widget :patient-id="patientId" :patient="patient" v-if="Permissions.includes('MedwayPatientAlertsAreEnabled')" :widget-type="1" :patientMedwayGuid="patientMedwayGuid"></patient-summary-alerts-widget>

        <PatientCurrentMedicationsWidget v-if="Permissions.includes('CurrentMedicationsAreEnabled')" @set-active-item="setActiveContentItem" :patient="patient" :patient-id="patientId" :network-id="NetworkId" :member-area-id="MemberAreaId" :patientMedwayGuid="patientMedwayGuid"></PatientCurrentMedicationsWidget>

        <patient-tags-widget v-if="Permissions.includes('ManagePatientClinicalTags')" :patientId="patientId" :networkId="NetworkId" :member-area-id="MemberAreaId" :widgetType="1"></patient-tags-widget>
      </div>
    </div>
  </div>
</template>

<script>
  /* API Endpoints */
  import GetPatient from 'Endpoints/patients/GetPatient';
  /*Utils*/
  import PubSub from 'Endpoints/careflowApp/PubSub';
  import Vault from 'Endpoints/careflowApp/Vault';
  import GetHandlebarsTemplate from 'Endpoints/careflowApp/GetHandlebarsTemplate';

  /*Views*/
  import * as Tasks from 'Views/Tasks';
  import patientView from 'Views/PatientView';
  import * as PatientResults from 'Views/PatientResultsView';
  import * as TeamReferrals from 'Views/TeamReferrals';

  /*Components*/
  import PatientSummaryAlertsWidget from 'VueComponents/medwayIntegrations/patientAlertService/PatientSummaryAlertsWidget';
  import PatientUpdatesWidget from 'VueComponents/patientDashboard/widgets/PatientUpdatesWidget';
  import PatientReferralsWidget from 'VueComponents/patientDashboard/widgets/PatientReferralsWidget';
  import PatientTasksWidget from 'VueComponents/patientDashboard/widgets/PatientTasksWidget';
  import PatientHandoversWidget from 'VueComponents/patientDashboard/widgets/PatientHandoversWidget';
  import PatientTagsWidget from 'VueComponents/patientDashboard/widgets/PatientClinicalTagsWidget';
  import PatientCurrentMedicationsWidget from 'VueComponents/medwayIntegrations/patientMedications/PatientSummaryCurrentMedicationsWidget';
  import ClinicalNotesWidget from 'VueComponents/medwayIntegrations/clinicalNotes/ClinicalNotesDashboardWidget';
  import PatientVitalsSummaryWidget from 'VueComponents/medwayIntegrations/patientVitals/PatientVitalsSummaryWidget';

  import PatientEpisodesWidget from 'VueComponents/medwayIntegrations/patientEpisodes/PatientEpisodesWidget';
  import { VueContentLoading } from 'vue-content-loading';

  export default {
  	data: function() {
  		return {
  			Patient: this.patient,
  			PatientId: this.patientId,
  			MemberAreaId: this.memberAreaId || null,
  			NetworkId: this.networkId || Vault.getSessionItem('ActiveNetworkId'),
  			Permissions: this.permissions || [],
  			Environment: appMain.getCurrentEnvironment() || null,
  		};
  	},
  	components: {
  		PatientSummaryAlertsWidget,
  		PatientUpdatesWidget,
  		VueContentLoading,
  		PatientReferralsWidget,
  		PatientTasksWidget,
  		PatientHandoversWidget,
  		PatientTagsWidget,
  		PatientCurrentMedicationsWidget,
  		ClinicalNotesWidget,
  		PatientVitalsSummaryWidget,
  		PatientEpisodesWidget,
  	},
  	props: {
  		patientId: {
  			type: [String, Number],
  			default: '',
  			required: true,
  		},
  		patient: {
  			type: Object,
  			default: function() {
  				return {};
  			},
  			required: true,
  		},
  		patientMedwayGuid: {
  			type: [String, Number],
  			default: null,
  			required: false,
  		},
  		networkId: {
  			type: [String, Number],
  			default: null,
  			required: true,
  		},
  		memberAreaId: {
  			type: [String, Number],
  			default: null,
  			required: false,
  		},
  		permissions: {
  			type: Array,
  			default: function() {
  				return [];
  			},
  			required: true,
  		},
  		routeConfig: {
  			type: [String, Object],
  			default: null,
  			required: false,
  		},
  	},

  	watch: {},
  	methods: {
  		getUserPermissions() {
  			return appMain.getUserPermissionsForAllUsersMemberAreas(); //https://doccom.atlassian.net/browse/WEB-907
  		},

  		getPatientSummaryTab() {
  			//Not fully vue based yet
  			//Setup the summary dashboard view
  			//Demo env specific loaders
  			// if (this.Permissions.includes("VitalsAndObsEnabled")) $(".js-teamPatientView-obs-template").ajaxLoadingHelper({ LoadingMessage: "Loading observations", DisableNoInputs: true });
  			// if (this.Permissions.includes("ClinicalResultsEnabled")) $(".js-teamPatientView-results-template").ajaxLoadingHelper({ LoadingMessage: "Loading results", DisableNoInputs: true });

  			if (appMain.checkIfFeatureIsEnabledInAppConfig('enablePatientObsAndVitals') && this.Environment === 'Demo') getPatientObs(this.patient, this.patientId, this.memberAreaId, !!this.memberAreaId); //Append Demo env permissions - will be deprecated by APIs
  			if (appMain.checkIfFeatureIsEnabledInAppConfig('enableClinicalResults') && this.Environment === 'Demo') getPatientResults(this.patient, this.patientId, this.memberAreaId, !!this.memberAreaId); //Append Demo env permissions - will be deprecated by APIs

  			function getPatientObs(patient, patientId, memberAreaId, isNetworkContext) {
  				//DEMO env

  				PubSub.publish('PatientView.GetPatientObsSummary', {
  					PatientId: patientId,
  					Patient: patient,
  					IsModal: false,
  					MemberAreaId: memberAreaId || null,
  					IsNetworkContext: isNetworkContext,
  					DomContainer: $('.js-teamPatientView-obs-template'),
  				});
  			}

  			function getPatientResults(patient, patientId, memberAreaId, isNetworkContext) {
  				//Medway Results - DEMO env
  				PubSub.publish('PatientView.GetPatientResultsSummary', {
  					PatientId: patientId,
  					Patient: patient,
  					IsModal: false,
  					MemberAreaId: memberAreaId || null,
  					IsNetworkContext: isNetworkContext,
  					DomContainer: $('.js-teamPatientView-results-template'),
  				});
  			}

  			/*Widgets end*/
  		},

  		setActiveContentItem(obj) {
  			if (!obj) return;
  			this.$emit('set-active-tab', obj);
  		},
  	},
  	created: function() {},
  	mounted: function() {
  		//Init
  		this.getPatientSummaryTab();
  	},
  	beforeDestroy() {},
  };
</script>

<style>
  .patientSummary__col1,
  .patientSummary__col2,
  .patientSummary__col3 {
  	padding-bottom: 18em;
  }
</style>
<custom>Patient Summary Tab, refactoring to Vue</custom>
