﻿<template>
  <div class="sign-in-wrapper">
    <div class="sign-in-bg-top u-elevation-2"></div>
    <div class="sign-in-logo-wrapper">
      <img class="sign-in-logo" src="/Content/img/careflow.png" alt="CareFlow Workspace" />
    </div>

    <form :class="{'pure-u':true, 'sign-in-panel':true, 'u-elevation-8':true, 'no-inputs':PasswordReset.IsResettingPasswordEmailSent}">
      <div class="sign-in-panel-title">
        <template v-if="!PasswordReset.IsResettingPassword && !PasswordReset.IsResettingPasswordEmailSent && !HpcaUpgradeRequired && !NewUserRegistration.IsNewUserRegistration">
          Sign In
        </template>
        <template v-if="PasswordReset.IsResettingPasswordEmailSent">
          Help is on it's way...
        </template>
        <template v-if="PasswordReset.IsResettingPassword && !PasswordReset.IsResettingPasswordEmailSent">
          Can't sign in?
        </template>
        <template v-if="HpcaUpgradeRequired">
          Upgrade Account
        </template>
        <template v-if="NewUserRegistration.IsNewUserRegistration">
          Complete CareFlow Registration
        </template>
      </div>

      <template v-if="HpcaUpgradeRequired">
        <div v-if="UserHasHpcaUpgradePermission && !UserAccountIsUpgradedToHpca">
          <p class="u-strong">To access the CareFlow Clinical Workspace we need to upgrade your account to use a SystemC Alliance account. This account will allow you to use the same email address and password for all our applications.</p>
          <PasswordValidityUi :newPassword="NewPassword" :passwordValidity="PasswordValidity"></PasswordValidityUi>
          <div class="password-inputs-wrap">
            <ui-textbox label="New password" autocomplete="off" floating-label class="" placeholder="Enter your password" :disabled="IsLoading" :type="(PasswordIsVisible) ? 'text' : 'password'" name="Newpassword" v-model="NewPassword"></ui-textbox>
            <div class="visibility-icon-wrap">
              <i v-on:click="PasswordIsVisible = !PasswordIsVisible" class="material-icons" ref="password-visible-description">
                <template v-if="PasswordIsVisible">visibility_off</template>
                <template v-else>visibility</template>
              </i>
            </div>
            <ui-popover class="custom-popover allowed-symbols" open-on="hover" trigger="password-visible-description">
              <div>
                <template v-if="PasswordIsVisible">Hide password</template>
                <template v-else>Show password</template>
              </div>
            </ui-popover>
          </div>
          <div class="password-inputs-wrap">
            <ui-textbox label="Confirm new password" autocomplete="off" floating-label class="" placeholder="Enter your password" :disabled="IsLoading" :type="(ConfirmPasswordIsVisible) ? 'text' : 'password'" name="ConfirmPassword" v-model="NewPasswordConfirm"></ui-textbox>
            <div class="visibility-icon-wrap">
              <i v-on:click="ConfirmPasswordIsVisible = !ConfirmPasswordIsVisible" class="material-icons" ref="confirm-password-visible-description">
                <template v-if="ConfirmPasswordIsVisible">visibility_off</template>
                <template v-else>visibility</template>
              </i>
            </div>
            <ui-popover class="custom-popover allowed-symbols" open-on="hover" trigger="confirm-password-visible-description">
              <div>
                <template v-if="ConfirmPasswordIsVisible">Hide password</template>
                <template v-else>Show password</template>
              </div>
            </ui-popover>
          </div>

          <div class="help is-danger" v-if="CustomErrorMessage && !ConfirmPasswordIsMatched">
            <div>{{CustomErrorMessage}}</div>
          </div>
          <div class="sign-in-panel__actions--wide">
            <button tabindex="-1" v-on:click.stop.prevent="HpcaUpgradeRequired = false; UserHasHpcaUpgradePermission = false; UserAccountIsUpgradedToHpca = false; NewPassword='';NewPasswordConfirm='';ConfirmPasswordIsVisible = false; PasswordIsVisible= false" class="btn--plain btn-flex-push-left">Back to sign in</button>
            <ui-button color="primary" size="large" :disabled="!NewPasswordIsValid || IsLoading || !ConfirmPasswordIsMatched" :loading="IsLoading" v-on:click.stop.prevent="upgradeUserAccountToHpca($event)">Upgrade my account</ui-button>
          </div>
        </div>
        <div v-if="!UserHasHpcaUpgradePermission && !UserAccountIsUpgradedToHpca">
          <p>Your account has not been granted access to upgrade to use a SystemC Alliance account. If you feel this is incorrect please contact us to request access to upgrade your account.</p>
          <a href="mailto:support@careflowconnect.com?subject=Upgrade account to HPCA" class="btn--plain">support@careflowconnect.com</a>
        </div>
      </template>

      <template v-if="UserHasHpcaUpgradePermission && UserAccountIsUpgradedToHpca">
        <p class="u-strong">We've sent you an email containing a verification link. Please locate the email, which will look like the image below, and follow the link to verify your account.</p>
        <img alt="SystemC & Graphnet Care Alliance HPCA email" aria-label="SystemC & Graphnet Care Alliance" class="hpca-email-image pure-img" src="/Content/img/hpca_email.png" />
        <p class="u-strong">
          If you cannot find this email please check your spam or junk folder.
        </p>
        <ui-button v-if="!HpcaVerificationEmailResent" color="primary" raised :disabled="IsLoading" :loading="IsLoading" v-on:click.stop.prevent="resendHpcaEmail($event)">Resend verification email</ui-button>
        <p class="u-strong" v-else>Verification email has been re-sent. Please check your inbox.</p>
        <div class="help is-danger" v-if="CustomErrorMessage">
          <div>{{CustomErrorMessage}}</div>
        </div>
        <p>Please contact us if you need further assistance by emailing:
          <a href="mailto:support@careflowconnect.com">support@careflowconnect.com</a>
        </p>
        <a v-on:click="resetData()" href="/#/SignIn" class="btn--plain">Back to sign in page</a>
      </template>

      <template v-if="PasswordReset.IsResettingPasswordEmailSent">
        <p class="u-strong">A recovery e-mail has been sent to {{PasswordReset.IsResettingPasswordEmailSentToAddress}}.</p>
        <p>Click the link in this e-mail to complete the recovery process. You will be prompted to create a new password during this final step.</p>
        <p>Please note: the recovery link e-mail will expire in 24 hours.</p>
        <div class="help is-danger" v-if="CustomErrorMessage">
          <div>{{CustomErrorMessage}}</div>
        </div>
        <div class="sign-in-panel__actions">
          <button v-on:click.stop.prevent="PasswordReset.IsResettingPassword = false; PasswordReset.IsResettingPasswordEmailSent = false; CustomErrorMessage=''" class="btn--plain btn-flex-push-left">Back to sign in</button>
        </div>
      </template>

      <template v-if="!HpcaUpgradeRequired && !PasswordReset.IsResettingPasswordEmailSent && !NewUserRegistration.IsNewUserRegistration">
        <div class="block">
          <ui-textbox icon="account_circle" :autofocus="true" ref="email-input-txtbox" autocomplete="off" floating-label v-validate="'email'" :class="{'sign-in-panel__email-txt':true, 'input': true, 'is-danger': errors.has('email') }" label="Email address" :disabled="IsLoading" placeholder="Enter your email address" name="email" data-vv-as="email address" type="text" v-model="EmailAddress"></ui-textbox>

          <span v-show="errors.has('email')" class="help is-danger sign-in-panel__email-error">{{ errors.first('email') }}</span>
        </div>

        <div v-if="!PasswordReset.IsResettingPassword" class="block">
          <ui-textbox label="Password" autocomplete="off" floating-label v-validate="'required'" class="sign-in-panel__password-txt" placeholder="Enter your password" :disabled="IsLoading" type="password" name="password" v-model="Password"></ui-textbox>
        </div>

        <div class="help is-danger sign-in-panel__email-error" v-if="CustomErrorMessage">
          <div>{{CustomErrorMessage}}</div>
        </div>
        <div class="sign-in-panel__actions">
          <button v-if="!PasswordReset.IsResettingPassword" tabindex="-1" type="button" :disabled="IsLoading" class="btn--plain register-btn" v-on:click="NewUserRegistration.IsNewUserRegistration = !NewUserRegistration.IsNewUserRegistration; EmailAddress = ''">Register account</button>
          <button tabindex="-1" type="button" v-if="!PasswordReset.IsResettingPassword" v-on:click.stop.prevent="PasswordReset.IsResettingPassword = true; PasswordReset.IsResettingPasswordEmailSentToAddress = ''; CustomErrorMessage=''" :disabled="IsLoading" class="btn--plain">Can't sign in?</button>
          <button tabindex="-1" type="button" v-else v-on:click.stop.prevent="PasswordReset.IsResettingPassword = false" class="btn--plain">Back to sign in</button>
          <ui-button color="primary" size="large" v-if="!PasswordReset.IsResettingPassword" :disabled="FormIsNotValid" :loading="IsLoading" v-on:click.stop.prevent="userSignIn($event)">Sign In</ui-button>
          <ui-button size="large" v-else color="primary" :disabled="IsLoading || !EmailAddress || !EmailAddressIsValid" :loading="IsLoading" v-on:click.stop.prevent="resetPassword($event)">Send recovery link</ui-button>
        </div>
      </template>

      <template v-if="NewUserRegistration.IsNewUserRegistration">

        <template v-if="NewUserRegistration.NewUserRegistered">
          <div v-html="getRegistrationSuccessUi()"></div>
          <a v-on:click="resetData()" href="/#/SignIn" class="btn--plain">Back to sign in page</a>
        </template>
        <template v-else>
          <div class="block">
            <ui-textbox ref="firstName-input-txtbox" floating-label :class="{'input': true}" label="First name" :disabled="IsLoading" placeholder="First name" name="register-first-name" type="text" v-model="NewUserRegistration.FirstName"></ui-textbox>
          </div>

          <div class="block">
            <ui-textbox ref="lastName-input-txtbox" floating-label :class="{'input': true}" label="Last name" :disabled="IsLoading" placeholder="Last name" name="register-last-name" type="text" v-model="NewUserRegistration.LastName"></ui-textbox>
          </div>

          <div class="block">
            <ui-textbox autocomplete="off" floating-label v-validate="'email'" :class="{'sign-in-panel__email-txt':true, 'input': true, 'is-danger': errors.has('email-new-user') }" label="Email address" :disabled="IsLoading || (NewUserRegistration.UserGuid && NewUserRegistration.UserGuid.length > 0)" placeholder="Enter your email address" name="email-new-user" data-vv-as="email address" type="text" v-model="EmailAddress"></ui-textbox>

            <span v-show="errors.has('email-new-user')" class="help is-danger sign-in-panel__email-error inline">{{ errors.first('email-new-user') }}</span>
          </div>

          <div>
            <PasswordValidityUi :newPassword="NewPassword" :passwordValidity="PasswordValidity"></PasswordValidityUi>
            <div class="password-inputs-wrap">
              <ui-textbox label="New password" autocomplete="off" floating-label class="" placeholder="Enter your password" :disabled="IsLoading" :type="(PasswordIsVisible) ? 'text' : 'password'" name="Newpassword" v-model="NewPassword"></ui-textbox>
              <div class="visibility-icon-wrap">
                <i v-on:click="PasswordIsVisible = !PasswordIsVisible" class="material-icons" ref="password-visible-description">
                  <template v-if="PasswordIsVisible">visibility_off</template>
                  <template v-else>visibility</template>
                </i>
              </div>
              <ui-popover class="custom-popover allowed-symbols" open-on="hover" trigger="password-visible-description">
                <div>
                  <template v-if="PasswordIsVisible">Hide password</template>
                  <template v-else>Show password</template>
                </div>
              </ui-popover>
            </div>
            <div class="password-inputs-wrap">
              <ui-textbox label="Confirm new password" autocomplete="off" floating-label class="" placeholder="Enter your password" :disabled="IsLoading" :type="(ConfirmPasswordIsVisible) ? 'text' : 'password'" name="ConfirmPassword" v-model="NewPasswordConfirm"></ui-textbox>
              <div class="visibility-icon-wrap">
                <i v-on:click="ConfirmPasswordIsVisible = !ConfirmPasswordIsVisible" class="material-icons" ref="confirm-password-visible-description">
                  <template v-if="ConfirmPasswordIsVisible">visibility_off</template>
                  <template v-else>visibility</template>
                </i>
              </div>
              <ui-popover class="custom-popover allowed-symbols" open-on="hover" trigger="confirm-password-visible-description">
                <div>
                  <template v-if="ConfirmPasswordIsVisible">Hide password</template>
                  <template v-else>Show password</template>
                </div>
              </ui-popover>
            </div>

            <div class="help is-danger" v-if="CustomErrorMessage || ConfirmPasswordIsMatched">
              <div>{{CustomErrorMessage}}</div>
            </div>
            <div class="sign-in-panel__actions--wide">
              <a v-on:click="resetData()" href="/#/SignIn" class="btn--plain">Back to sign in page</a>
              <ui-button color="primary" size="large" :disabled="!NewPasswordIsValid || IsLoading || !ConfirmPasswordIsMatched || !NewUserRegistration.LastName || !NewUserRegistration.FirstName" :loading="IsLoading" v-on:click.stop.prevent="registerNewUserAccount($event)">Register</ui-button>
            </div>
          </div>

        </template>

      </template>
    </form>

    <div class="sign-in-footer">
      <div class="footer__col-1">
        <span>Copyright &copy; System C All rights reserved {{CurrentYear}}</span>
      </div>
      <div class="footer__col-2"><img src="/Content/img/care-alliance-white.png" alt="SystemC Care Alliance" class="sign-in-logo-footer" /></div>
      <div class="footer__col-3">
        <span class="version-label">{{Version}}</span>
      </div>
    </div>
  </div>
</template>

<script>
  /* Utils */
  import PubSub from 'Endpoints/careflowApp/PubSub';
  import Vault from 'Endpoints/careflowApp/Vault';
  import staticKeys from 'Endpoints/careflowApp/Static';
  import GetHandlebarsTemplate from 'Endpoints/careflowApp/GetHandlebarsTemplate';
  import appRouter from '../../../app/app-router';
  import VeeValidate from 'vee-validate';
  Vue.use(VeeValidate, {
  	//Validation dictionary - TODO - Move to global
  	dictionary: {
  		en: {
  			custom: {
  				email: {
  					//vv-delay issue https://github.com/baianat/vee-validate/issues/292
  					required: 'Please enter a valid email address'
  				}
  			},
  			messages: {
  				email: function() {
  					return 'Please enter a valid email address';
  				}
  			}
  		}
  	}
  });

  /* API Endpoints */
  import AuthenticationLogIn from 'Endpoints/careflowApp/AuthenticationLogIn';
  import ResetHpcaUserPassword from 'Endpoints/careflowApp/ResetHpcaUserPassword';
  import * as HpcaConfirmAccount from 'Endpoints/careflowApp/HpcaConfirmAccount';
  import * as RegisterNewUser from 'Endpoints/careflowApp/RegisterNewUserAccount';
  import * as RegistrationGuid from 'Endpoints/careflowApp/RegistrationGuid';
  import * as Regex from './assets/regex.js';
  import * as RegistrationCompleteUi from './assets/registrationCompleteHtmlBlock.js';
  // import * as hpcaAccountUpgrade from '../../../views/HPCAauthUpgrade';
  import UpgradeToHpca from 'Endpoints/careflowApp/UpgradeAccountToHpca';
  import HpcaConfirmationEmailResend from 'Endpoints/careflowApp/HpcaConfirmationEmailResend';
  import GetRequestingUserSummary from 'Endpoints/users/GetRequestingUserSummary';

  /*Components*/
  import PasswordValidityUi from 'VueComponents/signIn/components/PasswordValidityUi';

  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';

  export default {
  	data() {
  		return {
  			Version: appMain.getCachedAppConfig().version,
  			CurrentYear: moment().year(),
  			EmailAddress: '',
  			EmailAddressIsValid: false,
  			Password: '',
  			NewPassword: '',
  			NewPasswordConfirm: '',
  			NewPasswordIsValid: false,
  			PasswordIsVisible: false,
  			ConfirmPasswordIsVisible: false,
  			ConfirmPasswordIsMatched: false,
  			UserTimedOutFlag: null, //Set only after auth
  			HpcaUpgradeRequired: false,
  			UserHasHpcaUpgradePermission: false,
  			UserAccountIsUpgradedToHpca: false,
  			HpcaVerificationEmailResent: false,
  			PasswordReset: {
  				IsResettingPassword: false,
  				IsResettingPasswordEmailSent: false,
  				IsResettingPasswordEmailSentToAddress: ''
  			},
  			NewUserRegistration: {
  				UserGuid: this.guid,
  				IsNewUserRegistration: this.isUserRegistration,
  				FirstName: '',
  				LastName: '',
  				NewUserRegistered: false
  			},
  			IsLoading: false, //Default
  			CustomErrorMessage: '',
  			PasswordValidity: {
  				HasNumeric: false,
  				HasUpperCase: false,
  				HasLowerCase: false,
  				HasSymbol: false,
  				SymbolIsValid: false
  			},
  			FormIsNotValid: true //watcher to enable / disable button
  		};
  	},
  	components: { PasswordValidityUi },
  	mixins: [DateFilter],
  	props: {
  		guid: {
  			type: [String, Number],
  			default: null,
  			required: false
  		},
  		isUserRegistration: {
  			type: [Boolean],
  			default: false,
  			required: false
  		}
  	},
  	watch: {
  		EmailAddress(newval, oldval) {
  			this.$validator.validateAll().then(result => {
  				//Check form is valid - https://github.com/baianat/vee-validate/issues/853
  				if (this.errors.items.length || !this.EmailAddress)
  					return (this.FormIsNotValid = true);
  				return (this.FormIsNotValid = false);
  			});
  			//this.errors.items.length <= 0; // Where this, is the Vue instance.
  		},

  		Password() {
  			this.$validator.validateAll().then(result => {
  				//Check form is valid - https://github.com/baianat/vee-validate/issues/853
  				if (this.errors.items.length || !this.EmailAddress)
  					return (this.FormIsNotValid = true);
  				return (this.FormIsNotValid = false);
  			});
  		},

  		NewPassword(newVal, oldVal) {
  			if (newVal) {
  				this.ConfirmPasswordIsMatched = newVal === this.NewPasswordConfirm;
  				if (this.NewPasswordConfirm && !this.ConfirmPasswordIsMatched)
  					this.CustomErrorMessage = 'Entered passwords do not match';
  				return this.checkPasswordValidity(newVal);
  			}
  			this.ConfirmPasswordIsMatched = false;
  			return (this.NewPasswordIsValid = false);
  		},

  		NewPasswordConfirm(newVal, oldVal) {
  			if (newVal) {
  				if (this.NewPassword === this.NewPasswordConfirm) {
  					this.CustomErrorMessage = '';
  					return (this.ConfirmPasswordIsMatched =
  						this.NewPassword === this.NewPasswordConfirm);
  				}
  				this.CustomErrorMessage = 'Entered passwords do not match';
  				return (this.ConfirmPasswordIsMatched = false);
  			}
  			this.CustomErrorMessage = '';
  			return (this.ConfirmPasswordIsMatched = false);
  		},

  		IsResettingPassword(newval, oldval) {
  			this.$validator.reset(); //Clean errors
  			if (newval) {
  				//If true
  				setTimeout(() => {
  					this.$refs['email-input-txtbox'].$refs.input.focus(); //https://github.com/JosephusPaye/Keen-UI/issues/273
  					if (this.EmailAddress)
  						this.$validator
  							.validateAll()
  							.then(
  								result => {}
  							); /*Trigger validator after focus - https://baianat.github.io/vee-validate/guide/events.html*/
  				}, 100);
  				// this.$refs['email-input-txtbox'].$el.focus(); //focus email - https://forum.vuejs.org/t/how-to-set-focus-to-input/10672
  			} else {
  				setTimeout(() => {
  					this.$refs['email-input-txtbox'].$refs.input.focus(); //https://github.com/JosephusPaye/Keen-UI/issues/273
  					if (this.EmailAddress)
  						this.$validator
  							.validateAll()
  							.then(
  								result => {}
  							); /*Trigger validator after focus - https://baianat.github.io/vee-validate/guide/events.html*/
  				}, 100);
  			}
  		},

  		NewUserRegistration: {
  			//VeeValidate Computed value
  			handler(newVal, oldVal) {},
  			deep: true //https://stackoverflow.com/questions/42133894/vue-js-how-to-properly-watch-for-nested-properties
  		},

  		fields: {
  			//VeeValidate Computed value
  			handler(newVal, oldVal) {
  				if (newVal.email) this.EmailAddressIsValid = newVal.email.valid; //Use VeeValidate computed fields
  			},
  			deep: true //https://stackoverflow.com/questions/42133894/vue-js-how-to-properly-watch-for-nested-properties
  		}
  	},
  	methods: {
  		userSignIn() {
  			//VeeValidate
  			this.$validator.validateAll().then(result => {
  				//Can pass a scope param if required
  				if (result) {
  					//Returns bool

  					if (!this.EmailAddress || !this.Password) return false;
  					this.CustomErrorMessage = '';
  					this.$validator.reset(); //Clean veeValidate errors
  					this.IsLoading = true;

  					//Call the API's
  					return this.authenticateUser()
  						.then(response => {
  							let networkId = null;
  							if (
  								this.UserTimedOutFlag &&
  								this.UserTimedOutFlag.hasOwnProperty('networkId')
  							)
  								networkId = parseInt(this.UserTimedOutFlag['networkId'], 10);
  							return networkId;
  						})
  						.then(response => {
  							return this.getRequestingUserSummary(response);
  						})
  						.then(this.redirectOnSignIn)
  						.catch(error => {
  							this.resetData();
  							this.CustomErrorMessage =
  								'There was a problem signing you in, please try again';
  						});
  				}
  			});
  		},

  		authenticateUser() {
  			return new Promise((resolve, reject) => {
  				AuthenticationLogIn.callApi(this.EmailAddress, this.Password)
  					.then(response => {
  						if (response.status === 200) {
  							//Clear existing credentials, but check for recent session timeout key first, so we can redirect the user
  							if ($.jStorage.get('appUrl'))
  								this.UserTimedOutFlag = $.jStorage.get('appUrl');
  							Vault.flush();
  							//Set the auth credentials
  							Vault.setItem(
  								'AccessTokenKey',
  								response.headers[staticKeys.getStaticKey('AccessTokenKey')]
  							);
  							Vault.setItem(
  								'RefreshTokenKey',
  								response.headers[staticKeys.getStaticKey('RefreshTokenKey')]
  							);
  							Vault.setItem(
  								'ExpiresInKey',
  								response.headers[staticKeys.getStaticKey('ExpiresInKey')]
  							); //Secs
  							Vault.setItem('AccessTokenRetreivedOn', moment().valueOf()); //timestamp in milliseconds
  							//Add user email
  							Vault.setItem('LoggedInUserEmail', this.EmailAddress);

  							if (
  								!appMain.isHpcaAuthTokenType(
  									response.headers[staticKeys.getStaticKey('AccessTokenKey')]
  								)
  							) {
  								//If not HPCA, upgrade path - https://doccom.atlassian.net/browse/WEB-642

  								//Get user summary

  								return GetRequestingUserSummary.callApi(true)
  									.then((response, textStatus, JqXHR) => {
  										let userSummary = response.Data.MemberAreasAndPermissions.map(
  											(item, index, items) => {
  												return item.Permissions || '';
  											}
  										);

  										userSummary = [
  											...new Set([].concat.apply([], userSummary))
  										].filter(Boolean); //Unique values, remove falseys

  										this.UserHasHpcaUpgradePermission =
  											userSummary.indexOf('UseClinicalWorkspace') !== -1;
  										this.HpcaUpgradeRequired = true; //Flag upgrade required
  										this.IsLoading = false;
  										//Clear creds
  										this.EmailAddress = '';
  										this.Password = '';
  									})
  									.fail(error => {
  										reject(error);
  									});
  							} else {
  								resolve(true);
  							}
  						} else {
  							reject();
  						}
  					})
  					.catch(error => {
  						//Use catch() as makes direct call to dispatch()
  						//403 response indicates password has expired - send reset password email and notify user
  						if (error && error.response.status === 403) {
  							return this.resetExpiredPassword();
  						}

  						if (error && error.response.status === 401) {
  							this.Password = '';
  							this.IsLoading = false;
  							this.CustomErrorMessage =
  								'The email address and/or password you entered does not match our records';
  						} else {
  							//Another error
  							Vault.flush();
  							this.Password = '';
  							this.IsLoading = false;
  							reject();
  						}
  					});
  			});
  		},

  		getRequestingUserSummary(networkId) {
  			//Get the logged in users member areas and permissions and cache in local storage
  			return new Promise((resolve, reject) => {
  				appMain
  					.getRequestingUserSummary(networkId)
  					.then(response => {
  						//User is logged in
  						let userCanUseClinicalWorkspace = false;
  						const isItSupport =
  							Vault.getItem('GetRequestingUserSummary')['Data'].hasOwnProperty(
  								'IsItSupport'
  							) &&
  							Vault.getItem('GetRequestingUserSummary')['Data']['IsItSupport'];

  						if (isItSupport) {
  							userCanUseClinicalWorkspace =
  								appMain
  									.getItSupportUserPermissions()
  									.indexOf('UseClinicalWorkspace') !== -1;
  						} else {
  							//https://doccom.atlassian.net/browse/WEB-957

  							let userSummary = Vault.getItem('GetRequestingUserSummary')[
  								'Data'
  							]['MemberAreasAndPermissions'].map((item, index, items) => {
  								return item.Permissions || '';
  							});

  							userSummary = [
  								...new Set([].concat.apply([], userSummary))
  							].filter(Boolean); //Unique values, remove falseys

  							userCanUseClinicalWorkspace =
  								userSummary.indexOf('UseClinicalWorkspace') !== -1;
  						}

  						if (!userCanUseClinicalWorkspace) {
  							//https://doccom.atlassian.net/browse/WEB-818
  							console.error('UseClinicalWorkspace permission not found');
  							Vault.flush();
  							return reject();
  						}
  						return resolve();
  					})
  					.catch(error => {
  						Vault.flush();
  						this.CustomErrorMessage =
  							'There was a problem signing you in, please try again';
  						return reject('User not authenticated'); // rejects the promise
  					});
  			});
  		},

  		redirectOnSignIn() {
  			//Set flag for tabs that a user session is active
  			//Vault.setItem("SessionKeepAlive", moment().valueOf());
  			var tabId = crosstab.supported ? crosstab.id : null;
  			Vault.setItem('ActiveUserSessionSet', {
  				CrossTabId: tabId,
  				StartTime: moment().valueOf() //ms
  			});

  			//tell any other open, but idle tabs that we have a session and pass it
  			if (crosstab.supported) {
  				_.delay(function() {
  					crosstab.broadcast('SessionStartedInTab', {
  						RefreshToken: Vault.getSessionItem('refresh_token'),
  						AccessToken: Vault.getSessionItem('access_token'),
  						Date: moment().valueOf(), //Unix
  						SessionStartedInTabId: tabId
  					});
  				}, 250);
  			}

  			//Was active user recently timed out, if so they will deep link and not hit /home. Need to manually get the badgecounts.
  			if (this.UserTimedOutFlag && Vault.getItem('ApplicationUserID')) {
  				let userId = this.UserTimedOutFlag['key'];
  				let url = this.UserTimedOutFlag['url'];
  				let networkId = parseInt(this.UserTimedOutFlag['networkId'], 10);

  				if (userId === Vault.getItem('ApplicationUserID')) {
  					//Check user is the same
  					this.UserTimedOutFlag = null;
  					//Get badge counts
  					if (networkId) {
  						Promise.all([
  							appMain.getUnreadCountsForAllNetworks(true, null),
  							appMain.getUnreadCountsForSingleNetwork(true, networkId, null)
  						])
  							.then(responses => {
  								//Clear creds
  								this.EmailAddress = '';
  								this.Password = '';
  								appRouter.careflowAppRouter.setLocation(url);
  							})
  							.catch(function() {
  								//Clear creds
  								this.EmailAddress = '';
  								this.Password = '';
  								appRouter.careflowAppRouter.setLocation('/#/Home');
  							});
  					} else {
  						//Clear creds
  						this.EmailAddress = '';
  						this.Password = '';
  						appRouter.careflowAppRouter.setLocation(url);
  					}
  				} else {
  					this.UserTimedOutFlag = null;
  					//Clear creds
  					this.EmailAddress = '';
  					this.Password = '';
  					return appRouter.careflowAppRouter.setLocation('/#/Home');
  				}
  			} else {
  				//Clear creds
  				this.EmailAddress = '';
  				this.Password = '';
  				return appRouter.careflowAppRouter.setLocation('/#/Home');
  			}
  		},

  		resetPassword() {
  			/*API issues - need to call both reset and resend to stop users being locked out of the upgrade process - https://doccom.atlassian.net/browse/WEB-944*/

  			if (!this.EmailAddress) return;

  			return this.$validator
  				.validate('email', this.EmailAddress)
  				.then(response => {
  					if (!response) return false; //Returns bool

  					this.IsLoading = true;

  					//Promise.all is all or nothing. It resolves once all promises in the array resolve, or reject as soon as one of them rejects.
  					return Promise.all([
  						ResetHpcaUserPassword.callApi(this.EmailAddress),
  						HpcaConfirmationEmailResend.callApi(this.EmailAddress)
  					])
  						.then(responses => {
  							let a = responses[0];
  							let b = responses[1];

  							this.IsLoading = false;
  							this.PasswordReset.IsResettingPasswordEmailSent = true;
  							this.PasswordReset.IsResettingPasswordEmailSentToAddress = this.EmailAddress;
  							this.EmailAddress = '';
  							this.Password = '';
  						})
  						.catch(error => {
  							this.CustomErrorMessage =
  								'There was a problem processing your request, please try again';
  							this.IsLoading = false;
  						});
  				})
  				.catch(error => {
  					this.IsLoading = false;
  					this.EmailAddress = '';
  				});
  		},

  		resetExpiredPassword() {
  			//403 server response
  			return ResetHpcaUserPassword.callApi(this.EmailAddress)
  				.then(response => {
  					this.IsLoading = false;
  					this.CustomErrorMessage = `Your password has expired. A password reset e-mail has been sent to ${
  						this.EmailAddress
  					}. Click the link in this e-mail to complete the reset process. You will be prompted to create a new password during this final step.`;
  				})
  				.catch(error => {
  					this.IsLoading = false;
  					this.CustomErrorMessage =
  						'There was a problem processing your request, please try again';
  				});
  		},

  		registerNewUserAccount() {
  			if (this.NewPassword !== this.NewPasswordConfirm)
  				return (this.CustomErrorMessage =
  					'Entered passwords do not match. Please try again');
  			this.IsLoading = true;
  			this.CustomErrorMessage = '';
  			return RegisterNewUser.registerNewUserAccount(
  				this.NewUserRegistration.FirstName,
  				this.NewUserRegistration.LastName,
  				this.EmailAddress,
  				this.NewPassword
  			)
  				.then(response => {
  					this.NewUserRegistration.NewUserRegistered = true;
  					this.IsLoading = false;
  				})
  				.catch(error => {
  					this.NewUserRegistration.NewUserRegistered = false;
  					this.IsLoading = false;
  					this.CustomErrorMessage =
  						'There was a problem processing your request, please try again';
  					//Calls dispatch
  				});
  		},

  		checkPasswordValidity: _.debounce(
  			//https://doccom.atlassian.net/wiki/spaces/TPKB/pages/461930648/HPCA+Password+Policy
  			function(string) {
  				let stringIsValid;
  				let validStringLength;
  				const regex = Regex.regex;
  				const stringMatchCheckRegex = Regex.stringMatchCheckRegex;
  				const stringMatchSymbolCheckRegex = Regex.stringMatchSymbolCheckRegex;
  				const allAsciiChars = Regex.allAsciiChars;

  				//console.log(regex.test(string))
  				//console.log(string.match(stringMatchCheckRegex).length)
  				//if (string.match(stringMatchCheckRegex)) console.log(JSON.stringify(string.match(stringMatchCheckRegex)))

  				validStringLength = string.match(stringMatchCheckRegex)
  					? string.match(stringMatchCheckRegex).length
  					: 0;
  				stringIsValid =
  					regex.test(string) && validStringLength === string.length;

  				const upperCase = Regex.upperCase;
  				const lowerCase = Regex.lowerCase;
  				const number = Regex.number;
  				const special = Regex.special;
  				//const prohibited = /[^\u0000-\u00ff]/; //Unicode characters.
  				//const spaces = /\s/; //Spaces

  				//Set validity
  				this.PasswordValidity.HasNumeric = number.test(string);
  				this.PasswordValidity.HasLowerCase = lowerCase.test(string);
  				this.PasswordValidity.HasUpperCase = upperCase.test(string);
  				this.PasswordValidity.HasSymbol =
  					!Regex.hasUnicode(string) &&
  					(string.match(stringMatchSymbolCheckRegex) &&
  						string.match(stringMatchSymbolCheckRegex).length > 0)
  						? true
  						: false;
  				// this.PasswordValidity.SymbolIsValid

  				if (stringIsValid) return (this.NewPasswordIsValid = true);

  				return (this.NewPasswordIsValid = false);
  			},
  			100
  		), // Maximum run of once per 100 milliseconds

  		upgradeUserAccountToHpca() {
  			this.CustomErrorMessage = '';
  			if (this.NewPassword !== this.NewPasswordConfirm)
  				return (this.CustomErrorMessage =
  					'Entered passwords do not match. Please try again');

  			this.PasswordIsVisible = false;
  			this.ConfirmPasswordIsVisible = false;
  			this.IsLoading = true;

  			UpgradeToHpca.callApi(this.NewPassword)
  				.then((response, textStatus, JQXHr) => {
  					this.IsLoading = false;
  					if (JQXHr.status === 200) {
  						return (this.UserAccountIsUpgradedToHpca = true); //Account upgraded, HPCA email sent
  					} else {
  						return (this.CustomErrorMessage =
  							'There was a problem processing your request, please try again');
  					}
  				})
  				.fail(error => {
  					this.IsLoading = false;
  					return (this.CustomErrorMessage =
  						'There was a problem processing your request, please try again');
  				});
  		},

  		resendHpcaEmail() {
  			if (!Vault.getItem('LoggedInUserEmail')) return;

  			HpcaConfirmationEmailResend.callApi(Vault.getItem('LoggedInUserEmail'))
  				.then(response => {
  					/*Axios call direct*/

  					if (/^2/.test(response.status)) {
  						appMain.triggerAppNotification({
  							Text: "We've sent you an email containing a verification link",
  							Icon: 'success'
  						});
  						this.HpcaVerificationEmailResent = true;
  						return;
  					} else {
  						return appMain.triggerAppNotification({
  							Text:
  								'There was a problem sending you the email, please try again',
  							Icon: 'error'
  						});
  					}
  				})
  				.catch(function() {
  					return appMain.triggerAppNotification({
  						Text: 'There was a problem sending you the email, please try again',
  						Icon: 'error'
  					});
  				});
  		},

  		resetData() {
  			Object.assign(this.$data, this.$options.data.call(this)); //Reset data model to original data
  			//https://github.com/baianat/vee-validate/issues/55
  			this.$validator.reset();
  			this.$validator.errors.clear();
  			this.$validator.resume();
  		},
  		getRegistrationSuccessUi() {
  			let template = RegistrationCompleteUi.template;
  			return template;
  		}
  	},
  	computed: {
  		//Difference between computed property and method is that computed properties are cached and change only when their dependencies change - that's why you can't pass parameters there. Methods are evaluated every time you call them.
  	},
  	created() {
  		if (this.guid && this.isUserRegistration) {
  			//New registration
  			//Registration GUID - get email address - /Register view hit, init() param passed as true
  			RegistrationGuid.getUserData(this.guid)
  				.then((response, status, xhr) => {
  					this.EmailAddress = response.data.Data; //Set the email
  					this.NewUserRegistration.IsNewUserRegistration = true; //Start the new registration flow
  				})
  				.catch(error => {
  					this.CustomErrorMessage =
  						'There was a problem processing your request, please contact an administrator';
  					this.IsLoading = false;
  					this.NewUserRegistration.UserGuid = null;
  				});
  		}

  		if (this.guid && !this.isUserRegistration) {
  			//SignIn hit with GUID, not registration view. GUID will be an HPCA confirmation guid

  			HpcaConfirmAccount.confirmHpcaRegistration(this.guid)
  				.then(response => {})
  				.catch(error => {
  					//Calls dispatch
  				});
  		}
  	},
  	mounted() {
  		setTimeout(() => {
  			if (this.EmailAddress)
  				this.$validator.validateAll().then(result => {
  					//Check form is valid - https://github.com/baianat/vee-validate/issues/853
  					if (this.errors.items.length || !this.EmailAddress)
  						return (this.FormIsNotValid = true);
  					return (this.FormIsNotValid = false);
  				});

  			// this.$refs['email-input-txtbox'].$refs.input.focus(); //https://github.com/JosephusPaye/Keen-UI/issues/273
  			// if (this.EmailAddress) this.$refs['email-input-txtbox'].$refs.input.$emit('blur'); /*Trigger validator after focus - https://baianat.github.io/vee-validate/guide/events.html*/
  		}, 100);
  	},
  	beforeDestroy() {},
  	updated() {}
  };
</script>



<style lang="less">
  @import '../../../../less/app-variables.less';

  .sign-in-wrapper {
  	display: flex;
  	/*width: 100%;*/
  	height: 100%;
  	flex-direction: column;
  	padding: 0 0 13px 0;

  	& .block {
  		flex: 1 100%;
  	}

  	& .sign-in-bg-top {
  		position: absolute;
  		top: 0;
  		z-index: 0;
  		background: #fff;
  		min-height: 319px;
  		max-height: 319px;
  		height: 319px;
  		flex: 1 100%;
  		width: 100%;
  	}
  }

  .allowed-symbols {
  	p {
  		margin-top: 0;
  	}
  }

  .sign-in-panel {
  	width: 465px;
  	height: auto;
  	padding: 28px;
  	margin-top: 45px;
  	margin-bottom: 45px;
  	box-sizing: border-box;
  	background: #fff;
  	z-index: 10;
  	/*display: flex;*/
  	/*flex-direction: column;*/
  	align-self: center;

  	.ui-textbox__content {
  		//min-height: 50px;
  	}

  	& .sign-in-panel-title {
  		display: flex;
  		padding: 0;
  		margin: 0 0 1em 0;
  		font-size: 1.5em;
  		font-weight: @font--medium;
  	}

  	& .block {
  		min-height: 55px;
  		display: flex;
  		flex-direction: column;

  		& .ui-textbox {
  			margin-bottom: 0;
  		}

  		&:empty {
  			min-height: 0;
  		}
  	}

  	& .sign-in-panel__email-txt {
  		margin-bottom: 0;

  		& .ui-textbox__icon-wrapper {
  			padding-top: 0;
  			margin-right: 10px;

  			& .ui-icon {
  				font-size: 40px;
  				padding-top: 11px;
  			}
  		}
  	}

  	& .register-btn {
  		margin-right: 1em;
  	}
  	& .sign-in-panel__email-error {
  		flex-direction: column;
  		padding-left: 50px;
  		display: flex;
  		box-sizing: border-box;
  		margin-bottom: 20px;
  		&.inline {
  			padding-left: 0;
  		}
  	}

  	& .sign-in-panel__password-txt {
  		padding-left: 50px; /*Account for .sign-in-panel__email-txt icon*/
  	}

  	& .ui-textbox__input {
  		font-size: 1.231em; /*16px per design*/
  	}

  	& .login-help-btn {
  		margin: 0.5em 0 0 0;
  	}

  	&.no-inputs {
  		& .sign-in-panel__actions {
  			padding-left: 0;
  		}
  	}

  	& .ui-textbox__content {
  		min-height: auto;
  	}

  	& .validity__block {
  		margin: 0 0 0.2em 0;
  		padding: 0;
  		font-size: 1em;
  		display: flex;
  		justify-items: center;
  		align-items: center;

  		&:last-of-type {
  			margin-bottom: 0;
  		}

  		& i.material-icons {
  			font-size: 13px;
  			height: 9px;
  			line-height: 9px;
  			/*color: @shade-grey;*/
  			position: relative;
  			right: 3px;
  		}

  		&.is-valid {
  			& i.material-icons {
  				color: @success-colour;
  				/*font-size:17px;
                       height:17px;*/
  			}
  		}

  		&.hover {
  			&:hover {
  				cursor: pointer;
  			}
  		}
  	}

  	& .password-inputs-wrap {
  		display: flex;
  		flex-direction: row;
  		user-select: none;

  		& .visibility-icon-wrap {
  			display: flex;
  			align-items: center;
  			user-select: none;
  			z-index: 10; /*Important, fixes Chrome hover issue*/
  			& i {
  				user-select: none;
  				-moz-user-select: none;
  				-webkit-user-select: none;
  				-ms-user-select: none;
  				color: @grey;

  				&:hover {
  					cursor: pointer;
  					color: @body-colour;
  				}
  			}
  		}

  		& .ui-textbox {
  			flex-basis: 95%;
  		}
  	}
  }

  .sign-in-panel__actions {
  	padding: 2em 0 0 50px;
  	display: flex;
  	box-sizing: border-box;

  	& .ui-button {
  		margin-left: auto;
  		margin-right: 0;
  		display: flex;
  	}
  }

  .sign-in-panel__actions--wide {
  	.sign-in-panel__actions();
  	padding: 2em 0 0 0;
  }

  .sign-in-logo-wrapper {
  	z-index: 10;
  	/*display: flex;*/
  	padding: 0;
  	box-sizing: border-box;
  	margin: 0;
  	width: 100%;
  	/*justify-content: center;*/
  	margin-top: 40px;
  	/*flex-direction: row;*/
  	text-align: center;
  }

  .sign-in-logo {
  	width: 130px;
  	height: 127px;
  }

  .sign-in-logo-footer {
  	width: 160px;
  	height: 56px;
  }

  .sign-in-footer {
  	display: flex;
  	color: #fff;
  	padding: 60px 13px 13px 13px;
  	box-sizing: border-box;
  	margin: auto 0 0 0;
  	align-items: baseline;
  	align-items: flex-end;
  	width: 100%;

  	& .footer__col-1 {
  		flex-basis: 33.333%;
  		flex-grow: 1;
  		display: flex;
  	}

  	& .footer__col-2 {
  		flex-basis: 33.333%;
  		flex-grow: 1;
  		justify-content: center;
  		display: flex;
  	}

  	& .footer__col-3 {
  		flex-basis: 33.333%;
  		flex-grow: 1;
  		display: flex;

  		& .version-label {
  			margin-left: auto;
  		}
  	}

  	& p {
  		margin: 0;
  	}
  }
</style>

<custom>
    SignIn component notes
</custom>
