<template>
  <div class="team-tags-wrapper">
    <!--Loaders-->

    <div data-full-height-deduct="true">
      <p>If you require a new tag adding, please contact support at
        <a href="mailto:support@careflowconnect.com">support@careflowconnect.com</a>
      </p>
      <div class="">
        <ui-textbox placeholder="Tag name..." type="text" v-model="SearchInput"></ui-textbox>
      </div>
    </div>

    <div data-scroll="true" class="js-fullHeight-bodyElement">
<div class="tag-list">
      <template v-if="IsFirstLoad">
        <div v-for="n in 50" :key="n" class="feed-loading-content">
          <vue-content-loading :width="600" :height="10">
            <rect rx="4" ry="4" y="0" x="0" height="7" width="30"></rect>
            <rect rx="4" ry="4" y="0" height="7" x="45" width="500"></rect>
          </vue-content-loading>
        </div>
      </template>
      <template v-else>
        <div class="tag-item" v-for="(item) in getTeamClinicalTagsToRender" :key="item.ID">
          <ui-switch :disabled="IsLoading" @change="toggleTagStatus(item)" :checked="item.IsSelected" :value="item.IsSelected">{{item.Value}}</ui-switch>
        </div>
        <p v-if="!getTeamClinicalTagsToRender.length && SearchInput">No tags found matching '{{SearchInput}}'.</p>
      </template>
    </div>
    </div>
  </div>
</template>

<script>
  /*APIs*/
  import GroupClinicalTags from 'Endpoints/clinicalTags/GroupClinicalTags';
  import AddGroupClinicalTags from 'Endpoints/clinicalTags/AddGroupClinicalTags';
  import RemoveGroupClinicalTags from 'Endpoints/clinicalTags/RemoveGroupClinicalTags';

  /*Components*/
  import { VueContentLoading } from 'vue-content-loading';

  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';

  export default {
  	data: function() {
  		return {
  			NetworkId: this.networkId || null,
  			MemberAreaId: this.memberAreaId || null,
  			TeamClinicalTags: [],
  			IsLoading: false,
  			IsFirstLoad: true,
  			SearchInput: '',
  		};
  	},
  	props: {
  		networkId: {
  			type: [String, Number],
  			required: true,
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: true,
  		},
  	},
  	mixins: [DateFilter],
  	filters: {},
  	components: { VueContentLoading },
  	methods: {
  		getTeamClinicalTags() {
  			return GroupClinicalTags.callApi(this.MemberAreaId).then((response, status, xhr) => {
  				this.TeamClinicalTags = response.Data;
  			});
  		},

  		addGroupClinicalTag() {},

  		removeGroupClinicalTag: function(member) {},

  		toggleTagStatus(item) {
  			if (!item) return;

  			this.IsLoading = true;

  			if (!item.IsSelected) {
  				return AddGroupClinicalTags.callApi(item.ID, this.MemberAreaId).then((response, status, xhr) => {
  					if (/^2/.test(xhr.status)) {
  						item.IsSelected = true;
  					}

  					this.IsLoading = false;
  				});
  			} else {
  				return RemoveGroupClinicalTags.callApi(item.ID, this.MemberAreaId).then((response, status, xhr) => {
  					if (/^2/.test(xhr.status)) {
  						item.IsSelected = false;
  					}

  					this.IsLoading = false;
  				});
  			}
  		},
  	},
  	watch: {},
  	computed: {
  		getTeamClinicalTagsToRender: function() {
  			if (this.SearchInput) {
  				return this.TeamClinicalTags.filter(item => {
  					if (item.Value.toLowerCase().includes(this.SearchInput.toLowerCase())) return item;
  					return;
  				});
  			}
  			return this.TeamClinicalTags;
  		},
  	},
  	created: function() {},
  	mounted: function() {
  		//Init()
  		this.getTeamClinicalTags().then(response => {
  			this.IsFirstLoad = false;
  		});
  	},
  };
</script>

<style lang="less" scoped>
  .team-tags-wrapper {
  	max-width: 600px;
  	display: flex;
  	flex-direction: column;
  	margin-left: 1em;
  }
  .tag-item {
  	&:hover {
  		cursor: pointer;
  	}
  }
  .tag-list {
	  margin-bottom: 5em;
	  padding: 0 0 0 .5em;
  }
</style>
<notes>Manage team clinical tags</notes>
