<template>
  <div :class="{'is-modal':widgetType === 1, 'teams-list': true}">
    <ui-textbox :disabled="IsLoading" placeholder="Filter by team name" :multi-line="false" v-model="TeamFilterText"></ui-textbox>
    <TeamListItem v-for="(item) in getTeamsToRender" :key="item.AccessGroupID" :item="item" :networkId="networkId" @teams-updated="obj => $emit('teams-updated', obj)"></TeamListItem>
    <template v-if="!getTeamsToRender.length">
      <p>No teams found.</p>
    </template>
  </div>
</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';

  /*Components*/
  import TeamListItem from 'VueComponents/usersTeamManagement/components/ManageTeamMembershipItem';

  /* API Endpoints */
  import Vault from 'Endpoints/careflowApp/Vault';
  import RequestMembership from 'Endpoints/groups/RequestMembership';

  import appRouter from 'AppJs/app-router';

  export default {
  	data() {
  		return {
  			IsLoading: false,
  			ActiveUrl: appRouter.careflowAppRouter.getLocation(),
  			Teams: this.getTeamsUserIsAmemberOf() || [],
  			TeamFilterText: '',
  		};
  	},
  	props: {
  		widgetType: {
  			type: [Number, String],
  			required: false,
  			default: 1, //1 = modal
  		},

  		memberAreaId: {
  			type: [String, Number],
  			required: false,
  			default: null,
  		},
  		networkId: {
  			type: [String, Number],
  			required: true,
  		},
  		permissions: {
  			//TODO - Pass as param to improve performance, many fabs can exist on lists, feeds etc!
  			type: [Array],
  			required: false,
  			default: () => {
  				return [];
  			},
  		},
  	},
  	components: { TeamListItem },
  	mixins: [DateFilter],
  	filters: {},
  	watch: {
  		IsLoading(newVal, oldVal) {
  			VueEventBus.$emit('Modal.ValidityUpdate', newVal);
  		},
  	},
  	computed: {
  		getTeamsToRender() {
  			if (!this.TeamFilterText) return this.Teams;
  			return this.Teams.filter(x => x.Name.toUpperCase().includes(this.TeamFilterText.toUpperCase()));
  		},
  	},

  	methods: {
  		getTeamsUserIsAmemberOf() {
  			let data = Vault.getItem('ActiveNetworkGroupMemberships');
  			if (this.networkId === data.NetworkId)
  				return data.Groups.sort((a, b) => {
  					//https://stackoverflow.com/questions/8900732/javascript-sort-objects-in-an-array-alphabetically-on-one-property-of-the-arra
  					return a.Name.toUpperCase() < b.Name.toUpperCase() ? -1 : a.Name.toUpperCase() > b.Name.toUpperCase() ? 1 : 0;
  				});
  			return [];
  		},

  		getMembershipActionLabel(status, policy) {
  			if (!status || !policy) return ``;
  			if (status === 'Member') return `You are a member`;
  			if (policy === 'Public') return `Join team`;
  			if (policy === 'Private') return `Request to join team`;
  			return ``;
  		},

  		manageTeamMembership(item) {
  			if (!item) return;

  			if (item.MembershipStatus !== 'Member') return this.joinTeam(item.MemberAreaID, item.Name);
  		},
  	},
  	created() {},
  	mounted() {},
  	deforeDestroy() {
  		this.Patient = null;
  	},
  };
</script>

<style lang="less" scoped>
  @import '../../../../less/app-variables.less';

  .teams-list {
  	display: flex;
  	flex-direction: column;
  	box-sizing: border-box;
  	padding-bottom: 8em;
  }
</style>

<custom></custom>
