<template>

  <div v-if="NetworkId" v-cloak class="main-navigation">

    <div class="navigation__left">

      <div v-if="!IsTpiIntegrationSession && getNetworksUserIsMemberOf.length > 1" class="u-relative networks-menu-trigger-wrapper"><i ref="networks-menu-trigger" class="material-icons networks-list-trigger icon-burger">menu</i> <span v-if="TotalCountOfOtherNetworkUpdates" class="u-new-content-badge burger-count">{{TotalCountOfOtherNetworkUpdates | formatBadgeCount }}</span>
      </div>

      <div class="network-links-wrapper" v-on:click="navigateView(`/#/${NetworkId}/Home`)"><i class="material-icons icon-home">home</i>
        <div class="network-label-wrapper"><span :title="NetworkName" class="network-label no-overflow-txt">{{NetworkName}}</span></div>
      </div>

      <i class="material-icons small-right">chevron_right</i>

      <ui-popover v-if="!IsTpiIntegrationSession && getNetworksUserIsMemberOf.length > 1" class="ui-menu ui-menu-set-width" @close="popoverClosed" ariaLabel="Networks" trigger="networks-menu-trigger" ref="dropdown-networks">
        <NetworkLinkItem v-for="(option) in getNetworksUserIsMemberOf" :key="option.networkId" :option="option" :isLoading="IsLoading" @setPreferredNetwork="setPreferredNetwork" @navigateView="navigateView"></NetworkLinkItem>
      </ui-popover>

      <div class="teams-link-wrapper">

        <div class="u-relative teams-link-trigger" :title="(MemberAreaName) ? MemberAreaName : ''" v-html="getTeamsListLinkLabel" ref="teams-list-trigger"></div>

        <ui-popover v-show="getUsersNetworkTeams.length" @close="popoverClosed" ariaLabel="Teams" trigger="teams-list-trigger" ref="dropdown-teams">
          <ui-menu class="navigation-ui-menu ui-menu-set-width" contain-focus :options="getUsersNetworkTeams" @select="navigateView">
            <template slot-scope="props" slot="option">
              <div class="ui-menu-option__content">
                <div class="menu-name">{{ props.option.label }}</div>
                <span v-if="props.option.unreadItems.length" class="u-new-content-badge">{{ props.option.unreadItems | formatBadgeCount }}</span>
              </div>
            </template>
          </ui-menu>
        </ui-popover>

      </div>
    </div>

    <div class="navigation__right">

      <div class="search-wrapper">
        <ui-textbox @keydown-enter="getPatientSearch" class="naivgation-search" :disabled="IsLoading" placeholder="Patient search" :multi-line="false" v-model="PatientSearchText" iconPosition="right"></ui-textbox>
        <div v-on:click="getPatientSearch" class="search-icon"> <i class="material-icons">search</i></div>
      </div>

      <div class="navigation__links">
        <span v-if="NetworkPermissions.includes('ViewClinicalAlert')" v-on:click="navigateView(`/#/${NetworkId}/Alerts`)" :class="{'link':true, 'is-active' : ActiveUrl.includes('Alerts')}">Alerts<span v-if="UnreadAlertsCount" class="u-new-content-badge alerts-count">{{UnreadAlertsCount | formatBadgeCount }}</span></span>
        <span v-if="NetworkPermissions.includes('ViewUserTasks')" v-on:click="navigateView(`/#/${NetworkId}/MyTasks`)" :class="{'link':true, 'is-active' : ActiveUrl.includes('MyTasks')}">My Tasks</span>
        <span v-if="NetworkPermissions.includes('AddContent')" v-on:click="navigateView('/#/Messages')" :class="{'link':true, 'is-active' : ActiveUrl.includes('Messages')}">Messages<span v-if="UnreadMessagesCount" class="u-new-content-badge messages-count">{{UnreadMessagesCount | formatBadgeCount }}</span></span>
        <span v-if="NetworkPermissions.includes('ViewUsersProfile')" v-on:click="navigateView('/#/Network/Directory')" :class="{'link':true, 'is-active' : ActiveUrl.includes('Directory')}">Directory</span>
        <span v-if="PowerBiIsIenabled && NetworkPermissions.includes('InviteMemberFromCareflowDirectory')" v-on:click="navigateView(`/#/${NetworkId}/Dashboards`)" class="link">Dashboards</span>
      </div>

      <div ref="duty-status-trigger" v-html="getDutyStatusLabel" class="navigation__duty"> </div>
      <ui-popover @close="popoverClosed" ariaLabel="Set duty status" dropdownPosition="top center" trigger="duty-status-trigger" ref="dropdown-duty">
        <ui-menu contain-focus has-icons :options="getDutyStatusOptions" @select="setDutyStatus" @close="menuClosed"></ui-menu>
      </ui-popover>

      <div class="avatar-wrapper" ref="avatar-trigger">
        <img :src="LoggedInUserAvatar" class="navigation__avatar" />
        <i class="material-icons small-drop">arrow_drop_down</i>
      </div>
      <ui-popover @close="popoverClosed" ariaLabel="TPI shell options" dropdownPosition="top center" trigger="avatar-trigger" ref="dropdown-avatar">
        <ui-menu contain-focus has-icons :options="getUsersOptions" @select="navMenuOptionSelected" @close="menuClosed"></ui-menu>
      </ui-popover>

    </div>
  </div>
  <!-- {{#if ItSupport}}
   <li class="appMainNavigation__li--settings u-border--top">
   <a class="setting__link" href="/#/{{NetworkId}}/ITsupport"><span>IT Support access</span></a>
   </li>
   {{/if}} -->
</template>

<script>
  /* API Endpoints */
  import Vault from 'Endpoints/careflowApp/Vault';
  import appRouter from 'AppJs/app-router';
  import SetDutyStatus from 'Endpoints/users/SetDutyStatus';
  import SetAsPreferredNetwork from 'Endpoints/networks/SetAsPreferredNetwork';
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import appMain from 'AppJs/app-main';
  /*Components*/
  import NetworkLinkItem from 'VueComponents/navigation/components/MainNavigationNetworkLinkItem';

  export default {
  	data() {
  		return {
  			IsLoading: false,
  			MemberAreaId:
  				this.memberAreaId || Vault.getSessionItem('ActiveGroupMemberAreaId'),
  			MemberAreaName:
  				appMain.getMemberAreaName(
  					this.memberAreaId || Vault.getSessionItem('ActiveGroupMemberAreaId')
  				) || null,
  			NetworkId: this.networkId || Vault.getSessionItem('ActiveNetworkId'),
  			NetworkName:
  				appMain.getNetworkName(
  					this.networkId || Vault.getSessionItem('ActiveNetworkId')
  				) || Vault.getSessionItem('ActiveNetworkName'),
  			AllUsersMemberAreasPermissions: appMain.getUserPermissionsForAllUsersMemberAreas(
  				this.networkId || Vault.getSessionItem('ActiveNetworkId')
  			),
  			PreferredNetwork: this.preferredNetwork,
  			NetworkPermissions: appMain.getUserPermissionsForNetwork(
  				this.networkId || Vault.getSessionItem('ActiveNetworkId')
  			),
  			IsTpiIntegrationSession: appMain.isTpiIntegrationSession(),
  			ActiveUrl: appRouter.careflowAppRouter.getLocation(),
  			LoggedInUserAvatar: Vault.getItem('LoggedInUserAvatar') || '',
  			PatientSearchText: '',
  			TeamsUnreadData: [],
  			TeamListLastGeneratedTimeStamp: Date.now(),
  			CrossNetworkUnreadData: [],
  			TotalCountOfOtherNetworkUpdates: null,
  			UnreadAlertsCount: null,
  			UnreadMessagesCount: null,
  			DutyStatus: Vault.getItem('OnDutyStatus'),
  			//ItSupport : isItSupport;
  			Environment:
  				typeof appMain.getCurrentEnvironment() === 'string'
  					? appMain.getCurrentEnvironment().toLowerCase()
  					: null,
  			PowerBiIsIenabled: appMain.checkIfFeatureIsEnabledInAppConfig(
  				'enableBiReports'
  			),
  			UserCanAccessNetworkAdministrationView: appMain.userHasNetworkAdministrationViewAccess()
  		};
  	},
  	props: {
  		networkId: {
  			type: [String, Number],
  			required: false,
  			default: null
  		},
  		preferredNetwork: {
  			type: [String, Number],
  			required: false,
  			default: null
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false,
  			default: null
  		}
  	},
  	mixins: [DateFilter],
  	components: { NetworkLinkItem },
  	watch: {
  		MemberAreaId(newVal, oldVal) {
  			if (newVal)
  				return (this.MemberAreaName = appMain.getMemberAreaName(newVal));
  			this.MemberAreaName = null;
  		},
  		NetworkId(newVal, oldVal) {
  			if (newVal) return (this.NetworkName = appMain.getNetworkName(newVal));
  			this.NetworkName = null;
  			this.TeamsUnreadData = [];
  			this.CrossNetworkUnreadData = [];
  		}
  	},
  	filters: {
  		formatBadgeCount(count) {
  			if (!count || typeof count === 'object') return ``;
  			if (count > 99) return `99+`;
  			return count;
  		}
  	},
  	methods: {
  		initNetworkData() {
  			if (!Vault.getItem('GetRequestingUserSummary'))
  				return console.error('nav:GetRequestingUserSummary not set');
  			let userSummaryData = Vault.getItem('GetRequestingUserSummary');

  			this.NetworkId = Vault.getSessionItem('ActiveNetworkId');
  			this.MemberAreaId = Vault.getSessionItem('ActiveGroupMemberAreaId');
  			this.PreferredNetwork =
  				userSummaryData.Data.PreferredNetwork &&
  				userSummaryData.Data.PreferredNetwork.hasOwnProperty('NetworkId')
  					? userSummaryData.Data.PreferredNetwork.NetworkId
  					: null;
  			this.AllUsersMemberAreasPermissions = appMain.getUserPermissionsForAllUsersMemberAreas();
  			this.NetworkPermissions = appMain.getUserPermissionsForNetwork();
  			this.PowerBiIsIenabled = appMain.checkIfFeatureIsEnabledInAppConfig(
  				'enableBiReports'
  			);
  			this.UserCanAccessNetworkAdministrationView = appMain.userHasNetworkAdministrationViewAccess();
  			//this.$forceUpdate(); //https://vuejs.org/v2/api/#vm-forceUpdate
  			this.TeamListLastGeneratedTimeStamp = Date.now();
  		},
  		navigateView(url) {
  			if (!url || this.IsLoading) return;
  			let route =
  				typeof url === 'object' && url.hasOwnProperty('url') ? url.url : url;
  			this.$refs['dropdown-teams'].close();
  			if (!this.IsTpiIntegrationSession && this.$refs['dropdown-networks'])
  				this.$refs['dropdown-networks'].close();
  			this.$refs['dropdown-duty'].close();
  			this.$refs['dropdown-avatar'].close();
  			appRouter.careflowAppRouter.setLocation(route);
  			this.ActiveUrl = appRouter.careflowAppRouter.getLocation();
  		},
  		setActiveUrlUiFlag() {
  			//Local helper for group nav, will match URL part to lower case
  			var parts = appRouter.careflowAppRouter
  				.getLocation()
  				.toString()
  				.trim()
  				.split('/'); //split array
  			var location = parts.indexOf('GroupHome');
  			if (location !== -1) return parts[location + 2].toLowerCase(); //Skip group id
  			return '';
  		},
  		setCountOfUnreadTeamItems(obj) {
  			//   {"Data":{"Code":1,"Data":{"NetworkID":1215,"NetworkTotal":3,"Groups":[{"AccessGroupID":106758,"Updates":1},{"AccessGroupID":106819,"Updates":2}],"Alerts":0},"Message":"Unread item counts retrieved"}}
  			if (
  				!obj ||
  				!obj.hasOwnProperty('Data') ||
  				!obj.Data.Data.Groups ||
  				obj.Data.Data.NetworkID !== this.NetworkId
  			)
  				return;
  			if (obj.Data.Data.hasOwnProperty('Groups') && obj.Data.Data.Groups)
  				this.TeamsUnreadData = obj.Data.Data.Groups;
  		},

  		setCountOfUnreadAllNetworkItems(obj) {
  			//   {"Data":{"Code":1,"Data":{"Networks":[{"NetworkID":1106,"Total":291,"Alerts":123,"Updates":168},{"NetworkID":1215,"Total":4,"Alerts":0,"Updates":4},{"NetworkID":1221,"Total":1,"Alerts":0,"Updates":1}],"UserToUser":0,"AllNetworkUpdatesTotal":173,"AllNetworksAlertsTotal":123},"Message":"Unread item counts retrieved"}}

  			if (!obj || !obj.hasOwnProperty('Data') || !obj.Data.Data.Networks)
  				return (this.TotalCountOfOtherNetworkUpdates = null);

  			this.CrossNetworkUnreadData = obj.Data.Data.Networks;
  			this.UnreadAlertsCount = obj.Data.Data.Networks.map(x => {
  				if (x.NetworkID === this.NetworkId) return x.Alerts;
  			})
  				.filter(Boolean)
  				.join();
  			this.UnreadMessagesCount = obj.Data.Data.UserToUser;

  			this.TotalCountOfOtherNetworkUpdates = obj.Data.Data.Networks.reduce(
  				(acc, obj) => {
  					if (obj.NetworkID !== this.NetworkId) return acc + obj.Total;
  					return acc;
  				},
  				0
  			);
  		},

  		getPatientSearch() {
  			if (!this.PatientSearchText)
  				return appRouter.careflowAppRouter.setLocation(
  					`/#/${this.NetworkId}/PatientSearch/`
  				);

  			let obj = {
  				SearchData: this.PatientSearchText,
  				SearchType: 'Name'
  			};
  			let encodedObj = btoa(JSON.stringify(obj));
  			//Base64 encode
  			return appRouter.careflowAppRouter.setLocation(
  				`/#/${this.NetworkId}/PatientSearch/${encodedObj}`
  			);
  		},

  		setPreferredNetwork(networkId) {
  			//IsLoading not set locally, as this action triggers a GetRequestingUserSummary Update
  			SetAsPreferredNetwork.callApi(networkId)
  				.then((data, textStatus, jqXHr) => {
  					appMain.getRequestingUserSummary().then(() => {
  						this.PreferredNetwork = networkId;
  					});
  				})
  				.fail(error => {});
  		},

  		setDutyStatus() {
  			this.IsLoading = true;
  			let newStatus = !this.DutyStatus;

  			SetDutyStatus.callApi(newStatus)
  				.then((response, textStatus, jqXHr) => {
  					if (/^2/.test(jqXHr.status)) {
  						Vault.setItem('OnDutyStatus', newStatus);
  						this.DutyStatus = newStatus;
  						this.IsLoading = false;
  						this.$refs['dropdown-duty'].close();
  					}
  				})
  				.fail(error => {
  					this.$refs['dropdown-duty'].close();
  					appMain.triggerAppNotification({
  						Heading: 'Duty status not updated',
  						Text: 'Your duty ststus could not be updated, please try again',
  						Icon: 'error'
  					});
  				});
  		},

  		navMenuOptionSelected(option) {
  			if (option.id === 'sign-out') return appMain.userLogOut();
  			if (option.url) return this.navigateView(option.url);
  		},
  		menuClosed() {},
  		popoverClosed() {}
  	},
  	computed: {
  		getUsersNetworkTeams() {
  			if (!Vault.getItem('ActiveNetworkGroupMemberships') || !this.NetworkId)
  				return [];
  			let data = Vault.getItem('ActiveNetworkGroupMemberships');

  			if (this.NetworkId === data.NetworkId) {
  				let returnData = data.TeamsUserIsMemeberOf.map(x => {
  					return {
  						id: x.MemberAreaID,
  						label: x.Name,
  						secondaryText: '',
  						groupExternalIdentifier: x.GroupExternalIdentifier,
  						accessGroupID: x.AccessGroupID,
  						networkId: x.NetworkID,
  						url: `/#/${this.NetworkId}/Teams/${x.MemberAreaID}/TeamUpdates`,
  						disabled: this.IsLoading,
  						lastGenereated: this.TeamListLastGeneratedTimeStamp,
  						unreadItems: this.TeamsUnreadData.map(y => {
  							if (y.AccessGroupID === x.AccessGroupID) return y.Updates;
  						})
  							.filter(Boolean)
  							.join()
  					};
  				});

  				//Add Updates from your organisation - cant chain map and push as push() returns a number - length
  				returnData.push({
  					id: Vault.getSessionItem('ActiveNetworkMemberAreaId'),
  					label: 'Updates from your organisation',
  					secondaryText: '',
  					networkId: this.NetworkId,
  					url: `/#/${this.NetworkId}/Network/Updates`,
  					disabled: this.IsLoading,
  					lastGenereated: this.TeamListLastGeneratedTimeStamp,
  					unreadItems: this.TeamsUnreadData.map(y => {
  						if (
  							y.AccessGroupID ===
  							appMain.getAccessGroupId(
  								Vault.getSessionItem('ActiveNetworkMemberAreaId')
  							)
  						)
  							return y.Updates;
  					})
  						.filter(Boolean)
  						.join()
  				});
  				return returnData;
  			}

  			return [];
  		},
  		getNetworksUserIsMemberOf() {
  			return appMain.getActiveUsersNetworks().map(x => {
  				return {
  					id: x.NetworkId,
  					label: x.NetworkName,
  					secondaryText: '',
  					networkId: x.NetworkId,
  					accessGroupExternalIdentifier: x.AccessGroupExternalIdentifier,
  					accessGroupID: x.AccessGroupID,
  					url: `/#/${x.NetworkId}/Home`,
  					disabled: this.IsLoading,
  					isPreferredNetwork: this.PreferredNetwork === x.NetworkId,
  					unreadItems: this.CrossNetworkUnreadData.map(y => {
  						if (y.NetworkID === x.NetworkId && x.NetworkId !== this.NetworkId)
  							return y.Total;
  					})
  						.filter(Boolean)
  						.join()
  				};
  			});
  		},
  		getUsersOptions() {
  			let options = [];

  			if (this.UserCanAccessNetworkAdministrationView) {
  				options.push({
  					id: 'administration',
  					label: 'Administration',
  					secondaryText: '',
  					disabled: this.IsLoading,
  					url: `/#/${this.NetworkId}/Administration`
  				});
  			}
  			if (!this.IsTpiIntegrationSession) {
  				//No signout in Shell session
  				options.push({
  					id: 'sign-out',
  					label: 'Sign out',
  					secondaryText: '',
  					disabled: this.IsLoading
  				});
  			}
  			options.push({
  				id: 'my-profile',
  				label: 'My profile',
  				url: '/#/Profile',
  				secondaryText: '',
  				disabled: this.IsLoading
  			});

  			return options.sort((a, b) => {
  				//https://stackoverflow.com/questions/8900732/javascript-sort-objects-in-an-array-alphabetically-on-one-property-of-the-arra
  				return a.label.toUpperCase() < b.label.toUpperCase()
  					? -1
  					: a.label.toUpperCase() > b.label.toUpperCase()
  					? 1
  					: 0;
  			});
  		},
  		getDutyStatusOptions() {
  			if (this.DutyStatus)
  				return [
  					{
  						id: 'duty-status-off',
  						label: 'Go off duty',
  						secondaryText: '',
  						disabled: this.IsLoading
  					}
  				];
  			return [
  				{
  					id: 'duty-status-on',
  					label: 'Go on duty',
  					secondaryText: '',
  					disabled: this.IsLoading
  				}
  			];
  		},
  		getTeamsListLinkLabel() {
  			if (!this.getUsersNetworkTeams.length) return ``;
  			if (this.MemberAreaName)
  				return `<span class="no-overflow-txt">${
  					this.MemberAreaName
  				}</span><i class="material-icons small-drop">arrow_drop_down</i>`;
  			return `<span class="no-overflow-txt">Select team</span><i class="material-icons small-drop">arrow_drop_down</i>`;
  		},
  		getDutyStatusLabel() {
  			if (this.DutyStatus)
  				return `On duty <i class="material-icons small-drop">arrow_drop_down</i>`;
  			return `Off duty <i class="material-icons small-drop">arrow_drop_down</i>`;
  		}
  	},
  	created() {
  		VueEventBus.$on('BadgeCounts.UnreadCountsForSingleNetworkUpdated',
  			this.setCountOfUnreadTeamItems
  		);

  		VueEventBus.$on('BadgeCounts.UnreadCountsForAllNetworksUpdated',
  			this.setCountOfUnreadAllNetworkItems
  		);

  		VueEventBus.$on('Vault.ActiveGroupMemberAreaIdChanged', (key, value) => {
  			this.MemberAreaId = value || null;
  			if (value) console.log(this.MemberAreaId);
  		});

  		VueEventBus.$on('Vault.ActiveNetworkChanged', (key, value) => {
  			this.MemberAreaId = null;
  			appMain
  				.getRequestingUserSummary()
  				.then(response => {
  					//initNetworkData(); triggered via event bus handler 'GetRequestingUserSummary.IsUpdated'
  				})
  				.catch(error => {
  					appMain.userLogOut();
  				});
  		});
  		VueEventBus.$on('GetRequestingUserSummary.IsUpdated', () => {
  			this.initNetworkData();
  		});

  		VueEventBus.$on('GetRequestingUserSummary.IsUpdating', val => {
  			console.log('GetRequestingUserSummary.IsUpdating - main nav: ' + val);
  			this.IsLoading = val;
  		});
  	},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},
  	mounted() {
  		appMain.setElementsAsFullHeight();
  	},
  	beforeDestroy() {
  		alert('main nav off');
  		VueEventBus.$off('BadgeCounts.UnreadCountsForSingleNetworkUpdated');
  		VueEventBus.$off('BadgeCounts.UnreadCountsForAllNetworksUpdated');
  		VueEventBus.$off('Vault.ActiveGroupMemberAreaIdChanged');
  		VueEventBus.$off('Vault.ActiveNetworkChanged');
  		VueEventBus.$off('GetRequestingUserSummary.IsUpdated');
  		VueEventBus.$off('GetRequestingUserSummary.IsUpdating');
  	}
  };
</script>

<style lang="less">
  .ui-menu {
  	&.navigation-ui-menu {
  		max-width: 600px;
  		& .menu-name {
  			width: 85%;
  			display: flex;
  		}

  		& .ui-menu-option__content {
  			//height: auto;
  			min-height: 2.5rem;
  			height: initial;
  		}
  	}
  }
  .naivgation-search {
  	margin-bottom: 0;
  	&.is-disabled {
  		& .ui-textbox__input {
  			border-bottom: none;
  		}
  	}
  	& .ui-textbox__input {
  		color: #fff;
  		border-bottom: none;
  		&::placeholder {
  			//https://css-tricks.com/almanac/selectors/p/placeholder/
  			color: #fff;
  		}
  	}
  }

  i.material-icons.small-drop {
  	font-size: 17px;
  	line-height: inherit;
  }
  i.material-icons.small-right {
  	font-size: 15px;
  	line-height: inherit;
  }
  .no-overflow-txt {
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  }
</style>


<style lang="less" scoped>
  @import '../../../../less/app-variables.less';

  .ui-menu-set-width {
  	min-width: 28em;
  }

  .main-navigation {
  	display: flex;
  	flex-flow: row;
  	position: relative;
  	background: @brand-primary-colour;
  	color: #fff;
  	box-sizing: border-box;
  	justify-content: space-between;
  	padding: 0.5em 0.5em;
  }

  .navigation__avatar {
  	width: 25px;
  	height: 25px;
  	border-radius: 100%;
  	margin: 0 0 0 1em;
  	&:hover {
  		cursor: pointer;
  	}
  }

  .navigation__right {
  	//margin-left: auto;
  	display: flex;
  	align-items: center;
  }
  .navigation__left {
  	display: flex;
  	//width: 35%;
  	min-width: 0;
  	flex-grow: 1;
  	& div {
  		display: flex;
  		align-items: center;
  		min-width: 0; //fix for elipsis overflow - https://css-tricks.com/flexbox-truncated-text/
  		&.networks-menu-trigger-wrapper {
  			min-width: 18px;
  		}
  	}

  	display: flex;
  	flex-flow: row;
  	align-items: center;
  }
  .u-new-content-badge {
  	position: relative;
  	margin-left: auto;
  	right: auto;
  	top: auto;
  	&.burger-count {
  		top: -10px;
  		left: -4px;
  	}
  	&.alerts-count {
  		position: absolute;
  		top: -10px;
  		right: -15px;
  	}
  	&.messages-count {
  		position: absolute;
  		top: -10px;
  		right: -15px;
  	}
  }

  .navigation__links {
  	display: flex;
  	flex-flow: row;
  	& .link {
  		position: relative;
  		margin: 0 1em;
  		text-transform: uppercase;
  		font-weight: @font--medium;
  		//transition: 0.1s;
  		font-size: 0.9em;
  		border-bottom: 2px solid @brand-primary-colour;
  		display: flex;
  		flex-flow: row;
  		flex-wrap: nowrap;
  		white-space: nowrap;
  		&:hover {
  			border-bottom: 2px solid #fff;
  			cursor: pointer;
  		}
  		&.is-active {
  			border-bottom: 2px solid #fff;
  		}
  	}
  }

  .navigation__duty {
  	display: flex;
  	flex-flow: row;
  	border-bottom: 2px solid @brand-primary-colour;
  	font-size: 0.9em;
  	font-weight: @font--medium;
  	&:hover {
  		cursor: pointer;
  	}
  }

  .search-wrapper {
  	background: rgba(255, 255, 255, 0.12);
  	padding: 0 0.3em;
  	display: flex;
  	align-items: center;
  	min-width: 110px;
  	& .ui-textbox__icon-wrapper {
  		& i.ui-icon {
  			color: #fff;
  		}
  	}
  	& .search-icon {
  		display: flex;
  		&:hover {
  			cursor: pointer;
  		}
  	}
  }
  .network-label-wrapper {
  	display: flex;
  	max-width: 290px;
  }
  .network-label {
  	font-weight: @font--medium;
  }

  .network-links-wrapper {
  	min-width: 0;
  	display: flex;
  	&:hover {
  		cursor: pointer;
  	}
  }

  .teams-link-wrapper {
  	display: flex;
  }

  .teams-link-trigger {
  	width: 100%;
  	font-weight: @font--medium;

  	&:hover {
  		cursor: pointer;
  	}
  }

  .networks-list-trigger {
  	&:hover {
  		cursor: pointer;
  	}
  }

  .icon-burger {
  	font-size: 18px;
  	line-height: inherit;
  }
  .icon-home {
  	font-size: 18px;
  	line-height: inherit;
  }

  .navigation__duty {
  	white-space: nowrap;
  }

  .avatar-wrapper {
  	display: flex;
  	align-items: center;
  	&:hover {
  		cursor: pointer;
  	}
  }
</style>



<custom>App top/main navigation</custom>
