<template>

  <div class="team-navigation pure-u">
    <div data-scroll="true" data-full-height-deduct-include="js-team-view-title" class="js-fullHeight-bodyElement">
      <div class="navigation-top">
        <div class="nav-item">
          <ui-icon-button :class="{'active': ActiveView === 'TeamUpdates' }" :disableRipple="true" v-on:click="navigateView('team-updates')" icon="question_answer" size="large" ariaLabel="Team updates" :tooltip="(isNetworkMemberAreaId) ? 'Updates from your organisation' : 'Team updates'" tooltip-position="right middle"></ui-icon-button>
        </div>
        <div v-if="isNetworkMemberAreaId" class="nav-item">
          <ui-icon-button :class="{'active': ActiveView ==='TeamDirectory' }" :disableRipple="true" v-on:click="navigateView('team-directory')" icon="perm_contact_calendar" size="large" ariaLabel="Team directory" :tooltip="(isNetworkMemberAreaId) ? 'Network directory' : 'Team directory'" tooltip-position="right middle"></ui-icon-button>
        </div>
        <div v-if="Permissions.includes('ViewPatients')" class="nav-item">
          <ui-icon-button :class="{'active': ActiveView === 'PatientList' }" :disableRipple="true" v-on:click="navigateView('team-patient-dashboards')" icon="people" size="large" ariaLabel="Patient list and dashboards" tooltip="Patient list and dashboards" tooltip-position="right middle"></ui-icon-button>
        </div>
        <div v-if="Permissions.includes('ViewPatients')" class="nav-item">
          <ui-icon-button :class="{'active': ActiveView === 'PatientHandoverList' }" :disableRipple="true" v-on:click="navigateView('team-patient-handovers')" icon="assignment" size="large" ariaLabel="Handover list" tooltip="Handover list" tooltip-position="right middle"></ui-icon-button>
        </div>
        <div v-if="TeamAllowsTasks" class="nav-item">
          <ui-icon-button :class="{'active': ActiveView === 'TeamTasks' }" :disableRipple="true" v-on:click="navigateView('team-tasks')" icon="check" size="large" ariaLabel="Tasks" tooltip="Tasks" tooltip-position="right middle"></ui-icon-button>
        </div>
        <div v-if="Permissions.includes('ViewReferral')" class="nav-item">
          <ui-icon-button :class="{'active': ActiveView === 'TeamReferrals' }" :disableRipple="true" v-on:click="navigateView('team-referrals')" icon="swap_horiz" size="large" ariaLabel="Referrals" tooltip="Referrals" tooltip-position="right middle"></ui-icon-button>
        </div>
      </div>
    </div>
    <div data-full-height-deduct="true" class="navigation-footer">
      <div class="nav-item">
        <ui-icon-button v-show="IsCollapsed" :disableRipple="true" v-on:click="expandPatientList" icon="keyboard_arrow_right" size="large" ariaLabel="Expand patient list" tooltip="Expand patient list" tooltip-position="right middle"></ui-icon-button>
      </div>
      <div v-if="!isNetworkMemberAreaId" class="nav-item">
        <ui-icon-button :class="{'active': ActiveView === 'TeamDirectory' }" :disableRipple="true" v-on:click="navigateView('team-directory')" icon="perm_contact_calendar" size="large" ariaLabel="Team directory" :tooltip="(isNetworkMemberAreaId) ? 'Network directory' : 'Team directory'" tooltip-position="right middle"></ui-icon-button>
      </div>
      <div v-if="getNavCogMenuOptions.length" class="nav-item">
        <ui-icon-button :disableRipple="true" has-dropdown ref="nav-menu" dropdownPosition="right bottom" icon="settings" size="large" ariaLabel="Team settings">
          <ui-menu @select="navMenuOptionSelected" contain-focus has-icons slot="dropdown" :options="getNavCogMenuOptions" @close="$refs['nav-menu'].closeDropdown()"></ui-menu>
        </ui-icon-button>
      </div>
    </div>

  </div>
</template>

<script>
  /* API Endpoints */
  import GetUserTasks from 'Endpoints/tasks/GetUserTasks';
  import Vault from 'Endpoints/careflowApp/Vault';
  import appRouter from 'AppJs/app-router';
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';

  // const NavMenuOptions = [
  // 	{
  // 		label: 'Manage smart lists',
  // 		icon: '',
  // 		view: 'team-smart-list'
  // 	},
  // 	{
  // 		label: 'Manage team tags',
  // 		icon: '',
  // 		view: 'team-tags'
  // 	}
  // ];

  export default {
  	data() {
  		return {
  			MemberAreaId: this.memberAreaId || null,
  			MemberAreaName: appMain.getMemberAreaName(this.memberAreaId) || '',
  			NetworkId: this.networkId,
  			//UsersTeams: appMain.getTeamsUserIsMemberOf(this.networkId) || [],
  			ActiveView: null,
  			IsCollapsed: this.patientListIsCollapsed,
  			Permissions: appMain.getUserPermissionsForMemberArea(this.memberAreaId),
  			TeamAllowsTasks:
  				Vault.getItem('NetworkTeamsAllowingTasks').filter(
  					item => item.MemberAreaId === this.memberAreaId
  				).length > 0 || false //Tasks Lookup. In the absence of a 'Team' level permission, per iOs, we call TaskMeta Data to see if the Team should have task features enabled. API returns GroupsAllowingTasks property
  			//NavMenuOptions
  		};
  	},
  	props: {
  		networkId: {
  			type: [String, Number],
  			required: true
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: true
  		},
  		patientListIsCollapsed: {
  			type: Boolean,
  			required: false,
  			default: false
  		},
  		isNetworkMemberAreaId: {
  			//Network updates - memberAreaId === networkMemberAreaId
  			type: [Boolean],
  			required: false,
  			default: false
  		},
  		activeView: {
  			type: [String],
  			required: false,
  			default: ''
  		}
  	},
  	mixins: [DateFilter],
  	watch: {
  		patientListIsCollapsed(newVal, oldVal) {
  			this.IsCollapsed = newVal;
  			appMain.setElementsAsFullHeight();
  		},
  		activeView(newVal, oldVal) {
  			/*Triggered n parent*/
  			if (newVal) return (this.ActiveView = newVal);
  		}
  	},
  	methods: {
  		navigateView(view) {
  			if (!view) return;

  			if (view === 'team-updates')
  				return this.isNetworkMemberAreaId
  					? appRouter.careflowAppRouter.setLocation(
  							`/#/${this.NetworkId}/Network/Updates`
  					  )
  					: (location.href =
  							'/#/' +
  							this.NetworkId +
  							'/Teams/' +
  							this.MemberAreaId +
  							'/TeamUpdates');
  			if (view === 'team-patient-dashboards')
  				return (location.href =
  					'/#/' + this.NetworkId + '/Teams/' + this.MemberAreaId + '/Patients');
  			if (view === 'team-patient-handovers')
  				return (location.href =
  					'/#/' +
  					this.NetworkId +
  					'/Teams/' +
  					this.MemberAreaId +
  					'/PatientListHandovers');
  			if (view === 'team-tasks')
  				return (location.href =
  					'/#/' + this.NetworkId + '/Teams/' + this.MemberAreaId + '/Tasks');
  			if (view === 'team-referrals')
  				return (location.href =
  					'/#/' +
  					this.NetworkId +
  					'/Teams/' +
  					this.MemberAreaId +
  					'/TeamReferrals');
  			if (view === 'team-directory')
  				return this.isNetworkMemberAreaId
  					? appRouter.careflowAppRouter.setLocation('/#/Network/Directory')
  					: (location.href =
  							'/#/' +
  							this.NetworkId +
  							'/Teams/' +
  							this.MemberAreaId +
  							'/TeamDirectory');
  		},
  		expandPatientList() {
  			this.$emit('expand-patient-list', true);
  		},
  		navMenuOptionSelected(option) {
  			if (!option || !option.view) return;

  			if (option.view === 'team-tags')
  				return (location.href =
  					'#/' + this.NetworkId + '/Teams/' + this.MemberAreaId + '/TeamTags');

  			if (option.view === 'team-smart-list')
  				return (location.href =
  					'#/' +
  					this.NetworkId +
  					'/Teams/' +
  					this.MemberAreaId +
  					'/TeamSmartLists');

  			if (option.view === 'team-profiles')
  				return (location.href =
  					'#/' +
  					this.NetworkId +
  					'/Teams/' +
  					this.MemberAreaId +
  					'/TeamProfiles');
  		}
  	},
  	computed: {
  		getNavCogMenuOptions() {
  			let navMenuOptions = [];

  			if (this.Permissions.includes('UpdateProfilesForTeam')) {
  				navMenuOptions.push({
  					label: 'Manage list profiles',
  					icon: '',
  					view: 'team-profiles'
  				});
  			}
  			if (this.Permissions.includes('ModifyAutoPopDefinitions')) {
  				navMenuOptions.push({
  					label: 'Manage smart lists',
  					icon: '',
  					view: 'team-smart-list'
  				});
  			}
  			if (this.Permissions.includes('ManageGroupClinicalTags')) {
  				navMenuOptions.push({
  					label: 'Manage team tags',
  					icon: '',
  					view: 'team-tags'
  				});
  			}
  			return navMenuOptions;
  		}
  	},
  	created() {},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},
  	mounted() {
  		appMain.setElementsAsFullHeight();
  	},
  	beforeDestroy() {}
  };
</script>

<style lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../less/app-variables.less';

  .team-navigation {
  	display: flex;
  	height: 100%;
  	flex-direction: column;
  	width: 100%;
  	background: @team-nav-bg;

  	& button {
  		font-size: unset;

  		&.ui-icon-button {
  			border-radius: 0;
  			margin: 0;
  			width: 100%;
  			height: 3.5rem;
  			background: none;

  			& .ui-icon.material-icons {
  				font-size: unset;
  				font-size: 24px;
  				color: rgba(0, 0, 0, 0.54);
  			}

  			&:hover {
  				& .ui-icon.material-icons {
  					font-size: unset;
  					font-size: 24px;
  					color: @link--active;
  				}
  			}

  			&.active {
  				& .ui-icon.material-icons {
  					color: @link--active;
  				}
  			}
  		}
  	}
  }

  .navigation-footer {
  	display: flex;
  	flex-direction: column;
  	justify-content: flex-end;
  	margin-bottom: 1em;
  }
  .nav-item {
  	display: flex;
  	width: 100%;
  	justify-content: center;
  	align-items: center;
  	padding: 0;
  }
</style>



<custom>Team navigation</custom>
