<!--Integrations splash page-->
<div v-cloak id="vue-integration-splash" class="pure-g">
    <div class="pure-u-1 js-scaffold-block">
        <integration-splash-page :data="InitObj"></integration-splash-page>
    </div>
</div>
