﻿<template>
  <div :class="{'u-patientBanner':true, 'pure-g':true}">
    <div :class="{'patientBanner__data':true, 'is-deceased': patient.DateOfDeath && patient.DateOfDeath.length > 0}">
      <div class="patientName pure-u-12-24">{{patient.PatientFamilyName | toUpperCase}}, {{patient.PatientGivenName}}
        <span v-if="patient.Title">({{patient.PatientTitle}})</span>
      </div>
      <div class="identifiers__set pure-u-12-24">
        <div class="set__block">
          <span class="label">Born</span>{{patient.PatientDateOfBirth}} ({{patient.AgeDescription}})</div>
        <div v-if="patient.PatientIdentifiers.PrimaryIdentifier" class="set__block">
          <span class="label">{{patient.PatientIdentifiers.PrimaryIdentifier.Label}}</span>{{patient.PatientIdentifiers.PrimaryIdentifier.Value}}
        </div>
      </div>
      <div v-if="patient.Clinician" class="clinician__set pure-u-1">
        {{patient.Clinician.FullName}}
        <div v-if="patient.DateOfDeath" class="set__block date-of-death">
          <span class="label">Died</span>{{patient.DateOfDeath}} ({{patient.AgeDescription}})</div>

      </div>
      <div class="location__set pure-u-1">
        <template v-if="patient.AreaName">{{patient.AreaName}} ({{patient.SiteName}})</template>
        <template v-else>{{patient.SiteName}}</template>
        <template v-if="patient.Bay || patient.Bed">{{patient.Bay}}
          <template v-if="patient.Bay && patient.Bed">, </template>{{patient.Bed}}</template>
      </div>
    </div>
    <div :class="{'actions-wrapper':true, 'pure-u':true, 'is-deceased': patient.DateOfDeath && patient.DateOfDeath.length > 0}">
      <PatientContextFab widgetType="actions" :networkId="NetworkId" :memberAreaId="MemberAreaId" :patientId="PatientId"></PatientContextFab>
    </div>
  </div>
</template>

<script>
  /*Utils*/
  import Vault from 'Endpoints/careflowApp/Vault';
  /*Components*/
  import PatientContextFab from 'VueComponents/fab/PatientContextFab';
  /*Mixinx*/
  import StringToUpper from 'VueMixins/stringToUpperCase';

  export default {
  	data: function() {
  		return {
  			IsVisible: false,
  			Patient: this.patient,
  			PatientId: this.patientId || null,
  			ContentItemId: this.contentId || null,
  			MemberAreaId: this.memberAreaId || null,
  			NetworkId: this.networkId,
  			IsTeamContext: this.isTeamContext || null,
  			Permissions: this.permissions || null
  		};
  	},
  	props: [
  		'patient',
  		'patientId',
  		'isTeamContext',
  		'permissions',
  		'contentId',
  		'networkId',
  		'memberAreaId'
  	],
  	mixins: [StringToUpper],
  	components: { PatientContextFab },
  	created: function() {},
  	mounted: function() {},
  	watch: {
  		patient(value) {
  			if (!value) return;
  			this.Patient = value;
  		},
  		patientId(value) {
  			if (!value) return;
  			this.PatientId = value;
  		},
  		isTeamContext(value) {
  			if (!value) return;
  			this.IsTeamContext = value;
  		},
  		permissions(value) {
  			if (!value) return;
  			this.Permissions = value;
  		},
  		ContentItemId(value) {
  			if (!value) return;
  			this.ContentItemId = value;
  		}
  	},
  	methods: {
  		getUserPermissions() {
  			return appMain.getUserPermissionsForAllUsersMemberAreas(); //https://doccom.atlassian.net/browse/WEB-907
  		}
  	}
  };
</script>

<style scoped lang="less" >
  @import '../../../../less/app-variables.less';
  .u-patientBanner {
  	background: @patient-banner-bg;
  	padding: 0;
  	box-sizing: border-box;
  	margin-bottom: 16px;
  	&.is-deceased {
  	}
  }
  .patientBanner__data {
  	padding: 1em;
  	box-sizing: border-box;
  	&.is-deceased {
  		background: @patient-banner-bg--deceased;
  		color: #fff;
  		div,
  		span {
  			color: #fff;
  		}
  	}
  }
  .actions-wrapper {
  	width: 50px;
  	//height: 50px;
  	display: flex;
  	justify-content: flex-end;
  	align-items: flex-start;
  	padding: 0.5em 0.5em;
  	box-sizing: border-box;
  	&.is-deceased {
  		background: @patient-banner-bg--deceased;
  	}
  }
  .clinician__set {
  	display: flex;
  }
  .date-of-death {
  	display: flex;
  	margin-left: auto;
  }
</style>

<custom>Patient banner used within a content feed</custom>
