﻿<template>
  <div :class="{'u-patientBanner':true, 'full-patient-banner':true, 'u-elevation-2': true, 'is-deceased': patient.DateOfDeath && patient.DateOfDeath.length > 0}">

    <div :class="{'patient-meta': true, 'is-deceased': patient.DateOfDeath && patient.DateOfDeath.length > 0}">

      <div class="patient-name">{{patient.PatientFamilyName | toUpperCase}}, {{patient.PatientGivenName}}
        <template v-if="patient.PatientTitle">({{patient.PatientTitle}})</template>
      </div>

      <div class="patient-identifiers">
        <div class="identifiers__row">
          <div class="identifiers__block">
            <span class="block__label">Born</span>{{patient.PatientDateOfBirth}} ({{patient.AgeDescription}})</div>
          <div class="identifiers__block">
            <span class="block__label">Gender</span>{{patient.PatientGender}}</div>
          <div v-if="patient.PatientIdentifiers.PrimaryIdentifier" class="identifiers__block identifiers-wrapper">
            <span class="block__label">{{patient.PatientIdentifiers.PrimaryIdentifier.Label}}</span>{{patient.PatientIdentifiers.PrimaryIdentifier.Value}}</div>
        </div>

        <div class="identifiers__row" v-if="patient.PatientIdentifiers.AlternativeIdentifiers.length">
          <div class="identifiers__block block--alternative-id">
            <span class="block__label">{{patient.PatientIdentifiers.AlternativeIdentifiers[0].Label}}</span>{{patient.PatientIdentifiers.AlternativeIdentifiers[0].Value}}
          </div>

          <div class="identifiers-multiple-wrapper" v-if="patient.PatientIdentifiers.AlternativeIdentifiers.length > 1">
            <span class="trigger" ref="identifier-popout">(+{{patient.PatientIdentifiers.AlternativeIdentifiers.length - 1}})</span>
            <!--Multiple identifiers-->
            <ui-popover class="identifiers-multiple-popout custom-popover" v-cloak openOn="hover" trigger="identifier-popout">
              <div v-for="(item, index) in patient.PatientIdentifiers.AlternativeIdentifiers" :key="item.Value" class="itentifier-row">
                <span v-if="index > 0" class="block__label">{{item.Label}}</span>{{item.Value}}
              </div>
            </ui-popover>
          </div>

        </div>

        <div v-if="patient.DateOfDeath" class="identifiers__row">
          <div class="identifiers__block">
            <span class="block__label">Died</span>{{patient.DateOfDeath}} ({{patient.AgeDescription}})
          </div>
        </div>
      </div>
    </div>

    <div :class="{'patient-attributes':true, 'is-expanded':IsExpaned}">

      <div class="patient-address attributes__block">
        <span class="attribute-label">Address</span>
        <div class="collapsed-address">
          <template v-if="!IsExpaned">
            <template v-if="patient.Address">{{patient.Address}}</template>
            <template v-else>
              <span class="label-not-specified">Not specified</span>
            </template>
          </template>
        </div>
      </div>

      <div class="patient-contact attributes__block">
        <span class="attribute-label">Contact</span>
        <div class="collapsed-contact">
          <template v-if="!IsExpaned">
            <template v-if="patient.TelephoneNumber">{{patient.TelephoneNumber}}</template>
            <template v-else>
              <span class="label-not-specified">Not specified</span>
            </template>
          </template>
        </div>
      </div>

      <div class="patient-location attributes__block">
        <span class="attribute-label">Location</span>
        <div class="collapsed-location">
          <template v-if="!IsExpaned">
            <template v-if="patient.AreaName">
              {{patient.AreaName}} ({{patient.SiteName}})
            </template>
            <template v-else>
              {{patient.SiteName}}
            </template>
            <template v-if="patient.Bay || patient.Bed">
              <!--TODO COMPUTED V-HTML TEMPLATE LITERAL
						-->{{patient.Bay}}
              <template v-if="patient.Bay && patient.Bed">, </template>{{patient.Bed}}
            </template>
            <template v-if="!patient.SiteName && !patient.AreaName">
              <span class="label-not-specified">Not specified</span>
            </template>
          </template>
        </div>
      </div>

      <div class="patient-consultant attributes__block">
        <div class="attribute-label u-relative">Consultant <i v-if="UserCanChangeConsultant" v-on:click="getChangeConsultantPopover" ref="change-consultant-trigger" class="material-icons amend-consultant-icon">edit</i></div>

        <div ref="change-consultant-popover" v-if="IsChangingConsultant" class="ui-popover custom-popper-wrapper is-raised">
          <div v-on-clickaway="clickedAway" class="popover-body">
            <ChangePatientConsultant v-if="IsChangingConsultant" :patient="patient" :patientId="patientId" :networkId="networkId" @consultant-transfer-saved="consultantTransferSaved"></ChangePatientConsultant>
          </div>
        </div>
        <!-- <ui-popover  class="custom-popover" openOn="click" dropdownPosition="top center" @open="popoverOpened('change-consultant-popover')" @close="IsChangingConsultant = false;" trigger="change-consultant-trigger"><component></ui-popover> -->
        <template v-if="!IsExpaned">
          <template v-if="patient.Clinician && patient.Clinician.FullName">{{patient.Clinician.FullName}}</template>
          <template v-else>
            <span class="label-not-specified">Not specified</span>
          </template>
        </template>
      </div>

      <div v-if="MedwayPatientAlertsAreEnabled" :style="{ 'border-top':  primaryAlertColour }" class="patient-medway-alerts attributes__block">
        <span class="attribute-label">
          <template v-if="PatientAlertService.AlertsUnavailable">Medway alerts unavailable</template>
          <template v-if="PatientAlertService.Alerts && PatientAlertService.Alerts">Medway alerts ({{PatientAlertService.Alerts.length}})</template>
          <template v-if="!PatientAlertService.AlertsApiLoading && !PatientAlertService.Alerts && !PatientAlertService.AlertsUnavailable">Medway alerts not recorded</template>
          <template v-if="PatientAlertService.AlertsApiLoading">Medway alerts</template>
        </span>
        <template v-if="!IsExpaned">
          <ui-progress-circular color="primary" :size=18 v-if="PatientAlertService.AlertsApiLoading"></ui-progress-circular>
          <template v-if="PatientAlertService.Alerts && PatientAlertService.Alerts">
            <div class="collapsed-medway-alerts">
              <span v-for="(alert) in PatientAlertService.Alerts" :key="alert.alertId" class="alert-name" v-html="getAlertNameForDisplay(alert)"></span>
            </div>
          </template>
        </template>
      </div>
      <div v-if="MedwayPatientAlertsAreEnabled" class="patient-medway-allergies attributes__block">
        <div class="allergies-icon-wrapper">
          <!--TODO - ALLERGIES COMPONENT-->
          <div class="icon" v-if="!PatientAlertService.AllergiesUnavailable && !PatientAlertService.AllergiesApiLoading">
            <img v-if="PatientAlertService.Allergies && PatientAlertService.Allergies.length" src="/Content/img/allergies/knownallergies.png" alt="Known allergies" />
            <img v-if="!PatientAlertService.Allergies" src="/Content/img/allergies/noknownnotrecorded.png" alt="CareFlow Workspace" />
          </div>
          <div class="icon" v-if="PatientAlertService.AllergiesUnavailable && !PatientAlertService.AllergiesApiLoading">
            <img src="/Content/img/allergies/unavailable.png" alt="CareFlow Workspace" />
          </div>
          <span class="attribute-label">
            <template v-if="PatientAlertService.AllergiesApiLoading">Allergies</template>
            <template v-if="!PatientAlertService.AllergiesApiLoading && PatientAlertService.Allergies && !PatientAlertService.AllergiesUnavailable">Known Allergies</template>
            <template v-if="!PatientAlertService.AllergiesApiLoading && !PatientAlertService.Allergies && !PatientAlertService.AllergiesUnavailable">Allergies not recorded</template>
            <template v-if="!PatientAlertService.AllergiesApiLoading && PatientAlertService.AllergiesUnavailable">Allergies unavailable</template>
            <template v-if="PatientAlertService.Allergies && PatientAlertService.Allergies">({{PatientAlertService.Allergies.length}})</template>
          </span>
        </div>
        <template v-if="!IsExpaned">
          <ui-progress-circular color="primary" :size=18 v-if="PatientAlertService.AllergiesApiLoading"></ui-progress-circular>
          <template v-if="PatientAlertService.Allergies && PatientAlertService.Allergies">
            <div class="collapsed-medway-allergies">
              <span v-for="(allergy) in PatientAlertService.Allergies" :key="allergy.alertId" class="allergy-name" v-html="getAllergyNameForDisplay(allergy)"></span>
            </div>
          </template>

        </template>
      </div>

      <div v-on:click="IsExpaned = !IsExpaned" class="block__collapse-toggle">
        <i v-if="!IsExpaned" class="material-icons">expand_more</i>
        <i v-else class="material-icons">expand_less</i>
      </div>

    </div>
    <!--Expanded-->
    <div v-show="IsExpaned" :class="{'patient-attributes-extended':true, 'is-expanded':IsExpaned}">

      <div class="patient-address attributes__block">
        <template v-if="patient.Address">{{patient.Address}}</template>
        <template v-else>
          <span class="label-not-specified">Not specified</span>
        </template>
      </div>

      <div class="patient-contact attributes__block">
        <template v-if="patient.TelephoneNumber">{{patient.TelephoneNumber}}</template>
        <template v-else>
          <span class="label-not-specified">Not specified</span>
        </template>
      </div>

      <div class="patient-location attributes__block">
        <template>
          <template v-if="patient.AreaName">
            {{patient.AreaName}} ({{patient.SiteName}})
          </template>
          <template v-else>
            {{patient.SiteName}}
          </template>
          <template v-if="patient.Bay || patient.Bed">
            {{patient.Bay}}
            <!--TODO COMPUTED V-HTML
						--><template v-if="patient.Bay && patient.Bed">, </template>{{patient.Bed}}
          </template>
        </template>
        <template v-if="!patient.SiteName && !patient.AreaName">
          <span class="label-not-specified">Not specified</span>
        </template>
      </div>

      <div class="patient-consultant attributes__block">
        <template v-if="patient.Clinician && patient.Clinician.FullName">{{patient.Clinician.FullName}}</template>
        <template v-else>
          <span class="label-not-specified">Not specified</span>
        </template>
      </div>

      <div v-if="MedwayPatientAlertsAreEnabled" class="patient-medway-alerts attributes__block">
        <ui-progress-circular color="primary" :size=18 v-if="PatientAlertService.AlertsApiLoading"></ui-progress-circular>
        <alerts-widget v-if="PatientAlertService.Alerts && PatientAlertService.Alerts" :alerts="PatientAlertService.Alerts" :widgetType="2" :patient="Patient" :patient-id="PatientId"></alerts-widget>
      </div>

      <div v-if="MedwayPatientAlertsAreEnabled" class="patient-medway-allergies attributes__block">
        <ui-progress-circular color="primary" :size=18 v-if="PatientAlertService.AllergiesApiLoading"></ui-progress-circular>
        <allergies-widget v-if="PatientAlertService.Allergies && PatientAlertService.Allergies" :allergies="PatientAlertService.Allergies" :widgetType="1" :patient="Patient" :patient-id="PatientId"></allergies-widget>
      </div>

    </div>

  </div>

</template>

<script>
  /*Utils*/
  import PubSub from 'Endpoints/careflowApp/PubSub';
  import Vault from 'Endpoints/careflowApp/Vault';
  import Popper from 'popper.js';
  /*APIs*/
  import * as GetMedwayGuid from 'Endpoints/medwayServices/patientServiceAPI/GetPatientMedwayGuid';
  import * as GetPatientAlerts from 'Endpoints/medwayServices/patientAlertsService/GetPatientAlertsService';
  /*Components*/
  import AlertsWidget from 'VueComponents/medwayIntegrations/patientAlertService/PatientSummaryAlertsWidget';
  import AllergiesWidget from 'VueComponents/medwayIntegrations/patientAlertService/PatientSummaryAllergiesWidget';
  import ChangePatientConsultant from 'VueComponents/medwayIntegrations/changeConsultant/ChangePatientConsultant';
  /*Mixins*/
  import GetPatientHospitalNumber from 'VueMixins/getPatientHospitalNumber';
  import StringToUpper from 'VueMixins/stringToUpperCase';
  import { mixin as Clickaway } from 'vue-clickaway';
  import appMain from '../../../app/app-main';

  export default {
  	data: function() {
  		return {
  			Patient: this.patient,
  			PatientId: this.patientId || null,
  			PatientHospitalNumber: this.getPatientHospitalNumberFromIdentifiers(
  				this.patient.PatientIdentifiers
  			),
  			MemberAreaId: this.memberAreaId || null,
  			NetworkId: this.networkId || Vault.getSessionItem('ActiveNetworkId'),
  			Permissions: this.getUserPermissions() || null,
  			UserCanChangeConsultant: appMain.checkIfFeatureIsEnabledInAppConfig(
  				'enableChangeConsultant'
  			),
  			MedwayPatientAlertsAreEnabled:
  				appMain.checkIfFeatureIsEnabledInAppConfig(
  					'enablePatientAlertingService'
  				) !== false,
  			PatientMedwayGuid: null,
  			PatientAlertService: {
  				Allergies: null,
  				Alerts: null,
  				TopAlertColourKey: null,
  				AllergiesApiLoading: true,
  				AlertsApiLoading: true,
  				AllergiesUnavailable: false,
  				AlertsUnavailable: false
  			},
  			IsExpaned: false,
  			IsChangingConsultant: false,
  			Popover: null
  		};
  	},
  	components: { AlertsWidget, AllergiesWidget, ChangePatientConsultant },
  	mixins: [GetPatientHospitalNumber, StringToUpper, Clickaway],
  	props: {
  		patient: {
  			type: [Object, Array],
  			default: {},
  			required: true
  		},
  		networkId: {
  			type: [String, Number],
  			default: '',
  			required: true
  		},
  		memberAreaId: {
  			type: [String, Number],
  			default: '',
  			required: false
  		},
  		patientId: {
  			type: [String, Number],
  			default: '',
  			required: false
  		}
  	},

  	watch: {
  		// patient(newVal, oldVal) {
  		// 	if (newVal) {
  		// 		//	this.getPatientAllergies();
  		// 		//	this.getPatientAlerts();
  		// 	}
  		// },
  		IsExpaned(newVal, oldVal) {
  			setTimeout(() => {
  				appMain.setElementsAsFullHeight();
  			}, 200);
  		}
  	},
  	computed: {
  		primaryAlertColour() {
  			if (
  				!this.PatientAlertService.Alerts ||
  				!this.PatientAlertService.Alerts.length
  			)
  				return '';
  			return (
  				'3px solid ' + this.PatientAlertService.Alerts[0].patientAlertColour
  			);
  		}
  	},
  	methods: {
  		getUserPermissions() {
  			return appMain.getUserPermissionsForAllUsersMemberAreas(); //https://doccom.atlassian.net/browse/WEB-907
  		},

  		getPatientMedwayGuid() {
  			return new Promise((resolve, reject) => {
  				if (!this.patient) return reject();

  				GetMedwayGuid.getPatientMedwayGuid(
  					this.patient.PatientExternalIdentifier,
  					this.patient,
  					this.PatientHospitalNumber
  				)
  					.then(response => {
  						//Full Medway patient obj
  						if (!response) return reject();
  						this.PatientMedwayGuid = response.patientId;
  						return resolve(this.PatientMedwayGuid);
  					})
  					.catch(error => {
  						return reject(error);
  					});
  			});
  		},

  		getPatientAllergies() {
  			return new Promise((resolve, reject) => {
  				this.PatientAlertService.Allergies = null;
  				this.PatientAlertService.AllergiesApiLoading = true;
  				this.PatientAlertService.AllergiesUnavailable = false;

  				let stagingResultsData = [];
  				let pageIndex = 0;
  				let pageSize = 100;

  				let callApi = () => {
  					GetPatientAlerts.callApi(
  						'Allergies',
  						this.PatientMedwayGuid,
  						pageSize,
  						pageIndex
  					)
  						.then(response => {
  							stagingResultsData.push.apply(
  								stagingResultsData,
  								response.data.results
  							);

  							if (response.data.totalPages > response.data.pageIndex) {
  								//There are more
  								pageIndex += 1;
  								return callApi();
  							}

  							this.PatientAlertService.AllergiesApiLoading = false;
  							this.PatientAlertService.Allergies = stagingResultsData.sort(
  								(a, b) => {
  									return new Date(b.applied) - new Date(a.applied);
  								}
  							); // Turn your strings into dates, and then subtract them;
  							stagingResultsData = [];
  							return resolve();
  						})
  						.catch(error => {
  							this.PatientAlertService.AllergiesApiLoading = false;
  							this.PatientAlertService.AllergiesUnavailable = true;
  						});
  				};

  				callApi();
  			});
  		},

  		getPatientAlerts() {
  			return new Promise((resolve, reject) => {
  				this.PatientAlertService.Alerts = null;
  				this.PatientAlertService.AlertsUnavailable = false;
  				this.PatientAlertService.AlertsApiLoading = true;

  				let stagingResultsData = [];
  				let pageIndex = 0;
  				let pageSize = 100;

  				let callApi = () => {
  					GetPatientAlerts.callApi(
  						'Alerts',
  						this.PatientMedwayGuid,
  						pageSize,
  						pageIndex
  					)
  						.then(response => {
  							stagingResultsData.push.apply(
  								stagingResultsData,
  								response.data.results
  							);

  							if (response.data.totalPages > response.data.pageIndex) {
  								//There are more
  								pageIndex += 1;
  								return callApi();
  							}

  							this.PatientAlertService.AlertsApiLoading = false;
  							this.PatientAlertService.Alerts = stagingResultsData.sort(
  								(a, b) => {
  									return new Date(b.applied) - new Date(a.applied);
  								}
  							); // Turn your strings into dates, and then subtract them;
  							stagingResultsData = [];
  							return resolve();
  						})
  						.catch(error => {
  							this.PatientAlertService.AlertsApiLoading = false;
  							this.PatientAlertService.AlertsUnavailable = true;
  						});
  				};

  				callApi();
  			});
  		},

  		getAllergyNameForDisplay(allergy) {
  			//TODO:Mixin
  			if (!allergy) return '';
  			let allergyType;
  			if (allergy.type.id === '8e4c3011-da2c-4734-b279-d9f0e39f2b7c')
  				allergyType = 'IsNonDrugAllergy';
  			if (allergy.type.id === '4c7efbb1-c475-4641-a89b-eba8ab176d33')
  				allergyType = 'IsDrugAllergy';
  			if (allergy.type.id === '1141cf7f-fb89-e511-bfdc-7446a03c6939')
  				allergyType = 'IsPlantAllergy';
  			if (allergy.type.id === '11c82b87-9bff-e411-a34b-7446a03c6939')
  				allergyType = 'IsSedativeAllergy';

  			switch (allergyType) {
  				case 'IsNonDrugAllergy':
  					return `${allergy.allergenName}`;
  					break;
  				case 'IsDrugAllergy':
  					return `${allergy.drugName}`;
  					break;
  				case 'IsPlantAllergy':
  					return `${allergy.type.description}`;
  					break;
  				case 'IsSedativeAllergy':
  					return `${allergy.type.description}`;
  					break;
  				default:
  					return `${allergy.type.description}`;
  			}
  		},

  		getAlertNameForDisplay(alert) {
  			if (!alert) return;
  			return alert.type.description;
  		},

  		getChangeConsultantPopover() {
  			if (this.IsChangingConsultant) return;
  			this.IsChangingConsultant = !this.IsChangingConsultant;

  			this.$nextTick(() => {
  				//https://stackoverflow.com/questions/47634258/what-is-nexttick-or-what-does-it-do-in-vuejs
  				this.Popover = new Popper(
  					this.$refs['change-consultant-trigger'],
  					this.$refs['change-consultant-popover'],
  					{
  						placement: 'bottom',
  						modifiers: {
  							//keepTogether: { enabled: false },
  							preventOverflow: {
  								//boundariesElement: 'window',
  								escapeWithReference: false
  							}
  						}
  					}
  				);
  			});
  		},

  		clickedAway() {
  			this.IsChangingConsultant = !this.IsChangingConsultant;

  			if (this.Popover) {
  				console.log(this.Popover);
  				this.Popover.destroy();
  			}
  			this.Popover = null;
  		},

  		consultantTransferSaved(obj) {
  			if (!obj) return;
  			//Emit the updated consultant to parent
  			VueEventBus.$emit('patient-consultant-updated', {
  				//Until VueEx, use Event Bus (more than one component up chain)
  				PatientId: this.patientId,
  				Consultant: obj.hcpName,
  				Speciality: obj.specialtyName
  			});
  			//Close popover
  			this.clickedAway();
  		}

  		// popoverOpened(ref) {
  		// 	setTimeout(() => {
  		// 		this.$refs[ref].positionDrop();
  		// 	}, 0);
  		// },
  	},

  	created: function() {
  		//Get Medway alerts & allergies
  		if (this.MedwayPatientAlertsAreEnabled) {
  			this.getPatientMedwayGuid()
  				.then(response => {
  					this.getPatientAlerts();
  					this.getPatientAllergies();
  				})
  				.catch(error => {
  					this.PatientAlertService.AllergiesApiLoading = false;
  					this.PatientAlertService.AllergiesUnavailable = true;
  					this.PatientAlertService.AlertsApiLoading = false;
  					this.PatientAlertService.AlertsUnavailable = true;
  				});
  		}
  	},
  	mounted: function() {},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},
  	beforeDestroy() {}
  };
</script>

<style scoped lang="less">
  @import '../../../../less/app-variables.less';

  .full-patient-banner {
  	display: flex;
  	flex-direction: column;
  	background: #fff;
  	border: 1px solid @patient-banner-bg;
  	padding: 0;

  	* {
  		box-sizing: border-box;
  	}

  	&.is-deceased {
  		border: none;
  	}
  }
  .patient-meta {
  	display: flex;
  	flex-direction: row;
  	padding: 16px 8px;

  	& .patient-name {
  		display: flex;
  		flex-basis: 40%;
  		font-size: 1.5em;
  		font-weight: @font--medium;
  		color: rgba(0, 0, 0, 0.87);
  	}

  	& .patient-identifiers {
  		display: flex;
  		flex-direction: column;
  		flex-basis: 60%;
  		justify-content: flex-end;
  	}

  	& .identifiers__row {
  		display: flex;
  		justify-content: flex-end;
  		margin: 0 0 0.5em 0;
  		&:last-of-type {
  			margin-bottom: 0;
  		}
  	}

  	& .identifiers__block {
  		// margin-right: 32px;
  		margin-right: 17px;

  		&:last-of-type {
  			margin-right: 0;
  		}

  		& .block__label {
  			color: @text-light;
  			margin: 0 8px 0 0;
  		}
  	}

  	& .block--alternative-id {
  		.identifiers__block();
  		margin-right: 0.3em;
  	}

  	&.is-deceased {
  		background: @patient-banner-bg--deceased;
  		color: #fff;
  		div,
  		span {
  			color: #fff;
  		}
  	}
  }
  .patient-attributes {
  	padding: 0 8px;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	background: rgba(0, 0, 0, 0.05);
  	min-height: 60px;

  	&.is-expanded {
  		padding-bottom: 0;
  	}

  	& .attributes__block {
  		display: flex;
  		flex-direction: column;
  		color: rgba(0, 0, 0, 0.87);
  		border-right: 1px solid rgba(0, 0, 0, 0.12);
  		padding: 5px 8px 8px 8px;
  		border-top: 3px solid rgba(0, 0, 0, 0);
  		&.patient-medway-allergies {
  			border-right: none;
  			//max-height: 60px;
  		}

  		&:first-of-type {
  			padding-left: 0;
  		}
  		&:last-of-type {
  			//border-right: none;
  		}
  		&.patient-medway-alerts {
  			//max-height: 60px;
  		}
  	}
  	& .attribute-label {
  		font-weight: @font--normal;
  		margin: 0 0 0.2em 0;
  		color: rgba(0, 0, 0, 0.54); //54% black
  	}
  }

  .patient-attributes-extended {
  	/*Extended banner*/
  	.patient-attributes();
  	background: #fff;
  	padding-top: 0;

  	& .attributes__block {
  		padding: 8px 8px;
  		border-top: none;
  		&.patient-medway-alerts {
  			//max-height: 100%;
  		}
  		&.patient-medway-allergies {
  			//max-height: 100%;
  		}
  	}
  	& .patient-contact {
  		word-break: break-all;
  	}

  	& .patient-medway-alerts {
  		& .medway-alerts-widget-wrapper {
  		}
  	}

  	& .patient-medway-allergies {
  		display: flex;
  		flex-basis: 23%;
  		max-width: 23%;
  	}
  }

  .patient-address {
  	display: flex;
  	flex-basis: 13%;
  	max-width: 13%;

  	& .collapsed-address {
  		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
  		width: 97%;
  	}
  }
  .patient-contact {
  	display: flex;
  	flex-basis: 9%;
  	max-width: 9%;

  	& .collapsed-contact {
  		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
  		width: 97%;
  	}
  }
  .patient-location {
  	display: flex;
  	flex-basis: 18%;
  	max-width: 18%;
  	word-break: break-word;
  	& .collapsed-location {
  		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
  		width: 97%;
  	}
  }
  .patient-consultant {
  	display: flex;
  	flex-basis: 12%;
  	max-width: 12%;
  	word-break: break-word;
  }

  .patient-medway-alerts {
  	display: flex;
  	flex-basis: 25%;
  	max-width: 25%;
  	& .collapsed-medway-alerts {
  		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
  		width: 97%;
  		max-width: 400px;
  		/* remove extra space before the comma */
  		& .alert-name:not(:first-child) {
  			//margin-left: -0.3em;
  		}

  		/* no need to display empty elements */
  		& .alert-name:empty {
  			display: none;
  		}

  		& .alert-name:not(:first-child):before {
  			content: ', ';
  		}
  	}
  }
  .patient-medway-allergies {
  	display: flex;
  	flex-basis: 20%;
  	max-width: 20%;
  	& .collapsed-medway-allergies {
  		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
  		width: 97%;
  		max-width: 400px;
  		/* remove extra space before the comma */
  		& .allergy-name:not(:first-child) {
  			//margin-left: -0.3em;
  		}

  		/* no need to display empty elements */
  		& .allergy-name:empty {
  			display: none;
  		}

  		& .allergy-name:not(:first-child):before {
  			content: ', ';
  		}
  	}
  }

  .allergies-icon-wrapper {
  	display: flex;
  	align-items: center;
  	& .icon {
  		height: auto;
  	}
  	& img {
  		margin: 0 0.5em 0 0;
  	}
  }

  .block__collapse-toggle {
  	display: flex;
  	display: flex;
  	align-items: center;
  	margin-left: auto;
  	flex-basis: 3%;
  	max-width: 3%;
  	justify-content: flex-end;
  	-webkit-user-select: none; /* Chrome/Safari */
  	-moz-user-select: none; /* Firefox */
  	-ms-user-select: none; /* IE10+ */

  	/* Rules below not implemented in browsers yet */
  	-o-user-select: none;
  	user-select: none;
  	&:hover {
  		cursor: pointer;
  		color: @link--active;
  	}
  }

  .label-not-specified {
  	color: @text-light;
  }

  .identifiers-multiple-wrapper {
  	&:hover {
  		cursor: pointer;
  	}
  }
  .identifiers-multiple-popout {
  	display: flex;
  	flex-direction: column;
  	& .itentifier-row {
  		display: flex;
  		flex-direction: row;
  		margin: 0 0 0.5em 0;
  		& .block__label {
  			color: @text-light;
  			margin: 0 8px 0 0;
  		}
  	}
  }
  .amend-consultant-icon {
  	font-size: 16px;
  	color: @link--active;
  	position: relative;
  	&:hover {
  		cursor: pointer;
  	}
  	-webkit-touch-callout: none; /* iOS Safari */
  	-webkit-user-select: none; /* Safari */
  	-khtml-user-select: none; /* Konqueror HTML */
  	-moz-user-select: none; /* Firefox */
  	-ms-user-select: none; /* Internet Explorer/Edge */
  	user-select: none; /* Non-prefixed version, currently
                                                                    supported by Chrome and Opera */
  }
  .custom-popper-wrapper {
  	//min-width: 210px;
  	z-index: 10; //for Modal
  	position: absolute;
  	//right: 0;
  }
</style>
<custom>Full patient banner component, used within patient dashboards.</custom>
