<template>
  <div :class="{'u-patientBanner':true, 'pure-g':true, 'is-deceased': patient.DateOfDeath && patient.DateOfDeath.length > 0}">
    <div :class="{'patientBanner__data':true, 'is-deceased': patient.DateOfDeath && patient.DateOfDeath.length > 0}">
      <div class="patientName pure-u-12-24">{{patient.PatientFamilyName | toUpperCase}}, {{patient.PatientGivenName}}
        <span v-if="patient.Title">({{patient.PatientTitle}})</span>
      </div>
      <div class="identifiers__set pure-u-12-24">
        <div class="set__block">
          <span class="label">Born</span>{{patient.PatientDateOfBirth}} ({{patient.AgeDescription}})</div>
        <div v-if="patient.PatientIdentifiers.PrimaryIdentifier" class="set__block">
          <span class="label">{{patient.PatientIdentifiers.PrimaryIdentifier.Label}}</span>{{patient.PatientIdentifiers.PrimaryIdentifier.Value}}
        </div>
      </div>
      <div v-if="patient.Clinician" class="clinician__set pure-u-1">
        {{patient.Clinician.FullName}}
        <div v-if="patient.DateOfDeath" class="set__block date-of-death">
          <span class="label">Died</span>{{patient.DateOfDeath}} ({{patient.AgeDescription}})</div>
      </div>
      <div v-if="patient.SiteName" class="location__set pure-u-1">
        <template v-if="patient.AreaName">{{patient.AreaName}} ({{patient.SiteName}})</template>
        <template v-else>{{patient.SiteName}}</template>
        <template v-if="patient.Bay || patient.Bed">{{patient.Bay}}
          <template v-if="patient.Bay && patient.Bed">, </template>{{patient.Bed}}</template>
      </div>
    </div>
  </div>

</template>

<script>
  /*Utils*/
  import PubSub from 'Endpoints/careflowApp/PubSub';
  import Vault from 'Endpoints/careflowApp/Vault';
  /*Mixins*/
  import StringToUpper from 'VueMixins/stringToUpperCase';

  /*Components*/

  export default {
  	data: function() {
  		return {
  			Patient: this.patient,
  			PatientId: this.patientId || null,
  			MemberAreaId: this.memberAreaId || null,
  			NetworkId: this.networkId,
  			Permissions: this.permissions || null
  		};
  	},
  	props: {
  		patient: {
  			type: [Object, String],
  			required: true
  		},
  		patientId: {
  			type: [String, Number],
  			required: true
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false
  		},
  		networkId: {
  			type: [String, Number],
  			required: true
  		}
  	},
  	mixins: [StringToUpper],
  	components: {},
  	created: function() {},
  	mounted: function() {},
  	watch: {},
  	methods: {
  		getUserPermissions() {
  			return appMain.getUserPermissionsForAllUsersMemberAreas(); //https://doccom.atlassian.net/browse/WEB-907
  		}
  	}
  };
</script>

<style scoped lang="less" >
  @import '../../../../less/app-variables.less';
  .u-patientBanner {
  	&.is-deceased {
  		background: @patient-banner-bg--deceased;
  		color: #fff;
  		div,
  		span {
  			color: #fff;
  		}
  	}
  	& .patientBanner__data {
  		width: 100%;
  	}
  	.clinician__set {
  		display: flex;
  	}
  	.date-of-death {
  		display: flex;
  		margin-left: auto;
  	}
  }
</style>

<custom>Patient banner used within FAB modals</custom>
