<template>
  <div data-scroll="true" class="js-fullHeight-bodyElement">

    <!--3 col layout widget 1-->
    <GpActiveProblems :networkId="networkId" :memberAreaId="memberAreaId" :patientId="patientId"></GpActiveProblems>

    <GpPastProblems :networkId="networkId" :memberAreaId="memberAreaId" :patientId="patientId"></GpPastProblems>

	<Allergies :networkId="networkId" :memberAreaId="memberAreaId" :patientId="patientId"></Allergies>

  </div>
</template>

<script>
  import Vault from 'Endpoints/careflowApp/Vault';
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import GetPatientHospitalNumber from 'VueMixins/getPatientHospitalNumber';
  /* API Endpoints */
  import GetPatient from 'Endpoints/patients/GetPatient';
  import * as GetMedwayGuid from 'Endpoints/medwayServices/patientServiceAPI/GetPatientMedwayGuid';
  /*Components*/
  import GpActiveProblems from 'VueComponents/medwayIntegrations/primaryCare/components/GpProblemsActive';
  import GpPastProblems from 'VueComponents/medwayIntegrations/primaryCare/components/GpProblemsPast';
   import Allergies from 'VueComponents/medwayIntegrations/primaryCare/components/Allergies';

  export default {
  	data: function() {
  		return {
  			IsLoading: true,
  			ApiError: false
  		};
  	},
  	mixins: [DateFilter, GetPatientHospitalNumber],
  	components: { GpActiveProblems, GpPastProblems, Allergies },
  	props: {
  		patient: {
  			required: false,
  			type: [Object]
  		},
  		patientId: {
  			required: true,
  			type: [Number, String]
  		},
  		networkId: {
  			required: true,
  			type: [Number, String]
  		},
  		memberAreaId: {
  			required: false,
  			type: [Number, String]
  		},
  		patientMedwayGuid: {
  			required: false,
  			type: [Number, String]
  		}
  	},
  	filters: {},

  	computed: {},

  	watch: {},

  	methods: {
  		getPatient() {
  			return new Promise((resolve, reject) => {
  				this.IsLoading = true;
  				if (this.patient) return resolve(this.patient);
  				GetPatient.callApi(
  					this.patientId,
  					this.networkId,
  					'ClinicalTags, HandoverNotes, GroupLists'
  				)
  					.then((response, textStatus, xhr) => {
  						this.Patient = response.Data;
  						this.PatientId = response.Data.PatientExternalIdentifier;
  						this.PatientHospitalNumber = this.getPatientHospitalNumberFromIdentifiers(
  							this.Patient.PatientIdentifiers
  						);
  						resolve();
  					})
  					.fail(error => {
  						//returns from callApi
  						reject();
  					});
  			}).catch(error => {
  				reject();
  			});
  		},
  		getPatientMedwayGuid() {
  			return new Promise((resolve, reject) => {
  				if (this.patientMedwayGuid) return resolve(this.patientMedwayGuid);
  				GetMedwayGuid.getPatientMedwayGuid(
  					this.PatientId,
  					this.Patient,
  					this.PatientHospitalNumber
  				)
  					.then(response => {
  						if (!response) return reject();
  						this.PatientMedwayGuid = response.patientId;
  						return resolve(this.PatientMedwayGuid);
  					})
  					.catch(error => {
  						//returns from dispatch
  						reject();
  					});
  			}).catch(error => {
  				reject();
  			});
  		}
  	},

  	events: {},

  	beforeCreate: function() {},

  	created: function() {
  		this.getPatient()
  			.then(this.getPatientMedwayGuid)
  			//.then(this.getEpisodeTypes)
  			.catch(error => {
  				this.IsLoading = false;
  				this.ApiError = true;
  			});
  	},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},

  	mounted() {}
  };
</script>

<style scoped lang="less">
  @import '../../../../../less/app-variables.less';
</style>
<notes>GraphNet Primary Care Tab view (Integration API), used on patient dashboard.</notes>
