<template>
  <div :class="{'pure-u-1':true, 'sbar-row':true, 'last-row':isLastRow, 'is-non-profile-row': !CanViewProfilesForNetwork, 'profile-handover-not-exists': !RoleHandoverExists}">
    <div v-if="CanViewProfilesForNetwork" :style="{'border-left': '5px solid #' + ProfileColour.slice(0,6)}" class="row-colour-block"></div>
    <div class="row-profile-block">

      <div :class="{'meta__description':RoleHandoverExists, 'meta__description--empty': !RoleHandoverExists, 'pure-u-1':true}">
        <template v-if="RoleHandoverExists">
          <span v-if="ProfileColour && CanViewProfilesForNetwork" class="row__role"> {{ProfileName}}</span>
          <template v-if="HandoverIsCurrentAdmission">
            {{HandoverNotes.UpdatedByName}} - {{HandoverNotes.GroupName}} {{HandoverNotes.DateLastUpdated | formatDate}}
            <template v-if="HandoverNotes.DaysSinceLastUpdate">({{HandoverNotes.DaysSinceLastUpdate}}d)</template>
            <template v-else>(today)</template>
          </template>
          <template v-else>
            <!--Previous spell handover-->
            <span><span class="spell-label-1">No handover note added in this admission</span>
              <button class="btn--plain spell-label-2" :disabled="isLoading" :loading="isLoading" v-if="(!HandoverIsCurrentAdmission) && !IsEditingHandover" v-on:click="()=>{if (profileEditActive) return; IsEditingHandover = true;NewHandoverInitiated = true;}">Show handover added on {{HandoverNotes.DateLastUpdated | formatDate}} ({{HandoverNotes.GroupName}})</button>
              <!--Treat as new handover on toggle-->
              <button class="btn--plain" :disabled="isLoading" :loading="isLoading" v-if="!IsEditingHandover" v-on:click="()=>{if (profileEditActive) return; startNewHandoverOverPreviousSpell()}">Start new handover</button>
            </span>
          </template>
        </template>

        <template v-else>
          <!--RoleHandoverExists === false -->
          <span v-if="ProfileColour && CanViewProfilesForNetwork" class="row__role u-screen-only">{{ProfileName}}</span>
          <button class="btn--plain" :disabled="isLoading" :loading="isLoading" v-if="!IsEditingHandover" v-on:click="()=>{if (profileEditActive) return; IsEditingHandover = true;NewHandoverInitiated = true;}">Start handover</button>
        </template>
      </div>

      <div v-if="(HandoverIsCurrentAdmission && RoleHandoverExists) || NewHandoverInitiated" v-on:click="()=>{if (profileEditActive) return; IsEditingHandover = true}" class="pure-g sbar-fields">
        <div class="body__cell hover pure-u-6-24">
          <template v-if="!IsEditingHandover">
            <div class="handover-txt">{{HandoverNotes.Notes[0].Value}}</div>
          </template>
          <template v-if="IsEditingHandover">
            <ui-textbox class="handover-txtbox" enforce-maxlength :multi-line="true" :maxlength="1000" v-model="HandoverNotes.Notes[0].Value"></ui-textbox>
          </template>
        </div>
        <div class="body__cell hover pure-u-6-24">
          <template v-if="!IsEditingHandover">
            <div class="handover-txt">{{HandoverNotes.Notes[1].Value}}</div>
          </template>
          <template v-if="IsEditingHandover">
            <ui-textbox class="handover-txtbox" enforce-maxlength :multi-line="true" :maxlength="1000" v-model="HandoverNotes.Notes[1].Value"></ui-textbox>
          </template>
        </div>
        <div class="body__cell hover pure-u-6-24">
          <template v-if="!IsEditingHandover">
            <div class="handover-txt">{{HandoverNotes.Notes[2].Value}}</div>
          </template>
          <template v-if="IsEditingHandover">
            <ui-textbox class="handover-txtbox" enforce-maxlength :multi-line="true" :maxlength="1000" v-model="HandoverNotes.Notes[2].Value"></ui-textbox>
          </template>
        </div>
        <div class="body__cell hover pure-u-6-24">
          <template v-if="!IsEditingHandover">
            <div class="handover-txt">{{HandoverNotes.Notes[3].Value}}</div>
          </template>
          <template v-if="IsEditingHandover">
            <ui-textbox class="handover-txtbox" enforce-maxlength :multi-line="true" :maxlength="1000" v-model="HandoverNotes.Notes[3].Value"></ui-textbox>
          </template>
        </div>
      </div>
      <div v-if="(HandoverIsCurrentAdmission && RoleHandoverExists) || NewHandoverInitiated" class="pure-g">
        <div class="pure-u-1 cell-footer cell--no-pad">
          <!--Controls-->
          <div class="pure-u footer-actions">
            <button class="btn--plain edit-btn" :disabled="isLoading" :loading="isLoading" v-if="RoleHandoverExists && !IsEditingHandover" v-on:click="()=>{if (profileEditActive) return; IsEditingHandover = true}"><i class="material-icons">edit</i> Edit {{ProfileName}} handover</button>
            <ui-button type="secondary" :disabled="isLoading" :loading="isLoading" v-if="IsEditingHandover" v-on:click="cancelHandoverEdit">Cancel</ui-button>
            <ui-button color="primary" :disabled="isLoading || !handoverInputsAreValidForUpsert" :loading="isLoading" v-if="IsEditingHandover" v-on:click="saveHandover">Save handover</ui-button>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';

  /*Components*/
  import PatientClinicalTag from 'VueComponents/patientList/PatientClinicalTag';
  /* API Endpoints */
  import AddPatientToGroupList from 'Endpoints/patients/AddPatientToGroupList';
  import UpsertHandoverNote from 'Endpoints/patients/UpsertHandoverNote';
  import Vault from 'Endpoints/careflowApp/Vault';
  export default {
  	data() {
  		return {
  			HandoverNotes: JSON.parse(JSON.stringify(this.item.HandoverNotes)) || [], //Deep copy on init, non reactive. If none, standard model is passed in
  			ProfileName: this.canViewProfilesForNetwork ? this.item.Name : '' || null,
  			ProfileExternalIdentifier: this.item.ExternalIdentifier || null,
  			ProfileColour: this.item.Colour || null,
  			IsEditingHandover: false,
  			MemberAreaName: appMain.getMemberAreaName(this.memberAreaId) || '',
  			RoleHandoverExists: this.item.RoleHandoverExists || false,
  			HandoverIsCurrentAdmission: !this.item.HandoverNotes.AddedPriorToAdmissionDate, //Spell flag and updated meta
  			NewHandoverInitiated: false,
  			CanViewProfilesForNetwork: this.canViewProfilesForNetwork, //Master permission for profile enabled networks
  		};
  	},
  	props: {
  		item: {
  			type: [Object, Array],
  			required: true,
  			default: {},
  		},
  		memberAreaId: {
  			//Is a patient team list
  			type: [String, Number],
  			required: true,
  			default: null,
  		},
  		isLoading: {
  			type: [Boolean],
  			required: false,
  			default: false,
  		},
  		isLastRow: {
  			type: [Boolean],
  			required: false,
  			default: false,
  		},
  		canViewProfilesForNetwork: {
  			//Master permission for profile enabled networks
  			type: [Boolean],
  			required: true,
  		},
  		profileEditActive: {
  			type: [Boolean],
  			required: true,
  		},
  	},
  	components: {},
  	mixins: [DateFilter],
  	filters: {},
  	watch: {
  		item(newVal, oldVal) {
  			//Prop changed on parent
  			if (newVal) {
  				this.HandoverNotes = JSON.parse(JSON.stringify(newVal.HandoverNotes)) || []; //Deep copy on init, non reactive
  				this.ProfileName = this.canViewProfilesForNetwork ? newVal.Name : '' || null;
  				this.ProfileExternalIdentifier = newVal.ExternalIdentifier;
  				this.ProfileColour = newVal.Colour;
  				this.RoleHandoverExists = newVal.RoleHandoverExists;
  				this.IsEditingHandover = false;
  				this.HandoverIsCurrentAdmission = !this.item.HandoverNotes.AddedPriorToAdmissionDate; //Spell flag and updated meta
  			}
  		},
  		IsEditingHandover(newVal, oldVal) {
  			this.$emit('profile-edit-active', newVal); //Disable other profiles from being editable
  		},
  	},
  	computed: {
  		handoverInputsAreValidForUpsert() {
  			if (!this.IsEditingHandover || !this.HandoverNotes.Notes.length) return false;

  			let s = this.HandoverNotes.Notes[0].Value.trim().length > 0;
  			let b = this.HandoverNotes.Notes[1].Value.trim().length > 0;
  			let a = this.HandoverNotes.Notes[2].Value.trim().length > 0;
  			let r = this.HandoverNotes.Notes[3].Value.trim().length > 0;

  			if (this.RoleHandoverExists) {
  				//There is a handover to compare against
  				if ((s || b || a || r) && !this.jsonEqual({ a: this.HandoverNotes }, { a: this.item.HandoverNotes })) return true;
  				return false;
  			}
  			if (s || b || a || r) return true;

  			return false;
  		},
  	},

  	methods: {
  		saveHandover() {
  			this.$emit('save-handover-note', {
  				//Must match API model
  				AddedPriorToAdmissionDate: false, //Update flag
  				DateLastUpdated: moment.utc().local(),
  				DaysSinceLastUpdate: 0,
  				GroupName: this.memberAreaId ? this.MemberAreaName : this.HandoverNotes.GroupName,
  				IsCurrent: true, //Update flag
  				MemberAreaId: this.memberAreaId ? this.memberAreaId : this.HandoverNotes.MemberAreaId,
  				Notes: this.HandoverNotes.Notes, //New notes
  				Scope: this.HandoverNotes.Scope,
  				Profile: this.RoleHandoverExists
  					? this.HandoverNotes.Profile
  					: {
  							Colour: this.ProfileColour,
  							ExternalIdentifier: this.ProfileExternalIdentifier,
  							Name: this.ProfileName,
  							NotFound: false,
  					  },
  				UpdatedByName: Vault.getItem('LoggedInUserName') || '',
  			});
  		},
  		cancelHandoverEdit() {
  			if (Array.isArray(this.item.HandoverNotes.Notes)) this.HandoverNotes = JSON.parse(JSON.stringify(this.item.HandoverNotes)) || []; //Deep copy on init, non reactive
  			this.IsEditingHandover = false;
  			this.NewHandoverInitiated = false;

  			if (!this.HandoverIsCurrentAdmission) {
  				//reset the 'old' handover notes for previous spell
  				this.HandoverNotes = JSON.parse(JSON.stringify(this.item.HandoverNotes)) || [];
  			}
  		},
  		startNewHandoverOverPreviousSpell() {
  			if (this.HandoverIsCurrentAdmission) return;

  			this.IsEditingHandover = true;
  			this.NewHandoverInitiated = true;

  			//Need clear the previous spell handover as a new one has been initiated
  			this.HandoverNotes.Notes[0].Value = '';
  			this.HandoverNotes.Notes[1].Value = '';
  			this.HandoverNotes.Notes[2].Value = '';
  			this.HandoverNotes.Notes[3].Value = '';
  		},
  		jsonEqual(a, b) {
  			if (!a) a = {};
  			if (!b) b = {};

  			return JSON.stringify(a) === JSON.stringify(b);
  		},
  	},
  	created() {
  		this.$emit('get-profile-colour', this.item.Colour.slice(0, 6));
  	},
  	mounted() {},
  	deforeDestroy() {},
  };
</script>

<style lang="less">
  //Unscoped - add a parent wrapper to prevent leakage
  & .sbar-row {
  	& .ui-textbox {
  		flex-basis: 98%;
  	}
  	& .ui-textbox.handover-txtbox {
  		& .ui-textbox__textarea {
  			max-height: 300px;
  		}
  	}
  	& .handover-txt {
  		//word-break: break-all;
  		white-space: pre-wrap;
  		hyphens: auto;
  		width: 100%;
  		&:hover {
  			cursor: pointer;
  		}
  	}
  }
</style>


<style lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../../less/app-variables.less';
  .table__row {
  	& .body__cell {
  		& .sbar-row {
  			margin: 0.1em 0;
  			padding: 0;
  			&.pure-u-1 {
  				border-bottom: 1px solid @row--border;
  				padding-left: 0;
  				padding-right: 0;
  				padding-top: 0.3em;
  				padding-bottom: 0.3em;
  				box-sizing: border-box;
  				display: flex;
  				align-items: stretch;
  			}
  			&.last-row {
  				border-bottom: none;
  			}
  			&.is-non-profile-row {
  				//Legacy, non profile network
  				padding-top: 0;
  			}
  		}
  		& .row-profile-block {
  			display: flex;
  			flex-direction: column;
  			flex: 1;
  			flex-grow: 1;
  		}
  		& .row-colour-block {
  			width: 5px;
  			display: flex;
  		}
  	}

  	& .cell-footer {
  		& .pure-u.footer-actions {
  			margin-right: 0;
  			margin-bottom: 0;
  			display: block;
  		}
  	}
  }
  .sbar-fields {
  	width: 100%;
  	&:hover {
  		cursor: pointer;
  	}
  }
  .meta__description {
  	margin: 0 0 0.5em 0;
  	font-size: 0.9em;
  	color: @text-light;
  	display: flex;
  	align-items: center;
  	& .spell-label-1 {
  		margin: 0 1em 0 0;
  	}
  	& .spell-label-2 {
  		margin: 0 2em 0 0;
  	}
  }
  .meta__description--empty {
  	.meta__description();
  	margin: 0;
  	font-size: 1em;
  }
  .row__role {
  	padding: 0;
  	margin: 0 1em 0 0;
  	color: @body-colour;
  	align-items: center;
  	display: flex;
  	font-weight: @font--medium;
  }

  .edit-btn {
  	display: flex;
  	align-items: center;
  	& .material-icons {
  		font-size: 16px;
  		margin: 0 0.2em 0 0;
  	}
  }
</style>

<custom>SBAR line item in Team Patient List component</custom>
