<template>

  <div class="u-screen-only filters-wrapper">
    <!--filters-->
    <div class="first filterBlock">
      <!--FIX HELP SLOT https://github.com/JosephusPaye/Keen-UI/pull/370-->

      <!-- <ui-select v-if="!isNetworkMemberAreaId" hasSearch label="Select a team" placeholder="Teams" @input="setSelectedTeam" class="" :disabled="IsLoading" :options="getTeamsUserCanStartConversationIn" :value="SelectedTeam"></ui-select> -->

      <ui-select label="" multiple :hasSearch="true" @input="locationFilterChanged" placeholder="Locations" class="ui-select--no-border" :disabled="isLoading" :options="getLocationListFilters" v-model="ActiveFilters.Locations">
        <template slot="help">
          <div v-show="ActiveFilters.Locations.length">
            <button type="button" :disabled="isLoading" v-on:click="ActiveFilters.Locations = []" class="btn--plain">Clear selection</button>
          </div>
        </template>
        <template slot="no-results">
          <div>No results</div>
        </template>
        <template scope="props" slot="option">
          <!--<code>{{ props }}</code>-->
          <div :class="{'ui-select-option__basic':true, 'u-strong':props.option.type !== 'Area', 'is-area':props.option.type === 'Area'}">{{props.option.label}}</div>
          <div class="ui-select-option__checkbox">
            <ui-icon v-if="props.selected">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M9.984 17.016l9-9-1.406-1.453-7.594 7.594-3.563-3.563L5.016 12zm9-14.016C20.11 3 21 3.938 21 5.016v13.97C21 20.062 20.11 21 18.984 21H5.014C3.89 21 3 20.064 3 18.986V5.015C3 3.94 3.89 3 5.014 3h13.97z" />
              </svg>
            </ui-icon>
            <ui-icon v-else>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M18.984 3C20.062 3 21 3.938 21 5.016v13.97C21 20.062 20.062 21 18.984 21H5.014C3.938 21 3 20.064 3 18.986V5.015C3 3.94 3.936 3 5.014 3h13.97zm0 2.016H5.014v13.97h13.97V5.015z" />
              </svg>
            </ui-icon>
          </div>
        </template>
      </ui-select>
    </div>

    <div class="filterBlock">
      <ui-select label="" multiple :hasSearch="true" :noResults="true" @input="filterSelected" placeholder="Consultants" class="ui-select--no-border" :disabled="isLoading" :options="getCliniciansListFilters" v-model="ActiveFilters.Clinicians">
        <template slot="help">
          <div v-show="ActiveFilters.Clinicians.length">
            <button type="button" :disabled="isLoading" v-on:click="ActiveFilters.Clinicians = []" class="btn--plain">Clear selection</button>
          </div>
        </template>
      </ui-select>
    </div>

    <div class="filterBlock">
      <ui-select label="" multiple :hasSearch="true" :noResults="true" @input="filterSelected" placeholder="Clinical tags" class="u-txt-capitalise ui-select--no-border" :disabled="isLoading" :options="getClinicalTagListFilters" v-model="ActiveFilters.ClinicalTags">
        <template slot="help">
          <div v-show="ActiveFilters.ClinicalTags.length">
            <button type="button" :disabled="isLoading" v-on:click="ActiveFilters.ClinicalTags = []" class="btn--plain">Clear selection</button>
          </div>
        </template>
      </ui-select>
    </div>

    <div v-if="canViewTeamRolesForTeam && teamRoles" class="filterBlock">
      <ui-select label="" multiple :hasSearch="true" @input="profilesFilterSelected" placeholder="Select profiles" class="u-txt-capitalise ui-select--no-border" :disabled="isLoading" :options="getFilterableTeamRoles" v-model="SelectedProfiles">
        <template slot="help">
          <div v-show="!profileSelectionsAreDefault">
            <button type="button" :disabled="isLoading" v-on:click="resetSelectedProfilesToDefault" class="btn--plain">Reset selected profiles</button>
          </div>
        </template>
      </ui-select>
    </div>

  </div>
</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';

  /* API Endpoints */
  import GetPatientListFilters from 'Endpoints/patients/GetPatientListFilters';

  export default {
  	data() {
  		return {
  			ListFiltersData: null, //Popolated from this.getPatientListFilters()
  			SelectedProfiles: [], //Handover profiles
  			DefaultProfiles: [], //Handover profiles
  			ActiveFilters: this.activeFiltersOnLoad,
  		};
  	},
  	props: {
  		isLoading: {
  			type: [Boolean],
  			required: false,
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: true,
  		},
  		canViewTeamRolesForTeam: {
  			type: [Boolean],
  			required: false,
  			default: false,
  		},
  		teamRoles: {
  			type: [Array],
  			required: false,
  			default: () => {
  				return [];
  			},
  		},
  		isExpanded: {
  			type: [Boolean],
  			required: false,
  			default: false,
  		},
  		activeFiltersOnLoad: {
  			//Default filters setup
  			type: [Object],
  			required: false,
  			default: () => {
  				return {
  					ClinicalTags: [],
  					Clinicians: [],
  					Locations: [],
  				};
  			},
  		},
  	},
  	mixins: [DateFilter],

  	watch: {
  		getFilterableTeamRoles(newVal, oldVal) {
  			//Set default values when teamRole prop data is passed in
  			if (newVal) {
  				newVal.forEach(x => {
  					if (x.isActiveTeamProfile) {
  						this.SelectedProfiles.push(x);
  						this.DefaultProfiles.push(x);
  					}
  				});
  			}
  		},
  	},

  	computed: {
  		getLocationListFilters() {
  			if (!this.ListFiltersData || !this.ListFiltersData.Locations || !this.ListFiltersData.Locations.length) return [];

  			let stagingData = [];

  			//Manage Site => child area
  			this.ListFiltersData.Locations.forEach(item => {
  				stagingData.push({
  					label: item.SiteName,
  					value: item.SiteName,
  					parentSite: null,
  					type: 'Site',
  				});

  				if (item.Areas.length) {
  					item.Areas.forEach(x => {
  						stagingData.push({
  							label: x.AreaName,
  							value: x.AreaName,
  							parentSite: item.SiteName,
  							type: 'Area',
  						});
  					});
  				}
  			});

  			return stagingData;
  			//  return [{label:"No results", value:null, type:"NoResults"}]
  		},
  		getCliniciansListFilters() {
  			if (!this.ListFiltersData || !this.ListFiltersData.Clinicians || !this.ListFiltersData.Clinicians.length) return [];

  			return this.ListFiltersData.Clinicians.map((item, index, array) => {
  				return {
  					clinician: item,
  					type: 'Clinician',
  					label: item,
  					value: item,
  				};
  			});
  		},
  		getClinicalTagListFilters() {
  			if (!this.ListFiltersData || !this.ListFiltersData.ClinicalTags.length) return [];

  			return this.ListFiltersData.ClinicalTags.map((item, index, array) => {
  				return {
  					clinicalTagId: item.ID,
  					type: 'ClinicalTag',
  					label: item.Value,
  					value: item.ID,
  				};
  			});
  		},
  		getFilterableTeamRoles() {
  			//Return array of team roles that the user can possibly select via filters
  			if (!this.teamRoles || !this.teamRoles.length) return [];

  			return this.teamRoles
  				.map(y => {
  					//Is the set memberArea in the Teams array
  					//const isActiveTeamProfile = y.Teams.findIndex(z => z.MemberAreaID === this.memberAreaId) !== -1;

  					//if (y.Name === 'Default') return null; //ALWAYS add at least the 'Default' profile - so user cannot deselect 'Default'

  					const returnObj = {
  						label: y.Name,
  						value: y.ExternalIdentifier,
  						externalIdentifier: y.ExternalIdentifier,
  						colour: y.Colour,
  						name: y.Name,
  						order: y.Order,
  						//teams: y.Teams,
  						selected: y.Selected,
  						isActiveTeamProfile: y.Selected,
  					};
  					return returnObj;
  				})
  				.filter(Boolean);
  		},
  		profileSelectionsAreDefault() {
  			return this.jsonIsEqual({ a: this.SelectedProfiles }, { a: this.DefaultProfiles });
  		},
  	},

  	methods: {
  		locationFilterChanged(val) {
  			//param as entire collection

  			if (!val.length) return;

  			let selectedSites = val
  				.map(x => {
  					if (x.type === 'Site') return x.value;
  				})
  				.filter(Boolean);

  			this.getLocationListFilters.map(x => {
  				//Auto add child areas
  				if (x.type === 'Area' && selectedSites.includes(x.parentSite) && !val.some(y => y.value === x.value && y.type === x.type)) {
  					//Area not presently selected
  					this.ActiveFilters.Locations.push(x);
  				}
  			});
  		},

  		getPatientListFilters() {
  			return GetPatientListFilters.callApi(this.memberAreaId)
  				.then((response, status, XHr) => {
  					if (/^2/.test(XHr.status)) {
  						this.ListFiltersData = response.Data;
  					}
  				})
  				.fail(error => {});
  		},
  		resetSelectedProfilesToDefault() {
  			this.SelectedProfiles =
  				this.getFilterableTeamRoles
  					.filter(x => {
  						if (x.isActiveTeamProfile) return x; //isActiveTeamProfile === Default flag
  						return null;
  					})
  					.filter(Boolean) || [];

  			this.$emit('profiles-updated', this.SelectedProfiles);
  		},
  		filterSelected(array) {
  			//with v-model, bound collection is passed to filterSelected
  			this.$emit('filters-updated', this.ActiveFilters);
  		},
  		profilesFilterSelected(array) {
  			this.$emit('profiles-updated', array);
  		},
  		jsonIsEqual(a, b) {
  			if (!a) a = {};
  			if (!b) b = {};

  			return JSON.stringify(a) === JSON.stringify(b);
  		},
  	},

  	created() {
  		//Until vue refactor, reload list when patients are added via legacy app modal. This approach will be deprecated upon vue refactor of modals
  		VueEventBus.$on('PatientSearch.AllQueuedPatientsAddedToGroupList', obj => {
  			setTimeout(() => {
  				//Filters
  				this.getPatientListFilters().then(response => {});
  			}, 3000); //Timeout, allow Raven to sync
  		});
  	},
  	mounted() {
  		this.getPatientListFilters().then(response => {});
  	},
  	deforeDestroy() {},
  };
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../../less/app-variables.less';
  .filters-wrapper {
  	padding: 0 0 1em 0;
  	margin: 0;
  	box-sizing: border-box;
  	display: flex;
  	flex-flow: row nowrap;
  	flex-wrap: nowrap;
  	align-items: center;
  	//border-bottom: 1px solid @row--border;
  	-webkit-flex-wrap: wrap;
  	flex-wrap: wrap;
  	justify-content: flex-start;
  }

  .filterBlock {
  	box-sizing: border-box;
  	min-width: 20em;
  	max-width: 300px;
  	margin: 0;
  	border-right: 1px solid #eee;
  	padding: 0 1.3em 0 1.3em;
  	justify-self: flex-start;
  	& .ui-select__search-input {
  		box-sizing: border-box;
  	}

  	& .ui-select {
  		margin-bottom: 0;
  		& .is-area {
  			padding-left: 0.6em;
  		}
  	}

  	&.first {
  		padding-left: 1em;
  	}

  	&.end {
  		margin-left: auto;
  		padding-right: 1em;
  		padding-left: 0;
  		min-width: auto;
  	}
  }
</style>

<custom>Component notes</custom>
