<template>

  <div ref="item" :class="{'patient-item':true, 'active': patient.PatientExternalIdentifier === activePatientId}">

    <div v-on:click="debouncePatientSelected" class="patient-data">

      <div class="patient-name block">{{patient.PatientFamilyName | toUpperCase}}, {{patient.PatientGivenName}}
        <template v-if="patient.PatientTitle"> ({{patient.PatientTitle}})</template>
        <template v-if="patient.Title">({{patient.Title}})</template>
      </div>
      <div class="patient-meta block">
        <span class="block__label">Born</span>{{patient.PatientDateOfBirth}}
        <template v-if="patient.AgeDescription"> ({{patient.AgeDescription}})</template>
      </div>
      <template v-if="patient.PatientIdentifiers.PrimaryIdentifier">
        <div class="patient-identifiers block">
          <span class="block__label">{{patient.PatientIdentifiers.PrimaryIdentifier.Label}} </span>{{patient.PatientIdentifiers.PrimaryIdentifier.Value}}</div>
      </template>
      <div v-if="EwsScoreComponentDataUri && Environment !== 'Demo'" class="ews-svg-wrapper">
        <div class='block__label'>EWS:</div>
        <div v-html="getSvgItem"></div>
      </div>
      <template v-if="Environment === 'Demo' && EwsData.Score && EwsData.Class">
        <div :class="{'patient-ews-wrapper':true, 'block':true}">
          <span class="block__label">EWS</span>
          <span :class="getEwsClass">{{EwsData.Score}}</span>
        </div>
      </template>
    </div>
    <div v-if="!patient.IsInGroup && memberAreaId" class="patient-actions">
      <!--Is pinned or not via this api property-->
      <i v-on:click="pinPatientToList" ref="pin-patient-popover" class="popover-trigger material-icons">add</i>
      <ui-popover class="custom-popover" open-on="hover" trigger="pin-patient-popover">
        <div v-if="!isSearchList">This patient is on the list due to Smart List settings. Click the icon to keep them on the list</div>
        <div v-else>Click the plus icon to add patient to the {{MemberAreaName}} list</div>
      </ui-popover>
    </div>
  </div>

</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import ScrollToEl from 'VueMixins/scrollToElement';
  import GetPatientHospitalNumber from 'VueMixins/getPatientHospitalNumber';
  import StringToUpper from 'VueMixins/stringToUpperCase';

  /* API Endpoints */
  import AddPatientToGroupList from 'Endpoints/patients/AddPatientToGroupList';
  import * as GetVitalsObervations from 'Endpoints/medwayServices/careflowVitals/GetVitalsObservations';

  /*Views*/
  import patientView from 'Views/PatientView';

  export default {
  	data() {
  		return {
  			IsLoading: false,
  			MemberAreaId: this.memberAreaId,
  			NetworkId: this.networkId,
  			MemberAreaName: this.memberAreaId ? appMain.getMemberAreaName(this.memberAreaId) : '',
  			PatientHospitalNumber: this.getPatientHospitalNumberFromIdentifiers(this.patient.PatientIdentifiers) || null,
  			Environment: appMain.getCurrentEnvironment() || '',
  			EWSLastUpdatedDate: null,
  			PatientEws: null,
  			EwsScoreComponentDataUriContentType: null,
  			EwsScoreComponentDataUri: null,
  			EwsData: {
  				//DEMO Only - hold latest ews score - APIs to be build, only enable in demo env
  				Class: null,
  				Score: null,
  			},
  		};
  	},
  	props: {
  		patient: {
  			type: [Object, String],
  			required: true,
  		},
  		activePatientId: {
  			type: [String, Number],
  			required: false,
  			default: null,
  		},
  		networkId: {
  			type: [String, Number],
  			required: true,
  			default: null,
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false,
  			default: null,
  		},
  		isSearchList: {
  			//Is from a search result set, not a team list set
  			type: [Boolean],
  			required: true,
  			default: false,
  		},
  	},
  	mixins: [DateFilter, ScrollToEl, GetPatientHospitalNumber, StringToUpper],

  	computed: {
  		getSvgItem() {
  			if (!this.EwsScoreComponentDataUri || this.Environment === 'Demo') return false;
  			return `${this.EwsScoreComponentDataUri}`;
  		},
  		getEwsClass() {
  			if (!this.EwsData.Class || this.Environment !== 'Demo') return '';
  			return 'patient-ews-score ' + this.EwsData.Class;
  		},
  	},

  	methods: {
  		pinPatientToList() {
  			if (this.IsLoading) return;
  			this.IsLoading = true;
  			return AddPatientToGroupList.callApi(this.memberAreaId, this.patient.PatientExternalIdentifier)
  				.then((response, status, xHR) => {
  					this.patient.IsInGroup = true; /*Will cascade up, mutate prop reference from parent, so patient will add to master cache list*/
  					//if (this.isSearchList) this.patient.$set('IsInGroup', true)
  					if (this.isSearchList) this.$emit('search-patient-pinned-to-list', this.patient); //Search result patient added to list
  					this.IsLoading = false;
  				})
  				.fail(error => {
  					this.IsLoading = false;
  				});
  		},
  		getPatientEws() {
  			if (!this.PatientHospitalNumber || this.Environment === 'Demo') return Promise.reject();

  			return GetVitalsObervations.getEws(this.PatientHospitalNumber)
  				.then((response, status, xhr, fullResponse) => {
  					if (Object.keys(response.data).length === 0 || !response.data.hasOwnProperty('entry')) {
  						return Promise.reject();
  					}
  					this.EWSLastUpdatedDate = response.data.entry[0].resource.meta.lastUpdated;
  					this.PatientEws = response.data.entry;
  					this.EwsScoreComponentDataUriContentType = response.data.entry[0].resource.component[0].valueAttachment.contentType;
  					this.EwsScoreComponentDataUri = atob(response.data.entry[0].resource.component[0].valueAttachment.data); //Decode base64 string
  				})
  				.catch(error => {});
  		},
  		debouncePatientSelected: _.debounce(function(e) {
  			if (this.activePatientId === this.patient.PatientExternalIdentifier) return; //Same patient
  			/*https://stackoverflow.com/questions/42199956/how-to-implement-debounce-in-vue2*/
  			appMain.stopApiRequests(); //Patient changed
  			this.$emit('patient-selected', { Patient: this.patient, PatientId: this.patient.PatientExternalIdentifier });
  		}, 100) /*Prevent trigger clicking on patient list*/,
  	},
  	created() {
  		if (appMain.checkIfFeatureIsEnabledInAppConfig('enablePatientObsAndVitals') && this.PatientHospitalNumber) {
  			this.getPatientEws()
  				.then()
  				.catch(error => {});
  		}
  	},
  	mounted() {
  		//Scroll to the row
  		if (this.patient.PatientExternalIdentifier === this.activePatientId) {
  			this.$nextTick(() => {
  				this.scrollToEl(this.$refs['item']);
  			});
  		}

  		//DEMO env - get EWS data (hardcoded)
  		//Get Vital pac EWS data in slim patient list - will be deprecated by APIs - DEMO ONLY
  		if (appMain.checkIfFeatureIsEnabledInAppConfig('enablePatientObsAndVitals') && this.Environment === 'Demo') {
  			patientView
  				.getSinglePatientEwsData(this.patient.PatientIdentifiers.PrimaryIdentifier.Value)
  				.then(response => {
  					//Append returned data to DOM.
  					if (response) {
  						this.EwsData.Class = response.EWS[0].Class;
  						this.EwsData.Score = response.EWS[0].Score;
  					}
  				})
  				.catch(function(error) {});
  		}
  	},
  	deforeDestroy() {},
  };
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../../less/app-variables.less';
  .patient-item {
  	padding: 8px;
  	display: flex;
  	box-sizing: border-box;
  	flex-direction: row;
  	border-bottom: 1px solid @row--border;
  	position: relative;
  	&:hover {
  		cursor: pointer;
  	}

  	&.active {
  		background: @list-item--active;
  	}

  	& .patient-data {
  		min-width: 80%;
  		flex-basis: 80%;
  		display: flex;
  		flex-direction: column;
  		padding-right: 8px;
  		flex-grow: 1;
  	}

  	& .patient-actions {
  		max-width: 20%;
  		flex-basis: 20%;
  		display: flex;
  		flex-direction: column;
  		align-items: flex-end;
  	}
  }
  .patient-item:first-of-type {
  	// border-top: 1px solid @row--border;
  }

  .patient-name {
  	padding: 0 0 8px 0;
  	font-size: 1.1em; //15px
  }

  .block {
  	font-weight: @font--medium;
  	color: @body-colour;
  }
  .block__label {
  	font-weight: @font--normal;
  	margin: 0 0.5em 0 0;
  	color: @text-light; //54% black
  }
  .popover-trigger {
  	&:hover {
  		color: @link--active;
  	}
  }
  .ews-svg-wrapper {
  	display: flex;
  	align-items: center;
  	margin: 0.5em 0 0 0;
  	color: @text-light; //54% black
  	& div {
  		display: inherit;
  	}
  }
  .patient-ews-wrapper {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	margin: 0.5em 0 0 0;
  }
  .patient-ews-score {
  	padding: 0.2em 0.5em;
  	font-size: 1em;
  }
</style>

<custom>Slin patient list patient record row</custom>
