<template>
  <div ref="item" v-bind:class="{'table__row':true, 'pure-g':true, 'active':isSelected}">
    <div class="body__cell u-screen-only pure-u-1-24 column-select">
      <template v-if="ListEditState.IsRemovingPatients">
        <ui-checkbox @change="patientSelectToggled" :checked="isSelected" v-model="IsSelected"></ui-checkbox>
      </template>
      <template v-else>
        <template v-if="!patient.IsInGroup">
          <!--Is pinned or not via this api property-->
          <i v-on:click="pinPatientToList" ref="smart-icon" class="popover-trigger material-icons">add</i>
          <ui-popover class="custom-popover" open-on="hover" trigger="smart-icon">
            <div>This patient is on the list due to Smart List settings. Click the icon to keep them on the list</div>
          </ui-popover>
        </template>
        <template v-else>
          <i ref="pin-icon" class="fa fa-thumb-tack pin-icon"></i>
          <ui-popover class="custom-popover" open-on="hover" trigger="pin-icon">
            <div>This patient has been pinned to the team list</div>
          </ui-popover>
        </template>
      </template>
    </div>
    <div class="body__cell pure-u-4-24 column-patient">
      <div class="u-strong patient-name" v-on:click="$emit('set-patient', {PatientId:patient.PatientExternalIdentifier, Patient:patient})"> {{patient.PatientFamilyName | toUpperCase}}, {{patient.PatientGivenName}} <template v-if="patient.PatientTitle">({{patient.PatientTitle}})
        </template>
      </div>
      <!--Meta, identifiers, DOB etc-->
      <div class="row-identifiers-wrapper">
        <div>
          <span class="identifier-label label first">Born</span>
          <span class="">{{patient.PatientDateOfBirth}}
            <span v-if="patient.AgeDescription">({{patient.AgeDescription}})</span>
          </span>
        </div>
        <template v-if="patient.DateOfDeath">
          <div>
            <span class="identifier-label label">Died:</span>
            <span class="">{{patient.DateOfDeath}}
              <span v-if="patient.AgeDescription">({{patient.AgeDescription}})</span>
            </span>
          </div>
        </template>
        <div v-if="patient.PatientIdentifiers.PrimaryIdentifier">
          <span class="identifier-label label">{{patient.PatientIdentifiers.PrimaryIdentifier.Label}}</span>
          <span>{{patient.PatientIdentifiers.PrimaryIdentifier.Value}}</span>
        </div>
        <template v-if="patient.PatientIdentifiers.AlternativeIdentifiers.length">
          <div v-for="(item) in patient.PatientIdentifiers.AlternativeIdentifiers" :key="item.Value">
            <span class="identifier-label label">{{item.Label}}</span>
            <span>{{item.Value}}</span>
          </div>
        </template>
      </div>
    </div>
    <div class="body__cell pure-u-3-24">
      <template v-if="patient.AreaName">
        {{patient.AreaName}} ({{patient.SiteName}})
      </template>
      <template v-else>
        {{patient.AreaName}}{{patient.SiteName}}
      </template>
    </div>
    <div class="body__cell pure-u-3-24">
      {{patient.Bay}}
      <template v-if="patient.Bay && patient.Bed">, </template>{{patient.Bed}}
    </div>
    <div class="body__cell pure-u-3-24"><template v-if="patient.AdmissionDate">{{patient.AdmissionDate | formatDate}}</template><template v-else></template></div>
    <div class="body__cell pure-u-1-24">

      <div v-if="EwsScoreComponentDataUri && Environment !== 'Demo'" class="ews-svg-wrapper">
        <div v-html="getSvgItem"></div>
      </div>

    </div>
    <div v-html="getEstimatedDischargeDate" class="body__cell pure-u-2-24"></div>
    <div class="body__cell pure-u-3-24">
      <template v-if="patient.Clinician">
        {{patient.Clinician.FullName}}
      </template>
    </div>
    <div class="body__cell pure-u-3-24">
      <div class="clinical-tag-wrapper">
        <template v-if="IsActiveInViewPort">
          <patient-clinical-tag @clinical-tag-removed="tagRemoved" v-for="(item) in patient.ClinicalTags" :key="item.ID" :item="item" :removal-reasons="ClinicalTagRemovalReasons" :patient-id="PatientId" :memberAreaId="MemberAreaId" :isSameTeamTag="item.AddedByGroupID === MemberAreaId"></patient-clinical-tag>
        </template>
      </div>
    </div>
    <div class="body__cell u-screen-only pure-u-1-24 column-actions">
      <PatientContextFab v-if="IsActiveInViewPort" widgetType="actions" :networkId="NetworkId" :memberAreaId="MemberAreaId" :patientId="PatientId" :permissions="Permissions"></PatientContextFab>
    </div>
  </div>

</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import GetPatientHospitalNumber from 'VueMixins/getPatientHospitalNumber';
  import StringToUpper from 'VueMixins/stringToUpperCase';
  /*Components*/
  import PatientClinicalTag from 'VueComponents/patientList/PatientClinicalTag';
  import PatientContextFab from 'VueComponents/fab/PatientContextFab';
  //import VueWaypoint from 'vue-waypoint';
  import * as GetMedwayGuid from 'Endpoints/medwayServices/patientServiceAPI/GetPatientMedwayGuid';
  import * as GetVitalsObervations from 'Endpoints/medwayServices/careflowVitals/GetVitalsObservations';
  import * as InpatientService from 'Endpoints/medwayServices/inpatientServices/InpatientService';

  /* API Endpoints */

  export default {
  	data() {
  		return {
  			IsActiveInViewPort: false,
  			IsLoading: false,
  			IsSelected: false,
  			PatientData: this.patient,
  			PatientId: this.patientId,
  			NetworkId: this.networkId,
  			MemberAreaId: this.memberAreaId,
  			ListEditState: this.listEditState,
  			ClinicalTagRemovalReasons: this.clinicalTagRemovalReasons,
  			Permissions: this.permissions,
  			PatientHospitalNumber:
  				this.getPatientHospitalNumberFromIdentifiers(
  					this.patient.PatientIdentifiers
  				) || null,
  			Environment: appMain.getCurrentEnvironment() || '',
  			EWSLastUpdatedDate: null,
  			PatientEws: null,
  			EwsScoreComponentDataUriContentType: null,
  			EwsScoreComponentDataUri: null,
  			PatientMedwayGuid: null,
  			DischargePlans: [],
  			InpatientSpellId: null
  		};
  	},
  	props: {
  		patient: {
  			type: [Object, String],
  			required: true
  		},
  		patientId: {
  			type: [String, Number],
  			required: true
  		},
  		permissions: {
  			type: [Array],
  			required: false
  		},
  		listEditState: {
  			type: [Object, String],
  			required: true
  		},
  		isSelected: {
  			type: [Boolean],
  			required: true
  		},
  		networkId: {
  			type: [String, Number],
  			required: true
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: true
  		},
  		clinicalTagRemovalReasons: {
  			type: [Object, Array],
  			required: true
  		}
  	},
  	components: { PatientClinicalTag, PatientContextFab },
  	mixins: [DateFilter, StringToUpper, GetPatientHospitalNumber],
  	filters: {},
  	watch: {
  		isSelected(newVal, oldVal) {
  			//From parent
  			if (newVal === this.IsSelected) return;
  			return (this.IsSelected = newVal);
  		},
  		IsLoading(newVal, oldVal) {
  			this.$emit('child-component-busy-toggle', newVal);
  		}
  	},
  	computed: {
  		getSvgItem() {
  			if (!this.EwsScoreComponentDataUri || this.Environment === 'Demo')
  				return false;
  			return `${this.EwsScoreComponentDataUri}`;
  		},
  		getEwsClass() {
  			if (!this.EwsData.Class || this.Environment !== 'Demo') return '';
  			return 'patient-ews-score ' + this.EwsData.Class;
  		},
  		getEstimatedDischargeDate() {
  			if (
  				this.DischargePlans.length &&
  				this.DischargePlans[0].estimatedDateOfDischarge
  			) {
  				return `${this.$options.filters.formatDate(
  					this.DischargePlans[0].estimatedDateOfDischarge
  				)}`;
  			}
  			return ``;
  		}
  	},

  	methods: {
  		pinPatientToList() {
  			if (this.IsLoading) return;
  			this.$emit('pin-patient-to-list', this.patientId);
  		},
  		patientSelectToggled(isSelectedBool) {
  			this.$emit('patient-selected-toggled', {
  				Id: this.PatientData.PatientExternalIdentifier,
  				Status: isSelectedBool
  			});
  		},
  		tagRemoved(obj) {
  			//Will cascade up, mutate prop reference from parent, so patient will add to master cache list - TODO: refactor as event
  			const index = this.patient.ClinicalTags.findIndex(
  				item => item.ID === obj.TagId && item.AddedByGroupID === obj.GroupId
  			);

  			if (index !== -1) return this.patient.ClinicalTags.splice(index, 1);
  			return;
  		},
  		getPatientEws() {
  			if (!this.PatientHospitalNumber || this.Environment === 'Demo')
  				return Promise.reject();

  			return GetVitalsObervations.getEws(this.PatientHospitalNumber)
  				.then((response, status, xhr, fullResponse) => {
  					if (
  						Object.keys(response.data).length === 0 ||
  						!response.data.hasOwnProperty('entry')
  					) {
  						return Promise.reject();
  					}
  					this.EWSLastUpdatedDate =
  						response.data.entry[0].resource.meta.lastUpdated;
  					this.PatientEws = response.data.entry;
  					this.EwsScoreComponentDataUriContentType =
  						response.data.entry[0].resource.component[0].valueAttachment.contentType;
  					this.EwsScoreComponentDataUri = atob(
  						response.data.entry[0].resource.component[0].valueAttachment.data
  					); //Decode base64 string
  				})
  				.catch(error => {});
  		},
  		getPatientMedwayGuid() {
  			return new Promise((resolve, reject) => {
  				if (this.patientMedwayGuid) return resolve(this.patientMedwayGuid);
  				GetMedwayGuid.getPatientMedwayGuid(
  					this.patientId,
  					this.patient,
  					this.PatientHospitalNumber
  				)
  					.then(response => {
  						if (!response) return reject();
  						this.PatientMedwayGuid = response.patientId;
  						return resolve(this.PatientMedwayGuid);
  					})
  					.catch(error => {
  						reject();
  					});
  			});
  		},
  		getInpatientData() {
  			InpatientService.getPatientSpells(this.PatientMedwayGuid)
  				.then(response => {
  					console.log(response.data);
  					this.InpatientSpellId = response.data.results
  						? response.data.results[0].spellId
  						: null;
  					return this.InpatientSpellId;
  				})
  				.then(response => {
  					InpatientService.getDischargePlans(response).then(response => {
  						this.DischargePlans =
  							response.data && response.data.results
  								? response.data.results.filter(x => x.active)
  								: [];
  					});
  				})
  				.catch(error => {
  					alert(JSON.stringify(error));
  				});
  		}
  	},
  	created() {},
  	mounted() {
  		//Scroll to the row
  		if (this.patient.PatientExternalIdentifier === this.activePatientId) {
  			this.scrollToEl(this.$refs['item']);
  		}

  		//Observer
  		// Element to be observed
  		let el = this.$refs['item'];
  		// Create new IntersectionObserver
  		const io = new IntersectionObserver(
  			entries => {
  				//if (this.HasBeenVisible) return;
  				// Available data when an intersection happens
  				console.log(entries);
  				// Element enters the visible area of its parent element
  				if (entries[0].intersectionRatio !== 0) {
  					//can be array of intersection points, see browser API docs
  					console.log('im hit by IntersectionObserver');
  					this.IsActiveInViewPort = true;
  					this.getPatientEws().catch(error => {});
  					this.getPatientMedwayGuid()
  						.then(this.getInpatientData)
  						.then(response => {})
  						.catch(error => {});

  					io.disconnect(); //All done, so disconnect
  					// Element leaves the visible area of its parent element
  				} else {
  					console.log('i have left IntersectionObserver');
  				}
  			},
  			{
  				// Define an element as the root
  				root: document.querySelector('.js-patient-list-scroll')
  			}
  		);
  		// Start observing
  		io.observe(el);
  	},
  	deforeDestroy() {}
  };
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../../less/app-variables.less';

  & .table__row {
  	& .body__cell {
  		flex-grow: 1;
  		height: 100%;
  		&.column-select {
  			max-width: 25px;
  			display: flex;
  			padding-top: 0;
  			padding-left: 0;
  			justify-content: center;
  		}
  		&.column-actions {
  			max-width: 45px;
  			display: flex;
  			height: auto;
  			//justify-content: center;
  		}

  		&.column-patient {
  			display: flex;
  			flex-flow: column;
  			//max-width: 300px;
  			& .patient-name {
  				color: @link--active;
  				&:hover {
  					cursor: pointer;
  				}
  			}
  			& .row-identifiers-wrapper {
  				margin: 0.5em 0 0 0;
  			}
  		}
  	}
  }

  .clinical-tag-wrapper {
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	align-items: flex-start;
  	align-content: flex-start;
  	width: 100%;
  }
  .popover-trigger {
  	&:hover {
  		color: @link--active;
  		cursor: pointer;
  	}
  }
  .pin-icon {
  	font-size: 15px;
  	position: relative;
  	top: 0.3em;
  	color: @text-light;
  	&:hover {
  	}
  }
</style>

<custom>Team patient list table - patient row</custom>
