<template>
  <div ref="item" v-bind:class="{'table__row':true, 'body__row':true, 'body__patient-row':true, 'pure-g':true, 'active':listEditState.SelectedPatients.includes(PatientData.PatientExternalIdentifier)}">
    <div class="body__cell u-screen-only pure-u-1-24 column-select">
      <template v-if="listEditState.IsRemovingPatients && IsActiveInViewPort">
        <ui-checkbox @change="patientSelectToggled" :checked="isSelected" v-model="IsSelected"></ui-checkbox>
      </template>
      <template v-else>
        <template v-if="!PatientData.IsInGroup && IsActiveInViewPort">
          <!--Is pinned or not via this api property-->
          <i v-on:click="pinPatientToList" ref="pin-patient-popover" class="popover-trigger material-icons">add</i>
          <ui-popover class="custom-popover" open-on="hover" trigger="pin-patient-popover">
            <div>This patient is on the list due to Smart List settings. Click the icon to keep them on the list</div>
          </ui-popover>
        </template>
      </template>
    </div>
    <div class="body__cell sbar-meta-wrapper pure-u-2-24 column-bay-bed">
      {{PatientData.Bay}}
      <!--
			--><template v-if="PatientData.Bay && PatientData.Bed">, </template>{{PatientData.Bed}}
    </div>
    <div class="body__cell sbar-meta-wrapper pure-u-4-24 column-patient">
      <div class="meta__name">
        <a class="u-strong" :href="'#/'+ NetworkId +'/Teams/'+ MemberAreaId +'/Patients/'+ PatientData.PatientExternalIdentifier">
          {{PatientData.PatientFamilyName | toUpperCase}}, {{PatientData.PatientGivenName}}
          <template v-if="PatientData.PatientTitle">
            ({{PatientData.PatientTitle}})
          </template>
        </a>
      </div>
      <div class="patient__data--identifiers meta__identifiers">
        <div>
          <span class="label first">Born</span>
          <span class="">{{PatientData.PatientDateOfBirth}}
            <span v-if="PatientData.AgeDescription">({{PatientData.AgeDescription}})</span>
          </span>
        </div>
        <template v-if="PatientData.DateOfDeath">
          <div>
            <span class="label">Died:</span>
            <span class="">{{PatientData.DateOfDeath}}
              <span v-if="PatientData.AgeDescription">({{PatientData.AgeDescription}})</span>
            </span>
          </div>
        </template>
        <div v-if="PatientData.PatientIdentifiers.PrimaryIdentifier">
          <span class="label">{{PatientData.PatientIdentifiers.PrimaryIdentifier.Label}}</span>
          <span>{{PatientData.PatientIdentifiers.PrimaryIdentifier.Value}}</span>
        </div>

        <template v-if="PatientData.PatientIdentifiers.AlternativeIdentifiers.length">
          <div v-for="(item) in PatientData.PatientIdentifiers.AlternativeIdentifiers" :key="item.Value">
            <span class="label">{{item.Label}}</span>
            <span>{{item.Value}}</span>
          </div>
        </template>

        <div class="meta__clinician" v-if="PatientData.Clinician">
          <span class="label">Consultant</span>{{PatientData.Clinician.FullName}}</div>
      </div>
      <!--Tags-->
      <div class="clinical-tag-wrapper">
        <template v-if="IsActiveInViewPort">
          <patient-clinical-tag @clinical-tag-removed="tagRemoved" v-for="(item, index) in PatientData.ClinicalTags" :key="index" :item="item" :removal-reasons="ClinicalTagRemovalReasons" :patient-id="PatientId" :memberAreaId="MemberAreaId"></patient-clinical-tag>
        </template>
      </div>
    </div>
    <!--SBAR-->
    <div class="pure-u-16-24 body__cell sbar-wrapper">
      <template v-if="IsActiveInViewPort">
        <HandoverListTableRowSbarFields @save-handover-note="saveHandover" @profile-edit-active="setProfileEditState" v-for="(item,index) in getPatientActiveHandoverNotes" :key="index" :item="item" :memberAreaId="MemberAreaId" :isLoading="IsLoading" :isLastRow="index === getPatientActiveHandoverNotes.length - 1" :canViewProfilesForNetwork="canViewProfilesForNetwork" :profileEditActive="ProfileEditActive"></HandoverListTableRowSbarFields>
        <div v-if="getHandoversForNonSelectedProfiles.length" class="other-profiles-row pure-u-1">
          <span class="other-profiles-row__label">More profiles:</span>
          <span class="other-profiles-row__item" v-for="(item, index) in getHandoversForNonSelectedProfiles" :key="item.Id">
            <span class="u-bold">{{item.ProfileName}}</span> ({{item.Date | formatDate}})
            <!--
					  --><template v-if="index + 1 < getHandoversForNonSelectedProfiles.length">, </template>
          </span>
        </div>
      </template>

    </div>
    <div class="body__cell u-screen-only pure-u-1-24 column-actions">
      <PatientContextFab v-if="IsActiveInViewPort" widgetType="actions" :networkId="NetworkId" :memberAreaId="MemberAreaId" :patientId="PatientId" :permissions="Permissions"></PatientContextFab>
    </div>
  </div>
</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import ScrollToEl from 'VueMixins/scrollToElement';
  import GetGuid from 'VueMixins/getGuid';
  import StringToUpper from 'VueMixins/stringToUpperCase';
  /*Components*/
  import HandoverListTableRowSbarFields from 'VueComponents/patientList/components/HandoverListTableRowSbarFields';
  import PatientClinicalTag from 'VueComponents/patientList/PatientClinicalTag';
  import PatientContextFab from 'VueComponents/fab/PatientContextFab';
  //import VueWaypoint from 'vue-waypoint';

  /* API Endpoints */
  import AddPatientToGroupList from 'Endpoints/patients/AddPatientToGroupList';
  import UpsertHandoverNote from 'Endpoints/patients/UpsertHandoverNote';
  import Vault from 'Endpoints/careflowApp/Vault';
  //let observer;
  export default {
  	data() {
  		return {
  			IsLoading: false,
  			IsActiveInViewPort: false, //default
  			IsSelected: false,
  			PatientData: this.patient,
  			//HandoverStaging: this.getHandoverStagingModel(),
  			//IsEditingHandover: false,
  			Permissions: this.permissions,
  			PatientId: this.patientId,
  			NetworkId: this.networkId,
  			MemberAreaId: this.memberAreaId,
  			MemberAreaName: appMain.getMemberAreaName(this.memberAreaId) || '',
  			ListEditState: this.listEditState,
  			ClinicalTagRemovalReasons: this.clinicalTagRemovalReasons,
  			ProfileEditActive: false
  		};
  	},
  	props: {
  		patient: {
  			type: [Object, String],
  			required: true
  		},
  		patientId: {
  			type: [String, Number],
  			required: true
  		},
  		permissions: {
  			type: [Array],
  			required: false
  		},
  		listEditState: {
  			type: [Object, String],
  			required: true
  		},
  		isSelected: {
  			type: [Boolean],
  			required: true
  		},
  		networkId: {
  			type: [String, Number],
  			required: true
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: true
  		},
  		clinicalTagRemovalReasons: {
  			type: [Object, Array],
  			required: true
  		},
  		listType: {
  			type: [String],
  			required: false,
  			default: ''
  		},
  		mappedTeamRoles: {
  			type: [Object, Array],
  			required: false,
  			default: null
  		},
  		canViewProfilesForNetwork: {
  			//Master permission for profile enabled networks - passed from parent
  			type: [Boolean],
  			required: true
  		}
  	},
  	components: {
  		PatientClinicalTag,
  		PatientContextFab,
  		HandoverListTableRowSbarFields
  	},
  	mixins: [DateFilter, StringToUpper, GetGuid],
  	filters: {
  		toUppercase(val) {
  			if (val) return val.toUpperCase();
  			return val;
  		}
  	},
  	watch: {
  		isSelected(newVal, oldVal) {
  			//From parent
  			if (newVal === this.IsSelected) return;
  			return (this.IsSelected = newVal);
  		},
  		IsLoading(newVal, oldVal) {
  			this.$emit('child-component-busy-toggle', newVal);
  		},
  		patient: {
  			//Watch for changes in prop coming down from parent, update the returned data func (maybe modal updated handover?)
  			handler(newVal, oldVal) {
  				if (newVal) {
  					this.PatientData = newVal;
  					return this.setHandoverNotesClone();
  				}
  			},
  			deep: true
  		}
  	},
  	computed: {
  		getPatientActiveHandoverNotes() {
  			if (this.canViewProfilesForNetwork && !this.mappedTeamRoles.length)
  				return [];
  			if (
  				this.canViewProfilesForNetwork &&
  				this.PatientData.HandoverNotes &&
  				this.mappedTeamRoles &&
  				this.mappedTeamRoles.length
  			) {
  				//V11 api - profiles ENABLED
  				return this.mappedTeamRoles
  					.map(x => {
  						const roleHandover = this.PatientData.HandoverNotes.filter(y => {
  							//Is patient data
  							if (y.Profile.ExternalIdentifier === x.ExternalIdentifier)
  								return x;
  							return null;
  						}).filter(Boolean);

  						return {
  							ExternalIdentifier: x.ExternalIdentifier,
  							Colour: x.Colour,
  							Name: x.Name,
  							RoleHandoverExists: roleHandover.length > 0,
  							HandoverNotes:
  								roleHandover.length > 0
  									? roleHandover[0]
  									: this.getHandoverStagingModel()[0]
  						};
  					})
  					.sort((obj1, obj2) => {
  						return (
  							obj1.HandoverNotes.Profile.Order -
  							obj2.HandoverNotes.Profile.Order
  						);
  					}); // Ascending: first age less than the previous
  			} else {
  				//No team roles enabled (!mappedTeamRoles / no permission) - will be single instance - 'Default' if present
  				if (
  					this.PatientData.HandoverNotes &&
  					this.PatientData.HandoverNotes.length
  				) {
  					return this.PatientData.HandoverNotes.map(x => {
  						return {
  							ExternalIdentifier: x.Profile
  								? x.Profile.ExternalIdentifier
  								: null,
  							Colour: x.Profile ? x.Profile.Colour : null,
  							Name: x.Profile ? x.Profile.Name : null,
  							RoleHandoverExists: x.Notes ? x.Notes.length > 0 : false,
  							HandoverNotes:
  								x.Notes && x.Notes.length > 0
  									? x
  									: this.getHandoverStagingModel()[0]
  						};
  					}).sort((obj1, obj2) => {
  						if (!this.canViewProfilesForNetwork) return;
  						return (
  							obj1.HandoverNotes.Profile.Order -
  							obj2.HandoverNotes.Profile.Order
  						);
  					}); // Ascending: first age less than the previous || []
  				} else {
  					//New handover
  					return [
  						{
  							ExternalIdentifier: null,
  							Colour: null,
  							Name: null,
  							RoleHandoverExists: false,
  							HandoverNotes: this.getHandoverStagingModel()[0]
  						}
  					];
  				}
  			}
  		},
  		getHandoversForNonSelectedProfiles() {
  			if (!this.canViewProfilesForNetwork || !this.PatientData.HandoverNotes)
  				return [];

  			let filteredHandovers = this.PatientData.HandoverNotes.map(x => {
  				const handoverIsSelectedForDisplay =
  					this.mappedTeamRoles.filter(y => {
  						return y.ExternalIdentifier === x.Profile.ExternalIdentifier;
  					}).length > 0;

  				if (!handoverIsSelectedForDisplay)
  					return {
  						ProfileName: x.Profile.Name,
  						Date: x.DateLastUpdated,
  						Id: x.ExternalIdentifier
  					};
  				return null;
  			}).filter(Boolean);

  			return filteredHandovers || null;
  		},
  		thereAreHandoverNotes() {
  			//Handle legacy (v10) and profiles (v11)
  			// if (this.PatientData.HandoverNotes) {
  			// 	return (
  			// 		this.PatientData.HandoverNotes.filter(x => {
  			// 			if (x.IsCurrent) return x;
  			// 			return null;
  			// 		}).filter(Boolean).length > 0
  			// 	);
  			// }
  			return (
  				this.PatientData.HandoverNotes.filter(x => {
  					if (x.IsCurrent) return x;
  					return null;
  				}).filter(Boolean).length > 0
  			);
  		}
  	},

  	methods: {
  		// onWaypoint({ going, direction }) {
  		// 	//	if (this.IsActiveInViewPort) return;
  		// 	if (!observer || this.IsActiveInViewPort) return;
  		// 	  console.log('im fired!!!! - ' + going + ' ----- ' + this.IsActiveInViewPort)
  		// 	console.log(this.$waypointMap);
  		// 	//https://github.com/scaccogatto/vue-waypoint
  		// 	// going: in, out
  		// 	// direction: top, right, bottom, left
  		// 	//console.log(this.$waypointMap);
  		// 	if (going === this.$waypointMap.GOING_IN) {
  		// 	this.IsActiveInViewPort = true;
  		// 	this.$removeObserver(observer, this.$refs['item']);
  		// 		}
  		// },
  		pinPatientToList() {
  			//TODO: event $emit trigger, not prop mutation
  			if (this.IsLoading) return;
  			this.IsLoading = true;
  			return AddPatientToGroupList.callApi(
  				this.memberAreaId,
  				this.PatientData.PatientExternalIdentifier
  			)
  				.then((response, status, xHR) => {
  					this.patient.IsInGroup = true; /*Will cascade up, mutate prop reference from parent, so patient will add to master cache list*/
  					this.IsLoading = false;
  				})
  				.fail(error => {
  					this.IsLoading = false;
  				});
  		},
  		patientSelectToggled(isSelectedBool) {
  			this.$emit('patient-selected-toggled', {
  				Id: this.PatientData.PatientExternalIdentifier,
  				Status: isSelectedBool
  			});
  		},
  		tagRemoved(obj) {
  			//Will cascade up, mutate prop reference from parent, so patient will add to master cache list
  			const index = this.patient.ClinicalTags.findIndex(
  				item => item.ID === obj.TagId && item.AddedByGroupID === obj.GroupId
  			);

  			if (index !== -1) return this.patient.ClinicalTags.splice(index, 1);
  			return;
  		},
  		setHandoverNotesClone() {
  			//if (this.thereAreHandoverNotes) return (this.HandoverStaging = JSON.parse(JSON.stringify(this.patient.HandoverNotes)));
  			//return (this.HandoverStaging = this.getHandoverStagingModel());
  		},
  		saveHandover(obj) {
  			/*Trigged from child component*/
  			if (!obj) return;
  			this.IsLoading = true;
  			UpsertHandoverNote.callApi(
  				this.MemberAreaId,
  				obj.Notes[0].Value,
  				obj.Notes[1].Value,
  				obj.Notes[2].Value,
  				obj.Notes[3].Value,
  				this.PatientId,
  				this.canViewProfilesForNetwork
  					? obj.Profile.ExternalIdentifier
  					: undefined
  			)
  				.then((response, textStatus, xhr) => {
  					if (/^2/.test(xhr.status)) {
  						//Set new notes
  						obj.PatientExternalIdentifier = this.patientId || null; //Add patient ID to obj
  						this.$emit('handover-note-saved', obj); //Pass to parent
  						//this.setHandoverNotesClone();
  						this.IsLoading = false;
  					}
  				})
  				.fail(error => {
  					this.IsLoading = false;
  					//TODO handle error
  				});
  		},
  		getHandoverStagingModel() {
  			return [
  				//Default, overwritten by deep copy if thereAreHandoverNotes
  				{
  					AddedPriorToAdmissionDate: false,
  					DateLastUpdated: '', //Important for spells data
  					DaysSinceLastUpdate: '',
  					GroupName: this.MemberAreaName, //Is team context - List
  					IsCurrent: true,
  					MemberAreaId: this.memberAreaId,
  					Notes: [
  						{
  							Key: 'Situation',
  							Position: 0,
  							Value: ''
  						},
  						{
  							Key: 'Background',
  							Position: 1,
  							Value: ''
  						},
  						{
  							Key: 'Assesment',
  							Position: 2,
  							Value: ''
  						},
  						{
  							Key: 'Recommendation',
  							Position: 3,
  							Value: ''
  						}
  					],
  					Scope: 'TeamRole',
  					Profile: {
  						Colour: '',
  						ExternalIdentifier: '',
  						Name: 'Default',
  						NotFound: false
  					},
  					UpdatedByName: Vault.getItem('LoggedInUserName') || ''
  				}
  			];
  		},
  		setProfileEditState(val) {
  			this.ProfileEditActive = val;
  		}
  		// jsonEqual(a, b) {
  		// 	if (!a) a = {};
  		// 	if (!b) b = {};

  		// 	return JSON.stringify(a) === JSON.stringify(b);
  		// }
  	},
  	created() {
  		this.setHandoverNotesClone();
  	},
  	mounted() {
  		//Scroll to the row
  		if (this.patient.PatientExternalIdentifier === this.activePatientId) {
  			this.scrollToEl(this.$refs['item']);
		  }

		  //Observer
		// Element to be observed
  		let el = this.$refs['item'];
  		// Create new IntersectionObserver
  		const io = new IntersectionObserver(
  			entries => {
  				//if (this.HasBeenVisible) return;
  				// Available data when an intersection happens
  				console.log(entries);
  				// Element enters the visible area of its parent element
  				if (entries[0].intersectionRatio !== 0) {
  					//can be array of intersection points, see browser API docs
  					console.log('im hit by IntersectionObserver');
  					this.IsActiveInViewPort = true;
					io.disconnect(); //All done, so disconnect
  					// Element leaves the visible area of its parent element
  				} else {
					  console.log('i have left IntersectionObserver');
  				}
  			},
  			{
  				// Define an element as the root
  				root: document.querySelector('.js-patient-list-scroll')
  			}
  		);
  		// Start observing
  		io.observe(el);

  		// this.$nextTick(() => {
  		// 	observer = this.$addObserver(this.$refs['item'], this.onWaypoint, {
  		// 		//Waypoint
  		// 		root: document.getElementsByClassName('js-patient-list-scroll')[0],
  		// 		rootMargin: '0px 0px 0px 0px',
  		// 		threshold: 0.35 // https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API
  		// 	});
  		// });
  	},
  	deforeDestroy() {
  		//if (observer) this.$removeObserver(observer, this.$refs['item']);
  	}
  };
</script>

<style scoped lang="less" type="text/less">
  @import '../../../../../less/app-variables.less';

  .table__row {
  	& .cell-footer {
  		padding: 0;
  		& div[class^='pure-u'] {
  			padding: 0;
  		}
  	}
  	& .other-profiles-row {
  		margin: 1em 0 0 0;
  		//display: flex;
  		flex-direction: row;
  		color: @text-light;
  		& .other-profiles-row__item {
  			//display: flex;
  		}
  		& .other-profiles-row__label {
  			margin: 0 0.5em 0 0;
  			font-weight: @font--medium;
  		}
  	}
  }
  .body__row {
  	margin: 0;
  }

  .body__cell {
  	flex-grow: 1;
  	&.hover {
  		&:hover {
  			cursor: pointer;
  		}
  	}

  	&.column-bay-bed {
  		max-width: 90px;
  		display: flex;
  		//justify-content: center;
  	}

  	&.column-patient {
  		display: flex;
  		max-width: 300px;
  		flex-direction: column;
  		& .meta__name {
  			width: 100%;
  			margin: 0 0 1em 0;
  		}
  		& .meta__identifiers {
  			display: flex;
  			flex-direction: column;
  			flex-wrap: wrap;
  			word-break: break-all;
  			word-wrap: break-word;
  			width: 100%;
  		}
  	}

  	&.column-select {
  		max-width: 25px;
  		display: flex;
  		//justify-content: center;
  	}
  	&.column-actions {
  		max-width: 45px;
  		display: flex;
  		//justify-content: center;
  	}

  	&.sbar-wrapper {
  		align-content: flex-start;
  	}
  }
  .meta__clinician {
  	margin: 0.3em 0 0 0;
  }

  .clinical-tag-wrapper {
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	align-items: flex-start;
  	align-content: flex-start;
  	padding: 0;
  	margin: 3em 0 0 0;
  	width: 100%;
  }
  .popover-trigger {
  	&:hover {
  		color: @link--active;
  		cursor: pointer;
  	}
  }
</style>

<custom>Team patient list table - patient row</custom>
