<template>
  <div class="team-list-item">
    <div class="item-meta">
      <a :href="getTeamHref" :title="team.Name">{{team.Name}}</a>
    </div>
    <div class="item-actions">
      <span v-if="unreadItems.length" class="u-new-content-badge" v-html="getTeamUnreadCount"></span>
      <ui-icon-button @dropdown-open="menuOpened" type="secondary" color="primary" size="normal" has-dropdown icon="more_horiz" ref="dropdown">
        <ui-menu :containFocus="true" contain-focus has-icons slot="dropdown" :options="getMenuOptions" @select="optionSelected" @close="menuClosed"></ui-menu>
      </ui-icon-button>
    </div>

  </div>
</template>

<script>
  /*API*/
  import LeaveAccessGroup from 'Endpoints/groups/LeaveAccessGroup';
  /*Utils*/
  import PubSub from 'Endpoints/careflowApp/PubSub';
  import Vault from 'Endpoints/careflowApp/Vault';
  /*Components*/
  import ManageTeamsComponent from 'VueComponents/usersTeamManagement/ManageTeamMemberships';
  import appMain from 'AppJs/app-main';
  import appRouter from 'AppJs/app-router';

  export default {
  	data: function() {
  		return {
  			IsLoading: false,
  			ActiveUrl: appRouter.careflowAppRouter.getLocation(),
  			Permissions: appMain.getUserPermissionsForMemberArea(this.team.MemberAreaID),
  			TeamCanViewTasks: Vault.getItem('NetworkTeamsAllowingTasks').filter(item => item.MemberAreaId === this.team.MemberAreaID).length > 0 || false, //Tasks Lookup. In the absence of a 'Team' level permission, per iOs, we call TaskMeta Data to see if the Team should have task features enabled. API returns GroupsAllowingTasks property,
  		};
  	},
  	props: {
  		team: {
  			type: [Object],
  			required: true,
  		},
  		networkId: {
  			type: [Number],
  			required: true,
  		},
  		unreadItems: {
  			type: [Array],
  			required: false,
  			default: () => {
  				return [];
  			},
  		},
  	},
  	mixins: [],
  	components: {},
  	filters: {},

  	methods: {
  		menuOpened() {
  			//this.Permissions = appMain.getUserPermissionsForMemberArea(this.team.MemberAreaID);
  			//this.$refs.dropdown.positionDrop();
  		},
  		optionSelected(option) {
  			if (!option) return;
  			if (option.id === 'fab-leave-team') return this.leaveTeam();
  			return appRouter.careflowAppRouter.setLocation(option.url);
  		},
  		menuClosed() {},

  		leaveTeam() {
  			return new Promise((resolve, reject) => {
  				const accessGroupId = appMain.getAccessGroupId(this.team.MemberAreaID);

  				this.IsLoading = true;

  				LeaveAccessGroup.callApi(accessGroupId)
  					.then((data, textStatus, jQXHr) => {
  						//If successful, the local copy of GetRequestingUserSummary must be updated with new permissions and nav rebuild triggered

  						if (/^2/.test(jQXHr.status)) {
  							appMain.getRequestingUserSummary().then(response => {
  								this.IsLoading = false;
  								this.$emit('user-left-team', {
  									MemberAreaId: this.team.MemberAreaID,
  									Status: jQXHr.status,
  								});

  								appMain.triggerAppNotification({
  									Text: 'You have now left ' + this.team.Name,
  									Heading: `Team memberships updates`,
  									Icon: 'success',
  								});
  							});
  						} else {
  							this.IsLoading = false;
  							reject();
  						}
  					})
  					.fail(() => {
  						this.IsLoading = false;
  						reject();
  					});
  			});
  		},
  	},
  	computed: {
  		getTeamUnreadCount() {
  			if (!this.unreadItems.length) return ``;
  			if (this.unreadItems[0].Updates > 99) return `99+`;
  			return this.unreadItems[0].Updates;
  		},
  		getMenuOptions() {
  			let response = [];

  			if (this.Permissions.includes('ReadContent')) {
  				response.push({
  					id: 'fab-updates',
  					label: 'Team updates',
  					//icon: '',
  					secondaryText: '',
  					url: `/#/${this.networkId}/Teams/${this.team.MemberAreaID}/TeamUpdates`,
  					disabled: this.IsLoading || false,
  				});
  			}

  			if (this.Permissions.includes('ViewPatients')) {
  				response.push({
  					id: 'fab-patients',
  					label: 'Patient list',
  					//icon: '',
  					secondaryText: '',
  					url: `/#/${this.networkId}/Teams/${this.team.MemberAreaID}/Patients`,
  					disabled: this.IsLoading || false,
  				});
  			}

  			if (this.Permissions.includes('UpsertHandoverNote')) {
  				response.push({
  					id: 'fab-handover',
  					label: 'Handover',
  					//icon: '',
  					secondaryText: '',
  					url: `/#/${this.networkId}/Teams/${this.team.MemberAreaID}/PatientListHandovers`,
  					disabled: this.IsLoading || false,
  				});
  			}

  			if (this.TeamCanViewTasks) {
  				response.push({
  					id: 'fab-tasks',
  					label: 'Tasks',
  					//icon: '',
  					secondaryText: '',
  					url: `/#/${this.networkId}/Teams/${this.team.MemberAreaID}/Tasks`,
  					disabled: this.IsLoading || false,
  				});
  			}

  			if (this.Permissions.includes('ReferPatient')) {
  				response.push({
  					id: 'fab-referrals',
  					label: 'Referrals',
  					//icon: '',
  					secondaryText: '',
  					url: `/#/${this.networkId}/Teams/${this.team.MemberAreaID}/TeamReferrals`,
  					disabled: this.IsLoading || false,
  				});
  			}

  			if (this.Permissions.includes('ViewUsersProfile')) {
  				response.push({
  					id: 'fab-directory',
  					label: 'Directory',
  					//icon: '',
  					secondaryText: '',
  					url: `/#/${this.networkId}/Teams/${this.team.MemberAreaID}/TeamDirectory`,
  					disabled: this.IsLoading || false,
  				});
  			}

  			response.push({
  				type: 'divider',
  			}),
  				response.push({
  					id: 'fab-leave-team',
  					label: 'Leave team',
  					//icon: '',
  					secondaryText: '',
  					disabled: this.IsLoading || false,
  				});
  			return response;
  		},
  		getTeamHref() {
  			return `/#/${this.networkId}/Teams/${this.team.MemberAreaID}`;
  		},
  	},
  	watch: {},
  	created: function() {},
  	beforeDestroy() {},
  	mounted: function() {},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},
  };
</script>
<style lang="less">
  .team-list-item {
  	//UNSCOPED - wrap in parent class
  	& .u-new-content-badge {
  		position: relative;
  		top: 0;
  		right: 0;
  		margin: 0 0.8em 0 0.8em;
  		box-shadow: none;
  	}
  }
</style>


<style lang="less" scoped>
  @import '../../../../../less/app-variables.less';
  .team-list-item {
  	position: relative;
  	display: flex;
  	align-items: center;
  	width: 100%;
  	flex-wrap: nowrap;
  	border-bottom: 1px solid @row--border;
  	padding: 0.2em 0.8em;
  	box-sizing: border-box;
  	&:last-of-type {
  		margin-bottom: 5em;
  	}
  }
  .item-meta {
  	flex-basis: 70%;
  	display: flex;
  }
  .item-actions {
  	flex-basis: 30%;
  	display: flex;
  	margin-left: auto;
  	align-items: center;
  	align-content: center;
  	justify-content: flex-end;
  }
</style>
