﻿@media (min-width: 0) and (max-width: 80em) {
  /*Main Nav*/
  .appMainNavigation__li--patientSearch {
    margin-right: .8em;
  }
  .appMainNavigation-patient-search-txt {
    width: 95px;
  }
  .appMainNavigation-patient-search-txt--submitBtn {
    padding: 0 .5em 0 .2em;
  }
  .appMainNavigation__li {
    padding: 1em .5em;
    margin: 0;
  }
  .appMainNavigation__li--user-settings {
    margin: 0 0 0 1em;
  }
  /*Group nav team name, clamped text*/
  /*.groupNavigation__teamLabel-wrapper {
    max-width: 245px;
    min-width: 160px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}*/
  /*Group nav*/
  .teamPatientView__nav-ul .nav-ul-li .ul-li-href {
    padding: 1em .9em 1.1em;
  }
  .teamPatientView__nav-ul .nav-ul-li .ul-li-href[data-viewurl='patient-rapport-test'] {
    display: none;
  }
  /*Patient Summary / dashboard*/
  .patientSummary__col1 {
    padding: 0 .5em 0 0;
    box-sizing: border-box;
  }
  .patientSummary__col3 {
    padding: 0 0 0 .5em;
    box-sizing: border-box;
  }
  span[class^=patient-observations__interpretation] {
    margin: 0 0 0 .5em;
  }
  .teamPatientList__patient .patient__name {
    font-size: .9em;
  }
  .teamPatientList__patient .patientList__patientIdentifier {
    font-size: .9em;
  }
  .patient-updates__meta {
    text-align: left;
    font-size: .9em !important;
  }
  .patient-tasks__meta {
    font-size: .9em !important;
    text-align: left;
    margin: 2px 0 0 0;
  }
  .patient-observations {
    padding: 0 0 0 1em;
  }
  .patient-results__value {
    font-size: .9em !important;
    text-align: left;
  }
  .patient-results {
    padding: 0 0 0 1em;
  }
  /*Patient Lists*/
  .patientList-filters__ddl-trigger-btn {
    width: 17em;
    margin: 0 1em 0 0;
  }
  .patientContextActions__launchModal-btn {
    padding: .6em .3em;
    font-size: .8em;
  }
  .viewHeader__title {
    max-width: 300px;
    padding: 0 1em 0 0;
  }
  .patientList__table .patientList__patientIdentifier,
  .patientList__table .patientList__patientDob,
  .patientList__table .patientList__patientName,
  .patientList__table .patientList__bayBed-row,
  .patientList__table .clinicalTag,
  .patientList__table .patientList__HandoverNote-txt {
    white-space: normal;
  }
  .patientList__table .patientList__patientDob {
    display: block;
  }
  .patientList__table--handover .patientList__patientIdentifier,
  .patientList__table--handover .patientList__patientDob,
  .patientList__table--handover .patientList__patientName,
  .patientList__table--handover .patientList__bayBed-row,
  .patientList__table--handover .patientList__HandoverNote-txt {
    font-size: .9em;
    /*white-space: normal; /*Allow wrap*/
  }
  .patientList__table--handover .clinical-tag {
    font-size: .8em;
  }
  .patientList__table--handover thead th {
    font-size: .8em;
    padding: .5em;
  }
  .patientList__table--handover td {
    padding: .5em;
  }
  /*Patient banner*/
  .patientBanner__patientIdentifier {
    /*display: block;*/
  }
  /*Feeds*/
  .feedBody__directory {
    display: none;
  }
  /*Network Home*/
  .networkHome__teams-wrapper .teams-nav__item {
    margin: 0 .3em 0 0;
    font-size: .95em;
  }
  .networkHome__item-wrapper .patientBanner__actions .actions__btn {
    padding: .5em .2em;
    font-size: .7em;
  }
  .networkHome__utils-wrapper .networkHome__teams-teamItem {
    padding: .6em;
  }
  .networkHome__utils-wrapper .networkHome__teams-teamItem .u-actions-link-button {
    font-size: .8em;
  }
}
/*media end*/
/*# sourceMappingURL=1024_styles.css.map */