﻿//Custom responsive styles for a min width of 0 (1024 as set in js) and max width of 1280. Controls 0 to 1280. @import in pure-grids-responsive.less

@media (min-width: 0) and (max-width: 80em) {
	//Globals

	/*Main Nav*/
	.appMainNavigation__li--patientSearch {
		margin-right: 0.8em;
	}

	.appMainNavigation-patient-search-txt {
		width: 95px;
	}

	.appMainNavigation-patient-search-txt--submitBtn {
		padding: 0 0.5em 0 0.2em;
	}

	.appMainNavigation__li {
		padding: 1em 1em;
		margin: 0;
	}

	.appMainNavigation__li--user-settings {
		margin: 0 0 0 1em;
	}

	/*Group nav*/
	.teamPatientView__nav-ul {
		& .nav-ul-li {
			& .ul-li-href {
				padding: 1em 0.6em 1.1em;
				font-size: 0.9em;
			}

			.ul-li-href[data-viewurl='patient-rapport-test'] {
				/*display: none;*/
			}
		}
	}

	/*Patient Summary / dashboard*/

	.patient-list-slim {
		max-width: 260px;
		min-width: 250px;
	}

	div[class^='patientSummary__col'],
	div[class*='patientSummary__col'] {
		/*Target link buttons in update blocks*/
		& .btn--plain {
			margin-bottom: 0;
			display: inline-block;
		}

		& .u-text-right {
			margin-bottom: 0.6em;
		}
	}

	.patientSummary__col1 {
		padding: 0 0.5em 0 0;
		box-sizing: border-box;
	}

	.patientSummary__col3 {
		padding: 0 0 0 0.5em;
		box-sizing: border-box;
	}

	span[class^='patient-observations__interpretation'] {
		margin: 0 0 0 0.5em;
	}

	.teamPatientList__patient {
		& .patient__name {
			font-size: 0.9em;
		}

		& .patientList__patientIdentifier {
			font-size: 0.9em;
		}
	}

	.patient-updates__meta {
		text-align: left;
		font-size: 0.9em !important;
	}

	.patient-tasks__meta {
		font-size: 0.9em !important;
		text-align: left;
		margin: 2px 0 0 0;
	}

	.patient-observations {
		padding: 0 0 0 1em;
	}

	.patientView__handover-blockWrapper {
	}

	.patient-results__value {
		font-size: 0.9em !important;
		text-align: left;
	}

	.patient-results {
		padding: 0 0 0 1em;
	}

	.patient-results_abnormal-icon {
		& i.fa {
			top: 1px;
		}
	}

	/*Patient Lists*/
	.patientList-filters__ddl-trigger-btn {
		width: 17em;
		margin: 0 1em 0 0;
	}

	.patientContextActions__launchModal-btn {
		padding: 0.6em 0.3em;
		font-size: 0.8em;
	}

	.viewHeader__title {
		max-width: 300px;
		padding: 0 1em 0 0;
	}

	.patientList__table {
		.patientList__patientIdentifier,
		.patientList__patientDob,
		.patientList__patientName,
		.patientList__bayBed-row,
		.clinicalTag,
		.patientList__HandoverNote-txt {
			white-space: normal;
		}

		.patientList__patientDob {
			display: block;
		}
	}

	.patientList__table--handover {
		.patientList__patientIdentifier,
		.patientList__patientDob,
		.patientList__patientName,
		.patientList__bayBed-row,
		.patientList__HandoverNote-txt {
			font-size: 0.9em;
			/*white-space: normal; /*Allow wrap*/
		}

		.clinical-tag {
			font-size: 0.8em;
		}

		& thead th {
			font-size: 0.8em;
			padding: 0.5em;
		}

		& td {
			padding: 0.5em;
		}
	}

	/*Patient banner*/
	.patientBanner__patientIdentifier {
		/*display: block;*/
	}

	/*Feeds*/
	/*.feedBody__container {
        max-width: 730px;
    }*/
	.feedBody__directory {
		&:not(.directory--static) {
			display: none;
		}
	}
	/*Network Home*/
	.networkHome__teams-wrapper {
		& .teams-nav__item {
			margin: 0 0.3em 0 0;
			font-size: 0.95em;
		}
	}

	.networkHome__teams-nav-ul {
		& .networkHome__teams-nav-li--join-teams {
			& a.teams-nav-li__a {
				max-width: 72%;
			}

			& button.networkHome__teams-nav-btn {
				padding: 0.2em 0.2em;
			}
		}
	}

	.networkHome__item-wrapper {
		& .patientBanner__actions .actions__btn {
			padding: 0.5em 0.2em;
			font-size: 0.7em;
		}
	}

	.networkHome__utils-wrapper {
		& .networkHome__teams-teamItem {
			padding: 0.6em;

			& .u-actions-link-button {
				font-size: 0.8em;
			}
		}
	}

	/*Tasks*/
	// .taskItem__metaWrapper {
	//     flex-direction: column;
	// }

	// .taskItem__metaWrapper, .taskItem__metaActions {
	//     justify-content: flex-start;
	//     padding: 0 0 0 0;
	//     margin-bottom: 1em;

	//     & .taskItem__metaActions {
	//         padding-bottom: 2em;
	//         display: flex;
	//         flex-flow: row wrap;

	//         & .col1 {
	//             flex: 1 100%;
	//             margin-bottom: 1em;
	//             margin-left: 0;

	//             &.is-accepted {
	//                 height: auto;
	//                 padding-bottom: 0;
	//             }
	//         }

	//         & .col2 {
	//             flex: 1 100%;
	//             justify-content: flex-start;
	//         }
	//     }
	// }

	// .taskItem__metaWrapper {
	//     box-sizing: border-box;

	//     & .taskItem__metaAssigned {
	//         & .ui-select__dropdown, & .ui-select__search-input {
	//             box-sizing: border-box;
	//             max-width: 98%;
	//             min-width: 98%
	//         }
	//     }
	// }

	.filterBlock {
		box-sizing: border-box;
		min-width: 95px;
		max-width: 250px;
		margin: 0;
		border-right: 1px solid #eee;
		padding: 0 0.5em 0 0.5em;
	}

	.filterBlock__btn-group button.btn {
		padding: 0.4em 0.5em;
	}
}
/*media end*/
