﻿/*App branding LESS variables*/

/*Fonts*/
@font-stack: 'Roboto', Arial, Helvetica, sans-serif;
@font-size-root: 13px;
@line-height: 1.2em;
/*Brand*/
@brand-primary-colour: rgba(3, 123, 193, 1);
@brand-secondary-colour: rgba(3, 123, 193, 0.87);
//@brand-primary-colour: #0089c6;
//@brand-secondary-colour: #3D679A;
/*@brand-primary-colour: #007C95;
@brand-secondary-colour: #13ABC6;*/
/*Colours*/
@careflow--blue: @brand-primary-colour;
/*@careflow--blue: #0089c6;*/
@careflow--blue--light: #d5f4ff;
@careflow--purple: #b63e97;
@careflow--orange: #ef5411;
@careflow--orange-light: #ff9900;
@urgent-colour: #ff5252; /*From material spec error*/
@urgent-colour--light: #fbd2e2;
@warning-colour: #ffcc00; /*Orange-light*/
@action-success: #46a728;
@success-colour: @action-success;
@removed-colour: #ffe0e0;
@removed-colour--light: #ffd3d3;
@completed-colour: #f2fff6;
@completed-colour--light: #e8ffef;
@input-txtColour: @body-colour;
@input-txtColour--light: #9e9e9e; //https://ux.stackexchange.com/questions/105503/why-isnt-primary-text-full-opacity/105508
@input-borderColour: #dddede;
@input-border-radius: 5px;
@standard-border-radius: 5px;
@small-border-radius: 2px;
@body-colour: #212121; //https://ux.stackexchange.com/questions/105503/why-isnt-primary-text-full-opacity/105508
@text-light: #757575; //54% black - https://ux.stackexchange.com/questions/105503/why-isnt-primary-text-full-opacity/105508
@body-54-shade: rgba(0, 0, 0, 0.54); //Equivalent to #757575
@main-navigation-bg: #4a4a4a;
@dropdown-menu-bg: #f2f2f2;
//@main-navigation-borders: #dddede;
@grey: #757575;
//Acceptable block shades
@block-header--1: #8f99ab;
@shade-grey: #eef0f0;
//Borders
@border--1: #cdcdcd;
//Tables / data
@header-colour: rgba(0, 0, 0, 0.54);
@row--border: @view-block-border;
@row--odd-bg: #f2fbff;
@th--bg: #eeeeee;
/*States*/
@link--active: #3572b0; //A href link
//@link--active: rgba(3, 123, 193, 0.87);
@list-item--active: @view-block-bg--active;
@form-error-color: @urgent-colour;
/*Buttons*/
@button-primary-bg: @brand-primary-colour;
@button-plain-colour: @link--active;
@button-standard-font-size: 1.077em; //http://pxtoem.com/
@button-inactive-bg: #c5c5c5;
@button-inactive-colour: rgba(255, 255, 255, 0.008);
/*View Blocks*/
@view-block-bg: #eeeeee;
@view-block-bg--active: rgba(3, 123, 193, 0.12);
/*@view-block-bg--active: #EBF2F9;*/
@view-block-border: #dddede;
@view-block-border--blue: #ebf2f9;
//@view-block-color: #58585A; //Text
@view-block-color: @body-colour; //Text
/*Tags*/
@tag-bg: #eeeeee;
@tag-bg--same-team: @careflow--blue--light;
@tag-border: #dddede;
@tag-date-time-colour: #666;
/*Badges*/
@badge--blue: #6284ad;
@badge--red: #f27179;
/*Referrals - set by ID*/
@referral-color-1: #ff6600;
@referral-color-2: #7ecc41;
@referral-color-3: #555555;
@referral-color-4: #9c0015;
/*Feed Comments*/
@feed-comment-block-bg: #F0F5FA;
/*Patient Banner*/
@patient-banner-actions-colour: #999999;
@patient-banner-bg: #eeeeee;
@patient-banner-bg--deceased: #000;
@patient-banner-bg--blue: @careflow--blue;
@patient-banner-footer--bg: #f2f2f2;
/*Font Weights*/
@font--light: 300;
@font--normal: 400;
@font--medium: 500;
@font--bold: 700;
@font--ultra-bold: 900;
/*Page Layouts*/
@bg--dark: #eeeeee;
@bg--light: #fff;
/*Navigation*/
/*@main-nav--bg: #3D679A;*/
@main-nav--bg: @brand-primary-colour;
/*Team / patient view navigation*/
@patient-nav-bg: #e5e5e5;
@generic-nav-bg: rgba(0, 0, 0, 0.05);
@team-nav-bg: rgba(0, 0, 0, 0.05);
@team-nav-bg--active: @brand-primary-colour;
@generic-nav-bg--active: @brand-primary-colour;
/*UI Popouts (e.g on team nav)*/
@info--bg: #4a4a4a;

/*Titles*/
@title-main: {
	//matches .view-title--team-title - TODO: REFERENCE IN MAIN LESS
	text-transform: none;
	font-size: 1.5em;
	margin: 0;
	font-weight: 500;
	border: none;
	padding: 0;
	padding: 0 0 1em 0;
};
/*Text wraps*/
@text-wrap-container: {
	//Handle wrapping in tables
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	//word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;
	-ms-word-break: normal; //MS IE supports hyphens
	/* Adds a hyphen where the word breaks, if supported (No Blink - https://www.google.co.uk/search?q=blink+browsers&rlz=1C1CHBD_en-GBGB784GB784&oq=blink+browsers&aqs=chrome..69i57j0l2.5278j0j4&sourceid=chrome&ie=UTF-8) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
};
