﻿/*Core app libraries override LESS*/

/* NProgress */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #eeeeee;
    position: absolute;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

#nprogress .peg {
    box-shadow: unset;
    opacity: 0.8;
}

/*Tags Input*/
/*.bootstrap-tagsinput {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    padding: 10px 6px;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    width: 100%;
    line-height: 22px;
    cursor: text;
    box-sizing: border-box;
    background: #fff;

    input {
        outline: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        width: auto !important;
        max-width: inherit;
        border: 0;

        &:focus {
            border: none;
            box-shadow: none;
        }
    }

    .pre {
        top: -2px;
    }

    .tag {
        margin-right: 2px;
        color: white;
        background: #999;
        padding: 2px 4px;
        border-radius: 6px;

        [data-role="remove"] {
            margin-left: 8px;
            cursor: pointer;

            &:after {
                content: "x";
                padding: 0px 2px;
            }

            &:hover {
                box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

                &:active {
                    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
                }
            }
        }
    }
}*/

/*DDSlick*/

.dd-select {
    border-radius: 2px;
    border: solid 1px #ccc;
    position: relative;
    cursor: pointer;
}

.dd-desc {
    color: #aaa;
    display: block;
    overflow: hidden;
    font-weight: normal;
    line-height: 1.4em;
}

.dd-selected {
    overflow: hidden;
    display: block;
    padding: 10px;
    font-weight: bold;
}

.dd-pointer {
    width: 0;
    height: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
}

.dd-pointer-down {
    border: solid 5px transparent;
    border-top: solid 5px #000;
}

.dd-pointer-up {
    border: solid 5px transparent !important;
    border-bottom: solid 5px #000 !important;
    margin-top: -8px;
}

.dd-options {
    border: solid 1px #ccc;
    border-top: none;
    list-style: none;
    box-shadow: 0px 1px 5px #ddd;
    display: none;
    position: absolute;
    z-index: 2000;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: auto;
    width: 95%;
}

.dd-option {
    padding: 10px;
    display: block;
    border-bottom: solid 1px #ddd;
    overflow: hidden;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
}

.dd-options > li:last-child > .dd-option {
    border-bottom: none;
}

.dd-option:hover {
    background: #f3f3f3;
    color: #000;
}

.dd-selected-description-truncated {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dd-option-selected {
    background: #f6f6f6;
}

.dd-option-image, .dd-selected-image {
    vertical-align: middle;
    float: left;
    margin-right: 5px;
    max-width: 64px;
}

.dd-image-right {
    float: right;
    margin-right: 15px;
    margin-left: 5px;
}

.dd-container {
    position: relative;
}

​ .dd-selected-text {
    font-weight: bold;
}

/**
 * jQuery toast plugin created by Kamran Ahmed copyright MIT license 2014
 */
.jq-toast-wrap {
    display: block;
    position: fixed;
    width: 270px;
    pointer-events: none !important;
    margin: 0;
    padding: 0;
    letter-spacing: normal;
    z-index: 9999 !important;
    box-sizing: border-box;
}

.jq-toast-wrap > * {
    margin: 0;
    padding: 0;
}

.jq-toast-wrap.bottom-left {
    bottom: 20px;
    left: 20px;
}

.jq-toast-wrap.bottom-right {
    bottom: 20px;
    right: 20px;
}

.jq-toast-wrap.top-left {
    top: 20px;
    left: 20px;
}

.jq-toast-wrap.top-right {
    top: 10px;
    right: 40px;
}

.jq-toast-single {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0px 0px 5px;
    border-radius: unset;
    font-size: 1em;
    font-family: @font-stack;
    line-height: 1.1em;
    position: relative;
    pointer-events: all !important;
    background-color: #fff;
    color: @body-colour;
}

.jq-icon-error {
    border: 1px solid @urgent-colour;
}

.jq-icon-error:before {
    position: absolute;
    font-family: 'FontAwesome';
    top: 0;
    left: 0px;
    content: "\f12a";
    background: @urgent-colour;
    color: #fff;
    height: 100%;
    width: 13%;
    padding: 7% 0 0 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 2em;
}

.jq-icon-success {
    border: 1px solid@action-success;
}

.jq-icon-success:before {
    position: absolute;
    font-family: 'FontAwesome';
    top: 0;
    left: 0px;
    content: "\f00c";
    background: @action-success;
    color: #fff;
    height: 100%;
    width: 13%;
    padding: 7% 0 0 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 2em;
}

.jq-icon-info {
}

.jq-icon-info:before {
}

.jq-icon-warning {
}

.jq-icon-warning:before {
}

.jq-toast-single h2 {
    font-family: @font-stack;
    font-size: 1.1em;
    margin: 0px 0px 4px;
    background: none;
    color: inherit;
    line-height: inherit;
    letter-spacing: normal;
}

.jq-toast-single a {
    color: @careflow--blue;
    text-decoration: none;
    font-weight: @font--bold;
    border-bottom: none;
    padding-bottom: 0;
    font-size: 1em;
}

.jq-toast-single ul {
    margin: 0px 0px 0px 15px;
    background: none;
    padding: 0px;
}

.jq-toast-single ul li {
    list-style-type: disc !important;
    line-height: 17px;
    background: none;
    margin: 0;
    padding: 0;
    letter-spacing: normal;
}

.close-jq-toast-single {
    position: absolute;
    top: 3px;
    right: 7px;
    font-size: 1.1em;
    cursor: pointer;
}

.jq-toast-loader {
    display: none; //Hide the loader for Careflow app
    position: absolute;
    top: -2px;
    height: 5px;
    width: 0%;
    left: 0;
    border-radius: unset;
    background: red;
}

.jq-toast-loaded {
    width: 100%;
}

.jq-has-icon {
    padding: 20px 20px 20px 50px;
    background-repeat: no-repeat;
    background-position: 10px;
}

.jq-toast-single.jq-has-icon {
    right: 40px;
}

/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.3.5 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2015, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/

.featherlight .featherlight-content {
    padding: 2em;
    max-height: 95%;
    border-bottom: none;
    /*min-width: 80%;*/
    max-width: 99%;
    padding: 2.8em 1.5em 2.2em 1.5em;
    overflow-x: hidden;
}

.featherlight {
    &.fixwidth--50 {
        & .featherlight-content {
            max-width: 50%;
        }
    }
}

.featherlight .featherlight-close-icon {
    font-family: inherit;
    font-size: 1.9em;
    top: 5px;
    right: 6px;
    color: @careflow--blue;
}

@media all {
    .featherlight {
        background: rgba(0, 0, 0, 0.8) !important; /*!important required to fix qTip issue, which can break bg on open*/
        /* IE8 "hack" for nested featherlights */
        background: rgba(0, 0, 0, 0);
        z-index: 1000;
    }
}

/*Qtip*/

.qtip {
    line-height: @line-height;
}

.qtip-default {
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    font-size: 1em;
}

.qtip-default .qtip-titlebar {
    background: @careflow--blue;
    color: #fff;
}

.dialogue.qtip-default {
    border-radius: 0;
    min-width: 29em;
    border: none;

    & p:last-of-type {
        margin-bottom: 3em;
    }

    & .qtip-titlebar {
        padding: 1em 1em;
    }

    & .qtip-content {
        padding: 1em 1em;
    }

    & .btn {
        max-width:275px;
    }
}

/*Datatables*/

.dataTables_info {
    width: 35%;
    box-sizing: border-box;
    font-size: 1em;
    font-weight: @font--normal;
    float: left;
}

.dataTables_paginate {
    width: 65%;
    box-sizing: border-box;
    text-align: right;
    float: right;
}

.dataTable__footer {
    padding: 0 1em;
    margin-bottom: 7em;
    min-height: 50px;
}

.paginate_button {
    .u-link-trans();
    padding: .5em 1em;
    margin: 0 0.2em;
    color: @careflow--blue;
    border: 1px solid @careflow--blue;

    &:hover {
        cursor: pointer;
        color: #fff;
        background: @careflow--blue;
    }
}

.featherlight-content .dataTables_paginate {
}

.featherlight-content .dataTables_info {
    margin-bottom: 2em;
}

.paginate_button.current {
    color: #fff;
    background: @careflow--blue;
    select2-container--default .select2-selection--multiple &:hover

{
    cursor: unset;
    color: #fff;
    background: @careflow--blue;
}
}

.paginate_button:last-of-type {
    margin-right: 0;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 0.7em;
    right: .6em;
    display: block;
    font-family: FontAwesome;
}

table.dataTable thead th.sorting:after {
    content: "\f0dc";
    font-size: 0.8em;
    padding-top: 0.12em;
}

table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
    color: @careflow--blue;
}

table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
    color: @careflow--blue;
}

/*Select2 Careflow custom override*/
/* Assign min-width to containers, site wide */
.select2-container {
    min-width: 200px;
    border: 1px solid @input-borderColour;
    box-sizing: border-box;
}

.select2-results__option {
    word-break: break-word;
    word-wrap: break-word;
}
/*Theme Color override*/
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: @careflow--blue !important;
    color: #fff;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background: #fff;
    color: @input-txtColour;
    opacity: 0.8;
}

.select2-container .select2-choice {
    border: 2px solid #dce4ec;
    height: 36px;
    border-radius: 0px;
    text-indent: 1px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image: none;
}

.select2-container *:focus {
    outline: 0px;
}

.select2-container--default .select2-selection--single {
    border-radius: 0px;
}

.select2-container.select2-drop-above .select2-choice {
    border-bottom-color: #dce4ec;
    border-radius: 0px;
}

.select2-drop {
    margin-top: -2px;
    border: 2px solid #dce4ec;
    border-top: 0;
    border-radius: 0px !important;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.select2-drop.select2-drop-above {
    margin-top: 2px;
    border-top: 2px solid #dce4ec;
    border-bottom: 0;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.select2-container .select2-choice div {
    border-left: 2px solid #dce4ec;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.select2-search {
    margin-top: 3px;
}

.select2-search input {
    height: 30px !important;
    border: 2px solid #dce4ec;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border: 2px solid #dce4ec;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.select2-dropdown-open .select2-choice {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
}

.select2-dropdown-open .select2-choice div {
    background: transparent;
    border-left: none;
    filter: none;
}

.select2-results .select2-highlighted {
    background: #fff;
    color: @input-txtColour;
    border-radius: 0px;
}

.select2-results {
    padding: 0 0 0 0px;
    margin: 4px 0px 0px 0;
    color: @input-txtColour;
}

.select2-container-multi .select2-choices {
    height: auto !important;
    height: 1%;
    border: 2px solid #dce4ec;
}

.select2-container-multi.select2-container-active .select2-choices {
    border: 2px solid #dce4ec;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.select2-container .select2-choice .select2-arrow {
    border: none;
    border-radius: 0;
    background: transparent;
    background-image: none;
}

/*New Changes*/
.select2-container--default .select2-selection--single {
    background: #fff;
    border: 0px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: @input-txtColour;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: @input-txtColour;
    line-height: 34px;
}

.select2-container .select2-selection--single {
    height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: @input-borderColour transparent transparent transparent;
    top: 60%;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent @careflow--blue transparent;
}

.select2-dropdown {
    border: 1px solid @input-borderColour;
}

.select2-container--open .select2-dropdown--below,
.select2-container--open .select2-dropdown--above {
    background: #fff;
    border-radius: 0;
}

.select2-container--open .select2-dropdown { //Added a border of 1px to container, so push back and pull up 1px
    left: -1px;
    top: -1px;
}
/*Tags Style*/
.select2-container--default .select2-selection--multiple {
    border-radius: 0;
    border: none;

    & .select2-selection__rendered {
        float: left;
    }
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #fff;
    color: @input-txtColour;
    border: 1px solid @tag-border;
    background: @tag-bg;
    border-radius: 0;
    padding: 3px 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: @input-txtColour;
    margin-right: 6px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 6px;
    float: right;
}
/*tags Outer border*/
.select2-container--default .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: none
}
/*Placeholder Text Color */
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: @input-txtColour;
    opacity: 0.6;
}

/*Search field*/
.select2-container .select2-search--inline .select2-search__field {
    margin-top: 0;
}

/*LoadMask*/
.loadmask {
    background: #D9D9D9;
}

.loadmask-msg {
    background: #fff;
    border: none;
    padding: 0;
    color: @careflow--blue;
    border: 6px solid @view-block-border;

    & div {
        padding: 1em;
        background: #fff;
        border: none;
        font-family: @font-stack;
        font-size: 1em;
        font-weight: @font--medium;
        color: @careflow--blue;
    }

    & div:after {
        /*content: "";*/
    }
}

/*Float table headers*/
.floatThead-wrapper {
    .pure-u();
}