﻿@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    //https://paper-leaf.com/blog/2014/09/targeting-ie-10-11-browsers-css/
    /* IE10+ specific styles go here */
    .sign-in-wrapper {       
        z-index:10;      
    }

    .sign-in-panel {
        margin-left: auto;
        margin-right: auto;
        flex: 0 0 auto; //https://stackoverflow.com/questions/31835164/how-do-i-fix-a-flexbox-sticky-footer-in-ie11
    }
    
    .hpca-email-image {
        width: 400px;
        max-width: 100%;
    }

    .networkHome__teams-nav-ul {
        & .teamsName-wrapper {
            width:90%;
        }
    }

}/*End*/
