﻿@media print {
	@page {
		margin: 3%;
		size: landscape;
	}

	html,
	body {
		overflow-y: visible !important;
		overflow-x: visible !important;
		width: auto !important;
		height: auto !important;
	}

	header,
	.appBodyContent,
	.jq-toast-wrap,
	.qtip,
	.drop-element,
	.ui-textbox__counter {
		display: none !important;
	}
	.u-screen-only {
		display: none !important;
	}

	.page-break {
		display: block;
		page-break-before: always;
	}

	.appPrintContent {
		* {
			// this works for all but td
			word-wrap: break-word;
		}
		table {
			border-collapse: separate;
			box-sizing: border-box;
			width: 100%;
			table-layout: fixed;
			&.table-plain {
				td {
					border: none;
					&.notes-td {
						border-bottom: 1px solid gray;
						white-space: pre-wrap;
						/* These are technically the same, but use both */
						overflow-wrap: break-word;
						word-wrap: break-word;
						/* This is the dangerous one in WebKit, as it breaks things wherever */
						//word-break: break-all;
						/* Instead use this non-standard one: */
						word-break: break-word;
						-ms-word-break: normal; //MS IE supports hyphens
						/* Adds a hyphen where the word breaks, if supported (No Blink - https://www.google.co.uk/search?q=blink+browsers&rlz=1C1CHBD_en-GBGB784GB784&oq=blink+browsers&aqs=chrome..69i57j0l2.5278j0j4&sourceid=chrome&ie=UTF-8) */
						-ms-hyphens: auto;
						-moz-hyphens: auto;
						-webkit-hyphens: auto;
						hyphens: auto;
					}
				}
				th {
					border: none;
					padding: 0;
					border-collapse: collapse;
				}
			}
			tr {
				th,
				td {
					box-sizing: border-box;
					padding: 0.2em;
					border: 1px solid #000;
					vertical-align: top;
					font-size: 8pt;
					span {
						white-space: pre-wrap;
					}
				}
			}

			[data-grouping] {
				background: gray !important;
				-webkit-print-color-adjust: exact;
				color-adjust: exact;
				color: #000;
			}
		}

		button,
		.patientHandover__noteCounter {
			display: none;
		}

		a {
			color: #000 !important;
		}

		.clinical-tag {
			display: inline-block !important;
			.clinicalTag__value {
				width: 100% !important;
				padding-right: 0 !important;
			}

			.fa {
				display: none !important;
			}
		}

		.sbar-row {
			border-bottom: 1px solid #000;
			&.profile-handover-not-exists {
				border-bottom: none !important;
			}
		}

		& .other-profiles-row {
			margin-top: auto !important;
		}

		.clinical-tag-wrapper {
			margin-top: 0;
		}

		textarea {
			outline: none;
			border: none;
			font-size: 0.9em;
			height: auto !important;
		}
	}
}

@media screen {
	.appPrintContent {
		display: none !important;
	}
	.page-break {
		display: none;
	}
}
