﻿@import 'app-variables.less'; //Careflow variables
@import 'careflow-connect.less';

/*Keen UI / Vuetify Material components overrides*/

/*DDL*/

.ui-select {
	&.ui-select--no-border {
		//Custom no border class
		& .ui-select__display {
			border: none;
		}
	}

	&.size-large {
		//Custom font size - reset to material style
		& .ui-select__label-text {
			font-size: 16px;
		}
	}

	&.has-floating-label {
		//CRemove the puffed up transform size, to mathe careflow branding
		& .ui-select__label-text.is-inline {
			transform: translateY(1.625rem) scale(1);
		}
	}

	& .ui-select__label-text {
		font-size: 1em;
	}

	&.ui-select-bg-shade {
		/*ADD A CUSTOM SHADE TO DDLS - https://doccom.atlassian.net/browse/WEB-628*/
		& .ui-select__content {
			& .ui-select__display {
				height: 2.5rem;
				background: @row--border;
				padding: 0.8em;
				box-sizing: border-box;
				border: none;
			}
		}
	}

	& .ui-select__no-results {
		box-sizing: border-box;
	}

	& .ui-select__search-input {
		box-sizing: border-box;
	}

	& .ui-select__display-value.is-placeholder {
		text-transform: none;

		&::first-letter {
			text-transform: uppercase;
		}
	}
}

.ui-select-option {
	transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
	font-size: 1em;
}

.ui-select__display-value.is-placeholder {
	color: @body-54-shade; //#000000,54 - https://stackoverflow.com/questions/7015302/css-hexadecimal-rgba
}

.ui-select-option.is-selected {
	color: unset;
	background: unset;
	font-weight: @font--normal;
}

.ui-select-option.is-highlighted {
	background: @view-block-bg;
}

.ui-select-option.is-selected .ui-select-option__checkbox {
	color: @button-plain-colour;
}

.ui-select.is-active:not(.is-disabled):not(.ui-select--no-border) .ui-select__display {
	border-bottom-color: @careflow--blue;
	/*border-bottom: none;*/
}

.ui-select.is-active:not(.is-disabled) .ui-select__label-text,
.ui-select.is-active:not(.is-disabled) .ui-select__icon-wrapper {
	color: @careflow--blue;
}

.ui-select.is-disabled .ui-select__display {
	border-bottom-style: unset;
}

.ui-select__display {
	/*border-bottom:none;*/
}

.ui-select__content {
	max-width: 100%;
}

.ui-select__display-value {
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: normal;
}

.ui-select-option__basic {
	white-space: normal;
	overflow: visible;
	overflow-wrap: normal;
}

.ui-select__dropdown-button {
	font-size: 24px; /*Material standard px*/
}

.is-selected,
.ui-select-option.is-selected {
	color: @careflow--blue;
}

.ui-select.is-active {
	.ui-select__dropdown-button {
		color: @careflow--blue;
	}

	&:hover {
		.ui-select__dropdown-button {
			color: @careflow--blue;
		}
	}
}
/*Popover*/
.custom-popover {
	padding: 0.8em;
	display: none; /*Fixes flash of popover on page load*/
}
.custom-popper-wrapper {
	//popper.js
	padding: 0.8em;
}

.drop.drop-open {
	& .custom-popover {
		display: inherit; /*Fixes flash of popover on page load*/
	}
}

/*Buttons*/
.ui-button {
	//Keen UI
	font-size: @button-standard-font-size; //http://pxtoem.com/
	font-weight: @font--medium;
	justify-content: center;
	//margin: 0 auto;
	padding: 0;
	line-height: normal;
	transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;

	&.ui-button--color-primary {
		background: @button-primary-bg;

		&:hover {
			opacity: 0.9;
		}
	}

	&.ui-button--type-secondary {
		//Plain bg
		color: @button-plain-colour;
		background: none;

		&:hover:not(.is-disabled) {
			background: #e6e6e6;
		}
	}

	& .ui-button__content {
		justify-content: center;
		margin: 0 auto;
		padding: 0 16px;
		flex: 1 0 auto;
		display: flex;
		height: 100%;
	}

	&.is-raised {
		box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	}

	&:hover:not(.is-disabled) {
		background: @button-primary-bg;
		opacity: 0.9;
	}

	&.ui-button--size-large {
		& .ui-button__content {
			padding: 0 32px;
		}
	}

	&.is-disabled {
		background-color: rgba(0, 0, 0, 0.12); /*From Vuetify / Material specs*/
		color: rgba(0, 0, 0, 0.26); /*From Vuetify / Material specs*/
		opacity: 1;

		&.is-loading {
			box-shadow: none;

			& .ui-progress-circular__indeterminate-path {
				stroke: rgba(0, 0, 0, 0.26); /*From Vuetify / Material specs*/
				//@button-primary-bg;
			}
		}
	}
}

.btn.ui-button--type-button,
.btn.ui-button--type-primary {
	//If legacy btn class applied
	padding-left: unset;
	padding-right: unset;
	//.btn();
	font-size: 1em;

	&.is-loading.is-disabled {
		background: none;
	}

	&.is-loading {
		background: none;
	}

	&.is-disabled {
		opacity: 1;
	}

	& .ui-progress-circular__indeterminate-path {
		color: @button-primary-bg;
		stroke: @button-primary-bg;
	}

	&:hover:not(.is-disabled) {
		background: @button-primary-bg;
		opacity: 0.9;
	}
}

.btn--plain.ui-button--type-primary {
	padding-left: unset;
	padding-right: unset;
	.btn--plain();
	line-height: normal;
	font-size: 1em;

	&.is-loading.is-disabled {
		background: none;
		line-height: normal;
	}

	&.is-disabled {
		opacity: 1;
		background: none;
	}

	&.is-loading {
		background: none;
	}

	& .ui-progress-circular__indeterminate-path {
		color: @careflow--blue;
		stroke: @careflow--blue;
	}
}

.ui-button--type-primary.ui-button--color-primary:hover:not(.is-disabled) {
	background: @button-primary-bg;
	opacity: 0.9;
}

/*Actions btn (patient banners, lists etc)*/
.ui-button.u-actions-link-button {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	min-width: initial;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	color: @button-plain-colour;
	/*color: @patient-banner-actions-colour;*/
	/*border-radius: 3px;*/
	height: auto;
	line-height: auto;
	font-size: @font-size-root;

	& .material-icons {
		font-size: 24px; /*http://google.github.io/material-design-icons/*/
		line-height: 0.5em;
		float: none;
		margin: 0;
		padding: 0;
		color: @button-plain-colour;
		/*color: @patient-banner-actions-colour;*/
	}

	& .ui-icon {
		font-size: 24px;
		height: auto;
		width: auto;
		line-height: 0.5em;
		color: @button-plain-colour;
		/*color: @patient-banner-actions-colour;*/
	}

	& .ui-button__icon {
		margin: 0;
	}

	& .ui-button__dropdown-icon {
		display: none;
	}

	&.has-dropdown-open {
		background: none;

		& .ui-button__icon {
			color: @patient-banner-actions-colour;
		}
	}

	&.active {
		color: @patient-banner-actions-colour;

		& .ui-button__icon {
			color: @patient-banner-actions-colour;
		}

		& .ui-icon,
		& .material-icons {
			color: @patient-banner-actions-colour;
		}
	}

	&:focus {
		background: none;
	}

	&:hover,
	&:hover:not(.is-disabled) {
		background: none;
	}

	& .ui-button__content {
		justify-content: center;
		margin: 0 auto;
		padding: 0;
		flex: 1 0 auto;
		display: flex;
		height: 100%;
	}
}

/*Switch*/
.ui-switch--switch-position-right {
	& .ui-switch__label-text {
		margin-right: 1.3em;
		display: flex;
		align-items: center;
	}
}

.ui-switch.ui-switch--color-primary.is-checked:not(.is-disabled) {
	.ui-switch__thumb {
		background-color: @button-primary-bg;
	}

	.ui-switch__track {
		background: rgba(3, 123, 193, 0.55);
	}
}

/*Spinners*/
.ui-progress-circular--color-primary {
	& .ui-progress-circular__indeterminate-path {
		stroke: @careflow--blue;
	}
}

/*Text areas / boxes*/
// .ui-textbox__label-text {
// 	font-size: 0.923em; /*12px*/
// }

.ui-textbox {
	&.size-small.has-floating-label {
		//Custom class adjusts size to small (13px)
		& .ui-textbox__label-text.is-inline {
			font-size: 1em;
		}
	}

	& .ui-textbox__textarea {
		max-height: 160px;
	}

	&.is-active:not(.is-disabled) {
		& .ui-textbox__textarea {
			border-bottom-color: @careflow--blue;
		}
	}

	&.is-active.has-label {
		& .ui-textbox__label-text {
			color: @careflow--blue;
		}

		& .ui-textbox__icon-wrapper {
			& .ui-icon {
				color: @careflow--blue;
			}
		}

		&:not(.is-disabled) {
			& .ui-textbox__input {
				border-bottom-color: @careflow--blue;
			}
		}
	}

	&:hover:not(.is-disabled) {
		& .ui-textbox__input {
			border-bottom-color: @careflow--blue;
		}
	}

	&.has-floating-label {
		& .ui-textbox__label-text.is-inline {
			font-size: 1.231em; /*16px per design*/
			color: rgba(0, 0, 0, 0.38); /*Per Nick Harewoods specs*/
			transform: translateY(1.625rem) scale(1); //remove puffed up text;
		}
	}
}

/*Checkbox*/
.ui-checkbox--color-primary:not(.is-disabled).is-checked:hover .ui-checkbox__checkmark::before,
.ui-checkbox--color-primary:not(.is-disabled).is-checked.is-active .ui-checkbox__checkmark::before {
	background: @careflow--blue;
	border-color: @brand-secondary-colour;
}
.ui-checkbox--color-primary.is-checked .ui-checkbox__checkmark::before {
	background: @careflow--blue;
	border-color: @brand-secondary-colour;
}

/*Menu*/
.ui-menu {
	&.is-raised {
		box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.14); //To fix IE11 blurry text issues
	}
}
.ui-menu-option:not(.is-divider) {
	font-size: 1em;
	& .ui-menu-option__text {
		line-height: 1.5em;
	}
}

.ui-menu-option {
	&.is-divider {
		border-bottom: 1px solid @row--border;
	}
}

/*Popover*/
.ui-popover {
	&.is-raised {
		box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.14); //To fix IE11 blurry text issues
	}
}

/*Tooltips*/
.tooltip.tooltip-element {
	& .tooltip-content {
		font-size: 1em;
	}
}

/*Modals*/
.ui-modal,
.ui-modal:not(.has-footer) {
	font-size: 1em;

	& .ui-modal__body {
		//max-height: 80vh;
		box-sizing: border-box;
		padding: 1rem 1.5rem 0 1.5rem;
	}

	& .ui-modal__body::after {
		/*Firefox ignores padding after scrolled elements - https://stackoverflow.com/questions/42802717/flexbox-padding-bottom-fails-in-firefox-and-safari*/
		padding: 0 0 1rem 0;
		display: flex;
		content: '';
	}
}

.ui-modal__header {
	height: 45px;
	max-height: 45px;
}
.ui-modal {
	&.ui-modal--size-large {
		& .ui-modal__container {
			width: 75rem;
		}
	}

	&.ui-modal--size-normal {
		& .ui-modal__container {
			width: 65rem;
		}
	}

	&.ui-modal--size-small {
		& .ui-modal__container {
			width: 30rem;
		}
	}

	&.ui-modal--size-fit-content {
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
			/* IE10+ specific styles go here */  
			& .ui-modal__container {
				width: auto;
				display: table; //https://stackoverflow.com/questions/20541306/how-to-write-a-css-hack-for-ie-11
			}
		 }
		& .ui-modal__container {
			width: fit-content;
		}
	}

	& .ui-modal__body {
		& .u-patientBanner {
			margin-bottom: 16px;
		}
	}

	&.has-footer {
		& .ui-modal__body {
			max-height: calc(~'100vh - 130px'); //https://stackoverflow.com/questions/27256849/is-it-possible-to-use-vh-minus-pixels-in-a-css-calc
			overflow-x: hidden;
		}
	}

	&.ui-modal--full-height-fixed {
		//full height, fixed at full height (so does not jump based on content height)
		&.no-overflow-y {
			& .ui-modal__body {
				overflow-y: hidden;
			}
		}
		& .ui-modal__body {
			min-height: calc(~'100vh - 130px'); //https://stackoverflow.com/questions/27256849/is-it-possible-to-use-vh-minus-pixels-in-a-css-calc
			max-height: calc(~'100vh - 130px');
			overflow-x: hidden;
		}

		&.remove-padding {
			//Useful helper for modals that contain scrolling tables so need to be aqueezed (e.g patient handover audit modal)
			& .ui-modal__body {
				padding-top: 0;
				padding-bottom: 0;
				&:after {
					padding: 0;
				}
			}
		}

		&.has-footer {
			//remove footer sizing
			.ui-modal__body {
				min-height: calc(~'100vh - 400px'); //https://stackoverflow.com/questions/27256849/is-it-possible-to-use-vh-minus-pixels-in-a-css-calc
				max-height: calc(~'100vh - 130px');
				overflow-x: hidden;
			}
		}
	}

	&.ui-modal--size-small {
		//Small size

		& .ui-modal__container {
			& .ui-modal__body {
				min-height: auto;
			}
		}
	}

	&.ui-modal--size-full-screen {
		/*Full screen*/
		& .ui-modal__container {
			width: 100vw;
			height: 99vh;
		}
		& .ui-modal__body {
			height: 100vh; /* 25px is the height of the modal header */
		}
	}

	&[role='alertdialog'] {
		& .ui-modal__body {
			min-height: auto;
			overflow-x: hidden;
		}
	}
}
