<template>
  <div class="patient-summary-widget">
    <template v-if="IsLoading">
      <div class="view-block__title">Patient Activities</div>
      <ui-progress-circular color="primary"></ui-progress-circular>
    </template>
    <template v-else>
      <div class="view-block__title">Patient Activities <template v-if="TotalCountOfEpispdes > 0">({{TotalCountOfEpispdes}})</template>
        <span v-on:click="openModal('episodes-modal')" v-if="TotalCountOfEpispdes > 0" class="u-pull-right btn--plain">View all</span></div>
      <template v-if="PatientEpisodes.length">
        <SpellLineItem v-for="(item) in getEpisodesToRender" :key="item.episodeId" :item="item"></SpellLineItem>
        <!-- <div class="episodes-see-all"><button v-on:click="openModal('episodes-modal')" class="btn--plain">View all {{PatientEpisodes.length}} patient episodes</button></div> -->
      </template>
      <div v-if="!ApiError && !IsLoading && !PatientEpisodes.length">
        No recorded patient activities.
      </div>
      <div v-if="ApiError && !IsLoading">
        Patient activities unavailable.
      </div>
    </template>
    <ui-modal size="normal" @close="modalClosed" ref="episodes-modal" title="Patient Activities">
      <episodes-modal v-if="RebuildUiComponentKey" :patient="patient" :patient-id="patientId" :networkId="networkId" :key="RebuildUiComponentKey" size="large"></episodes-modal>
    </ui-modal>
  </div>
</template>

<script>
  import Vault from 'Endpoints/careflowApp/Vault';
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import GetPatientHospitalNumber from 'VueMixins/getPatientHospitalNumber';
  /* API Endpoints */
  import * as GetPatientEpisodes from 'Endpoints/medwayServices/patientEpisodeService/GetPatientEpisodes';
  import * as GetEpisodeTypes from 'Endpoints/medwayServices/patientEpisodeService/GetEpisodeTypes';
  import * as GetMedwayGuid from 'Endpoints/medwayServices/patientServiceAPI/GetPatientMedwayGuid';
  /*Components*/
  import SpellLineItem from 'VueComponents/medwayIntegrations/patientEpisodes/components/EpisodeLineItem';
  import EpisodesModal from 'VueComponents/medwayIntegrations/patientEpisodes/PatientEpisodesFull';

  export default {
  	data: function() {
  		return {
  			IsLoading: true,
  			PatientEpisodes: [],
  			EpisodeTypes: [],
  			TotalCountOfEpispdes: null,
  			PatientMedwayGuid: null, //Required
  			PatientHospitalNumber: this.getPatientHospitalNumberFromIdentifiers(this.patient.PatientIdentifiers) || null,
  			RebuildUiComponentKey: null,
  			ApiError: false,
  		};
  	},
  	mixins: [DateFilter, GetPatientHospitalNumber],
  	components: { SpellLineItem, EpisodesModal },
  	props: {
  		patient: {
  			required: true,
  			type: [Array, Object],
  		},
  		patientId: {
  			required: true,
  			type: [Number, String],
  		},
  		patientMedwayGuid: {
  			required: false,
  			type: [Number, String],
  		},
  		networkId: {
  			required: true,
  			type: [Number, String],
  		},
  		memberAreaId: {
  			required: false,
  			type: [Number, String],
  		},
  	},
  	filters: {},

  	computed: {
  		getEpisodesToRender() {
  			if (!this.PatientEpisodes.length) return [];
  			if (this.PatientEpisodes.length > 5) return this.PatientEpisodes.slice(0, 5); //return latest/first 5 only for widget
  			return this.PatientEpisodes;
  		},
  	},

  	watch: {},

  	methods: {
  		getPatientMedwayGuid() {
  			return new Promise((resolve, reject) => {
  				if (this.patientMedwayGuid) return resolve(this.patientMedwayGuid);
  				GetMedwayGuid.getPatientMedwayGuid(this.patientId, this.patient, this.PatientHospitalNumber)
  					.then(response => {
  						if (!response) return reject();
  						this.PatientMedwayGuid = response.patientId;
  						return resolve(this.PatientMedwayGuid);
  					})
  					.catch(error => {
  						reject();
  					});
  			}).catch(error => {
  				reject();
  			});
  		},
  		getEpisodeTypes() {
  			return new Promise((resolve, reject) => {
  				GetEpisodeTypes.callApi()
  					.then((response, status, xhr, fullResponse) => {
  						if (!response.data) return resolve();
  						this.EpisodeTypes = response.data;
  						resolve(this.EpisodeTypes);
  					})
  					.catch(error => {
  						reject();
  					});
  			}).catch(error => {
  				reject();
  			});
  		},
  		getPatientEpisodes() {
  			return new Promise((resolve, reject) => {
  				GetPatientEpisodes.callApi(this.PatientMedwayGuid) //defaults to pageSize of 100
  					.then((response, status, xhr, fullResponse) => {
  						if (!response.data.results.length) return resolve();
  						this.TotalCountOfEpispdes = response.data.totalCount;
  						this.PatientEpisodes = response.data.results;
  						resolve();
  					})
  					.catch(error => {
  						reject();
  					});
  			}).catch(error => {
  				reject();
  			});
  		},
  		openModal(ref) {
  			this.RebuildUiComponentKey = Date.now(); //Force modal component to rebuildand instansiate
  			this.$refs[ref].open();
  		},
  		modalClosed() {
  			this.RebuildUiComponentKey = null;
  		},
  	},

  	events: {},

  	beforeCreate: function() {},

  	created: function() {
  		this.getPatientMedwayGuid()
  			.then(this.getPatientEpisodes)
  			.then(() => {
  				this.IsLoading = false;
  			})
  			.catch(error => {
  				this.IsLoading = false;
  				this.ApiError = true;
  			});
  	},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},

  	mounted() {},
  };
</script>

<style scoped lang="less">
  @import '../../../../../less/app-variables.less';
  .patient-summary-widget {
  	box-sizing: border-box;
  	margin: 1em 0 2em 0;
  	padding: 0 1em;
  }
  .episodes-see-all {
  	margin: 1em 0 1em 0;
  	display: flex;
  	justify-content: flex-end;
  	padding: 0 1em 0 0;
  	box-sizing: border-box;
  	margin-top: auto;
  }
</style>
<notes>CPatient Episodes - widget.</notes>
