<template>
  <div>
    <ui-progress-circular color="primary" v-if="IsLoading"></ui-progress-circular>
    <template v-else>
      <template v-if="PatientEpisodes.length">

        <div class="episodes-body">

          <div class="episodes-list u-data-table--default">
            <div class="table__head pure-g">

              <div class="pure-u-5-24">Type</div>
              <div class="pure-u-5-24">Consultant</div>
              <div class="pure-u-4-24">Category</div>
              <div class="pure-u-3-24">Start date</div>
              <div class="pure-u-3-24">End date</div>
              <div class="pure-u-4-24">Status</div>

            </div>
            <div class="table__body">
              <div class="table__row pure-g" v-for="(item) in getEpisodesToRender" :key="item.episodeId">
                <div class="pure-u-5-24 episode-type-wrapper"><span class="item-acronym">{{getSpellAcronym(item.episodeType.description)}}</span>{{item.episodeType.description}}</div>
                <div class="pure-u-5-24">{{item.owner}} </div>
                <div class="pure-u-4-24">{{item.category}} </div>
                <div class="pure-u-3-24">{{item.startDate | getShortDate}} </div>
                <div class="pure-u-3-24">{{item.endDate | getShortDate}} </div>
                <div class="pure-u-4-24">{{item.status}} </div>
              </div>
              <p v-if="getEpisodesToRender.length" class="u-text-center">End of results ({{TotalCountOfEpispdes}})</p>

            </div>
          </div>

        </div>

      </template>
      <div v-if="!ApiError && !IsLoading && !PatientEpisodes.length">
        No recorded patient activities.
      </div>
      <div v-if="ApiError && !IsLoading">
        Patient activities unavailable.
      </div>
    </template>
  </div>
</template>

<script>
  import Vault from 'Endpoints/careflowApp/Vault';
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import GetPatientHospitalNumber from 'VueMixins/getPatientHospitalNumber';
  /* API Endpoints */
  import * as GetPatientEpisodes from 'Endpoints/medwayServices/patientEpisodeService/GetPatientEpisodes';
  import * as GetEpisodeTypes from 'Endpoints/medwayServices/patientEpisodeService/GetEpisodeTypes';
  import * as GetMedwayGuid from 'Endpoints/medwayServices/patientServiceAPI/GetPatientMedwayGuid';
  /*Components*/

  export default {
  	data: function() {
  		return {
  			IsLoading: true,
  			PatientEpisodes: [],
  			EpisodeTypes: [],
  			TotalCountOfEpispdes: null,
  			PatientMedwayGuid: null, //Required
  			PatientHospitalNumber: this.getPatientHospitalNumberFromIdentifiers(this.patient.PatientIdentifiers) || null,
  			RebuildUiComponentKey: null,
  			ApiError: false,
  		};
  	},
  	mixins: [DateFilter, GetPatientHospitalNumber],
  	components: {},
  	props: {
  		patient: {
  			required: true,
  			type: [Array, Object],
  		},
  		patientId: {
  			required: true,
  			type: [Number, String],
  		},
  		patientMedwayGuid: {
  			required: false,
  			type: [Number, String],
  		},
  		networkId: {
  			required: true,
  			type: [Number, String],
  		},
  		memberAreaId: {
  			required: false,
  			type: [Number, String],
  		},
  	},
  	filters: {},

  	computed: {
  		getEpisodesToRender() {
  			if (!this.PatientEpisodes.length) return [];
  			return this.PatientEpisodes;
  		},
  	},

  	watch: {},

  	methods: {
  		getPatientMedwayGuid() {
  			return new Promise((resolve, reject) => {
  				if (this.patientMedwayGuid) return resolve(this.patientMedwayGuid);
  				GetMedwayGuid.getPatientMedwayGuid(this.patientId, this.patient, this.PatientHospitalNumber)
  					.then(response => {
  						if (!response) return reject();
  						this.PatientMedwayGuid = response.patientId;
  						return resolve(this.PatientMedwayGuid);
  					})
  					.catch(error => {
  						reject();
  					});
  			});
  		},
  		getEpisodeTypes() {
  			return new Promise((resolve, reject) => {
  				GetEpisodeTypes.callApi()
  					.then((response, status, xhr, fullResponse) => {
  						if (!response.data) return resolve();
  						this.EpisodeTypes = response.data;
  						resolve(this.EpisodeTypes);
  					})
  					.catch(error => {
  						reject();
  					});
  			}).catch(error => {
  				reject();
  			});
  		},
  		getPatientEpisodes() {
  			return new Promise((resolve, reject) => {
  				let stagingResultsData = [];
  				let pageIndex = 0;
  				let pageSize = 100;

  				let callApi = () => {
  					return GetPatientEpisodes.callApi(this.PatientMedwayGuid, pageSize, pageIndex)
  						.then((response, status, xhr, fullResponse) => {
  							stagingResultsData.push.apply(stagingResultsData, response.data.results); //merge arrays

  							if (response.data.totalPages > response.data.pageIndex && response.data.totalCount < stagingResultsData.length) {
  								//There are more
  								pageIndex += 1;
  								return callApi();
  							}

  							this.PatientEpisodes = stagingResultsData;
  							this.TotalCountOfEpispdes = response.data.totalCount;
  							this.IsLoading = false;
  							stagingResultsData = [];
  							return resolve();
  						})
  						.catch(error => {
  							reject();
  						});
  				};
  				callApi();
  			}).catch(error => {
  				reject();
  			});
  		},
  		getSpellAcronym(str) {
  			let acronym = str
  				.split(/\s/)
  				.reduce((response, word) => (response += word.slice(0, 1)), '')
  				.toUpperCase();
  			return acronym;
  		},
  	},

  	events: {},

  	beforeCreate: function() {},

  	created: function() {
  		this.getPatientMedwayGuid()
  			.then(this.getPatientEpisodes)
  			.then(() => {
  				this.IsLoading = false;
  			})
  			.catch(error => {
  				this.IsLoading = false;
  				this.ApiError = true;
  			});
  	},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},

  	mounted() {},
  };
</script>

<style>
  /*non scoped - TODO: prop for width on ui-modal*/
  .ui-modal__container {
  	width: 995px;
  }
</style>

<style scoped lang="less">
  @import '../../../../../less/app-variables.less';
  .u-data-table--default.episodes-list {
  	margin-bottom: 10em;
  	& .table__body {
  		& .table__row {
  		}
  	}
  }

  .episodes-body {
  }
  .episodes-list {
  	width: 100%;
  }
  .u-data-table--default {
  	margin-bottom: 0;
  	margin-left: 0;
  }
  .item-acronym {
  	color: @text-light;
  	margin: 0 0.5em 0 0;
  	min-width: 27px;
  	font-weight: @font--medium;
  	display: inline-block;
  }
</style>
<notes>Patient Episodes - modal</notes>
