<!--Wrapper for Manage Network Profiles (linked from top nav drop down) tasks components-->
<div id="vue-network-profiles" class="pure-g">
    <div v-if="ViewTitle" data-full-height-deduct-global="true" class="view-title--team-wrapper pure-u-1">
        <div class="view-title--team-title">\{{ViewTitle}} </div>
    </div>
    <div class="pure-u-1 network-profiles-wrapper">
        <manage-network-profiles :network-id="NetworkId"></manage-network-profiles>
    </div>
</div>
