﻿<!--Wrapper for MyTasks (linked from top nav) tasks components-->
<div id="vue-tasks" class="pure-g">
    <div class="pure-u-1 my-tasks-wrapper">
        <task-list :member-area-id="MemberAreaId" :network-id="NetworkId" :patient-id="PatientId"></task-list>
    </div>
</div>