<template>
	<div data-scroll="true" :class="{'patient-lists':true, 'is-modal': this.isModal, 'js-fullHeight-bodyElement': !this.isModal}">
		<ui-progress-circular color="primary" v-if="IsLoadingPatientData"></ui-progress-circular>
		<template v-if="getPatientListMemberships.length && !IsLoadingPatientData">
			<TeamListRow v-for="(item) in getPatientListMemberships" :key="item.MemberAreaId" :item="item" :patientId="patientId" :disabled="IsLoading" @membership-updated="teamMembershipUpdated"></TeamListRow>
		</template>
	</div>
</template>

<script>
/*Mixins*/
import DateFilter from 'VueMixins/dateFilter';
/*Components*/
import TeamListRow from 'VueComponents/patientTeamListMemberships/components/PatientListMembershipsRow';
/* API Endpoints */
import Vault from 'Endpoints/careflowApp/Vault';
import AddPatientToGroupList from 'Endpoints/patients/AddPatientToGroupList';
import RemovePatientFromGroupList from 'Endpoints/patients/RemovePatientFromGroupList';
import GetPatient from 'Endpoints/patients/GetPatient';

//Utils

export default {
	data() {
		return {
			IsLoading: false,
			Patient: this.patient,
			GroupListExternalIdentifiers: this.patient ? this.patient.GroupListExternalIdentifiers : [],
			IsLoadingPatientData: !this.patient
		};
	},
	props: {
		patient: {
			type: [Object, String],
			required: false
		},
		patientId: {
			type: [String, Number],
			required: true
		},
		memberAreaId: {
			type: [String, Number],
			required: false
		},
		networkId: {
			type: [String, Number],
			required: true
		},
		isModal: {
			type: [Boolean],
			required: false,
			default: false
		}
	},
	components: { TeamListRow },
	mixins: [DateFilter],
	filters: {},
	watch: {},
	computed: {
		getPatientListMemberships() {
			if (!Vault.getItem('ActiveNetworkGroupMemberships') || !this.GroupListExternalIdentifiers) return [];
			let teamData = Vault.getItem('ActiveNetworkGroupMemberships').Groups;
			let currentMemberships = this.GroupListExternalIdentifiers;
			let usersTeams = appMain.getTeamsUserIsMemberOf(this.networkId);

			let teamsPatientIsPinnedTo =
				currentMemberships
					.map(x => {
						return {
							GroupListExternalIdentifier: x,
							MemberAreaId:
								teamData
									.map(y => {
										if (x === y.GroupExternalIdentifier) return y.MemberAreaID;
										return;
									})
									.filter(Boolean)[0] || null,
							TeamName:
								teamData
									.map(y => {
										if (x === y.GroupExternalIdentifier) return y.Name;
										return;
									})
									.filter(Boolean)[0] || null,
							UserCanManagePatientListMembership:
								teamData
									.map(y => {
										if (x === y.GroupExternalIdentifier) {
											const permissions = appMain.getUserPermissionsForMemberArea(y.MemberAreaID);
											return permissions.includes('AddPatientToGroupList') && permissions.includes('RemovePatientFromGroupList');
										}
										return false;
									})
									.filter(Boolean)[0] || null
						};

						return null;
					})
					.filter(Boolean) || [];

			let teamsPatientCanBePinnedTo = usersTeams
				.map(x => {
					let permissions = appMain.getUserPermissionsForMemberArea(x.MemberAreaID);
					if (permissions.includes('AddPatientToGroupList') && permissions.includes('RemovePatientFromGroupList')) {
						//Can manage membership for patient
						return {
							MemberAreaId: x.MemberAreaID,
							GroupListExternalIdentifier: x.GroupExternalIdentifier,
							TeamName: x.Name,
							PatientIsOnGroupList: teamsPatientIsPinnedTo.findIndex(y => x.MemberAreaID === y.MemberAreaId) !== -1,
							UserCanManagePatientListMembership: true //pre-checked at step 1
						};
					}
					return null;
				})
				.filter(Boolean);

			return teamsPatientCanBePinnedTo;
		}
	},
	methods: {
		teamMembershipUpdated(obj) {
			if (!obj) return;
			this.IsLoading = true;

			if (this.isModal) {
				//Modal tells other components listening
				VueEventBus.$emit('PatientListMembershipModal.Updated', obj);
			}

			if (obj.IsOnTeamList) {
				return this.addPatientToGroupList(obj.MemberAreaId, obj.PatientId)
					.then(response => {
						if (!this.GroupListExternalIdentifiers.includes(obj.GroupListExternalIdentifier)) {
							this.GroupListExternalIdentifiers.push(obj.GroupListExternalIdentifier);
						}

						this.IsLoading = false;
					})
					.fail(error => {
						this.IsLoading = false;
					});
			}

			return this.removePatientFromGroupList(obj.MemberAreaId, obj.PatientId)
				.then(response => {
					this.GroupListExternalIdentifiers = this.GroupListExternalIdentifiers.filter(x => x !== obj.GroupListExternalIdentifier);
					this.IsLoading = false;
				})
				.fail(error => {
					this.IsLoading = false;
				});
		},
		addPatientToGroupList(memberAreaId, patientId) {
			return AddPatientToGroupList.callApi(memberAreaId, patientId)
				.then((response, status, xhr) => {})
				.fail(error => {
					this.IsLoading = false;
				});
		},
		removePatientFromGroupList(memberAreaId, patientId) {
			return RemovePatientFromGroupList.callApi(memberAreaId, patientId)
				.then((response, status, xhr) => {})
				.fail(error => {
					this.IsLoading = false;
				});
		}
	},
	created() {
		if (!this.patient && this.patientId) {
			//No patient set - patient summary tab
			GetPatient.callApi(this.patientId, this.networkId, ['HandoverNotes'])
				.then((response, status, xhr) => {
					this.Patient = response.Data;
					this.GroupListExternalIdentifiers = response.Data.GroupListExternalIdentifiers;
					this.IsLoadingPatientData = false;
				})
				.fail(error => {});

			//Non modal listener
			VueEventBus.$on('PatientListMembershipModal.Updated', obj => {
				if (obj.IsOnTeamList) {
					//Adding
					if (!this.GroupListExternalIdentifiers.includes(obj.GroupListExternalIdentifier)) {
						this.GroupListExternalIdentifiers.push(obj.GroupListExternalIdentifier);
					}
				} else {
					//Removing
					if (this.GroupListExternalIdentifiers.includes(obj.GroupListExternalIdentifier)) {
						this.GroupListExternalIdentifiers.splice(this.GroupListExternalIdentifiers.indexOf(obj.GroupListExternalIdentifier), 1);
					}
				}
			});
		}
	},
	updated() {
		appMain.setElementsAsFullHeight();
	},
	mounted() {},
	deforeDestroy() {}
};
</script>

<style lang="less" rel="stylesheet/less" type="text/less">
@import '../../../../less/app-variables.less';
.patient-lists {
	//max-width: 500px;
	box-sizing: border-box;
	margin: 0 0 0 1em;
	padding: 0 0 1em 0.1em;
	&.is-modal {
		margin: 0;
	}
}
</style>

<custom>Patient context team lists</custom>
