<template>
  <div v-cloak class="patient-summary-widget">
    <template v-if="IsLoading">
      <div class="view-block__title">Latest observations</div>
      <ui-progress-circular color="primary"></ui-progress-circular>
    </template>
    <template v-else>
      <div class="view-block__title">Latest observations</div>

      <PatientVitalsWeightHeightWidget :patient-id="patientId" :patient="patient" :networkId="networkId" :member-area-id="memberAreaId"></PatientVitalsWeightHeightWidget>

      <div v-if="getObservationsToDisplay.length" class="patient-vitals-items-header">
        <div class="ews-date">
          <div class="header-label">EWS Total</div>
          <div v-if="!EwsApiError" class="header-date">{{EwsLastUpdatedDate | formatDate}}</div>
          <div v-if="!EwsApiError && EwsObservationModel" class="header-model"><span class="label">Observation model: </span>{{EwsObservationModel}}</div>
          <div v-if="EwsApiError">EWS service unavailable.</div>
        </div>
        <div v-if="!EwsApiError" v-html="getSvgItem" class="ews-svg-wrapper"></div>
      </div>

      <div v-if="getObservationsToDisplay.length" class="patient-vitals-items-wrapper">
        <VitalsSummaryWidgetLineItem v-for="(item) in getObservationsToDisplay" :key="item.resource.id" :item="item"></VitalsSummaryWidgetLineItem>
      </div>
    </template>
    <div v-if="!ApiError && !IsLoading && !getObservationsToDisplay.length">
      No recorded observations.
    </div>
    <div v-if="ApiError && !IsLoading">
      Observations unavailable. </div>
  </div>
</template>

<script>
  import Vault from 'Endpoints/careflowApp/Vault';
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import GetPatientHospitalNumber from 'VueMixins/getPatientHospitalNumber';
  /* API Endpoints */
  import * as GetVitalsObervations from 'Endpoints/medwayServices/careflowVitals/GetVitalsObservations';
  /*Components*/
  import VitalsSummaryWidgetLineItem from 'VueComponents/medwayIntegrations/patientVitals/components/VitalsSummaryWidgetLineItem';
  import PatientVitalsWeightHeightWidget from 'VueComponents/medwayIntegrations/patientVitals/PatientVitalsWeightAndHeightSummaryWidget';

  export default {
  	data: function() {
  		return {
  			IsLoading: true,
  			PatientObservations: [],
  			PatientEws: [],
  			EwsLastUpdatedDate: null,
  			EwsScoreComponentDataUri: null,
  			EwsScoreComponentDataUriContentType: null,
  			EwsObservationModel: null,
  			TotalEwsCount: null,
  			TotalObservationsCount: null,
  			PatientHospitalNumber: this.getPatientHospitalNumberFromIdentifiers(this.patient.PatientIdentifiers) || null,
  			RebuildUiComponentKey: null,
  			ApiError: false,
  			EwsApiError: false,
  		};
  	},
  	mixins: [DateFilter, GetPatientHospitalNumber],
  	components: { VitalsSummaryWidgetLineItem, PatientVitalsWeightHeightWidget },
  	props: {
  		patient: {
  			required: true,
  			type: [Array, Object],
  		},
  		patientId: {
  			required: true,
  			type: [Number, String],
  		},
  		networkId: {
  			required: true,
  			type: [Number, String],
  		},
  		memberAreaId: {
  			required: false,
  			type: [Number, String],
  		},
  	},
  	filters: {},

  	computed: {
  		getObservationsToDisplay() {
  			//remove duplicate objects
  			//The code does a basic filter which is akin to a for..loop where you return true or false to remove or keep the item. We can use the map method to create a temporary array, then we use the indexOf method to see if we can find the same object inside of our map. If we do, then we know it is a duplicate.

  			if (!this.PatientObservations || !this.PatientObservations.length) return [];

  			return (this.PatientObservations = this.PatientObservations.filter((thing, index, self) => index === self.findIndex(t => t.resource.code.coding[0].code === thing.resource.code.coding[0].code)));
  		},
  		getSvgItem() {
  			if (!this.EwsScoreComponentDataUri) return false;
  			return this.EwsScoreComponentDataUri;
  		},
  	},

  	watch: {},

  	methods: {
  		getPatientObservations() {
  			this.ApiError = false;
  			if (!this.PatientHospitalNumber) return Promise.reject();

  			//Temporary fix for Jon Shaw DEMO (20-12-18) - to remove - 800059414 ONLY WORKING VITALS ON 20-12
  			if (this.networkId === 1215) {
  				if (this.PatientHospitalNumber === '800061831') this.PatientHospitalNumber = '800038648'; //SNOW, jon
  				if (this.PatientHospitalNumber === '800061836') this.PatientHospitalNumber = '800059533'; //HERITAGE, marj
  				if (this.PatientHospitalNumber === '800061834') this.PatientHospitalNumber = '800059414'; //CRAVEN, george
  			}

  			return GetVitalsObervations.getVitals(this.PatientHospitalNumber)
  				.then((response, status, xhr, fullResponse) => {
  					if (Object.keys(response.data).length === 0 || !response.data.hasOwnProperty('entry')) {
  						return;
  					}
  					this.PatientObservations = response.data.entry;
  					this.TotalObservationsCount = response.data.total;
  				})
  				.catch(error => {
  					this.ApiError = true;
  				});
  		},
  		getPatientEws() {
  			this.EwsApiError = false;
  			if (!this.PatientHospitalNumber) return Promise.reject();

  			//Temporary fix for Jon Shaw DEMO (20-12-18) - to remove
  			if (this.networkId === 1215) {
  				if (this.PatientHospitalNumber === '800061831') this.PatientHospitalNumber = '800038648'; //SNOW, jon
  				if (this.PatientHospitalNumber === '800061836') this.PatientHospitalNumber = '800059533'; //HERITAGE, marj
  				if (this.PatientHospitalNumber === '800061834') this.PatientHospitalNumber = '800059414'; //CRAVEN, george
  			}

  			return GetVitalsObervations.getEws(this.PatientHospitalNumber)
  				.then((response, status, xhr, fullResponse) => {
  					if (Object.keys(response.data).length === 0 || !response.data.hasOwnProperty('entry')) {
  						return;
  					}
  					this.EwsLastUpdatedDate = response.data.entry[0].resource.meta.lastUpdated;
  					this.PatientEws = response.data.entry;
  					this.TotalEwsCount = response.data.total;
  					this.EwsScoreComponentDataUriContentType = response.data.entry[0].resource.component[0].valueAttachment.contentType;
  					this.EwsScoreComponentDataUri = atob(response.data.entry[0].resource.component[0].valueAttachment.data); //Decode base64 string
  					this.EwsObservationModel = response.data.entry[0].resource.category[0].coding[0].display || null;
  				})
  				.catch(error => {
  					this.EwsApiError = true;
  				});
  		},

  		setActiveItem(medicationId) {
  			// this.$emit('set-active-item', {
  			// 	ContentItemId: null,
  			// 	ContentType: 'patient-medications'
  			// });
  		},
  	},

  	events: {},

  	beforeCreate: function() {},

  	created: function() {
  		Promise.all([this.getPatientObservations(), this.getPatientEws()])
  			.then(responses => {
  				this.IsLoading = false;
  			})
  			.catch(error => {
  				this.IsLoading = false;
  				this.ApiError = true;
  			});
  	},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},

  	mounted() {},
  };
</script>

<style scoped lang="less">
  @import '../../../../../less/app-variables.less';
  .patient-summary-widget {
  	box-sizing: border-box;
  	margin: 1em 0 2em 0;
  	padding: 0 1em;
  }
  .patient-vitals-items-wrapper {
  	display: flex;
  	flex-direction: column;
  }
  .patient-vitals-items-header {
  	display: flex;
  	display: flex;
  	border-bottom: 1px solid @row--border;
  	padding: 0 0 0.8em 0;
  	display: flex;
  	margin: 0 0 0.8em 0;
  	align-items: center;
  }
  .header-label {
  	display: flex;
  	text-transform: uppercase;
  	font-weight: @font--medium;
  }
  .header-model {
  	display: flex;
  	margin: 0.5em 0 0 0;
  	& .label {
  		margin: 0 0.5em 0 0;
  	}
  }
  .header-date {
  	display: flex;
  	color: @text-light;
  }
  .ews-svg-wrapper {
  	display: flex;
  	margin-left: auto;
  }
</style>
<notes>Vitals/Observations (EWS etc. Integration API), used on patient dashboard.</notes>
