<template>
  <div v-cloak class="patient-summary-widget vitals">
    <!-- <ui-progress-circular color="primary" v-if="IsLoading"></ui-progress-circular> -->
    <template>
      <div ref="item-wrap" v-if="getObservationsToDisplay.length > 0 && !IsLoading" class="patient-vitals-items-wrapper">
        <WeightAndHeightLineItem v-for="(item) in getObservationsToDisplay" :key="item.id" :item="item" :obsData="getObservationsToDisplay"></WeightAndHeightLineItem>
      </div>
    </template>
    <div v-if="!ApiError && !IsLoading && !getObservationsToDisplay.length">
      No recorded height and weight.
    </div>
    <div v-if="ApiError && !IsLoading">
      Height and weight unavailable. </div>
  </div>
</template>

<script>
  import Vault from 'Endpoints/careflowApp/Vault';
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import GetPatientHospitalNumber from 'VueMixins/getPatientHospitalNumber';
  /* API Endpoints */
  import * as GetVitalsObervations from 'Endpoints/medwayServices/careflowVitals/GetVitalsObservations';
  /*Components*/
  import WeightAndHeightLineItem from 'VueComponents/medwayIntegrations/patientVitals/components/WeightAndHeightLineItem';

  export default {
  	data: function() {
  		return {
  			IsLoading: true,
  			PatientHeightAndWeightData: [],
  			PatientHospitalNumber: this.getPatientHospitalNumberFromIdentifiers(this.patient.PatientIdentifiers) || null,
  			RebuildUiComponentKey: null,
  			ApiError: false,
  		};
  	},
  	mixins: [DateFilter, GetPatientHospitalNumber],
  	components: { WeightAndHeightLineItem },
  	props: {
  		patient: {
  			required: true,
  			type: [Array, Object],
  		},
  		patientId: {
  			required: true,
  			type: [Number, String],
  		},
  		networkId: {
  			required: true,
  			type: [Number, String],
  		},
  		memberAreaId: {
  			required: false,
  			type: [Number, String],
  		},
  	},
  	filters: {},

  	computed: {
  		getObservationsToDisplay() {
  			//31 Weight - https://confluence.systemc.com/display/TLC/Data+Types
  			//32 Height - https://confluence.systemc.com/display/TLC/Data+Types
  			//46 Weight method - https://confluence.systemc.com/display/TLC/Data+Types
  			//47 Height method - https://confluence.systemc.com/display/TLC/Data+Types
  			return (
  				this.PatientHeightAndWeightData.map(x => {
  					if (x.resource.code.coding[0].code === '31' || x.resource.code.coding[0].code === '32')
  						return {
  							id: x.resource.id,
  							code: x.resource.code.coding.length ? x.resource.code.coding[0].code : null,
  							snomedCode: x.resource.code.coding.length > 1 ? x.resource.code.coding[1].code : null,
  							text: x.resource.code.text,
  							lastUpdated: x.resource.meta.lastUpdated,
  							displayValue: x.resource.code.coding.length > 0 ? this.getValueToDisplay(x.resource) : ``,
  							methodValue: x.resource.code.coding.length > 0 ? this.getMethodToDisplay(x.resource.code.coding[0].code) : ``,
  						};
  					return null;
  				})
  					.filter(Boolean)
  					.sort((a, b) => {
  						let textA = a.text.toUpperCase(); //changing the case (to upper or lower) ensures a case insensitive sort.
  						let textB = b.text.toUpperCase();
  						return textA < textB ? -1 : textA > textB ? 1 : 0;
  					}) || []
  			);
  		},
  	},

  	watch: {},

  	methods: {
  		getPatientWeightAndHeight() {
  			this.ApiError = false;
  			return GetVitalsObervations.getBodyHeightAndWeight(this.PatientHospitalNumber)
  				.then((response, status, xhr, fullResponse) => {
  					if (Object.keys(response.data).length === 0 || !response.data.hasOwnProperty('entry')) {
  						return;
  					}
  					this.PatientHeightAndWeightData = response.data.entry;
  				})
  				.catch(error => {
  					this.ApiError = true;
  				});
  		},
  		getValueToDisplay(item) {
  			//31 Weight - https://confluence.systemc.com/display/TLC/Data+Types
  			//32 Height - https://confluence.systemc.com/display/TLC/Data+Types

  			if (item.hasOwnProperty('valueQuantity') && (item.code.coding[0].code === '31' || item.code.coding[0].code === '32')) {
  				return `${item.valueQuantity.value} ${item.valueQuantity.unit}`;
  			}
  			return ``;
  		},

  		getMethodToDisplay(code) {
  			if (!code) return false;
  			//31 Weight - https://confluence.systemc.com/display/TLC/Data+Types
  			//32 Height - https://confluence.systemc.com/display/TLC/Data+Types
  			//46 Weight method - https://confluence.systemc.com/display/TLC/Data+Types
  			//47 Height method - https://confluence.systemc.com/display/TLC/Data+Types

  			let id = code == 31 ? 46 : code == 32 ? 47 : null; //API may return a string number

  			return (
  				this.PatientHeightAndWeightData.map(x => {
  					if (x.resource.hasOwnProperty('valueCodeableConcept') && x.resource.code.coding[0].code == id) {
  						//weight or height
  						return `${x.resource.valueCodeableConcept.coding[0].display}`;
  					}
  					return null;
  				}).filter(Boolean)[0] || ``
  			);
  		},
  	},

  	events: {},

  	beforeCreate: function() {},

  	created: function() {
  		this.getPatientWeightAndHeight()
  			.then(responses => {
  				this.IsLoading = false;
  			})
  			.catch(error => {
  				this.IsLoading = false;
  				this.ApiError = true;
  			});
  	},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},

  	mounted() {},
  };
</script>

<style scoped lang="less">
  @import '../../../../../less/app-variables.less';
  .patient-summary-widget {
  	&.vitals {
  		box-sizing: border-box;
  		margin: 0 0 0.8em 0;
  		padding: 0 0 0.8em;
  		border-bottom: 1px solid @row--border;
  	}
  }
  .patient-vitals-items-wrapper {
  	display: flex;
  	flex-flow: row;
  }
</style>
<notes>Vitals/Height and Weight, used on patient dashboard.</notes>
