<template>

  <div ref="item" v-bind:class="{'table__row':true, 'is-audit':ViewContext === 'audit', 'body__row':true, 'body__patient-row':true, 'pure-g':true,'is-modal':isModal}">
    <div v-if="CanViewProfilesForNetwork" :style="{'border-left': '5px solid #' + handoverItem.Profile.Colour.slice(0,6)}" class="row-colour-block"></div>
    <div class="row-profile-block pure-g">
      <div class="pure-u-4-24 row__meta">
        <div v-if="CanViewProfilesForNetwork" class="meta__role">
          <span class="role-blob"> {{handoverItem.Profile.Name}}</span>
        </div>
        <div class="meta__team">
          <a :href="'/#/'+ networkId + '/Teams/'+ handoverItem.MemberAreaId +'/TeamUpdates'" class="">{{handoverItem.GroupName}}</a>
        </div>
        <div class="meta__updated">
          <div>{{handoverItem.UpdatedByName}} {{handoverItem.DateLastUpdated | formatDate}} <template v-if="handoverItem.DaysSinceLastUpdate">({{handoverItem.DaysSinceLastUpdate}}d)</template><template v-else>(today)</template> </div>
        </div>
      </div>

      <div v-on:click="()=>{if (!UserCanEditHandoverForTeam || ViewContext !== 'current') return; IsEditingHandover = true}" :class="{'body__cell':true, 'hover':true, 'pure-u-5-24':true}">
        <template v-if="thereAreHandoverNotes && !IsEditingHandover">
          <div v-if="IsHighlightingDifferences" class="handover-txt--diffs" v-html="handoverItem.SituationDiffText"></div>
          <div v-else class="handover-txt">{{handoverItem.Notes[0].Value}}</div>
        </template>

        <ui-textbox v-if="IsEditingHandover" @input="sbarTextareaChanged($event, 'situation-textbox')" class="handover-txtbox" enforce-maxlength :multi-line="true" :maxlength="1000" :value="HandoverStaging.Notes[0].Value"></ui-textbox>

      </div>
      <div v-on:click="()=>{if (!UserCanEditHandoverForTeam || ViewContext !== 'current') return; IsEditingHandover = true}" :class="{'body__cell':true, 'hover':true, 'pure-u-5-24':true}">
        <template v-if="thereAreHandoverNotes && !IsEditingHandover">
          <div v-if="IsHighlightingDifferences" class="handover-txt--diffs" v-html="handoverItem.BackgroundDiffText"></div>
          <div v-else class="handover-txt">{{handoverItem.Notes[1].Value}}</div>
        </template>

        <ui-textbox v-if="IsEditingHandover" @input="sbarTextareaChanged($event, 'background-textbox')" class="handover-txtbox" enforce-maxlength :multi-line="true" :maxlength="1000" :value="HandoverStaging.Notes[1].Value"></ui-textbox>

      </div>
      <div v-on:click="()=>{if (!UserCanEditHandoverForTeam || ViewContext !== 'current') return; IsEditingHandover = true}" :class="{'body__cell':true, 'hover':true, 'pure-u-5-24':true}">
        <template v-if="thereAreHandoverNotes && !IsEditingHandover">
          <div v-if="IsHighlightingDifferences" class="handover-txt--diffs" v-html="handoverItem.AssessmentDiffText"></div>
          <div v-else class="handover-txt">{{handoverItem.Notes[2].Value}}</div>
        </template>

        <ui-textbox v-if="IsEditingHandover" @input="sbarTextareaChanged($event, 'assessment-textbox')" class="handover-txtbox" enforce-maxlength :multi-line="true" :maxlength="1000" :value="HandoverStaging.Notes[2].Value"></ui-textbox>

      </div>
      <div v-on:click="()=>{if (!UserCanEditHandoverForTeam || ViewContext !== 'current') return; IsEditingHandover = true}" :class="{'body__cell':true, 'hover':true, 'pure-u-5-24':true}">
        <template v-if="thereAreHandoverNotes && !IsEditingHandover">
          <div v-if="IsHighlightingDifferences" class="handover-txt--diffs" v-html="handoverItem.RecommendationDiffText"></div>
          <div v-else class="handover-txt">{{handoverItem.Notes[3].Value}}</div>
        </template>

        <ui-textbox v-if="IsEditingHandover" @input="sbarTextareaChanged($event, 'recommendation-textbox')" class="handover-txtbox" enforce-maxlength :multi-line="true" :maxlength="1000" :value="HandoverStaging.Notes[3].Value"></ui-textbox>

      </div>
      <!--row footer-->
      <div v-if="ViewContext === 'current'" class="pure-u-1 row__footer">
        <div class="pure-u-4-24">
          <!-- -->
        </div>
        <div class="pure-u-20-24">
          <ui-button color="primary" :disabled="IsLoading" :loading="IsLoading" v-show="!thereAreHandoverNotes && !IsEditingHandover" v-on:click="IsEditingHandover = true">Start handover</ui-button>
          <button class="btn--plain edit-btn" :disabled="IsLoading || !UserCanEditHandoverForTeam" v-show="thereAreHandoverNotes && !IsEditingHandover" v-on:click="IsEditingHandover = true">
            <i class="material-icons">edit</i> Edit handover</button>
          <ui-button color="primary" :disabled="IsLoading || !handoverInputsAreValidForUpsert" :loading="IsLoading" v-show="IsEditingHandover" v-on:click="saveHandover">Save handover</ui-button>
          <ui-button type="secondary" :disabled="IsLoading" :loading="IsLoading" v-show="IsEditingHandover" v-on:click="cancelHandoverEdit">Cancel</ui-button>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
  /* API Endpoints */
  import UpsertHandoverNote from 'Endpoints/patients/UpsertHandoverNote';
  import Vault from 'Endpoints/careflowApp/Vault';

  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import ScrollToEl from 'VueMixins/scrollToElement';

  /*Utils*/

  /*Components*/

  export default {
  	data() {
  		return {
  			PatientId: this.patientId,
  			IsEditingHandover: false,
  			HandoverStaging: JSON.parse(JSON.stringify(this.handoverItem)),
  			IsLoading: false,
  			ViewContext: this.viewContext,
  			IsHighlightingDifferences: this.isHighlightingDifferences,
  			CanViewProfilesForNetwork: this.canViewProfilesForNetwork,
  			UserCanEditHandoverForTeam: this.memberAreaId ? appMain.getUserPermissionsForMemberArea(this.memberAreaId).includes('UpsertHandoverNote') : appMain.getUserPermissionsForMemberArea(this.handoverItem.MemberAreaId).includes('UpsertHandoverNote'),
  		};
  	},
  	components: {},
  	props: {
  		handoverItem: {
  			type: [Object, Array],
  			required: true,
  		},
  		patientId: {
  			type: [String, Number],
  			required: true,
  		},
  		networkId: {
  			type: [String, Number],
  			required: true,
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false,
  		},
  		thereAreHandoverNotes: {
  			type: [Boolean],
  			required: true,
  		},
  		scrollToItem: {
  			type: [String, Number],
  			required: false,
  		},
  		viewContext: {
  			type: [String],
  			required: true,
  			default: 'current',
  		},
  		isHighlightingDifferences: {
  			type: [Boolean],
  			required: true,
  			default: false,
  		},
  		canViewProfilesForNetwork: {
  			//Main profiles permission
  			type: [Boolean],
  			required: true,
  		},
  		contentIdToActivate: {
  			type: [String, Number],
  			required: false,
  		},

  		isModal: {
  			type: [Boolean],
  			required: false,
  			default: false,
  		},
  	},
  	mixins: [DateFilter, ScrollToEl],
  	watch: {
  		handoverItem: {
  			handler(newVal, oldVal) {
  				if (newVal) {
  					this.IsEditingHandover = false;
  					return (this.HandoverStaging = JSON.parse(JSON.stringify(newVal)));
  				}
  			},
  			deep: true,
  		},
  		viewContext(newVal, oldVal) {
  			if (newVal && this.ViewContext !== newVal) {
  				this.cancelHandoverEdit();
  				return (this.ViewContext = newVal);
  			}
  			return;
  		},
  		isHighlightingDifferences(newVal, oldVal) {
  			if (typeof newVal === 'boolean' && this.IsHighlightingDifferences !== newVal) return (this.IsHighlightingDifferences = newVal);
  			return;
  		},
  		// scrollToItem(newVal, oldVal) {
  		// 	if (newVal && newVal === this.HandoverStaging.TeamRole.ExternalIdentifier) {
  		// 		this.$nextTick(function() {
  		// 			// DOM updated
  		// 			this.scrollToEl(this.$refs['item']);
  		// 		});
  		// 	}
  		// }
  	},
  	methods: {
  		saveHandover() {
  			if (!this.UserCanEditHandoverForTeam) return false;
  			this.IsLoading = true;
  			UpsertHandoverNote.callApi(
  				this.memberAreaId ? this.memberAreaId : this.HandoverStaging.MemberAreaId,
  				this.HandoverStaging.Notes[0].Value,
  				this.HandoverStaging.Notes[1].Value,
  				this.HandoverStaging.Notes[2].Value,
  				this.HandoverStaging.Notes[3].Value,
  				this.PatientId,
  				this.CanViewProfilesForNetwork ? this.HandoverStaging.Profile.ExternalIdentifier : undefined
  				//this.HandoverStaging.Profile.Name !== 'Default' ? this.HandoverStaging.Profile.ExternalIdentifier || '' : ''
  			) //TODO - use ExternalIdentifier when API supports
  				.then((response, textStatus, xhr) => {
  					if (/^2/.test(xhr.status)) {
  						//Set new notes
  						this.HandoverStaging.DateLastUpdated = moment();
  						this.HandoverStaging.DaysSinceLastUpdate = 0;
  						this.HandoverStaging.UpdatedByName = Vault.getItem('LoggedInUserName') || ''; //Logged in user made update

  						if (this.memberAreaId) this.HandoverStaging.MemberAreaId = this.memberAreaId; //Set active member area id

  						if (this.memberAreaId) this.HandoverStaging.GroupName = appMain.getMemberAreaName(this.memberAreaId);

  						this.$emit('handover-upated', { Data: this.HandoverStaging });
  						//this.handoverItem = this.HandoverStaging; //Mustate parent prop - pass up to parent (TODO:event based EMIT @)

  						//this.HandoverStaging = JSON.parse(JSON.stringify(this.handoverItem));

  						this.IsEditingHandover = false;
  						this.IsLoading = false;
  					}
  				})
  				.fail(error => {
  					this.IsEditingHandover = false;
  					this.IsLoading = false;
  				});
  		},
  		cancelHandoverEdit() {
  			this.HandoverStaging = JSON.parse(JSON.stringify(this.handoverItem));
  			this.IsEditingHandover = false;
  		},
  		jsonEqual(a, b) {
  			if (!a) a = {};
  			if (!b) b = {};

  			return JSON.stringify(a) === JSON.stringify(b);
  		},
  		sbarTextareaChanged(val, el) {
  			/*https://github.com/vuejs/vue/issues/6466 - IE11 v-model issue - need to use input events*/
  			if (el === 'situation-textbox') return (this.HandoverStaging.Notes[0].Value = val);
  			if (el === 'background-textbox') return (this.HandoverStaging.Notes[1].Value = val);
  			if (el === 'assessment-textbox') return (this.HandoverStaging.Notes[2].Value = val);
  			if (el === 'recommendation-textbox') return (this.HandoverStaging.Notes[3].Value = val);
  			return false;
  		},
  	},
  	computed: {
  		handoverInputsAreValidForUpsert() {
  			if (!this.IsEditingHandover || !this.HandoverStaging || !this.HandoverStaging.Notes.length) return false;
  			let s = this.HandoverStaging.Notes[0].Value.trim().length > 0;
  			let b = this.HandoverStaging.Notes[1].Value.trim().length > 0;
  			let a = this.HandoverStaging.Notes[2].Value.trim().length > 0;
  			let r = this.HandoverStaging.Notes[3].Value.trim().length > 0;

  			if (this.thereAreHandoverNotes) {
  				if ((s || b || a || r) && !this.jsonEqual({ a: this.HandoverStaging.Notes }, { a: this.handoverItem.Notes })) return true;
  				return false;
  			}
  			if (s || b || a || r) return true;

  			return false;
  		},
  	},
  	created() {},
  	mounted() {
  		//Scroll to the row - if non profile netowrk will be passed the default profile ID
  		if (this.viewContext === 'current' && this.handoverItem.Profile.ExternalIdentifier === this.contentIdToActivate) {
  			this.scrollToEl(this.$refs['item']);
  		}
  	},
  	updated() {
  		appMain.setModalElementsAsFullHeight();
  	},
  };
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../../less/app-variables.less';

  .u-data-table--default {
  	& .table__row {
  		&:hover {
  			background: none;
  		}
  		&.is-audit {
  			:hover {
  				cursor: auto;
  			}
  			& a {
  				&:hover {
  					cursor: pointer;
  				}
  			}
  		}
  		& .row-profile-block {
  			display: flex;
  			flex: 1;
  			flex-grow: 1;
  		}
  		& .row-colour-block {
  			width: 5px;
  			display: flex;
  			align-self: stretch;
  		}
  		&.is-modal {
  			& .row-profile-block {
  				flex-flow: row;
  			}
  		}
  	}
  }

  .body__cell .ui-textbox {
  	flex-basis: 98%;
  }

  .body__cell {
  	& .ui-textbox__textarea {
  		max-height: 360px;
  	}
  }

  .body__row {
  	margin-bottom: 0;
  }
  .row__meta {
  	display: flex;
  	flex-direction: column;
  	& .meta__role {
  		width: 100%;
  	}
  	& .meta__team {
  		display: flex;
  		width: 100%;
  		flex-wrap: wrap;
  		word-break: break-all;
  	}
  	& .meta__updated {
  		display: flex;
  		width: 100%;
  		flex-wrap: wrap;
  		word-break: break-all;
  	}
  }

  .meta__updated {
  	margin: 0.6em 0 0 0;
  	font-size: 0.9em;
  	color: @text-light;
  }
  .role-blob {
  	padding: 0;
  	font-weight: @font--medium;
  	color: @body-colour;
  	margin: 0 0 1em 0;
  	display: block;
  }
  .handover-txt {
  	//word-break: break-all;
  	white-space: pre-wrap;
  	hyphens: auto;
  	width: 100%;
  }
  .handover-txt--diffs {
  	.handover-txt();
  	hyphens: auto;
  	&:hover {
  		cursor: auto;
  	}
  }
  .row__footer {
  	& .ui-button {
  		margin-right: 0.5em;
  	}
  }
  .edit-btn {
  	display: flex;
  	align-items: center;
  	& .material-icons {
  		font-size: 16px;
  		margin: 0 0.2em 0 0;
  	}
  }
</style>

<custom>Patient dashboard / summary handover tab row component</custom>
