<template>
	<div ref="profile-item" v-bind:class="{'profile-item':true, 'pure-u-1':true, 'is-disabled': disabled}">
		<div class="item-meta">
			<span :style="{'background-color':'#' + ProfileItem.Colour.slice(0,6)}" class="profile-blob"></span><span class="profile-name">{{ProfileItem.Name}}</span>
		</div>
		<div :class="{'item-actions' : true, 'is-disabled': disabled}">
			<ui-switch :disabled="apiIsBusy || !updateTeamRolesForTeam" @change="toggleTagStatus(ProfileItem)" :checked="ProfileItem.Selected" :value="ProfileItem.Selected"></ui-switch>
			<span v-if="!disabled" v-handle :class="{'profile-handle':true, 'is-disabled':disabled || apiIsBusy || !updateTeamRolesForTeam}"><i class="material-icons">swap_vertical</i></span>
		</div>
	</div>

</template>

<script>
/* API Endpoints */

/*Mixins*/
import DateFilter from 'VueMixins/dateFilter';
import ScrollToEl from 'VueMixins/scrollToElement';
import { ElementMixin, HandleDirective } from 'vue-slicksort';
/*Utils*/

/*Components*/

export default {
	data() {
		return {
			IsLoading: false,
			ProfileItem: this.rowItem,
			IsSelected: false
		};
	},
	components: {},
	props: {
		rowItem: {
			type: [Object, Array],
			required: true
		},
		disabled: {
			type: [Boolean],
			required: true,
			default: false
		},
		apiIsBusy: {
			type: [Boolean],
			required: true,
			default: false
		},
		updateTeamRolesForTeam: {
			type: [Boolean],
			required: true,
			default: false
		},
		contentIdToActivate: {
			type: [String, Number],
			required: false
		}
	},
	mixins: [DateFilter, ScrollToEl, ElementMixin],
	directives: { handle: HandleDirective },
	watch: {},
	methods: {
		toggleTagStatus(val, event) {
			this.$emit('team-profile-selected-toggle', { Selected: !val.Selected, Profile: val });
		}
	},
	computed: {},
	created() {},
	mounted() {},
	updated() {
		appMain.setModalElementsAsFullHeight();
	}
};
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
@import '../../../../../less/app-variables.less';
.profile-item {
	display: flex;
	border-bottom: 1px solid @row--border;
	padding: 0.3em 1em;
	flex-basis: 100%;
	align-items: center;
	&:last-of-type {
		border-bottom: none;
	}
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.profile-name {
	font-weight: @font--medium;
}

.profile-blob {
	border-radius: 30px;
	height: 30px;
	width: 30px;
	margin: 0 1em 0 0;
	align-items: center;
	display: flex;
}
.profile-handle {
	overflow: hidden;
	max-width: 24px;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
	cursor: pointer;
	&:hover {
		cursor: pointer;
		color: @link--active;
	}
	&.is-disabled {
		color: @text-light;
		cursor: auto;
		&:hover {
			cursor: auto;
			color: @text-light;
		}
	}
}
.item-meta {
	display: flex;
	align-items: center;
}
.item-actions {
	margin-left: auto;
	display: flex;
	&.is-disabled {
		& .ui-switch {
			margin-right: 24px;
		}
	}
}
</style>



<custom>Manage team profiles row component</custom>
