<template>
	<div class="team-smart-list-wrapper">
		<p data-full-height-deduct="true">Select the consultants / locations to auto-populate the team patient list.</p>

		<span data-full-height-deduct="true" class="view-block__title">Saved smart lists ({{getSavedSmartListsToRender.length}})</span>
		<div data-scroll="true" class="list-grid__body-wrapper js-fullHeight-bodyElement">

			<div class="body__saved-items">
				<ui-progress-circular v-if="IsLoading" color="primary"></ui-progress-circular>
				<template v-if="getSavedSmartListsToRender.length && !IsLoading">
					<SavedSmartListItem @remove-filter="removeDefinition" v-for="(item, index) in getSavedSmartListsToRender" :key="item.ClientAssignedGuid" :smartListItem="item" :totalCountOfItems="getSavedSmartListsToRender.length" :isStagedForRemoval="Staging.Remove.has(item)" :isLastItem="index === getSavedSmartListsToRender.length - 1"></SavedSmartListItem>
				</template>
				<template v-if="!IsLoading && !getSavedSmartListsToRender.length">
					<p>No saved smart lists.</p>
				</template>
			</div>

			<!--Controls-->

			<div v-if="!AdvancedSelects" class="body__controls">
				<!--Regular controls-->
				<div class="body__select-block">
					<div class="block-text-desc">All patients <span class="u-strong--primary u-text-upper"> UNDER</span></div>
					<ui-select class="ui-select-clinician" ref="ui-select-consultant" has-search @focus="clinicianFilterFocused" :disabled="IsLoading" label="" placeholder="Select a consultant" :options="getConsultantData" v-model="StandardFilterView.Consultant" @select="clinicianFilterSelected"></ui-select>
				</div>

				<div class="body__select-block">
					<div class="block-text-desc"><span class="u-strong--primary u-text-upper">IN</span></div>
					<ui-select class="ui-select-location" ref="ui-select-location" has-search @focus="clinicianFilterFocused" :disabled="IsLoading" label="" placeholder="Select a location" :options="getLocationsData" v-model="StandardFilterView.Location">
						<template scope="props" slot="option">

							<template v-if="props.option.isSiteLabel">
								<div class="ui-select-option__basic site-label">{{props.option.label}}</div>
							</template>
							<template v-else>
								<div class="ui-select-option__basic area-label">{{props.option.label}}</div>
							</template>

						</template>
					</ui-select>
				</div>
			</div>

			<template v-if="AdvancedSelects">
				<SmartListAdvancedLogicRow v-for="(item, index) in AdvancedRowsAdded" :key="index" :locations="getLocationDataForFilters" :consultants="Consultants" :isFirstRule="index === 0" :isLastAddedRule="index === AdvancedRowsAdded.length - 1" :lastSelectionsSaved="LastSelectionsSavedOrStaged" :advanced-selection="AdvancedSelection" @advanced-selection-set="advancedSelectionSet" @reset-selection="resetAdvancedSelection" @add-new-rule="addNewAdvancedSelect"></SmartListAdvancedLogicRow>
			</template>

			<div v-html="getStandardFilterQueryToDisplay" v-show="(IsValidFilter && getStandardFilterQueryToDisplay)" class="body__selections"></div>

			<div class="body__actions">

				<div class="actions__row-1">
					<ui-button color="primary" :disabled="IsLoading || !IsValidFilter" :loading="IsLoading" v-on:click.stop.prevent="stageNewFilter">Add to smart list</ui-button>
					<button v-on:click="advancedViewToggled" class="type-toggle-btn btn--plain">{{modeToggelLabel}}</button>
				</div>

				<div class="actions__row-2">
					<ui-button color="primary" :disabled="IsLoading || (!Staging.Add.size && !Staging.Remove.size)" :loading="IsLoading" v-on:click.stop.prevent="saveStandardSmartListFilter">Save list</ui-button>
					<ui-button type="secondary" :disabled="IsLoading" :loading="IsLoading" v-if="Staging.Remove.size > 0 || Staging.Add.size > 0 || getStandardFilterQueryToDisplay" v-on:click.stop.prevent="cancelUpdate">Cancel</ui-button>
				</div>
			</div>

		</div>

	</div>
</template>

<script>
/* Utils */
import Vault from 'Endpoints/careflowApp/Vault';
/*Mixins*/
import DateFilter from 'VueMixins/dateFilter';
import GetLocationData from 'VueMixins/getLocationDataForUIselect';
import GetConsultantData from 'VueMixins/getConsultantDataForUIselect';
import GetGuid from 'VueMixins/getGuid';

/* API Endpoints */
import * as SaveGroupListDefinition from 'Endpoints/groupLists/SaveGroupListDefinition';
import * as GetGroupListDefinitions from 'Endpoints/groupLists/GetGroupListDefinitions';
/*Components*/
import { VueContentLoading } from 'vue-content-loading';
import SavedSmartListItem from 'VueComponents/teamSmartLists/SmartListSavedItem';
import SmartListAdvancedLogicRow from 'VueComponents/teamSmartLists/components/SmartListAdvancedLogicRow';

export default {
	data: function() {
		return {
			MemberAreaId: this.memberAreaId,
			IsLoading: false,
			IsValidFilter: false,
			RebuildUiComponentKey: null,
			StandardFilterView: {
				Consultant: '',
				Location: ''
			},
			Locations: [],
			Consultants: [],
			SavedSmartLists: [],
			Staging: {
				Remove: new Set(),
				Add: new Set()
			},
			LastSelectionsSavedOrStaged: Date.now(),
			AdvancedSelects: false, // 'Advanced' or 'Standard' mode
			AdvancedRowsAdded: [], //Each new row referenced
			AdvancedSelection: null //Passed from child
		};
	},
	mixins: [DateFilter, GetLocationData, GetConsultantData, GetGuid],
	components: {
		VueContentLoading,
		SavedSmartListItem,
		SmartListAdvancedLogicRow
	},
	props: {
		memberAreaId: {
			required: true,
			type: [Number, String]
		},
		networkId: {
			required: true,
			type: [Number, String]
		}
	},
	filters: {},

	computed: {
		getLocationsData() {
			//Standard row location data
			if (!this.Locations) return [];

			let returnData = this.Locations.map(x => {
				return {
					areaName: x.areaName || '',
					fullNameLabel: x.fullNameLabel || '',
					isDisabled: x.isDisabled || (this.StandardFilterView.Consultant.value === '' && (x.value === '' || x.isSiteLabel)) || false, //Disable 'All locations' in advanced when 'All consultants'
					isSiteLabel: x.isSiteLabel || '',
					label: x.label || '',
					locationType: x.locationType || '',
					siteName: x.siteName || '',
					type: x.type || '',
					value: x.value || ''
				};
			});

			return returnData;
		},

		getConsultantData() {
			//Standard row consultant data
			if (!this.Consultants) return [];

			let returnData = this.Consultants.map(x => {
				return {
					isDisabled: x.isDisabled || (this.StandardFilterView.Location.value === '' && x.value === '') || false, //Disable 'All locations' in advanced when 'All consultants'
					label: x.label || '',
					type: x.type || '',
					value: x.value || ''
				};
			});

			return returnData;
		},

		getLocationDataForFilters() {
			//Advanced row location data

			//Advanced selections filtering of location data real time - disable / remove previously selected options
			if (!this.AdvancedRowsAdded.length) return this.Locations;

			const selectionData = this.Locations.map(x => {
				if (!x.value) return null; // DO NOT return 'All locations' for Advanced Location filters'

				return {
					isDisabled: this.AdvancedSelection
						? this.AdvancedSelection.Locations.findIndex(y => {
								return y.FullLabel === x.fullNameLabel;
						  }) !== -1
						: false, //Matched area, already selected
					areaName: x.areaName || '',
					fullNameLabel: x.fullNameLabel || '',
					isSiteLabel: x.isSiteLabel || '',
					label: x.label || '',
					locationType: x.locationType || '',
					siteName: x.siteName || '',
					type: x.type || '',
					value: x.value
				};
			}).filter(Boolean);

			return selectionData || [];
		},
		getClinicianFilterBooleanOptions() {
			return [
				{
					label: 'Patient IS under',
					value: true
				},
				{
					label: 'Patient is NOT under',
					value: false
				}
			];
		},
		getSavedSmartListsToRender() {
			if (!this.SavedSmartLists.length) return [];

			//INFO - There is an API issue that allows duplicate definition of 'Clinician' + 'All locations'

			//Sort List - get staged items and merge from Set
			// if (this.Staging.Add.size) {
			// 	let stagedItems = Array.from(this.Staging.Add);
			// 	this.SavedSmartLists.concat(stagedItems);
			// }
			return _.sortBy(this.SavedSmartLists, function(x) {
				return x.UtcTimestamp;
				//return -x.UtcTimestamp;
			}).reverse();
		},
		getStandardFilterQueryToDisplay() {
			//Standard filter - Template literals - embedded expressions
			if (!this.AdvancedSelects) {
				if (this.IsValidFilter && this.StandardFilterView.Consultant && !this.StandardFilterView.Location) {
					return `<i class='material-icons selected-icon'>add </i> All patients <span class="u-strong--primary u-text-upper">UNDER</span> ${this.StandardFilterView.Consultant.label} <span\ class="u-strong--primary u-text-upper">IN All</span> locations`;
				}

				if (this.IsValidFilter && !this.StandardFilterView.Consultant && this.StandardFilterView.Location) {
					return `<i class='material-icons selected-icon'>add </i> All patients <span class="u-strong--primary u-text-upper">IN</span> ${this.StandardFilterView.Location.fullNameLabel} under\ <span class="u-strong--primary u-text-upper">ALL clinicians</span>`;
				}

				if (this.IsValidFilter && this.StandardFilterView.Consultant && this.StandardFilterView.Location) {
					return `<i class='material-icons selected-icon'>add </i> All patients <span class="u-strong--primary u-text-upper">UNDER</span> ${this.StandardFilterView.Consultant.label} <span \class="u-strong--primary u-text-upper">IN</span> ${
						this.StandardFilterView.Location.fullNameLabel
					}`;
				}
			} else {
				//Advanced - and selection present
				if (this.IsValidFilter && this.AdvancedSelection) {
					let clinicianLable;
					return `<i class='material-icons selected-icon'>add </i> All patients <span class="u-strong--primary u-text-upper">${this.AdvancedSelection.IsClinicianExcludedLabel}</span> ${
						this.AdvancedSelection.ClinicianName ? this.AdvancedSelection.ClinicianName : 'All consultants'
					} ${this.AdvancedSelection.Locations.map((item, i) => `<span class="u-strong--primary u-text-upper"> ${item.IsLocationExcludedLabel}</span> ${item.FullLabel}`)}`;
				}
			}

			return null;
		},
		modeToggelLabel() {
			if (this.AdvancedSelects) return 'Standard view';
			return 'Advanced view';
		}
	},

	watch: {
		StandardFilterView: {
			//As the user selects fro the DDLs
			handler(newVal, oldVal) {
				//Standard
				if (!newVal.Consultant || !newVal.Location) return (this.IsValidFilter = false);
				if (newVal.Consultant.value === '' && newVal.Location.isSiteLabel) return (this.IsValidFilter = false); //We know now there are values set. Can't set all clinicians in a site
				if (newVal.Consultant.value === '' && newVal.Location.value === '') return (this.IsValidFilter = false); //We know now there are values set. Can't set all Clinicians in ALL areas
				return (this.IsValidFilter = true);
			},
			deep: true
		},
		AdvancedSelection: {
			handler(newVal, oldVal) {
				if (this.AdvancedSelects && this.AdvancedSelection) {
					//Advanced
					//All consultants + all locations
					//Advanced - All consultants + Site(all areas) -add enabled - shouldn't be
					//Advanced - All consultants + all locations > add enabled - shouldn't be

					if (!newVal.ClinicianName && newVal.Locations && newVal.Locations.length) {
						const allLocationsSet =
							newVal.Locations.filter(x => {
								if (x.SelectedLocationValue === '' || x.IsSiteLabel) return x;
								return null;
							}).filter(Boolean).length > 0;

						if (allLocationsSet) return (this.IsValidFilter = false);
					}

					//NOT Dr Jones and all locations - shouldn't be allowed to be save
					if (newVal.ClinicianName && newVal.ClinicianExcluded && newVal.Locations && newVal.Locations.length) {
						const allLocationsSet =
							newVal.Locations.filter(x => {
								if (x.SelectedLocationValue === '') return x; //'' IS ALL LOCATIONS
								return null;
							}).filter(Boolean).length > 0;

						if (allLocationsSet) return (this.IsValidFilter = false);
					}

					//UNDER Dr Jones and NOT IN all locations - shouldn't be allowed to be save
					if (newVal.ClinicianName && !newVal.IsClinicianExcluded && newVal.Locations && newVal.Locations.length) {
						const allLocationsSet =
							newVal.Locations.filter(x => {
								if (x.SelectedLocationValue === '' && x.IsLocationExcluded) return x; //'' IS ALL LOCATIONS
								return null;
							}).filter(Boolean).length > 0;

						if (allLocationsSet) return (this.IsValidFilter = false);
					}

					//NOT UNDER Dr Jones and IN / NOT IN all locations - shouldn't be allowed to be save
					if (newVal.ClinicianName && newVal.IsClinicianExcluded && newVal.Locations && newVal.Locations.length) {
						//alert(JSON.stringify(newVal));
						const allLocationsSet =
							newVal.Locations.filter(x => {
								if (x.SelectedLocationValue === '' || x.IsLocationExcluded) return x; //'' IS ALL LOCATIONS

								//	if (x.IsLocationExcluded && x.SiteName && x.AreaName) return x; //'' IS AN EXCLUDED SITE + AREA
								//	if (x.IsSiteLabel && x.IsLocationExcluded) return x; //'' IS AN EXCLUDED SITE

								return null;
							}).filter(Boolean).length > 0;

						if (allLocationsSet) return (this.IsValidFilter = false);
					}

					//UNDER All consultants Not in Area (Site) - shouldn't be allowed to be save
					if (!newVal.ClinicianName && !newVal.IsClinicianExcluded && newVal.Locations && newVal.Locations.length) {
						const allLocationsSet =
							newVal.Locations.filter(x => {
								if (!x.IsSiteLabel && x.SelectedLocationValue && x.IsLocationExcluded) return x;
								return null;
							}).filter(Boolean).length > 0;

						if (allLocationsSet) return (this.IsValidFilter = false);
					}

					//All passed OK
					return (this.IsValidFilter = true);
				}
			},
			deep: true
		},
		SavedSmartLists(newVal, oldVal) {
			//Commited and staged items in here
			//Need to check validity of filters to overcome API issue - https://doccom.atlassian.net/browse/WEB-963
			newVal.forEach((item, index, array) => {
				let clinicianValid = true;
				let areaIsValid = true;
				let siteIsValid = true;

				if (item.ClinicianName)
					clinicianValid =
						this.Consultants.filter(x => {
							if (x.value === item.ClinicianName) return x;
						}).length > 0;

				if (item.Locations && item.Locations.length) {
					if (item.Locations[0].AreaName)
						areaIsValid =
							this.Locations.filter(x => {
								if (x.areaName === item.Locations[0].AreaName) return x;
							}).length > 0;
					if (item.Locations && item.Locations[0].SiteName)
						siteIsValid =
							this.Locations.filter(x => {
								if (x.siteName === item.Locations[0].SiteName) return x;
							}).length > 0;
				}
				item.FilterIsValid = clinicianValid && areaIsValid && siteIsValid ? true : false;
				item.FilterValidity = {
					Clinician: clinicianValid,
					Site: siteIsValid,
					Area: areaIsValid
				};
				item.ClientAssignedGuid = this.getGuid(); //Requires a client side GUID to key against, nothing assigned in webservice
			});
		}
	},

	methods: {
		clinicianFilterSelected() {},

		clinicianFilterFocused() {},

		resetSmartListUiSelectComponents() {
			if (!this.AdvancedSelects) {
				if (this.$refs['ui-select-location']) this.$refs['ui-select-location'].closeDropdown({ autoBlur: true }); //Method in component
				if (this.$refs['ui-select-consultant']) this.$refs['ui-select-consultant'].closeDropdown({ autoBlur: true }); //Method in component
			}
		},

		saveStandardSmartListFilter() {
			//TODO: DO NOT ALLOW 'All patients IN All locations under ALL clinicians'
			//Save the definition - 1 by 1 on save. Need to also save existing smart lists as will overwrite at API
			this.IsLoading = true;
			let mappedDefinitions = [];
			if (this.SavedSmartLists.length) {
				mappedDefinitions = this.SavedSmartLists.map(x => {
					//To meet API model requirements
					if (!x.FilterIsValid || this.Staging.Remove.has(x)) return null; //Is it staged to remove?
					return {
						ClinicianName: x.ClinicianName,
						IsClinicianExcluded: x.IsClinicianExcluded,
						Locations: x.Locations
							? x.Locations.map(y => {
									return {
										SiteName: y.SiteName,
										AreaName: y.AreaName,
										IsLocationExcluded: y.hasOwnProperty('IsLocationExcluded') ? y.IsLocationExcluded : y.IsExcluded
									};
							  })
							: null
					};
				}).filter(Boolean); //Remove falseys
			}

			let requestBody = {
				//API model
				MemberAreaId: this.memberAreaId,
				AutoPopDefinitions: mappedDefinitions
			};

			SaveGroupListDefinition.callApi(requestBody)
				.then((response, textStatus, jqXHr, fullResponse) => {
					this.getSavedSmartListDefinitions();
					//Reset the StandardFilterView
					if (this.Staging.Remove.size) this.Staging.Remove.clear();
					if (this.Staging.Add.size) this.Staging.Add.clear();
					this.StandardFilterView.Location = ''; //TOOD - WATCH WITH LastSelectionsSavedOrStaged
					this.StandardFilterView.Consultant = ''; //TOOD - WATCH WITH LastSelectionsSavedOrStaged
					this.LastSelectionsSavedOrStaged = Date.now();
					this.resetSmartListUiSelectComponents();
				})
				.fail(error => {
					this.getSavedSmartListDefinitions();
					//Reset the StandardFilterView
					if (this.Staging.Remove.size) this.Staging.Remove.clear();
					if (this.Staging.Add.size) this.Staging.Add.clear();
					this.StandardFilterView.Location = ''; //TOOD - WATCH WITH LastSelectionsSavedOrStaged
					this.StandardFilterView.Consultant = ''; //TOOD - WATCH WITH LastSelectionsSavedOrStaged
					this.cancelUpdate();
					this.resetSmartListUiSelectComponents();
				});
		},

		getSavedSmartListDefinitions() {
			this.IsLoading = true;
			GetGroupListDefinitions.callApi(this.memberAreaId)
				.then((response, textStatus, jqXHr, fullResponse) => {
					// if (/^2/.test(jqXHr.status)) {
					// }
					//Always pull fresh set
					this.SavedSmartLists = response.Data;
					this.IsLoading = false;
				})
				.fail(error => {
					this.IsLoading = false;
				});
		},
		removeDefinition(obj) {
			//Remove the definition
			//this.IsLoading = true;
			//const index = this.SavedSmartLists.findIndex(x => x.UtcTimestamp === obj.UtcTimestamp && x.CreatedBy === obj.CreatedBy); //Find the definition
			//if (index !== -1) this.SavedSmartLists.splice(index, 1);
			if (this.Staging.Remove.has(obj)) {
				this.Staging.Remove.delete(obj);
			} else {
				this.Staging.Remove.add(obj);
			}

			return this.$forceUpdate(); //Vue does not natively support a set(), so force update to calculate upon data re-render - https://vuejs.org/v2/api/#vm-forceUpdate
		},
		stageNewFilter() {
			//When user hits 'Add to smart list' action
			if (this.AdvancedSelection) {
				//Advanced
				const stagedItem = {
					//Push in the new definition
					Locations: this.AdvancedSelection.Locations.map(x => {
						if (!x.SelectedLocationValue) return null; //To meet API model requirements - https://doccom.atlassian.net/browse/DOC-3727 - treat clinicians and ALL locations differently in model
						return {
							SiteName: x.SiteName ? x.SiteName : null,
							AreaName: x.AreaName ? x.AreaName : null,
							IsLocationExcluded: x.IsLocationExcluded
						};
					}).filter(Boolean),
					ClinicianName: this.AdvancedSelection.ClinicianName ? this.AdvancedSelection.ClinicianName : null,
					IsClinicianExcluded: this.AdvancedSelection.IsClinicianExcluded,
					CreatedByName: Vault.getItem('LoggedInUserName'),
					FilterIsValid: true,
					IsStagedItem: true, //Flag it
					UtcTimestamp: moment()
						.utc()
						.local()
				};

				//Push the staged item into the list
				if (!this.Staging.Add.has(stagedItem)) {
					this.Staging.Add.add(stagedItem);
				}

				this.SavedSmartLists.unshift(stagedItem);

				return this.resetUserInputs(); //Staged, so lets clear down
			} else {
				//Standard
				if (this.StandardFilterView.Location || this.StandardFilterView.Consultant) {
					//Use the filters selected

					const stagedItem = {
						//Push in the new definition
						//To meet API model requirements - https://doccom.atlassian.net/browse/DOC-3727  - treat clinicians and ALL locations differently in model
						Locations:
							this.StandardFilterView.Consultant && this.StandardFilterView.Consultant.value && this.StandardFilterView.Location && !this.StandardFilterView.Location.value
								? undefined
								: [{ SiteName: this.StandardFilterView.Location.siteName ? this.StandardFilterView.Location.siteName : null, AreaName: this.StandardFilterView.Location.areaName ? this.StandardFilterView.Location.areaName : null, IsLocationExcluded: false }],
						ClinicianName: this.StandardFilterView.Consultant.value ? this.StandardFilterView.Consultant.value : null,
						IsClinicianExcluded: false,
						CreatedByName: Vault.getItem('LoggedInUserName'),
						FilterIsValid: true,
						IsStagedItem: true, //Flag it
						UtcTimestamp: moment()
							.utc()
							.local()
					};

					//Push the staged item into the list
					if (!this.Staging.Add.has(stagedItem)) {
						this.Staging.Add.add(stagedItem);
					}
					this.SavedSmartLists.unshift(stagedItem);
					return this.resetUserInputs(); //Staged, so lets clear down
				}
			}

			return;
		},
		cancelUpdate() {
			if (this.Staging.Remove.size) this.Staging.Remove.clear();
			if (this.Staging.Add.size) this.Staging.Add.clear();
			this.AdvancedSelection = null;
			if (this.AdvancedSelects) this.AdvancedRowsAdded = [1];
			this.LastSelectionsSavedOrStaged = Date.now(); //Clear down advanced
			//this.AdvancedSelects = false;
			//Clear any staged items...
			if (this.getSavedSmartListsToRender.length) {
				this.SavedSmartLists = this.SavedSmartLists.filter(x => {
					if (!x.hasOwnProperty('IsStagedItem') || (x.hasOwnProperty('IsStagedItem') && !x.IsStagedItem)) return x;
				}).filter(Boolean);
			}
			this.StandardFilterView.Location = '';
			this.StandardFilterView.Consultant = '';
			this.IsValidFilter = false;
			this.resetSmartListUiSelectComponents();
			return this.$forceUpdate(); //Vue does not natively support a set(), so force update to calculate upon data re-render - https://vuejs.org/v2/api/#vm-forceUpdate
		},
		resetUserInputs() {
			//if (this.Staging.Remove.size) this.Staging.Remove.clear();
			//if (this.Staging.Add.size) this.Staging.Add.clear();
			this.AdvancedSelection = null;
			if (this.AdvancedSelects) this.AdvancedRowsAdded = [1];
			this.LastSelectionsSavedOrStaged = Date.now(); //Clear down advanced
			this.StandardFilterView.Location = '';
			this.StandardFilterView.Consultant = '';
			this.IsValidFilter = false;
			this.resetSmartListUiSelectComponents();
		},
		advancedViewToggled() {
			this.AdvancedSelects = !this.AdvancedSelects;

			if (this.AdvancedSelects) {
				//If true
				this.StandardFilterView.Location = '';
				this.StandardFilterView.Consultant = '';
				return this.AdvancedRowsAdded.push(this.AdvancedRowsAdded.length - 1 + 1);
			} else {
				this.AdvancedRowsAdded = [];
			}
			this.resetUserInputs();
		},
		addNewAdvancedSelect() {
			//Child triggered - 'Add Row'
			return this.AdvancedRowsAdded.push(this.AdvancedRowsAdded.length - 1 + 1);
		},
		resetAdvancedSelection(obj) {
			this.AdvancedSelection = null;
			this.IsValidFilter = false;
		},
		advancedSelectionSet(obj) {
			//From child 'advanced' rows
			//alert(JSON.stringify(obj));
			//We need to check if its a new location row addition, or if the user has updated a previously added row
			if (this.AdvancedSelection) {
				const index = this.AdvancedSelection.Locations.findIndex(x => {
					//Just find first match
					return x.ClientAssignedLocationGuid === obj.ClientAssignedLocationGuid;
				});

				//Found index, so user is updating one, not adding a new row. Let's strip out the old so it will be reassigned in advancedSelectionObj
				if (index !== -1) this.AdvancedSelection.Locations.splice(index, 1);
			}

			let advancedSelectionObj = {
				ClinicianName: obj.SelectedConsultant ? obj.SelectedConsultant.value : this.AdvancedSelection.ClinicianName,
				IsClinicianExcluded: obj.ConsultantExcluded ? obj.ConsultantExcluded.value : this.AdvancedSelection.IsClinicianExcluded,
				IsClinicianExcludedLabel: obj.ConsultantExcluded ? obj.ConsultantExcluded.label : this.AdvancedSelection.IsClinicianExcludedLabel,
				Locations: this.AdvancedSelection
					? this.AdvancedSelection.Locations.concat([
							{
								SiteName: obj.SelectedLocation.siteName,
								AreaName: obj.SelectedLocation.areaName,
								IsLocationExcluded: obj.LocationIsExcluded.value,
								IsLocationExcludedLabel: obj.LocationIsExcluded.label,
								IsSiteLabel: obj.SelectedLocation.isSiteLabel,
								FullLabel: obj.SelectedLocation.fullNameLabel,
								ClientAssignedLocationGuid: obj.ClientAssignedLocationGuid,
								SelectedLocationValue: obj.SelectedLocationValue
							}
					  ])
					: [
							{
								SiteName: obj.SelectedLocation.siteName,
								AreaName: obj.SelectedLocation.areaName,
								IsLocationExcluded: obj.LocationIsExcluded.value,
								IsSiteLabel: obj.SelectedLocation.isSiteLabel,
								IsLocationExcludedLabel: obj.LocationIsExcluded.label,
								FullLabel: obj.SelectedLocation.fullNameLabel,
								ClientAssignedLocationGuid: obj.ClientAssignedLocationGuid,
								SelectedLocationValue: obj.SelectedLocationValue
							}
					  ]
			};

			return (this.AdvancedSelection = advancedSelectionObj);

			//return (this.IsValidFilter = true); //We know the filter is valid if coming from an 'Advanced' child
		}
	},

	events: {},

	beforeCreate: function() {},

	created: function() {
		//Init
		this.getSavedSmartListDefinitions();
		this.getLocationData().then(response => {
			//Add the required custom value - data returned via mixin
			response.unshift({
				label: 'All locations',
				value: '',
				fullNameLabel: 'All locations'
			});
			this.Locations = response;
		});
		this.getConsultantsData().then(response => {
			//Add the required custom value - data returned via mixin
			response.unshift({
				label: 'All consultants',
				value: '',
				type: ''
			});
			this.Consultants = response;
		});
	},
	updated() {
		appMain.setElementsAsFullHeight();
	},

	mounted() {}
};
</script>

<style lang="less">
@import '../../../../less/app-variables.less';
//Non scoped
& i.material-icons.selected-icon {
	font-size: 24px;
	position: relative;
	top: 6px;
}
& .ui-select {
	& .is-disabled {
		color: @text-light;
		font-weight: @font--normal;
		&:hover {
			cursor: not-allowed;
		}
	}
}
</style>

<style scoped lang="less">
@import '../../../../less/app-variables.less';
//helper
.blue-emph-text {
	color: @careflow--blue;
	font-weight: @font--medium;
}

.team-smart-list-wrapper {
	display: flex;
	flex-direction: column;
	padding: 0 0 0 1em;
	box-sizing: border-box;
}
.list-grid {
	//margin: 0 5em 0 0;
	// max-width: 590px;
}

.list-grid__nav {
	display: flex;
	flex-direction: row;
	margin: 0 0 4em 0;
	border-bottom: 1px solid #c7d8e9;
}

.nav__item {
	display: flex;
	padding: 1.2em 1.3em 1.1em 1.3em;
	text-transform: uppercase;
	color: @link--active;
	font-weight: @font--normal;
	border-bottom: 3px solid #fff;
	&.active {
		font-weight: @font--medium;
		color: @body-colour;
		border-bottom: 3px solid #c7d8e9;
	}
	&:hover {
		cursor: pointer;
	}
}

.list-grid__body-wrapper {
	max-width: 60%;
	padding: 0;
	@media (min-width: 0) and (max-width: 80em) {
		max-width: 100%;
	}
}

& .body__controls {
	display: flex;
	flex-direction: row;
	flex-flow: row nowrap;
	margin: 0 0 2em 0;
	min-height: 29px;
}

& .body__saved-items {
	display: flex;
	flex-direction: column;
}

.body__select-block {
	display: flex;
	flex-direction: row;
	//min-width: 280px;
	box-sizing: border-box;

	& .ui-select {
		width: 100%;
		margin: 0 1em 0 1em;

		&.ui-select-clinician {
			min-width: 200px;
		}
	}

	& .ui-button--type-secondary {
		//margin-left: 2em;
	}

	& .block-text-desc {
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		//white-space: nowrap;
		white-space: pre;
		align-items: center;
	}
}

.body__selections {
	font-size: 1.1em;
	//display: flex;
	align-items: center;
	//white-space: pre;
	& .u-strong {
		color: @careflow--blue;
	}
	& .material-icons {
		top: 6px;
		position: relative;
	}
}

.body__actions {
	margin: 3em 0 0 0;
	padding: 0 0 8em 0;
	& .actions__row-1 {
		margin: 0 0 3em 0;
	}
}
.list-grid__saved-selections {
	// width: 500px;
	// max-width: 500px;
}
.ui-select-location {
	//DDl component - custom template in slot
	min-width: 200px;
	& .site-label {
		box-sizing: border-box;
		font-weight: @font--medium;
	}
	& .area-label {
		box-sizing: border-box;
		padding-left: 0.5em;
	}
	& .is-disabled {
		color: red;
		& .site-label {
			color: @text-light;
			font-weight: @font--normal;
		}
		&:hover {
			cursor: not-allowed;
		}
	}
}
.type-toggle-btn {
	margin: 0 0 0 2em;
}
</style>

<notes>Manage a teams patient Smart Lists settings</notes>
