<template>
	<div :class="{'saved-item-wrapper': true, 'is-removing': isStagedForRemoval}">
		<div class="staged-item" v-if="smartListItem.hasOwnProperty('IsStagedItem') && smartListItem.IsStagedItem">New</div>
		<div class="item-row">
			<template v-if="ThereAreMultipleLocations">
				<!--Advanced filter-->
				All patients
				<span class="u-strong">
					<template v-if="IsClinicianExcluded">NOT UNDER</template>
					<template v-else>UNDER</template>
				</span> {{Clinician}}
				<template v-for="(item, index) in smartListItem.Locations">
					<span :key="index" class="u-strong advanced-items">
						<template v-if="item.IsExcluded || item.IsLocationExcluded">NOT IN </template>
						<template v-else>IN </template>
					</span>
					<template v-if="item.AreaName"> {{item.AreaName}} ({{item.SiteName}})</template>
					<template v-else> {{item.SiteName}} (All areas)</template><!--
			--></template>
			</template>
			<template v-if="Clinician && Site && Area && !ThereAreMultipleLocations">
				All patients
				<span class="u-strong">
					<template v-if="IsClinicianExcluded">NOT UNDER</template>
					<template v-else>UNDER</template>
				</span> {{Clinician}}
				<span class="u-strong">
					<template v-if="IsLocationExcluded">NOT IN</template>
					<template v-else>IN</template>
				</span> {{Area}} ({{Site}})
			</template>
			<template v-if="Clinician && !Site && !Area && !ThereAreMultipleLocations">
				All patients
				<span class="u-strong">
					<template v-if="IsClinicianExcluded">NOT UNDER</template>
					<template v-else>UNDER</template>
				</span> {{Clinician}}
				<span class="u-strong">IN</span> All locations
			</template>
			<template v-if="Clinician && Site && !Area && !ThereAreMultipleLocations">
				All patients
				<span class="u-strong">
					<template v-if="IsClinicianExcluded">NOT UNDER</template>
					<template v-else>UNDER</template>
				</span> {{Clinician}}
				<span class="u-strong">
					<template v-if="IsLocationExcluded">NOT IN</template>
					<template v-else>IN</template>
				</span> {{Site}} (All areas)<!--
			--></template>
			<template v-if="!Clinician && Site && !Area && !ThereAreMultipleLocations">
				All patients
				<span class="u-strong">UNDER</span> All consultants
				<span class="u-strong">
					<template v-if="IsLocationExcluded">NOT IN</template>
					<template v-else>IN</template>
				</span> {{Site}} (All areas)<!--
			--></template>
			<template v-if="!Clinician && Site && Area && !ThereAreMultipleLocations">
				All patients
				<span class="u-strong">
					<template v-if="IsClinicianExcluded">NOT UNDER</template>
					<template v-else>UNDER</template>
				</span> All consultants
				<span class="u-strong">
					<template v-if="IsLocationExcluded">NOT IN</template>
					<template v-else>IN</template>
				</span> {{Area}} ({{Site}})
			</template>
			<div class="row-meta">
				<span class="label">Created by:</span> {{smartListItem.CreatedByName}} - {{smartListItem.UtcTimestamp | formatDate}}
			</div>
		</div>
		<div v-if="!isStagedForRemoval" class="item-actions">
			<template v-if="smartListItem.FilterIsValid">
				<i ref="remove-trigger" v-on:click="$emit('remove-filter', smartListItem)" class="material-icons">
					close
				</i>
				<ui-popover class="custom-popover" open-on="hover" trigger="remove-trigger">
					<div>Click to remove this filter</div>
				</ui-popover>
			</template>
			<template v-else>
				<i ref="invalid-trigger" class="material-icons invalid-icon">
					info
				</i>
				<ui-popover class="custom-popover" open-on="hover" trigger="invalid-trigger">
					<div>This filter is invalid as
						<span class="u-strong--primary" v-if="!smartListItem.FilterValidity.Clinician">'{{Clinician}}'</span>
						<span class="u-strong--primary" v-if="!smartListItem.FilterValidity.Site">'{{Site}}'</span>
						<span class="u-strong--primary" v-if="!smartListItem.FilterValidity.Area">'{{Area}}'</span> is no longer available to select.</div>
					<div>It will be removed the next time the list is updated.</div>
				</ui-popover>
			</template>
		</div>
		<div class="item-statement" v-if="totalCountOfItems && !isLastItem">OR</div>
	</div>
</template>

<script>
/* Utils */
import Vault from 'Endpoints/careflowApp/Vault';
/*Mixins*/
import DateFilter from 'VueMixins/dateFilter';

/* API Endpoints */

/*Components*/
import { VueContentLoading } from 'vue-content-loading';

export default {
	data: function() {
		return {
			IsLoading: false,
			RebuildUiComponentKey: null,
			Clinician: (this.smartListItem.hasOwnProperty('ClinicianName') && this.smartListItem.ClinicianName) || null,
			Site: (this.smartListItem.Locations && this.smartListItem.Locations.length && this.smartListItem.Locations[0].SiteName) || null,
			Area: (this.smartListItem.Locations && this.smartListItem.Locations.length && this.smartListItem.Locations[0].AreaName) || null,
			IsClinicianExcluded: this.smartListItem.IsClinicianExcluded,
			IsLocationExcluded: this.smartListItem.Locations
				? this.smartListItem.Locations.map(x => {
						//API names properties differently in the 2 called APIs :(
						if (x.hasOwnProperty('IsExcluded')) {
							return x.IsExcluded;
						}
						if (x.hasOwnProperty('IsLocationExcluded')) {
							return x.IsLocationExcluded;
						}
						return false;
				  })[0]
				: false,
			ThereAreMultipleLocations: this.smartListItem.Locations && this.smartListItem.Locations.length > 1 || null
		};
	},
	mixins: [DateFilter],
	components: {
		VueContentLoading
	},
	props: {
		smartListItem: {
			required: true,
			type: [Object, Array]
		},
		totalCountOfItems: {
			required: true,
			type: [Number, String]
		},
		isLastItem: {
			required: true,
			type: [Boolean, String]
		},
		isStagedForRemoval: {
			required: true,
			type: [Boolean, String],
			default: false
		}
	},
	filters: {},

	computed: {},

	watch: {},

	methods: {},

	events: {},

	beforeCreate: function() {},

	created: function() {
		//Init
	},
	updated() {
		appMain.setElementsAsFullHeight();
	},

	mounted() {}
};
</script>

<style scoped lang="less">
@import '../../../../less/app-variables.less';
.saved-item-wrapper {
	position: relative;
	margin: 0;
	display: flex;
	flex-direction: row;
	padding: 1.5em 0.5em 1.5em 0;
	box-sizing: border-box;
	min-height: 58px;
	border-bottom: 1px solid @row--border;
	&:last-of-type {
		margin-bottom: 5em;
	}
	& .u-strong {
		color: @careflow--blue;
	}
	&.is-removing {
		& .item-row {
			text-decoration: line-through;
		}
	}
	& .staged-item {
		position: absolute;
		top: 0;
		left: 0;
		color: @success-colour;
		font-style: italic;
	}
}

.row-meta {
	margin: 0.5em 0 0 0;
	color: @text-light;
}

.item-row {
	flex-basis: 90%;
	flex-grow: 1;
	word-break: break-word;
	word-wrap: break-word;
}

.item-actions {
	display: flex;
	margin-left: auto;
	align-items: flex-start;
	& .material-icons {
		font-size: 24px;
		text-decoration: none;
		&:hover {
			color: @link--active;
			cursor: pointer;
			text-decoration: none;
		}
	}
	& .invalid-icon {
		font-size: 24px;
		color: @urgent-colour;
		&:hover {
			color: @urgent-colour;
		}
	}
}
.item-statement {
	position: absolute;
	bottom: -9px;
	left: 48%;
	//background: @link--active;
	background: #fff;
	color: @link--active;
	display: flex;
	padding: 0.2em;
	font-size: 1em;
	border-radius: 107%;
	justify-content: stretch;
	align-items: center;
	width: 17px;
	justify-content: center;
	align-content: center;
	//color: #fff;
	font-weight: @font--medium;
}
.advanced-items + .advanced-items:before {
	content: ', ';
}
</style>

<notes>Saved team Smart List item</notes>
