<template>
  <div class="patient-summary-widget">
    <template v-if="IsLoading">
      <div class="view-block__title">Referrals</div>
      <ui-progress-circular color="primary"></ui-progress-circular>
    </template>
    <template v-else>
      <div class="view-block__title">Referrals
        <span v-if="ThereAreMore"> (Latest 5)</span>
        <span v-on:click="setActiveItem()" ref="patient-updates-view-all" class="u-pull-right btn--plain">View all</span>
      </div>

      <div v-on:click="setActiveItem(item.ContentItemId)" class="item" v-for="(item) in getFeedDataToDisplay" :key="item.ContentItemId">

        <div class="item-row">
          <span class="row__title">From {{item.Referral.SendingMemberArea.Name}} - {{item.Referral.Status.Description}}</span>
          <span class="row__date">{{item.Created.DateAndTime | formatDate}}</span>
        </div>

      </div>
      <div v-if="!getFeedDataToDisplay.length && !IsLoading">No referrals for this patient.</div>
    </template>

  </div>
</template>

<script>
  /* API Endpoints */
  import GetNetworkReferralList from 'Endpoints/referral/GetNetworkReferralList';
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';

  export default {
  	data() {
  		return {
  			PatientId: this.patientId,
  			NetworkId: this.networkId,
  			IsLoading: false,
  			FeedData: [],
  			ThereAreMore: false,
  		};
  	},
  	props: {
  		patientId: {
  			type: [String, Number],
  			required: true,
  		},
  		networkId: {
  			type: [String, Number],
  			required: true,
  		},
  	},
  	mixins: [DateFilter],
  	methods: {
  		getPatientReferrals() {
  			let accessGroupId = appMain.getAccessGroupExternalIdentifier(this.NetworkId, true); //Get network access group id

  			this.IsLoading = true;
  			return new Promise((resolve, reject) => {
  				if (!this.PatientId) return reject('no patient ID');

  				let callApi = () => {
  					let params = {
  						Filters: {
  							Status: null,
  							Created: {
  								From: null,
  								To: moment().add(5, 'minutes'), //Add 5 mins as an arbitary value from now, overcome API / server sync issues
  							},
  							Updated: {
  								From: null,
  								To: null,
  							},
  						},
  						Include: [],
  						Pagination: {
  							Skip: 0,
  							Take: 5,
  						},
  						Sorting: [
  							{
  								Field: 'DateCreated',
  								Order: 'Descending',
  							},
  						],
  					};

  					GetNetworkReferralList.callApi(accessGroupId, this.PatientId, params)
  						.then(response => {
  							this.ThereAreMore = response.Metadata.Pagination.ThereAreMore;
  							this.FeedData = response.Data || [];
  							this.IsLoading = false;
  							resolve();
  						})
  						.fail(error => {
  							this.IsLoading = false;
  							reject(error);
  						});
  				};

  				callApi(); //Init
  			});
  		},
  		setActiveItem(contentItemID) {
  			this.$emit('set-active-item', {
  				ContentItemId: contentItemID || null,
  				ContentType: 'patient-referrals',
  			});
  		},
  	},
  	computed: {
  		getFeedDataToDisplay() {
  			return this.FeedData || [];
  		},
  	},
  	mounted() {
  		VueEventBus.$on('StartPatientReferral.ReferralSent', obj => {
  			setTimeout(() => {
  				this.getPatientReferrals().catch(error => {});
  			}, 2000); //CareflowApi delay - needs a tiimeout for DB latency
  		});
  	},
  	beforeDestroy() {
  		VueEventBus.$off('StartPatientReferral.ReferralSent');
  	},
  	created() {
  		//Init
  		this.getPatientReferrals().catch(error => {});
  	},
  };
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../../less/app-variables.less';
  .patient-summary-widget {
  	box-sizing: border-box;
  	margin: 1em 0 2em 0;
  	padding: 0 1em;
  }
  .item {
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
  	margin: 0 0 0.6em 0;
  	flex-wrap: wrap;
  	flex: 1;
  }

  .item-row {
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;

  	& .row__title {
  		@text-wrap-container();
  		color: @link--active;
  		font-weight: @font--medium;
  		display: flex;
  		flex-grow: inherit;
  		padding: 0;
  		margin: 0 0.7em 0 0;
  		box-sizing: border-box;
  		&:hover {
  			cursor: pointer;
  		}
  	}

  	& .row__date {
  		color: @text-light;
  		display: flex;
  		font-weight: @font--normal;
  	}
  }
</style>



<custom>Updates for latest 5 feed items widget on patient dashboard summary tab</custom>
