<template>
  <div class="patient-summary-widget">
    <template v-if="IsLoading">
      <div class="view-block__title">Outstanding Tasks</div>
      <ui-progress-circular color="primary"></ui-progress-circular>
    </template>
    <template v-else>
      <div class="view-block__title">Outstanding Tasks
        <span v-if="ThereAreMore"> (Latest 5)</span>
        <span v-on:click="setActiveItem()" ref="patient-updates-view-all" class="u-pull-right btn--plain">View all</span>
      </div>

      <div v-on:click="setActiveItem(item.ContentItemId)" class="item" v-for="(item) in getFeedDataToDisplay" :key="item.ContentItemId">

        <div class="item-row">
          <span class="row__title">
            <span class="item-urgent-blob" v-if="item.Urgent">Urgent</span>{{item.Type.Description}}</span>
          <span class="row__date">{{item.CreatedDate | formatDate}}</span>
        </div>

      </div>
      <div v-if="!getFeedDataToDisplay.length && !IsLoading">No outstanding tasks for this patient.</div>
    </template>

  </div>
</template>

<script>
  /* API Endpoints */
  import GetUserTasks from 'Endpoints/tasks/GetUserTasks';
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';

  export default {
  	data() {
  		return {
  			PatientId: this.patientId,
  			NetworkId: this.networkId,
  			IsLoading: false,
  			FeedData: [],
  			ThereAreMore: false,
  		};
  	},
  	props: {
  		patientId: {
  			type: [String, Number],
  			required: true,
  		},
  		networkId: {
  			type: [String, Number],
  			required: true,
  		},
  	},
  	mixins: [DateFilter],
  	methods: {
  		getPatientTasks() {
  			this.IsLoading = true;
  			var itemsPerPage = 5;
  			var page = 0;

  			//Call API
  			return GetUserTasks.callApi({
  				//"Accepted": true,
  				//"AllocatedToAccessGroupIds": (obj.memberAreaId) ? [appMain.getAccessGroupId(obj.memberAreaId)] : [], //Filter by team or not
  				AllocatedToAccessGroupIds: [],
  				Date: {
  					After: null,
  					Before: null,
  					//"SortDirection": "string",
  					//"Type": "string"
  				},
  				ItemsPerPage: itemsPerPage,
  				NetworkId: this.NetworkId,
  				OnlyTasksAssignedToMe: false,
  				OnlyTasksCreatedByMe: false,
  				Page: page,
  				PatientExternalIdentifiers: [this.PatientId],
  				StatusIds: [1], //Return Outstanding Tasks
  				Urgent: null,
  				//"Assigned": true
  			})
  				.then((response, textStatus, jqxhr) => {
  					this.ThereAreMore = response.Metadata.Pagination.ThereAreMore;
  					this.FeedData = response.Data || [];
  					this.IsLoading = false;
  				})
  				.fail(error => {
  					this.IsLoading = false;
  				});
  		},

  		setActiveItem(contentItemID) {
  			this.$emit('set-active-item', {
  				ContentItemId: contentItemID || null,
  				ContentType: 'patient-tasks',
  			});
  		},
  	},
  	computed: {
  		getFeedDataToDisplay() {
  			return this.FeedData || [];
  		},
  	},
  	created() {
  		//Init
  		this.getPatientTasks();
  	},
  	mounted() {
  		VueEventBus.$on('RaisePatientTask.TaskRaised', obj => {
  			setTimeout(() => {
  				this.getPatientTasks();
  			}, 2000); //CareflowApi delay - needs a tiimeout for DB latency
  		});
  	},
  	beforeDestroy() {
  		VueEventBus.$off('RaisePatientTask.TaskRaised');
  	},
  };
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../../less/app-variables.less';
  .patient-summary-widget {
  	box-sizing: border-box;
  	margin: 1em 0 2em 0;
  	padding: 0 1em;
  }
  .item {
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
  	margin: 0 0 0.6em 0;
  	flex-wrap: wrap;
  	flex: 1;
  }

  .item-row {
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;

  	& .row__title {
  		@text-wrap-container();
  		color: @link--active;
  		font-weight: @font--medium;
  		display: flex;
  		flex-grow: inherit;
  		padding: 0;
  		margin: 0 0.7em 0 0;
  		box-sizing: border-box;
  		&:hover {
  			cursor: pointer;
  		}
  	}

  	& .row__date {
  		color: @text-light;
  		display: flex;
  		font-weight: @font--normal;
  	}
  }

  .item-urgent-blob {
  	background: @urgent-colour;
  	font-size: 0.7em;
  	padding: 0.1em 0.2em;
  	color: #fff;
  	display: flex;
  	margin: 0 0.5em 0 0;
  	border-radius: 3px;
  	align-items: center;
  	align-self: flex-start;
  	min-width: 28px;
  }
</style>



<custom>Updates for latest 5 outstanding tasks widget on patient dashboard summary tab</custom>
