<template>
  <div class="patient-summary-widget">
    <template v-if="IsLoading">
      <div class="view-block__title">Handover</div>
      <ui-progress-circular color="primary"></ui-progress-circular>
    </template>
    <div v-if="!IsLoading" class="view-block__title">Handover
      <!-- <span v-if="CountOfInRequestContextHandovers > 5"> (Latest 5)</span> -->
      <span ref="handover-edit" v-on:click="getHandoverModalComponent('modal-handover')" class="u-pull-right btn--plain">Edit</span>
    </div>
    <template v-if="!IsLoading && getHandoverNotesToDisplay.length">
      <div class="item" v-for="(item, index) in getHandoverNotesToDisplay" :key="index">
        <div class="item-row">
          <div v-if="ViewTeamRolesForNetwork" :style="{'border-left': '5px solid #' + item.Profile.Colour.slice(0,6)}" class="item-colour-block"></div>
          <div class="item-profile-block">
            <div class="row__title">
              <span v-if="ViewTeamRolesForNetwork" class="row__role"> {{item.Profile.Name}}</span>
              <span class="row__team">
                <button class="btn--plain" v-on:click="setActiveItem(item.Profile.ExternalIdentifier)">{{item.GroupName}}</button>
              </span>
              <span class="row__date">{{item.DateLastUpdated | formatDate}}</span>
            </div>
            <div v-html="getHandoverItemSummaryText(item.Notes)" class="row__summary"></div>
          </div>
        </div>
      </div>
    </template>
    <div v-if="!getHandoverNotesToDisplay.length && !IsLoading">No active handover for this patient.</div>

    <ui-modal dismissOn="close-button" ref="modal-handover" size="normal" title="Update handover" @close="modalClosed">
      <HandoverModal v-if="Patient && RebuildModalsUiComponentKey" :key="RebuildModalsUiComponentKey" :patient="Patient" :patientId="PatientId" :memberAreaId="memberAreaId" :networkId="networkId"></HandoverModal>
    </ui-modal>

  </div>
</template>

<script>
  /* API Endpoints */
  import GetPatient from 'Endpoints/patients/GetPatient';
  import PubSub from 'Endpoints/careflowApp/PubSub';
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  /*Utils*/
  import patientView from 'Views/PatientView';
  /*Components*/
  import HandoverModal from 'VueComponents/modals/PatientHandoverModal';

  export default {
  	data() {
  		return {
  			Patient: null,
  			PatientId: this.patientId,
  			NetworkId: this.networkId,
  			IsLoading: false,
  			PatientHandovers: null,
  			CountOfInRequestContextHandovers: 0,
  			RebuildModalsUiComponentKey: null,
  			ViewTeamRolesForNetwork: appMain.getUserPermissionsForNetwork(this.networkId).includes('ViewProfilesForNetwork'),
  		};
  	},
  	components: { HandoverModal },
  	props: {
  		patientId: {
  			type: [String, Number],
  			required: true,
  		},
  		networkId: {
  			type: [String, Number],
  			required: true,
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false,
  		},
  	},
  	mixins: [DateFilter],
  	methods: {
  		getPatientHandover() {
  			this.IsLoading = true;
  			return GetPatient.callApi(this.PatientId, this.NetworkId, 'HandoverNotes')
  				.then((response, textStatus, xHR) => {
  					//https://doccom.atlassian.net/browse/WEB-741
  					//patientView.setCachedPatient(response); //Update patient cache here (For FAB etc. until VUE refactor)
  					this.Patient = response.Data;
  					this.PatientHandovers = response.Data.HandoverNotes;
  					//alert(JSON.stringify(response.Data.HandoverNotes))

  					this.IsLoading = false;
  				})
  				.fail(error => {
  					this.IsLoading = false;
  				});
  		},

  		getHandoverItemSummaryText(notes) {
  			if (!Array.isArray(notes)) return ``;

  			let string = notes
  				.map(x => {
  					if (x.Key === 'Recommendation') return x.Value;
  					return null;
  				})
  				.filter(Boolean);

  			string = string.join('') || '';

  			if (string.length > 130) return `${string.substring(0, 130)} ...`;
  			return `${string}`;
  		},

  		setActiveItem(id) {
  			if (!id) return;
  			this.$emit('set-active-item', {
  				ContentItemId: id,
  				ContentType: 'patient-handovers',
  			});
  		},
  		getHandoverModalComponent(ref) {
  			this.RebuildModalsUiComponentKey = Date.now(); //Force modal component to rebuildand instansiate
  			this.$refs[ref].open();
  		},
  		modalClosed() {
  			//When modal closed
  			this.RebuildModalsUiComponentKey = null; //Kill the modal component
  		},
  	},
  	computed: {
  		thereAreHandoverNotes() {
  			return this.PatientHandovers && this.PatientHandovers.length > 0;
  			return false;
  		},

  		getHandoverNotesToDisplay() {
  			if (!this.thereAreHandoverNotes || !this.PatientHandovers) return [];

  			const returnObj = new Set(); //https://stackoverflow.com/questions/18773778/create-array-of-unique-objects-by-property
  			this.PatientHandovers.filter(x => {
  				if (returnObj.has(x.Profile.Name) || !x.IsCurrent) {
  					return false;
  				}
  				returnObj.add(x);
  			});
  			let jsArray = Array.from(returnObj);
  			this.CountOfInRequestContextHandovers = jsArray.length;
  			return jsArray //Vue does not yet support v-for on a Set
  				.sort(function(a, b) {
  					// Turn your strings into dates, and then subtract them TO SORT
  					// to get a value that is either negative, positive, or zero.
  					return new Date(b.DateLastUpdated) - new Date(a.DateLastUpdated);
  				});
  			//.slice(0, 5); - Now returning ALL - https://doccom.atlassian.net/browse/WEB-1024
  		},
  	},
  	created() {
  		//Init
  		this.getPatientHandover().then(() => {});
  	},
  	mounted() {
  		VueEventBus.$on('PatientHandoverModal.Updated', obj => {
  			//Component name > event
  			setTimeout(() => {
  				this.getPatientHandover();
  				//CareflowApi delay - needs a tiimeout for DB latency
  				this.$refs['modal-handover'].close(); //Close the modal
  			}, 2000);
  		});
  	},
  	beforeDestroy() {
  		VueEventBus.$off('PatientHandoverModal.Updated');
  		//VueEventBus.$off('Modal.PatientHandoverModal.Updated');
  	},
  };
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../../less/app-variables.less';
  .patient-summary-widget {
  	box-sizing: border-box;
  	margin: 1em 0 2em 0;
  	padding: 0 1em;
  }
  .item {
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
  	margin: 0 0 0.6em 0;
  	flex-wrap: wrap;
  	flex: 1;
  }
  .item-profile-block {
  	display: flex;
  	flex: 1;
  	flex-grow: 1;
  	flex-direction: column;
  }
  .item-colour-block {
  	width: 5px;
  	display: flex;
  }
  .item-row {
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  }
  .row__date {
  	color: @text-light;
  	display: flex;
  	font-weight: @font--normal;
  	margin: 0;
  }

  .row__title {
  	@text-wrap-container();
  	font-weight: 500;
  	display: flex;
  	flex-grow: inherit;
  	padding: 0;
  	margin: 0;
  	box-sizing: border-box;
  	color: @link--active;
  	//align-items: flex-start;
  	align-items: center;
  	flex-wrap: wrap;
  }
  .row__summary {
  	@text-wrap-container();
  	display: flex;
  	padding: 0 0 0 0.5em;
  	box-sizing: border-box;
  	margin: 0.1em 0 0 0;
  }
  .row__team {
  	display: flex;
  	margin: 0 0.7em 0 0;
  }

  .row__role {
  	padding: 0;
  	border-radius: 10%;
  	margin: 0 0.5em 0 0;
  	color: @body-colour;
  	align-items: center;
  	display: flex;
  }
</style>



<custom>Latest active Handover widget on patient dashboard summary tab</custom>
