<template>
  <div class="patient-summary-widget">
    <template v-if="IsLoading">
      <div v-if="widgetType === 1" class="view-block__title">Tags</div>
      <ui-progress-circular color="primary"></ui-progress-circular>
    </template>
    <template v-if="!IsLoading">
      <div v-if="widgetType === 1" class="view-block__title">Tags
        <span ref="tags-edit" v-on:click="getEditTagsModal" class="u-pull-right btn--plain">Edit</span>
      </div>
      <div v-if="getActiveTeamPatientClinicalTags.length && getClinicalTagRemovalReasonsMapped.length" class="widget-tags">
        <patient-clinical-tag @clinical-tag-removed="tagRemoved" v-for="(item) in getActiveTeamPatientClinicalTags" :key="item.Guid" :item="item" :removal-reasons="getClinicalTagRemovalReasonsMapped" :member-area-id="MemberAreaId" :patient-id="PatientId"></patient-clinical-tag>
      </div>
      <div v-if="getOtherTeamPatientClinicalTags.length" class="widget-tags">
        <div v-if="MemberAreaId" class="sub-label">Tags from other teams</div>
        <patient-clinical-tag @clinical-tag-removed="tagRemoved" v-for="(item) in getOtherTeamPatientClinicalTags" :key="item.Guid" :item="item" :removal-reasons="getClinicalTagRemovalReasonsMapped" :patient-id="PatientId"></patient-clinical-tag>
      </div>

      <div v-if="!IsLoading && !getActiveTeamPatientClinicalTags.length && !getOtherTeamPatientClinicalTags.length">
        No active tags for this patient.
      </div>
    </template>
  </div>
</template>

<script>
  /* API Endpoints */
  import GetPatient from 'Endpoints/patients/GetPatient';
  import ReasonsForRemovingTag from 'Endpoints/clinicalTags/ReasonsForRemovingTag';
  import PubSub from 'Endpoints/careflowApp/PubSub';
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import GetGuid from 'VueMixins/getGuid';
  /*Utils*/
  import patientView from 'Views/PatientView';
  import PatientClinicalTag from 'VueComponents/patientList/PatientClinicalTag';

  export default {
  	data() {
  		return {
  			PatientId: this.patientId,
  			PatientData: null,
  			NetworkId: this.networkId,
  			MemberAreaId: this.memberAreaId,
  			IsLoading: false,
  			ClinicalTags: [],
  			ReasonsForRemovingTag: [],
  			ThereAreMore: false,
  		};
  	},
  	props: {
  		patientId: {
  			type: [String, Number],
  			required: true,
  		},
  		networkId: {
  			type: [String, Number],
  			required: true,
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false,
  		},
  		widgetType: {
  			type: [String, Number],
  			required: false,
  			default: 1, //1 = summary widget, 2 = tab view (summary tab)
  		},
  	},
  	components: { PatientClinicalTag },
  	mixins: [DateFilter, GetGuid],
  	methods: {
  		getAllPatientClinicalTags() {
  			this.IsLoading = true;

  			GetPatient.callApi(this.PatientId, this.NetworkId, 'ClinicalTags, HandoverNotes, GroupLists')
  				.then((response, textStatus, xHR) => {
  					//https://doccom.atlassian.net/browse/WEB-741
  					//patientView.setCachedPatient(response); //Update patient cache here (For FAB etc.)
  					this.PatientData = response.Data;
  					if (Array.isArray(response.Data.ClinicalTags) && response.Data.ClinicalTags.length) {
  						this.ClinicalTags = response.Data.ClinicalTags;
  					}
  					this.IsLoading = false;
  				})
  				.fail(error => {
  					this.IsLoading = false;
  				});
  		},

  		getClinicalTagRemovalReasons() {
  			if (!this.memberAreaId) return [];
  			return ReasonsForRemovingTag.callApi(this.MemberAreaId)
  				.then((response, status, XHR) => {
  					return (this.ReasonsForRemovingTag = response.Data);
  				})
  				.fail(error => {
  					return [];
  				});
  		},

  		setActiveItem(contentItemID) {
  			if (!contentItemID) return;
  			this.$emit('set-active-item', {
  				ContentItemId: contentItemID,
  				ContentType: 'patient-tasks',
  			});
  		},

  		tagRemoved(obj) {
  			/*Child component emitted*/
  			const index = this.ClinicalTags.findIndex(item => item.ID === obj.TagId && item.AddedByGroupID === obj.GroupId);

  			if (index !== -1) return this.ClinicalTags.splice(index, 1);
  			return;
  		},

  		getEditTagsModal() {
  			return VueEventBus.$emit('Modal.OpenFabOption', { id: 'TagsModal', patient: this.PatientData });
  		},
  	},
  	computed: {
  		getActiveTeamPatientClinicalTags() {
  			if (!this.MemberAreaId || !this.ClinicalTags.length) return [];

  			return this.ClinicalTags.filter((item, index, array) => {
  				item.Guid = this.getGuid();
  				if (item.AddedByGroupID === this.MemberAreaId) return item;
  				return;
  			}).filter(Boolean);
  		},
  		getOtherTeamPatientClinicalTags() {
  			if (!this.ClinicalTags.length) return [];

  			return this.ClinicalTags.filter((item, index, array) => {
  				item.Guid = this.getGuid();
  				if (item.AddedByGroupID !== this.MemberAreaId) return item;
  				return;
  			}).filter(Boolean);
  		},
  		getClinicalTagRemovalReasonsMapped() {
  			if (!this.ReasonsForRemovingTag.length) return [];

  			let mappedData =
  				this.ReasonsForRemovingTag.map((item, index, array) => {
  					return {
  						label: item.DisplayText,
  						value: item.ReasonForRemovingTagID,
  					};
  				}) || [];

  			mappedData.push({
  				label: 'other',
  				value: 'other',
  			});

  			return mappedData;
  		},
  	},
  	created() {
  		//Init
  		this.getAllPatientClinicalTags();
  		this.getClinicalTagRemovalReasons();
  	},
  	mounted() {
  		VueEventBus.$on('PatientClinicalTags.PatientTagsAdded', obj => {
  			this.getAllPatientClinicalTags();
  			this.getClinicalTagRemovalReasons();
  		});

  		VueEventBus.$on('PatientClinicalTags.PatientTagRemoved', obj => {
  			this.getAllPatientClinicalTags();
  			this.getClinicalTagRemovalReasons();
  		});
  	},
  	beforeDestroy() {
		  VueEventBus.$off('PatientClinicalTags.PatientTagsAdded');
		  VueEventBus.$off('PatientClinicalTags.PatientTagRemoved');
  		//VueEventBus.$off('PatientView.GetPatientActions.PatientTags.AllQueuedTagsAdded');
  		//VueEventBus.$off('PatientView.GetPatientActions.PatientTags.TagRemoved');
  	},
  };
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../../less/app-variables.less';
  .patient-summary-widget {
  	box-sizing: border-box;
  	margin: 1em 0 2em 0;
  	padding: 0 1em;
  }
  .widget-tags {
  	display: flex;
  	flex-wrap: wrap;
  	& .btn--plain {
  		margin-bottom: 0;
  		display: inherit;
  	}

  	& .sub-label {
  		flex-basis: 100%;
  		font-size: 0.8em;
  		margin: 0.5em 0;
  		text-transform: uppercase;
  		color: @text-light;
  	}
  }
</style>



<custom>Clinical Tags widget on patient dashboard summary tab</custom>
