<template>
  <div class="patient-summary-widget">

    <template v-if="IsLoading">
      <div class="view-block__title">Updates</div>
      <ui-progress-circular color="primary"></ui-progress-circular>
    </template>
    <template v-else>
      <div class="view-block__title">Updates
        <span v-if="ThereAreMore"> (Latest 5)</span>
        <span v-on:click="setActiveItem()" class="u-pull-right btn--plain">View all</span>
      </div>

      <div v-on:click="setActiveItem(item.ContentItemID)" class="item" v-for="(item) in getFeedDataToDisplay" :key="item.ContentItemID">
        <template v-if="item.Title">
          <div class="item-row">
            <span class="row__title">{{item.Title}}</span>
            <span class="row__date">{{item.NotificationOrderDate | formatDate}}</span>
          </div>
        </template>
        <template v-else>
          <template v-if="item.ReferralDetails">
            <div class="item-row">
              <span class="row__title">Referral from {{item.ReferralDetails.SendingMemberAreaName}} to {{item.ReferralDetails.ReceivingMemberAreaName}}</span><span class="row__date">{{item.NotificationOrderDate | formatDate}}</span>
            </div>
          </template>
        </template>
      </div>
      <div v-if="!getFeedDataToDisplay.length && !IsLoading">No updates for this patient.</div>
    </template>

  </div>
</template>

<script>
  /* API Endpoints */
  import GetPatientFeedItems from 'Endpoints/patients/GetPatientFeedItems';
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';

  export default {
  	data() {
  		return {
  			PatientId: this.patientId,
  			NetworkId: this.networkId,
  			IsLoading: false,
  			FeedData: [],
  			ThereAreMore: false,
  		};
  	},
  	props: {
  		patientId: {
  			type: [String, Number],
  			required: true,
  		},
  		networkId: {
  			type: [String, Number],
  			required: true,
  		},
  	},
  	mixins: [DateFilter],
  	methods: {
  		getPatientUpdates() {
  			this.IsLoading = true;
  			return GetPatientFeedItems.callApi(this.PatientId, this.NetworkId, 0, 5)
  				.then((response, status, jqXHR) => {
  					this.ThereAreMore = response.Data.ThereAreMore;
  					this.FeedData = response.Data.FeedItems || [];
  					this.IsLoading = false;
  				})
  				.fail(error => {
  					this.IsLoading = false;
  				});
  		},
  		setActiveItem(contentItemID) {
  			this.$emit('set-active-item', {
  				ContentItemId: contentItemID || null,
  				ContentType: 'patient-updates',
  			});
  		},
  	},
  	computed: {
  		getFeedDataToDisplay() {
  			return this.FeedData || [];
  		},
  	},
  	mounted() {
  		VueEventBus.$on('PostUpdate.NewPatientFeedItemAdded', obj => {
  			//Component > Event
  			setTimeout(() => {
  				this.getPatientUpdates();
  			}, 2000); //CareflowApi delay - needs a tiimeout for DB latency
  		});
  		VueEventBus.$on('StartPatientReferral.ReferralSent', obj => {
  			setTimeout(() => {
  				this.getPatientUpdates();
  			}, 2000); //CareflowApi delay - needs a tiimeout for DB latency
  		});
  	},
  	beforeDestroy() {
  		VueEventBus.$off('PostUpdate.NewPatientFeedItemAdded');
  		VueEventBus.$off('StartPatientReferral.ReferralSent');
  	},
  	created() {
  		//Init
  		this.getPatientUpdates();
  	},
  };
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../../less/app-variables.less';
  .patient-summary-widget {
  	box-sizing: border-box;
  	margin: 1em 0 2em 0;
  	padding: 0 1em;
  }
  .item {
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
  	margin: 0 0 0.6em 0;
  	flex-wrap: wrap;
  	flex: 1;
  }

  .item-row {
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;

  	& .row__title {
  		@text-wrap-container();
  		color: @link--active;
  		font-weight: @font--medium;
  		display: flex;
  		flex-grow: inherit;
  		padding: 0;
  		margin: 0 0.7em 0 0;
  		box-sizing: border-box;
  		&:hover {
  			cursor: pointer;
  		}
  	}

  	& .row__date {
  		color: @text-light;
  		display: flex;
  		font-weight: @font--normal;
  	}
  }
</style>



<custom>Updates for latest 5 feed items widget on patient dashboard summary tab</custom>
