<!--Team page - team updates view-->
<div v-cloak id="vue-network-team" class="network-team-view-wrapper ">
    <nav class="pure-u-team-nav js-scaffold-block">
        <team-navigation :key="MemberAreaId" :network-id="NetworkId" :member-area-id="MemberAreaId" :patient-list-is-collapsed="PatientListIsCollapsed" :active-view="ActiveView" @expand-patient-list="expandList"></team-navigation>
    </nav>
    <div class="pure-u-team-body">
        <div v-if="ViewTitle" data-full-height-deduct-global="true" class="view-title--team-wrapper pure-u-1 js-team-view-title">
            <div class="view-title--team-title">\{{ViewTitle}}</div>
        </div>
        <div v-if="ActiveView === 'TeamUpdates'" class="pure-u-1">
            <div class="feedBody__container u-pull-left js-scaffold-block">
                <div class="feedBody__wrapper">
                    <feed-component :key="MemberAreaId" :member-area-id="MemberAreaId" :network-id="NetworkId"></feed-component>
                </div>
            </div>
            <div class="pure-u js-scaffold-block">
                <team-directory-widget :key="MemberAreaId" :member-area-id="MemberAreaId" :network-id="NetworkId"></team-directory-widget>
            </div>
        </div>
        <div v-if="ActiveView === 'PatientList'" class="js-scaffold-block">
            <div v-if="IsFullPatientListView" class="">
                <!--full patient list-->
                <team-patient-list :key="MemberAreaId" :network-id="NetworkId" :member-area-id="MemberAreaId" :filters-are-visible="FiltersAreVisible" :active-list-filters="ActiveFilters || undefined" @is-full-patient-list-view-updated="toggleIsFullPatientListView" @set-patient="setActivePatient" @filters-are-visible="function(val) {FiltersAreVisible = val}" @filters-updated="function(array) {ActiveFilters = array}"></team-patient-list>
            </div>
            <div v-else class="">
                <!--Slim list view-->
                <div data-full-height-deduct-global="true" class="list-head-wrapper js-team-view-title">
                    <div class="view-title--team-wrapper">
                        <div class="view-title--team-title">
                            <div class="title-patient-list-links">
                                <span v-on:click="IsFullPatientListView = true" :class="{'link':true,'active':false}">Patient List</span><span class="link-divider">|</span><span :class="{'link':true,'active':true}">Patient Dashboards</span>
                            </div>
                        </div>
                        <div class="head-filter-toggle-btn u-no-highlight" v-show="!PatientListIsCollapsed" v-on:click="FiltersAreVisible = !FiltersAreVisible" v-html="getFilterVisibilityButtonText()" type="button">Show filters</div>
                    </div>
                    <!--List Filters and list management-->
                    <div v-show="!PatientListIsCollapsed" class="list__filters-wrap">
                        <patient-list-filters :key="MemberAreaId" v-show="FiltersAreVisible" :isLoading="false" :member-area-id="MemberAreaId" @filters-updated="function(array) {ActiveFilters = array}" :active-filters-on-load="ActiveFilters || undefined"></patient-list-filters>
                    </div>
                </div>
                <div class="patient-dashboard-wrapper pure-u">
                    <div class="patient-list-slim-wrapper js-scaffold-block">
                        <!--Team patients side panel-->
                        <patient-side-panel-list :key="MemberAreaId" @patient-selected="setActivePatient" @list-collapse-toggle="toggleCollapsed" @is-full-patient-list-view-updated="toggleIsFullPatientListView" :patient-list-is-collapsed="PatientListIsCollapsed" :network-id="NetworkId" :member-area-id="MemberAreaId" :active-patient-id="ActivePatientId" :active-list-filters="ActiveFilters || undefined"></patient-side-panel-list>
                    </div>
                    <div ref="patient-dashboard" class="teamPatientView__wrapper js-scaffold-block">
                        <patient-summary :key="MemberAreaId" v-if="ActivePatientId && Patient" :key="ActivePatientId" :network-id="NetworkId" :member-area-id="MemberAreaId" :patient-id="ActivePatientId" :patient="Patient"></patient-summary>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="ActiveView === 'PatientHandoverList'" class="pure-u-1 js-scaffold-block">
            <team-patient-list :key="MemberAreaId" :member-area-id="MemberAreaId" :network-id="NetworkId" list-type="PatientHandoverList"></team-patient-list>
        </div>
        <div v-if="ActiveView === 'TeamTasks'" class="pure-u-1 js-scaffold-block">
            <team-tasks :key="MemberAreaId" :member-area-id="MemberAreaId" :network-id="NetworkId">
            </team-tasks>

        </div>
        <div v-if="ActiveView === 'TeamReferrals'" class="pure-u-1 js-scaffold-block">
            <team-referrals :key="MemberAreaId" :member-area-id="MemberAreaId" :network-id="NetworkId"></team-referrals>
        </div>
        <div v-if="ActiveView === 'TeamDirectory'" class="pure-u-1 js-scaffold-block">

            <team-directory :key="MemberAreaId" :member-area-id="MemberAreaId" :network-id="NetworkId"></team-directory>

        </div>
        <div v-if="ActiveView === 'TeamSmartLists'" class="pure-u-1 js-scaffold-block">
            <manage-team-smart-lists :key="MemberAreaId" :member-area-id="MemberAreaId" :network-id="NetworkId"></manage-team-smart-lists>
        </div>
        <div v-if="ActiveView === 'TeamTags'" class="pure-u-1 js-scaffold-block">
            <manage-team-tags :key="MemberAreaId" :member-area-id="MemberAreaId" :network-id="NetworkId"></manage-team-tags>
        </div>
        <div v-if="ActiveView === 'TeamProfiles'" class="pure-u-1 js-scaffold-block">
            <manage-team-handover-profiles :key="MemberAreaId" :member-area-id="MemberAreaId" :network-id="NetworkId"></manage-team-handover-profiles>
        </div>
    </div>
</div>
