<template>
  <div class="profile-item">
    <span class="item__blob" :style="{'background': ProfileColour}"></span>
    <div class="item__name">{{profile.Name}}</div>
    <swatches :exceptions="Exceptions" :trigger-style="TriggerStyle" popover-to="left" :row-length="10" :disabled="isLoading" @input="colourChanged" colors="text-advanced" v-model="Colour">
      <button slot="trigger" class="item__trigger btn--plain"><i class="material-icons">edit</i>Edit colour</button>
    </swatches>
  </div>
</template>

<script>
  /* API Endpoints */
  import * as Profiles from 'Endpoints/networks/TeamRoles';

  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  /*Utils*/
  import Swatches from 'vue-swatches';
  import 'vue-swatches/dist/vue-swatches.min.css';
  /*Components*/
  import TeamPatientHandoverListTableRow from 'VueComponents/handovers/components/HandoverListRow';

  export default {
  	data() {
  		return {
  			Colour: '#' + this.profile.Colour.slice(0, 6) || '',
  			ProfileColour: '#' + this.profile.Colour.slice(0, 6) || '',
  			Exceptions: ['#ffffff'],
  			TriggerStyle: {
  				//borderRadius: '30px',
  				//height: '30px',
  				//width: '30px'
  				//'margin-left': 'auto'
  			},
  		};
  	},
  	components: { Swatches },
  	props: {
  		profile: {
  			type: [Object],
  			required: true,
  		},
  		isLoading: {
  			type: [Boolean],
  			required: false,
  		},
  		lastUpdatedColour: {
  			type: [Object],
  			required: false,
  		},
  	},
  	mixins: [DateFilter],
  	watch: {
  		lastUpdatedColour(newVal, oldaVal) {
  			if (newVal && newVal.Item.ExternalIdentifier === this.profile.ExternalIdentifier) return (this.ProfileColour = newVal.UpdatedColour);
  		},
  	},
  	methods: {
  		colourChanged(value) {
  			this.$emit('profile-colour-changed', {
  				Item: this.profile,
  				UpdatedColour: value,
  			});
  		},
  	},
  	computed: {},
  	created() {
  		//Init
  	},
  	mounted() {},
  	updated() {},
  	beforeDestroy() {},
  };
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../../less/app-variables.less';
  .profile-item {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	border-bottom: 1px solid @row--border;
  	padding: .3em 1em .3em 0;
  	box-sizing: border-box;
  	&:last-of-type {
  		border-bottom: none;
  	}
  }
  .item__blob {
  	border-radius: 30px;
  	height: 30px;
  	width: 30px;
  	margin: 0 1em 0 0;
  	align-items: center;
  }
  .item__trigger {
  	margin-left: auto;
  	align-items: center;
  	display: flex;
  	& .material-icons {
  		font-size: 16px;
  		margin: 0 0.2em 0 0;
  	}
  }
  .item__name {
  	font-weight: @font--medium;
  }
  .vue-swatches {
  	margin-left: auto;
  	& .material-icons {
  		font-size: 16px;
  		margin: 0 0.2em 0 0;
  	}
  }
</style>



<custom></custom>
