<div class="pure-u-1">
    <div class="alertSubscription__backLink l-box" data-full-height-deduct-global="true">
        <a href="/#/{{NetworkId}}/Alerts" class="btn--plain">< Back to alerts feed</a>
    </div>
</div>
<!--Users existing subscriptions-->
<div class="js-alertSubscriptions-context-template"></div>