﻿<div v-cloak id="biReports__view" class="biReports__wrapper pure-g">
    <div class="biReports__nav pure-u-4-24">
        <span class="view-block__title--large">Dashboards</span>
        
        <ul class="biReports__nav-ul">
            <li class="biReports__nav-li" v-for="(item, index) in Reports">
                <span v-bind:class="{'btn--plain':true, 'active':ActiveReportName === item.Name}" v-on:click.stop="setActiveTab(item.Key, item.Name)">\{{item.Name}}</span>
            </li>
        </ul>
        <!--<ul v-if="Environment === 'demo'" class="">
            <li class="biReports__nav-li">
                <span v-bind:class="{'btn--plain':true, 'active':ActiveReportName === 'My day'}" v-on:click.stop="setActiveTab('75aa4e59-cbea-441c-b0a6-d29d5ab91e29', 'My day')">My day</span>
            </li>
            <li class="biReports__nav-li">
                <span v-bind:class="{'btn--plain':true, 'active':ActiveReportName === 'Ward planning'}" v-on:click.stop="setActiveTab('181f5118-f165-4e2f-9a6b-77bd81a082b7', 'Ward planning')">Ward planning</span>
            </li>  
            <li class="biReports__nav-li">
                <span v-bind:class="{'btn--plain':true, 'active':ActiveReportName === 'Community bed state'}" v-on:click.stop="setActiveTab('786de580-c2b8-411a-a25d-e27130ef88ac', 'Community bed state')">Community bed state</span>
            </li>  
            <li class="biReports__nav-li">
                <span v-bind:class="{'btn--plain':true, 'active':ActiveReportName === 'Users'}" v-on:click.stop="setActiveTab('87ee4f40-b624-4fd2-a37a-413f137017a6', 'Users')">Users</span>
            </li>

            <li class="biReports__nav-li">
                <span v-bind:class="{'btn--plain':true, 'active':ActiveReportName === 'Alerts'}" v-on:click.stop="setActiveTab('f394f281-21e5-4fe2-8a9c-780a59616f24', 'Alerts')">Alerts</span>
            </li>
            <li class="biReports__nav-li">
                <span v-bind:class="{'btn--plain':true, 'active':ActiveReportName === 'Social Care'}" v-on:click.stop="setActiveTab('8a0b6564-21fb-4b2c-bdaa-68d17f330fe2', 'Social Care')">Social Care</span>
            </li>
        </ul>
        <ul v-else class="biReports__nav-ul">
            <li class="biReports__nav-li">
                <span v-bind:class="{'btn--plain':true, 'active':ActiveReportName === 'Clinical alerts'}" v-on:click.stop="setActiveTab('6112c35b-b2c6-4d61-bf55-b02c483abda0', 'Clinical alerts')">Clinical alerts</span>
            </li>
            <li class="biReports__nav-li">
                <span v-bind:class="{'btn--plain':true, 'active':ActiveReportName === 'Referrals'}" v-on:click.stop="setActiveTab('9b3c2e6e-2113-4c53-ac12-29cfa5428a95', 'Referrals')">Referrals</span>
            </li>  
            <li class="biReports__nav-li">
                <span v-bind:class="{'btn--plain':true, 'active':ActiveReportName === 'Tags'}" v-on:click.stop="setActiveTab('331b1837-32fa-450a-9870-264cf28dcb45', 'Tags')">Tags</span>
            </li>  
            <li class="biReports__nav-li">
                <span v-bind:class="{'btn--plain':true, 'active':ActiveReportName === 'Team messages'}" v-on:click.stop="setActiveTab('849436ef-a286-4def-8ed3-e8ac63f30845', 'Team messages')">Team messages</span>
            </li>

            <li class="biReports__nav-li">
                <span v-bind:class="{'btn--plain':true, 'active':ActiveReportName === 'Team summary'}" v-on:click.stop="setActiveTab('3ae3f9bf-f895-4f73-b9a4-ba5324a072a7', 'Team summary')">Team summary</span>
            </li>
            <li class="biReports__nav-li">
                <span v-bind:class="{'btn--plain':true, 'active':ActiveReportName === 'User messages'}" v-on:click.stop="setActiveTab('ce399b40-cb74-496d-98e1-d4208966ad37', 'User messages')">User messages</span>
            </li>
            <li class="biReports__nav-li">
                <span v-bind:class="{'btn--plain':true, 'active':ActiveReportName === 'Users'}" v-on:click.stop="setActiveTab('223d406f-97f5-42c8-b03d-2b739b29c3ec', 'Users')">Users</span>
            </li>
        </ul>-->
    </div>
    <div class="biReports__dashboard pure-u-20-24 js-scaffold-block">
        <span data-full-height-deduct="true" class="view-block__title--large">\{{ActiveReportName}}</span>
        <loading-block v-if="IsLoading" message="Loading dashboard..."></loading-block>
        <div data-scroll="true" class="biReports__dashboard-frame js-bi-report-container js-fullHeight-bodyElement"></div>
    </div>
</div>