﻿<div class="pure-g">
    <div class="pure-u-7-24">
        <div class="pure-g js-scaffold-block">
            <div class="pure-u-1-1 messages-add-conversation__wrapper" data-full-height-deduct="true">
                <button type="button" class="btn--addContent js-add-conversation">Start new message</button>
            </div>
            <div class="pure-u-1-1 js-converations-template"></div>
        </div>
    </div>
    <div class="pure-u-12-24 js-scaffold-block js-messages-template"></div>
    <div class="pure-u-5-24 js-scaffold-block js-participants-template"></div>
    <div class="pure-u-17-24 js-scaffold-block js-newConversation-template" style="display: none;"></div>
</div>