<!--Team page - team tags view-->
<!--
	This is because attributes in HTML are case insensitive and if you are rendering some of your template to the DOM, it's just better all around to avoid camelCased names. Note that this doesn't apply if you define the templates in strings or if you are using single file components.
-->
<div v-cloak id="vue-network-updates" class="pure-g">
    <network-updates-wrapper :member-area-id="MemberAreaId" :network-id="NetworkId" :view-title="ViewTitle" :active-url="Route" :content-id-to-activate="ContentIdToActivate"></network-updates-wrapper>
</div>
