<template>
  <div class="password-validity-wrapper">
    <span class="title">Please make sure your password meets all the conditions:</span>
    <div :class="{'validity__block':true, 'is-valid':newPassword.length > '7' &&  newPassword.length < '17'}">
      <i class="material-icons">
        <template v-if="newPassword.length > '7' &&  newPassword.length < '17'">check</template>
        <template v-else>stop</template>
      </i> Must be 8 to 16 characters</div>
    <div :class="{'validity__block':true, 'is-valid':passwordValidity.HasUpperCase && passwordValidity.HasLowerCase && newPassword.length}">
      <i class="material-icons">
        <template v-if="passwordValidity.HasUpperCase && passwordValidity.HasLowerCase && newPassword.length">check</template>
        <template v-else>stop</template>
      </i>Uppercase and lowercase letters</div>
    <div :class="{'validity__block':true,  'is-valid':passwordValidity.HasNumeric && newPassword.length}">
      <i class="material-icons">
        <template v-if="passwordValidity.HasNumeric && newPassword.length">check</template>
        <template v-else>stop</template>
      </i>Number (0-9)</div>
    <div ref="siginin-allowed-symbols" :class="{'validity__block':true, 'hover':true, 'is-valid':passwordValidity.HasSymbol && newPassword.length}">
      <i class="material-icons">
        <template v-if="passwordValidity.HasSymbol && newPassword.length">check</template>
        <template v-else>stop</template>
      </i>Symbol (see allowed symbols)</div>
    <ui-popover class="custom-popover allowed-symbols" open-on="hover" trigger="siginin-allowed-symbols">
      <div>@ # $ % ^ & * - _ ! + = [ ] { } | \ : , . ? / ~ ( ) ;</div>
    </ui-popover>
  </div>
</template>

<script>
  export default {
  	data() {
  		return {
  			IsLoading: false,
  		};
  	},
  	props: {
  		passwordValidity: {
  			type: [Object],
  			required: true,
  		},
  		newPassword: {
  			type: [String],
  			required: true,
  		},
  	},
  	components: {},
  	mixins: [],
  	filters: {},
  	watch: {},
  	computed: {},
  	methods: {},
  	created() {},
  	mounted() {},
  	deforeDestroy() {},
  };
</script>
<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../../less/app-variables.less';
  .password-validity-wrapper {
  	display: flex;
  	flex-direction: column;
  	margin: 1em 0;
  	/*font-weight: @font--light;*/
  	font-size: 1em;

  	& .title {
  		margin: 0 0 1em 0;
  		font-weight: @font--medium;
  	}
  }
</style>
<custom>Sign in component password validity UI</custom>
