<template>
  <div class="list-item" :key="item.AccessGroupID">
    <div class="team-meta">
      <div class="team-name">{{item.Name}}</div>
      <div class="team-description">{{item.Description}}</div>
    </div>
    <div class="team-actions">
      <ui-progress-circular v-if="IsLoading" color="primary" :size=23></ui-progress-circular>
      <button v-if="!IsLoading" v-on:click="manageTeamMembership" class="btn--plain manage-teams-btn" v-html="getMembershipActionLabel" :disabled="IsLoading ||  UserHasPendingMembership || UserHasRequestedTeam"></button>
    </div>
  </div>
</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';

  /*Components*/

  /* API Endpoints */
  import Vault from 'Endpoints/careflowApp/Vault';
  import RequestMembership from 'Endpoints/groups/RequestMembership';

  import appRouter from 'AppJs/app-router';

  export default {
  	data() {
  		return {
  			IsLoading: false,
  			UserHasJoinedTeam: false,
  			UserHasRequestedTeam: (this.item.MembershipRequested && this.item.MembershipRequested.length > 0) || false,
  			UserHasPendingMembership: false,
  		};
  	},
  	props: {
  		item: {
  			type: [Object, Array],
  			required: true,
  		},
  		networkId: {
  			type: [String, Number],
  			required: true,
  		},
  		permissions: {
  			//TODO - Pass as param to improve performance, many fabs can exist on lists, feeds etc!
  			type: [Array],
  			required: false,
  			default: () => {
  				return [];
  			},
  		},
  	},
  	components: {},
  	mixins: [DateFilter],
  	filters: {},
  	watch: {
  		IsLoading(newVal, oldVal) {
  			VueEventBus.$emit('Modal.ValidityUpdate', newVal);
  		},
  	},
  	computed: {
  		getMembershipActionLabel() {
  			if (!this.item.MembershipStatus || !this.item.MembershipPolicy) return ``;

  			if (this.UserHasJoinedTeam) return `You're a member, go to team`;
  			if (this.UserHasRequestedTeam) return `Membership requested`;
  			if (this.UserHasPendingMembership) return `Membership requested`;

  			if (this.item.MembershipStatus === 'Member') return `You're a member, go to team`;
  			if (this.item.MembershipPolicy === 'Public') return `Join team`;
  			if (this.item.MembershipPolicy === 'Private') return `Request to join team`;
  			return ``;
  		},
  	},

  	methods: {
  		manageTeamMembership() {
  			if (this.item.MembershipStatus !== 'Member' && !this.UserHasJoinedTeam) return this.joinTeam();
  			return appRouter.careflowAppRouter.setLocation(`/#/${this.networkId}/Teams/${this.item.MemberAreaID}`);
  		},

  		joinTeam: function() {
  			this.IsLoading = true;
  			let responseCode;

  			return new Promise((resolve, reject) => {
  				RequestMembership.callApi(this.item.MemberAreaID)
  					.then(response => {
  						let responseCode = response.Messages[0].Code;

  						appMain.getRequestingUserSummary().then(response => {
  							//If successful, the local copy of GetRequestingUserSummary must be updated with new permissions and nav rebuild triggered
  							this.IsLoading = false;

  							let title = '';
  							switch (responseCode) {
  								case 1:
  									title = `You are already a member of ${this.item.Name}`;
  									break;

  								case 2:
  									this.UserHasJoinedTeam = true;
  									title = `You have now joined ${this.item.Name}`;
  									break;

  								case 3:
  									this.UserHasRequestedTeam = true;
  									title = `Request sent to join ${this.item.Name}`;
  									break;

  								case 4:
  									this.UserHasPendingMembership = true;
  									title = `Membership already pending for ${this.item.Name}`;
  									break;

  								default:
  									``;
  							}

  							appMain.triggerAppNotification({
  								Heading: `Team memberships updates`,
  								Text: title,
  								Icon: 'success',
  							});
  							this.$emit('teams-updated', {
  								MemberAreaId: this.item.MemberAreaID,
  								Status: responseCode,
  								StatusText: title,
  							});
  							resolve();
  						});
  					})
  					.fail(error => {
  						this.IsLoading = false;
  						reject(error);
  					});
  			});
  		},
  	},
  	created() {},
  	mounted() {},
  	deforeDestroy() {
  		this.Patient = null;
  	},
  };
</script>

<style lang="less" scoped>
  @import '../../../../../less/app-variables.less';

  .list-item {
  	position: relative;
  	display: flex;
  	align-items: center;
  	width: 100%;
  	//flex: 1;
  	flex-wrap: nowrap;
  	border-bottom: 1px solid @row--border;
  	padding: 0.8em 0;
  	box-sizing: border-box;
  }
  .team-actions {
  	margin-left: auto;
  	display: flex;
  	flex-grow: 1;
  	align-content: center;
  	justify-content: flex-end;
  	flex-basis: 30%;
  }
  .team-name {
  	font-weight: @font--medium;
  	display: flex;
  	font-size: 1.1em;
  }
  .team-meta {
  	display: flex;
  	flex-basis: 70%;
  	flex-flow: column;
  }
  .team-description {
  	color: @text-light;
  	margin: 0.2em 0 0 0;
  	display: flex;
  }
  .manage-teams-btn {
  	&:disabled {
  		color: @text-light;
  		&:hover {
  			opacity: 1;
  			cursor: default;
  		}
  	}
  }
</style>

<custom></custom>
