<template>
  <div data-scroll="true" :class="{'patient-referral':true, 'is-modal': this.isModal, 'js-fullHeight-bodyElement': !this.isModal}">
    <ui-progress-circular color="primary" v-if="IsLoadingPatientData"></ui-progress-circular>
    <template v-if="!IsLoadingPatientData">

      <div class="referral-teams-wrapper">
        <ui-select hasSearch placeholder="Select a team" label="Referral from" @input="setSendingTeam" class="" :disabled="IsLoading || !getReferralSendingTeams.length" :options="getReferralSendingTeams" :value="SelectedSendingTeam"></ui-select>

        <template v-if="UserCanViewReferralTeams">
          <ui-select hasSearch placeholder="Select a team" label="Referral to" @input="setReceivingTeam" class="ui-team-ddl" :disabled="IsLoading || !getReferralSendingTeams.length" :options="getReferralReceivingTeams" :value="SelectedReceivingTeam">
            <template scope="props" slot="option">
              <div v-if="props.option.isDivider" class="ui-select-option__basic divider-label">{{props.option.label}}</div>
              <div v-else class="ui-select-option__basic option-label">{{props.option.label}}</div>
            </template>
          </ui-select>

        </template>
        <template v-else>
          <ui-select hasSearch placeholder="Select a team" label="Referral to" @input="setReceivingTeam" class="" :disabled="IsLoading || !getReferralSendingTeams.length" :options="getReferralReceivingTeams" :value="SelectedReceivingTeam"></ui-select>
        </template>
      </div>

      <!--use Handover SBAR-->
      <template v-if="getSbarTemplateOptions && getSbarTemplateOptions.length">
        <div class="profile-template-select-wrapper" v-if="ViewProfilesForNetwork">
          <ui-select hasSearch placeholder="Select a profile" label="Copy handover from profile" @input="setHandoverSbarTemplate" class="" :disabled="IsLoading || !getSbarTemplateOptions.length" :options="getSbarTemplateOptions" :value="SelectedSbarTemplateMeta">
            <template slot="help">
              <div v-show="SelectedSbarTemplateFields.length">
                <button type="button" :disabled="IsLoading" v-on:click="clearHandoverSbarTemplate" class="btn--plain">Clear</button>
              </div>
            </template>
            <template scope="props" slot="option">
              <div :class="{'profile-option':true}">
                <div class="name">{{ props.option.label}}</div>
                <div class="meta">{{ props.option.lastUpdated}}</div>
              </div>
            </template>
          </ui-select>
        </div>
        <div class="profile-template-select-wrapper" v-else>
          <button v-if="!this.SelectedSbarTemplateFields.length && getSbarTemplateOptions.length" :disabled="IsLoading" :loading="IsLoading" v-on:click="setHandoverSbarTemplate" class="btn--plain">Copy from patient handover <span class="handover-meta">- {{getSbarTemplateOptions[0].UpdatedByName}} ({{getSbarTemplateOptions[0].GroupName}}) {{getSbarTemplateOptions[0].DateLastUpdated | formatDate}} <template v-if="getSbarTemplateOptions[0].DaysSinceLastUpdate">({{getSbarTemplateOptions[0].DaysSinceLastUpdate}}d)</template><template v-else>(today)</template>
            </span>
          </button>

          <button v-else :disabled="IsLoading" v-on:click="clearHandoverSbarTemplate" class="btn--plain">
            Clear handover fields</button>
        </div>
      </template>

      <div>
        <ui-textbox ref="situation" :maxlength="1000" enforce-maxlength label="Situation" :multi-line="true" name="situation" class="" :disabled="IsLoading" v-model="Situation"></ui-textbox>
      </div>

      <div>
        <ui-textbox ref="background" :maxlength="1000" enforce-maxlength label="Background" :multi-line="true" name="background" class="" :disabled="IsLoading" v-model="Background"></ui-textbox>
      </div>

      <div>
        <ui-textbox ref="assessment" :maxlength="1000" enforce-maxlength label="Assessment" :multi-line="true" name="assessment" class="" :disabled="IsLoading" v-model="Assessment"></ui-textbox>
      </div>

      <div>
        <ui-textbox ref="recommendation" :maxlength="1000" enforce-maxlength label="Recommendation" :multi-line="true" name="recommendation" class="" :disabled="IsLoading" v-model="Recommendation"></ui-textbox>
      </div>
      <div class="referral-footer">
        <ui-button color="primary" :disabled="IsLoading || !isValidForUpsert" :loading="IsLoading" v-on:click="postReferral">Save referral</ui-button>
      </div>

    </template>
  </div>
</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  /*Components*/
  /* API Endpoints */
  import Vault from 'Endpoints/careflowApp/Vault';
  import GetPatient from 'Endpoints/patients/GetPatient';
  import GetReferralGroups from 'Endpoints/referral/GetReferralGroups';
  import * as GetReferralsTeams from 'Endpoints/referral/GetReferralsTeams'; //V12 API
  import SendReferral from 'Endpoints/referral/SendReferral';
  import * as UpsertPatientReferral from 'Endpoints/referral/UpsertPatientReferral'; //V12 API
  import appMain from '../../../app/app-main';

  //Utils

  export default {
  	data() {
  		return {
  			UserCanViewReferralTeams:
  				appMain
  					.getUserPermissionsForNetwork(this.networkId)
  					.includes('ViewReferralTeams') && appMain.getCurrentApiVersion() > 11, //V12 referral permission
  			ViewProfilesForNetwork: appMain
  				.getUserPermissionsForNetwork(this.networkId)
  				.includes('ViewProfilesForNetwork'), //Main handover profiles permission for Profiles
  			IsLoading: false,
  			ActiveNetworkExternalId: appMain.getNetworkExternalNetworkId(
  				this.networkId
  			),
  			Patient: this.patient,
  			PatientId: this.patientId,
  			IsLoadingPatientData: !this.patient,
  			ReferralSendingGroups: null,
  			ReferralReceivingGroups: null,
  			SelectedSendingTeam: '',
  			SelectedReceivingTeam: '',
  			Situation: '',
  			Background: '',
  			Assessment: '',
  			Recommendation: '',
  			SelectedSbarTemplateMeta: '',
  			SelectedSbarTemplateFields: []
  		};
  	},
  	props: {
  		patient: {
  			type: [Object, String],
  			required: false,
  			default: null
  		},
  		patientId: {
  			type: [String, Number],
  			required: true
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false
  		},
  		networkId: {
  			type: [String, Number],
  			required: true
  		},
  		isModal: {
  			type: [Boolean],
  			required: false,
  			default: true
  		}
  	},
  	components: {},
  	mixins: [DateFilter],
  	filters: {},
  	watch: {
  		isValidForUpsert(newVal, OldVal) {
  			VueEventBus.$emit('Modal.ValidityUpdate', newVal);
  		}
  	},
  	computed: {
  		getReferralSendingTeams() {
  			if (!this.ReferralSendingGroups) return [];

  			if (this.UserCanViewReferralTeams) {
  				return this.ReferralSendingGroups.map(x => {
  					return this.SelectedReceivingTeam &&
  						this.SelectedReceivingTeam.externalIdentifier ===
  							x.GroupExternalIdentifier
  						? null
  						: {
  								label: x.Name,
  								value: x.GroupExternalIdentifier,
  								memberAreaId: x.MemberAreaID,
  								groupExternalIdentifier: x.GroupExternalIdentifier,
  								accessGroupID: x.AccessGroupID,
  								name: x.Name
  						  };
  				}).filter(Boolean);
  			}

  			//Legacy, V11
  			return this.ReferralSendingGroups.map(x => {
  				if (
  					this.SelectedReceivingTeam &&
  					x.MemberAreaId === this.SelectedReceivingTeam.value
  				)
  					return null;
  				return {
  					label: x.MemberAreaName,
  					value: x.MemberAreaId
  				};
  			}).filter(Boolean);
  		},
  		getReferralReceivingTeams() {
  			if (!this.ReferralReceivingGroups) return [];

  			//Move current network to first in array
  			const activeNetworkExternalId = appMain.getNetworkExternalNetworkId(
  				this.networkId
  			);
  			const index = this.ReferralReceivingGroups.findIndex(
  				x => x.Id === this.ActiveNetworkExternalId
  			);
  			if (index !== -1) {
  				let foundItem = this.ReferralReceivingGroups[index];
  				this.ReferralReceivingGroups.splice(index, 1);
  				this.ReferralReceivingGroups.unshift(foundItem);
  			}

  			if (this.UserCanViewReferralTeams) {
  				let data =
  					[]
  						.concat(
  							...this.ReferralReceivingGroups.map(x => {
  								return [].concat(
  									...x.Teams.map((y, index, array) => {
  										return [
  											index === 0
  												? {
  														label: x.Name,
  														value: x.Id,
  														isDivider: true, //Add a network label divider
  														isDisabled: true,
  														isNetwork: true
  												  }
  												: null,
  											this.SelectedSendingTeam &&
  											this.SelectedSendingTeam.groupExternalIdentifier === y.Id
  												? null
  												: {
  														label: y.Name,
  														value: y.Id,
  														//memberAreaId: appMain.getMemberAreaIdFromAccessGroupId(y.Id),
  														externalIdentifier: y.Id,
  														//memberAreaId:x.MemberAreaID,
  														name: y.Name,
  														network: x.Name,
  														networkAccessGroupExternalId: x.Id,
  														arrayIndex: index,
  														isCrossNetworkReferral:
  															x.Id !== activeNetworkExternalId,
  														isDisabled: false
  												  }
  										];
  									})
  								);
  							})
  						)
  						.filter(Boolean) || []; //http://www.jstips.co/en/javascript/flattening-multidimensional-arrays-in-javascript/

  				return data;
  			}
  			//Legacy, V11

  			return this.ReferralReceivingGroups.map(x => {
  				if (
  					this.SelectedSendingTeam &&
  					x.MemberAreaId === this.SelectedSendingTeam.value
  				)
  					return null;
  				return {
  					label: x.MemberAreaName,
  					value: x.MemberAreaId
  				};
  			}).filter(Boolean);
  		},
  		isValidForUpsert() {
  			let situationIsValid = this.Situation.trim().length;
  			let backgroundIsValid = this.Background.trim().length;
  			let assesmentIsValid = this.Assessment.trim().length;
  			let recommendationIsValid = this.Recommendation.trim().length;

  			if (
  				!situationIsValid ||
  				!backgroundIsValid ||
  				!assesmentIsValid ||
  				!recommendationIsValid
  			)
  				return false;
  			if (
  				this.SelectedSendingTeam &&
  				this.SelectedReceivingTeam &&
  				this.SelectedSendingTeam.value !== this.SelectedReceivingTeam.value
  			)
  				return true;
  			return false;
  		},
  		getSbarTemplateOptions() {
  			if (this.ViewProfilesForNetwork) {
  				return this.Patient.HandoverNotes.map(x => {
  					if (x.IsCurrent && x.Notes.length) {
  						let lastUpdatedMeta = `${x.UpdatedByName} (${
  							x.GroupName
  						}) ${this.$options.filters.formatDate(x.DateLastUpdated)}`;
  						return {
  							label: x.Profile.Name,
  							value: x.Profile.ExternalIdentifier,
  							lastUpdated: lastUpdatedMeta
  						};
  					}
  					return null;
  				}).filter(Boolean);
  			} else {
  				//Legacy - non profil based handovers
  				return this.Patient.HandoverNotes.filter(x => x);
  			}
  			return [];
  		}
  	},
  	methods: {
  		getReferralGroups() {
  			this.IsLoading = true;
  			if (this.UserCanViewReferralTeams) {
  				//Use netowork referrals
  				return GetReferralsTeams.getReferralsTeams(
  					appMain.getNetworkExternalNetworkId(this.networkId)
  				)
  					.then((response, text, xhr) => {
  						this.ReferralReceivingGroups = response.Data;
  						this.ReferralSendingGroups = appMain.getTeamsUserIsMemberOf(
  							this.networkId
  						); //user should be able to send a Referral from any team that they are a member of
  						if (this.memberAreaId) {
  							const memberAreaExternalId =
  								this.ReferralSendingGroups.find(
  									x => x.MemberAreaID === this.memberAreaId
  								).GroupExternalIdentifier || null;
  							this.SelectedSendingTeam = this.getReferralSendingTeams.find(
  								x => x.groupExternalIdentifier === memberAreaExternalId
  							);
  						}

  						this.IsLoading = false;
  					})
  					.fail(error => {
  						this.IsLoading = false;
  					});
  			}
  			//Legacy, V11
  			return GetReferralGroups.callApi(this.networkId)
  				.then((response, status, xhr) => {
  					this.ReferralSendingGroups = response.Data.SendingGroups;
  					this.ReferralReceivingGroups = response.Data.ReceivingGroups;
  					this.IsLoading = false;
  				})
  				.fail(error => {
  					this.IsLoading = false;
  				});
  		},
  		setSendingTeam(value) {
  			if (!value) return;
  			this.SelectedSendingTeam = value;
  		},
  		setReceivingTeam(value) {
  			if (!value) return;
  			this.SelectedReceivingTeam = value;
  		},
  		postReferral() {
  			if (!this.isValidForUpsert) return;

  			this.IsLoading = true;

  			if (this.UserCanViewReferralTeams) {
  				let referralFields = [
  					{
  						Name: 'Situation',
  						Value: this.Situation
  					},
  					{
  						Name: 'Background',
  						Value: this.Background
  					},
  					{
  						Name: 'Assessment',
  						Value: this.Assessment
  					},
  					{
  						Name: 'Recommendation',
  						Value: this.Recommendation
  					}
  				];
  				//receivingExternalAccessGroupId, sendingExternalAccessGroupId, patientExternalIdentifier, referralFields
  				UpsertPatientReferral.upsertPatientReferral(
  					this.SelectedReceivingTeam.value,
  					this.SelectedSendingTeam.value,
  					this.patientId,
  					referralFields
  				)
  					.then((response, status, xhr) => {
  						this.IsLoading = false;
  						this.$emit('referral-saved', {});

  						appMain.triggerAppNotification({
  							Heading: 'Patient referral',
  							Text: 'Patient referral started',
  							Icon: 'success'
  						});

  						VueEventBus.$emit('StartPatientReferral.ReferralSent', {
  							ContentItemId: response.Data.ContentItemId,
  							PatientData: this.Patient,
  							PatientId: this.PatientId,
  							ReceivingTeamName: this.SelectedReceivingTeam.name,
  							ReceivingTeamMemberAreaId: this.SelectedReceivingTeam
  								.memberAreaId,
  							SendingTeamName: this.SelectedSendingTeam.name,
  							SendingTeamMemberAreaId: this.SelectedSendingTeam.memberAreaId,
  							SituationTxt: this.Situation,
  							BackgroundTxt: this.Background,
  							AssessmentTxt: this.Assessment,
  							RecommentdationTxt: this.Recommendation,
  							IsCrossNetworkReferral: this.SelectedReceivingTeam
  								.isCrossNetworkReferral
  						});
  					})
  					.fail(error => {
  						this.IsLoading = false;
  					});
  			} else {
  				//Legacy

  				let referralFields = [
  					{
  						FieldName: 'Situation',
  						FieldValue: this.Situation
  					},
  					{
  						FieldName: 'Background',
  						FieldValue: this.Background
  					},
  					{
  						FieldName: 'Assessment',
  						FieldValue: this.Assessment
  					},
  					{
  						FieldName: 'Recommendation',
  						FieldValue: this.Recommendation
  					}
  				];

  				SendReferral.callApi(
  					this.SelectedSendingTeam.value,
  					this.SelectedReceivingTeam.value,
  					this.patientId,
  					null,
  					referralFields
  				)
  					.then((response, status, xhr) => {
  						this.IsLoading = false;
  						this.$emit('referral-saved', {});

  						appMain.triggerAppNotification({
  							Heading: 'Patient referral',
  							Text: 'Patient referral started',
  							Icon: 'success'
  						});

  						VueEventBus.$emit('StartPatientReferral.ReferralSent', {
  							ContentItemId: response.Data.ContentItemId,
  							PatientData: this.Patient,
  							PatientId: this.PatientId,
  							ReceivingTeam: this.SelectedReceivingTeam.value,
  							SendingTeam: this.SelectedSendingTeam.value,
  							MemberAreaId: this.SelectedSendingTeam.value,
  							SituationTxt: this.Situation,
  							BackgroundTxt: this.Background,
  							AssessmentTxt: this.Assessment,
  							RecommentdationTxt: this.Recommendation
  						});
  					})
  					.fail(error => {
  						this.IsLoading = false;
  					});
  			}
  		},

  		setHandoverSbarTemplate(obj) {
  			if (!obj) return;
  			this.SelectedSbarTemplateMeta = obj;
  			this.SelectedSbarTemplateFields = this.ViewProfilesForNetwork
  				? this.Patient.HandoverNotes.filter(
  						x => x.Profile.ExternalIdentifier === obj.value
  				  )
  				: this.Patient.HandoverNotes.filter(x => x);

  			//Apply to model
  			if (
  				this.SelectedSbarTemplateFields.length &&
  				this.SelectedSbarTemplateFields[0].Notes &&
  				this.SelectedSbarTemplateFields[0].Notes.length
  			) {
  				this.Situation = this.SelectedSbarTemplateFields[0].Notes[0].Value;
  				this.Background = this.SelectedSbarTemplateFields[0].Notes[1].Value;
  				this.Assessment = this.SelectedSbarTemplateFields[0].Notes[2].Value;
  				this.Recommendation = this.SelectedSbarTemplateFields[0].Notes[3].Value;

  				this.$nextTick(() => {
  					this.$refs.situation.refreshSize();
  					this.$refs.background.refreshSize();
  					this.$refs.assessment.refreshSize();
  					this.$refs.recommendation.refreshSize();
  				});
  			}
  		},
  		clearHandoverSbarTemplate() {
  			this.SelectedSbarTemplateFields = [];
  			this.SelectedSbarTemplateMeta = '';
  			this.Situation = '';
  			this.Background = '';
  			this.Assessment = '';
  			this.Recommendation = '';
  			this.$nextTick(() => {
  				this.$refs.situation.refreshSize();
  				this.$refs.background.refreshSize();
  				this.$refs.assessment.refreshSize();
  				this.$refs.recommendation.refreshSize();
  			});
  		}
  	},
  	created() {
  		this.getReferralGroups().fail(error => {});
  		if (!this.patient && this.patientId) {
  			//No patient set - patient summary tab
  			GetPatient.callApi(this.patientId, this.networkId, ['HandoverNotes'])
  				.then((response, status, xhr) => {
  					this.Patient = response.Data;
  					this.GroupListExternalIdentifiers =
  						response.Data.GroupListExternalIdentifiers;
  					this.IsLoadingPatientData = false;
  				})
  				.fail(error => {});
  		}
  	},
  	mounted() {},
  	deforeDestroy() {}
  };
</script>
<style lang="less">
  .ui-textbox__label-text {
  	margin: 0 0 0.5em 0;
  }
</style>


<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../less/app-variables.less';

  .referral-teams-wrapper {
  	margin: 0 0 1em 0;
  }
  .profile-template-select-wrapper {
  	margin: 0 0 3em 0;
  }
  .referral-footer {
  	//margin: 5em 0 0 0;
  	padding: 2em 0 0 0;
  }
  .ui-team-ddl {
  	//DDl component - custom template in slot
  	& .divider-label {
  		box-sizing: border-box;
  		font-weight: @font--medium;
  		&:hover {
  			cursor: default;
  		}
  	}
  	& .option-label {
  		box-sizing: border-box;
  		padding-left: 0.5em;
  	}
  	& .is-disabled {
  	}
  }
  .btn--plain {
  	& .handover-meta {
  		color: @text-light;
  		font-weight: @font--normal;
  		font-size: 0.9em;
  	}
  }
  .meta {
  	color: @text-light;
  	font-weight: @font--normal;
  	font-size: 0.9em;
  }
</style>

<custom>Patient context start referral control</custom>
