<template>
  <div>
    <div class="network-search-wrapper widget-1" v-if="WidgetType === 1">

      <div v-show="!IsCollapsed" class="search-controls-wrapper js-scaffold-block">
        <div data-full-height-deduct="true" class="controls">

          <div class="search-input">
            <div class="search-input__block">
              <ui-textbox :disabled="SearchValues.IsGettingSearchResults" class="size-small" floating-label label="Search by name or number" placeholder="" @keydown-enter="identifierSearchSelected" v-model="SearchValues.Name"></ui-textbox>
            </div>
            <div class="search-input__block--icon-wrapper">
              <i v-on:click="identifierSearchSelected" class="material-icons">search</i>
            </div>
          </div>

          <ui-select has-search class="location-select" :disabled="SearchValues.IsGettingSearchResults" floating-label label="Patients by location" placeholder="Select a location" :options="SearchOptions.Locations" v-model="SearchValues.Location" @select="populationSearchSelected">

            <template scope="props" slot="option">

              <template v-if="props.option.isSiteLabel">
                <div class="ui-select-option__basic site-label">{{props.option.label}}</div>
              </template>
              <template v-else>
                <div class="ui-select-option__basic area-label">{{props.option.label}}</div>
              </template>

            </template>

          </ui-select>

          <ui-select has-search :disabled="SearchValues.IsGettingSearchResults" floating-label label="Patients under a consultant" placeholder="Select a consultant" :options="SearchOptions.Consultants" v-model="SearchValues.Consultant" @select="populationSearchSelected"></ui-select>

          <div v-if="!SearchValues.NoSearchResultsReturned && getPatients.length" class="search-title">
            <div class="title__label">Search results</div>
          </div>
        </div>

        <div ref="results-wrapper" data-scroll="true" class="search-results js-fullHeight-bodyElement">

          <div class="containerEmpty-wrapper" v-if="!getPatients.length && !SearchValues.IsGettingSearchResults && !SearchValues.NoSearchResultsReturned">
            <div>
              <i class="material-icons">ballot</i>
            </div>
            Search for patients by name, number, consultant or location
          </div>
          <!--No results found-->
          <div class="containerEmpty-wrapper" v-if="SearchValues.NoSearchResultsReturned && !getPatients.length">
            <div>
              <i class="material-icons">ballot</i>
            </div>
            No results found. Please try again
          </div>

          <!--Loader-->
          <div v-if="!getPatients.length && SearchValues.IsGettingSearchResults" v-for="n in 50" :key="n" class="patient-item-loader">
            <vue-content-loading :width="300" :height="75">
              <rect rx="4" ry="4" y="0" width="280" x="10" height="12"></rect>
              <rect rx="4" ry="4" width="245" height="10" x="10" y="20"></rect>
              <rect rx="4" ry="4" height="11" width="230" x="10" y="40"></rect>
            </vue-content-loading>
          </div>
          <template v-if="getPatients.length">
            <patient-row-item v-for="(patient) in getPatients" @patient-selected="setPatient" :patient="patient" :key="patient.PatientExternalIdentifier" :activePatientId="ActivePatientId" :is-search-list="true" :networkId="networkId"></patient-row-item>
          </template>

          <!--End of results-->
          <p v-if="getPatients.length && !SearchValues.ThereAreMore" class="u-text-center">End of results
            <span>({{getPatients.length}})</span>
          </p>
          <div class="results-is-loading">
            <ui-progress-circular v-show="SearchValues.IsGettingSearchResults && SearchData.length" color="primary"></ui-progress-circular>
          </div>

        </div>
        <!--collapse list block-->
        <div v-if="SearchData.length" v-on:click="toggleCollapsed" data-full-height-deduct="true" class="sidePanel-collapse-wrapper">
          <i class="material-icons">keyboard_arrow_left</i> Collapse list
        </div>
      </div>
      <!--Collapsed-->
      <div class="js-scaffold-block" v-show="IsCollapsed">

        <div v-on:click="toggleCollapsed" class="search-controls-wrapper-collapsed js-fullHeight-bodyElement">
          <i class="material-icons">keyboard_arrow_right</i>
        </div>
      </div>

    </div>

    <div :class="{'network-search-wrapper':true, 'js-scaffold-block': true, 'widget-2': true, 'is-modal': WidgetType === 2}" v-if="WidgetType === 2">
      <div data-full-height-deduct="true" class="controls">
        <div class="controls__block">
          <div class="search-input">
            <div class="search-input__block">
              <ui-textbox :disabled="SearchValues.IsGettingSearchResults" class="size-small" placeholder="Search by name or number" @keydown-enter="identifierSearchSelected" v-model="SearchValues.Name"></ui-textbox>
            </div>
            <div class="search-input__block--icon-wrapper">
              <i v-on:click="identifierSearchSelected" class="material-icons">search</i>
            </div>
          </div>
        </div>
        <div class="controls__block">
          <ui-select has-search class="location-select" :disabled="SearchValues.IsGettingSearchResults" placeholder="Select a location" :options="SearchOptions.Locations" v-model="SearchValues.Location" @select="populationSearchSelected">

            <template scope="props" slot="option">

              <template v-if="props.option.isSiteLabel">
                <div class="ui-select-option__basic site-label">{{props.option.label}}</div>
              </template>
              <template v-else>
                <div class="ui-select-option__basic area-label">{{props.option.label}}</div>
              </template>

            </template>

          </ui-select>
        </div>
        <div class="controls__block">
          <ui-select has-search :disabled="SearchValues.IsGettingSearchResults" label="" placeholder="Select a consultant" :options="SearchOptions.Consultants" v-model="SearchValues.Consultant" @select="populationSearchSelected"></ui-select>
        </div>

        <div class="controls__block">
          <ui-select has-search :disabled="SearchValues.IsGettingSearchResults" label="" placeholder="Select a team list" :options="SearchOptions.Teams" v-model="SearchValues.TeamList" @select="teamListSelected"></ui-select>
        </div>

      </div>

      <div class="search-results">
        <div v-if="SearchValues.IsGettingSearchResults && !SearchData.length" class="results-is-loading">
          <ui-progress-circular color="primary"></ui-progress-circular>
        </div>
        <div class="u-data-table--default">
          <div v-if="getPatients.length" data-full-height-deduct="true" class="table__head pure-g">
            <div class="u-screen-only pure-u-1-24 column-select"></div>
            <div class="pure-u-6-24 column-patient">Patient</div>
            <div class="pure-u-6-24"></div>
            <div class="pure-u-6-24">Location</div>
            <div class="pure-u-5-24">Consultant</div>
          </div>
          <!--End head-->

          <div ref="results-wrapper" data-scroll="true" class="js-fullHeight-bodyElement">
            <!--table-->

            <!-- <div v-if="!SearchValues.IsGettingSearchResults && !getPatients.length && SearchValues.ActiveSearchType" class="results-is-loading">No results found</div> -->

            <template v-if="getPatients.length">
              <NetworkSearchPatientRowItem v-for="(patient) in getPatients" @patient-selected="patientSelectedInResultsList" :patient="patient" :patientId="patient.PatientExternalIdentifier" :key="patient.PatientExternalIdentifier" :networkId="networkId" :memberAreaId="memberAreaId" :isSelected="SelectedPatients.includes(patient.PatientExternalIdentifier)" :isAddingPatientsToTeamList="isAddingPatientsToTeamList" :isBusy="IsLoading" :allowMultipleSelections="allowMultipleSelections"></NetworkSearchPatientRowItem>
            </template>

            <div v-if="!SearchValues.IsGettingSearchResults && !getPatients.length && SearchValues.ActiveSearchType" class="results-is-loading">No results found</div>

            <div class="results-is-loading">
              <ui-progress-circular v-if="SearchValues.IsGettingSearchResults && SearchData.length" color="primary"></ui-progress-circular>
              <template v-if="getPatients.length && !SearchValues.IsGettingSearchResults && !SearchValues.ThereAreMore">End of results</template>
            </div>
          </div>
        </div>
        <!--End table-->
      </div>

    </div>
  </div>
</template>

<script>
  /* Utils */
  import PubSub from 'Endpoints/careflowApp/PubSub';
  import Vault from 'Endpoints/careflowApp/Vault';
  import patientView from 'Views/PatientView';

  /* API Endpoints */
  import GetAllPopulationsForUser from 'Endpoints/populations/GetAllPopulationsForUser';
  import SearchForPatientsByPopulation from 'Endpoints/patients/SearchForPatientsByPopulation';
  import SearchForPatients from 'Endpoints/patients/SearchForPatients';
  import GetPatient from 'Endpoints/patients/GetPatient';
  import GetPatientsOnGroupList from 'Endpoints/patients/GetPatientsOnGroupList';

  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import GetLocationData from 'VueMixins/getLocationDataForUIselect';
  import GetConsultantData from 'VueMixins/getConsultantDataForUIselect';

  /*Components*/
  //import PatientDashboard from 'VueComponents/patientDashboard/PatientDashboardWrapper';
  import PatientRowItem from 'VueComponents/patientList/components/SlimListPatientRow';
  import NetworkSearchPatientRowItem from 'VueComponents/patientSearch/components/NetworkPatientSearchRow';
  import { VueContentLoading } from 'vue-content-loading';

  export default {
  	data() {
  		//https://forum.vuejs.org/t/data-properties-based-on-props-are-not-re-evaluated-when-props-change/21085/2
  		return {
  			NetworkId: this.networkId || null,
  			SuppliedSearchTerm: this.suppliedSearchTerm || null,
  			WidgetType: this.widgetType, //1 = Standard control, 2 = modal
  			SearchOptions: {
  				Locations: [],
  				Consultants: [],
  				Teams: [],
  			},
  			SearchValues: {
  				ActiveSearchType: '', //population, name, teamList
  				Name: '',
  				Location: '',
  				Consultant: '',
  				TeamList: '',
  				Skip: 0,
  				Take: 50,
  				Page: 0,
  				ThereAreMore: false,
  				IsGettingSearchResults: false,
  				NoSearchResultsReturned: false,
  			},
  			SearchData: [],
  			ActivePatientId: null,
  			ActivePatient: null,
  			SelectedPatients: [], //Network search results selections
  			IsLoading: false,
  			IsCollapsed: false,
  		};
  	},
  	components: { PatientRowItem, NetworkSearchPatientRowItem, VueContentLoading },
  	mixins: [DateFilter, GetLocationData, GetConsultantData],
  	props: {
  		networkId: {
  			type: [Number, String],
  			required: true,
  		},
  		memberAreaId: {
  			type: [Number, String],
  			required: false,
  			default: '',
  		},
  		suppliedSearchTerm: {
  			type: [String, Array, Object],
  			required: false,
  		},
  		patientId: {
  			type: [String, Array],
  			required: false,
  		},
  		routeConfig: {
  			type: [String, Object],
  			required: false,
  			default: null,
  		},
  		widgetType: {
  			type: [Number, String],
  			required: false,
  			default: 1, //1 = Standard control, 2 = modal control
  		},
  		clearSelections: {
  			//Prop to allow parent to clear selections via a bool prop
  			type: [Boolean],
  			required: false,
  			default: false,
  		},
  		isBusy: {
  			//Prop to allow parent to set disabled state
  			type: [Boolean],
  			required: false,
  			default: false,
  		},
  		isAddingPatientsToTeamList: {
  			//Prop to allow parent to set disabled state
  			type: [Boolean],
  			required: false,
  			default: false,
  		},

  		allowMultipleSelections: {
  			//Prop to allow parent to set disabled state
  			type: [Boolean],
  			required: false,
  			default: true,
  		},
  	},
  	watch: {
  		getPatients(newVal, oldVal) {
  			if (newVal.length === 1) {
  				this.setPatient({
  					Patient: newVal[0],
  					PatientId: newVal[0].PatientExternalIdentifier,
  				}); //Set only result as active
  			}
  		},
  		clearSelections(newVal, oldVal) {
  			if (newVal) this.SelectedPatients = [];
  		},
  		isBusy(newVal, oldVal) {
  			this.IsLoading = newVal;
  		},
  	},
  	methods: {
  		populationSearchSelected(selectedOption, selectedStatusObj) {
  			//DDL listener
  			this.clearSearch();
  			if (selectedOption.type === 'location') {
  				this.SearchValues.Consultant = '';
  			} else if (selectedOption.type === 'clinician') {
  				this.SearchValues.Location = '';
  			}
  			this.SearchValues.Name = ''; //Clear identifier val
  			this.SearchValues.TeamList = ''; //Clear team list val
  			this.SearchValues.ActiveSearchType = 'population';
  			return this.getPatientSearchResults();
  		},

  		identifierSearchSelected() {
  			this.SearchValues.Location = '';
  			this.SearchValues.Consultant = '';
  			this.SearchValues.TeamList = ''; //Clear team list val
  			this.clearSearch();
  			this.SearchValues.ActiveSearchType = 'name';
  			return this.getPatientIdentifierSearchResults();
  		},

  		teamListSelected() {
  			this.SearchValues.Name = ''; //Clear identifier val
  			this.SearchValues.Location = '';
  			this.SearchValues.Consultant = '';
  			this.clearSearch();
  			this.SearchValues.ActiveSearchType = 'teamList';
  			return this.getPatientsOnTeamList();
  		},

  		clearSearch() {
  			//Setup for new search
  			this.ActivePatientId = null;
  			this.ActivePatient = null;
  			this.SearchData = [];
  			this.SearchValues.Skip = 0;
  			this.SearchValues.ThereAreMore = false;
  			this.SearchValues.IsGettingSearchResults = false;
  			this.IsLoading = false;
  			this.SearchValues.NoSearchResultsReturned = false;
  			this.SearchValues.ActiveSearchType = ''; //reset
  		},

  		toggleCollapsed() {
  			this.IsCollapsed = !this.IsCollapsed;
  		},

  		getPatientSearchResults() {
  			//Populations
  			this.SearchValues.IsGettingSearchResults = true;
  			return SearchForPatientsByPopulation.callApi(this.NetworkId, this.SearchValues.Consultant.value || '', this.SearchValues.Location.siteName || '', this.SearchValues.Location.areaName || '', this.SearchValues.Skip, this.SearchValues.Take)
  				.then((response, textStatus, xHr, obj) => {
  					if (!response.Data.Patients.length) this.SearchValues.NoSearchResultsReturned = true;

  					this.SearchValues.ThereAreMore = response.Data.ThereAreMore;

  					this.SearchData.push.apply(this.SearchData, response.Data.Patients); //Push array into array
  					this.SearchValues.IsGettingSearchResults = false;
  					if (response.Data.ThereAreMore) {
  						return (this.SearchValues.Skip += this.SearchValues.Take);
  					}
  					return (this.SearchValues.Skip = 0); //Reset
  				})
  				.fail(error => {
  					this.SearchValues.IsGettingSearchResults = false;
  					this.SearchValues.Skip = 0;
  				});
  		},

  		getPatientIdentifierSearchResults() {
  			//By name
  			if (!this.SearchValues.Name) return;

  			this.SearchValues.IsGettingSearchResults = true;
  			return SearchForPatients.callApi(this.SearchValues.Name, this.NetworkId, this.SearchValues.Skip, this.SearchValues.Take)
  				.then((response, textStatus, xHr, obj) => {
  					if (!response.Data.Patients.length) this.SearchValues.NoSearchResultsReturned = true;

  					this.SearchValues.ThereAreMore = response.Data.ThereAreMore;

  					this.SearchData.push.apply(this.SearchData, response.Data.Patients); //Push array into array
  					this.SearchValues.IsGettingSearchResults = false;
  					if (response.Data.ThereAreMore) {
  						return (this.SearchValues.Skip += this.SearchValues.Take);
  					}
  					return (this.SearchValues.Skip = 0); //Reset
  				})
  				.fail(error => {
  					this.SearchValues.IsGettingSearchResults = false;
  					this.SearchValues.Skip = 0;
  				});
  		},

  		getPatientsOnTeamList() {
  			this.SearchValues.IsGettingSearchResults = true;

  			GetPatientsOnGroupList.callApi(this.SearchValues.TeamList.value, ['ClinicalTags', 'JustCurrentGroupClinicalTags', 'HandoverNotes'], this.SearchValues.Skip, this.SearchValues.Page, 'PatientName')
  				.then(response => {
  					this.SearchValues.ThereAreMore = response.Metadata.Pagination.ThereAreMore;
  					this.SearchData.push.apply(this.SearchData, response.Data); //Push array into array
  					this.SearchValues.IsGettingSearchResults = false;

  					if (response.Metadata.Pagination.ThereAreMore) {
  						return this.SearchValues.Page++;
  					}
  					return (this.SearchValues.Page = 0); //Reset
  				})
  				.fail(error => {
  					this.SearchValues.IsGettingSearchResults = false;
  					this.SearchValues.Page = 0; //Reset
  				});
  		},

  		getPatientByExternalIdentifier() {
  			//Patient ID passed into view via url - Patient Dashboard link on fab / view
  			if (!this.patientId) return;

  			//Get the patient
  			return GetPatient.callApi(this.patientId, this.networkId, ['ClinicalTags', 'HandoverNotes'])
  				.then((response, data, xhr, fullResponse) => {
  					this.ActivePatient = response.Data;
  					this.ActivePatientId = response.Data.PatientExternalIdentifier;
  					this.SearchData.push(response.Data);
  				})
  				.fail(error => {
  					//TODO - handle error
  				});
  		},

  		setPatient(obj) {
  			if (!obj) return;
  			appMain.closeOpenedPatientContextWindow(); //Close any patient context windows
  			this.ActivePatientId = obj.PatientId;
  			this.ActivePatient = obj.Patient;
  			this.$emit('patient-selected', obj.PatientId, obj.Patient);
  		},

  		patientSelectedInResultsList(patientId, patient = {}) {
  			let collection = new Set(this.SelectedPatients);

  			if (!this.allowMultipleSelections) {
  				if (collection.has(patientId)) {
  					collection.delete(patientId);
  					this.IsLoading = false;
  				} else {
  					collection.add(patientId);
  					this.IsLoading = true;
  				}
  			} else {
  				//Multiple selections allowed

  				if (collection.has(patientId)) {
  					collection.delete(patientId);
  				} else {
  					collection.add(patientId);
  				}
  			}

  			this.SelectedPatients = Array.from(collection);
  			this.$emit('network-search-selected-patients', this.SelectedPatients, patient);
  		},

  		setUpdatedPatientConsultant(obj) {
  			if (!this.SearchData.length && this.ActivePatient) {
  				//Typically Patient Dashboard
  				if (this.ActivePatient.Clinician) {
  					this.ActivePatient.Clinician.FullName = obj.Consultant;
  					this.ActivePatient.Clinician.Title = '';
  					this.ActivePatient.Clinician.FirstName = '';
  					this.ActivePatient.Clinician.Lastname = '';
  				} else {
  					this.ActivePatient.Clinician = {
  						FullName: obj.Consultant,
  						Title: '',
  						FirstName: '',
  						Lastname: '',
  					};
  				}
  			} else {
  				this.SearchData.map(x => {
  					if (x.PatientExternalIdentifier === obj.PatientId) {
  						if (x.Clinician) {
  							x.Clinician.FullName = obj.Consultant;
  							x.Clinician.Title = '';
  							x.Clinician.FirstName = '';
  							x.Clinician.Lastname = '';
  						} else {
  							x.Clinician = {
  								FullName: obj.Consultant,
  								Title: '',
  								FirstName: '',
  								Lastname: '',
  							};
  						}
  					}
  				});
  			}
  		},

  		scrollHandler(event) {
  			//TODO: set as global mixin
  			//When user scrolls to bottom of feed
  			//Add overflow-anchor: none; //https://github.com/angular-ui/ui-scroll/issues/138 to fix chrome jumping uissue
  			if (this.IsLoading || this.SearchValues.IsGettingSearchResults || !this.SearchValues.ThereAreMore) return;

  			// Handle feed scroll
  			var element = event.target;

  			if (Math.floor(element.scrollHeight) - Math.floor(element.scrollTop) <= Math.floor(element.clientHeight) + 10) {
  				//Add a 10px offset (trigger before bottom hit), will fix zoom issues https://doccom.atlassian.net/browse/WEB-852
  				if (this.SearchValues.ActiveSearchType === 'population') return this.getPatientSearchResults();
  				if (this.SearchValues.ActiveSearchType === 'name') return this.getPatientIdentifierSearchResults();
  				if (this.SearchValues.ActiveSearchType === 'teamList') return this.getPatientsOnTeamList();
  				return;
  			}
  		},
  	},

  	computed: {
  		getPatients() {
  			return this.SearchData || [];
  		},
  	},

  	created() {
  		this.SearchOptions.Teams = appMain.getTeamsUserIsMemberOf().map(x => {
  			return {
  				label: x.Name,
  				value: x.MemberAreaID,
  			};
  		});
  		this.getLocationData().then(response => {
  			this.SearchOptions.Locations = response;
  		});
  		this.getConsultantsData().then(response => {
  			this.SearchOptions.Consultants = response;
  		});
  		VueEventBus.$on('patient-consultant-updated', obj => {
  			this.setUpdatedPatientConsultant(obj);
  		});
  	},
  	mounted() {
  		//Events
  		this.$refs['results-wrapper'].addEventListener(
  			'scroll',
  			_.debounce(event => {
  				this.scrollHandler(event);
  			}, 300),
  			false
  		); //Debounce. The function will be called after it stops being called for N milliseconds (so only 1 trigger on scroll).

  		if (this.patientId) {
  			//Patient ID passed into view via url - Patient Dashboard link on fab / view - TODO: add to on created?
  			return this.getPatientByExternalIdentifier();
  		}

  		if (this.suppliedSearchTerm && !this.patientId) {
  			//INTERIM until Vue / Vuex refactor complete - Search term passed in (typically via top nav search bar. Expects an obj)

  			let obj = JSON.parse(atob(this.suppliedSearchTerm));

  			if (obj.SearchType.toLowerCase() === 'clinician') this.SearchValues.Consultant = obj.SearchData; //Base64
  			if (obj.SearchType.toLowerCase() === 'location') this.SearchValues.Location = obj.SearchData; //Base64
  			if (obj.SearchType.toLowerCase() === 'name') this.SearchValues.Name = obj.SearchData; //Base64

  			if (obj.SearchType.toLowerCase() === 'name') return this.getPatientIdentifierSearchResults();
  			return this.getPatientSearchResults();
  		}
  	},
  	beforeDestroy() {
  		this.$refs['results-wrapper'].removeEventListener(
  			'scroll',
  			_.debounce(event => {
  				this.scrollHandler(event);
  			}, 300),
  			false
  		);
  		VueEventBus.$off('patient-consultant-updated');
  	},
  	updated() {
  		setTimeout(() => {
  			appMain.setElementsAsFullHeight();
  		}, 0);
  	},
  };
</script>

<style lang="less">
  .network-patient-search-col-2 {
  	//Non scoped, add a relative parent wrapper
  	& .containerEmpty-wrapper {
  		width: 100%;
  		display: flex;
  		flex-flow: column;
  		align-items: center;
  		justify-items: center;
  		justify-content: center;
  		& i.material-icons {
  			font-size: 44px;
  		}
  	}
  }
</style>


<style lang="less" scoped>
  @import '../../../../less/app-variables.less';
  .network-search-wrapper {
  	display: flex;
  	flex-direction: row;
  }

  .network-search-wrapper {
  	&.is-modal {
  		display: flex;
  		flex-direction: column;
  		& .controls {
  			display: flex;
  			flex-flow: row;
  			align-items: center;
  			padding: 0 0 2em 0;
  			//border-bottom: 1px solid @row--border;
  			min-height: 30px;
  			flex-wrap: nowrap;
  			& .controls__block {
  				min-width: 205px;
  				margin: 0 1em 0 0;
  			}

  			& .ui-select {
  				margin-bottom: 0;
  			}

  			& .ui-textbox {
  				margin-bottom: 0;
  			}
  		}

  		& .search-results {
  			display: flex;
  			flex-direction: column;
  		}

  		& .u-data-table--default {
  			margin-left: 0;
  			margin-bottom: 3em;
  		}
  	}
  }

  .search-controls-wrapper {
  	display: flex;
  	flex-direction: column;
  	flex-basis: 35%;
  	max-width: 345px;
  	min-width: 345px;
  	border-right: 1px solid @row--border;
  	& .controls {
  		padding: 1em;
  		border-bottom: 1px solid @row--border;

  		//background: @view-block-bg;
  	}
  }
  .search-controls-wrapper-collapsed {
  	display: flex;
  	flex-direction: column;
  	background: @view-block-bg;
  	width: 55px;
  	justify-content: center;
  	align-items: center;
  	&:hover {
  		cursor: pointer;
  		& .material-icons {
  			color: @link--active;
  		}
  	}
  }
  .search-patient-wrapper {
  	display: flex;
  	flex-grow: 1;
  	flex-direction: column;
  	flex-basis: 100%;
  	max-width: 100%;
  	overflow: auto;
  }

  .results-is-loading {
  	display: flex;
  	justify-content: center;
  	margin: 1em 0;
  	min-height: 32px;
  }
  .search-input {
  	display: flex;
  	flex-direction: row;
  	& .search-input__block {
  		display: flex;
  		flex-basis: 90%;
  		flex-direction: column;
  		flex-grow: 1;
  	}
  	& .search-input__block--icon-wrapper {
  		display: flex;
  		flex-direction: column;
  		flex-grow: 1;
  		flex-basis: 10%;
  		align-items: flex-end;
  		justify-content: center;
  		& .material-icons {
  			&:hover {
  				cursor: pointer;
  				color: @link--active;
  			}
  		}
  	}
  }

  .search-title {
  	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
  	padding: 0;
  	& .title__label {
  		text-transform: uppercase;
  		font-weight: @font--medium;
  	}
  }

  .location-select {
  	//DDl component - custom template in slot
  	& .site-label {
  		box-sizing: border-box;
  		font-weight: @font--medium;
  	}
  	& .area-label {
  		box-sizing: border-box;
  		padding-left: 0.5em;
  	}
  }

  .containerEmpty-wrapper {
  	& .material-icons {
  		font-size: 44px;
  	}
  }
</style>

<custom1>
  Network level patient search component
</custom1>
