<template>
  <div v-cloak :class="{'js-scaffold-block':true, 'is-modal': isModal}">

    <div class="banner-wrapper" v-if="isModal && patient && patientId" data-full-height-deduct="true">
      <ModalPatientBanner :patient="patient" :patientId="patientId" :networkId="networkId" :memberAreaId="memberAreaId"></ModalPatientBanner>
    </div>

    <div data-full-height-deduct="true" class="context-nav">

      <div v-if="!isModal" class="nav-block">
        <span v-on:click="toggleContext('current')" :class="{'btn--plain':true, 'active':ViewContext === 'current'}">Current handover</span>
        <span v-on:click="toggleContext('audit')" :class="{'btn--plain':true, 'active':ViewContext === 'audit'}">Handover audit</span>
      </div>
      <div class="nav-block">
        <div v-if="ViewContext === 'audit'" class="profile-toggle-wrapper">
          <ui-select v-if="ViewProfilesForNetwork" has-search :disabled="IsLoading" placeholder="Select a profile" :options="getMappedTeamRoles" :value="SelectedRoleFilter" @input="roleFilterSelected"></ui-select>
          <button v-if="getHandoverNotesToDisplay.length || !ViewProfilesForNetwork" v-on:click="highlightHandoverDifferences" class="btn--plain">
            <template v-if="IsHighlightingDifferences">Hide</template>
            <template v-else>Show</template> differences</button>
        </div>
      </div>
    </div>

    <div class="u-data-table--default">

      <div data-full-height-deduct="true" class="table__head pure-g">

        <div class="pure-u-4-24"></div>
        <div class="pure-u-5-24">Situation</div>
        <div class="pure-u-5-24">Background</div>
        <div class="pure-u-5-24">Assessment</div>
        <div class="pure-u-5-24">Recommendation</div>

      </div>
      <!--Body-->
      <div ref="handover-list-table" data-scroll="true" class="js-fullHeight-bodyElement">

        <template v-if="!getHandoverNotesToDisplay.length && PatientHandoverNotesAreLoadingFromApi">
          <div class="u-screen-only tasks-loader-wrapper">
            <ui-progress-circular color="primary"></ui-progress-circular>
          </div>
        </template>
        <template v-if="getHandoverNotesToDisplay.length">

          <div class="table__body">

            <TeamPatientHandoverListTableRow @handover-upated="handoverUpdated" v-for="(row, index) in getHandoverNotesToDisplay" :key="index" :patient="patient" :patient-id="patientId" :networkId="networkId" :memberAreaId="memberAreaId" :handoverItem="row" :thereAreHandoverNotes="thereAreHandoverNotes" :scrollToItem="ScrollToItem" :viewContext="ViewContext" :isHighlightingDifferences="IsHighlightingDifferences" :canViewProfilesForNetwork="ViewProfilesForNetwork" :contentIdToActivate="contentIdToActivate" :isModal="isModal"></TeamPatientHandoverListTableRow>

            <div class="results-is-loading">
              <ui-progress-circular v-show="IsLoading && PatientHandoverNotesAreLoadingFromApi && PatientHandovers.length" color="primary"></ui-progress-circular>
            </div>

          </div>
          <div class="table__results-end pure-u-1">
            <p v-if="getHandoverNotesToDisplay.length && !PatientHandoverNotesAreLoadingFromApi" class="u-text-center">Showing {{getHandoverNotesToDisplay.length}} of <template v-if="ViewContext === 'audit'">{{TotalCountOfHandoverNotesToRetrieve}}</template><template v-else>{{PatientHandovers.length}}</template></p>
          </div>
        </template>
        <template v-if="!getHandoverNotesToDisplay.length && !PatientHandoverNotesAreLoadingFromApi">
          <div class="u-text-center pure-u-1">
            <p>No results</p>
            <button v-if="!isModal" ref="handover-edit" v-on:click="getHandoverModalComponent('StartHandoverModal')" class="btn--plain">Start handover</button>
          </div>
        </template>

      </div>
    </div>
    <!--End of list-->
    <ui-modal dismissOn="close-button" ref="StartHandoverModal" size="normal" title="Update handover" @close="modalClosed">
      <HandoverModal v-if="Patient && RebuildModalsUiComponentKey" :key="RebuildModalsUiComponentKey" :patient="Patient" :patientId="PatientId" :memberAreaId="memberAreaId" :networkId="networkId" @modal-handover-saved="closeModal('StartHandoverModal')"></HandoverModal>
    </ui-modal>
  </div>
</template>

<script>
  /* API Endpoints */
  import GetPatient from 'Endpoints/patients/GetPatient';
  import PubSub from 'Endpoints/careflowApp/PubSub';
  import * as Profiles from 'Endpoints/networks/TeamRoles';
  import GetPatientHandoverNotesHistory from 'Endpoints/patients/GetPatientHandoverNotesHistory';
  import GetPatientHandoverNotesHistoryByProfile from 'Endpoints/patients/GetPatientHandoverNotesHistoryByProfile';

  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  /*Utils*/
  import patientView from 'Views/PatientView';
  /*Components*/
  import TeamPatientHandoverListTableRow from 'VueComponents/handovers/components/HandoverListRow';
  import HandoverModal from 'VueComponents/modals/PatientHandoverModal'; //Start a handover component
  import ModalPatientBanner from 'VueComponents/patientBanners/ModalPatientBanner';

  export default {
  	data() {
  		return {
  			Patient: this.patient || null,
  			PatientId: this.patientId,
  			NetworkId: this.networkId,
  			IsLoading: false,
  			ViewContext: 'current', //Default
  			SelectedRoleFilter: {
  				//Default
  				label: 'All profiles',
  				value: '',
  				colour: '',
  			},
  			IsHighlightingDifferences: false,
  			Profiles: null,
  			ViewProfilesForNetwork: appMain.getUserPermissionsForNetwork(this.networkId).includes('ViewProfilesForNetwork'), //Main permission for Profiles
  			PatientHandovers: [],
  			PatientHandoverHistory: [],
  			PatientHandoverNotesAreLoadingFromApi: true,
  			ThereAreMoreHandoverNotes: false,
  			TotalCountOfHandoverNotesToRetrieve: 0,
  			CountOfInRequestContextHandovers: 0,
  			ScrollToItem: null,
  			RebuildModalsUiComponentKey: null,
  		};
  	},
  	components: { TeamPatientHandoverListTableRow, HandoverModal, ModalPatientBanner },
  	props: {
  		patientId: {
  			type: [String, Number],
  			required: true,
  		},
  		patient: {
  			type: [Object, Array],
  			required: false,
  		},
  		networkId: {
  			type: [String, Number],
  			required: true,
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false,
  		},
  		routeConfig: {
  			type: [String, Object],
  			required: false,
  		},
  		contentIdToActivate: {
  			type: [String, Number],
  			required: false,
  		},
  		isModal: {
  			type: [Boolean],
  			required: false,
  			default: false,
  		},
  	},
  	mixins: [DateFilter],
  	methods: {
  		getPatientHandoverHistory() {
  			this.IsLoading = true;
  			this.PatientHandoverNotesAreLoadingFromApi = true;
  			let stagingData = []; //For skip/take data. Only push to observed on complete, so watchers are not triggered each skip
  			if (!this.ThereAreMoreHandoverNotes) this.PatientHandoverHistory = []; //reset
  			if (!this.ThereAreMoreHandoverNotes) this.TotalCountOfHandoverNotesToRetrieve = 0;
  			let skip = this.PatientHandoverHistory.length;
  			const take = 50;
  			let model = {
  				NetworkExternalIdentifier: appMain.getNetworkExternalNetworkId(this.networkId),
  				PatientExternalIdentifier: this.patientId,
  				ProfileExternalIdentifiers: this.SelectedRoleFilter.value && this.ViewProfilesForNetwork ? [this.SelectedRoleFilter.value] : null,
  			};

  			let callApi = () => {
  				return GetPatientHandoverNotesHistoryByProfile.callApi(model, skip, take)
  					.then((response, textStatus, jqXHr, fullResponse) => {
  						stagingData.push.apply(stagingData, response.Data); //Push array into array
  						this.ThereAreMoreHandoverNotes = response.Metadata.Pagination.ThereAreMore;
  						this.TotalCountOfHandoverNotesToRetrieve = response.Metadata.Pagination.TotalItems;

  						if (response.Metadata.Pagination.ThereAreMore) {
  							//skip += take;
  							//return callApi();
  						}
  						this.PatientHandoverHistory = [].concat.apply(this.PatientHandoverHistory, stagingData); //Merge the staging data, so not to trigger computeds etc
  						stagingData = [];
  						this.PatientHandoverNotesAreLoadingFromApi = false;
  						this.IsLoading = false;
  					})
  					.fail(error => {
  						this.PatientHandoverNotesAreLoadingFromApi = false;
  						this.IsLoading = false;
  					});
  			};

  			return callApi(); //Init
  		},
  		getPatientHandover() {
  			this.IsLoading = true;
  			this.PatientHandoverNotesAreLoadingFromApi = true;

  			return GetPatient.callApi(this.patientId, this.networkId, 'ClinicalTags, HandoverNotes, GroupLists')
  				.then((response, textStatus, xhr) => {
  					//https://doccom.atlassian.net/browse/WEB-741
  					//patientView.setCachedPatient(response); //Update patient cache here (For FAB etc. until VUE refactor)
  					this.Patient = response.Data;
  					this.PatientHandovers = response.Data.HandoverNotes;
  					this.TotalCountOfHandoverNotesToRetrieve = this.PatientHandovers.length;
  					this.PatientHandoverNotesAreLoadingFromApi = false;
  					this.IsLoading = false;
  				})
  				.fail(error => {
  					this.PatientHandoverNotesAreLoadingFromApi = false;
  					this.IsLoading = false;
  				});
  		},
  		setActiveItem(contentItemID) {
  			if (!contentItemID) return;
  			this.$emit('set-active-item', {
  				ContentItemId: contentItemID,
  				ContentType: 'patient-tasks',
  			});
  		},
  		handoverUpdated(obj) {
  			//Child comp row triggered an update

  			const index = this.PatientHandovers.findIndex(x => {
  				return x.Profile.ExternalIdentifier === obj.Data.Profile.ExternalIdentifier;
  			});

  			if (index !== -1) this.PatientHandovers.splice(index, 1, obj.Data);

  			//Recomputation, scroll to top
  			this.ScrollToItem = this.getHandoverNotesToDisplay[0].Profile.ExternalIdentifier;
  			this.$refs['handover-list-table'].scrollTop = 0;
  		},
  		toggleContext(context) {
  			if (!context) return;
  			if (this.ViewContext !== context) {
  				//Context changed
  				this.ViewContext = context;
  				this.SelectedRoleFilter = {
  					//Default
  					label: 'All profiles',
  					value: '',
  					colour: '',
  				};
  				if (context === 'audit') {
  					this.ThereAreMoreHandoverNotes = false;
  					this.getPatientHandoverHistory()
  						.then(response => {})
  						.fail(error => {});
  				}

  				this.IsHighlightingDifferences = false;
  			}
  		},
  		roleFilterSelected(val) {
  			if (!val) return;
  			this.SelectedRoleFilter = val;
  			this.ThereAreMoreHandoverNotes = false;
  			this.getPatientHandoverHistory()
  				.then(response => {})
  				.fail(error => {});
  		},

  		highlightHandoverDifferences() {
  			return (this.IsHighlightingDifferences = !this.IsHighlightingDifferences);
  		},
  		getHandoverModalComponent(ref) {
  			this.RebuildModalsUiComponentKey = Date.now(); //Force modal component to rebuildand instansiate
  			this.$refs[ref].open();
  		},
  		modalClosed() {
  			//When modal closed
  		},
  		closeModal(ref) {
  			this.$refs[ref].close();
  			this.RebuildModalsUiComponentKey = null; //Kill the modal component
  		},
  		scrollHandler(event) {
  			//TODO: set as global mixin
  			//When user scrolls to bottom
  			//Add overflow-anchor: none; //https://github.com/angular-ui/ui-scroll/issues/138 to fix chrome jumping uissue
  			if (this.IsLoading || this.PatientHandoverNotesAreLoadingFromApi || !this.ThereAreMoreHandoverNotes || this.ViewContext !== 'audit') return;

  			// Handle feed scroll
  			var element = event.target;

  			if (Math.floor(element.scrollHeight) - Math.floor(element.scrollTop) <= Math.floor(element.clientHeight) + 10) {
  				//Add a 10px offset (trigger before bottom hit), will fix zoom issues https://doccom.atlassian.net/browse/WEB-852
  				this.getPatientHandoverHistory()
  					.then(response => {})
  					.fail(error => {});
  			}
  		},
  	},
  	watch: {
  		patient: {
  			handler(newVal, oldVal) {
  				if (newVal) this.Patient = newVal;
  			},
  			deep: true,
  		},
  	},
  	computed: {
  		thereAreHandoverNotes() {
  			return this.PatientHandovers && this.PatientHandovers.length > 0;
  			return false;
  		},

  		thereIsHandoverHistory() {
  			return this.PatientHandoverHistory && this.PatientHandoverHistory.length > 0;
  			return false;
  		},

  		getHandoverNotesToDisplay() {
  			if (this.ViewContext === 'audit') {
  				if (!this.PatientHandoverHistory.length) return [];
  			} else {
  				if (!this.PatientHandovers.length) return [];
  			}

  			const dataReference = this.ViewContext === 'audit' ? this.PatientHandoverHistory : this.PatientHandovers;

  			const returnObj = new Set(); //https://stackoverflow.com/questions/18773778/create-array-of-unique-objects-by-property

  			if (!dataReference) return [];

  			dataReference.filter(x => {
  				if (this.ViewContext === 'audit' && this.SelectedRoleFilter) {
  					//Auditing, check against filter - no IsCurrent flag here
  					if ((returnObj.has(x.Profile.Name) || x.Profile.ExternalIdentifier !== this.SelectedRoleFilter.value) && this.SelectedRoleFilter.value) {
  						return false;
  					}
  					if (!returnObj.has(x)) returnObj.add(x); //Sets are unique
  				} else {
  					if (returnObj.has(x.Profile.Name) || !x.IsCurrent) {
  						return false;
  					}
  					if (!returnObj.has(x)) returnObj.add(x); //Sets are unique
  				}
  			});

  			let arrayReturnData = Array.from(returnObj).sort(function(a, b) {
  				return new Date(b.DateLastUpdated) - new Date(a.DateLastUpdated);
  			});

  			this.CountOfInRequestContextHandovers = arrayReturnData.length;

  			if (this.IsHighlightingDifferences) {
  				return arrayReturnData.map((x, index, array) => {
  					let s1 = x.Notes[0].Value || '';
  					let s2 = array[index + 1] ? array[index + 1].Notes[0].Value || '' : '';

  					let b1 = x.Notes[1].Value || '';
  					let b2 = array[index + 1] ? array[index + 1].Notes[1].Value || '' : '';

  					let a1 = x.Notes[2].Value || '';
  					let a2 = array[index + 1] ? array[index + 1].Notes[2].Value || '' : '';

  					let r1 = x.Notes[3].Value || '';
  					let r2 = array[index + 1] ? array[index + 1].Notes[3].Value || '' : '';

  					let dmp = new diff_match_patch();

  					//S
  					let sDiff = dmp.diff_main(s2, s1);
  					dmp.diff_cleanupEfficiency(sDiff);
  					let dsS = dmp.diff_prettyHtml(sDiff);

  					//B
  					let bDiff = dmp.diff_main(b2, b1);
  					dmp.diff_cleanupEfficiency(bDiff);
  					let dsB = dmp.diff_prettyHtml(bDiff);

  					//A
  					let aDiff = dmp.diff_main(a2, a1);
  					dmp.diff_cleanupEfficiency(aDiff);
  					let dsA = dmp.diff_prettyHtml(aDiff);

  					//R
  					let rDiff = dmp.diff_main(r2, r1);
  					dmp.diff_cleanupEfficiency(rDiff);
  					let dsR = dmp.diff_prettyHtml(rDiff);

  					const data = Object.assign(x, {
  						//Merge
  						SituationDiffText: dsS,
  						BackgroundDiffText: dsB,
  						AssessmentDiffText: dsA,
  						RecommendationDiffText: dsR,
  					});
  					return data;
  				});
  			}

  			//Not highlighting differences
  			return arrayReturnData;
  		},

  		getMappedTeamRoles() {
  			if (!this.Profiles) return [];

  			let uiSelectData = this.Profiles.map(x => {
  				return {
  					label: x.Name,
  					value: x.ExternalIdentifier,
  					colour: x.Colour,
  				};
  			}).filter(Boolean);

  			//Add a custom option
  			uiSelectData.unshift({
  				label: 'All profiles',
  				value: '',
  				colour: '',
  			});
  			return uiSelectData;
  		},
  	},
  	created() {
  		//Init
  		this.getPatientHandover().then(response => {
  			if (this.isModal) this.toggleContext('audit');
  			// if (this.routeConfig && this.routeConfig.hasOwnProperty('SourceReference') && this.routeConfig.SourceReference === 'fab-patient-handover-audit') this.toggleContext('audit');
  		});
  		if (this.ViewProfilesForNetwork) {
  			Profiles.callApi(appMain.getNetworkExternalNetworkId(this.networkId), 0, 50).then((response, textStatus, xhr, fullResponse) => {
  				this.Profiles = response.Data;
  			});
  		}
  	},
  	mounted() {
  		//Setup view scroll height for patient context view page - only affects patient view

  		let referralsTable = this.$refs['handover-list-table']; //Dom el
  		let $referralsTable = $(referralsTable);
  		$referralsTable.attr('data-full-height-deduct-exclude', 'js-teamPatientView-head-section');
  		if (!this.isModal) appMain.setElementsAsFullHeight();

  		VueEventBus.$on('PatientHandoverModal.Updated', obj => {
  			//Component name > event
  			this.getPatientHandoverHistory()
  				.then(response => {})
  				.fail(error => {});
  			this.getPatientHandover()
  				.then(response => {})
  				.fail(error => {});
  		});

  		this.$refs['handover-list-table'].addEventListener(
  			'scroll',
  			_.debounce(event => {
  				this.scrollHandler(event);
  			}, 300),
  			false
  		); //Debounce. The function will be called after it stops being called for N milliseconds (so only 1 trigger on scroll).
  	},

  	updated() {
  		if (!this.isModal) appMain.setElementsAsFullHeight();
  	},
  	beforeDestroy() {
  		VueEventBus.$off('PatientHandoverModal.Updated');
  		this.$refs['handover-list-table'].removeEventListener(
  			'scroll',
  			_.debounce(event => {
  				this.scrollHandler(event);
  			}, 300),
  			false
  		);
  		//VueEventBus.$off('Modal.PatientHandoverModal.Updated');
  	},
  };
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../less/app-variables.less';

  .is-modal {
  	& .banner-wrapper {
  		margin: 1rem 0 16px 0; //top padding to match generic modal padding
  		& .u-patientBanner {
  			margin: 0;
  		}
  	}
  	& .context-nav {
  		padding-left: 0;
  		min-height: 0;
  		margin-bottom: 1em;
  	}

  	& .profile-toggle-wrapper {
  		padding-left: 0;
  	}
  	& .u-data-table--default {
  		margin-left: 0;
  		margin-bottom: 0;
  	}
  }

  .context-nav {
  	padding: 0 1em;
  	display: flex;
  	min-height: 53px;
  	& .btn--plain {
  		margin: 0 1em 0 0;
  		&.active {
  			color: @body-colour;
  			&:hover {
  				cursor: default;
  			}
  		}
  		&:last-of-type {
  			margin-right: 0;
  		}
  		&:hover {
  			cursor: pointer;
  		}
  	}

  	& .nav-block {
  		display: flex;
  		align-items: center;
  		& .ui-select {
  			margin-bottom: 0;
  		}
  	}
  }
  .profile-toggle-wrapper {
  	padding: 0 0 0 1em;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	flex-flow: wrap;
  	& .ui-select {
  		min-width: 300px;
  		max-width: 400px;
  	}
  	& .btn--plain {
  		margin-left: 1em;
  	}
  }
  .u-data-table--default {
  	margin-left: 1em;
  	margin-bottom: 0;
  }
  .item {
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
  	margin: 0 0 0.6em 0;
  	flex-wrap: wrap;
  	flex: 1;
  }
  .item-row {
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  }
  .row__date {
  	color: @text-light;
  	display: flex;
  	font-weight: @font--normal;
  	margin: 0;
  }

  .row__title {
  	@text-wrap-container();
  	font-weight: 500;
  	display: flex;
  	flex-grow: inherit;
  	padding: 0;
  	margin: 0;
  	box-sizing: border-box;
  	color: @link--active;
  	//align-items: flex-start;
  	align-items: center;
  	flex-wrap: wrap;
  }
  .row__team {
  	display: flex;
  	margin: 0 0.7em 0 0;
  }

  .row__role {
  	padding: 0.2em 0.3em;
  	border-radius: 10%;
  	margin: 0 0.5em 0 0;
  	color: @body-colour;
  	align-items: center;
  	display: flex;
  }
  .table__results-end-scrolling {
  	margin-bottom: 5em;
  }
  .results-is-loading {
  	display: flex;
  	justify-content: center;
  	margin: 1em 0;
  	min-height: 32px;
  }
</style>



<custom>Patient dashboard handover tab and handover audit modal</custom>
