<template>
  <div class="profiles-root js-scaffold-block">

    <div class="profiles-header" data-full-height-deduct="true">
      <p>Handover notes added by the profiles selected will be shown in the team handover list. Re-order the display order by dragging the profiles into the desired order. Only enabled profiles can be re-ordered.</p>
    </div>
    <div class="loader-wrapper" v-if="!TeamProfiles && !getTeamProfilesListToDisplay.length">
      <ui-progress-circular color="primary"></ui-progress-circular>
    </div>
    <SortableList v-if="TeamProfiles && getTeamProfilesListToDisplay.length" lockAxis="y" v-model="TeamProfiles" :lockToContainerEdges="true" :useDragHandle="true" @sortStart="sortStarted" @input="profileListReOrdered">
      <ManageTeamHandoverProfilesRow @team-profile-selected-toggle="toggleProfileSelectedStatus" v-for="(item,index) in getTeamProfilesListToDisplay" :key="item.ExternalIdentifier" :rowItem="item" :index="index" :apiIsBusy="IsUpsertingToApi" :disabled="!item.Selected" :updateTeamRolesForTeam="UpdateTeamRolesForTeam"></ManageTeamHandoverProfilesRow>
    </SortableList>

    <!-- <ManageTeamHandoverProfilesRow @team-profile-selected-toggle="toggleProfileSelectedStatus" v-for="(item,index) in getTeamProfilesListToDisplay" :key="item.ExternalIdentifier" :rowItem="item"></ManageTeamHandoverProfilesRow> -->
  </div>

</template>

<script>
  /* API Endpoints */
  import * as TeamProfiles from 'Endpoints/teams/TeamProfiles';
  import * as UpsertTeamProfiles from 'Endpoints/teams/UpsertTeamProfiles';
  import DateFilter from 'VueMixins/dateFilter';
  /*Utils*/
  /*Components*/
  import ManageTeamHandoverProfilesRow from 'VueComponents/handovers/components/ManageTeamHandoverProfilesRow';
  /*Mixins*/
  import { ContainerMixin } from 'vue-slicksort';

  const SortableList = {
  	mixins: [ContainerMixin],
  	template: `
        <div data-scroll="true" class="pure-g profiles-wrapper js-fullHeight-bodyElement">
          <slot />
        </div>
      `,
  };

  export default {
  	data() {
  		return {
  			NetworkId: this.networkId,
  			MemberAreaId: this.memberAreaId,
  			TeamProfiles: null,
  			IsLoading: false,
  			IsUpsertingToApi: true, //Default
  			ViewTeamRolesForTeam: appMain.getUserPermissionsForMemberArea(this.memberAreaId).includes('ViewProfilesForTeam'),
  			UpdateTeamRolesForTeam: appMain.getUserPermissionsForMemberArea(this.memberAreaId).includes('UpdateProfilesForTeam'),
  		};
  	},
  	components: { ManageTeamHandoverProfilesRow, SortableList },
  	props: {
  		networkId: {
  			type: [String, Number],
  			required: true,
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: true,
  		},
  	},
  	mixins: [DateFilter],
  	methods: {
  		getTeamProfiles() {
  			this.IsLoading = true;
  			return TeamProfiles.callApi(appMain.getAccessGroupExternalIdentifier(this.memberAreaId), 0, 50)
  				.then((response, ststus, xhr, fullResponse) => {
  					this.TeamProfiles = _.sortBy(response.Data, function(x) {
  						if (x.Order !== null) return x.Order; //Leave nulls to the bottom
  					});
  					this.IsLoading = false;
  					this.IsUpsertingToApi = false;
  				})
  				.fail(error => {
  					this.IsLoading = false;
  					this.IsUpsertingToApi = false;
  				});
  		},
  		toggleProfileSelectedStatus(obj) {
  			if (!obj) return;
  			if (this.IsUpsertingToApi) return;
  			this.IsUpsertingToApi = true;
  			//let profilesForUpsert = this.TeamProfiles.map(x => {
  			//	return x.ExternalIdentifier
  			//if (x.Selected) return x.ExternalIdentifier;
  			//	return null;
  			//}).filter(Boolean);

  			//Update model

  			if (obj.Selected) {
  				const index = this.TeamProfiles.findIndex(x => x.ExternalIdentifier === obj.Profile.ExternalIdentifier);
  				if (index !== -1) this.TeamProfiles[index].Selected = true;
  			} else {
  				//Removing
  				const index = this.TeamProfiles.findIndex(x => x.ExternalIdentifier === obj.Profile.ExternalIdentifier);
  				if (index !== -1) this.TeamProfiles[index].Selected = false;
  			}

  			UpsertTeamProfiles.callApi(
  				appMain.getAccessGroupExternalIdentifier(this.memberAreaId),
  				this.TeamProfiles.map(x => {
  					if (x.Selected) return x.ExternalIdentifier;
  					return null;
  				}).filter(Boolean)
  			)
  				.then((response, status, xhr) => {
  					// const updatedProfiles = this.TeamProfiles.map(x => {
  					// 	if (x.ExternalIdentifier && profilesForUpsert.includes(x.ExternalIdentifier)) x.Selected = true;
  					// 	return x;
  					// }).filter(Boolean);

  					//Reassign
  					//this.TeamProfiles = updatedProfiles;
  					this.IsUpsertingToApi = false;
  				})
  				.fail(error => {
  					this.IsUpsertingToApi = false;
  					this.getTeamProfiles();
  				});
  		},
  		sortStarted(obj) {
  			//{ event, node, index, collection } - //https://github.com/Jexordexan/vue-slicksort
  		},
  		profileListReOrdered(newCollection) {
  			//https://github.com/Jexordexan/vue-slicksort

  			if (!newCollection) return;
  			this.IsUpsertingToApi = true;

  			let profilesForUpsert = newCollection
  				.map(x => {
  					if (x.Selected) return x.ExternalIdentifier;
  					return null;
  				})
  				.filter(Boolean);

  			console.log(profilesForUpsert);
  			//Upsert collection in NEW order
  			UpsertTeamProfiles.callApi(appMain.getAccessGroupExternalIdentifier(this.memberAreaId), profilesForUpsert)
  				.then((response, status, xhr) => {
  					// const updatedProfiles = newCollection
  					// 	.map(x => {
  					// 		return x;
  					// 	})
  					// 	.filter(Boolean);

  					//Reassign
  					//this.TeamProfiles = updatedProfiles;
  					this.IsUpsertingToApi = false;
  				})
  				.fail(error => {
  					this.IsUpsertingToApi = false;
  				});
  		},
  	},
  	watch: {
  		// TeamProfiles(newVal, oldVal) {
  		// 	if (newVal) return (this.TeamProfilesStaged = JSON.parse(JSON.stringify(newVal)));
  		// 	return null;
  		// }
  	},
  	computed: {
  		getTeamProfilesListToDisplay() {
  			if (!this.TeamProfiles) return [];

  			return this.TeamProfiles.map(x => {
  				return x;
  			});

  			// return _.sortBy(this.TeamProfiles, function(x) {
  			// 	if (x.Order !== null) return x; //Leave nulls to the bottom
  			// 	 })
  		},
  	},
  	created() {
  		//Init
  		this.getTeamProfiles();
  	},
  	mounted() {},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},
  	beforeDestroy() {},
  };
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../less/app-variables.less';
  .loader-wrapper {
  	padding: 0 1em;
  }
  .profiles-header {
  	display: flex;
  	padding: 0 1em;
  	box-sizing: border-box;
  	flex-direction: column;
  }
  .profiles-wrapper {
  	padding: 0;
  	margin: 0;
  	max-width: 600px;
  	-ms-box-orient: horizontal;
  	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -moz-flex;
  	display: -webkit-flex;
  	display: flex;
  	flex-direction: row;
  	-webkit-touch-callout: none; /* iOS Safari */
  	-webkit-user-select: none; /* Safari */
  	-khtml-user-select: none; /* Konqueror HTML */
  	-moz-user-select: none; /* Firefox */
  	-ms-user-select: none; /* Internet Explorer/Edge */
  	user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
  }
</style>



<custom>Admin feature to manage team active / disabled handover profiles</custom>
