﻿<template>
  <div :style="getStyles" :class="{'pure-u':true, 'feedBody__directory':true, 'is-widget-2': widgetType === 2, 'directory--static': !cssRemove, 'js-directory-widget': true}">
    <!--Loaders-->
    <template v-if="IsLoading">
      <div v-for="n in 50" :key="n" class="feed-loading-content">
        <VueContentLoading :width="330" :height="75">
          <circle cx="33" cy="43" r="23"></circle>
          <rect x="70" y="28" rx="4" ry="4" height="10" width="255"></rect>
          <rect x="70" y="48" rx="4" ry="4" height="10" width="245"></rect>
        </VueContentLoading>
      </div>
    </template>
    <template v-if="!IsLoading">
      <span data-full-height-deduct="true" :class="{'view-block__title': widgetType === 1, 'view-block__title--large': widgetType === 2}"><template v-if="memberAreaId">Team members</template><template v-else>Active members</template></span>

      <div data-scroll="true" class="js-fullHeight-bodyElement members-wrapper">

        <ul class="networkDirectory__members-nav-ul">
          <li v-bind:class="{'networkDirectory__members-nav-li':true} " v-for="(member) in usersSortedByLastOnline" :key="member.ActorExternalIdentifier">
            <div class="pure-u member-avatar">
              <img width="40" class="avatar-img" :title='member.FirstName + " " + member.LastName' :alt='member.FirstName + " " + member.LastName' v-bind:src="member.ProfileImageLink" />
            </div>
            <div class="pure-u member-body">
              <div class="pure-u-1">
                <span class="member-body__firstName">{{member.FirstName}}</span>
                <span class="member-body__lastName">{{member.LastName}}</span>
              </div>
              <div class="pure-u-1">
                <span v-if="member.Profession">{{member.Profession}}</span>
                <span v-if="member.Specialty">, {{member.Specialty}}</span>
                <span v-if="member.Grade">, {{member.Grade}}</span>
              </div>
              <div v-show="member.LastOnline" class="u-relative member-body__presense">
                <span v-bind:class="getMemberPresenceIndicatorClass(member)"></span>
                <span class="member-body__lastOnline">Last online: {{member.LastOnline | formatDate}}</span>
                <span v-if="!member.OnDuty" class="member-body__status--offduty">
                  <i class="fa fa-bell-slash" aria-hidden="true"></i> Off duty</span>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </template>
  </div>

</template>

<script>
  /*APIs*/
  import GetUsersProfiles from 'Endpoints/users/GetUsersProfiles';
  import Vault from 'Endpoints/careflowApp/Vault';
  import sort from 'js-flock/es5/sort'; //https://www.npmjs.com/package/js-flock
  /*Components*/
  import { VueContentLoading } from 'vue-content-loading';

  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import appMain from 'AppJs/app-main';

  export default {
  	data: function() {
  		return {
  			NetworkId: this.networkId || null,
  			MemberAreaId: this.memberAreaId || null,
  			ViewMemberAreaAccessGroupID: this.memberAreaId
  				? appMain.getAccessGroupId(this.memberAreaId)
  				: appMain.getAccessGroupId(
  						appMain.getNetworkMemberAreaId(this.networkId),
  						true
  				  ),
  			Members: [],
  			IsLoading: true
  		};
  	},
  	props: {
  		networkId: {
  			type: [String, Number],
  			required: true
  		},
  		memberAreaId: {
  			type: [String, Number],
  			default: null,
  			required: false
  		},
  		widgetType: {
  			type: [String, Number],
  			default: 1, //1 = default, 2= larger titles (network home)
  			required: false
  		},
  		cssRemove: {
  			type: [Boolean],
  			default: true, //CSS rules remove directory widget < 1280 across site - set false to override
  			required: false
  		},
  		maxHeight: {
  			//VH unit max height
  			type: [String, Number],
  			default: null,
  			required: false
  		}
  	},
  	mixins: [DateFilter],
  	filters: {},
  	components: { VueContentLoading },
  	methods: {
  		getTeamMembers() {
  			let that = this;
  			that.IsLoading = true;
  			GetUsersProfiles.callApi(this.ViewMemberAreaAccessGroupID)
  				.then(response => {
  					that.Members = response.Data.Passed;
  					that.IsLoading = false;
  				})
  				.fail(error => {
  					that.IsLoading = false;
  				});
  		},

  		getMemberPresenceIndicatorClass: function(member) {
  			return appMain.getPresenceIndicatorClass(member.LastOnline);
  		}
  	},
  	watch: {},
  	computed: {
  		usersSortedByLastOnline: function() {
  			//TODO: USE FASTSORT
  			//https://doccom.atlassian.net/browse/WEB-866

  			if (!this.Members) return [];

  			// if (sortCol === 'patient') {
  			//   					// Sort users by PatientFamilyName, PatientGivenName
  			//   					if (!this.DataTableSort.SortAsc)
  			//   						sort(filteredData).desc(['PatientFamilyName', 'PatientGivenName']);
  			//   					if (this.DataTableSort.SortAsc)
  			//   						sort(filteredData).asc(['PatientFamilyName', 'PatientGivenName']);
  			//   				}

  			//   				if (sortCol === 'consultant') {
  			//   					if (!this.DataTableSort.SortAsc)
  			//   						sort(filteredData).asc(u =>
  			//   							u.Clinician ? u.Clinician.LastName.toLowerCase() : null
  			//   						);
  			//   					if (this.DataTableSort.SortAsc)
  			//   						sort(filteredData).desc(u =>
  			//   							u.Clinician ? u.Clinician.LastName.toLowerCase() : null
  			//   						);
  			//   				}

  			let usersWhoHaveALastOnline = this.Members.filter(
  				(item, index, array) => {
  					if (
  						!this.memberAreaId &&
  						item.LastOnline &&
  						(item.LastName || item.FirstName)
  					) {
  						let lastOnlineTime = moment(item.LastOnline)
  							.utc()
  							.local();
  						let lastOnlineMinutesAgo = parseInt(
  							moment
  								.utc()
  								.local()
  								.diff(lastOnlineTime, 'minutes')
  						); //[days, years, months, seconds, ...]
  						if (lastOnlineMinutesAgo < 420) {
  							//7 hours
  							if (item.LastOnline && (item.LastName || item.FirstName))
  								return item;
  							return null;
  						}
  						return null;
  					}
  					if (
  						this.memberAreaId &&
  						item.LastOnline &&
  						(item.LastName || item.FirstName)
  					)
  						return item;
  				}
  			).filter(Boolean);

  			let usersWhoDoNotHaveALastOnline = this.Members.filter(
  				(item, index, array) => {
  					if (!item.LastOnline && (item.LastName || item.FirstName))
  						return item;
  				}
  			).filter(Boolean);

  			usersWhoHaveALastOnline = _.sortBy(usersWhoHaveALastOnline, function(o) {
  				return o.LastOnline;
  			}).reverse();
  			usersWhoDoNotHaveALastOnline = _.sortBy(
  				usersWhoDoNotHaveALastOnline,
  				function(o) {
  					return o.LastName;
  				}
  			);

  			if (this.memberAreaId)
  				usersWhoHaveALastOnline.push(usersWhoDoNotHaveALastOnline);
  			return (usersWhoHaveALastOnline = [].concat.apply(
  				[],
  				usersWhoHaveALastOnline
  			)); //Flatten arrays (array pushed into array)
  		},

  		getStyles() {
  			if (!this.maxHeight) return false;
  			return { 'max-height': `${this.maxHeight}vh`, 'overflow-y': 'hidden' };
  		}
  	},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},
  	created: function() {},
  	mounted: function() {
  		this.getTeamMembers();
  	}
  };
</script>

<style lang="less" scoped>
  .members-wrapper {
  	background: #fff;
  }
  .feed-loading-content {
  	//padding: 1em;
  	height: 75px; //matches dynamic set height of svg loader
  	box-sizing: border-box;
  }
  .feedBody__directory {
  	background: #fff;
  	max-width: 340px;
  	//min-width: 320px;
  	margin: 0 0 0 2em;
  	display: flex;
  	flex-flow: column;
  	width: 100%;
  	& .networkDirectory__members-nav-li {
  		&:hover {
  			cursor: default;
  			background: #fff;
  		}

  		&.active {
  			background: #fff;
  		}
  	}
  	&.is-widget-2 {
  		/*Network home / network updates 'active' members*/
  		align-self: flex-end;
  		margin: 0 0 1em 0;
  		.feedBody__directory {
  			padding: 0;
  			margin: 0;
  		}
  	}
  }
</style>
