<template>

  <div id="networkDirectory__view" class="pure-g js-networkDirectory-template" v-cloak>

    <div class="pure-u networkDirectory_col1 js-scaffold-block">

      <div data-full-height-deduct="true" class="networkDirectory_col1-controls">

        <span class="view-block__title--flat">Members</span>

        <select2 v-if="!MemberAreaID" v-bind:disabled="IsLoading" v-bind:options="teamsFilter" v-model="MemberAreaIdToFilterBy">
          <option value="0">See all members</option>
        </select2>

        <input v-bind:disabled="IsLoading" placeholder="Filter by name, speciality, grade..." class="u-filter__txt" v-model="Search" type="text" />
        <div v-if="Search.length || MemberAreaIdToFilterBy" class="pure-u-1">
          <button v-bind:disabled="IsLoading" v-on:click="clearSearchFilter()" class="clearFilter-btn u-pull-right u-uppercase">Clear</button>
        </div>
      </div>

      <div data-scroll="true" class="pure-u-1 js-fullHeight-bodyElement">
        <div class="list-loader" v-if="IsLoading">
          <ui-progress-circular color="primary"></ui-progress-circular>
        </div>

        <ul class="networkDirectory__members-nav-ul">
          <li v-bind:class="{'networkDirectory__members-nav-li':true, 'active': ActiveMember && ActiveMember.ApplicationUserID === member.ApplicationUserID}" v-for="member in networkFilter" v-on:click="getMemberProfile(member)" :key="member.ActorExternalIdentifier">

            <div class="pure-u member-avatar">
              <img width="40" class="avatar-img" v-bind:src="member.ProfileImageLink" />
            </div>
            <div class="pure-u member-body">
              <div class="">
                <span class="member-body__firstName">{{member.FirstName}}</span>
                <span class="member-body__lastName">{{member.LastName}}</span>
              </div>
              <div class="">
                <span v-if="member.Profession">{{member.Profession}}</span>
                <span v-if="member.Specialty">, {{member.Specialty}}</span>
                <span v-if="member.Grade">, {{member.Grade}}</span>
              </div>
              <div v-show="member.LastOnline" class="u-relative member-body__presense">
                <span v-bind:class="getMemberPresenceIndicatorClass(member)"></span>
                <span class="member-body__lastOnline">Last online: {{ getLastOnlineParsedDate(member) }}</span>
                <span v-if="!member.OnDuty" class="member-body__status--offduty">
                  <i class="fa fa-bell-slash" aria-hidden="true"></i> Off duty</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="pure-u networkDirectory_col2 js-scaffold-block">
      <div data-scroll="true" class="js-fullHeight-bodyElement">
        <template v-if="ActiveMember">
          <div class="networkDirectory_profileCard">
            <div class="pure-u member-avatar">
              <img class="avatar-img" v-bind:src="ActiveMember.ProfileImageLink" />
            </div>

            <div class="pure-u member-body">
              <div class="profileCard_name">{{ActiveMember.FirstName}} {{ActiveMember.LastName}}</div>
              <div class="profileCard_data">
                <span v-if="ActiveMember.Profession">{{ActiveMember.Profession}}</span>
                <span v-if="ActiveMember.Specialty">{{ActiveMember.Specialty}}</span>
                <span v-if="ActiveMember.Grade">{{ActiveMember.Grade}}</span>
              </div>
              <div v-if="ActiveMember.LastOnline" class="u-relative profileCard_presence">
                <span v-bind:class="getMemberPresenceIndicatorClass(ActiveMember)"></span>
                <span class="profileCard__lastOnline">Last online: {{ getLastOnlineParsedDate(ActiveMember) }}</span>
                <span v-if="!ActiveMember.OnDuty" class="profileCard____status--offduty">
                  <i class="fa fa-bell-slash" aria-hidden="true"></i> Off duty</span>
              </div>

              <div class="profileCard_teams">
                <span class="view-block__title">Teams</span>
                <ul class="profileCard_teams-ul">
                  <template v-if="teamLinks.length">
                    <li v-for="(team) in teamLinks" :key="team.MemberAreaID">
                      <a v-bind:href="team.Url">{{ team.Name}} </a>
                    </li>
                  </template>
                  <template v-else>
                    {{ActiveMember.FirstName}} {{ActiveMember.LastName}} is not a member of any teams.
                  </template>
                </ul>
              </div>
            </div>
          </div>
        </template>
        <div class="pure-u-1" v-else-if="!IsLoading">
          <div class="networkDirectory_profileCard--empty">
            <div>
              <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <div>Select a member to view profile</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
  /*APIs*/
  import GetUsersProfiles from 'Endpoints/users/GetUsersProfiles';
  import Vault from 'Endpoints/careflowApp/Vault';
  /*Components*/
  import { VueContentLoading } from 'vue-content-loading';

  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';

  let select2 = {
  	props: ['options', 'value'],
  	template: '<select><slot></slot></select>',
  	mounted: function() {
  		var vm = this;
  		$(this.$el)
  			.val(this.value)
  			// init select2
  			.select2({
  				data: this.options,
  				placeholder: 'Choose a team...',
  				containerCssClass: 'controls-select2-wrap',
  				width: '98%',
  			})
  			// emit event on change.
  			.on('change', function() {
  				vm.$emit('input', parseInt(this.value));
  			});
  	},
  	watch: {
  		value: function(value) {
  			// update value
  			$(this.$el)
  				.val(parseInt(value))
  				.trigger('change');
  		},
  		options: function(options) {
  			// update options
  			$(this.$el).select2({ data: options });
  		},
  	},
  	destroyed: function() {
  		$(this.$el)
  			.off()
  			.select2('destroy');
  	},
  };
  let loaderBlockHelper = {
  	template: '<div style="padding:1em" class="u-ajax-loader u-clearfix"><i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw u-ajax-loader__icon"></i> <span style="display: inline-block;" class="u-ajax-loader__label">{{computedMessage}}</span></div>',
  	props: ['message'],
  	data: function() {
  		return {
  			Message: null,
  		};
  	},
  	computed: {
  		computedMessage: function() {
  			return this.Message;
  		},
  	},
  	created: function() {
  		this.Message = this.message;
  	},
  };

  export default {
  	data: function() {
  		return {
  			MemberAreaID: this.memberAreaId || null,
  			ViewMemberAreaAccessGroupID: null,
  			Members: [],
  			ActiveMember: null,
  			NetworkID: this.networkId || null,
  			NetworkMemberAreaID: null,
  			NetworkAccessGroupID: null,
  			MemberAreaIdToFilterBy: 0,
  			Search: '',
  			IsLoading: true,
  		};
  	},
  	props: {
  		networkId: [String, Number],
  		memberAreaId: [String, Number],
  	},
  	mixins: [DateFilter],
  	filters: {},
  	components: { VueContentLoading, select2, loaderBlockHelper },
  	methods: {
  		getMemberProfile(member) {
  			this.ActiveMember = member;
  		},

  		getLastOnlineParsedDate(member) {
  			if (!member.LastOnline) return '';

  			//Is it today?
  			if (moment().isSame(member.LastOnline, 'day')) {
  				return moment(member.LastOnline).format('HH:mm') + ' (Today)'; //Uppercase for 24h
  			}
  			//Is it more than a month ago?
  			if (moment(member.LastOnline).diff(moment(), 'months') < -1) {
  				return 'Over a month ago';
  			}
  			return appMain.getFormattedDate(member.LastOnline);
  		},

  		getMemberPresenceIndicatorClass(member) {
  			return appMain.getPresenceIndicatorClass(member.LastOnline);
  		},

  		clearSearchFilter($element) {
  			if (this.Search.length) this.Search = '';
  			if (this.MemberAreaIdToFilterBy) this.MemberAreaIdToFilterBy = 0;
  			if (this.ActiveMember) this.ActiveMember = null;
  		},
  	},
  	watch: {
  		networkFilter(newVal, oldVal) {
  			//Set first member in the list as active whenever the networkFilter property changes
  			this.ActiveMember = newVal[0];
  		},
  	},
  	computed: {
  		networkFilter: function() {
  			//Filter network directory by team and freetext
  			var that = this;

  			if (that.MemberAreaIdToFilterBy && typeof that.MemberAreaIdToFilterBy === 'number') {
  				//Filter by team
  				var members = _.chain(that.Members)
  					.filter(function(member) {
  						if (member.MemberAreaIDs.indexOf(that.MemberAreaIdToFilterBy) != -1 && member.LastName) {
  							//matched

  							if (that.Search.length) {
  								members = _.chain(that.Members)
  									.filter(function(member) {
  										if (!member.FirstName && !member.LastName) return;
  										var fullName = member.FirstName + member.LastName || '';
  										var speciality = member.Specialty || '';
  										var grade = member.Grade || '';
  										var emailAddress = member.EmailAddress || '';
  										return (
  											s.include(fullName.toLowerCase(), that.Search.toLowerCase()) || s.include(speciality.toLowerCase(), that.Search.toLowerCase()) || s.include(grade.toLowerCase(), that.Search.toLowerCase()) || s.include(emailAddress.toLowerCase(), that.Search.toLowerCase())
  										);
  									})
  									.sortBy(function(member) {
  										return member.LastName;
  									})
  									.value();
  								return members;
  							}

  							return member;
  						}
  					})
  					.sortBy(function(member) {
  						return member.LastName;
  					})
  					.value();

  				return members;
  			} else {
  				//No team filter
  				if (that.Search.length) {
  					members = _.chain(that.Members)
  						.filter(function(member) {
  							if (!member.FirstName && !member.LastName) return;
  							var fullName = member.FirstName + member.LastName || '';
  							var speciality = member.Specialty || '';
  							var grade = member.Grade || '';
  							var emailAddress = member.EmailAddress || '';
  							return s.include(fullName.toLowerCase(), that.Search.toLowerCase()) || s.include(speciality.toLowerCase(), that.Search.toLowerCase()) || s.include(grade.toLowerCase(), that.Search.toLowerCase()) || s.include(emailAddress.toLowerCase(), that.Search.toLowerCase());
  						})
  						.sortBy(function(member) {
  							return member.LastName;
  						})
  						.value();
  					return members;
  				}

  				return _.chain(that.Members)
  					.filter(function(member) {
  						if (!member.FirstName && !member.LastName) return;
  						return member;
  					})
  					.sortBy(function(member) {
  						return member.LastName;
  					})
  					.value();
  			}
  		},

  		teamsFilter: function() {
  			//For select2 ddl - list of teams to filter directory by
  			if (!Vault.getItem('ActiveNetworkGroupMemberships')) return [];

  			var that = this;

  			var data = Vault.getItem('ActiveNetworkGroupMemberships')['Groups'];

  			var response = data.map(function(obj) {
  				//Parse for Select2 - requires this explicit format
  				obj.id = parseInt(obj.MemberAreaID);
  				obj.text = obj.Name;
  				obj.value = obj.MemberAreaID;

  				return obj;
  			});

  			return response;
  		},

  		teamLinks: function() {
  			if (!this.ActiveMember) return null;
  			var links = [];
  			var that = this;

  			this.ActiveMember.MemberAreaIDs.forEach(function(x) {
  				var teamData = appMain.getMemberAreaName(x, null, null, true);
  				if (!teamData || !teamData.length) return false;
  				links.push({
  					Url: '/#/' + that.NetworkID + '/Teams/' + x + '/TeamUpdates',
  					Name: teamData[0]['MemberAreaName'],
  					MemberAreaID: teamData[0]['MemberAreaID'],
  					NetworkID: teamData[0]['NetworkID'],
  				});
  			});

  			return _.filter(links, function(i) {
  				if (i.NetworkID === that.NetworkID && i.Name) {
  					return i;
  				}
  			}).sort((a, b) => {
  				//https://stackoverflow.com/questions/8900732/javascript-sort-objects-in-an-array-alphabetically-on-one-property-of-the-arra
  				return a.Name.toUpperCase() < b.Name.toUpperCase() ? -1 : a.Name.toUpperCase() > b.Name.toUpperCase() ? 1 : 0;
  			});
  		},

  		usersSortedByLastOnline: function() {
  			return _.sortBy(this.Members, function(item) {
  				return item.LastOnline;
  			}).reverse();
  		},
  	},
  	created: function() {},
  	mounted: function() {
  		appMain.setElementsAsFullHeight();
  		var that = this;
  		//Get the members
  		this.NetworkAccessGroupID = appMain.getAccessGroupId(appMain.getNetworkMemberAreaId(this.networkId));
  		this.NetworkMemberAreaID = appMain.getNetworkMemberAreaId(this.networkId);

  		this.ViewMemberAreaAccessGroupID = appMain.getAccessGroupId(this.memberAreaId);
  		var apiId = this.NetworkAccessGroupID; //Get entire network or single team
  		if (this.memberAreaId) {
  			apiId = this.ViewMemberAreaAccessGroupID;
  		}

  		GetUsersProfiles.callApi(apiId)
  			.then(data => {
  				this.Members = data.Data.Passed;
  				this.IsLoading = false;
  				appMain.setElementsAsFullHeight();
  			})
  			.fail(error => {});
  	},
  };
</script>

<style>
  .list-loader {
  	padding: 1em;
  }
</style>
<custom>Team / Netowrk directory TODO:Fully  Vue refactor and remove Select2</custom>
