<!--Wrapper for Network view of a patient wrapper-->
<div v-cloak id="vue-network-patient-view">
    <div class="network-patient-wrapper js-scaffold-block">
            <patient-dashboard v-if="PatientId && Patient" :key="PatientId" :patient-id="PatientId" :patient="Patient" :network-id="NetworkId"></patient-dashboard>
    </div>
</div>
