<template>
  <div class="message-item">
    <div v-html="getMessageRecipientList"></div>
    <div v-html="getMessageLastComment"></div>
  </div>
</template>

<script>
  /* Utils */
  import Vault from 'Endpoints/careflowApp/Vault';

  /* API Endpoints */

  /*Components*/

  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';

  export default {
  	data() {
  		return {
  			IsLoading: true, //Default
  		};
  	},
  	components: {},
  	mixins: [DateFilter],
  	props: {
  		message: {
  			type: [Object],
  			required: true,
  		},
  		messageId: {
  			type: [String, Number],
  			required: true,
  		},
  		isLoading: {
  			type: [Boolean],
  			required: false,
  			default: false,
  		},
  	},
  	watch: {},

  	methods: {},
  	computed: {
  		getMessageRecipientList() {
  			if (!this.message.RecipientList.Names) return ``;

  			return this.message.RecipientList.Names.map(x => {
  				if (!x.IsRequestingUser) return `${x.FirstName} ${x.LastName}`;
  			}).join();
  		},
  		getMessageLastComment() {
  			if (!this.message.LatestMessage || !this.message.NameOfSenderOfLatestMessage) return ``;

  			let nameLabel = this.message.NameOfSenderOfLatestMessage.IsRequestingUser ? 'You' : `${this.message.NameOfSenderOfLatestMessage.FirstName}`;

  			return `${nameLabel}: ${this.message.LatestMessage}`;
  		},
  	},
  	created() {},
  	mounted() {},
  	beforeDestroy() {},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},
  };
</script>

<style>
</style>

<custom>
   User to user messages
</custom>
