<template>
  <div v-show="!IsCollapsed" class="patient-list-slim js-scaffold-block">

    <div data-full-height-deduct="true" class="patient-list-fliter-wrapper">
      <div class="search-input">
        <div class="search-input__block">
          <ui-textbox placeholder="Name, number or date of birth..." type="text" v-model="SearchInput"></ui-textbox>
        </div>
        <div v-if="PatientSearch.LastExecutedSearchTerm" class="search-input__block--icon-wrapper">
          <i v-on:click="searchNetworkForPatient" class="material-icons">search</i>
        </div>

        <div v-if="!PatientSearch.LastExecutedSearchTerm && SmartLists.length" class="search-input__block--icon-wrapper">
          <i ref="smart-list-trigger" class="material-icons smart-list-info-icon">info</i>
          <ui-popover class="custom-popover" open-on="hover" trigger="smart-list-trigger">
            <div>There are Smart list filters applied to this list.</div>
            <div v-if="Permissions.includes('ModifyAutoPopDefinitions')"><a :href="'#/'+ NetworkId +'/Teams/'+ MemberAreaId +'/TeamSmartLists'">Manage smart lists</a></div>
          </ui-popover>
        </div>
      </div>
      <div class="search-title" v-if="PatientSearch.LastExecutedSearchTerm && SearchInput && !getTeamPatientsToRender.length">
        <div class="title__label">Search results </div>
        <div>
          <button v-on:click="clearSearch()" class="btn--plain">Show team list</button>
        </div>
      </div>
    </div>

    <div data-scroll="true" class="patient-items js-fullHeight-bodyElement">

      <!--Loader-->
      <div v-if="!getTeamPatientsToRender.length && IsFirstLoad && !IsApiError" class="patient-item-loader">
        <vue-content-loading v-for="n in 50" :key="n" :width="300" :height="75">
          <rect rx="4" ry="4" y="0" width="280" x="10" height="12"></rect>
          <rect rx="4" ry="4" width="245" height="10" x="10" y="20"></rect>
          <rect rx="4" ry="4" height="11" width="230" x="10" y="40"></rect>
        </vue-content-loading>
      </div>

      <!--Team patients-->
      <patient-row-item v-for="(patient) in getTeamPatientsToRender" @patient-selected="setPatient" :patient="patient" :key="patient.PatientExternalIdentifier" :activePatientId="ActivePatientId" :member-area-id="MemberAreaId" :is-search-list="false" :networkId="networkId"></patient-row-item>

      <p v-if="getTeamPatientsToRender.length && !SearchInput" class="u-text-center">End of results
        <span>({{getTeamPatientsToRender.length}})</span>
      </p>

      <!--Empty list-->
      <template v-if="(!getTeamPatientsToRender.length && !IsFirstLoad && !PatientSearch.LastExecutedSearchTerm) || IsApiError">
        <p class="u-text-center">No results</p>
      </template>

      <!--Search, no patients found in team filter-->
      <template v-if="!getTeamPatientsToRender.length && SearchInput">
        <div class="search-actions" v-if="!PatientSearch.LastExecutedSearchTerm">
          <p>Patient not found on this team's list</p>
          <ui-button color="primary" raised :disabled="IsLoading" :loading="IsLoading" v-if="SearchInput" v-on:click="searchNetworkForPatient()">Search for patient</ui-button>
        </div>
        <template v-else>
          <!--results-->
          <div class="search-empty" v-if="SearchInput && PatientSearch.NoResultsFound">
            <p>No results found for search term '
              <span class="u-strong">{{PatientSearch.LastExecutedSearchTerm}}</span>', please try again.</p>
            <ui-button color="primary" raised :disabled="IsLoading" :loading="IsLoading" v-if="SearchInput" v-on:click="searchNetworkForPatient()">Search for patient</ui-button>
          </div>

          <patient-row-item v-for="(patient) in getSearchResultsPatientsToRender" @patient-selected="setPatient" :patient="patient" :key="patient.PatientExternalIdentifier" :activePatientId="ActivePatientId" :member-area-id="MemberAreaId" :is-search-list="true" @search-patient-pinned-to-list="patientPinnedToList"></patient-row-item>

        </template>

      </template>
    </div>

    <!--collapse list block-->
    <div v-on:click="toggleCollapsed()" data-full-height-deduct="true" class="sidePanel-collapse-wrapper">
      <i class="material-icons">keyboard_arrow_left</i> Collapse list
    </div>

  </div>
</template>

<script>
  /*Utils*/
  import PubSub from 'Endpoints/careflowApp/PubSub';
  import Vault from 'Endpoints/careflowApp/Vault';
  /*APIs*/
  import GetPatientsOnGroupList from 'Endpoints/patients/GetPatientsOnGroupList';
  import SearchForPatients from 'Endpoints/patients/SearchForPatients';
  import * as GetGroupListDefinitions from 'Endpoints/groupLists/GetGroupListDefinitions';
  /*Components*/
  import { VueContentLoading } from 'vue-content-loading';
  import PatientRowItem from 'VueComponents/patientList/components/SlimListPatientRow'; //Slim list row item

  export default {
  	data: function() {
  		return {
  			PatientList: {
  				/*Team List*/
  				ThereAreMore: false,
  				Page: 0,
  				Data: [],
  			},
  			PatientSearch: {
  				/*Search*/
  				ThereAreMore: false,
  				Skip: 0,
  				Take: 50,
  				LastExecutedSearchTerm: '',
  				NoResultsFound: false,
  				Data: [],
  			},
  			SmartLists: [],
  			PatientsAreLoadingFromApi: false,
  			ActivePatientId: this.activePatientId || null, //A patient passed in to render
  			NetworkId: this.networkId || null,
  			MemberAreaId: this.memberAreaId || null,
  			Permissions: this.getUserPermissions() || null,
  			SearchInput: '',
  			IsCollapsed: this.patientListIsCollapsed, //Default
  			IsLoading: false,
  			IsFirstLoad: true,
  			IsApiError: false,
  		};
  	},
  	components: { VueContentLoading, PatientRowItem },
  	mixins: [],
  	props: {
  		networkId: {
  			type: [String, Number],
  			default: '',
  			required: true,
  		},
  		memberAreaId: {
  			type: [String, Number],
  			default: '',
  			required: true,
  		},
  		activePatientId: {
  			type: [String, Number],
  			required: false,
  		},
  		patientListIsCollapsed: {
  			type: Boolean,
  			required: false,
  			default: false,
  		},
  		activeListFilters: {
  			type: [Object],
  			required: false,
  			default: () => {}, //https://github.com/vuejs/vue/issues/1032
  		},
  	},

  	watch: {
  		patientId(newVal, oldVal) {},
  		patientListIsCollapsed(newVal, oldVal) {
  			this.IsCollapsed = newVal;
  		},
  		SearchInput(newVal, oldVal) {
  			if (!newVal || !newVal.length) {
  				//Clear search when input empty
  				this.clearSearch();
  			}
  		},
  		getTeamPatientsToRender(newVal, oldVal) {
  			//rendered / filtered dataset

  			if (!newVal.length) {//Clear any active patient on null results
  				return this.setPatient({
  					PatientId: null,
  					Patient: null,
  				});
  			}

  			//is patient in filtered data set
  			if (this.ActivePatientId) {
  				let isInArray = newVal.find(x => x.PatientExternalIdentifier === this.ActivePatientId); //The find() method returns the value of the first element

  				this.setPatient({
  					PatientId: isInArray ? this.ActivePatientId : this.getTeamPatientsToRender[0].PatientExternalIdentifier,
  					Patient: isInArray ? isInArray : this.getTeamPatientsToRender[0],
  				});
  			} else {
  				this.setPatient({
  					PatientId: this.getTeamPatientsToRender[0].PatientExternalIdentifier,
  					Patient: this.getTeamPatientsToRender[0],
  				}); //Set top patient as active if none passed by default
  			}
  		},
  		PatientSearch: {
  			handler: function(newVal, oldVal) {},
  			deep: true,
  		},
  	},
  	computed: {
  		getTeamPatientsToRender() {
  			if (!this.PatientList.Data) return [];

  			let filteredPatients = this.PatientList.Data;

  			//Run through filters - https://stackoverflow.com/questions/679915/how-do-i-test-for-an-empty-javascript-object
  			if (this.activeListFilters && Object.keys(this.activeListFilters).length) {
  				let cliniciansFlattened = this.activeListFilters.Clinicians.map(x => {
  					return x.value;
  				}).filter(Boolean);

  				let locationsFlattened = this.activeListFilters.Locations.map(x => {
  					return x.value;
  				}).filter(Boolean);

  				let tagsFlattened = this.activeListFilters.ClinicalTags.map(x => {
  					return x.value;
  				}).filter(Boolean);

  				if (cliniciansFlattened.length || locationsFlattened.length || tagsFlattened.length) {
  					//Filters set

  					filteredPatients = this.PatientList.Data.filter(x => {
  						//val.some(y => y.value === x.value && y.type === x.type)

  						let tags = tagsFlattened.length ? x.ClinicalTags.some(y => tagsFlattened.includes(y.ID)) : true;

  						let clinician = cliniciansFlattened.length ? x.Clinician && cliniciansFlattened.includes(x.Clinician.FullName) : true;

  						let location = locationsFlattened.length ? locationsFlattened.includes(x.AreaName) || locationsFlattened.includes(x.SiteName) : true;

  						//Filters are OR then AND
  						if (location && clinician && tags) return x;

  						return null;
  					}).filter(Boolean);
  					console.log(filteredPatients.length);
  					console.log(JSON.stringify(filteredPatients));
  				}
  			}

  			if (this.SearchInput.length) {
  				let searchText = this.SearchInput.toLowerCase();

  				return filteredPatients.filter((item, index, array) => {
  					let patientName = item.PatientGivenName.toLowerCase() + item.PatientFamilyName.toLowerCase();
  					let patientDob = item.PatientDateOfBirth.toLowerCase();
  					let identifier = item.PatientIdentifiers.PrimaryIdentifier && item.PatientIdentifiers.PrimaryIdentifier ? item.PatientIdentifiers.PrimaryIdentifier.Value.toLowerCase() : '';

  					if (patientName.includes(searchText) || patientDob.includes(searchText) || identifier.includes(searchText)) return item;
  					return;
  				});
  			}
  			return filteredPatients;
  		},

  		getSearchResultsPatientsToRender() {
  			if (!this.PatientSearch.Data) return [];

  			return this.PatientSearch.Data;
  		},
  	},
  	methods: {
  		getUserPermissions() {
  			return appMain.getUserPermissionsForMemberArea(this.memberAreaId) || [];
  		},

  		getTeamPatients() {
  			return new Promise((resolve, reject) => {
  				this.PatientsAreLoadingFromApi = true;
  				this.IsLoading = true;
  				this.PatientList.Page = 0;
  				this.PatientList.ThereAreMore = false;
  				let stagingData = []; //For skip/take data. Only push to observed on complete, so watchers are not triggered each skip

  				let callApi = () => {
  					//https://stackoverflow.com/questions/27977525/how-do-i-write-a-named-arrow-function-in-es2015

  					GetPatientsOnGroupList.callApi(this.MemberAreaId, ['ClinicalTags', 'JustCurrentGroupClinicalTags', 'HandoverNotes'], 50, this.PatientList.Page, 'PatientName')
  						.then((response, textStatus, jQXHr) => {
  							stagingData.push.apply(stagingData, response.Data); //Push array into array
  							this.PatientList.ThereAreMore = response.Metadata.Pagination.ThereAreMore;

  							if (response.Metadata.Pagination.ThereAreMore) {
  								this.PatientList.Page += 1;
  								return callApi();
  							}

  							this.PatientList.Data = []; //Reassign fully
  							this.PatientList.Data.push.apply(this.PatientList.Data, stagingData); //Merge the staging data, so not to trigger computeds etc
  							stagingData = [];
  							this.PatientList.Page = 0;
  							this.PatientsAreLoadingFromApi = false;
  							this.IsLoading = false;
  							this.PatientList.ThereAreMore = false;
  							return resolve();
  						})
  						.fail(error => {
  							this.IsApiError = true;
  							reject();
  						});

  					//Check for any list definitions
  					GetGroupListDefinitions.callApi(this.MemberAreaId)
  						.then((response, textStatus, jqXHr, fullResponse) => {
  							if (response.Data.length) this.SmartLists = response.Data;
  						})
  						.fail(error => {});
  				};

  				callApi(); //Init
  			});
  		},

  		searchNetworkForPatient() {
  			if (!this.SearchInput) return;

  			return new Promise((resolve, reject) => {
  				this.PatientsAreLoadingFromApi = true;
  				this.PatientSearch.NoResultsFound = false;
  				this.IsLoading = true;
  				let stagingData = []; //For skip/take data. Only push to observed on complete, so watchers are not triggered each skip

  				let callApi = () => {
  					//https://stackoverflow.com/questions/27977525/how-do-i-write-a-named-arrow-function-in-es2015

  					SearchForPatients.callApi(this.SearchInput, this.NetworkId, this.PatientSearch.Skip, this.PatientSearch.Take)
  						.then((response, textStatus, jQXHr) => {
  							stagingData.push.apply(stagingData, response.Data.Patients); //Push array into array
  							this.PatientSearch.ThereAreMore = response.Data.ThereAreMore;

  							if (response.Data.ThereAreMore) {
  								this.PatientSearch.Skip += this.PatientSearch.Take;
  								return callApi();
  							}

  							this.PatientSearch.Data = []; //Reassign fully
  							this.PatientSearch.Data.push.apply(this.PatientSearch.Data, stagingData); //Merge the staging data, so not to trigger computeds etc
  							if (!this.PatientSearch.Data.length) this.PatientSearch.NoResultsFound = true;
  							stagingData = [];
  							this.PatientsAreLoadingFromApi = false;
  							this.IsLoading = false;
  							this.PatientSearch.ThereAreMore = false;
  							this.PatientSearch.Skip = 0;
  							this.PatientSearch.LastExecutedSearchTerm = this.SearchInput;
  							return resolve();
  						})
  						.fail(error => {
  							this.PatientsAreLoadingFromApi = false;
  							this.IsLoading = false;
  							reject();
  						});
  				};

  				callApi(); //Init
  			});
  		},

  		setPatient(obj) {
  			//Set active patient
  			if (!obj) return;
  			this.ActivePatientId = obj.PatientId;
  			this.$emit('patient-selected', {
  				//https://github.com/vuejs/vue/issues/4688
  				PatientId: obj.PatientId,
  				Patient: obj.Patient,
  			});
  		},

  		clearSearch() {
  			this.PatientSearch.Data = [];
  			this.PatientSearch.LastExecutedSearchTerm = '';
  			this.PatientSearch.NoResultsFound = false;
  			this.SearchInput = '';
  		},

  		toggleCollapsed() {
  			this.IsCollapsed = !this.IsCollapsed;
  			this.$emit('list-collapse-toggle', { IsCollapsed: this.IsCollapsed });
  		},

  		patientPinnedToList(patient) {
  			//When a 'Search Result' patient is pinned to the list
  			/*Mutates at component - TODO: EVENTS! */
  			if (!patient) return;
  			this.PatientList.Data.unshift(patient); //Push newly added searc result patient to 0 index
  		},

  		setUpdatedPatientConsultant(obj) {
  			this.PatientList.Data.map(x => {
  				if (x.PatientExternalIdentifier === obj.PatientId) {
  					if (x.Clinician) {
  						x.Clinician.FullName = obj.Consultant;
  						x.Clinician.Title = '';
  						x.Clinician.FirstName = '';
  						x.Clinician.Lastname = '';
  					} else {
  						x.Clinician = {
  							FullName: obj.Consultant,
  							Title: '',
  							FirstName: '',
  							Lastname: '',
  						};
  					}
  				}
  			});
  		},

  		updateUiHelper: _.debounce(() => {
  			return appMain.setElementsAsFullHeight();
  		}, 50) /*max each Xms -  limits the rate at which a function can fire*/,
  	},

  	created: function() {
  		//Init
  		this.getTeamPatients()
  			.then(response => {
  				this.IsFirstLoad = false;
  				if (!this.ActivePatientId && this.getTeamPatientsToRender.length) {
  					//Set top patient as active if none passed
  					this.setPatient({
  						PatientId: this.getTeamPatientsToRender[0].PatientExternalIdentifier,
  						Patient: this.getTeamPatientsToRender[0],
  					}); //Set top patient as active if none passed
  				} else {
  					this.setPatient({
  						//Patient passed in as prop
  						PatientId: this.ActivePatientId,
  						Patient: this.getTeamPatientsToRender.filter(x => x.PatientExternalIdentifier === this.ActivePatientId)[0] || null,
  					}); //Patient passed in as prop
  				}
  			})
  			.catch(error => {
  				this.IsApiError = true;
  			});

  		VueEventBus.$on('ChangePatientConsultant.Updated', obj => {
  			this.setUpdatedPatientConsultant(obj);
  		});
  	},
  	mounted: function() {},
  	updated() {
  		this.updateUiHelper();
  	},
  	beforeDestroy() {
  		VueEventBus.$off('ChangePatientConsultant.Updated');
  	},
  };
</script>

<style scoped lang="less">
  @import '../../../../less/app-variables.less';

  .patient-items {
  	border-right: 1px solid @row--border;
  	position: relative;
  }

  .patient-list-fliter-wrapper {
  	padding: 8px 0 8px 8px;
  	box-sizing: border-box;
  	min-height: 58px;
  	border-bottom: 1px solid @row--border;
  }
  .search-title {
  	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
  	& .title__label {
  		text-transform: uppercase;
  		font-weight: @font--medium;
  	}
  }

  .search-input {
  	display: flex;
  	flex-direction: row;

  	& .search-input__block {
  		display: flex;
  		flex-basis: 90%;
  		flex-direction: column;
  		flex-grow: 1;
  	}

  	& .search-input__block--icon-wrapper {
  		.search-input__block();
  		flex-basis: 10%;
  		align-items: flex-end;
  		justify-content: center;
  		& .material-icons {
  			&:hover {
  				cursor: pointer;
  				color: @link--active;
  			}
  		}
  		& .smart-list-info-icon {
  			color: @link--active;
  		}
  	}
  }

  .search-actions {
  	box-sizing: border-box;
  	padding: 0.9em;
  	text-align: center;
  	margin: 2em 0 0 0;
  }

  .search-empty {
  	box-sizing: border-box;
  	padding: 0.9em;
  	text-align: center;
  	margin: 2em 0 0 0;
  }
</style>
<custom>Patient dashboard slim list</custom>
