﻿<template>
  <div :key="item.ID + patientId" :ref="getTrigger(item)" :class="{'clinical-tag':true, 'is-same-team-tag' : isSameTeamTag}">
    {{item.Value}}
    <span class="tag-added-date" v-if="!item.DaysSinceAdded">({{item.AddedDate | getLocalTime}})</span>
    <span class="tag-added-date" v-else>({{item.DaysSinceAdded}}d)</span>    
      <ui-popover class="custom-popover" open-on="hover" :trigger="getTrigger(item)">
        <div>{{item.AddedByActorName}} ({{item.AddedByGroupName}})</div>
        <div>{{item.AddedDate | formatDate}}</div>
      </ui-popover>    
    <div v-if="memberAreaId" class="u-screen-only tag-remove-trigger">
      <button :disabled="IsLoading" type="button" :ref="getRemoveTagTrigger(item)" class="btn--plain">
        <i class="material-icons">close</i>
      </button>
      <ui-popover @close="popoverClosed" class="custom-popover" open-on="click" :trigger="getRemoveTagTrigger(item)">
        <p>Select reason for removing '{{item.Value}}'</p>
        <ui-select @change="removalReasonChange" placeholder="Select a reason" :disabled="IsLoading" :options="removalReasons" v-model="SelectedReason"></ui-select>
        <ui-textbox enforce-maxlength v-if="SelectedReason && SelectedReason.value === 'other'" v-validate="requiredComment" placeholder="Add a comment" :multi-line="true" name="comment" class="itemReply__txtarea" :disabled="IsLoading" v-model="Comment"></ui-textbox>
        <p v-show="errors.has('comment')" class="help is-danger">{{ errors.first('comment') }}</p>
        <ui-button v-if="SelectedReason" typeof="button" color="primary" raised :disabled="IsLoading" :loading="IsLoading" v-on:click.stop.prevent="removeClinicalTag($event)">Remove</ui-button>
      </ui-popover>
    </div>
  </div>
</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';

  /* API Endpoints */
  import ClinicalTags from 'Endpoints/clinicalTags/ClinicalTags';

  export default {
  	data() {
  		return {
  			IsLoading: false,
  			SelectedReason: '',
  			Comment: '',
  		};
  	},
  	props: {
  		item: {
  			//The tag obj (from patient ClinicalTags array API data)
  			type: Object,
  			required: true,
  		},
  		removalReasons: {
  			/*Passed in here to avoid hitting api with each component*/
  			type: Array,
  			required: true,
  		},
  		memberAreaId: {
  			type: [Number, String],
  			required: false,
  			default: null,
  		},
  		patientId: {
  			type: String,
  			required: true,
		  },
		  isSameTeamTag: {
			  type: [Boolean],
  			required: false,
  			default: false,
		  }
  	},
  	mixins: [DateFilter],

  	computed: {
  		requiredComment() {
  			return this.SelectedReason.value === 'other' ? 'required' : '';
  		},
  	},

  	methods: {
  		getTrigger(item) {
  			return 'trigger' + item.Value;
  		},

  		getRemoveTagTrigger(item) {
  			return 'trigger' + item.ID;
  		},

  		removeClinicalTag() {
  			this.$validator.validateAll().then(result => {
  				//Can pass a scope param if required
  				if (result) {
  					//Returns bool
  					this.IsLoading = true;

  					const obj = {
  						Added: [],
  						removed: [
  							{
  								ClinicalTagID: this.item.ID,
  								CustomReasonForRemovingTag: this.Comment,
  								ReasonForRemovingTagID: this.SelectedReason.value === 'other' ? null : this.SelectedReason.value,
  							},
  						],
  					};

  					//Call API
  					return ClinicalTags.callApi(this.memberAreaId, this.patientId, obj).then((response, status, XHR) => {
  						if (/^2/.test(XHR.status)) {
  							this.SelectedReason = '';
  							this.Comment = '';
  							//Tell the parent the tag is removed
  							this.$emit('clinical-tag-removed', {
  								PatientId: this.patientId,
  								TagId: this.item.ID,
  								GroupId: this.memberAreaId,
  							});
  							this.IsLoading = false;
  						}
  					});
  				}
  			});
  		},
  		removalReasonChange() {
  			this.Comment = '';
  		},
  		popoverClosed() {
  			this.SelectedReason = '';
  			this.Comment = '';
  		},
  	},
  };
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../less/app-variables.less';
   .clinical-tag {
  	display: flex;
	align-items: center;
	border-radius: 6px;
    border: 1px solid @tag-border;
    background: @tag-bg;
    padding: 0.4em;
    margin: 0 0.25em 0.5em 0;    
    line-height: 1.1em;
    position: relative;
	font-size: 0.8em;
	flex-flow: wrap;

	&.is-same-team-tag {
		background: @tag-bg--same-team;
	}

  	& .tag-meta {
		  display: flex;		  
  	}

  	& .tag-remove-trigger {
  		& .btn--plain {
  			height: 13px;

  			&.drop-enabled {
  				& .material-icons {
  					color: @careflow--blue;
  				}
  			}
  		}
  		display: flex;
  	}

  	& .material-icons {
  		color: @text-light;
  		font-size: 13px;
  	}

  	&:hover {
  		cursor: pointer;
  	}

  	& .tag-added-date {
  		display: flex;
  		font-size: 0.9em;
  		padding: 0 0.3em;
  	}
  }
</style>

<custom>Component notes</custom>
