﻿<template>
  <div ref="patient-list-wrapper" class="js-scaffold-block">

    <div data-full-height-deduct="true" :class="{'list-head-wrapper': true, 'has-filters-visible':FiltersAreVisible}">
      <div class="view-title--team-wrapper">
        <div class="view-title--team-title">
          <div class="title-patient-list-links" v-if="ListType === 'PatientList'">
            <span :class="{'link':true,'active':true}">Patient List</span><span class="link-divider">|</span><span :class="{'link':true,'active':false}" v-on:click="$emit('is-full-patient-list-view-updated',false)">Patient Dashboards</span>
          </div>
          <div v-else>{{ListTitle}}</div>
        </div>
        <div class="head-filter-toggle-btn u-no-highlight" v-on:click="() => {FiltersAreVisible = !FiltersAreVisible; $emit('filters-are-visible', FiltersAreVisible)}" v-html="getFilterVisibilityButtonText" type="button">Show filters</div>
      </div>

      <!--List Filters and list management-->
      <div class="list__filters-wrap">
        <patient-list-filters v-show="FiltersAreVisible" @filters-updated="(filters) => {ActiveFilters = filters; $emit('filters-updated', filters)}" :isLoading="IsLoading" :activeFiltersOnLoad="activeListFilters" :memberAreaId="MemberAreaId" :canViewTeamRolesForTeam="ViewTeamRolesForTeam && ListType === 'PatientHandoverList'" :teamRoles="TeamRoles" @profiles-updated="profilestoViewUpdated"></patient-list-filters>

        <div class="filterBlock end">
          <button :disabled="IsLoading || PatientsAreLoadingFromApi" class="btn--plain btn-print-list" v-on:click="managePatientList({ id: 'print' })">
            <i class="material-icons">print</i>
          </button>
          <ui-button type="secondary" has-dropdown ref="dropdownButton">
            <ui-menu contain-focus has-icons :disabled="IsLoading || PatientsAreLoadingFromApi" has-secondary-text slot="dropdown" :options="getManageFilteredListMenuOptions" @select="managePatientList" @close="$refs.dropdownButton.closeDropdown()"></ui-menu>
            Manage list
          </ui-button>
        </div>
      </div>
    </div>

    <!--Remove patients / edit list-->
    <div v-if="ListEditState.IsRemovingPatients" data-full-height-deduct="true" class="u-screen-only pure-u-1 list-edit-wrapper">
      <ui-button color="red" buttonType="button" :disaled="IsLoading" :loading="IsLoading" v-on:click="removePatientsFromList">
        <template v-if="!ListEditState.SelectedPatients.length">
          Select patients to remove from list
        </template>
        <template v-else>
          Remove {{ListEditState.SelectedPatients.length}} patient(s)
        </template>
      </ui-button>

      <template v-if="ListEditState.SelectedPatients.length">
        <ui-button :disaled="IsLoading" :loading="IsLoading" v-on:click="clearSelectedPatientsFromStaging()" type="secondary">Clear</ui-button>
      </template>
      <template v-else>
        <ui-button :disaled="IsLoading" :loading="IsLoading" v-on:click="managePatientList({id:'cancel'})" type="secondary">Cancel</ui-button>
      </template>
    </div>

    <div v-if="PatientsAreLoadingFromApi" class="u-screen-only tasks-loader-wrapper">
      <ui-progress-circular color="primary"></ui-progress-circular>
    </div>

    <div v-if="getPatientsToRender.length && !PatientsAreLoadingFromApi" class="u-data-table--default">

      <div data-full-height-deduct="true" :class="{'table__head':true, 'pure-g': true, 'has-scroll':ListHasScroll}">
        <!--Patient List-->
        <template v-if="ListType === 'PatientList'">
          <div class="u-screen-only pure-u-1-24 column-select"></div>
          <div v-on:click="setTableSortCol('patient')" class="pure-u-4-24 column-bay-bedXXX u-table-head__sort-col">Patient<span :class="{'active' : DataTableSort.ActiveSortColumn === 'patient'}" v-html="getSortIcon"></span></div>
          <div v-on:click="setTableSortCol('ward')" class="pure-u-3-24 column-patientXXX u-table-head__sort-col">Ward<span :class="{'active' : DataTableSort.ActiveSortColumn === 'ward'}" v-html="getSortIcon"></span></div>
          <div v-on:click="setTableSortCol('bayBed')" class="pure-u-3-24 u-table-head__sort-col">Bay/Bed<span :class="{'active' : DataTableSort.ActiveSortColumn === 'bayBed'}" v-html="getSortIcon"></span></div>
          <div v-on:click="setTableSortCol('admissionDate')" class="pure-u-3-24 u-table-head__sort-col">Admission date<span :class="{'active' : DataTableSort.ActiveSortColumn === 'admissionDate'}" v-html="getSortIcon"></span></div>
          <div class="pure-u-1-24">EWS</div>
          <div class="pure-u-2-24">EDD</div>
          <div v-on:click="setTableSortCol('consultant')" class="pure-u-3-24 u-table-head__sort-col">Consultant<span :class="{'active' : DataTableSort.ActiveSortColumn === 'consultant'}" v-html="getSortIcon"></span></div>
          <div class="pure-u-3-24">Tags</div>
          <div class="u-screen-only pure-u-1-24 column-actions"></div>
          <!-- <div class="u-screen-only  pure-u-1-24 column-select"></div>
          <div v-on:click="setTableSortCol('patient')" :class="{'pure-u-4-24':true, 'column-patient':true, 'active':DataTableSort.ActiveSortColumn === 'patient'}">
            <span class="u-table-head__sort-col">Patient
              <i v-if="!DataTableSort.SortAsc" class="material-icons">arrow_drop_down</i>
              <i v-else class="material-icons">arrow_drop_up</i>
            </span>
          </div>
          <div class="pure-u-5-24">
            <span class="u-print-only">Identifiers</span>
          </div>
          <div v-on:click="setTableSortCol('location')" :class="{'pure-u-4-24':true, 'active':DataTableSort.ActiveSortColumn === 'location'}">
            <span class="u-table-head__sort-col">Location
              <i v-if="!DataTableSort.SortAsc" class="material-icons">arrow_drop_down</i>
              <i v-else class="material-icons">arrow_drop_up</i>
            </span>
          </div>
          <div v-on:click="setTableSortCol('consultant')" :class="{'pure-u-3-24':true, 'active':DataTableSort.ActiveSortColumn === 'consultant'}">
            <span class="u-table-head__sort-col">Consultant
              <i v-if="!DataTableSort.SortAsc" class="material-icons">arrow_drop_down</i>
              <i v-else class="material-icons">arrow_drop_up</i>
            </span>
          </div>
          <div class="pure-u-6-24">Tags</div>
          <div class="u-screen-only pure-u-1-24 column-actions"></div> -->
        </template>

        <!--Handovers-->
        <template v-if="ListType === 'PatientHandoverList'">
          <div class="u-screen-only pure-u-1-24 column-select"></div>
          <div class="pure-u-2-24 column-bay-bed">Bay/Bed</div>
          <div class="pure-u-4-24 column-patient">Patient</div>
          <div class="pure-u-4-24">Situation</div>
          <div class="pure-u-4-24">Background</div>
          <div class="pure-u-4-24">Assessment</div>
          <div class="pure-u-4-24">Recommendation</div>
          <div class="u-screen-only pure-u-1-24 column-actions"></div>
        </template>
      </div>

      <!--Body-->
      <div ref="list-client" data-scroll="true" class="js-fullHeight-bodyElement js-patient-list-scroll">

        <div class="table__body">

          <template v-if="ListType === 'PatientList'">
            <team-patient-list-table-row v-for="(row) in getPatientsToRender" :key="row.PatientExternalIdentifier" @patient-selected-toggled="patientSelectToggled" @set-patient="patientObj => $emit('set-patient', patientObj)" @pin-patient-to-list="pinPatientToList" :patient="row" :patient-id="row.PatientExternalIdentifier" :list-edit-state="ListEditState" :is-selected="ListEditState.SelectedPatients.includes(row.PatientExternalIdentifier)" :networkId="NetworkId" :memberAreaId="MemberAreaId" :clinicalTagRemovalReasons="getClinicalTagRemovalReasonsMapped" :listType="ListType" :permissions="Permissions"></team-patient-list-table-row>
          </template>

          <template v-if="ListType === 'PatientHandoverList'">
            <!--Site row-->
            <div v-for="(row) in getPatientsToRender" :key="row.site" class="pure-u-1">
              <div class="pure-u-1 body__row body__site-row">{{row.site}}</div>
              <TeamPatientHandoverListTableRow v-for="(patient) in row.patients" :key="patient.PatientExternalIdentifier" @patient-selected-toggled="patientSelectToggled" @handover-note-saved="handoverIsSaved" :patient="patient" :patient-id="patient.PatientExternalIdentifier" :list-edit-state="ListEditState" :is-selected="ListEditState.SelectedPatients.includes(patient.PatientExternalIdentifier)" :networkId="NetworkId" :memberAreaId="MemberAreaId" :clinicalTagRemovalReasons="getClinicalTagRemovalReasonsMapped" :listType="ListType" :mappedTeamRoles="mappedTeamRoles" :canViewProfilesForNetwork="ViewProfilesForNetwork" :permissions="Permissions"></TeamPatientHandoverListTableRow>
            </div>
          </template>

        </div>

        <div class="table__results-end pure-u-1">
          <p class="u-text-center">End of results
            <template v-if="getPatientsToRender.length && listType==='PatientHandoverList'">({{CountOfFilteredPatients}})</template>
            <template v-if="getPatientsToRender.length && listType==='PatientList'">({{getPatientsToRender.length}})</template>
          </p>
        </div>
      </div>
    </div>
    <!--End of list-->
    <!--End of getPatientsToRender.length && !PatientsAreLoadingFromApi"-->
    <template v-if="!getPatientsToRender.length && !PatientsAreLoadingFromApi">
      <p class="u-text-center">No results</p>
    </template>

    <!--modals-->
    <ui-modal class="ui-modal--full-height-fixed no-overflow-y" dismissOn="close-button" ref="network-search-modal" size="large" title="Patient search" @close="networkSearchModalClosed" :promptBeforeClose="NetworkSearchPatientsSelected.length > 0">
      <NetworkPatientSearch v-if="NetworkSearchComponentKey" :networkId="networkId" :memberAreaId="memberAreaId" :widgetType="2" @network-search-selected-patients="array => this.NetworkSearchPatientsSelected = array" :clearSelections="!NetworkSearchPatientsSelected.length" :isAddingPatientsToTeamList="true"></NetworkPatientSearch>
      <div slot="footer">
        <ui-button color="primary" type="secondary" :disabled="!NetworkSearchPatientsSelected.length || IsLoading" v-on:click="NetworkSearchPatientsSelected = [];">Cancel</ui-button>
        <ui-button :disabled="IsLoading || !NetworkSearchPatientsSelected.length" :loading="IsLoading" v-on:click="addPatientsToTeamList" color="primary">
          Add {{NetworkSearchPatientsSelected.length > 0 ? NetworkSearchPatientsSelected.length : ``}} patient(s) to team list
        </ui-button>
      </div>
    </ui-modal>

  </div>
</template>

<script>
  /* Utils */
  import PubSub from 'Endpoints/careflowApp/PubSub';
  import Vault from 'Endpoints/careflowApp/Vault';
  import GetHandlebarsTemplate from 'Endpoints/careflowApp/GetHandlebarsTemplate';
  import appRouter from 'AppJs/app-router';
  import sort from 'js-flock/es5/sort'; //https://www.npmjs.com/package/js-flock

  /* API Endpoints */
  import GetPatient from 'Endpoints/patients/GetPatient';
  import GetPatientsOnGroupList from 'Endpoints/patients/GetPatientsOnGroupList';
  import RemovePatientFromGroupList from 'Endpoints/patients/RemovePatientFromGroupList';
  import AddPatientToGroupList from 'Endpoints/patients/AddPatientToGroupList';
  import * as TeamRoles from 'Endpoints/networks/TeamRoles';
  import * as TeamProfiles from 'Endpoints/teams/TeamProfiles';
  import ReasonsForRemovingTag from 'Endpoints/clinicalTags/ReasonsForRemovingTag';

  /*Components*/
  import PatientListFilters from 'VueComponents/patientList/components/PatientListFilters';
  import TeamPatientListTableRow from 'VueComponents/patientList/components/TeamPatientListTableRow';
  import TeamPatientHandoverListTableRow from 'VueComponents/patientList/components/TeamPatientHandoverListTableRow';
  import NetworkPatientSearch from 'VueComponents/patientSearch/NetworkPatientSearch';

  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import appMain from 'AppJs/app-main';

  /*Utils*/

  export default {
  	data() {
  		return {
  			NetworkId: this.networkId || null,
  			MemberAreaId: this.memberAreaId || null,
  			ListType: this.listType,
  			ListTitle:
  				this.listType === 'PatientHandoverList'
  					? `Handover list`
  					: `Patient list`,
  			PatientId: this.patientId || null, //If deep link required?
  			ViewTeamRolesForTeam: appMain
  				.getUserPermissionsForMemberArea(this.memberAreaId)
  				.includes('ViewProfilesForTeam'),
  			ViewProfilesForNetwork: appMain
  				.getUserPermissionsForNetwork(this.networkId)
  				.includes('ViewProfilesForNetwork'), //Main permission for Profiles
  			Permissions: appMain.getUserPermissionsForAllUsersMemberAreas(), //To pass to fab in row component
  			TeamRoles: null,
  			//TeamProfiles:null, //Call to Teams to get profiles specific to team context (exposes Order property)
  			AdditionalSelectedTeamRolesToView: null, //Users can select custom profiles via a list filter
  			NoTeamRolesSelectedToViewInUi: false, //If user deselects all profiles via filter, will set true
  			Patients: {
  				Data: [],
  				ThereAreMore: false,
  				TotalCountOfPatients: null,
  				ItemsPerPage: 100,
  				Page: 0 //Default
  			},
  			//ListFiltersData: null,
  			DataTableSort: {
  				APIsortBy: 'Location', //For request to API
  				ActiveSortColumn: 'ward', //default on load
  				SortAsc: true //asc or dec
  			},
  			FiltersAreVisible: this.filtersAreVisible,
  			ActiveFilters: this.activeListFilters,
  			IsLoading: false,
  			PatientsAreLoadingFromApi: false,
  			ListEditState: {
  				//User editing a list, hold selected and status'
  				IsRemovingPatients: false,
  				IsAddingPatients: false,
  				SelectedPatients: []
  			},
  			CountOfFilteredPatients: null,
  			ClinicalTagRemovalReasonsForMemberArea: [],
  			NetworkSearchPatientsSelected: [],
  			NetworkSearchComponentKey: null, //ComponentKey for modal (adding patients etc.)
  			ListHasScroll: false
  		};
  	},
  	components: {
  		PatientListFilters,
  		TeamPatientListTableRow,
  		TeamPatientHandoverListTableRow,
  		NetworkPatientSearch
  	},
  	mixins: [DateFilter],
  	props: {
  		memberAreaId: {
  			required: true,
  			type: [Number, String],
  			default: null
  		},
  		networkId: {
  			required: true,
  			type: [Number, String],
  			default: null
  		},
  		patientId: {
  			required: false,
  			type: [Number, String],
  			default: null
  		},
  		listType: {
  			required: false,
  			type: [String],
  			default: 'PatientList'
  		},
  		filtersAreVisible: {
  			required: false,
  			type: [Boolean],
  			default: false
  		},
  		activeListFilters: {
  			type: [Object],
  			required: false,
  			default: val => {
  				return {
  					ClinicalTags: [],
  					Clinicians: [],
  					Locations: []
  				};
  			}
  		}
  	},

  	watch: {
  		Patients: {
  			handler(newVal, oldVal) {
  				if (newVal.Data) {
  				}
  			},
  			deep: true //https://stackoverflow.com/questions/42133894/vue-js-how-to-properly-watch-for-nested-properties
  		},
  		filtersAreVisible(newVal, oldVal) {
  			if (newVal === this.FiltersAreVisible) return;
  			this.FiltersAreVisible = newVal;
  		}
  	},

  	filters: {
  		toUppercase(val) {
  			if (val) return val.toUpperCase();
  			return val;
  		}
  	},
  	methods: {
  		getPatients() {
  			return new Promise((resolve, reject) => {
  				this.PatientsAreLoadingFromApi = true;
  				this.Patients.Page = 0;
  				this.Patients.ThereAreMore = false;
  				let stagingData = []; //For skip/take data. Only push to observed on complete, so watchers are not triggered each skip

  				let callApi = () => {
  					//https://stackoverflow.com/questions/27977525/how-do-i-write-a-named-arrow-function-in-es2015

  					GetPatientsOnGroupList.callApi(
  						this.MemberAreaId,
  						this.getParams(),
  						this.Patients.ItemsPerPage,
  						this.Patients.Page,
  						this.DataTableSort.APIsortBy
  					)
  						.then((response, textStatus, jQXHr) => {
  							this.Patients.TotalCountOfPatients =
  								response.Metadata.Pagination.TotalItems;
  							stagingData.push.apply(stagingData, response.Data); //Push array into array
  							this.Patients.ThereAreMore =
  								response.Metadata.Pagination.ThereAreMore;

  							if (response.Metadata.Pagination.ThereAreMore) {
  								this.Patients.Page += 1;
  								return callApi();
  							}

  							//TODO: fast-sort refactor
  							stagingData = appMain.sortPatientListByLocation(
  								stagingData,
  								true
  							); //Add a sort key for location ordering - https://doccom.atlassian.net/browse/WEB-309

  							this.Patients.Data = []; //Reassign fully
  							this.PatientsAreLoadingFromApi = false;
  							this.Patients.Data.push.apply(this.Patients.Data, stagingData); //Merge the staging data, so not to trigger computeds etc
  							stagingData = [];

  							return resolve();
  						})
  						.fail(error => {
  							//appMain.triggerAppNotification({
  							//    Text: "There was a problem processing the request. Please try again",
  							//    Icon: "error"
  							//});
  							reject();
  						});
  				};

  				callApi(); //Init
  			});
  		},

  		getClinicalTagRemovalReasons() {
  			if (!this.memberAreaId) return false;
  			return ReasonsForRemovingTag.callApi(this.memberAreaId)
  				.then((response, status, XHR) => {
  					return (this.ClinicalTagRemovalReasonsForMemberArea = response.Data);
  				})
  				.fail(error => {});
  		},

  		pinPatientToList(patientId) {
  			this.IsLoading = true;
  			return AddPatientToGroupList.callApi(this.memberAreaId, patientId)
  				.then((response, status, xhr) => {
  					if (/^2/.test(xhr.status)) {
  						const index = this.Patients.Data.findIndex(
  							x => x.PatientExternalIdentifier === patientId
  						);
  						if (index !== -1) this.Patients.Data[index].IsInGroup = true;
  					}
  					this.IsLoading = false;
  				})
  				.fail(error => {
  					this.IsLoading = false;
  				});
  		},

  		getParams() {
  			//get request params depending on model setup - apparently API is quicker to request all params...
  			//return ['ClinicalTags', 'JustCurrentGroupClinicalTags'];
  			return ['ClinicalTags', 'JustCurrentGroupClinicalTags', 'HandoverNotes'];
  		},

  		setTableSortCol(columnName, direction) {
  			if (!columnName) return;

  			this.DataTableSort.SortAsc = !this.DataTableSort.SortAsc; //toggle
  			return (this.DataTableSort.ActiveSortColumn = columnName);
  		},

  		filterSelected(val) {},

  		managePatientList(val) {
  			if (!val) return;

  			if (val.id === 'remove') {
  				this.ListEditState.IsRemovingPatients = true;
  			}

  			if (val.id === 'add') {
  				this.ListEditState.IsAddingPatients = true;
  				this.NetworkSearchComponentKey = Date.now();
  				this.$refs['network-search-modal'].open(); //Open the Modal
  			}

  			if (val.id === 'print') {
  				this.setPrintList().then(() => {
  					window.print();
  				});
  			}

  			if (val.id === 'cancel') {
  				this.ListEditState.IsRemovingPatients = false;
  				this.ListEditState.IsAddingPatients = false;
  				this.ListEditState.SelectedPatients = [];
  				this.NetworkSearchPatientsSelected = [];
  			}
  		},

  		clearSelectedPatientsFromStaging() {
  			this.ListEditState.SelectedPatients = [];
  		},

  		patientSelectToggled(obj) {
  			if (!obj) return;

  			if (this.ListEditState.SelectedPatients.includes(obj.Id))
  				return this.ListEditState.SelectedPatients.splice(
  					this.ListEditState.SelectedPatients.indexOf(obj.Id),
  					1
  				);
  			return this.ListEditState.SelectedPatients.push(obj.Id);
  		},

  		removePatientsFromList(val) {
  			if (!this.ListEditState.SelectedPatients.length) return;

  			this.IsLoading = true;
  			let text =
  				this.ListEditState.SelectedPatients.length > 1
  					? this.ListEditState.SelectedPatients.length +
  					  ' patients have been removed from the list.'
  					: this.ListEditState.SelectedPatients.length +
  					  ' patient has been removed from the list.';
  			let accessGroupId = appMain.getAccessGroupExternalIdentifier(
  				this.MemberAreaId,
  				false
  			);

  			this.ListEditState.SelectedPatients.forEach((item, index, array) => {
  				return RemovePatientFromGroupList.callApi(this.MemberAreaId, item).then(
  					(response, status, XHR) => {
  						if (this.Patients.Data.length) {
  							let foundIndex = this.Patients.Data.findIndex(
  								x => x.PatientExternalIdentifier === item
  							);
  							let stagingFoundIndex = this.ListEditState.SelectedPatients.findIndex(
  								x => x.PatientExternalIdentifier === item
  							);
  							this.Patients.Data[foundIndex].IsInGroup = false;
  							//let patientIsOnList = this.Patients.Data[foundIndex].GroupListExternalIdentifiers.some(x => x === accessGroupId);
  							this.Patients.Data.splice(foundIndex, 1); //Remove the patient
  							this.ListEditState.SelectedPatients.splice(stagingFoundIndex, 1); //Remove the patient from staging

  							//Are all staging patients removed
  							if (!this.ListEditState.SelectedPatients.length) {
  								this.managePatientList({ id: 'cancel' });
  								this.IsLoading = false; //Cancel editmode if set

  								appMain.triggerAppNotification({
  									Text: text,
  									Heading: 'Patients removed from team list',
  									Icon: 'success'
  								});
  							}

  							if (this.Patients.TotalCountOfPatients)
  								this.Patients.TotalCountOfPatients -= 1;
  						}
  					}
  				);
  			});
  		},

  		setPrintList() {
  			if (this.ListType === 'PatientList') {
  				let tableBodyData = $('.u-data-table--default')
  					.find('.table__body')
  					.children('.table__row')
  					.map(function() {
  						return {
  							Type: 'Row',
  							Data: $(this)
  								.children('.body__cell')
  								.map(function() {
  									return $(this)
  										.html()
  										.trim();
  								})
  								.toArray()
  								.slice(1, -1) //remove first and last column (pin & actions)
  						};
  					})
  					.toArray();

  				return GetHandlebarsTemplate.callApi(
  					'Content/js/handlebarsTemplates/PatientList__print.htm',
  					$('.js-app-print'),
  					{
  						TeamName: Vault.getSessionItem('ActiveGroupName'),
  						TeamSize: tableBodyData.length,
  						TableType: 'PatientList',
  						TableBodyData: tableBodyData
  					}
  				);
  			}

  			if (this.ListType === 'PatientHandoverList') {
  				let tableBodyData = $('.u-data-table--default')
  					.find('.table__body')
  					.find('.body__row')
  					.map(function() {
  						var $this = $(this);

  						if ($this.hasClass('body__site-row')) {
  							return {
  								Type: 'Group',
  								Data: $this.text().trim()
  							};
  						} else if ($this.hasClass('body__patient-row')) {
  							return {
  								Type: 'Row',
  								HandoverData: $this
  									.children('.sbar-wrapper')
  									.map(function() {
  										return $(this)
  											.html()
  											.trim();
  									})
  									.toArray(),
  								Data: $this
  									.children('.sbar-meta-wrapper')
  									.map(function() {
  										return $(this)
  											.html()
  											.trim();
  									})
  									.toArray()
  								//.slice(1, -1) //remove first and last column (pin & actions)
  							};
  						} else if ($this.hasClass('clinical-tag-wrapper')) {
  							return {
  								Type: 'Meta',
  								Data: $this.html().trim()
  							};
  						}
  					})
  					.toArray()
  					.filter(function(item) {
  						return item.Data !== ''; //remove empty lines
  					});

  				return GetHandlebarsTemplate.callApi(
  					'Content/js/handlebarsTemplates/PatientList__print.htm',
  					$('.js-app-print'),
  					{
  						TeamName: Vault.getSessionItem('ActiveGroupName'),
  						TeamSize: tableBodyData.filter(function(item) {
  							return item.Type === 'Row';
  						}).length,
  						TableType: 'PatientHandoverList',
  						MappedProfiles:
  							this.mappedTeamRoles.map(x => {
  								return x.ExternalIdentifier;
  							}) || [],
  						TableBodyData: this.getPatientsToRender || [],
  						ViewProfilesForNetwork: this.ViewProfilesForNetwork
  					}
  				);
  			}
  		},

  		handoverIsSaved(obj) {
  			//Child component triggered
  			if (!obj) return;

  			return this.Patients.Data.map(x => {
  				if (x.PatientExternalIdentifier === obj.PatientExternalIdentifier) {
  					//Found patient

  					const index = x.HandoverNotes.findIndex(y => {
  						return (
  							y.Profile.ExternalIdentifier === obj.Profile.ExternalIdentifier
  						);
  					});

  					//Found role handover, update it
  					if (index !== -1) {
  						return x.HandoverNotes.splice(index, 1, obj);
  					} else {
  						//Add as new
  						if (Array.isArray(x.HandoverNotes))
  							return x.HandoverNotes.push(obj);
  					}
  				}
  			});
  		},

  		profilestoViewUpdated(array) {
  			//Child component triggered - Set additional profiles to view in list
  			//If user deselected All profiles, we need to return empty
  			if (!array.length) {
  				this.AdditionalSelectedTeamRolesToView = [];
  				return (this.NoTeamRolesSelectedToViewInUi = true);
  			}

  			this.NoTeamRolesSelectedToViewInUi = false;

  			this.AdditionalSelectedTeamRolesToView = array.map(x => {
  				return {
  					ExternalIdentifier: x.externalIdentifier,
  					Colour: x.colour,
  					Name: x.name,
  					Order: x.order,
  					Selected: x.selected
  					//Teams: x.teams
  				};
  			});
  		},

  		addPatientsToTeamList() {
  			if (!this.NetworkSearchPatientsSelected.length) return;
  			//API only accepts patients added 1 by 1

  			this.IsLoading = true;
  			let patientsAddedCount = 0;

  			this.NetworkSearchPatientsSelected.map(x => {
  				AddPatientToGroupList.callApi(this.memberAreaId, x)
  					.then((data, textStatus, xhr) => {
  						if (/^2/.test(xhr.status)) {
  							patientsAddedCount++;
  							if (
  								patientsAddedCount === this.NetworkSearchPatientsSelected.length
  							) {
  								//All added
  								this.NetworkSearchPatientsSelected = [];
  								patientsAddedCount = 0;
  								setTimeout(() => {
  									//Cancel editmode if set
  									this.managePatientList({ id: 'cancel' });
  									//Init
  									this.getPatients()
  										.then(response => {})
  										.catch(error => {});
  									this.getClinicalTagRemovalReasons().then(response => {});
  									this.$refs['network-search-modal'].close();
  									this.IsLoading = false;
  								}, 3000); //Crude Timeout, allow Raven to sync the new patients added
  							}
  						}
  					})
  					.fail(error => {
  						this.IsLoading = false;
  					});
  			});
  		},

  		networkSearchModalClosed() {
  			this.NetworkSearchPatientsSelected = [];
  			this.NetworkSearchComponentKey = null; //kill the component
  		},

  		patientClinicalTagAdded(array) {
  			if (!array) return;

  			const foundIndex = this.Patients.Data.findIndex(
  				x => x.PatientExternalIdentifier === array.PatientId
  			); //Find target patient

  			if (
  				foundIndex !== -1 &&
  				Array.isArray(this.Patients.Data[foundIndex].ClinicalTags)
  			) {
  				array.ClinicalTags.forEach(x => {
  					this.Patients.Data[foundIndex].ClinicalTags.unshift({
  						AddedByActorName:
  							Vault.getItem('LoggedInUserFirstName') +
  							' ' +
  							Vault.getItem('LoggedInUserLastName'),
  						AddedByGroupID: array.MemberAreaId,
  						AddedByGroupName: appMain.getMemberAreaName(array.MemberAreaId),
  						AddedDate: moment.utc().local(),
  						DaysSinceAdded: 0,
  						ID: x.ID,
  						Value: x.Value
  					});
  				});
  			}
  		},
  		patientClinicalTagRemoved(obj) {
  			if (!obj || obj.MemberAreaId !== this.MemberAreaId) return;

  			var foundIndex = this.Patients.Data.findIndex(
  				x => x.PatientExternalIdentifier === obj.PatientId
  			);
  			if (
  				foundIndex !== -1 &&
  				this.Patients.Data[foundIndex].ClinicalTags.length
  			) {
  				//Remove the tag
  				let tagIndex = this.Patients.Data[foundIndex].ClinicalTags.findIndex(
  					x =>
  						x.ID === obj.ClinicalTagId && x.AddedByGroupID === this.MemberAreaId
  				);
  				this.Patients.Data[foundIndex].ClinicalTags.splice(tagIndex, 1);
  			}
  		},

  		patientHandoverUpdated(obj) {
  			if (!obj) return false;
  			const foundPatientIndex = this.Patients.Data.findIndex(
  				x => x.PatientExternalIdentifier === obj.PatientExternalIdentifier
  			);

  			if (foundPatientIndex !== -1) {
  				//If profile enabled
  				if (
  					this.ViewProfilesForNetwork &&
  					this.Patients.Data[foundPatientIndex].HandoverNotes.length
  				) {
  					const foundProfileIndex = this.Patients.Data[
  						foundPatientIndex
  					].HandoverNotes.findIndex(x => {
  						return (
  							x.Profile.ExternalIdentifier ===
  							obj.Handover.Profile.ExternalIdentifier
  						);
  					});

  					if (foundProfileIndex !== -1) {
  						//Profile handover exists
  						return this.Patients.Data[foundPatientIndex].HandoverNotes.splice(
  							foundProfileIndex,
  							1,
  							obj.Handover
  						);
  					}
  				}

  				if (!this.ViewTeamRolesForTeam) {
  					//Non profile network
  					if (this.Patients.Data[foundPatientIndex].HandoverNotes.length) {
  						return this.Patients.Data[foundPatientIndex].HandoverNotes.splice(
  							0,
  							1,
  							obj.Handover
  						);
  					}
  					return (this.Patients.Data[foundPatientIndex].HandoverNotes[0] =
  						obj.Handover);
  				}

  				//Add new item
  				return this.Patients.Data[foundPatientIndex].HandoverNotes.push(
  					obj.Handover
  				);
  			}
  		}
  	},
  	computed: {
  		//Difference between computed property and method is that computed properties are cached and change only when their dependencies change - that's why you can't pass parameters there. Methods are evaluated every time you call them.

  		getPatientsToRender() {
  			if (
  				!this.Patients ||
  				!this.Patients.Data.length ||
  				this.PatientsAreLoadingFromApi
  			)
  				return [];
  			let thereAreFilters = Boolean(
  				this.ActiveFilters.Locations.length ||
  					this.ActiveFilters.Clinicians.length ||
  					this.ActiveFilters.ClinicalTags.length
  			);
  			let filteredData = this.Patients.Data || [];

  			if (thereAreFilters) {
  				//Filters set, assign data

  				let cliniciansFlattened = this.ActiveFilters.Clinicians.map(x => {
  					return x.value;
  				}).filter(Boolean);

  				let locationsFlattened = this.ActiveFilters.Locations.map(x => {
  					return x.value;
  				}).filter(Boolean);

  				let tagsFlattened = this.ActiveFilters.ClinicalTags.map(x => {
  					return x.value;
  				}).filter(Boolean);

  				if (
  					cliniciansFlattened.length ||
  					locationsFlattened.length ||
  					tagsFlattened.length
  				) {
  					//Filters set

  					filteredData = this.Patients.Data.filter(x => {
  						//val.some(y => y.value === x.value && y.type === x.type)

  						let tags = tagsFlattened.length
  							? x.ClinicalTags.some(y => tagsFlattened.includes(y.ID))
  							: true;

  						let clinician = cliniciansFlattened.length
  							? x.Clinician &&
  							  cliniciansFlattened.includes(x.Clinician.FullName)
  							: true;

  						let location = locationsFlattened.length
  							? locationsFlattened.includes(x.AreaName) ||
  							  locationsFlattened.includes(x.SiteName)
  							: true;

  						//Filters are OR then AND
  						if (location && clinician && tags) return x;

  						return null;
  					}).filter(Boolean);
  					console.log(filteredData.length);
  					console.log(JSON.stringify(filteredData));
  				}
  			}

  			//  data = appMain.sortPatientListByLocation(data, false); //Add a sort key for location ordering - see https://doccom.atlassian.net/browse/WEB-309

  			//Sorts - custom column table sorting

  			if (
  				this.DataTableSort.ActiveSortColumn &&
  				this.ListType !== 'PatientHandoverList'
  			) {
  				//No sorting in Handover lists - https://www.npmjs.com/package/js-flock

  				let sortCol = this.DataTableSort.ActiveSortColumn;

  				if (sortCol === 'patient') {
  					// Sort users by PatientFamilyName, PatientGivenName
  					if (!this.DataTableSort.SortAsc)
  						sort(filteredData).desc(['PatientFamilyName', 'PatientGivenName']);
  					if (this.DataTableSort.SortAsc)
  						sort(filteredData).asc(['PatientFamilyName', 'PatientGivenName']);
  				}

  				if (sortCol === 'ward') {
  					if (!this.DataTableSort.SortAsc)
  						sort(filteredData).desc(['SiteName', 'AreaName']);
  					if (this.DataTableSort.SortAsc)
  						sort(filteredData).asc(['SiteName', 'AreaName']);
  				}

  				if (sortCol === 'bayBed') {
  					if (!this.DataTableSort.SortAsc)
  						sort(filteredData).desc(['BaySort', 'BaySort']);
  					if (this.DataTableSort.SortAsc)
  						sort(filteredData).asc(['BaySort', 'BaySort']);
  				}

  				if (sortCol === 'admissionDate') {
  					if (!this.DataTableSort.SortAsc)
  						sort(filteredData).desc(u =>
  							u.AdmissionDate ? u.CAdmissionDate : null
  						);
  					if (this.DataTableSort.SortAsc)
  						sort(filteredData).asc(u =>
  							u.AdmissionDate ? u.AdmissionDate : null
  						);
  				}

  				if (sortCol === 'consultant') {
  					if (!this.DataTableSort.SortAsc)
  						sort(filteredData).desc(u =>
  							u.Clinician ? u.Clinician.LastName.toLowerCase() : null
  						);
  					if (this.DataTableSort.SortAsc)
  						sort(filteredData).asc(u =>
  							u.Clinician ? u.Clinician.LastName.toLowerCase() : null
  						);
  				}
  			}

  			this.CountOfFilteredPatients = filteredData.length;

  			if (this.ListType === 'PatientHandoverList') {
  				//Group the PatientHandoverList data by Site
  				let groups = _.groupBy(filteredData, item => {
  					//Group the data
  					if (item.AreaName && item.SiteName)
  						return item.AreaName + ' (' + item.SiteName + ')';
  					return item.SiteName || 'Location not known';
  				});

  				filteredData = _.map(groups, (group, site) => {
  					return {
  						site: site,
  						patients: group
  					};
  				});
  			}
  			return filteredData || [];
  		},

  		getSortIcon() {
  			if (!this.DataTableSort.SortAsc) {
  				return `<i class="material-icons">arrow_drop_down</i>`;
  			} else {
  				return `<i class="material-icons">arrow_drop_up</i>`;
  			}
  		},

  		getManageFilteredListMenuOptions() {
  			let manageListMenuOptions = [
  				{ id: 'add', label: 'Add patients', icon: null, secondaryText: '' },
  				{
  					id: 'remove',
  					label: 'Remove patients',
  					icon: null,
  					secondaryText: ''
  				}
  			];

  			return manageListMenuOptions;
  		},
  		getClinicalTagRemovalReasonsMapped() {
  			if (!this.ClinicalTagRemovalReasonsForMemberArea.length) return [];

  			let mappedData =
  				this.ClinicalTagRemovalReasonsForMemberArea.map(
  					(item, index, array) => {
  						return {
  							label: item.DisplayText,
  							value: item.ReasonForRemovingTagID
  						};
  					}
  				) || [];

  			mappedData.push({
  				label: 'Other',
  				value: 'other'
  			});

  			return mappedData;
  		},

  		getFilterVisibilityButtonText() {
  			if (this.FiltersAreVisible) return `Hide filters`;
  			if (
  				!this.FiltersAreVisible &&
  				(this.ActiveFilters.ClinicalTags.length ||
  					this.ActiveFilters.Clinicians.length ||
  					this.ActiveFilters.Locations.length)
  			)
  				return `Show filters (filters applied)`;
  			return `Show filters`;
  		},

  		mappedTeamRoles() {
  			//Return array of team roles mapped to the team (selected roles active for team)
  			if (
  				!this.TeamRoles ||
  				!this.TeamRoles.length ||
  				!this.memberAreaId ||
  				this.NoTeamRolesSelectedToViewInUi
  			)
  				return [];

  			const customProfileFiltersAreActive =
  				this.AdditionalSelectedTeamRolesToView &&
  				this.AdditionalSelectedTeamRolesToView.length > 0;
  			const dataSource = customProfileFiltersAreActive
  				? this.AdditionalSelectedTeamRolesToView
  				: this.TeamRoles;
  			//const defaultProfileItem = this.TeamRoles.filter(x => x.Name === 'Default') || [];

  			return (
  				dataSource
  					.map(y => {
  						//Is the set memberArea in the Teams array
  						// const index =
  						// 	y.Teams.filter(z => {
  						// 		return z.MemberAreaID === this.memberAreaId;
  						// 	}).length > 0;

  						if (customProfileFiltersAreActive) {
  							return {
  								ExternalIdentifier: y.ExternalIdentifier,
  								Colour: y.Colour,
  								Order: typeof y.Order === 'number' ? y.Order : Infinity,
  								Name: y.Name,
  								Selected: y.Selected
  							};
  						} else if (y.Selected) {
  							//Return default data, only selected
  							return {
  								ExternalIdentifier: y.ExternalIdentifier,
  								Colour: y.Colour,
  								Order: typeof y.Order === 'number' ? y.Order : Infinity,
  								Name: y.Name,
  								Selected: y.Selected
  							};
  						}

  						return null;
  					})
  					//.concat(defaultProfileItem) //ALWAYS add at least the 'Default' profile
  					.filter(Boolean)
  					.sort((a, b) => {
  						return a.Order - b.Order;
  					})
  			);
  		}
  	},
  	created() {
  		/*VueEventBus / Legacy stuff*/
  		VueEventBus.$on(
  			'PatientClinicalTags.PatientTagsAdded',
  			this.patientClinicalTagAdded
  		);

  		VueEventBus.$on(
  			'PatientClinicalTags.PatientTagRemoved',
  			this.patientClinicalTagRemoved
  		);

  		VueEventBus.$on(
  			'PatientHandoverModal.Updated',
  			this.patientHandoverUpdated
  		);

  		//Print setup
  		window.onafterprint = function() {
  			//Clear print wrapper
  			setTimeout(() => {
  				document.getElementsByClassName('js-app-print')[0].innerHTML = '';
  			}, 2000);
  		};
  	},
  	mounted() {
  		//Init
  		this.getPatients()
  			.then(response => {})
  			.catch(error => {});
  		//Filters
  		//this.getPatientListFilters().then(response => {});
  		//Tag Removal Reasons
  		this.getClinicalTagRemovalReasons().then(response => {});

  		if (this.ViewProfilesForNetwork && this.ViewTeamRolesForTeam) {
  			TeamProfiles.callApi(
  				appMain.getAccessGroupExternalIdentifier(this.memberAreaId),
  				0,
  				50
  			)
  				.then((response, ststus, xhr, fullResponse) => {
  					this.TeamRoles = _.sortBy(response.Data, function(x) {
  						if (x.Order !== null) return x.Order; //Leave nulls to the bottom
  					});
  				})
  				.fail(error => {});

  			// TeamRoles.callApi(appMain.getNetworkExternalNetworkId(this.networkId), 0, 50).then((response, textStatus, xhr, fullResponse) => {
  			// 	this.TeamRoles = response.Data;
  			// }).fail(error=>{});
  		}
  	},

  	beforeDestroy() {
  		//this.$off('PinPatientToList.PatientPinnedToList');
  		alert('patient list leaving now!');
  		/*Legacy modal...*/
  		//VueEventBus.$off('PatientView.GetPatientActions.Handover.Saved');
  		VueEventBus.$off('PatientSearch.AllQueuedPatientsAddedToGroupList');
  		VueEventBus.$off(
  			'PatientClinicalTags.PatientTagRemoved',
  			this.patientClinicalTagRemoved
  		);
  		VueEventBus.$off(
  			'PatientClinicalTags.PatientTagsAdded',
  			this.patientClinicalTagAdded
  		);
  		VueEventBus.$off(
  			'PatientHandoverModal.Updated',
  			this.patientHandoverUpdated
  		);
  		//this.$off('PatientClinicalTag.ClinicalTagRemoved');
  	},
  	updated() {
  		appMain.setElementsAsFullHeight();
  		if (!this.$refs['list-client']) return;
  		this.ListHasScroll =
  			this.$refs['list-client'].clientHeight <
  			this.$refs['list-client'].scrollHeight;
  	}
  };
</script>

<style scoped lang="less">
  @import '../../../../less/app-variables.less';
  .list-head-wrapper {
  	display: flex;
  	flex-flow: row;
  	border-bottom: 1px solid @row--border;
  	&.has-filters-visible {
  		flex-flow: column;
  	}
  	& .head-filter-toggle-btn {
  		color: @button-plain-colour;
  		margin: 0 0 0 1.6em;
  		font-weight: @font--medium;
  		&:hover {
  			cursor: pointer;
  		}
  	}

  	& .view-title--team-wrapper {
  		display: flex;
  		align-items: baseline;
  	}

  	.title-patient-list-links {
  		display: flex;
  		& .link {
  			color: @link--active;
  			&.active {
  				color: @body-colour;
  				&:hover {
  					cursor: default;
  				}
  			}
  			&:hover {
  				cursor: pointer;
  			}
  		}
  		& .link-divider {
  			margin: 0 0.5em;
  		}
  	}
  }
  .list__filters-wrap {
  	box-sizing: border-box;
  	padding: 0 1em 0 0;
  	margin: 0;
  	box-sizing: border-box;
  	display: flex;
  	flex-flow: row nowrap;
  	align-items: center;
  	justify-content: flex-start;
  	flex-grow: 1;

  	& .filterBlock.end {
  		display: flex;
  		margin-left: auto;
  	}
  }
  .u-data-table--default {
  	margin-bottom: 0;

  	& .table__head {
  		//width: 99%;
  		&.has-scroll {
  			width: calc(~'100% - 15px');
  		}
  		div[class*='pure-u'] {
  			flex-grow: 1;
  		}

  		& .column-bay-bed {
  			// max-width: 140px;
  			display: flex;
  			//justify-content: center;
  		}

  		& .column-patient {
  			display: flex;
  			max-width: 300px;
  			flex-flow: column;
  		}

  		& .column-bay-bed {
  			max-width: 90px;
  			display: flex;
  			//justify-content: center;
  		}

  		& .column-select {
  			max-width: 25px;
  			display: flex;
  			//justify-content: center;
  		}
  		& .column-actions {
  			max-width: 45px;
  			display: flex;
  			//justify-content: center;
  		}
  	}

  	& .table__body {
  		margin-bottom: 5em;
  		& .body__site-row {
  			padding: 0.5em;
  			background: @list-item--active;
  			box-sizing: border-box;
  			font-weight: @font--medium;
  			border-bottom: 1px solid @view-block-border;
  		}
  	}

  	& .table__row {
  		& .body__cell {
  			word-break: break-all;
  		}
  		&:hover {
  			cursor: unset;
  		}

  		&:hover:not(.active) {
  			background: none;
  		}
  		& .clinical-tag-wrapper {
  			margin-top: 0;
  		}
  	}

  	.table__results-end {
  		margin-bottom: 15em;
  	}
  }

  .row-identifiers-wrapper {
  	font-weight: @font--medium;
  	align-items: flex-start;
  	& div {
  		display: flex;
  		align-self: flex-start;
  		margin: 0 0.5em 0 0;
  	}

  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;

  	& .identifier-label {
  		margin: 0 0.5em 0 0;
  		color: @body-54-shade;
  		display: inline-block;

  		&.first {
  			margin-left: 0;
  			padding-left: 0;
  		}
  	}
  }

  .patientBanner__actions {
  	display: flex;
  	align-items: center;
  	flex-grow: 1;
  	position: relative;
  }

  .list-edit-wrapper {
  	padding: 1em;
  	border-bottom: 1px solid @row--border;
  }
  .btn-print-list {
  	margin: 0 0.5em 0 0;
  	color: @text-light;
  	& i {
  		font-size: 18px;
  		position: relative;
  		top: 2px;
  	}

  	&:hover {
  		cursor: pointer;
  		color: @button-plain-colour;
  	}
  }
</style>

<custom>
    Team patient List wrapper component
</custom>
