<template>
  <div v-on:click="selectTag" class="add-tag-wrapper">
    <ui-checkbox :disabled="isLoading" boxPosition="right" :checked="selectedTags.includes(item.ID)" :value="selectedTags.includes(item.ID)" @change="selectTag">{{item.Value}}</ui-checkbox>
  </div>
</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  /*Components*/
  /* API Endpoints */

  //Utils

  export default {
  	data() {
  		return {
  			IsLoading: false,
  		};
  	},
  	props: {
  		patientId: {
  			type: [String, Number],
  			required: true,
  		},
  		item: {
  			type: [Object],
  			required: true,
  		},
  		selectedTags: {
  			type: [Array],
  			required: true,
  			default: function() {
  				return [];
  			},
  		},
  		isLoading: {
  			type: [Boolean],
  			required: true,
  		},
  	},
  	components: {},
  	mixins: [DateFilter],
  	filters: {},
  	watch: {
  		isLoading(newVal, oldVal) {
  			this.IsLoading = newVal;
  		},
  	},
  	computed: {},
  	methods: {
  		selectTag() {
  			if (this.isLoading) return;
  			this.$emit('tag-select-toggled', this.item);
  		},
  	},
  	created() {},
  	mounted() {},
  	deforeDestroy() {},
  };
</script>
<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../../less/app-variables.less';
  .add-tag-wrapper {
  	display: flex;
  	flex: 1;
  	box-sizing: border-box;
  	padding: 0 1em 0 0;
  	height: 100%;
  	align-items: center;
  	& .ui-checkbox {
  		flex-grow: 1;
  		margin: 0;
  	}
  	&:hover {
  		cursor: pointer;
  	}
  }
</style>

<custom>Patient clinical tags</custom>
