<template>
  <div class="remove-tag-wrapper">

    <div class="">
      {{item.Value}}
      <div class="tag-meta">
        {{item.AddedByActorName}} ({{item.AddedByGroupName}}) {{item.AddedDate | formatDate}}
      </div>
    </div>
    <div class="tag-remove-trigger">
      <button v-on:click="getPopover" :disabled="IsLoading" type="button" ref="remove-trigger" class="btn--plain">
        Remove
      </button>
      <div ref="remove-popover" v-if="PopoverIsVisible" class="ui-popover custom-popper-wrapper is-raised">
        <div v-on-clickaway="away" class="popover-body">
          <p>Select reason for removing '<span class="u-strong">{{item.Value}}</span>'</p>
          <ui-select label="" @change="removalReasonSelected" placeholder="Select a reason" class="u-txt-capitalise" :disabled="IsLoading" :options="clinicalTagRemovalReasonsMapped" :value="SelectedRemovalReason"></ui-select>

          <ui-textbox v-if="SelectedRemovalReason.value === 'other'" placeholder="Add a comment" :multi-line="true" v-model="RemovalComment"></ui-textbox>

          <div class="help is-danger" v-if="CustomErrorMessage">
            <div class="custom-error--removal">{{CustomErrorMessage}}</div>
          </div>

          <p v-show="errors.has('comment')" class="help is-danger">{{ errors.first('comment') }}</p>
          <ui-button color="primary" :disabled="IsLoading || !SelectedRemovalReason" :loading="IsLoading" v-on:click.stop.prevent="removeClinicalTag($event)">Remove</ui-button>

        </div>
      </div>

    </div>

  </div>
</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import { mixin as Clickaway } from 'vue-clickaway';
  /*Components*/
  /* API Endpoints */
  import ClinicalTags from 'Endpoints/clinicalTags/ClinicalTags';
  import ReasonsForRemovingTag from 'Endpoints/clinicalTags/ReasonsForRemovingTag';

  //Utils
  import Popper from 'popper.js';

  export default {
  	data() {
  		return {
  			IsLoading: false,
  			ClinicalTagRemovalReasons: [],
  			SelectedRemovalReason: '',
  			RemovalComment: '',
  			CustomErrorMessage: '',
  			PopoverIsVisible: false,
  			Popover: null,
  		};
  	},
  	props: {
  		patientId: {
  			type: [String, Number],
  			required: true,
  		},
  		item: {
  			type: [Object],
  			required: true,
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: true,
  		},
  	},
  	components: {},
  	mixins: [DateFilter, Clickaway],
  	filters: {},
  	watch: {
  		IsLoading(newVal, oldVal) {
  			this.$emit('component-busy', newVal);
  		},
  	},
  	computed: {
  		clinicalTagRemovalReasonsMapped() {
  			if (!this.ClinicalTagRemovalReasons) return [];
  			let removalReasonsMapped = this.ClinicalTagRemovalReasons.map(x => {
  				return {
  					label: x.DisplayText,
  					value: x.ReasonForRemovingTagID,
  				};
  			});

  			removalReasonsMapped.push({
  				label: 'Other',
  				value: 'other',
  			});

  			return removalReasonsMapped;
  		},
  		requiredComment() {
  			return false;
  			//return this.SelectedRemovalReason.value === 'other' ? 'required' : '';
  		},
  	},
  	methods: {
  		getPopover() {
  			if (this.PopoverIsVisible) return;
  			this.PopoverIsVisible = !this.PopoverIsVisible;
  			this.SelectedRemovalReason = '';
  			this.$nextTick(() => {
  				//https://stackoverflow.com/questions/47634258/what-is-nexttick-or-what-does-it-do-in-vuejs
  				this.Popover = new Popper(this.$refs['remove-trigger'], this.$refs['remove-popover'], {
  					placement: 'bottom-end',
  					modifiers: {
  						//keepTogether: { enabled: false },
  						preventOverflow: {
  							boundariesElement: 'scrollParent',
  							escapeWithReference: false,
  						},
  					},
  				});
  			});
  		},

  		away() {
  			this.PopoverIsVisible = !this.PopoverIsVisible;
  			if (this.Popover) {
  				console.log(this.Popover);
  				this.Popover.destroy();
  			}
  			this.Popover = null;
  		},

  		getClinicalTagRemovalReasons() {
  			return ReasonsForRemovingTag.callApi(this.memberAreaId).then((response, status, XHR) => {
  				return (this.ClinicalTagRemovalReasons = response.Data);
  			});
  		},
  		removalReasonSelected(val) {
  			if (!val) return;
  			this.SelectedRemovalReason = val;
  			this.CustomErrorMessage = '';
  		},
  		removeClinicalTag() {
  			this.CustomErrorMessage = '';

  			if (this.SelectedRemovalReason && this.SelectedRemovalReason.value === 'other' && !this.RemovalComment) return (this.CustomErrorMessage = 'Please enter a removal reason');

  			this.IsLoading = true;
  			const obj = {
  				Added: [],
  				removed: [
  					{
  						ClinicalTagID: this.item.ID,
  						CustomReasonForRemovingTag: this.SelectedRemovalReason.value === 'other' ? this.RemovalComment : null,
  						ReasonForRemovingTagID: this.SelectedRemovalReason.value === 'other' ? null : this.SelectedRemovalReason.value,
  					},
  				],
  			};
  			//Call API
  			ClinicalTags.callApi(this.memberAreaId, this.patientId, obj)
  				.then((response, status, XHR) => {
  					if (/^2/.test(XHR.status)) {
  						//Tell the parent the tag is removed
  						this.IsLoading = false;
  						this.$emit('clinical-tag-removed', this.item); //This event changes the component into an Add
  					}
  				})
  				.fail(error => {
  					this.IsLoading = false;
  				});
  		},
  	},
  	created() {},
  	mounted() {
  		this.getClinicalTagRemovalReasons();
  	},
  	deforeDestroy() {},
  };
</script>
<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../../less/app-variables.less';
  .remove-tag-wrapper {
  	display: flex;
  	position: relative;
  	flex: 1;
  	height: 100%;
  	align-items: center;
  	padding: 0 1em 0 0;
  	box-sizing: border-box;
  }
  .tag-remove-trigger {
  	position: relative;
  	margin-left: auto;
  }
  .popover {
  	transition: opacity 0.2s ease;
  	z-index: 60;
  }
  .custom-popper-wrapper {
  	min-width: 210px;
  	z-index: 10; //for Modal
  	position: absolute;
  	right: 0;
  }
  .tag-meta {
  	color: @text-light;
  	margin: 0.2em 0 0 0;
  	font-size: 0.9em;
  }
  .custom-error--removal {
  	margin: 0 0 1em 0;
  }
</style>

<custom>Patient clinical tags</custom>
