<template>
  <div class="referral-modal-wrapper">
    <ModalPatientBanner :patient="patient" :patientId="patientId" :networkId="networkId" :memberAreaId="memberAreaId"></ModalPatientBanner>
    <!-- <div class="modal__header"></div> -->
    <div class="modal__body">
      <PatientReferral :isModal="true" @referral-saved="$emit('modal-referral-saved')" :patientId="patientId" :patient="patient" :networkId="networkId" :memberAreaId="memberAreaId"></PatientReferral>
    </div>
    <!-- <div class="modal__footer"></div> -->
  </div>
</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  /*Components*/
  import ModalPatientBanner from 'VueComponents/patientBanners/ModalPatientBanner';
  import PatientReferral from 'VueComponents/patientReferral/StartPatientReferral';

  /* API Endpoints */
  import Vault from 'Endpoints/careflowApp/Vault';

  //Utils
  export default {
  	data() {
  		return {
  			IsLoading: false,
  			Patient: this.patient,
  			PatientId: this.patientId,
  		};
  	},
  	props: {
  		patient: {
  			type: [Object, String],
  			required: true,
  		},
  		patientId: {
  			type: [String, Number],
  			required: true,
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false,
  		},
  		networkId: {
  			type: [String, Number],
  			required: true,
  		},
  	},
  	components: { ModalPatientBanner, PatientReferral },
  	mixins: [DateFilter],
  	filters: {},
  	watch: {},
  	computed: {},

  	methods: {
  		closeModal(ref) {
  			this.$refs[ref].close();
  		},
  	},
  	created() {},
  	mounted() {},
  	deforeDestroy() {},
  };
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../less/app-variables.less';

  .referral-modal-wrapper {
  	min-height: 70vh;
  }
</style>

<custom>FAB - Patient context patient referral</custom>
