<template>
  <div class="handover-modal-wrapper">
    <!--TODO: MOVE BODY TO HANDOVER SPECIFIC COMPONENT-->

    <ModalPatientBanner :patient="patient" :patientId="patientId" :networkId="networkId" :memberAreaId="memberAreaId"></ModalPatientBanner>

    <div class="modal__header">

      <ui-select :key="RebuildUiComponentKey" has-search :disabled="IsLoading" label="Team" placeholder="Select a team" :options="mappedTeamsUserCanHandoverFrom" :value="SelectedMemberArea" @input="locationOptionSelected"></ui-select>

      <ui-select v-if="ViewTeamRolesForNetwork && mappedTeamRoles.length" :key="RebuildUiComponentKey" has-search :disabled="IsLoading || !SelectedMemberArea.value" label="Profile" placeholder="Select a profile" :options="mappedTeamRoles" :value="SelectedRole" @input="roleSelected"></ui-select>

      <div class="modal__meta-description" v-if="getInRequestContextHandoverForActiveTeam">
        <div>{{getInRequestContextHandoverForActiveTeam.UpdatedByName}} - {{getInRequestContextHandoverForActiveTeam.GroupName}} {{getInRequestContextHandoverForActiveTeam.DateLastUpdated | formatDate}}
          <template v-if="getInRequestContextHandoverForActiveTeam.DaysSinceLastUpdate === 0">(today)</template>
          <template v-else>({{getInRequestContextHandoverForActiveTeam.DaysSinceLastUpdate}}d)</template>
        </div>
      </div>

    </div>
    <template v-if="ViewTeamRolesForNetwork && mappedTeamRoles.length && !SelectedRole.ExternalIdentifier">
      <div class="select-role-splash">
        <i class="material-icons">assignment</i> Select a profile to continue.</div>
    </template>

    <template v-if="!memberAreaId && !SelectedMemberAreaID">
      <div class="select-role-splash">
        <i class="material-icons">assignment</i> Select a team to continue.</div>
    </template>

    <!--Must select a role if active in network-->
    <template v-if="!ViewTeamRolesForNetwork && SelectedMemberAreaID || (ViewTeamRolesForNetwork && (SelectedRole.ExternalIdentifier && SelectedMemberAreaID || !mappedTeamRoles.length && SelectedMemberAreaID))">

      <div class="modal__body">

        <div class="body__row">
          <template v-if="getInRequestContextHandoverForActiveTeam && !IsEditingHandover">
            <div class="handover-key">{{getInRequestContextHandoverForActiveTeam.Notes[0].Key}}</div>
            <div class="handover-txt" v-on:click="IsEditingHandover = true">
              <template> {{getInRequestContextHandoverForActiveTeam.Notes[0].Value}}</template>
            </div>
          </template>

          <ui-textbox ref="situation-txt-box" v-if="IsEditingHandover || !getInRequestContextHandoverForActiveTeam" class="handover-txtbox" enforce-maxlength label="Situation" :multi-line="true" :maxlength="1000" v-model="HandoverNotesRendered[0].Value" :disabled="IsLoading"></ui-textbox>

        </div>

        <div class="body__row">
          <template v-if="getInRequestContextHandoverForActiveTeam && !IsEditingHandover">
            <div class="handover-txt" v-on:click="IsEditingHandover = true">
              <div class="handover-key">{{getInRequestContextHandoverForActiveTeam.Notes[1].Key}}</div>
              <template> {{getInRequestContextHandoverForActiveTeam.Notes[1].Value}}</template>
            </div>
          </template>

          <ui-textbox v-if="IsEditingHandover || !getInRequestContextHandoverForActiveTeam" class="handover-txtbox" enforce-maxlength label="Background" :multi-line="true" :maxlength="1000" v-model="HandoverNotesRendered[1].Value" :disabled="IsLoading"></ui-textbox>

        </div>

        <div class="body__row">
          <template v-if="getInRequestContextHandoverForActiveTeam && !IsEditingHandover">
            <div class="handover-key">{{getInRequestContextHandoverForActiveTeam.Notes[2].Key}}</div>
            <div class="handover-txt" v-on:click="IsEditingHandover = true">
              <template> {{getInRequestContextHandoverForActiveTeam.Notes[2].Value}}</template>
            </div>
          </template>

          <ui-textbox v-if="IsEditingHandover || !getInRequestContextHandoverForActiveTeam" class="handover-txtbox" enforce-maxlength label="Assessment" :multi-line="true" :maxlength="1000" v-model="HandoverNotesRendered[2].Value" :disabled="IsLoading"></ui-textbox>

        </div>

        <div class="body__row">
          <template v-if="getInRequestContextHandoverForActiveTeam && !IsEditingHandover">
            <div class="handover-key">{{getInRequestContextHandoverForActiveTeam.Notes[3].Key}}</div>
            <div class="handover-txt" v-on:click="IsEditingHandover = true">
              <template> {{getInRequestContextHandoverForActiveTeam.Notes[3].Value}}</template>
            </div>
          </template>

          <ui-textbox v-if="IsEditingHandover || !getInRequestContextHandoverForActiveTeam" class="handover-txtbox" enforce-maxlength label="Recommendation" :multi-line="true" :maxlength="1000" v-model="HandoverNotesRendered[3].Value" :disabled="IsLoading"></ui-textbox>

        </div>
      </div>

      <div class="modal__footer">

        <ui-button color="primary" :disabled="IsLoading || !handoverInputsAreValidForUpsert" :loading="IsLoading" v-show="IsEditingHandover || !getInRequestContextHandoverForActiveTeam" v-on:click="saveHandover">
          <template v-if="thereAreHandoverNotes">Save handover</template>
          <template v-else>Start handover</template>
        </ui-button>

        <ui-button color="primary" :disabled="IsLoading" :loading="IsLoading" v-show="getInRequestContextHandoverForActiveTeam && !IsEditingHandover" v-on:click="IsEditingHandover = true">Edit handover</ui-button>

        <ui-button type="secondary" :disabled="IsLoading" :loading="IsLoading" v-show="IsEditingHandover" v-on:click="cancelHandoverEdit">Cancel</ui-button>

      </div>

    </template>

    <ui-modal size="small" role="alertdialog" :dismissible="false" ref="confirm-rolechange-modal" title="Confirm profile change">
      <div>Are you sure you want to change the selected profile?</div>
      <div>Any unsaved changes will be lost.</div>

      <div slot="footer">
        <ui-button @click="()=>{changeSelectedRoleData(); closeModal('confirm-rolechange-modal');}" color="primary">Confirm</ui-button>
        <ui-button type="secondary" @click="closeModal('confirm-rolechange-modal')">Cancel</ui-button>
      </div>
    </ui-modal>

    <ui-modal size="small" role="alertdialog" :dismissible="false" ref="confirm-teamchange-modal" title="Confirm team change">
      <div>Are you sure you want to change the selected team?</div>
      <div>Any unsaved changes will be lost.</div>

      <div slot="footer">
        <ui-button @click="()=>{closeModal('confirm-teamchange-modal'); changeSelectedTeam();}" color="primary">Confirm</ui-button>
        <ui-button type="secondary" @click="closeModal('confirm-teamchange-modal')">Cancel</ui-button>
      </div>
    </ui-modal>

  </div>
</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  /*Components*/
  import ModalPatientBanner from 'VueComponents/patientBanners/ModalPatientBanner';

  /* API Endpoints */
  import Vault from 'Endpoints/careflowApp/Vault';
  import UpsertHandoverNote from 'Endpoints/patients/UpsertHandoverNote';
  import * as TeamRoles from 'Endpoints/networks/TeamRoles';

  //Utils

  export default {
  	data() {
  		return {
  			IsLoading: false,
  			Patient: this.patient,
  			IsEditingHandover: false,
  			TeamRoles: [],
  			Permissions: appMain.getUserPermissionsForAllUsersMemberAreas(),
  			NetworkPermisions: appMain.getUserPermissionsForNetwork(this.networkId),
  			ViewTeamRolesForNetwork: appMain.getUserPermissionsForNetwork(this.networkId).includes('ViewProfilesForNetwork'),
  			TeamsUserCanHandoverFrom: this.getTeamsUserCanHandoverFrom() || [],
  			HandoverStaging: this.getHandoverStagingModel(), //A collection of handovers
  			RebuildUiComponentKey: null,
  			SelectedMemberAreaID: this.memberAreaId || null,
  			SelectedMemberArea: {
  				//DDL model, default to active team if available on init
  				label: appMain.getMemberAreaName(this.memberAreaId) || '',
  				value: this.memberAreaId || '',
  			},
  			SelectedRole: {
  				//DDL model default
  				label: '',
  				value: '',
  				ExternalIdentifier: '',
  				Colour: '',
  				Name: '',
  			},
  			HandoverNotesRendered: this.getHandoverNotesValue(), //Set via method
  			//HandoverInputsAreValid: false,
  			SelectedTeamDataPendingConfirm: null,
  			SelectedRoleDataModelPendingConfirm: null, //Data pending modal confirm - user must confirm in alert modal
  		};
  	},
  	props: {
  		patient: {
  			type: [Object, String],
  			required: true,
  		},
  		patientId: {
  			type: [String, Number],
  			required: true,
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false,
  		},
  		networkId: {
  			type: [String, Number],
  			required: true,
  		},
  	},
  	components: { ModalPatientBanner },
  	mixins: [DateFilter],
  	filters: {},
  	watch: {
  		mappedTeamRoles(newVal, oldVal) {
  			if (newVal && Array.isArray(newVal) && newVal.length === 1) {
  				//Set default value if only 1 role
  				this.SelectedRole = newVal[0];
  			}
  		},
  		IsEditingHandover(newVal, oldVal) {
  			//Focus inputs
  			if (newVal)
  				setTimeout(() => {
  					this.$refs['situation-txt-box'].$refs.textarea.focus();
  				}, 0);
  		},
  		handoverInputsAreValidForUpsert(newVal, OldVal) {
  			VueEventBus.$emit('Modal.ValidityUpdate', newVal);
  		},
  		patient: {
  			//Watch for changes in prop coming down from parent, update the returned data func (maybe modal updated handover?)
  			handler(newVal, oldVal) {
  				if (newVal) {
  					this.Patient = newVal;
  					return this.setHandoverNotesClone();
  				}
  			},
  			deep: true,
  		},
  	},
  	computed: {
  		mappedTeamsUserCanHandoverFrom() {
  			if (!this.TeamsUserCanHandoverFrom.length) return [];

  			return this.TeamsUserCanHandoverFrom.map(x => {
  				return {
  					label: x.MemberAreaName,
  					value: x.MemberAreaId,
  				};
  			});
  		},

  		mappedTeamRoles() {
  			//Mapped for use in UiSelect component
  			if (!this.TeamRoles.length || !this.SelectedMemberAreaID) return [];

  			return this.TeamRoles.filter(x => {
  				//returns an array
  				//Is the set memberArea in the Teams array
  				const index = x.Teams.findIndex(y => y.MemberAreaID === this.SelectedMemberAreaID);

  				if (index !== -1) {
  					x.IsAppliedTeamRole = true;
  				} else {
  					x.IsAppliedTeamRole = false;
  				}
  				//return null;
  				return x;
  			})
  				.filter(Boolean)
  				.map(y => {
  					return {
  						//Mapped for use in UiSelect component
  						label: y.Name,
  						value: y.ExternalIdentifier,
  						ExternalIdentifier: y.ExternalIdentifier,
  						Colour: y.Colour,
  						Name: y.Name,
  					};
  					return null;
  				});
  		},
  		thereAreHandoverNotes() {
  			return this.patient.HandoverNotes && this.patient.HandoverNotes.length > 0;
  		},
  		getInRequestContextHandoverForActiveTeam() {
  			//Filter handovers for selected team - will trigger whenever SelectedMemberAreaID changes, returns null if none found

  			let returnObj;

  			//if (!this.ViewTeamRolesForNetwork) {
  			//Treat as legacy - no ViewTeamRolesForNetwork permission so will be returned as 'Defaut' role

  			if (this.thereAreHandoverNotes && Array.isArray(this.HandoverStaging) && this.HandoverStaging.length) {
  				returnObj =
  					this.HandoverStaging.map(x => {
  						if (!this.ViewTeamRolesForNetwork && x.IsCurrent) return x; //No permission for Profiles
  						if (x.Profile.ExternalIdentifier === this.SelectedRole.ExternalIdentifier && x.IsCurrent) return x;
  						//if (x.IsCurrent && x.Profile && x.Profile.Name === 'Default') return x; //TODO: Check ExternalIdentifier?
  						return null;
  					})
  						.filter(Boolean)
  						.filter((y, index, array) => {
  							if (array.length > 1) {
  								return y.Profile.Name !== 'Default'; //TODO: Check ExternalIdentifier?
  								return y;
  							}
  							return y;
  						})[0] || null;
  				this.getHandoverNotesValue(returnObj);
  				return returnObj;
  			} else if (!this.thereAreHandoverNotes) {
  				//No handover so return default / empty model
  				this.getHandoverNotesValue(null);
  				return null;
  			}
  		},
  		handoverInputsAreValidForUpsert() {
  			if (!this.IsEditingHandover && this.getInRequestContextHandoverForActiveTeam) return false;
  			let s = this.HandoverNotesRendered[0].Value.trim().length > 0;
  			let b = this.HandoverNotesRendered[1].Value.trim().length > 0;
  			let a = this.HandoverNotesRendered[2].Value.trim().length > 0;
  			let r = this.HandoverNotesRendered[3].Value.trim().length > 0;

  			if (!this.getInRequestContextHandoverForActiveTeam) {
  				if ((s || b || a || r) && (this.SelectedMemberAreaID && this.SelectedRole.ExternalIdentifier)) return true;
  			}

  			if (this.thereAreHandoverNotes && this.getInRequestContextHandoverForActiveTeam) {
  				if ((s || b || a || r) && (!this.jsonIsEqual({ a: this.HandoverNotesRendered }, { a: this.getInRequestContextHandoverForActiveTeam.Notes }) || this.SelectedMemberAreaID !== this.getInRequestContextHandoverForActiveTeam.MemberAreaId)) return true;
  				return false;
  			}

  			if (!this.ViewTeamRolesForNetwork) {
  				//Non handover role team
  				if ((s || b || a || r) && this.SelectedMemberAreaID) return true;
  			}

  			return false;
  		},
  	},

  	methods: {
  		getTeamsUserCanHandoverFrom() {
  			//Get the logged in users member areas to check permissions for handover
  			if (!Vault.getItem('GetRequestingUserSummary')) return [];

  			return Vault.getItem('GetRequestingUserSummary')
  				.Data.MemberAreasAndPermissions.filter(x => {
  					if (!x.IsNetwork && x.NetworkId === this.networkId && x.Permissions.includes('UpsertHandoverNote')) return x;
  					return null;
  				})
  				.filter(Boolean);
  		},
  		setHandoverNotesClone() {
  			//Lets get all of the handovers for this patient
  			if (this.thereAreHandoverNotes) {
  				this.HandoverStaging = JSON.parse(JSON.stringify(this.patient.HandoverNotes)); //Deep
  				return this.HandoverStaging;
  			}
  			return [];
  		},
  		getHandoverStagingModel() {
  			return [
  				//Default, overwritten if thereAreHandoverNotes on init with the collection of handovers
  				{
  					AddedPriorToAdmissionDate: false,
  					DateLastUpdated: null,
  					DaysSinceLastUpdate: 0,
  					GroupName: '',
  					IsCurrent: true,
  					MemberAreaId: null,
  					Notes: [
  						{
  							Key: 'Situation',
  							Position: 0,
  							Value: '',
  						},
  						{
  							Key: 'Background',
  							Position: 1,
  							Value: '',
  						},
  						{
  							Key: 'Assessment',
  							Position: 2,
  							Value: '',
  						},
  						{
  							Key: 'Recommendation',
  							Position: 3,
  							Value: '',
  						},
  					],
  					Scope: 'TeamRole',
  					UpdatedByName: '',
  					Profile: {
  						ExternalIdentifier: '',
  						Colour: '',
  						Name: '',
  						NotFound: false,
  					},
  				},
  			];
  		},
  		getHandoverNotesValue(obj) {
  			//Whenever getInRequestContextHandoverForActiveTeam updates
  			if (obj && typeof obj === 'object' && obj.hasOwnProperty('MemberAreaId')) {
  				return (this.HandoverNotesRendered = JSON.parse(JSON.stringify(obj.Notes)));
  			}
  			return (this.HandoverNotesRendered = [
  				{
  					Key: 'Situation',
  					Position: 0,
  					Value: '',
  				},
  				{
  					Key: 'Background',
  					Position: 1,
  					Value: '',
  				},
  				{
  					Key: 'Assessment',
  					Position: 2,
  					Value: '',
  				},
  				{
  					Key: 'Recommendation',
  					Position: 3,
  					Value: '',
  				},
  			]);
  		},
  		saveHandover() {
  			this.IsLoading = true;
  			UpsertHandoverNote.callApi(this.SelectedMemberAreaID, this.HandoverNotesRendered[0].Value, this.HandoverNotesRendered[1].Value, this.HandoverNotesRendered[2].Value, this.HandoverNotesRendered[3].Value, this.patientId, this.SelectedRole.ExternalIdentifier || '')
  				.then((response, textStatus, xhr) => {
  					if (/^2/.test(xhr.status)) {
  						//TODO: - Can we remove below as modal is now closed on save?

  						//Success
  						appMain.triggerAppNotification({
  							Text: 'Handover started successfully',
  							Heading: '',
  							Icon: 'success',
  						});

  						this.setHandoverNotesClone();
  						this.IsEditingHandover = false;

  						VueEventBus.$emit('PatientHandoverModal.Updated', {
  							PatientExternalIdentifier: this.patientId,
  							Handover: {
  								AddedPriorToAdmissionDate: false,
  								DateLastUpdated: moment(),
  								DaysSinceLastUpdate: 0,
  								GroupName: appMain.getMemberAreaName(this.SelectedMemberAreaID),
  								IsCurrent: true,
  								MemberAreaId: this.SelectedMemberAreaID,
  								Notes: this.HandoverNotesRendered,
  								Scope: 'TeamRole',
  								Profile: this.SelectedRole,
  								UpdatedByName: Vault.getItem('LoggedInUserName'),
  							},
  						}); //Component name > event. FAB needs to emit via event bus (until VuEx), probably not a direct parent / component relationship

  						this.IsLoading = false;
  						this.$emit('modal-handover-saved'); //Tell parent, modal will close on this event via parent method
  					}
  				})
  				.fail(error => {
  					this.IsLoading = true;
  				});
  		},
  		cancelHandoverEdit() {
  			this.IsEditingHandover = false;
  			return this.setHandoverNotesClone();
  		},
  		locationOptionSelected(selectedValue) {
  			if (this.SelectedMemberAreaID === selectedValue.value) return;

  			this.SelectedTeamDataPendingConfirm = selectedValue;

  			if (this.handoverInputsAreValidForUpsert && this.SelectedTeamDataPendingConfirm.value !== this.SelectedMemberAreaID) {
  				//Valid for a new upsert
  				return this.openModal('confirm-teamchange-modal'); //If editing and changing teams, need to confirm it!
  			}

  			return this.changeSelectedTeam();
  		},
  		roleSelected(selectedValue) {
  			this.SelectedRoleDataModelPendingConfirm = {
  				label: selectedValue.label,
  				value: selectedValue.value,
  				ExternalIdentifier: selectedValue.ExternalIdentifier,
  				Colour: selectedValue.Colour,
  				Name: selectedValue.Name,
  			};

  			if (this.handoverInputsAreValidForUpsert) {
  				//Valid for a new upsert
  				return this.openModal('confirm-rolechange-modal'); //If editing and changing roles, need to confirm it!
  			}

  			return this.changeSelectedRoleData();
  		},

  		changeSelectedRoleData() {
  			if (!this.SelectedRoleDataModelPendingConfirm) return;
  			this.SelectedRole = this.SelectedRoleDataModelPendingConfirm;
  			this.IsEditingHandover = false;
  		},
  		changeSelectedTeam() {
  			if (!this.SelectedTeamDataPendingConfirm) return;

  			(this.SelectedMemberArea = {
  				//DDL model default
  				label: this.SelectedTeamDataPendingConfirm.label,
  				value: this.SelectedTeamDataPendingConfirm.value,
  			}),
  				//Reset roles, memberareaId changed
  				(this.SelectedRole = {
  					//DDL model default
  					label: '',
  					value: '',
  					ExternalIdentifier: '',
  					Colour: '',
  					Name: '',
  				});

  			this.IsEditingHandover = false;
  			this.SelectedMemberAreaID = this.SelectedTeamDataPendingConfirm.value;
  			return (this.SelectedTeamDataPendingConfirm = null);
  		},
  		openModal(ref) {
  			this.$refs[ref].open();
  		},
  		closeModal(ref) {
  			this.$refs[ref].close();
  		},
  		jsonIsEqual(a, b) {
  			if (!a) a = {};
  			if (!b) b = {};

  			return JSON.stringify(a) === JSON.stringify(b);
  		},
  	},
  	created() {
  		if (this.ViewTeamRolesForNetwork) {
  			TeamRoles.callApi(appMain.getNetworkExternalNetworkId(this.networkId), 0, 50).then((response, textStatus, xhr, fullResponse) => {
  				this.TeamRoles = response.Data;
  				this.setHandoverNotesClone();
  			});
  		} else {
  			this.setHandoverNotesClone();
  		}
  	},
  	mounted() {},
  	deforeDestroy() {},
  };
</script>

<style lang="less">
  .ui-textbox__label-text {
  	margin: 0 0 0.5em 0;
  }
</style>
<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../less/app-variables.less';

  .handover-modal-wrapper {
  	min-height: 70vh;
  }

  .modal__header {
  	margin: 0 0 2em 0;
  	padding: 0 0 1em 0;
  	//border-bottom: 1px solid @row--border;
  }

  .modal__body {
  	& .body__row {
  		margin: 0 0 3em 0;
  		& .handover-txt {
  			hyphens: auto;
  			white-space: pre-line;
  			width: 100%;
  		}
  		& .handover-key {
  			font-weight: @font--medium;
  			margin: 0 0 0.5em 0;
  		}

  		& .ui-textbox__label-text {
  			margin: 0 0 0.5em 0;
  		}
  	}
  }
  .modal__footer {
  	margin: 2em 0 5em 0;
  	padding: 2em 0 0 0;
  }
  .modal__meta-description {
  	color: @text-light;
  }

  .select-role-splash {
  	color: @text-light;
  	display: flex;
  	align-content: center;
  	align-items: center;
  	i.material-icons {
  		font-size: 24px;
  	}
  }
</style>

<custom>FAB - Patient context</custom>
