<template>
	<div class="lists-modal-wrapper">
		<ModalPatientBanner :patient="patient" :patientId="patientId" :networkId="networkId" :memberAreaId="memberAreaId"></ModalPatientBanner>
		<!-- <div class="modal__header"></div> -->
		<div class="modal__body">
			<PatientListMemberships :isModal="true" :patientId="patientId" :networkId="networkId" :memberAreaId="memberAreaId"></PatientListMemberships>
		</div>
		<!-- <div class="modal__footer"></div> -->
	</div>
</template>

<script>
/*Mixins*/
import DateFilter from 'VueMixins/dateFilter';
/*Components*/
import ModalPatientBanner from 'VueComponents/patientBanners/ModalPatientBanner';
import PatientListMemberships from 'VueComponents/patientTeamListMemberships/PatientListMemberships';

/* API Endpoints */
import Vault from 'Endpoints/careflowApp/Vault';

//Utils

export default {
	data() {
		return {
			IsLoading: false,
			Patient: this.patient,
			PatientId: this.patientId,
			TeamsUserCanBePinnedTo: []
		};
	},
	props: {
		patient: {
			type: [Object, String],
			required: true
		},
		patientId: {
			type: [String, Number],
			required: true
		},
		memberAreaId: {
			type: [String, Number],
			required: false
		},
		networkId: {
			type: [String, Number],
			required: true
		}
	},
	components: { ModalPatientBanner, PatientListMemberships },
	mixins: [DateFilter],
	filters: {},
	watch: {},
	computed: {},

	methods: {},
	created() {},
	mounted() {},
	deforeDestroy() {}
};
</script>

<style lang="less" rel="stylesheet/less" type="text/less">
@import '../../../../less/app-variables.less';

.lists-modal-wrapper {
	min-height: 70vh;
}
.modal__footer {
	margin: 2em 0 5em 0;
	padding: 2em 0 0 0;
}
</style>

<custom>FAB - Patient context team lists</custom>
