<template>
  <div class="update-modal-wrapper">
    <ModalPatientBanner v-if="patient && patientId" :patient="patient" :patientId="patientId" :networkId="networkId" :memberAreaId="memberAreaId"></ModalPatientBanner>
    <div class="modal__body">
      <PostUpdate @update-saved="$emit('modal-update-saved')" @add-patient-to-update="$emit('add-patient-to-update',true)" :isModal="true" :patientId="patientId" :patient="patient" :networkId="networkId" :memberAreaId="memberAreaId" :isNetworkMemberAreaId="isNetworkMemberAreaId"></PostUpdate>
    </div>
  </div>
</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  /*Components*/
  import ModalPatientBanner from 'VueComponents/patientBanners/ModalPatientBanner';
  import PostUpdate from 'VueComponents/postFeedContent/PostUpdate';

  /* API Endpoints */
  import Vault from 'Endpoints/careflowApp/Vault';

  //Utils
  export default {
  	data() {
  		return {
  			IsLoading: false,
  			Patient: this.patient,
  			PatientId: this.patientId,
  		};
  	},
  	props: {
  		patient: {
  			type: [Object, String],
  			required: false,
  		},
  		patientId: {
  			type: [String, Number],
  			required: false,
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false,
  		},
  		networkId: {
  			type: [String, Number],
  			required: true,
  		},

  		isNetworkMemberAreaId: {
  			//For Network updates - memberAreaId === networkMemberAreaId
  			type: [Boolean],
  			required: false,
  			default: false,
  		},
  	},
  	components: { ModalPatientBanner, PostUpdate },
  	mixins: [DateFilter],
  	filters: {},
  	watch: {},
  	computed: {},

  	methods: {},
  	created() {},
  	mounted() {},
  	deforeDestroy() {},
  };
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../less/app-variables.less';

  .update-modal-wrapper {
  	min-height: 70vh;
  }
</style>

<custom>FAB - Patient context post update OR team update (non patient)</custom>
