<template>
  <div class="tags-modal-wrapper">
    <ModalPatientBanner :patient="patient" :patientId="patientId" :networkId="networkId" :memberAreaId="memberAreaId"></ModalPatientBanner>
    <!-- <div class="modal__header"></div> -->
    <div class="modal__body">
      <ManagePatientClinicalTags :isModal="true" :isSubmitted="isSubmitted" @parent-modal-emit="parentModalEmit" @tags-saved="$emit('modal-tags-saved')" :patientId="patientId" :patient="patient" :networkId="networkId" :memberAreaId="memberAreaId"></ManagePatientClinicalTags>
    </div>
  </div>
</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  /*Components*/
  import ModalPatientBanner from 'VueComponents/patientBanners/ModalPatientBanner';
  import ManagePatientClinicalTags from 'VueComponents/patientClinicalTags/ManagePatientClinicalTags';

  /* API Endpoints */
  import Vault from 'Endpoints/careflowApp/Vault';

  //Utils
  export default {
  	data() {
  		return {
  			IsLoading: false,
  			Patient: this.patient,
  			PatientId: this.patientId,
  		};
  	},
  	props: {
  		patient: {
  			type: [Object, String],
  			required: true,
  		},
  		patientId: {
  			type: [String, Number],
  			required: true,
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false,
  		},
  		networkId: {
  			type: [String, Number],
  			required: true,
  		},
  		isSubmitted: {
  			type: [Boolean],
  			required: false,
  		},
  	},
  	components: { ModalPatientBanner, ManagePatientClinicalTags },
  	mixins: [DateFilter],
  	filters: {},
  	watch: {},
  	computed: {},

  	methods: {
  		closeModal(ref) {
  			this.$refs[ref].close();
  		},
  		parentModalEmit(command, param) {
  			this.$emit('parent-modal-emit', command, param);
  		},
  	},
  	created() {},
  	mounted() {},
  	deforeDestroy() {},
  };
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../less/app-variables.less';
  .tags-modal-wrapper {
  	min-height: 70vh;
  }
</style>

<custom>FAB - Patient context patient referral</custom>
