<template>
  <div class="updates-box">

    <div :class="{'view-block__title--large': true}">Organisation updates<div v-on:click="getFeedItem(null)" class="view-all-link">View all</div>
    </div>
    <div data-scroll="true" data-full-height-deduct-exclude="js-directory-widget" class="updates-wrapper js-fullHeight-bodyElement">

      <div v-if="IsLoading" style="background: #fff;">
        <div style="height:25px" v-for="n in 20" :key="n" class="">
          <vue-content-loading>
            <rect x="10" y="10" rx="4" ry="4" height="8" width="340"></rect>
          </vue-content-loading>
        </div>
      </div>

      <template v-else>
        <div v-for="(item) in getFeedItemsToDisplay" :key="item.ConversationTrackableItemId" class="item">
          <span v-on:click="getFeedItem(item.ConversationTrackableItemId)" class="item-title">{{item.Title}}</span><span class="item-date">{{item.OrderingDate | formatDate}}</span>
        </div>
        <div class="empty-results" v-if="!IsLoading && !getFeedItemsToDisplay.length">There are no recent organisation updates.</div>
      </template>
    </div>
  </div>
</template>

<script>
  /*API*/
  import GetPreviousHomeFeedItems from 'Endpoints/homeFeed/GetPreviousHomeFeedItems';
  /*Utils*/
  import DateFilter from 'VueMixins/dateFilter';
  import Vault from 'Endpoints/careflowApp/Vault';
  /*Components*/
  import appMain from 'AppJs/app-main';
  import appRouter from 'AppJs/app-router';
  import { VueContentLoading } from 'vue-content-loading';

  export default {
  	data: function() {
  		return {
  			IsLoading: false,
  			IsLoading: false,
  			ThereAreMore: false,
  			FeedData: []
  		};
  	},
  	props: {
  		networkId: {
  			type: [Number, String],
  			required: true,
  			default: null
  		}
  	},
  	mixins: [DateFilter],
  	components: { VueContentLoading },
  	filters: {},
  	methods: {
  		getFeedItems() {
  			return GetPreviousHomeFeedItems.callApi(
  				moment
  					.utc()
  					.add(1, 'minute')
  					.local()
  					.format('YYYY-MM-DDTHH:mm:ss'),
  				appMain.getNetworkMemberAreaId(this.networkId),
  				this.NetworkId
  			)
  				.then((response, textStatus, jqXHr) => {
  					this.ThereAreMore = response.Data.ThereAreMore;
  					this.FeedData.push(...response.Data.HomeFeedItems);
  				})
  				.fail(error => (this.IsLoading = false));
  		},

  		getFeedItem(contentItemId) {
  			if (!contentItemId)
  				return appRouter.careflowAppRouter.setLocation(
  					`/#/${this.networkId}/Network/Updates`
  				);
  			return appRouter.careflowAppRouter.setLocation(
  				`/#/${this.networkId}/Network/Updates/${contentItemId}`
  			);
  		}
  	},
  	computed: {
  		getFeedItemsToDisplay() {
  			if (!this.FeedData) return [];

  			if (this.FeedData.length > 3) return this.FeedData.slice(0, 3);
  			return this.FeedData;
  		}
  	},
  	watch: {},
  	created() {
  		this.IsLoading = true;
  		this.getFeedItems()
  			.then(response => {
  				this.IsLoading = false;
  			})
  			.fail(error => {
  				this.IsLoading = false;
  			});
  	},
  	beforeDestroy() {},
  	mounted() {
  		appMain.setElementsAsFullHeight();
  	},
  	updated() {}
  };
</script>


<style scoped lang="less">
  @import '../../../../less/app-variables.less';
  .updates-box {
  	//margin: 1em 0 0 0;
  }
  .updates-wrapper {
  	background: #fff;
  	//padding: 0.8em;
  }
  .item {
  	display: flex;
  	//flex-direction: column;
  	//justify-content: space-between;
  	flex-wrap: wrap;
  	flex: 1;
  	flex-grow: inherit;
  	padding: 0.4em 0.2em 0.4em 0.6em;
  	margin: 0 0 0.2em 0;
  	box-sizing: border-box;
  }
  .view-block__title--large {
  	display: flex;
  	padding: 1em 0.6em 1em 0.6em;
  }
  .view-all-link {
  	font-size: @font-size-root;
  	color: @link--active;
  	text-transform: none;
  	margin-left: auto;
  	&:hover {
  		cursor: pointer;
  	}
  }
  .item-row {
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  }
  .item-title {
  	display: flex;
  	margin: 0 0.7em 0 0;
  	color: @link--active;
  	&:hover {
  		cursor: pointer;
  	}
  }
  .item-date {
  	color: @text-light;
  	display: flex;
  	font-weight: @font--normal;
  }
  .empty-results {
  	padding: 0.8em;
  }
</style>
