<template>
  <div>
    <ui-modal class="" :dismissible="false" :backdropDismissible="false" :promptBeforeClose="OpenModalIsValidForUpsert" dismissOn="close-button" ref="PreferredNetworkModal" size="small" title="Please select a preferred network" @close="modalClosed()">
      <p>This is the network you will be taken to when you sign into the CareFlow Connect mobile or web apps.</p>
      <p>This can be updated by selecting the menu icon <i class="material-icons icon-burger">menu</i> and clicking the star icon next to the desired network.</p>
      <div v-for="(network) in UsersNetworks.Networks" :key="network.NetworkId">
        <ui-checkbox :disabled="IsLoading || (SelectedNetworks.length > 0 && !SelectedNetworks.includes(network.NetworkId))" boxPosition="left" :checked="false" :value="SelectedNetworks" :trueValue="network.NetworkId" :falseValue="network.NetworkId" @change="selectNetwork">{{network.Name}}</ui-checkbox>
      </div>
      <div slot="footer">
        <ui-button :disabled="SelectedNetworks.length !== 1" :loading="IsLoading" @click="setPreferredNetwork" color="primary">Save</ui-button>
      </div>
    </ui-modal>
  </div>
</template>

<script>
  /*API*/
  import SetAsPreferredNetwork from 'Endpoints/networks/SetAsPreferredNetwork';
  /*Utils*/

  import Vault from 'Endpoints/careflowApp/Vault';
  /*Components*/

  import appMain from 'AppJs/app-main';
  import appRouter from 'AppJs/app-router';

  export default {
  	data: function() {
  		return {
  			IsLoading: false,
  			UsersNetworks: appMain.getNetworksUserIsMemberOf(),
  			PreferredNetwork: null,
  			SelectedNetworks: [],
  			OpenModalIsValidForUpsert: false, //default - this modal is non user dismissable
  			ComponentKey: null
  		};
  	},
  	props: {
  		preferredNetwork: {
  			type: [Number, String],
  			required: false,
  			default: null
  		}
  	},
  	mixins: [],
  	components: {},
  	filters: {},
  	methods: {
  		selectNetwork(val) {
  			if (this.SelectedNetworks.includes(val)) {
  				this.SelectedNetworks = [];
  			} else {
  				this.SelectedNetworks.push(val);
  			}
  		},
  		setPreferredNetwork() {
  			this.IsLoading = true;
  			SetAsPreferredNetwork.callApi(this.SelectedNetworks[0])
  				.then((data, textStatus, jqXHr) => {
  					if (jqXHr.status === 200) {
  						appMain.getRequestingUserSummary().then(() => {
  							this.IsLoading = false;
  							this.$refs['PreferredNetworkModal'].close(); //Close the Modal
  							appRouter.careflowAppRouter.setLocation(
  								`/#/${this.SelectedNetworks[0]}/Home`
  							); //Reload route
  						});
  					}
  				})
  				.fail(error => {
  					this.IsLoading = false;
  					appMain.triggerAppNotification({
  						Heading: 'Preferred network not set',
  						Text:
  							'We were unable to set your preferred network, please try again',
  						Icon: 'error'
  					});
  				});
  		},
  		modalClosed() {}
  	},
  	computed: {},
  	watch: {},
  	created() {},
  	beforeDestroy() {},
  	mounted() {
  		this.$refs['PreferredNetworkModal'].open(); //Open the Modal
  	},
  	updated() {}
  };
</script>


<style scoped lang="less">
  @import '../../../../less/app-variables.less';
  .ui-checkbox {
  	margin-bottom: 0.7rem;
  }
  .icon-burger {
  	font-size: 18px;
  	line-height: inherit;
  	position: relative;
  	top: 4px;
  }
</style>
