﻿<template>
  <div class="team-list">
    <div data-full-height-deduct="true" class="list-header">
      <div class="view-block__title--large">Teams</div>
      <div class="join-teams-link btn--plain" v-on:click="getJoinTeamsModal('TeamsModal')">Join Team</div>
    </div>
    <div data-scroll="true" class="js-fullHeight-bodyElement">
      <template v-if="IsLoadingRequestingSummary || !NetworkID">
        <div v-for="n in 50" :key="n" class="feed-loading-content">
          <VueContentLoading :width="390" :height="20">
            <rect x="10" y="10" rx="4" ry="4" height="8" width="300"></rect>
            <rect x="340" y="10" rx="4" ry="4" height="8" width="30"></rect>
          </VueContentLoading>
        </div>
      </template>
      <template v-else>
        <template v-if="!TeamsUserIsAmemberOf.length">
          <div class="loader-wrapper">
            You are not yet a member of any teams. Click 'Join Team' above to manage your team memberships for this network.
          </div>
        </template>
        <template v-else>
          <TeamListItem v-for="(item) in TeamsUserIsAmemberOf" :key="item.AccessGroupID" :networkId="networkId" :team="item" :unreadItems="TeamsUnreadData.filter(x => x.AccessGroupID === item.AccessGroupID)" @user-left-team="usersTeamsUpdated"></TeamListItem>
        </template>
      </template>
    </div>
    <ui-modal class="ui-modal--full-height-fixed" :promptBeforeClose="OpenModalIsValidForUpsert" dismissOn="close-button" ref="TeamsModal" size="large" title="Join teams" @close="modalClosed()">
      <ManageTeamsComponent v-if="ComponentKey" :networkId="networkId" @teams-updated="usersTeamsUpdated"></ManageTeamsComponent>
    </ui-modal>
  </div>
</template>

<script>
  /*API*/
  /*Utils*/
  import PubSub from 'Endpoints/careflowApp/PubSub';
  import Vault from 'Endpoints/careflowApp/Vault';
  /*Components*/
  import ManageTeamsComponent from 'VueComponents/usersTeamManagement/ManageTeamMemberships';
  import TeamListItem from 'VueComponents/networkHome/components/TeamListItem';
  import { VueContentLoading } from 'vue-content-loading';
  import appMain from '../../../app/app-main';

  export default {
  	data: function() {
  		return {
  			TeamsUserIsAmemberOf: this.getTeamsUserIsAmemberOf() || [],
  			NetworkID: this.networkId,
  			IsItSupport: false,
  			IsLoading: true,
  			TeamsUnreadData: [],
  			OpenModalIsValidForUpsert: false, //default
  			ComponentKey: null,
  			IsLoadingRequestingSummary: true //default on load
  		};
  	},
  	props: {
  		networkId: {
  			type: [Number],
  			required: true
  		},
  		refreshRequestingSummary: {
  			type: [Boolean, String],
  			required: false,
  			default: false
  		}
  	},
  	mixins: [],
  	components: { ManageTeamsComponent, TeamListItem, VueContentLoading },
  	filters: {},
  	methods: {
  		getTeamsUserIsAmemberOf() {
  			let data = Vault.getItem('ActiveNetworkGroupMemberships');
  			if (this.networkId === data.NetworkId) return data.TeamsUserIsMemeberOf;
  			return [];
  		},

  		getJoinTeamsModal(ref) {
  			if (this.IsLoadingRequestingSummary) return;
  			this.ComponentKey = Date.now();
  			this.$refs[ref].open(); //Open the Modal
  		},

  		setCountOfUnreadTeamItems(obj) {
  			//   {"Data":{"Code":1,"Data":{"NetworkID":1215,"NetworkTotal":3,"Groups":[{"AccessGroupID":106758,"Updates":1},{"AccessGroupID":106819,"Updates":2}],"Alerts":0},"Message":"Unread item counts retrieved"}}
  			if (
  				!obj ||
  				!obj.hasOwnProperty('Data') ||
  				obj.Data.Data.NetworkID !== this.networkId
  			)
  				return;
  			if (obj.Data.Data.hasOwnProperty('Groups') && obj.Data.Data.Groups)
  				this.TeamsUnreadData = obj.Data.Data.Groups;
  		},

  		getTeamPermissions(memberAreaId) {
  			if (!memberAreaId) return [];
  			return appMain.getUserPermissionsForMemberArea(memberAreaId);
  		},

  		usersTeamsUpdated(obj) {
  			if (!obj) return;
  			this.TeamsUserIsAmemberOf = this.getTeamsUserIsAmemberOf(); //Vault cache will have been updated
  		},
  		modalClosed() {
  			this.ComponentKey = null;
  		},
  		getRequestingUserSummaryIsUpdated() {
  			this.TeamsUserIsAmemberOf = this.getTeamsUserIsAmemberOf();
  			this.IsLoadingRequestingSummary = false;
  		},
  		getRequestingUserSummaryIsUpdating(val) {
  			console.log('GetRequestingUserSummary.IsUpdating: ' + val);
  			this.IsLoadingRequestingSummary = val;
  		}
  	},
  	computed: {},
  	watch: {},
  	created() {
  		//Events
  		VueEventBus.$on(
  			'BadgeCounts.UnreadCountsForSingleNetworkUpdated',
  			this.setCountOfUnreadTeamItems
  		);
  		VueEventBus.$on('Modal.ValidityUpdate', val => {
  			this.OpenModalIsValidForUpsert = val;
  		});
  		VueEventBus.$on(
  			'GetRequestingUserSummary.IsUpdated',
  			this.getRequestingUserSummaryIsUpdated
  		);
  		VueEventBus.$on(
  			'GetRequestingUserSummary.IsUpdating',
  			this.getRequestingUserSummaryIsUpdating
  		);

  		if (this.refreshRequestingSummary)
  			appMain
  				.getRequestingUserSummary()
  				.then(response => {})
  				.catch(error => {}); //Handlers above will trigger stats updates
  	},
  	beforeDestroy() {
  		//Cancel events
  		VueEventBus.$off(
  			'BadgeCounts.UnreadCountsForSingleNetworkUpdated',
  			this.setCountOfUnreadTeamItems
  		);
  		VueEventBus.$off('Modal.ValidityUpdate');
  		VueEventBus.$off(
  			'GetRequestingUserSummary.IsUpdating',
  			this.getRequestingUserSummaryIsUpdating
  		);
  		VueEventBus.$off(
  			'GetRequestingUserSummary.IsUpdated',
  			this.getRequestingUserSummaryIsUpdated
  		);
  	},
  	mounted() {
  		if (!this.refreshRequestingSummary && this.getTeamsUserIsAmemberOf().length)
  			this.IsLoadingRequestingSummary = false;
  		appMain.setElementsAsFullHeight();
  	},
  	updated() {}
  };
</script>

<style lang="less">
  .list-header {
  	//UNSCOPED - wrap in parent
  }
</style>


<style scoped lang="less">
  @import '../../../../less/app-variables.less';
  .loader-wrapper {
  	display: flex;
  	justify-content: flex-start;
  	padding: 1em 1em 1em 0.8em;
  	box-sizing: border-box;
  }
  .team-list {
  	background: #fff;
  	display: flex;
  	flex-direction: column;
  	//padding-bottom: 5em;
  	box-sizing: border-box;
  }
  .list-header {
  	display: flex;
  	flex-flow: row;
  	align-items: center;
  	justify-content: space-between;
  	padding: 0 1em 0 0;
  	box-sizing: border-box;
  }
  .join-teams-link {
  	font-size: 1.1em;
  	text-transform: uppercase;
  	&:hover {
  		cursor: pointer;
  	}
  }
  .feed-loading-content {
  	height: 25px; //matches dynamic set height of svg loader + 5
  }
</style>
