﻿<div data-full-height-deduct="true" class="createFeedContent--userMessage js-messageReply view-block">
    <form class="pure-form js-messageReply-form">
        <fieldset>
            <textarea data-parsley-required="true" data-parsley-required-message="A message is required" data-ajaxload-disable="true" class="pure-u-22-24 u-feed-update-txt-area js-input-expand--down js-post-message-body-txt" placeholder="Type your message..."></textarea>
            <button type="button" data-ajaxload-disable="true" class="btn js-post-message--submitBtn">Send</button>
        </fieldset>
    </form>
</div>