﻿<!--<div data-full-height-deduct="true" class="l-box">
    <span class="view-block__title">Subscription</span>
</div>-->

<div data-scroll="true" class="js-fullHeight-bodyElement">
    <div class="alertSubscription l-box">

        <div class="alertSubscription__section">
            <span class="view-block__title">1. Topics</span>

            <i>What type of alerts do you want to be sent</i>

            <div class="js-alertSubscription-edit-topics-template"></div>

        </div>

        <div class="alertSubscription__section">
            <span class="view-block__title">2. Patients</span>

            <i>What patients do you want to be notified about?</i>

            <div class="alertSubscription__patients-wrap js-alertSubscription-edit-patients-template"></div>
        </div>

        <div class="alertSubscription__section">
            <span class="view-block__title">3. Subscription colour</span>

            <i>This will help you recognise alerts from this subscription</i>
            <div class="alertSubscription-edit-colour js-alertSubscription-edit-colour-template"></div>
        </div>

        <div class="alertSubscription__section">
            <span class="view-block__title">4. Subscription type</span>

            <i>Keep your subscription personal or give the subscription to every member of your team</i>
            <div class="alertSubscription-edit-type js-alertSubscription-edit-type-template"></div>
        </div>
    </div>
</div>