﻿<div class="pure-form">
    <select class="js-groupSubscription-groups-ddl">
        <option value="">Select a team</option>
        {{#Data.Groups}}
        <option value="{{MemberAreaID}}">{{Name}}</option>
        {{/Data.Groups}}
    </select>
</div>