﻿{{#each this}}
<ul class="alertSubscription__ul-itemList">
    <li><input data-topicdata="" value="" class="js-alertSubscription-topic-chk" type="checkbox" /><span class="topic-title">All topics</span> </li>
    {{#Topics}}
    {{#if Enabled}}
    <li>
        <input data-topicdata="{{JSON2string this}}" value="{{TopicId}}" class="js-alertSubscription-topic-chk" type="checkbox" /><span class="topic-title"> {{Title}}</span> 
        {{#if HealthcareAppDetails}}
        <span class="topic-description">{{HealthcareAppDetails.Description}}</span>
        <span class="topic-name">{{HealthcareAppDetails.Name}} {{#if HealthcareAppDetails.ProviderName}} ({{HealthcareAppDetails.ProviderName}}){{/if}}</span>
        <!--<img class="alertsubscription__imgIcon" src="Content/img/views/alerts/sbri_app_icon.png" />-->
        {{else}}
        <span class="topic-description">{{Description}}</span>
        {{/if}}
    </li>
    {{/if}}
    {{/Topics}}
</ul>
{{/each}}