﻿<!--<div data-full-height-deduct="true" class="l-box">
    <span class="view-block__title">Subscription</span>
</div>-->

<div data-scroll="true" class="js-fullHeight-bodyElement">
    <div class="alertSubscription l-box">
        {{#each this}}
        <div class="alertSubscription__section">
            <span class="view-block__title">1. Topics{{#unless IsGroup}}<button type="button" data-context="topics" data-subscription-id="{{SubscriptionId}}" class="btn--plain u-pull-right js-alertSubscription-edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>{{/unless}}</span>
            <i>What type of alerts do you want to be sent</i>

            <div class="js-alertSubscription-edit-topics-template">

                <ul class="alertSubscription__ul-itemList">
                    {{#Topics}}
                    <li>{{Title}}</li>
                    {{else}}
                    <li>All topics</li>
                    {{/Topics}}
                </ul>
            </div><!--Edit Mode-->
        </div>
        <div class="alertSubscription__section">
            <span class="view-block__title">2. Patients{{#unless IsGroup}}<button type="button" data-context="patients" data-subscription-id="{{SubscriptionId}}" class="btn--plain u-pull-right js-alertSubscription-edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>{{/unless}}</span>

            <i>What patients do you want to be notified about?</i>

            <div class="alertSubscription__patients-wrap js-alertSubscription-edit-patients-template">

                <ul class="alertSubscription__ul-itemList">

                    {{#is Type.PopulationType "NoneProvided"}}
                    {{#Site}}
                    <li>{{SiteName}}</li>
                    {{else}}
                    <li>All sites</li>
                    {{/Site}}
                    {{/is}}

                    {{#is Type.PopulationType "Clinician"}}

                    <li>{{Type.PopulationName}}</li>

                    {{#Site}}
                    <li>{{SiteName}}</li>
                    {{else}}
                    <li>All sites</li>
                    {{/Site}}

                    {{/is}}

                    {{#is Type.PopulationType "Area"}}

                    <li>{{Type.PopulationName}}</li>
                    <li>{{Site.0.SiteName}}<br /> <!--Can't be Area without Site--></li>

                    {{/is}}
                </ul>
            </div>
        </div>
        <div class="alertSubscription__section">
            <span class="view-block__title">3. Subscription colour{{#unless IsGroup}}<button type="button" data-context="colour" data-subscription-id="{{SubscriptionId}}" class="btn--plain u-pull-right js-alertSubscription-edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>{{/unless}}</span>

            <i>This will help you recognise alerts from this subscription</i>
            <div class="alertSubscription-edit-colour js-alertSubscription-edit-colour-template">
                <ul class="alertSubscription__ul-itemList">

                    <li>
                        {{#if SubscriptionColour}}
                        <span data-colour-ref="{{SubscriptionColour}}" class="alertSubscription__colourBlock" style="background-color:#{{SubscriptionColour}}"></span>
                        {{/if}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="alertSubscription__section">
            <span class="view-block__title">4. Subscription type{{#unless IsGroup}}<button type="button" data-context="type" data-subscription-id="{{SubscriptionId}}" class="btn--plain u-pull-right js-alertSubscription-edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>{{/unless}}</span>

            <i>Keep your subscription personal or give the subscription to every member of your team</i>
            <div class="alertSubscription-edit-type js-alertSubscription-edit-type-template">


                <ul class="alertSubscription__ul-itemList">
                    <li class="js-alertSubscription-subscription-type" data-type="{{#if IsGroup}}group{{else}}personal{{/if}}">{{#if IsGroup}}Team subscription{{else}}Personal subscription{{/if}}</li>
                </ul>

            </div>
        </div>
            {{/each}}
        </div>
</div>
