﻿<form class="pure-form pure-g">
    <div class="pure-u-1 pure-u-lg-8-24">
        <label class="pure-checkbox">
            <input type="radio" name="subscription-type-chk" class="js-alertSubscription-type-chk" value="personal" {{#isnt IsGroup true}} checked {{/isnt}}>
            Personal subscription
        </label>
    </div>

    <div class="pure-u-1 pure-u-lg-8-24">
        <label class="pure-radio">
            <input type="radio" name="subscription-type-chk" class="js-alertSubscription-type-chk" value="group" {{#if IsGroup}} checked {{/if}}>
            Team subscription.
        </label>

        <div class="alertSubscription__type-controls js-alertSubscription-type-controls {{#isnt IsGroup true}}u-no-display{{/isnt}}">

            <div class="js-groupSubscription-groups-list-template"></div>
        </div>
    </div>
</form>