﻿<div class="pure-g">
    <div class="pure-u-6-24 alertSubscription__subsListBlock js-scaffold-block">
        <div data-full-height-deduct="true" class="l-box view-block__title">
            <span class="">Your subscriptions ({{this.length}})</span>
        </div>

        {{#empty this}}
        <div class="js-fullHeight-bodyElement">
            <div class="containerEmpty-wrapper--plain">
                <span class="containerEmpty-txt--small l-box">No subscriptions to show</span>
            </div>
        </div>

        {{else}}

        <div class="l-box" data-full-height-deduct="true">
            <button class="btn-flat--wide js-alertSubscriptions-new-btn">Create a subscription</button>
        </div>


        <div data-scroll="true" class="js-fullHeight-bodyElement">
            <div class="alertFeed">
                {{#each this}}

                <div class="u-relative">
                    <div data-subscription-id="{{SubscriptionId}}" data-is-group="{{IsGroup}}" data-ajaxload-disable="true" class="alertSubscription__item js-alertFeed-item">

                        {{#if IsGroup}}
                        <div class="alertFeed__itemGroupFlag">Team</div>
                        {{/if}}

                        <div class="alertFeed__itemBody">

                            <!--NoneProvided-->
                            {{#is Type.PopulationType "NoneProvided"}}

                            {{#if Topics}}
                            <div class="item__topics-title">
                                <span class="alertSubscriptionItem-label">Topics:</span>
                                {{#Topics}}
                                {{Title}}{{#unless @last}},{{/unless}}
                                {{/Topics}}
                            </div>
                            {{else}}
                            <div class="item__topics-title">
                                <span class="alertSubscriptionItem-label">Topics:</span>
                                All Topics
                            </div>
                            {{/if}}

                            {{#if Site}}
                            <div>
                                <span class="alertSubscriptionItem-label">Patients:</span>
                                {{#Site}}
                                <span class="">{{SiteName}}</span>{{#unless @last}},{{/unless}}
                                {{/Site}}
                            </div>
                            {{else}}
                            <div>
                                <span class="alertSubscriptionItem-label">Patients:</span> <span class="">All Sites</span>
                            </div>
                            {{/if}}


                            {{/is}}

                            <!--Area-->
                            {{#is Type.PopulationType "Area"}}
                            <div>
                                <span class="alertSubscriptionItem-label">Patients:</span>
                                <span class="">{{Type.PopulationName}}, </span>
                                <span class="">{{Site.0.SiteName}}</span> <!--Can't be Area without Site-->
                            </div>
                            {{#if Topics}}
                            <div class="item__topics-title">
                                <span class="alertSubscriptionItem-label">Topics:</span>
                                {{#Topics}}
                                {{Title}}{{#unless @last}},{{/unless}}
                                {{/Topics}}
                            </div>
                            {{else}}
                            <div class="item__topics-title">
                                <span class="alertSubscriptionItem-label">Topics:</span>
                                All Topics
                            </div>
                            {{/if}}

                            {{/is}}

                            <!--Consultant-->
                            {{#is Type.PopulationType "Clinician"}}
                            <div>
                                <span class="alertSubscriptionItem-label">Patients:</span>
                                <span class="">{{Type.PopulationName}}</span>
                            </div>
                            {{#if Site}}
                            <div>
                                <span class="alertSubscriptionItem-label">Site:</span>
                                {{#Site}} <span class="">{{SiteName}}{{#unless @last}},{{/unless}}</span>{{/Site}}
                            </div>
                            {{else}}
                            <div>
                                <span class="alertSubscriptionItem-label">Site:</span>
                                <span class="">All Sites</span>
                            </div>
                            {{/if}}


                            {{#if Topics}}
                            <div class="item__topics-title">
                                <span class="alertSubscriptionItem-label">Topics:</span>
                                {{#Topics}}
                                {{Title}}{{#unless @last}},{{/unless}}
                                {{/Topics}}
                            </div>
                            {{else}}
                            <div>
                                <span class="alertSubscriptionItem-label">Topics:</span> <span class="">All Topics</span>
                            </div>
                            {{/if}}

                            {{/is}}

                            <div class="alertFeed__itemBodyColour">
                                <span class="alertSubscriptionItem-label">Feed colour:</span>
                                <span style="background:#{{SubscriptionColour}}" class="alertSubscription__colourBlock"></span>
                            </div>
                        </div>

                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        {{/empty}}



    </div>



    <div class="pure-u-12-24 js-scaffold-block">

        {{#empty this}}
        <div class="alertSubscription__noActiveBlock js-alertSubscription-no-active-block">
            <div class="containerEmpty-wrapper--plain">
                <span class="containerEmpty-txt--small">You don't have any alert notification subscriptions yet.</span>
                <button class="btn-flat--wide js-alertSubscriptions-new-btn">New subscription</button>
            </div>
        </div>
        <!--New Subscription-->
        <div class="js-alertSubscription-new-subscription-template"></div>
        {{else}}

        <!--Selected / Active Subscription Details-->
        <div class="js-alertSubscription-detail-template">


            <div class="alertSubscription__activeBlock">
                <div class="containerEmpty-wrapper--plain">
                    <span class="containerEmpty-txt"><i class="fa fa-arrow-left" aria-hidden="true"></i> Select a subscription</span>
                </div>
            </div>

        </div>

        <!--New Subscription-->
        <div class="js-alertSubscription-new-subscription-template"></div>

        {{/empty}}
    </div>

    <div class="pure-u-6-24 js-scaffold-block alertSubscription__selectionsBlock">
        <!--Subscription Summary-->
        <div class="js-alertSubscription-subscription-summary-template"></div>
    </div>

</div>
