﻿{{#each this}}

<div class="pure-form pure-form alertSubscription-patient-types">
    <button data-context="clinician" class="alertSubscription-patient-types-btn js-alertSubscription-patient-type-select">Patients under a consultant</button>
    <button data-context="location" class="alertSubscription-patient-types-btn js-alertSubscription-patient-type-select">Patients in a location</button>
</div>
   
<div class="pure-form pure-form-stacked alertSubscription-patients">
    <!--Clinician-->

    <div data-context="clinician" class="u-no-display alertSubscription_locationSelectors js-alertSubscription-location-clinician">
        <label>Patients under</label>
        
        <select placeholder="Choose a consultant" data-type="clinician" data-context="clinician" class="js-alertSubscription-patients-clinician-ddl">
            <option value="">Choose a consultant...</option>
            {{#Clinicians}}
            <option value="{{ClinicianName}}">{{ClinicianName}}</option>
            {{/Clinicians}}
        </select>
        
        <label>In...</label>
        <select data-type="location" data-context="clinician" class="js-alertSubscription-patients-location-ddl" multiple>
            {{#Sites}}
            <option class="" value="{{SiteName}}">{{SiteName}}</option>
            {{/Sites}}
        </select>
    </div>

    <!--Location-->
    <div data-context="location" class="u-no-display alertSubscription_locationSelectors js-alertSubscription-location-location">
        <label>Patients in</label>
        <select data-type="location" placeholder="" data-context="location" class="js-alertSubscription-patients-location-ddl" multiple>
            <option data-location-type="site" data-context="location" value="NoneProvided" class="">All Sites</option>
            {{#Sites}}
            <option data-location-type="site" data-context="location" class="" value="{{SiteName}}">{{SiteName}}</option>
            {{/Sites}}
        </select>
        
        <!--Area-->
        <div class="alertSubscription__area-ddl-wrapper {{#isnt ExistingSubscription.Data.0.Type.PopulationType "Area"}}u-no-display{{/isnt}} js-alertSubscription-area-wrapper">
            <select data-placeholder="Select an Area" data-type="area" data-context="location" class="js-alertSubscription-patients-location-area-ddl" multiple>
                {{#is ExistingSubscription.Data.0.Type.PopulationType "Area"}}
                <option selected value="{{ExistingSubscription.Data.0.Type.PopulationName}}">{{ExistingSubscription.Data.0.Type.PopulationName}}</option>
                {{/is}}
            </select>
        </div>
        
    </div>


</div>
{{/each}}