﻿<div data-scroll="true" class="js-fullHeight-bodyElement">
    <div class="alertSubscription__summary l-box">
        <span class="view-block__title">Subscription Summary</span>

        <span class="summary-title">1. Topics</span>

        <ul class="alertSubscription__ul-itemList">
            {{#each Data}}

            {{#if ../AllTopicsSubscription}}
            <li>All Topics</li>
            {{else}}
            {{#Topics}}
            <li>{{Title}}</li>
            {{else}}
            {{#if ../NewSubscription}}
            {{else}}
            <li>All Topics</li>
            {{/if}}
            {{/Topics}}
            {{/if}}
        </ul>

        <span class="summary-title">2. Patients</span>
        <ul class="alertSubscription__ul-itemList">

            <!--NoneProvided-->
            {{#is Type.PopulationType "NoneProvided"}}
            {{#if Site}}
            {{#Site}}
            <li>{{SiteName}}</li>
            {{/Site}}
            {{else}}
            <li>All Sites</li>
            {{/if}}
            {{/is}}

            <!--Area-->
            {{#is Type.PopulationType "Area"}}
            <li>{{Type.PopulationName}}</li>  <!--Can only have 1 Area if areas selected-->
            <li>{{Site.0.SiteName}} </li> <!--Can't be Area without Site-->
            {{/is}}

            <!--Consultant-->
            {{#is Type.PopulationType "Clinician"}}
            <li>{{Type.PopulationName}}</li>

            {{#if Site}}
            {{#Site}}
            <li>{{SiteName}}</li>
            {{/Site}}
            {{/if}}

            {{/is}}
        </ul>

        <span class="summary-title">3. Subscription colour</span>
        <ul class="alertSubscription__ul-itemList">
            <li>
                {{#if SubscriptionColour}}
                <!--If prefixed with C# 0x-->
                <span class="alertSubscription__summary-colour" style="background-color:#{{SubscriptionColour}}"></span>
                {{/if}}
            </li>
        </ul>


        <span class="summary-title">4. Subscription type</span>

        <ul class="alertSubscription__ul-itemList">
            <li>{{#if IsGroup}}Team subscription{{else}}Personal subscription{{/if}}</li>
        </ul>

        {{/each}}
        <button class="btn js-alertSubscription-save-btn u-no-display">Save changes</button>

        {{#if NewSubscription}}
        {{else}}
        {{#if IsGroup}}
        {{#if CanManageGroupSubscriptions}}
        <button class="u-block alertSubscription__delete-btn js-alertSubscription-delete-btn"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete subscription</button>
        {{/if}}
        {{else}}
        <button class="u-block alertSubscription__delete-btn js-alertSubscription-delete-btn"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete subscription</button>
        {{/if}}
        {{/if}}

    </div>
</div>