﻿<select class="alertSubscribe-colourPicker-ddl js-alertSubscribe-colour-picker-ddl">
    <option data-colour-ref="00A9E1" value="#00A9E1"></option>
    <option data-colour-ref="4F4F4C" value="#4F4F4C"></option>
    <option data-colour-ref="D0CCC7" value="#D0CCC7"></option>
    <option data-colour-ref="7D604C" value="#7D604C"></option>
    <option data-colour-ref="000000" value="#000000"></option>
    <option data-colour-ref="FF0000" value="#FF0000"></option>
    <option data-colour-ref="FFFF00" value="#FFFF00"></option>
    <option data-colour-ref="EEC502" value="#EEC502"></option>
    <option data-colour-ref="F9D462" value="#F9D462"></option>
    <option data-colour-ref="A20000" value="#A20000"></option>
    <option data-colour-ref="008443" value="#008443"></option>
    <option data-colour-ref="A0B439" value="#A0B439"></option>
    <option data-colour-ref="CEE225" value="#CEE225"></option>
    <option data-colour-ref="A8CCC7" value="#A8CCC7"></option>
    <option data-colour-ref="87BDDB" value="#87BDDB"></option>
    <option data-colour-ref="E2CCED" value="#E2CCED"></option>
    <option data-colour-ref="FE4386" value="#FE4386"></option>
    <option data-colour-ref="5C2679" value="#5C2679"></option>
    <option data-colour-ref="2564B8" value="#2564B8"></option>
    <option data-colour-ref="3B6F8E" value="#3B6F8E"></option>
</select>