﻿<div class="js-appLogOutTimerModal appLogOutTimerModal pure-g">
    <div class="pure-u-1-1">
        <span class="appLogOutTimerModal__text">Due to inactivity your session will timeout in <span class="appLogOutTimerModal__countdown js-countdownDisplay u-strong"></span> seconds</span>
    </div>

    <div class="pure-u-1-1">
        <button class="btn--success js-appLogOutTimerModal-stayLoggedIn-btn">Keep me signed in</button> <button class="btn--danger js-appLogOutTimerModal-logOut-btn">Sign out now</button>
    </div>
    <span class="js-countdownDisplay-active"></span>
</div>