﻿{{!--Summary page Results widget--}}
<div class="patient-results-widget">
    <div class="view-block__title">Latest Results<span class="u-pull-right btn--plain js-patient-results-view-all">View all</span></div>
        {{#if Data.length}} {{#Data}}
        <div class="item">
            <div class="item-row">
                <span class="row__title">
			{{#if isAbnormal}}<span class="patient-results_abnormal-icon"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>{{/if}}<span data-result-id="{{resultId}}" class="js-patient-results-title">{{name}}</span></span>
                <span class="row__date"><span class="js-dateFormat">{{resultDateTime}}</span></span>
            </div>
        </div>
		{{/Data}}
		{{else}}
        <div class="pure-u-1">No results for patient</div>
        {{/if}}
    </div>
