﻿<div id="patient-results-view" data-vue-el="patient-results-view" class="pure-u-1 patient-results-table-wrapper">
    <loading-block message="Loading patient results..." v-if="IsLoading"></loading-block>
    <template v-if="!IsLoading" v-cloak>
      
            <div data-full-height-deduct="true" class="pure-g patient-results__table-head-row">
                <div class="pure-u-6-24"><span class="patient-results__table-head">Item</span></div>
                <div class="pure-u-5-24"><span class="patient-results__table-head">Result Date</span></div>
                <div class="pure-u-5-24"><span class="patient-results__table-head">Clin Sig Date</span></div>
                <div class="pure-u-4-24"><span class="patient-results__table-head">Status</span></div>
                <div class="pure-u-4-24"><span class="patient-results__table-head">Acknowledged</span></div>
            </div>
        <template v-if="!patientResults || !patientResults.length">
            <div class="pure-u-1 patient-results__table-result-row">No results for this patient</div>
        </template>
        <div data-scroll="true" class="js-fullHeight-bodyElement">
            <div data-scroll="true" v-bind:class="{'pure-g':true, 'patient-results__table-result-row': true, 'row-abnormal':result.isAbnormal, 'active':result.resultId === ResultId}" v-for="result in patientResults" v-on:click="getSingleResultComponents(result.resultId)">

                <div class="pure-u-6-24 patient-results__table-result"><span v-if="result.isAbnormal" class="patient-results_abnormal-icon"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>\{{result.name}}</div>
                <div class="pure-u-5-24 patient-results__table-result"><span class="">\{{result.resultDateTime | formatDate}}</span> </div>
                <div class="pure-u-5-24 patient-results__table-result"><span class="">\{{result.significantDateTime | formatDate}}</span></div>
                <div class="pure-u-4-24 patient-results__table-result"><span class="">\{{result.status}}</span></div>
                <div class="pure-u-4-24 patient-results__table-result last"><span class=""><span class="patient-results__acknowledged-icon" v-if="result.isAcknowledged"><i class="fa fa-check" aria-hidden="true"></i></span><span class="patient-results__unacknowledged-icon" v-if="!result.isAcknowledged"><i class="fa fa-times" aria-hidden="true"></i></span></span></div>


                {{!--Component data--}}
                <div v-if="result.resultId === ResultId && PatientResultComponents && PatientResultComponents.resultId === result.resultId" class="pure-u-1 results-component-table">


                    <div class="pure-g patient-results__result-component-table-head-row">
                        <div class="pure-u-4-24"><span class="patient-results__table-head">Components</span></div>
                        <div class="pure-u-4-24"><span class="patient-results__table-head">Value</span></div>
                        <div class="pure-u-4-24"><span class="patient-results__table-head">Units</span></div>
                        <div class="pure-u-4-24"><span class="patient-results__table-head">Range</span></div>
                        <div class="pure-u-4-24"><span class="patient-results__table-head">Abnormal</span></div>
                        <div class="pure-u-4-24"><span class="patient-results__table-head last">Comment</span></div>
                    </div>



                    <template v-for="(item, index) in PatientResultComponents.resultComponents">
                        <div v-bind:class="{'pure-g':true,'patient-results__result-component-row':true,'row-abnormal':item.isAbnormal, 'last':index === (PatientResultComponents.resultComponents.length-1)}">
                            <div class="pure-u-4-24 patient-results__result-component"><span v-if="item.isAbnormal" class="patient-results_abnormal-icon"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>\{{item.name}}</div>
                            <div class="pure-u-4-24 patient-results__result-component">\{{item.value}}</div>
                            <div class="pure-u-4-24 patient-results__result-component">\{{item.units}}</div>
                            <div class="pure-u-4-24 patient-results__result-component">\{{item.range}}</div>
                            <div class="pure-u-4-24 patient-results__result-component">\{{item.isAbnormalText}}</div>
                            <div class="pure-u-4-24 patient-results__result-component last">\{{item.comments}}</div>
                        </div>
                    </template>
                    
                    <div class="pure-u-1 u-text-center">
                        <span class="result-component-end-label">End of report</span>
                    </div>

                </div>
            </div>
    </div>
    </template>
</div>

