﻿<div class="pure-g">
    <div class="pure-u-1 js-fullHeight-bodyElement js-iframe-parent-wrapper">
        <iframe class="js-careCentricTest-iframe" name="iframe"></iframe>
    </div>
    {{#isnt Environment "Demo"}}<!--Demo environment requires a specific post-->
    <form class="u-no-display js-sharedCare-postForm" id="careCentricTest" target="iframe" method="post" action="{{SharedCareRecordBaseURI}}">
        <input type="hidden" name="Username" value="carecentric.user" />
        <input type="hidden" name="Password" value="kG28H*#5" />
        <input type="hidden" name="AuthorizationToken" value="" />
        <input type="hidden" name="SiteCode" value="999" />        
        <input type="hidden" name="PatientSearchResult.SourceSiteCode" value="999" />
        <input type="hidden" name="PatientSearchResult.Title" value="{{Patient.PatientTitle}}" />
        <input type="hidden" name="PatientSearchResult.Surname" value="{{Patient.PatientFamilyName}}" />
        <input type="hidden" name="PatientSearchResult.Forename" value="{{Patient.PatientGivenName}}" />
        <input type="hidden" name="PatientSearchResult.Address" value="{{Patient.Address}}" />
        <input type="hidden" name="PatientSearchResult.DateOfBirth" value="{{Patient.PatientDateOfBirth}}" />
        <input type="hidden" name="PatientSearchResult.DateOfDeath" value="{{Patient.DateOfDeath}}" />
        <input type="hidden" name="PatientSearchResult.LocalId" value="{{Patient.PatientIdentifiers.PrimaryIdentifier.Value}}" />
        <input type="hidden" name="PatientSearchResult.LocalIdType" value="{{Patient.PatientIdentifiers.PrimaryIdentifier.Label}}" />
        <input type="hidden" name="PatientSearchResult.Gender" value="{{Patient.PatientGender}}" />
        <input type="hidden" name="PatientSearchResult.Postcode" value="" />
        <input type="hidden" name="PatientSearchResult.HasLinkedPatients" value="" />
        <input type="hidden" name="PatientSearchResult.IsMinorPatient" value="" />
        <input type="hidden" name="PatientSearchResult.RestrictedDemographics" value="" />
        <input type="hidden" name="PatientSearchResult.RestrictedRecord" value="" />
        <input type="hidden" name="PatientSearchResult.ExternalId" value="{{Patient.PatientExternalIdentifier}}" /> <!--Patient external ID-->
        <input type="hidden" name="PatientSearchResult.ProviderName" value="Careflow" />
        <input type="hidden" name="PatientSearchResult.ContactNumber" value="{{Patient.TelephoneNumber}}" />
        <input type="hidden" name="PatientContexts" value="null" />
        <input type="hidden" name="ConsentToken" value="null" />
    </form>
    {{else}}<!--Demo form-->
    <form class="u-no-display" id="careCentricTest" target="iframe" method="post" action="https://pwnhsft-clinical.shearwatersystems.com/web/external/login">
        <input type="hidden" name="Username" value="carecentric.user" />
        <input type="hidden" name="Password" value="kG28H*#5" />
        <input type="hidden" name="AuthorizationToken" value="" />
        <input type="hidden" name="SiteCode" value="999" />        
        <input type="hidden" name="PatientSearchResult.SourceSiteCode" value="999" />
        <input type="hidden" name="PatientSearchResult.Title" value="{{Patient.Data.PatientTitle}}" />
        <input type="hidden" name="PatientSearchResult.Surname" value="{{Patient.Data.PatientFamilyName}}" />
        <input type="hidden" name="PatientSearchResult.Forename" value="{{Patient.Data.PatientGivenName}}" />
        <input type="hidden" name="PatientSearchResult.Address" value="{{Patient.Data.Address}}" />
        <input type="hidden" name="PatientSearchResult.DateOfBirth" value="{{Patient.Data.PatientDateOfBirth}}" />
        <input type="hidden" name="PatientSearchResult.DateOfDeath" value="{{Patient.Data.DateOfDeath}}" />
        <input type="hidden" name="PatientSearchResult.LocalId" value="{{Patient.Data.PatientIdentifiers.PrimaryIdentifier.Value}}" />
        <input type="hidden" name="PatientSearchResult.LocalIdType" value="{{Patient.Data.PatientIdentifiers.PrimaryIdentifier.Label}}" />
        <input type="hidden" name="PatientSearchResult.Gender" value="{{Patient.Data.PatientGender}}" />
        <input type="hidden" name="PatientSearchResult.Postcode" value="" />
        <input type="hidden" name="PatientSearchResult.HasLinkedPatients" value="" />
        <input type="hidden" name="PatientSearchResult.IsMinorPatient" value="" />
        <input type="hidden" name="PatientSearchResult.RestrictedDemographics" value="" />
        <input type="hidden" name="PatientSearchResult.RestrictedRecord" value="" />
        <input type="hidden" name="PatientSearchResult.ExternalId" value="{{Patient.Data.PatientExternalIdentifier}}" /> <!--Patient external ID-->
        <input type="hidden" name="PatientSearchResult.ProviderName" value="Careflow" />
        <input type="hidden" name="PatientSearchResult.ContactNumber" value="{{Patient.Data.TelephoneNumber}}" />
        <input type="hidden" name="PatientContexts" value="null" />
        <input type="hidden" name="ConsentToken" value="null" />
    </form>
    {{/isnt}}
    <script type="text/javascript">
        document.getElementById('careCentricTest').submit();
    </script>

</div>
