﻿<div class="patient-observations">
    <div class="pure-g">
        <div class="pure-u-1">
            <span class="view-block__title">Latest Observations</span>
        </div>

        {{#if EWS.0.Score}}
        <div class="patient-observations__ewsRow pure-u-1">
            <div class="pure-g">
                <div class="patient-observations__label pure-u-16-24">
                    <span>EWS</span>
                    <span class="patient-observations__meta">{{EWS.0.Date}}</span>
                </div>
                <div class="pure-u-8-24 u-text-right">
                    <span class="{{EWS.0.Class}}">{{EWS.0.Score}}</span>
                </div>
            </div>
        </div>
        {{/if}}
        {{#if Data.Data.length}}
        {{#Data.Data}}
        <div class="pure-u-1">
            <div class="pure-g patient-observations__row">
                <div class="patient-observations__label pure-u-10-24">
                    {{#if ShortName}}{{ShortName}}{{else}}{{Name}}{{/if}}
                </div>
                <div class="pure-u-14-24 u-text-right">
                    <span class="patient-observations__value">{{Value}} {{#if Unit}} {{Unit}} {{/if}}</span>
                    <span class="{{InterpretationClass}}">{{Interpretation}}</span>
                </div>
            </div>
        </div>
        {{/Data.Data}}
        <!--<div class="pure-u-1"><span class="patient-observations__meta">{{Data.Recorded}}</span> </div>-->
        {{else}}
        <div class="pure-u-1">No observations for patient</div>
        {{/if}}
        {{#if EWS.1.Score}}
        <div class="patient-observations__ewsRow pure-u-1 u-border--top">
            <div class="pure-g">

                <div class="patient-observations__label pure-u-16-24">
                    <span>EWS</span>
                    <span class="patient-observations__meta">{{EWS.1.Date}}</span>
                </div>
                <div class="pure-u-8-24 u-text-right">
                    <span class="{{EWS.1.Class}}">{{EWS.1.Score}}</span>
                </div>
            </div>
        </div>
        {{/if}}
        {{#if EWS.2.Score}}
        <div class="patient-observations__ewsRow pure-u-1">
            <div class="pure-g">

                <div class="patient-observations__label pure-u-16-24">
                    <span>EWS</span>
                    <span class="patient-observations__meta">{{EWS.2.Date}}</span>
                </div>
                <div class="pure-u-8-24 u-text-right">
                    <span class="{{EWS.2.Class}}">{{EWS.2.Score}}</span>
                </div>
                <!--<div class="patient-observations__row">Last obs taken by: <span class="patient-observations__value">{{Data.RecordedBy}}</span> </div>-->
            </div>
        </div>
        {{/if}}
    </div>
    {{#gt CountofEWSScores 2}}
    <!--Inline demo fix for tips, will be deprecated-->
    <style>
       
        .chartist-tooltip.tooltip-show {
            opacity: 1; }

        .ct-area, .ct-line {
            pointer-events: none; }
        .chartist-tooltip::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            width: 0;
            height: 0;
            margin-left: -15px;
            border: 15px solid transparent;
            border-top-color: #3D679A;
        }
        .chartist-tooltip {
            position: absolute;
            display: inline-block;
            opacity: 0;
            min-width: 5em;
            padding: .5em;
            background: #3D679A;
            color: #fff;
            font-family: inherit;
            font-weight: 700;
            text-align: center;
            font-size: .9em;
            pointer-events: none;
            z-index: 1;
            -webkit-transition: opacity .2s linear;
            -moz-transition: opacity .2s linear;
            -o-transition: opacity .2s linear;
            transition: opacity .2s linear;
        }
    </style>
    {{!--Chart of EWS scores--}}
    <div class="ct-chart u-relative"></div>
    {{/gt}}
</div>
