﻿<div class="pure-g">
    <div class="pure-u-4-24 newConversation-suggestions-avatar">
        <img class="pure-img" src="{{ProfileImageLink}}">
    </div>
    <div class="pure-u-20-24 newConversation-suggestions-description">
        <div>
            <b>{{FirstName}} {{LastName}}</b>
        </div>
        <div>
            <span class="u-fs-xs">{{joinComma Profession Grade Speciality}}</span>
        </div>
        <div>
            {{#if LastOnline}}
            <span class="u-fs-xs">Last online: {{#dateFormat LastOnline}}{{/dateFormat}}, {{#getTimeFromDateObject LastOnline}}{{/getTimeFromDateObject}}</span>
            {{/if}}
        </div>
    </div>
</div>