﻿<div class="pure-g conversations__wrapper js-fullHeight-bodyElement" data-scroll="true">
    {{#each GroupOfConversationSummaries}}
    <div class="pure-u-1-1 conversation-group-date">
        <b>{{@key}}</b>
    </div>
    <div class="pure-u-1-1 conversation-group-items">
        <div class="pure-g">
            {{#each this}}
            <div class="pure-u-1-1 conversation-item js-conversation-item" data-trackable-item-id="{{TrackableItemId}}">
                <div class="u-inline-block">
                    <img class="pure-img conversation-item-avatar" src="{{ImageUrlOfSenderOfLatestMessage}}">
                </div>
                <div class="conversation-item-latest-message" data-participants-count="{{RecipientList.TotalRecipients}}">
                    <div class="conversation-item-latest-message-overflow js-calculate-more-participants">
                        {{#unless IsRead}}
                        <i class="fa fa-circle" style="color: #0089c6" aria-hidden="true"></i>
                        {{/unless}}
                        <b>{{joinUsingProps RecipientList.Names 'FirstName' 'LastName'}}</b>
                    </div>
                    <div class="conversation-item-latest-message-overflow">
                        <span>{{NameOfSenderOfLatestMessage.FirstName}}: {{LatestMessage}}</span>
                    </div>
                </div>
                <div class="conversation-item-latest-date">
                    <span>{{#getTimeFromDateObject LastReplyDate}}{{/getTimeFromDateObject}}</span>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>