﻿<div class="pure-g readBy__wrapper">
    <!--<div class="pure-u-1-1 readBy-label" data-full-height-deduct="true">
        <b>Read by</b>
        <span class="readBy-close js-readBy-close">
            <i class="fa fa-times" aria-hidden="true"></i>
        </span>
    </div>-->
    <div class="pure-u-1-1">
        <div class="pure-g">
            {{#each ViewedBy}}
            <div class="pure-u-1-1 readBy-item">
                <div class="pure-g">
                    <div class="pure-u-3-24">
                        {{#if ProfileImageUrl}}
                        <img class="pure-img readBy-avatar" src="{{ProfileImageUrl}}">
                        {{else}}
                        <img class="pure-img readBy-avatar" src="https://testsecure.careflowapp.com/mobileimage/{{FullName.ApplicationUserID}}">
                        {{/if}}
                    </div>
                    <div class="pure-u-21-24">
                        <div class="pure-g readBy-details">
                            <div class="pure-u-1-1">
                                <a href="#">{{FullName.FirstName}} {{FullName.LastName}}</a>
                            </div>
                            <div class="pure-u-1-1">
                                <span class="u-fs-xs">{{#dateFormat LastViewedDate}}{{/dateFormat}} at {{#getTimeFromDateObject LastViewedDate}}{{/getTimeFromDateObject}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>