﻿<div class="pure-g messages__wrapper">
    <div class="pure-u-1-1">
        <div class="pure-g messages-container js-messages-container js-fullHeight-bodyElement" data-scroll="true">
            {{#each GroupOfMessages}}
            <div class="pure-u-1-1 messages-group-date">
                <!--@key is date-->
                <b>{{@key}}</b>
            </div>
            {{#each this}}
            <div class="pure-u-1-1 messages-group-date">
                <!--@key is time-->
                <small>{{@key}}</small>
            </div>
            {{#each this}}
            <div class="pure-u-1-1">
                <div class="message-item {{#if SenderFullName.IsRequestingUser}} message-item-right{{else}}message-item-left{{/if}}">
                    <div class="u-inline-block message-sender-avatar">
                        {{#unless SenderFullName.IsRequestingUser}}
                        {{#if SenderProfileImageUrl}}
                        <img src="{{SenderProfileImageUrl}}" class="pure-img">
                        {{/if}}
                        {{/unless}}
                    </div>
                    <div class="u-inline-block">
                        {{#unless SenderFullName.IsRequestingUser}}
                        <div class="message-sender-name">
                            <span>{{SenderFullName.FirstName}}</span>
                        </div>
                        {{/unless}}
                        <div class="message-text" data-trackable-item-id="{{TrackableItemId}}">{{MessageText}}<span class="message-readBy js-show-readBy">{{length ViewedBy}} <i class="fa fa-check" aria-hidden="true"></i></span></div>
                    </div>
                </div>
            </div>
            {{/each}}
            {{/each}}
            {{/each}}
        </div>
    </div>
    <div class="pure-u-1-1" data-full-height-deduct="true">
        <form class="pure-form">
            <textarea class="pure-input-1 message-input js-add-message" placeholder="Type a message"></textarea>
            <button type="button" class="btn message-send js-send-message" data-locked-txt="Sending...">Send</button>
        </form>
    </div>
</div>