﻿<div class="pure-g newConversation__wrapper">
    <div class="pure-u-1-1 newConversation-container" data-full-height-deduct="true">
        <form class="pure-form newConversation-form">
            <label class="newConversation-label">To:</label>
            <select class="pure-input-2-3 newConversation-select js-newConversation-people"
                    data-placeholder="Start typing a name..."
                    multiple="multiple">
            </select>
            <span class="newConversation-search-button js-search-people">
                <i class="fa fa-search u-text-primary" aria-hidden="true"></i>
            </span>
        </form>
    </div>
    <div class="pure-u-1-1">
        <div class="pure-g">
            <div class="pure-u-17-24 js-fullHeight-bodyElement"></div>
            <div class="pure-u-7-24 newConversation-search">
                <div class="pure-g">
                    <div class="pure-u-1-1" data-full-height-deduct="true">
                        <form class="pure-form">
                            <input type="text" class="pure-input-1 newConversation-search-input js-search-input" placeholder="Start typing a name, specialty or grade">
                        </form>
                    </div>
                    <div class="pure-u-1-1">
                        <div class="pure-g u-no-overflow-x js-fullHeight-bodyElement" data-scroll="true">
                            {{#each Users}}
                            <div class="pure-u-1-1 newConversation-search-item" data-application-user-id="{{ApplicationUserID}}">
                                <div class="pure-g">
                                    <div class="pure-u-4-24 newConversation-search-item-avatar">
                                        <img class="pure-img" src="{{ProfileImageLink}}">
                                    </div>
                                    <div class="pure-u-20-24 newConversation-search-item-description">
                                        <div>
                                            <span class="u-bold js-search-bold">{{FirstName}} {{LastName}}</span>
                                        </div>
                                        <div>
                                            <span class="u-fs-xs">{{joinComma Profession Grade Speciality}}</span>
                                        </div>
                                        <div>
                                            {{#if LastOnline}}
                                            <span class="u-fs-xs">Last online: {{#dateFormat LastOnline}}{{/dateFormat}}, {{#getTimeFromDateObject LastOnline}}{{/getTimeFromDateObject}}</span>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pure-u-1-1 newConversation-message" data-full-height-deduct="true">
        <div class="pure-g">
            <div class="pure-u-17-24">
                <form class="pure-form">
                    <textarea class="pure-input-1 message-input js-add-newMessage" placeholder="Type a message"></textarea>
                    <button type="button" class="btn message-send js-send-newMessage" data-locked-txt="Sending...">Send</button>
                </form>
            </div>
            <div class="pure-u-7-24 u-border--left"></div>
        </div>
    </div>
</div>