﻿<div class="pure-g participants__wrapper">
    <div class="pure-u-1-1 participants-label" data-full-height-deduct="true">
        <b>People</b>
    </div>
    <div class="pure-u-1-1">
        <div class="pure-g js-fullHeight-bodyElement" data-scroll="true">
            {{#each Users}}
            <div class="pure-u-1-1 participant-item">
                <div class="pure-g">
                    <div class="pure-u-3-24">
                        <img class="pure-img participant-avatar" src="{{ProfileImageUrl}}">
                    </div>
                    <div class="pure-u-21-24">
                        <div class="pure-g participant-details">
                            <div class="pure-u-1-1">
                                <a href="#/Profile/{{FullName.ApplicationUserID}}">{{FullName.FirstName}} {{FullName.LastName}}</a>
                            </div>
                            <div class="pure-u-1-1">
                                <span class="u-fs-xs">{{joinDashSimple Profession Specialty}}</span>
                            </div>
                            <div class="pure-u-1-1">
                                {{#if LastOnline}}
                                <span class="u-fs-xs">Last online: {{#dateFormat LastOnline}}{{/dateFormat}}, {{#getTimeFromDateObject LastOnline}}{{/getTimeFromDateObject}}</span>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>