﻿<div class="js-fullHeight view-block">
    <div class="newMessage">
        <span class="view-block__title">Start a new message</span>
        <label for="email">To</label>
        <input data-ajaxload-disable="true" data-role="tagsinput" data-ajaxload-disable="true" type="text" class="pure-input-1 js-newMessage-recipients--txt u-input--noPadding" placeholder="To...">
        <form class="pure-form pure-form-stacked js-newUserMessage-form">
            <label for="email">Message</label>
            <textarea data-parsley-required="true" data-parsley-required-message="A message and recipients is required" data-ajaxload-disable="true" data-ajaxload-disable="true" class="pure-input-1 js-post-message-body-txt" placeholder="Type your message..."></textarea>

            <button type="button" data-ajaxload-disable="true" class="btn js-post-message--submitBtn">Send</button>
        </form>
    </div>
</div>