﻿<h1>{{TeamName}} ({{TeamSize}})</h1>
{{#is TableType 'PatientList'}}
    <table>
        <thead>
            <tr data-header>
                <th style="width: 15%">PATIENT</th>
                <th style="width: 25%">IDENTIFIERS</th>
                <th style="width: 15%">LOCATION</th>
                <th style="width: 10%">CONSULTANT</th>
                <th style="width: 35%">TAGS</th>
            </tr>
        </thead>
        <tbody>
            {{#each TableBodyData}}
                <tr data-row>
                    {{#each Data}}
                        <td>{{{@this}}}</td>
                    {{/each}}
                </tr>
            {{/each}}
        </tbody>
    </table>
{{/is}}
{{#is TableType 'PatientHandoverList'}}
    <table width="100%">
        <thead>
            <tr data-header>
                <th style="width: 5%">BAY/BED</th>
                <th style="width: 15%">PATIENT</th>
                <th style="width: 20%">SITUATION</th>
                <th style="width: 20%">BACKGROUND</th>
                <th style="width: 20%">ASSESSMENT</th>
                <th style="width: 20%">RECOMMENDATION</th>
            </tr>
        </thead>
        <tbody>

            {{#each TableBodyData}}

                <tr data-grouping>
                    <td colspan="6">{{this.site}}</td>
                </tr>

                {{#each patients}}
                    <tr data-row>
                        <td colspan="1">{{{Bay}}} {{{Bed}}}</td>
                        <td colspan="1">
                            <div class="u-strong"><span class="u-uppercase u-strong">{{PatientFamilyName}},</span> {{PatientGivenName}} {{#if PatientTitle}}({{PatientTitle}}){{/if}}</div>
                            <div>Born {{PatientDateOfBirth}} {{#if AgeDescription}}({{AgeDescription}}){{/if}}</div>
                            <div>{{PatientIdentifiers.PrimaryIdentifier.Label}} {{PatientIdentifiers.PrimaryIdentifier.Value}}</div>
                            {{#each PatientIdentifiers.AlternativeIdentifiers}}
                                <div>{{Label}} {{Value}}</div>
                            {{/each}}
                            <div>Consultant {{Clinician.FullName}}</div>
                            <div class="clinical-tag-wrapper">
                                {{#each ClinicalTags}}
                                    <div class="clinicalTag">{{Value}} ({{DaysSinceAdded}}d)</div>
                                {{/each}}
                            </div>
                        </td>
                        <!--notes-->
                        <td colspan="4">
                            <table class="table-plain">
                                <tr>
                                    <th style="width: 25%"></th>
                                    <th style="width: 25%"></th>
                                    <th style="width: 25%"></th>
                                    <th style="width: 25%"></th>
                                </tr>
                                {{#each HandoverNotes}}
                                    {{#if ../../../ViewProfilesForNetwork}}

                                        {{#inArray ../../../MappedProfiles Profile.ExternalIdentifier}}
                                            <tr>
                                                <td colspan="4">
                                                    <span class="u-strong">{{Profile.Name}}</span> {{UpdatedByName}} - {{GroupName}} {{#dateFormat DateLastUpdated}}{{/dateFormat}}, {{#getTimeFromDateObject DateLastUpdated}},{{/getTimeFromDateObject}} ({{DaysSinceLastUpdate}}d)
                                                </td>
                                            </tr>
                                            <tr>
                                                {{#each Notes}}
                                                    <td class="notes-td">{{#if ../IsCurrent}}{{Value}}{{/if}}</td>
                                                {{/each}}
                                            </tr>
                                        {{/inArray}}

                                    {{else}}
                                        <tr>
                                            <td colspan="4">
                                                {{UpdatedByName}} - {{GroupName}} {{#dateFormat DateLastUpdated}}{{/dateFormat}}, {{#getTimeFromDateObject DateLastUpdated}},{{/getTimeFromDateObject}} ({{DaysSinceLastUpdate}}d)
                                            </td>
                                        </tr>
                                        <tr>
                                            {{#each Notes}}
                                                <td class="notes-td">{{#if ../IsCurrent}}{{Value}}{{/if}}</td>
                                            {{/each}}
                                        </tr>

                                    {{/if}}


                                {{/each}}
                            </table>
                        </td>
                        <!--notes end-->
                    </tr>
                {{/each}}

            {{/each}}
        </tbody>
    </table>
{{/is}}
