﻿<div class="pure-g profile__container">
    <div class="pure-u-9-24 profile-header">
        <div class="pure-g">
            <div class="pure-u-1-1">
                <div class="pure-g">
                    <div class="pure-u-1-1">
                        <img class="pure-img profile-image" src="{{ProfileImageUrl}}">
                    </div>
                    <div class="pure-u-1-1">
                        <h1>{{FirstName}} {{LastName}}</h1>
                    </div>
                    <div class="pure-u-1-1">
                        <a href="mailto:{{EmailAddress}}">{{EmailAddress}}</a>
                    </div>
                    <div class="pure-u-1-1">
                        <a href="tel:{{MobileNumberCountryCode}}{{MobileNumber}}">{{#if MobileNumberCountryCode}}({{MobileNumberCountryCode}}) {{/if}}{{MobileNumber}}</a>
                    </div>
                    <div class="pure-u-1-1">
                        <h4>{{Profession}}</h4>
                    </div>
                    <div class="pure-u-1-1">
                        <span>{{Grade}} {{Specialty}}</span>
                    </div>
                    <div class="pure-u-1-1">
                        <span>{{Organisation}}</span>
                    </div>
                </div>
            </div>
            {{#if _ownProfile}}
            <div class="pure-u-1-1 u-margin-top-md">
                <button type="button" class="btn">Reset password</button>
            </div>
            {{/if}}
        </div>
    </div>
    <div class="pure-u-15-24 profile-body">
        <h1 class="profile-body-label" data-full-height-deduct="true">
            <span>Teams</span>
        </h1>
        {{#if GroupsInCurrentNetwork}}
        <ul class="u-no-margin js-fullHeight-bodyElement" data-scroll="true">
            {{#each GroupsInCurrentNetwork}}
            <li>
                <a href="#/{{../_activeNetworkId}}/Teams/{{MemberAreaID}}">{{Name}}</a>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <p class="u-padding-sm">There are no teams to show.</p>
        {{/if}}
    </div>
</div>
