<template>

  <div ref="clinical-notes-wrapper" class="u-relative">

    <!--filters-->
    <div data-full-height-deduct="true" class="filters-wrapper">
      <div class="first filterBlock">
        <ui-select placeholder="Choose a timeframe" type="basic" @input="setNotesTimeFrame" class="ui-select--no-border" :disabled="IsLoading || ApiError" :options="Filters.TimeFrames" :value="Filters.SelectedTimeFrame"></ui-select>
      </div>
      <div class="filterBlock">
        <ui-textbox ref="" placeholder="Filter by title" :multi-line="false" name="searchTitle" class="" :disabled="IsLoading || ApiError" v-model="Filters.NoteTitle"></ui-textbox>
      </div>
      <div class="filterBlock">
        <ui-select placeholder="Choose a status" type="basic" @input="setNotesStatus" class="ui-select--no-border" :disabled="IsLoading || ApiError" :options="getCompletedStatuses" :multiple="true" :value="Filters.SelectedStatus"></ui-select>
      </div>
      <div class="filterBlock">
        <ui-textbox ref="" placeholder="Filter by author or updated by" :multi-line="false" name="searchAuthor" class="" :disabled="IsLoading || ApiError" v-model="Filters.NoteAuthor"></ui-textbox>
      </div>
    </div>
    <!--table-->
    <!--Loaders-->
    <div v-if="IsLoading" class="loader">
      <ui-progress-circular color="primary"></ui-progress-circular>
    </div>

    <div v-if="!IsLoading && !ApiError" class="u-data-table--default no-margin-btm">

      <div v-if="getClinicalNotesToDisplay.length" data-full-height-deduct="true" class="table__head pure-g">
        <div class="pure-u-2-24">Clinical date</div>
        <div class="pure-u-9-24">Clinical note type</div>
        <div class="pure-u-5-24">Status</div>
        <div class="pure-u-8-24">Last updated by</div>
      </div>
      <div data-scroll="true" class="table__body js-fullHeight-bodyElement">
        <div v-for="(item) in getClinicalNotesToDisplay" :key="item.noteId" v-on:click="() => { return }" :class="getItemRowClass(item)">
          <div class="pure-u-2-24">
            <div class=calendar-item>
              <div class="day">{{item.clinicalDate | getDay}}</div>
              <div class="month-year">{{item.clinicalDate | getMonth}} {{item.clinicalDate | getYear}}</div>
            </div>
            <!-- {{item.clinicalDate | formatDate}} -->
          </div>

          <div class="pure-u-9-24 item_type">
            <div class="type__meta">
              <template v-if="IsTpiIntegrationSession">
                <button @click="getMedwayClinicalNote(item)" class="btn--plain">{{item.clinicalNoteType.title}}</button>
              </template>
              <template v-else>
                {{item.clinicalNoteType.title}} ({{item.clinicalNoteType.type}})
              </template>
            </div>
            <div class="block__row"><span class="label">Added by:</span> {{item.addedBy.title}} {{item.addedBy.forename}} {{item.addedBy.surname}} <span class="label">{{item.addedDate | formatDate}}</span></div>

          </div>

          <div class="pure-u-5-24 item_block">
            <div class="block__row"><span class="label">Type:</span> {{item.clinicalNoteType.type}}</div>
            <div class="block__row"><span class="label">Status:</span> <span :class="{'status-label': true,'status-label--complete':item.clinicalNoteCompletion.isCompleted}">{{item.clinicalNoteCompletion.completionStatus}}</span></div>
          </div>

          <div class="pure-u-8-24 item_block">
            <div class="block__row"><span class="label">Last updated:</span> {{item.lastUpdatedDate | formatDate}}</div>
            <div class="block__row"><span class="label">By:</span> {{item.lastUpdatedBy.title}} {{item.lastUpdatedBy.forename}} {{item.lastUpdatedBy.surname}}</div>
          </div>

        </div>
        <!--End of results rows -->
        <div class="u-text-center pure-u-1 footer-filter">
          <template v-if="Filters.SelectedTimeFrame.label === 'Last 24 hours' || Filters.SelectedTimeFrame.label === 'Last 48 hours' || Filters.SelectedTimeFrame.label === 'Last 7 days'">
            <p v-if="getClinicalNotesToDisplay.length || this.ClinicalNotes.length">End of filtered results ({{getClinicalNotesToDisplay.length}})</p>
            <p v-else>No results</p>
            <div>
              <button :disabled="IsLoading" type="button" v-on:click.stop.prevent="setNotesTimeFrame({'label':'Last 30 days','value':Filters.TimeFrames[3].value })" class="btn--plain">View notes from the last 30 days</button>
            </div>
          </template>
          <template v-if="Filters.SelectedTimeFrame.label === 'Last 30 days'">
            <p v-if="getClinicalNotesToDisplay.length || this.ClinicalNotes.length">End of filtered results ({{getClinicalNotesToDisplay.length}})</p>
            <p v-else>No results</p>
            <div>
              <button :disabled="IsLoading" type="button" v-on:click.stop.prevent="setNotesTimeFrame({'label':'View all','value':Filters.TimeFrames[4].value })" class="btn--plain">View notes older than 30 days</button>
            </div>
          </template>
          <template v-if="Filters.SelectedTimeFrame.label === 'View all'">
            <p v-if="getClinicalNotesToDisplay.length || this.ClinicalNotes.length">End of filtered results ({{getClinicalNotesToDisplay.length}})</p>
            <p v-else>No results</p>
          </template>
        </div>
      </div>
      <!--scroll el-->

    </div>
    <div v-if="ApiError" class="loader">
      Clinical notes service unavailable.
    </div>
  </div>

</template>

<script>
  /* API Endpoints */
  import * as GetMedwayGuid from 'Endpoints/medwayServices/patientServiceAPI/GetPatientMedwayGuid';
  import GetPatient from 'Endpoints/patients/GetPatient';
  import Vault from 'Endpoints/careflowApp/Vault';
  import * as GetPatientClinicalNotes from 'Endpoints/medwayServices/clinicalNotes/GetPatientClinicalNotes';
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import GetPatientHospitalNumber from 'VueMixins/getPatientHospitalNumber';

  export default {
  	data() {
  		return {
  			PatientId: this.patientId || null,
  			Patient: this.patient || null,
  			PatientMedwayGuid: this.patientMedwayGuid || null,
  			PatientHospitalNumber: this.patient ? this.getPatientHospitalNumberFromIdentifiers(this.patient.PatientIdentifiers) : null,
  			NetworkId: this.networkId,
  			memberAreaIdId: this.memberAreaId || null,
  			IsLoading: false,
  			ApiError: false,
  			IsTpiIntegrationSession: appMain.isTpiIntegrationSession(),
  			Filters: {
  				TimeFrames: [
  					//https://stackoverflow.com/questions/26873200/momentjs-getting-javascript-date-in-utc
  					{
  						label: 'Last 24 hours',
  						value: moment()
  							.utc()
  							.subtract(1, 'days')
  							.format(),
  					},
  					{
  						label: 'Last 48 hours',
  						value: moment()
  							.utc()
  							.subtract(2, 'days')
  							.format(),
  					},
  					{
  						label: 'Last 7 days',
  						value: moment()
  							.utc()
  							.subtract(7, 'days')
  							.format(),
  					},
  					{
  						label: 'Last 30 days',
  						value: moment()
  							.utc()
  							.subtract(30, 'days')
  							.format(),
  					},
  					{
  						label: 'View all',
  						value: null,
  					},
  				],
  				SelectedTimeFrame: {
  					//Default
  					label: 'Last 30 days',
  					value: moment()
  						.utc()
  						.subtract(30, 'days')
  						.format(),
  				},
  				SelectedStatus: '',
  				NoteTitle: '',
  				NoteAuthor: '',
  			},
  			ClinicalNotes: [],
  			ThereAreMore: false,
  		};
  	},
  	props: {
  		patientId: {
  			type: [String, Number],
  			required: true,
  		},
  		patientMedwayGuid: {
  			type: [String, Number],
  			required: false,
  		},
  		patient: {
  			type: [Object],
  			required: false,
  		},
  		networkId: {
  			type: [String, Number],
  			required: true,
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false,
  		},
  	},
  	mixins: [DateFilter, GetPatientHospitalNumber],
  	methods: {
  		init() {
  			this.IsLoading = true;
  			this.getPatient()
  				.then(this.getPatientMedwayGuid)
  				.then(this.getClinicalNotes)
  				.catch(error => {
  					this.IsLoading = false;
  					this.ClinicalNotes = [];
  					this.ApiError = true;
  				});
  		},
  		getPatient() {
  			return new Promise((resolve, reject) => {
  				if (this.patient && this.patientId) return resolve();
  				GetPatient.callApi(this.patientId, this.networkId, 'ClinicalTags, HandoverNotes, GroupLists')
  					.then((response, textStatus, xhr) => {
  						this.Patient = response.Data;
  						this.PatientId = response.Data.PatientExternalIdentifier;
  						this.PatientHospitalNumber = this.getPatientHospitalNumberFromIdentifiers(this.patient.PatientIdentifiers);
  						resolve();
  					})
  					.fail(error => {
  						reject();
  					});
  			}).catch(error => {
  				reject();
  			});
  		},
  		getPatientMedwayGuid() {
  			return new Promise((resolve, reject) => {
  				if (this.PatientMedwayGuid) return resolve(this.PatientMedwayGuid);

  				GetMedwayGuid.getPatientMedwayGuid(this.patientId, this.patient, this.PatientHospitalNumber)
  					.then(response => {
  						if (!response) return reject();
  						this.PatientMedwayGuid = response.patientId;
  						return resolve(this.PatientMedwayGuid);
  					})
  					.catch(error => {
  						return reject();
  					});
  			});
  		},
  		getClinicalNotes() {
  			//Medway NOTES
  			return new Promise((resolve, reject) => {
  				if (!this.PatientMedwayGuid) return reject();
  				let stagingResultsData = [];
  				let page = 1;
  				let pageSize = 100;
  				let callApi = () => {
  					let startDate = moment(this.Filters.SelectedTimeFrame.value).format('YYYY-MM-DD') ? this.Filters.SelectedTimeFrame.value : null;
  					GetPatientClinicalNotes.callApi(this.PatientMedwayGuid, 'ClinicalNote,DischargeSummary,Proforma,SDI', page, 100, startDate)
  						.then(response => {
  							stagingResultsData.push.apply(stagingResultsData, response.data.results);
  							if (response.data.totalPages > response.data.pageIndex) {
  								//There are more
  								page += 1;
  								return callApi();
  							}
  							this.ClinicalNotes = stagingResultsData.sort((a, b) => {
  								return new Date(b.ClinicalDate) - new Date(a.ClinicalDate);
  							}); // Turn your strings into dates, and then subtract them;
  							this.IsLoading = false;
  							stagingResultsData = [];
  							resolve();
  						})
  						.catch(error => {
  							stagingResultsData = [];
  							return reject(error);
  						});
  				};
  				callApi();
  			});
  		},
  		getStatusLabel(status) {
  			if (status.isCompleted) return `<span class"status-label--complete">${status.completionStatus}</span>`;
  			return `<span class"status-label">${status.completionStatus}</span>`;
  		},
  		setNotesTimeFrame(val) {
  			if (!val) return;
  			val = JSON.parse(JSON.stringify(val));
  			this.Filters.SelectedTimeFrame = val; //Set the model
  			return this.init();
  		},
  		setNotesStatus(val) {
  			val = JSON.parse(JSON.stringify(val));
  			this.Filters.SelectedStatus = val; //Set the model
  			if (val.length) return this.init();
  		},
  		getItemRowClass(item) {
  			if (!item) return `table__row pure-g`;
  			if (item.clinicalNoteType.type.replace(/\s/g, '') === 'Proforma') return `table__row pure-g row-proforma`;
  			if (item.clinicalNoteType.type.replace(/\s/g, '') === 'ClinicalNote') return `table__row pure-g row-clinical-note`;
  			if (item.clinicalNoteType.type.replace(/\s/g, '') === 'DischargeSummary') return `table__row pure-g row-discharge-summary`;
  			if (item.clinicalNoteType.type.replace(/\s/g, '') === 'SDI') return `table__row pure-g row-sdi`;
  			return `table__row pure-g`;
  		},
  		getMedwayClinicalNote(item) {
  			//if in TPI, get shell command
  			if (!item) return;
  			return appApi.callCommand('viewNote', { patientId: this.PatientMedwayGuid, clinicalNoteId: item.noteId, clinicalNoteType: item.clinicalNoteType.id });
  			//return appApi.callCommand('viewNote', { patientId: this.PatientMedwayGuid, clinicalNoteId: item.noteId, clinicalNoteType: item.clinicalNoteType.type });
  		},
  	},
  	computed: {
  		getClinicalNotesToDisplay() {
  			if (!this.ClinicalNotes.length) return [];

  			return (
  				this.ClinicalNotes.filter(x => {
  					if (!this.Filters.NoteTitle) return x;
  					if (this.Filters.NoteTitle && x.clinicalNoteType.title.toLowerCase().includes(this.Filters.NoteTitle.toLowerCase())) return x;
  				})
  					.filter(x => {
  						if (!this.Filters.NoteAuthor || this.Filters.NoteAuthor.length < 2) return x;
  						let addedByName = x.addedBy.title + x.addedBy.forename + x.addedBy.surname;
  						let lastUpdatedByName = x.lastUpdatedBy.title + x.lastUpdatedBy.forename + x.lastUpdatedBy.surname;
  						if (addedByName.toLowerCase().includes(this.Filters.NoteAuthor.replace(/\s/g, '').toLowerCase()) || lastUpdatedByName.toLowerCase().includes(this.Filters.NoteAuthor.replace(/\s/g, '').toLowerCase())) return x;
  					})
  					.filter(x => {
  						let selectedStatuses =
  							this.Filters.SelectedStatus.map(y => {
  								return y.value.toLowerCase();
  							}) || [];

  						if (!selectedStatuses.length) return x;

  						if (selectedStatuses.includes(x.clinicalNoteCompletion.completionStatus.toLowerCase())) return x;
  					})
  					.sort((a, b) => {
  						return new Date(b.lastUpdatedDate) - new Date(a.lastUpdatedDate);
  					}) || []
  			);
  		},
  		getCompletedStatuses() {
  			if (!this.ClinicalNotes.length) return;
  			let data = this.ClinicalNotes.map(x => {
  				return x.clinicalNoteCompletion.completionStatus;
  			});
  			data = new Set(...[data]); //Get uniques asSet

  			return (
  				Array.from(data).map(x => {
  					return {
  						label: x,
  						value: x,
  					};
  				}) || []
  			);
  		},
  	},
  	mounted() {},
  	beforeDestroy() {},
  	created() {
  		//Init
  		this.init();
  	},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},
  };
</script>
<style lang="less">
  /*Template literals don't seem to like scoped styles*/
</style>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../../less/app-variables.less';
  @colour-clinical-note: rgb(255, 255, 255);
  @colour-discharge-summary: rgb(234, 245, 229);
  @colour-proforma: rgb(229, 234, 245);
  @colour-sdi: rgb(234, 153, 153);
  .loader {
  	padding: 1em;
  }
  .row-clinical-note {
  	background: @colour-clinical-note;
  }
  .row-discharge-summary {
  	background: @colour-discharge-summary;
  }
  .row-proforma {
  	background: @colour-proforma;
  }
  .row-sdi {
  	background: @colour-sdi;
  }

  .filters-wrapper {
  	padding: 0 0 1em 0;
  	margin: 0 0 0 0.8em;
  	box-sizing: border-box;
  	display: flex;
  	flex-flow: row nowrap;
  	align-items: center;
  	border-bottom: 1px solid @row--border;
  	flex-wrap: wrap;
  	& .filterBlock {
  		box-sizing: border-box;
  		min-width: 16em;
  		max-width: 300px;
  		margin: 0;
  		border-right: 1px solid @row--border;
  		padding: 0 1.3em 0 1.3em;
  		& .ui-textbox {
  			margin-bottom: 0;
  		}
  		& .ui-select {
  			margin-bottom: 0;
  		}
  	}
  }
  .table__body {
  	& .footer-filter {
  		margin-bottom: 15em;
  	}
  }
  .item_block {
  	display: flex;
  	flex-direction: column;
  }

  .item_type {
  	display: flex;
  	flex-direction: column;
  	& .type__meta {
  		margin: 0 0 0.6em 0;
  	}
  }

  .block__row {
  	&:first-of-type {
  		margin: 0 0 0.6em 0;
  	}
  }

  .label {
  	color: @text-light;
  	font-weight: @font--normal;
  }
  .calendar-item {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	& .day {
  		font-size: 1.1em;
  		font-weight: @font--bold;
  	}

  	& .month-year {
  		font-weight: @font--medium;
  		text-transform: uppercase;
  	}
  }
  .status-label {
  	font-weight: @font--medium;
  	color: @text-light;
  }
  .status-label--complete {
  	.status-label();
  	color: @body-colour;
  }
</style>



<custom>Medway Clinical Notes tab list view</custom>
