<template>
  <div class="patient-summary-widget">
    <template v-if="!ApiError && IsLoading">
      <div class="view-block__title">Clinical Notes</div>
      <ui-progress-circular color="primary"></ui-progress-circular>
    </template>
    <template v-else>
      <div class="view-block__title">Clinical Notes
        <span v-if="getClinicalNotesToDisplay.length > 4"> (Latest 5)</span>
        <span v-on:click="setActiveItem()" class="u-pull-right btn--plain">View all</span>
      </div>
      <template v-if="getClinicalNotesToDisplay.length && !ApiError">
        <div v-on:click="()=>{(IsTpiIntegrationSession) ? getMedwayClinicalNote(item) : setActiveItem(item.noteId)}" class="item" v-for="(item) in getClinicalNotesToDisplay" :key="item.noteId">
          <div class="item-row">
            <span class="row__title">{{item.clinicalNoteType.title}}</span><span class="row__author"> by {{item.lastUpdatedBy.title}} {{item.lastUpdatedBy.forename}} {{item.lastUpdatedBy.surname}}</span>
            <span class="row__date">{{item.lastUpdatedDate | formatDate}}</span>
          </div>
        </div>
      </template>
      <div v-if="!getClinicalNotesToDisplay.length && !IsLoading && !ApiError">No clinical notes to display for this patient.</div>
      <div v-if="ApiError" class="loader">Clinical notes service unavailable.</div>
    </template>
  </div>
</template>

<script>
  /* API Endpoints */
  import * as GetMedwayGuid from 'Endpoints/medwayServices/patientServiceAPI/GetPatientMedwayGuid';
  import GetPatient from 'Endpoints/patients/GetPatient';
  import Vault from 'Endpoints/careflowApp/Vault';
  import * as GetPatientClinicalNotes from 'Endpoints/medwayServices/clinicalNotes/GetPatientClinicalNotes';
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import GetPatientHospitalNumber from 'VueMixins/getPatientHospitalNumber';

  export default {
  	data() {
  		return {
  			PatientId: this.patientId || null,
  			Patient: this.patient || null,
  			PatientMedwayGuid: this.patientMedwayGuid || null,
  			PatientHospitalNumber: this.patient ? this.getPatientHospitalNumberFromIdentifiers(this.patient.PatientIdentifiers) : null,
  			NetworkId: this.networkId,
  			MemberAreaIdId: this.memberAreaId || null,
  			IsLoading: false,
  			ClinicalNotes: [],
  			ApiError: false,
  			IsTpiIntegrationSession: appMain.isTpiIntegrationSession(),
  		};
  	},
  	props: {
  		patientId: {
  			type: [String, Number],
  			required: true,
  		},
  		patient: {
  			type: [Object],
  			required: false,
  		},
  		networkId: {
  			type: [String, Number],
  			required: true,
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false,
  		},
  	},
  	mixins: [DateFilter, GetPatientHospitalNumber],
  	methods: {
  		setActiveItem(noteId) {
  			this.$emit('set-active-item', {
  				ContentItemId: noteId || null,
  				ContentType: 'patient-clinical-notes',
  			});
  		},
  		init() {
  			this.IsLoading = true;
  			this.getPatient()
  				.then(this.getPatientMedwayGuid)
  				.then(this.getClinicalNotes)
  				.catch(error => {
  					this.IsLoading = false;
  					this.ClinicalNotes = [];
  					this.ApiError = true;
  				});
  		},
  		getPatient() {
  			return new Promise((resolve, reject) => {
  				if (this.patient && this.patientId) return resolve();
  				GetPatient.callApi(this.patientId, this.networkId, 'ClinicalTags, HandoverNotes, GroupLists')
  					.then((response, textStatus, xhr) => {
  						this.Patient = response.Data;
  						this.PatientId = response.Data.PatientExternalIdentifier;
  						this.PatientHospitalNumber = this.getPatientHospitalNumberFromIdentifiers(this.patient.PatientIdentifiers);
  						resolve();
  					})
  					.fail(error => {
  						reject();
  					});
  			});
  		},
  		getPatientMedwayGuid() {
  			return new Promise((resolve, reject) => {
  				if (this.PatientMedwayGuid) return resolve(this.PatientMedwayGuid);
  				if (!this.PatientHospitalNumber) return reject();
  				GetMedwayGuid.getPatientMedwayGuid(this.patientId, this.patient, this.PatientHospitalNumber)
  					.then(response => {
  						if (!response) return reject();
  						this.PatientMedwayGuid = response.patientId;
  						return resolve(this.PatientMedwayGuid);
  					})
  					.catch(error => {
  						return reject();
  					});
  			});
  		},
  		getClinicalNotes() {
  			//Medway NOTES
  			return new Promise((resolve, reject) => {
  				if (!this.PatientMedwayGuid) return reject();
  				let stagingResultsData = [];
  				let page = 1;
  				let pageSize = 100;
  				let callApi = () => {
  					//let startDate = moment(this.Filters.SelectedTimeFrame.value).format('YYYY-MM-DD') ? this.Filters.SelectedTimeFrame.value : null;
  					GetPatientClinicalNotes.callApi(this.PatientMedwayGuid, 'ClinicalNote,DischargeSummary,Proforma,SDI', page, pageSize)
  						.then(response => {
  							stagingResultsData.push.apply(stagingResultsData, response.data.results);
  							if (response.data.totalPages > response.data.pageIndex) {
  								//There are more
  								page += 1;
  								return callApi();
  							}
  							this.ClinicalNotes = stagingResultsData.sort((a, b) => {
  								return new Date(b.ClinicalDate) - new Date(a.ClinicalDate);
  							}); // Turn your strings into dates, and then subtract them;
  							this.IsLoading = false;
  							stagingResultsData = [];
  							resolve();
  						})
  						.catch(error => {
  							stagingResultsData = [];
  							return reject(error);
  						});
  				};
  				callApi();
  			});
  		},
  		getMedwayClinicalNote(item) {
  			//if in TPI, get shell command
  			if (!item) return;
  			return appApi.callCommand('viewNote', { patientId: this.PatientMedwayGuid, clinicalNoteId: item.noteId, clinicalNoteType: item.clinicalNoteType.id });
  		},
  	},
  	computed: {
  		getClinicalNotesToDisplay() {
  			if (!this.ClinicalNotes) return [];
  			return this.ClinicalNotes.sort((a, b) => {
  				return new Date(b.lastUpdatedDate) - new Date(a.lastUpdatedDate);
  			}).slice(0, 5); //Latest 5
  		},
  	},
  	mounted() {},
  	beforeDestroy() {},
  	created() {
  		//Init
  		this.init();
  	},
  };
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../../less/app-variables.less';
  .patient-summary-widget {
  	box-sizing: border-box;
  	margin: 1em 0 2em 0;
  	padding: 0 1em;
  }
  .item {
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
  	margin: 0 0 0.6em 0;
  	flex-wrap: wrap;
  	flex: 1;
  }

  .item-row {
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;

  	& .row__title {
  		@text-wrap-container();
  		color: @link--active;
  		font-weight: @font--medium;
  		display: flex;
  		flex-grow: inherit;
  		padding: 0;
  		margin: 0 0.7em 0 0;
  		box-sizing: border-box;
  		&:hover {
  			cursor: pointer;
  		}
  	}

  	& .row__author {
  		color: @body-colour;
  		display: flex;
  		font-weight: @font--normal;
  		margin: 0 0.7em 0 0;
  	}

  	& .row__date {
  		color: @text-light;
  		display: flex;
  		font-weight: @font--normal;
  		margin: 0;
  	}
  }
</style>



<custom>Medway Clinical Notes dashboard widget</custom>
