<template>
  <div :class="{'item':true, 'meds-full-line-item' : true, 'ui-disabled': item.status.toLowerCase() === 'discontinued'}">
    <div v-if="eitherOrflag" class="either-or-icon">OR</div>
    <div v-if="isEitherOr || isLastEitherOr || isFirstEitherOr" :class="{'is-either-or':isEitherOr, 'is-either-or--last':isLastEitherOr, 'is-either-or--first':isFirstEitherOr}"></div>
    <div class="item-data">
      <div class="item__line-1">
        <div v-html="getActiveLine1ItemForWidgetDisplay(this.item.regimens[0])"></div>
      </div>
      <div class="item__line-2">
        <div v-if="!isMultipleRegimenItem" v-html="getActiveLine2ItemForWidgetDisplay(this.item.regimens[0])"></div>
        <div v-else :class="{'multi-regimen-line':isMultipleRegimenItem}" v-for="(item, index) in this.item.regimens" :key="index" v-html="getRegimenLineItemForWidgetDisplay(item, index)"></div>
      </div>
    </div>
    <div class="item-meta">
      <div class="meta__block">
        <div v-html="getStartDateForDisplay()"></div>
        <div v-html="getEndDateForDisplay()"></div>
        <div v-html="getReviewDateForDisplay()"></div>
      </div>
      <div class="meta__block">
        <div v-html="getStatusForDisplay()"></div>
        <div v-html="getLastAdministeredForDisplay()"></div>
        <div v-html="getPrescriberForDisplay()"></div>
      </div>
    </div>
  </div>
</template>

<script>
  import Vault from 'Endpoints/careflowApp/Vault';
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  /* API Endpoints */
  /*Components*/
  import CurrentMedicationLineItem from 'VueComponents/medwayIntegrations/patientMedications/components/CurrentMedicationLineItem';

  export default {
  	data: function() {
  		return {
  			IsLoading: false,
  			RebuildUiComponentKey: null,
  		};
  	},
  	mixins: [DateFilter],
  	components: {},
  	props: {
  		patient: {
  			required: false,
  			type: [Array, Object],
  		},
  		patientId: {
  			required: true,
  			type: [Number, String],
  		},
  		item: {
  			required: true,
  			type: [Array, Object],
  		},
  		eitherOrflag: {
  			//Show 'OR' icon or not
  			required: true,
  			type: [Boolean],
  			default: false,
  		},
  		isEitherOr: {
  			required: true,
  			type: [Boolean],
  			default: false,
  		},
  		isFirstEitherOr: {
  			required: true,
  			type: [Boolean],
  			default: false,
  		},
  		isLastEitherOr: {
  			required: true,
  			type: [Boolean],
  			default: false,
  		},
  	},
  	filters: {},

  	computed: {
  		isMultipleRegimenItem() {
  			if (!this.item.regimens || !this.item.regimens.length) return false;
  			return this.item.regimens.length > 1;
  		},
  	},

  	watch: {},

  	methods: {
  		getItemTextClass(type, text) {
  			if (type === 'DoseUnit' || type === 'Dose') return 'u-bold';
  		},

  		/*Disply label methods*/

  		getActiveLine1ItemForWidgetDisplay(obj) {
  			if (obj.isAsymetricdosing) {
  				return `${this.getIsControlledDrug(obj)} <span class="med-name">${this.getMedicationName(obj)}</span> ${this.getFormAndStrength(obj)} ${this.getAsymetricDoseLabel(obj)}`;
  			}

  			if (this.getSupplementaryChartNamePrompt(obj) && this.getSupplementaryChartPrompt(obj)) {
  				return `${this.getIsControlledDrug(obj)} <span class="med-name">${this.getSupplementaryChartNamePrompt(obj)}</span> ${this.getSupplementaryChartPrompt(obj)}`;
  			}
  			// if (obj.isMultipleRegimenItem) {
  			// 	return this.item.regimens.map(x => {
  			// 		x.medicationLineComponent.map(y => {
  			// 			return `XX- ${this.getDose(obj)}${this.getDoseUnit(obj)} ${this.getRoute(obj)} ${this.getStatLabel(obj)} ${this.getFrequency(obj)} ${this.getPrnLabel(obj)} ${this.getDurationAndFrequency(obj)}`;
  			// 		});
  			// 	});
  			// }
  			return `${this.getIsControlledDrug(obj)} <span class="med-name">${this.getMedicationName(obj)}</span> ${this.getFormAndStrength(obj)}`;
  		},

  		getActiveLine2ItemForWidgetDisplay(obj) {
  			if (obj.isAsymetricdosing) {
  				return `${this.getStartDate(obj)} ${this.getStatLabel(obj)} ${this.getAsymetricDoseLabelTimes(obj)} ${this.getPrnLabel(obj)} ${this.getDurationAndFrequency(obj)} ${this.getPrnLabel(obj)} ${this.getRegimeEndAction(obj)}`;
  			}

  			if (this.getSupplementaryChartNamePrompt(obj) && this.getSupplementaryChartPrompt(obj)) {
  				return `${this.getStartDate(obj)} ${this.getFrequency(obj)} ${this.getDurationAndFrequency(obj)} ${this.getPrnLabel(obj)} ${this.getRegimeEndAction(obj)}`;
  			}

  			return `${this.getStartDate(obj)} ${this.getDose(obj)} ${this.getDoseUnit(obj)} ${this.getRoute(obj)} ${this.getStatLabel(obj)} ${this.getFrequency(obj)} ${this.getDurationAndFrequency(obj)} ${this.getPrnLabel(obj)} ${this.getRegimeEndAction(obj)}`;
  		},

  		getRegimenLineItemForWidgetDisplay(obj, index) {
  			/*Regimens - multi line*/

  			if (obj.isAsymetricdosing) {
  				return `${this.getIsControlledDrug(obj)} ${this.getStartDate(obj, index)} ${this.getStatLabel(obj)} ${this.getAsymetricDoseLabel(obj)} ${this.getAsymetricDoseLabelTimes(obj)} ${this.getDurationAndFrequency(obj)} ${this.getPrnLabel(obj)} ${this.getRegimeEndAction(obj)} `;
  			}

  			if (this.getSupplementaryChartNamePrompt(obj) && this.getSupplementaryChartPrompt(obj)) {
  				return `${this.getIsControlledDrug(obj)} ${this.getStartDate(obj, index)} ${this.getSupplementaryChartPrompt(obj)} ${this.getFrequency(obj)} ${this.getDurationAndFrequency(obj)} ${this.getPrnLabel(obj)} ${this.getRegimeEndAction(obj)}`;
  			}

  			return `${this.getIsControlledDrug(obj)} ${this.getStartDate(obj, index)} ${this.getFormAndStrength(obj)} ${this.getDose(obj)} ${this.getDoseUnit(obj)} ${this.getRoute(obj)} ${this.getStatLabel(obj)} ${this.getFrequency(obj)} ${this.getPrnLabel(
  				obj
  			)} ${this.getDurationAndFrequency(obj)} ${this.getPrnLabel(obj)} ${this.getRegimeEndAction(obj)}`;
  		},

  		/*Helpers*/

  		getStatusForDisplay() {
  			if (this.item.status === 'Active') return `<span class="label">Status:</span> ${this.item.status}`;
  			if (this.item.status === 'Ended') return `<span class="label">Status:</span> ${this.item.status}`;
  			if (this.item.status === 'Suspended') return `<span class="label">Status:</span> <span class="danger">${this.item.status}</span>`;
  			return `<span class="label">Status: -</span> ${this.item.status}`;
  		},
  		getStartDateForDisplay() {
  			if (this.item.startDate) return `<span class="label">Start:</span> ${this.$options.filters.formatDate(this.item.startDate)}`;

  			// if (!this.isMultipleRegimenItem && this.item.regimens[0].medicationLineComponent[0].startDateAndTime) return `<span class="label">Start:</span> ${this.$options.filters.formatDate(this.item.regimens[0].medicationLineComponent[0].startDateAndTime)}`;
  			//   return `<span class="label">Start: -</span>`;

  			let startDateCollection = this.item.regimens
  				.map(x => {
  					if (x.startDateAndTime && x.startDateAndTime !== '') return this.$options.filters.formatDate(x.startDateAndTime);
  					return null;
  				})
  				.filter(Boolean);

  			startDateCollection = startDateCollection.sort(function(a, b) {
  				// Turn your strings into dates, and then subtract them
  				// to get a value that is either negative, positive, or zero.
  				return new Date(b.date) - new Date(a.date);
  			});

  			if (startDateCollection.length) return `<span class="label">Start:</span> ${startDateCollection[0]}`;
  			return `<span class="label">Start: -</span>`;
  		},
  		getEndDateForDisplay() {
  			if (this.item.endDate) return `<span class="label">End:</span> ${this.$options.filters.formatDate(this.item.endDate)}`;
  			if (!this.isMultipleRegimenItem && this.item.regimens[0].endDateAndTime) return `<span class="label">Start:</span> ${this.$options.filters.formatDate(this.item.endDateAndTime)}`;
  			return `<span class="label">End: -</span>`;
  		},
  		getPrescriberForDisplay() {
  			if (this.item.prescriber) return `<span class="label">Prescriber:</span> ${this.item.prescriber}`;
  			return `<span class="label">Prescriber: -</span>`;
  		},

  		getReviewDateForDisplay() {
  			if (this.item.reviewDate) return `<span class="label">Review:</span> ${this.$options.filters.formatDate(this.item.reviewDate)}`;
  			return `<span class="label">Review: -</span>`;
  		},

  		getLastAdministeredForDisplay() {
  			let lastAdministeredCollection = this.item.regimens.map(x => {
  				return x.medicationLineComponent
  					.map(y => {
  						if (y.type === 'DateLastAdministered' && y.text !== '') return this.$options.filters.formatDate(y.text);
  						return null;
  					})
  					.filter(Boolean);
  			});

  			lastAdministeredCollection = [].concat(...lastAdministeredCollection);

  			lastAdministeredCollection = lastAdministeredCollection.sort(function(a, b) {
  				//Get latest
  				// Turn your strings into dates, and then subtract them
  				// to get a value that is either negative, positive, or zero.
  				return new Date(b.date) - new Date(a.date);
  			});

  			if (lastAdministeredCollection.length) return `<span class="label">Last administered:</span> ${lastAdministeredCollection[0]}`;
  			return `<span class="label">Last administered: -</span>`;
  		},

  		/*Regimen helpers*/
  		getMedicationName(obj) {
  			return (
  				obj.medicationLineComponent
  					.map(x => {
  						if (x.type === 'GenericName') return x.text;
  						return null;
  					})
  					.filter(Boolean)[0] || ''
  			);
  		},
  		getRoute(obj) {
  			return (
  				obj.medicationLineComponent
  					.map(x => {
  						if (x.type === 'Route' && !obj.isAsymetricdosing) return '- ' + x.text + ' -';
  						if (x.type === 'Route' && obj.isAsymetricdosing) return x.text;
  						return null;
  					})
  					.filter(Boolean)[0] || ''
  			);
  		},
  		getDoseUnit(obj) {
  			return (
  				obj.medicationLineComponent
  					.map(x => {
  						if (x.type === 'DoseUnit') return `<span class="dosage-label">${x.text}</span>`;
  						return null;
  					})
  					.filter(Boolean)[0] || ''
  			);
  		},

  		getDose(obj) {
  			return (
  				obj.medicationLineComponent
  					.map(x => {
  						if (x.type === 'Dose') return `<span class="dose-label">DOSE</span> <span class="dosage-label">${x.text}</span>`;
  						return null;
  					})
  					.filter(Boolean)[0] || ''
  			);
  		},

  		getFormAndStrength(obj) {
  			//API guarantees order in response JSON (EPMA confirmed)

  			let strength = obj.medicationLineComponent.filter(x => x.type === 'Strength' && x.text !== '');
  			let form = obj.medicationLineComponent.filter(x => x.type === 'Form' && x.text !== '');

  			if (strength.length && form.length) {
  				return `- ${strength[0].text} - ${form[0].text}`;
  			}

  			let parsedData =
  				obj.medicationLineComponent
  					.map(x => {
  						if (x.type === 'Strength') return `${x.text}`;
  						if (x.type === 'Form') return `${x.text}`;
  						return null;
  					})
  					.filter(Boolean)
  					.join(' ') || '';

  			if (parsedData.length) return `- ${parsedData}`;
  			return '';
  		},

  		getForm(obj) {
  			return (
  				obj.medicationLineComponent
  					.map(x => {
  						if (x.type === 'Form') return `${x.text}`;
  						return null;
  					})
  					.filter(Boolean)[0] || ''
  			);
  		},

  		getFormStrength(obj) {
  			return (
  				obj.medicationLineComponent
  					.map(x => {
  						if (x.type === 'Strength') return `${x.text}`;
  						return null;
  					})
  					.filter(Boolean)[0] || ''
  			);
  		},

  		getFrequency(obj) {
  			return (
  				obj.medicationLineComponent
  					.map(x => {
  						if (x.type === 'Frequency' && x.text !== 'STAT') return x.text;
  						return null;
  					})
  					.filter(Boolean)[0] || ''
  			);
  		},

  		getDurationAndFrequency(obj) {
  			return (
  				obj.medicationLineComponent
  					.map(x => {
  						if (x.type === 'RegimeDurationAndFrequency') return `- ${x.text}`;
  						return null;
  					})
  					.filter(Boolean)[0] || ''
  			);
  		},

  		getPrnLabel(obj) {
  			if (obj.isPrn) return 'as required';
  			return '';
  		},

  		getStatLabel(obj) {
  			if (obj.isStat) return 'STAT';
  			return '';
  		},

  		getAsymetricDoseLabel(obj) {
  			if (obj.isAsymetricdosing) return `- <span class="route-label">ROUTE</span> ${this.getRoute(obj)}`;
  			return '';
  		},

  		getAsymetricDoseLabelTimes(obj, isAsymetricDose) {
  			if (!obj.isAsymetricdosing) return ``;
  			let parsedString =
  				obj.medicationLineComponent
  					.map(x => {
  						let doseUnit = this.getDoseUnit(obj) || ''; //API returns in literal order (Jason B confirmed this)
  						if (x.type === 'Dose') return `<span class="dosage-label">${x.text} ${doseUnit}</span>`;
  						if (x.type === 'DoseTime') return x.text;
  						return null;
  					})
  					.filter(Boolean)
  					.join(' ') || '';

  			if (parsedString) return `<span class="dose-label">DOSE</span> ${parsedString}`;
  			return '';
  		},

  		getSupplementaryChartNamePrompt(obj) {
  			return obj.medicationLineComponent
  				.map(x => {
  					if (x.type === 'SupplementaryChartName') return `${x.text} -`;
  					return null;
  				})
  				.filter(Boolean)[0];
  		},

  		getSupplementaryChartPrompt(obj) {
  			return obj.medicationLineComponent
  				.map(x => {
  					if (x.type === 'SupplementaryChartPrompt') return `<span class="prompt-label">PROMPT</span> ${x.text}`;
  					return null;
  				})
  				.filter(Boolean)[0];
  		},
  		getIsControlledDrug(obj) {
  			return (
  				obj.medicationLineComponent
  					.map(x => {
  						if (x.type === 'CD' && x.text !== '') return `<span class="cd-label">CD${x.text}</span>`;
  						return null;
  					})
  					.filter(Boolean) || ''
  			);
  		},
  		getStartDate(obj, index) {
  			if (!obj.hasOwnProperty('startDateAndTime') || !obj.startDateAndTime) return ``;
  			return `${!index ? ` ` : ` `}<span class="print-label">START</span> ${this.$options.filters.formatDate(obj.startDateAndTime)}`;
  		},
  		getRegimeEndAction(obj) {
  			return (
  				obj.medicationLineComponent
  					.map(x => {
  						if (x.type === 'RegimeEndAction' && x.text.length) return `- then ${x.text}`;
  						return null;
  					})
  					.filter(Boolean)[0] || ''
  			);
  		},
  	},

  	filters: {
  		toLowerCase(string) {
  			return string.toLowerCase();
  		},
  	},

  	events: {},

  	beforeCreate: function() {},

  	created: function() {},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},

  	mounted() {},
  };
</script>

<style lang="less">
  /*TEMPLATE LITERAL CLASSES DON'T SEEMED TO LIKE SCOPED CSS :(*/
  @import '../../../../../../less/app-variables.less';
  .meds-full-line-item {
  	.med-name {
  		font-weight: @font--medium;
  	}
  	.label {
  		color: @text-light;
  		&.danger {
  			color: @urgent-colour;
  		}
  	}
  	.danger {
  		color: @urgent-colour;
  	}
  	.cd-label {
  		border: 2px solid @careflow--purple;

  		font-size: 0.8em;
  		padding: 0 0.1em;
  		line-height: 0.8em;
  		font-size: 0.8em;
  		font-weight: @font--medium;
  		background: #fff;
  	}
  	.print-label {
  		color: @button-primary-bg;
  		font-weight: @font--normal;
  		font-family: Consolas, monospace;
  		text-transform: uppercase;
  	}
  	.dose-label {
  		color: @button-primary-bg;
  		font-weight: @font--normal;
  		font-family: Consolas, monospace;
  	}
  	.dosage-label {
  		font-weight: @font--medium;
  	}
  	.route-label {
  		color: @button-primary-bg;
  		font-weight: @font--normal;
  		font-family: Consolas, monospace;
  	}
  	.prompt-label {
  		color: @button-primary-bg;
  		font-weight: @font--normal;
  		font-family: Consolas, monospace;
  	}
  	&.ui-disabled {
  		span,
  		div {
  			color: @text-light;
  		}
  	}
  }
</style>


<style scoped lang="less">
  @import '../../../../../../less/app-variables.less';

  .item {
  	display: flex;
  	flex-direction: row;
  	margin: 0;
  	padding: 0.4em 1.1em;
  	//flex-wrap: wrap;
  	flex: 1;
  	white-space: pre-line;
  	position: relative;
  	border-bottom: 1px solid @view-block-border;
  	flex-grow: 1;
  	box-sizing: content-box;

  	&.is-last-either-or {
  	}

  	&.is-first-either-or {
  	}
  }

  .item-data {
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	flex-grow: 1;
  	margin: 0;
  	padding: 0.5em 0;
  	flex-basis: 65%;
  	box-sizing: border-box;
  }
  .item-meta {
  	display: flex;
  	flex-direction: row;
  	flex-grow: 1;
  	box-sizing: border-box;
  	flex-basis: 35%;
  	white-space: normal;
  	justify-content: space-between;
  	& .meta__block {
  		display: flex;
  		flex-direction: column;
  		flex-basis: 50%;
  		padding: 0 0.5em 0 0;
  		//min-width: 200px;
  		box-sizing: border-box;
  	}
  }

  .either-or-icon {
  	position: absolute;
  	border: 2px solid @warning-colour;
  	color: @warning-colour;
  	top: -0.9em;
  	left: 1.3em;
  	padding: 0.2em 0.2em;
  	line-height: 0.9em;
  	font-size: 0.9em;
  	font-weight: @font--medium;
  	background: #fff;
  }

  .is-either-or {
  	width: 4px;
  	position: absolute;
  	left: 0px;
  	top: 0;
  	height: 100%;
  	background: @warning-colour;
  	display: flex;
  }
  .is-either-or--first {
  	.is-either-or();
  	height: 50%;
  	bottom: 0;
  	top: 50%;
  }

  .is-either-or--last {
  	.is-either-or();
  	height: 50%;

  	top: 0;
  }

  .item__line-1 {
  	margin: 0 0 0.3em 0;
  	box-sizing: border-box;
  }
  .multi-regimen-line {
  	margin: 0 0 0.1em 0;
  }
</style>
<notes>Current Medications Tab - full view line item.</notes>
