<template>
  <div :class="{'item':true, 'is-either-or-flagged':isEitherOr || isFirstEitherOr || isLastEitherOr, 'is-first-either-or':isFirstEitherOr, 'ui-disabled': item.status.toLowerCase() === 'discontinued', 'meds-widget-line-item' : true }">
    <div v-if="isEitherOr || isLastEitherOr || isFirstEitherOr" :class="{'is-either-or':isEitherOr, 'is-either-or--last':isLastEitherOr, 'is-either-or--first':isFirstEitherOr}"></div>
    <div class="item__line-1">
      <div v-if="eitherOrflag" class="either-or-icon">OR</div>
      <span v-if="!isMultipleRegimenItem" v-html="getActiveLineItemForWidgetDisplay(this.item.regimens[0])"></span>
      <template v-if="isMultipleRegimenItem">
        <div :class="{'multi-regimen-line':true}" v-for="(item, index) in this.item.regimens" :key="index" v-html="getRegimenLineItemForWidgetDisplay(item, index)"></div>
      </template>
    </div>
  </div>
</template>

<script>
  import Vault from 'Endpoints/careflowApp/Vault';
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  /* API Endpoints */
  /*Components*/
  import CurrentMedicationLineItem from 'VueComponents/medwayIntegrations/patientMedications/components/CurrentMedicationLineItem';

  export default {
  	data: function() {
  		return {
  			IsLoading: false,
  			RebuildUiComponentKey: null,
  		};
  	},
  	mixins: [DateFilter],
  	components: {},
  	props: {
  		patient: {
  			required: false,
  			type: [Array, Object],
  		},
  		patientId: {
  			required: true,
  			type: [Number, String],
  		},
  		item: {
  			required: true,
  			type: [Array, Object],
  		},
  		eitherOrflag: {
  			//Show 'OR' icon or not
  			required: true,
  			type: [Boolean],
  			default: false,
  		},
  		isEitherOr: {
  			required: true,
  			type: [Boolean],
  			default: false,
  		},
  		isFirstEitherOr: {
  			required: true,
  			type: [Boolean],
  			default: false,
  		},
  		isLastEitherOr: {
  			required: true,
  			type: [Boolean],
  			default: false,
  		},
  	},
  	filters: {},

  	computed: {
  		isMultipleRegimenItem() {
  			if (!this.item.regimens || !this.item.regimens.length) return false;
  			return this.item.regimens.length > 1;
  		},
  	},

  	watch: {},

  	methods: {
  		getItemTextClass(type, text) {
  			if (type === 'DoseUnit' || type === 'Dose') return 'u-bold';
  		},

  		/*Disply label methods*/
  		getActiveLineItemForWidgetDisplay(obj) {
  			if (obj.isAsymetricdosing) {
  				return `${this.getIsControlledDrug(obj)} <span class="med-name">${this.getMedicationName(obj)}</span> ${this.getFormAndStrength(obj)} ${this.getStartDate(obj)} ${this.getStatLabel(obj)} ${this.getAsymetricDoseLabel(obj)} ${this.getAsymetricDoseLabelTimes(
  					obj
  				)} ${this.getDurationAndFrequency(obj)} ${this.getPrnLabel(obj)} ${this.getRegimeEndAction(obj)}`;
  			}

  			if (this.getSupplementaryChartNamePrompt(obj) && this.getSupplementaryChartPrompt(obj)) {
  				return `${this.getIsControlledDrug(obj)} <span class="med-name">${this.getSupplementaryChartNamePrompt(obj)}</span> ${this.getStartDate(obj)} ${this.getSupplementaryChartPrompt(obj)} ${this.getFrequency(obj)} ${this.getDurationAndFrequency(obj)} ${this.getPrnLabel(
  					obj
  				)} ${this.getRegimeEndAction(obj)}`;
  			}

  			return `${this.getIsControlledDrug(obj)} <span class="med-name">${this.getMedicationName(obj)}</span> ${this.getStartDate(obj)} ${this.getFormAndStrength(obj)} ${this.getDose(obj)} ${this.getDoseUnit(obj)} ${this.getRoute(obj)} ${this.getStatLabel(obj)} ${this.getFrequency(
  				obj
  			)} ${this.getDurationAndFrequency(obj)} ${this.getPrnLabel(obj)} ${this.getRegimeEndAction(obj)} `;
  		},
  		getRegimenLineItemForWidgetDisplay(obj, index) {
  			/*Regimens - multi line*/

  			if (obj.isAsymetricdosing) {
  				return `${this.getIsControlledDrug(obj)} <span class="med-name">${index === 0 ? this.getMedicationName(obj) : ``}</span> ${this.getStartDate(obj, index)} ${this.getStatLabel(obj)} ${this.getAsymetricDoseLabel(obj)} ${this.getAsymetricDoseLabelTimes(
  					obj
  				)} ${this.getDurationAndFrequency(obj)} ${this.getPrnLabel(obj)} ${this.getRegimeEndAction(obj)}`;
  			}

  			if (this.getSupplementaryChartNamePrompt(obj) && this.getSupplementaryChartPrompt(obj)) {
  				return `${this.getIsControlledDrug(obj)} <span class="med-name">${this.getSupplementaryChartNamePrompt(obj)}</span> ${this.getStartDate(obj, index)} ${this.getSupplementaryChartPrompt(obj)} ${this.getFrequency(obj)} ${this.getDurationAndFrequency(obj)} ${this.getPrnLabel(
  					obj
  				)} ${this.getRegimeEndAction(obj)}`;
  			}

  			return ` ${this.getIsControlledDrug(obj)} <span class="med-name">${index === 0 ? this.getMedicationName(obj) : ``}</span> ${this.getStartDate(obj, index)} ${this.getFormAndStrength(obj)} ${this.getDose(obj)} ${this.getDoseUnit(obj)} ${this.getRoute(
  				obj
  			)} ${this.getStatLabel(obj)} ${this.getFrequency(obj)} ${this.getDurationAndFrequency(obj)} ${this.getPrnLabel(obj)} ${this.getRegimeEndAction(obj)}`;
  		},

  		/*Helpers*/
  		getMedicationName(obj) {
  			return (
  				obj.medicationLineComponent
  					.map(x => {
  						if (x.type === 'GenericName') return x.text;
  						return null;
  					})
  					.filter(Boolean)[0] || ''
  			);
  		},
  		getRoute(obj) {
  			return (
  				obj.medicationLineComponent
  					.map(x => {
  						if (x.type === 'Route' && !obj.isAsymetricdosing) return '- ' + x.text + ' -';
  						if (x.type === 'Route' && obj.isAsymetricdosing) return x.text;
  						return null;
  					})
  					.filter(Boolean)[0] || ''
  			);
  		},
  		getDoseUnit(obj) {
  			return (
  				obj.medicationLineComponent
  					.map(x => {
  						if (x.type === 'DoseUnit') return `<span class="dosage-label">${x.text}</span>`;
  						return null;
  					})
  					.filter(Boolean)[0] || ''
  			);
  		},

  		getDose(obj) {
  			return (
  				obj.medicationLineComponent
  					.map(x => {
  						if (x.type === 'Dose') return `- <span class="dose-label">DOSE</span> <span class="dosage-label">${x.text}</span>`;
  						return null;
  					})
  					.filter(Boolean)[0] || ''
  			);
  		},

  		getFormAndStrength(obj) {
  			//API guarantees order in response JSON (EPMA confirmed)

  			let strength = obj.medicationLineComponent.filter(x => x.type === 'Strength' && x.text !== '');
  			let form = obj.medicationLineComponent.filter(x => x.type === 'Form' && x.text !== '');

  			if (strength.length && form.length) {
  				return `- ${strength[0].text} - ${form[0].text}`;
  			}

  			let parsedData =
  				obj.medicationLineComponent
  					.map(x => {
  						if (x.type === 'Strength') return `${x.text}`;
  						if (x.type === 'Form') return `${x.text}`;
  						return null;
  					})
  					.filter(Boolean)
  					.join(' ') || '';

  			if (parsedData.length) return `- ${parsedData}`;
  			return '';
  		},

  		getForm(obj) {
  			return (
  				obj.medicationLineComponent
  					.map(x => {
  						if (x.type === 'Form') return `${x.text}`;
  						return null;
  					})
  					.filter(Boolean)[0] || ''
  			);
  		},

  		getFormStrength(obj) {
  			return (
  				obj.medicationLineComponent
  					.map(x => {
  						if (x.type === 'Strength') return `${x.text}`;
  						return null;
  					})
  					.filter(Boolean)[0] || ''
  			);
  		},

  		getFrequency(obj) {
  			return (
  				obj.medicationLineComponent
  					.map(x => {
  						if (x.type === 'Frequency' && x.text !== 'STAT') return x.text;
  						return null;
  					})
  					.filter(Boolean)[0] || ''
  			);
  		},

  		getDurationAndFrequency(obj) {
  			return (
  				obj.medicationLineComponent
  					.map(x => {
  						if (x.type === 'RegimeDurationAndFrequency') return `- ${x.text}`;
  						return null;
  					})
  					.filter(Boolean)[0] || ''
  			);
  		},

  		getPrnLabel(obj) {
  			if (obj.isPrn) return 'as required';
  			return '';
  		},

  		getStatLabel(obj) {
  			if (obj.isStat) return 'STAT';
  			return '';
  		},

  		getAsymetricDoseLabel(obj) {
  			if (obj.isAsymetricdosing) return `- <span class="route-label">ROUTE</span> ${this.getRoute(obj)} -`;
  			return '';
  		},

  		getAsymetricDoseLabelTimes(obj, isAsymetricDose) {
  			if (!obj.isAsymetricdosing) return ``;
  			let parsedString =
  				obj.medicationLineComponent
  					.map(x => {
  						let doseUnit = this.getDoseUnit(obj) || ''; //API returns in literal order (Jason B confirmed this)
  						if (x.type === 'Dose') return `<span class="dosage-label">${x.text} ${doseUnit}</span>`;
  						if (x.type === 'DoseTime') return x.text;
  						return null;
  					})
  					.filter(Boolean)
  					.join(' ') || '';

  			if (parsedString) return `<span class="dose-label">DOSE</span> ${parsedString}`;
  			return '';
  		},

  		getSupplementaryChartNamePrompt(obj) {
  			return obj.medicationLineComponent
  				.map(x => {
  					if (x.type === 'SupplementaryChartName') return `${x.text} ${this.getStartDate(obj) ? `` : `-`}`;
  					return null;
  				})
  				.filter(Boolean)[0];
  		},

  		getSupplementaryChartPrompt(obj) {
  			return obj.medicationLineComponent
  				.map(x => {
  					if (x.type === 'SupplementaryChartPrompt') return `<span class="prompt-label">PROMPT</span> ${x.text}`;
  					return null;
  				})
  				.filter(Boolean)[0];
  		},
  		getIsControlledDrug(obj) {
  			return (
  				obj.medicationLineComponent
  					.map(x => {
  						if (x.type === 'CD' && x.text !== '') return `<span class="cd-label">CD${x.text}</span>`;
  						return null;
  					})
  					.filter(Boolean) || ''
  			);
  		},

  		getStartDate(obj, index) {
  			if (!obj.hasOwnProperty('startDateAndTime') || !obj.startDateAndTime) return ``;
  			return `${!index ? `- ` : ` `}<span class="print-label">START</span> ${this.$options.filters.formatDate(obj.startDateAndTime)}`;
  		},
  		getRegimeEndAction(obj) {
  			return (
  				obj.medicationLineComponent
  					.map(x => {
  						if (x.type === 'RegimeEndAction' && x.text.length) return `- then ${x.text}`;
  						return null;
  					})
  					.filter(Boolean)[0] || ''
  			);
  		},
  	},

  	filters: {
  		toLowerCase(string) {
  			return string.toLowerCase();
  		},
  	},

  	events: {},

  	beforeCreate: function() {},

  	created: function() {},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},

  	mounted() {},
  };
</script>

<style lang="less">
  /*TEMPLATE LITERAL CLASSES DON'T SEEMED TO LIKE SCOPED CSS :(*/
  @import '../../../../../../less/app-variables.less';
  .meds-widget-line-item {
  	.med-name {
  		font-weight: @font--medium;
  	}
  	.cd-label {
  		border: 2px solid @careflow--purple;
  		font-size: 0.8em;
  		padding: 0 0.1em;
  		line-height: 0.8em;
  		font-size: 0.8em;
  		font-weight: @font--medium;
  		background: #fff;
  	}
  	.print-label {
  		color: @button-primary-bg;
  		font-weight: @font--normal;
  		font-family: Consolas, monospace;
  		text-transform: uppercase;
  	}
  	.dose-label {
  		color: @button-primary-bg;
  		font-weight: @font--normal;
  		font-family: Consolas, monospace;
  	}
  	.dosage-label {
  		font-weight: @font--medium;
  	}
  	.route-label {
  		color: @button-primary-bg;
  		font-weight: @font--normal;
  		font-family: Consolas, monospace;
  	}
  	.prompt-label {
  		color: @button-primary-bg;
  		font-weight: @font--normal;
  		font-family: Consolas, monospace;
  	}
  	&.ui-disabled {
  		span,
  		div {
  			color: @text-light;
  		}
  	}
  }
</style>

<style scoped lang="less">
  @import '../../../../../../less/app-variables.less';

  .item {
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
  	margin: 0 0 0.6em 0;
  	flex-wrap: wrap;
  	flex: 1;
  	white-space: pre-line;
  	position: relative;
  	box-sizing: border-box;
  	&.is-either-or-flagged {
  		//margin: 2em 0 0.6em 0;
  		padding: 0.8em 0 0.8em 0.3em;
  		margin: 0;
  		position: relative;
  		box-sizing: border-box;
  	}
  	&.is-first-either-or {
  		padding-top: 0.2em; //compensate for margin on previous item
  	}
  	&.ui-disabled {
  		color: @text-light;
  	}
  }
  .item__line-1 {
  	margin: 0 0 0.1em 0;
  }
  .multi-regimen-line {
  	width: 100%;
  	margin: 0 0 0.1em 0;
  }
  .either-or-icon {
  	position: absolute;
  	border: 2px solid @warning-colour;
  	color: @warning-colour;
  	//top: -2.1em;
  	top: -0.8em;
  	left: 0;
  	padding: 0.2em 0.2em;
  	line-height: 0.8em;
  	font-size: 0.8em;
  	font-weight: @font--medium;
  	background: #fff;
  }
  .is-either-or {
  	width: 2px;
  	position: absolute;
  	left: -3px;
  	top: 0;
  	height: 100%;
  	background: @warning-colour;
  	display: flex;
  }
  .is-either-or--first {
  	.is-either-or();
  	height: 50%;
  	bottom: 0;
  	top: 50%;
  }

  .is-either-or--last {
  	.is-either-or();
  	height: 50%;
  	top: 0;
  }
</style>
<notes>Current Medications widget line item.</notes>
