<template>
  <div ref="item" class="item">
    <div ref="item-wrap" class="item-wrap">
      <div ref="acronym" class="item-acronym" v-html="getSpellAcronym"></div>
      <div class="item-start">{{item.startDate | getShortDate}}</div>
      <div class="item-category">{{item.category}}</div>
      <div v-if="getDuration" class="item-duration" v-html="getDuration"></div>
    </div>
    <ui-popover v-cloak class="custom-popover" openOn="hover" dropdownPosition="left bottom" trigger="item-wrap">
      <div v-if="getSpellAcronym">{{getSpellAcronym}} - {{item.episodeType.description}}</div>
      <div v-if="item.owner">{{item.owner}}</div>
      <div v-if="item.category">{{item.category}}</div>
      <div v-if="item.startDate">Start: {{item.startDate | getShortDate}}</div>
      <div v-if="item.endDate">End: {{item.endDate | getShortDate}}</div>
      <div v-if="item.status">Status: {{item.status}}</div>
    </ui-popover>
  </div>
</template>

<script>
  import Vault from 'Endpoints/careflowApp/Vault';
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';

  /* API Endpoints */

  /*Components*/

  export default {
  	data: function() {
  		return {
  			IsLoading: false,
  		};
  	},
  	mixins: [DateFilter],
  	components: {},
  	props: {
  		item: {
  			required: true,
  			type: [Array, Object],
  		},
  	},
  	filters: {},

  	computed: {
  		getSpellAcronym() {
  			let str = this.item.episodeType.description;
  			let acronym = str
  				.split(/\s/)
  				.reduce((response, word) => (response += word.slice(0, 1)), '')
  				.toUpperCase();
  			return acronym;
  		},
  		getDuration() {
  			if (!this.item.hasOwnProperty('startDate') || !this.item.hasOwnProperty('endDate')) return false;
  			let start = moment(this.item.startDate);
  			let end = moment(this.item.endDate);
  			let days = end.diff(start, 'days') + 1;
  			let label = days && days > 1 ? `days` : `day`;

  			return `(${days} ${label})`; //+1 to include start and end as full day
  		},
  	},

  	watch: {},

  	methods: {},

  	events: {},

  	beforeCreate: function() {},

  	created: function() {},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},

  	mounted() {},
  };
</script>

<style scoped lang="less">
  @import '../../../../../../less/app-variables.less';
  .item {
  	display: flex;
  	flex-direction: row;
  	flex-flow: row;
  	justify-content: flex-start;
  	margin: 0 0 0.6em 0;
  	flex-wrap: wrap;
  	flex: 1;
  	& div {
  		display: flex;
  	}
  	&:hover {
  		//cursor: pointer;
  	}
  }
  .item-acronym {
  	color: @text-light;
  	margin: 0 0.5em 0 0;
  	min-width: 27px;
  	font-weight: @font--medium;
  }
  .item-start {
  	margin: 0 1em 0 0;
  	min-width: 77px;
  	font-weight: @font--medium;
  }
  .item-category {
  	font-weight: @font--medium;
  }
  .item-duration {
  	margin: 0 0 0 0.8em;
  }
  .custom-popover {
  	max-width: 400px;
  	& div {
  		margin: 0 0 0.4em 0;
  	}
  }
</style>
<notes>Patient Episodes - widget line</notes>
