﻿<template>
  <div ref="alerts-wrapper" class="pure-g">

    <div data-full-height-deduct-global="true" class="pure-u-1 alertFeed__nav-wrapper">
      <a :href="'/#/'+ NetworkId +'/AlertSubscriptions'" class="btn--plain" type="button">Manage subscriptions</a>
    </div>

    <div class="pure-u-8-24 js-scaffold-block">

      <div data-full-height-deduct="true" class="pure-u-1">

        <div class="alertFilters__wrapper">
          <ui-select label="" placeholder="Filter alerts by..." type="basic" class="u-txt-capitalise alertFilters__ui-select ui-select--no-border" :disabled="IsLoading" :options="getAlertFilterOptions" @select="setAlertsRequestParamFilters" v-model="Filters.SelectedFilters">
            <template scope="props" slot="option">

              <div class="alertFilters__ui-select-option">

                <template v-if="props.option.populationType === 'Static'">
                  <div class="sub-data">{{props.option.label}}</div>
                </template>

                <template v-if="props.option.populationType === 'NoneProvided'">
                  <div class="sub-blob" :style="{background: parseSubscriptionColour(props.option.subscriptionColour)}"></div>
                  <div class="sub-data">
                    <div class="u-strong">{{props.option.topics}}</div>
                    <div>{{props.option.site}}</div>
                  </div>
                </template>

                <template v-if="props.option.populationType === 'Area'">
                  <div class="sub-blob" :style="{background: parseSubscriptionColour(props.option.subscriptionColour)}"></div>
                  <div class="sub-data">
                    <div class="u-strong">{{props.option.area}}</div>
                    <div class="u-strong">{{props.option.site}}</div>
                    <div>{{props.option.topics}}</div>
                  </div>
                </template>

                <template v-if="props.option.populationType === 'Clinician'">
                  <div class="sub-blob" :style="{background: parseSubscriptionColour(props.option.subscriptionColour)}"></div>
                  <div class="sub-data">
                    <div class="u-strong">{{props.option.clinician}}</div>
                    <div class="u-strong">{{props.option.site}}</div>
                    <div>{{props.option.topics}}</div>
                  </div>
                </template>
                <!--<code>{{props}}</code>-->
              </div>
            </template>
          </ui-select>
        </div>
      </div>

      <div ref="alerts-inbox-wrapper" data-scroll="true" class="js-fullHeight-bodyElement">
        <div class="alertFeed__wrapper">
          <!--Loaders-->
          <template v-if="IsLoading && IsFirstLoad">
            <div v-for="n in 50" class="alerts-table-loading-content">
              <vue-content-loading :width="890" :height="130">
                <rect x="10" y="13" rx="4" ry="4" height="30" width="820"></rect>
                <rect x="10" y="60" rx="4" ry="4" width="765" height="13"></rect>
                <rect x="10" y="80" rx="4" ry="4" width="745" height="13"></rect>
                <rect x="10" y="100" rx="4" ry="4" width="775" height="13"></rect>
              </vue-content-loading>
            </div>
          </template>

          <div v-for="(item,index) in getClinicalAlertsInboxToDisplay" :key="item.ContentItemID">
            <div class="feedBody__item-sortDate">{{item.day | getShortDate}}</div>

            <div v-for="(alert,index) in item.items" :key="alert.ClinicalAlertExternalIdentifier" :class="{'alertFeed__item':true,  'active':ActiveAlertContentId === alert.ContentItemID}" v-on:click="ActiveAlertContentId = alert.ContentItemID">
              <div class="sub-blob--top" :style="{background: parseSubscriptionColour(alert.SubscriptionData.SubscriptionColour)}"></div>
              <div class="item__title-row"><span v-if="!alert.ReadByRequestingUser" class="u-unread-icon"></span><span class="item__title">{{alert.Subject}}</span> <span class="item__title-created-date">{{alert.ClinicalAlertCreatedDateTime | formatDate}}</span></div>

              <div>{{alert.ClinicalAlertTopicName}}</div>

              <template v-if="alert.Patient">
                <div class="alertFeed__item-patient u-patientBanner--micro">
                  <div class="patient-nameRow">
                    <span class="patient-data">{{alert.Patient.PatientFamilyName}}, </span> <span class="patient-data">{{alert.Patient.PatientGivenName}}</span><span v-if="alert.Patient.PatientTitle" class="patient-data">({{alert.Patient.PatientTitle}})</span>
                  </div>
                  <div>
                    <span class="patient-label">BORN</span><span class="patient-data">{{alert.Patient.PatientDateOfBirth}}</span><span class="patient-label">{{alert.Patient.PatientIdentifiers.PrimaryIdentifier.Label}}</span><span class="patient-data">{{alert.Patient.PatientIdentifiers.PrimaryIdentifier.Value}}</span>
                  </div>
                </div>
              </template>

              <template v-if="alert.Comments">

                <div v-for="(comment, index) in alert.Comments">
                  <div class="alertFeed__item-comment" v-if="index === alert.Comments.length - 1">
                    <img class="u-user-avatar--img-small" :src="comment.ImageUrlOfCommenter" :alt="comment.CommentCreatedBy.FirstName + ' ' + comment.CommentCreatedBy.LastName" /> {{comment.CommentCreatedBy.FirstName}}: {{comment.Text | truncateCommentText}}
                  </div>
                </div>
              </template>
            </div>
          </div>
          <template v-if="!IsLoading && !getClinicalAlertsInboxToDisplay.length">
            <template v-if="Object.keys(Filters.SelectedFilters).length">
              <p class="u-text-center">No alerts found for selected filter '<span class="u-strong">{{Filters.SelectedFilters.label}}'</span></p>
            </template>
            <template v-else>
              <p class="u-text-center">No alerts found, select a filter from the options above</p>
            </template>
          </template>
          <template v-if="!IsLoading && !Alerts.ThereAreMore && getClinicalAlertsInboxToDisplay.length">
            <p class="u-text-center">End of results</p>
          </template>
          <div class="feed-wrapper--is-loading">
            <ui-progress-circular color="primary" v-show="IsLoading && !IsFirstLoad"></ui-progress-circular>
          </div>
        </div>
      </div>
    </div>

    <div class="pure-u-16-24 js-scaffold-block alertFeed__activeItem-wrapper">
      <!--Loaders-->
      <template v-if="IsLoading && IsFirstLoad">
        <div v-for="n in 1" :key="n" class="">
          <vue-content-loading :width="890" :height="500">
            <rect x="10" y="13" rx="4" ry="4" height="45" width="820"></rect>
            <rect x="10" y="80" rx="4" ry="4" width="765" height="15"></rect>
            <rect x="10" rx="4" ry="4" width="700" height="13" y="100"></rect>
            <rect x="10" rx="4" ry="4" width="745" y="120" height="12"></rect>
            <rect x="10" rx="4" ry="4" width="670" height="11" y="140"></rect>
            <rect x="10" rx="4" ry="4" width="690" height="11" y="160"></rect>
            <rect x="10" rx="4" ry="4" width="620" height="11" y="180"></rect>
          </vue-content-loading>
        </div>
      </template>
      <template v-if="ActiveAlert">
        <alert-item :networkId="NetworkId" :alert-data="ActiveAlert"></alert-item>
      </template>
    </div>
  </div>
</template>

<script>
  /* Utils */
  import PubSub from '../../../endPoints/careflowApp/PubSub';
  import Vault from '../../../endPoints/careflowApp/Vault';
  import GetHandlebarsTemplate from '../../../endPoints/careflowApp/GetHandlebarsTemplate';
  import appRouter from '../../../app/app-router';

  /* API Endpoints */

  import GetUpdatedClinicalAlerts from '../../../endPoints/clinicalAlerts/GetUpdatedClinicalAlerts';
  import GetSingleClinicalAlert from '../../../endPoints/clinicalAlerts/GetSingleClinicalAlert';
  import MarkFeedAsRead from '../../../endPoints/users/MarkFeedAsRead';
  import MarkClinicalAlertAsRead from '../../../endPoints/clinicalAlerts/MarkClinicalAlertAsRead';

  /*Components*/
  import AlertItem from './../alerts/AlertItem';
  import { VueContentLoading } from 'vue-content-loading';
  /*Mixins*/
  import DateFilter from '../../vue-mixin/dateFilter';

  export default {
  	data() {
  		return {
  			NetworkId: this.networkId,
  			ActiveAlertContentId: null,
  			ActiveAlert: null,
  			CheckGlobalUnreadCounts: true,
  			IsFirstLoad: true,
  			RequestParams: {
  				UpdatedSince: null,
  				UpdatedBefore: moment
  					.utc()
  					.add(5, 'minute')
  					.local()
  					.format('YYYY-MM-DDTHH:mm:ss'), //Default - add 5 mins as an arbitary value from now, overcome API / server sync issues,
  				OnlyUnreadAlerts: false,
  				OnlyAlertsWithUnreadComments: false,
  				AlertTopicToFilterBy: '',
  				SubscriptionIdToFilterBy: '',
  				NetworkIdToFilterBy: this.networkId,
  			},
  			Alerts: {
  				Data: [],
  				ThereAreMore: false,
  			},
  			Filters: {
  				SelectedFilters: [],
  			},
  			IsLoading: false,
  		};
  	},
  	components: { AlertItem, VueContentLoading },
  	mixins: [DateFilter],
  	filters: {
  		truncateCommentText(value) {
  			if (value && value.length > 45) {
  				return value.slice(0, 45) + '...';
  			}
  			return value;
  		},
  		toUpperCase(value) {
  			return value.toUpperCase();
  		},
  	},

  	props: {
  		networkId: {
  			required: true,
  		},
  	},
  	watch: {
  		ActiveAlertContentId: function(newVal, oldVal) {
  			//Old and new vals passed to watcher
  			if (!newVal) return;
  			if ((oldVal && newVal === oldVal) || this.IsLoading) return (this.ActiveAlertContentId = oldVal || null);
  			this.getActiveAlert(newVal);
  		},
  	},
  	methods: {
  		cleanUi() {
  			this.ActiveAlertContentId = null;
  			this.ActiveAlert = null;
  			this.Alerts.Data = [];
  			this.Alerts.ThereAreMore = false;
  			this.IsLoading = false;
  			this.IsFirstLoad = true;
  		},

  		setGlobalUnreadCountsOnFirstLoad(unreadAlerts) {
  			return new Promise((resolve, reject) => {
  				if (!this.CheckGlobalUnreadCounts) return resolve('CheckGlobalUnreadCounts is true');

  				//Mark as read on load of alerts only (each time view loads)
  				MarkFeedAsRead.callApi(3)
  					.then((response, status, XHR) => {
  						Promise.all([appMain.getUnreadCountsForSingleNetwork(true, this.NetworkId || Vault.getSessionItem('ActiveNetworkId'), null), appMain.getUnreadCountsForAllNetworks(true, null)])
  							.then(() => {
  								//Refresh all counts

  								//Check Badge counts (aside from the global badge counts check. This will check the counts if the global has not been updated) - https://doccom.atlassian.net/browse/WEB-179

  								//If unread, show briefly in UI
  								// if (unreadAlerts) {
  								// 	setTimeout(function() {
  								// 		$('.js-newContent-counter-alerts')
  								// 			.text(unreadAlerts)
  								// 			.removeClass('u-no-display');
  								// 		setTimeout(function() {
  								// 			$('.js-newContent-counter-alerts')
  								// 				.text('')
  								// 				.addClass('u-no-display');
  								// 		}, 8000); //Remove badge count after 8 secs
  								// 	}, 3000); //Add a timeout to cater for BadgeCounts.UnreadCountsForSingleNetworkUpdated pubSub delay, called via promises above
  								// }

  								this.CheckGlobalUnreadCounts = false;
  								resolve();
  							})
  							.catch(() => {
  								reject('error');
  							});
  					})
  					.fail(() => {
  						reject('error');
  					}); //Native JQ :(
  			});
  		},

  		scrollHandler: function(event) {
  			//When user scrolls to bottom of feed

  			//Add overflow-anchor: none; //https://github.com/angular-ui/ui-scroll/issues/138 to fix chrome jumping uissue
  			if (this.IsLoading || !this.Alerts.ThereAreMore) return;

  			// Handle feed scroll
  			var element = event.target;

  			if (Math.floor(element.scrollHeight) - Math.floor(element.scrollTop) <= Math.floor(element.clientHeight) + 10) {
  				//Add a 10px offset (trigger before bottom hit), will fix zoom issues https://doccom.atlassian.net/browse/WEB-852

  				this.getAlertsInbox();
  			}
  		},

  		getActiveAlert(alertId) {
  			if (!alertId || !this.Alerts.Data.length || this.IsLoading) return;

  			this.ActiveAlert = null;

  			//appMain.stopApiRequests(); //Stop other requests when new task loading

  			//Set primary information
  			return (this.ActiveAlert =
  				this.Alerts.Data.filter(x => {
  					if (x.ContentItemID === alertId) {
  						//Mark clinical alert as read, following open or if new comments added
  						if (!alert.ReadByRequestingUser || x.TotalNumberOfUnreadComments) {
  							MarkClinicalAlertAsRead.callApi(x.ClinicalAlertExternalIdentifier)
  								.then(() => {
  									x.ReadByRequestingUser = true;

  									//Add user to model, if not already found in ViewedBy
  									const index = x.ViewedBy.findIndex(user => user.Viewer.ApplicationUserID === Vault.getItem('ApplicationUserID'));
  									if (index !== -1) return; //Found, so bail

  									x.ViewedBy.push({
  										FirstViewedDate: moment(moment())
  											.local()
  											.format(),
  										ImageUrlOfViewer: Vault.getItem('LoggedInUserAvatar'),
  										LastViewedDate: moment(moment())
  											.local()
  											.format(),
  										Viewer: {
  											ApplicationUserID: Vault.getItem('ApplicationUserID'),
  											FirstName: Vault.getItem('LoggedInUserFirstName'),
  											IsRequestingUser: true,
  											LastName: Vault.getItem('LoggedInUserLastName'),
  										},
  									});
  								})
  								.fail(function() {});
  						}

  						return x;
  					}
  					return null;
  				})[0] || []);
  		},

  		getAlertsInbox() {
  			this.IsLoading = true;

  			return GetUpdatedClinicalAlerts.callApi(
  				this.RequestParams.UpdatedSince,
  				this.RequestParams.UpdatedBefore,
  				this.RequestParams.OnlyUnreadAlerts,
  				this.RequestParams.OnlyAlertsWithUnreadComments,
  				this.RequestParams.AlertTopicToFilterBy,
  				this.RequestParams.SubscriptionIdToFilterBy,
  				this.RequestParams.NetworkIdToFilterBy
  			).then((response, textStatus, XHR) => {
  				if (this.CheckGlobalUnreadCounts)
  					this.setGlobalUnreadCountsOnFirstLoad(response.Data.UnreadClinicalAlerts || null)
  						.then(response => {})
  						.catch(error => {});

  				//Add subscription data
  				response.Data.ClinicalAlerts.forEach((item, index, array) => {
  					if (item.SubscriptionID) item.SubscriptionData = this.getAlertSubscriptionDetails(item.SubscriptionID);
  				});

  				this.Alerts.Data.push.apply(this.Alerts.Data, response.Data.ClinicalAlerts); //apply takes the original array and an array which contains elements to add to the original array.
  				this.Alerts.ThereAreMore = response.Data.ThereAreMore;
  				//Set the date trigger for load more
  				if (this.Alerts.ThereAreMore) this.RequestParams.UpdatedBefore = this.Alerts.Data[this.Alerts.Data.length - 1].OrderingDate;

  				this.IsLoading = false;
  			});
  		},

  		getAlertSubscriptionDetails(contentItemId) {
  			if (!Vault.getItem('GetAllPopulationsForUser')) return [];
  			let populationData = Vault.getItem('GetAllPopulationsForUser');

  			console.log(populationData);

  			return (
  				populationData.Data.CurrentSubscriptions.filter(item => {
  					return item.SubscriptionId === contentItemId;
  				})[0] || []
  			);
  		},

  		parseSubscriptionColour(colourRef) {
  			if (!colourRef) return '';

  			if (colourRef.includes('0x')) {
  				return '#' + colourRef.slice(2);
  			}

  			return '#' + colourRef;
  		},

  		setAlertsRequestParamFilters(val, obj) {
  			//A filter change

  			if (val.populationType !== 'Static') {
  				this.RequestParams.SubscriptionIdToFilterBy = val.value;
  				this.RequestParams.UpdatedBefore = moment
  					.utc()
  					.add(5, 'minute')
  					.local()
  					.format('YYYY-MM-DDTHH:mm:ss'); //Refresh request timestamp
  			} else if (val.populationType === 'Static') {
  				this.RequestParams.SubscriptionIdToFilterBy = ''; //Clear sub ID - API will not accept null
  				this.RequestParams.OnlyAlertsWithUnreadComments = val.onlyAlertsWithUnreadComments;
  				this.RequestParams.OnlyUnreadAlerts = val.onlyUnreadAlerts;
  				this.RequestParams.UpdatedBefore = moment
  					.utc()
  					.add(5, 'minute')
  					.local()
  					.format('YYYY-MM-DDTHH:mm:ss'); //Refresh request timestamp
  			} else {
  				return false;
  			}

  			//Call API
  			this.cleanUi();

  			this.getAlertsInbox().then(response => {
  				//Set first item as active on view load
  				if (this.Alerts.Data.length) this.ActiveAlertContentId = this.Alerts.Data[0].ContentItemID; //will trigger watcher
  				this.IsFirstLoad = false;
  			});
  		},
  	},
  	computed: {
  		//Difference between computed property and method is that computed properties are cached and change only when their dependencies change - that's why you can't pass parameters there. Methods are evaluated every time you call them.

  		getAlertFilterOptions() {
  			//Get populations data

  			if (!Vault.getItem('GetAllPopulationsForUser')) return [];
  			let populationData =
  				Vault.getItem('GetAllPopulationsForUser').Data.CurrentSubscriptions.filter((item, index, array) => {
  					if (item.NetworkExternalIdentifier === appMain.getNetworkExternalNetworkId(Vault.getSessionItem('ActiveNetworkId'))) return item;
  				}) || [];

  			if (!populationData.length)
  				return [
  					{
  						populationType: 'Static',
  						label: 'Filter: All alerts',
  						onlyUnreadAlerts: false,
  						onlyAlertsWithUnreadComments: false,
  						value: 'allAlerts',
  					},
  					{
  						populationType: 'Static',
  						label: 'Filter: All unread alerts',
  						onlyUnreadAlerts: true,
  						onlyAlertsWithUnreadComments: false,
  						value: 'unreadAlerts',
  					},
  					{
  						populationType: 'Static',
  						label: 'Alerts with unread comments',
  						onlyUnreadAlerts: false,
  						onlyAlertsWithUnreadComments: true,
  						value: 'unreadComments',
  					},
  				];

  			let networkName =
  				Vault.getItem('GetAllPopulationsForUser').Data.AvailablePopulations.filter(x => {
  					if (x.NetworkExternalIdentifier === appMain.getNetworkExternalNetworkId(Vault.getSessionItem('ActiveNetworkId'))) return x;
  				})[0].NetworkName || '';

  			let subscriptionData =
  				populationData.map((item, index, array) => {
  					let topics;
  					let site;
  					let area;
  					let clinician;
  					let populationType = item.Type.PopulationType;
  					let subscriptionId = item.SubscriptionId;
  					let subscriptionColour = item.SubscriptionColour;

  					if (item.Topics.length) {
  						topics = item.Topics.map((item, index, array) => {
  							return item.Title;
  						})
  							.join(', ')
  							.toString();
  					} else {
  						topics = 'All topics';
  					}

  					if (item.Site.length) {
  						site = item.Site.map((item, index, array) => {
  							return item.SiteName;
  						})
  							.join(', ')
  							.toString();
  					} else {
  						site = 'All sites (' + networkName + ')';
  					}

  					if (item.Type.PopulationType === 'Area') {
  						area = item.Type.PopulationName;
  					} else {
  						area = '';
  					}

  					if (item.Type.PopulationType === 'Clinician') {
  						clinician = item.Type.PopulationName;
  					} else {
  						clinician = '';
  					}

  					return {
  						label: topics,
  						value: subscriptionId,
  						topics: topics,
  						site: site,
  						area: area,
  						clinician: clinician,
  						populationType: populationType,
  						subscriptionColour: subscriptionColour,
  						subscriptionId: subscriptionId,
  					};
  				}) || [];

  			subscriptionData.unshift(
  				{
  					populationType: 'Static',
  					label: 'Filter: All alerts',
  					onlyUnreadAlerts: false,
  					onlyAlertsWithUnreadComments: false,
  					value: 'allAlerts',
  				},
  				{
  					populationType: 'Static',
  					label: 'Filter: All unread alerts',
  					onlyUnreadAlerts: true,
  					onlyAlertsWithUnreadComments: false,
  					value: 'unreadAlerts',
  				},
  				{
  					populationType: 'Static',
  					label: 'Alerts with unread comments',
  					onlyUnreadAlerts: false,
  					onlyAlertsWithUnreadComments: true,
  					value: 'unreadComments',
  				}
  			);

  			return subscriptionData;
  		},

  		getClinicalAlertsInboxToDisplay() {
  			//triggered by this.Alerts.Data
  			if (!this.Alerts.Data || !this.Alerts.Data.length) return [];
  			let groups = _.groupBy(this.Alerts.Data, function(item) {
  				//Group the data by Ordering date
  				return moment(item.OrderingDate)
  					.startOf('day')
  					.format(); //Mutates the original moment by setting it to the start of a unit of time.
  			});

  			let result = _.map(groups, function(group, day, groups) {
  				//item, index, array
  				return {
  					day: day,
  					items: group,
  				};
  			});
  			console.log('***', result);
  			return result;
  		},
  	},
  	created() {
  		//Get feed
  		this.getAlertsInbox().then(response => {
  			//Set first item as active on view load
  			this.IsFirstLoad = false; //Feed has been initiated
  			if (this.Alerts.Data.length) this.ActiveAlertContentId = this.Alerts.Data[0].ContentItemID; //will trigger watcher
  		});
  	},
  	mounted() {
  		//Scroll handler
  		this.$refs['alerts-inbox-wrapper'].addEventListener(
  			'scroll',
  			_.debounce(event => {
  				this.scrollHandler(event);
  			}, 300),
  			false
  		); //Debounce. The function will be called after it stops being called for N milliseconds (so only 1 trigger on scroll).

  		//Setup layout
  		setTimeout(() => {
  			appMain.setElementsAsFullHeight();
  		}, 0);
  	},
  	beforeDestroy() {
  		this.$refs['alerts-inbox-wrapper'].removeEventListener(
  			'scroll',
  			_.debounce(event => {
  				this.scrollHandler(event);
  			}, 300),
  			false
  		); //Debounce. The function will be called after it stops being called for N milliseconds (so only 1 trigger on scroll).
  	},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},
  };
</script>

<style>
</style>

<custom1>
    Alerts component
</custom1>
