﻿<template>
  <div class="alertItem js-scaffold-block">
    <div ref="alert-wrapper" data-scroll="true" class="pure-u-1 js-fullHeight-bodyElement">

      <div class="alertItem__body pure-u-1">

        <template v-if="Alert.Data.Patient">
          <div class="pure-u-1">
            <patient-banner :content-id="Alert.Data.ContentItemID" :patient-id="Alert.Data.Patient.PatientExternalIdentifier" :patient="Alert.Data.Patient" :network-id="NetworkId"></patient-banner>
          </div>
        </template>

        <div class="alertItem__subject">{{Alert.Data.Subject}}</div>

        <div class="alertItem__topic">
          <span class="u-unread-icon" :style="{background: parseSubscriptionColour(Alert.Data.SubscriptionData.SubscriptionColour)}"></span>{{Alert.Data.ClinicalAlertTopicName}}
          <template v-if="Alert.Data.HealthcareAppDetails">
            ({{Alert.Data.HealthcareAppDetails.Name}})
          </template> - Notification sent {{Alert.Data.ClinicalAlertCreatedDateTime | formatDate}}
        </div>

        <div class="alertItem__body">
          <div v-html="$options.filters.decodeString(Alert.Data.Body)" class="alertItem__bodyText"></div>
          <div v-if="Alert.Data.Url" class="alertFeed-item__url"><a target="_blank" :href="Alert.Data.Url">{{Alert.Data.Url}}</a></div>
        </div>

        <div class="alertItem___eventDate">Date of event: {{Alert.Data.EventDateTime | formatDate}}</div>
        <!--Viewed By-->
        <div class="view-block__label-solid">Notification seen by </div>
        <div class="alertItem___viewedByWrapper">

          <template v-if="Alert.Data.ViewedBy.length">
            <div class="alertItem___viewedByItem" v-for="(item, index) in Alert.Data.ViewedBy" :key="item.Viewer.ApplicationUserID">

              <template v-if="!ViewAllSeenByUsers && index <= 5">
                <div class="viewedByItem__img"> <img class="u-user-avatar--img-small" :src="item.ImageUrlOfViewer" :alt="item.Viewer.FirstName + ' ' +  item.Viewer.LastName" /></div>
                <div class="viewedByItem__meta">
                  <div class="viewedByItem__user"><a :href="'/#/Profile/' + item.Viewer.ApplicationUserID">{{item.Viewer.FirstName}} {{item.Viewer.LastName}}</a></div>
                  <div class="viewedByItem__date">{{item.LastViewedDate | formatDate}}</div>
                </div>
              </template>
              <template v-if="ViewAllSeenByUsers">
                <div class="viewedByItem__img"> <img class="u-user-avatar--img-small" :src="item.ImageUrlOfViewer" :alt="item.Viewer.FirstName + ' ' +  item.Viewer.LastName" /></div>
                <div class="viewedByItem__meta">
                  <div class="viewedByItem__user"><a :href="'/#/Profile/' + item.Viewer.ApplicationUserID">{{item.Viewer.FirstName}} {{item.Viewer.LastName}}</a></div>
                  <div class="viewedByItem__date">{{item.LastViewedDate | formatDate}}</div>
                </div>
              </template>
            </div>
          </template>

          <template v-if="!ViewAllSeenByUsers && Alert.Data.ViewedBy.length > 6">
            <span v-on:click="ViewAllSeenByUsers = !ViewAllSeenByUsers" class="btn--plain">View all</span>
          </template>
        </div>

        <div class="alertItem___commentsWrapper">

          <div class="view-block__label-solid">Comments ({{Alert.Data.Comments.length}})</div>

          <!--API returns latest 10-->

          <div v-if="Alert.Data.ThereAreMoreComments && !AlertCommentsAreLoading"><button :disable="AlertCommentsAreLoading" v-on:click="getAlertItemComments(Alert.Data.Comments.length, 10)" type="button" class="btn--plain">Show earlier comments</button></div>
          <ui-progress-circular color="primary" v-if="AlertCommentsAreLoading"></ui-progress-circular>

          <div v-for="(comment, index) in Alert.Data.Comments" :key="index" class="comments__item">
            <div class="comments__itemBody">

              <span class="u-block comments__itemText">{{comment.Text}}</span>

              <div class="comments__authorMeta">
                <a href="#" class="u-user-avatar--link">
                  <img class="u-user-avatar--img-small" :alt="comment.CommentCreatedBy.FirstName + ' ' + comment.CommentCreatedBy.LastName" :src="comment.ImageUrlOfCommenter">
                </a>
                <div class="u-display-t-cell--full-width--middle">
                  <a href="" class="btn--plain">{{comment.CommentCreatedBy.FirstName}} {{comment.CommentCreatedBy.LastName}}</a><small class="comments__itemDate">{{comment.CommentDate | formatDate}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Comments-->
        <template>
          <div class="alertItem___comment-box-wrapper">
            <ui-textbox placeholder="Add comment" ref="textarea" :autosize="true" :multi-line="true" class="itemReply__txtarea" :disabled="IsLoading" v-model="Alert.Comment"></ui-textbox>
            <ui-button color="primary" raised :disabled="IsLoading" :loading="IsLoading" v-if="Alert.Comment.length" v-on:click.stop.prevent="submitAlertItemComment()">Add comment</ui-button>
            <ui-button type="secondary" :disabled="IsLoading" :loading="IsLoading" v-if="Alert.Comment.length" v-on:click.stop.prevent="clearCommentTextArea()">Cancel</ui-button>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
  /* Utils */
  import PubSub from '../../../endPoints/careflowApp/PubSub';
  import Vault from '../../../endPoints/careflowApp/Vault';
  import GetHandlebarsTemplate from '../../../endPoints/careflowApp/GetHandlebarsTemplate';

  /* API Endpoints */
  import AddCommentToClinicalAlert from '../../../endPoints/clinicalAlerts/AddCommentToClinicalAlert';
  import GetCommentsForClinicalAlert from '../../../endPoints/clinicalAlerts/GetCommentsForClinicalAlert';

  /*Mixins*/
  import DateFilter from '../../vue-mixin/dateFilter';

  /*Components*/
  import PatientBanner from '../patientBanners/FeedItem__PatientBanner';

  export default {
  	data() {
  		//https://forum.vuejs.org/t/data-properties-based-on-props-are-not-re-evaluated-when-props-change/21085/2
  		return {
  			//Set at runtime, changes to the parent prop will not apply here unless manually updated (see taskData watcher hook)
  			NetworkId: this.networkId,
  			Alert: {
  				//OBJ is updated in full via watcher on prop
  				Data: this.alertData || [], //Take from prop
  				Comment: '',
  			},
  			ViewAllSeenByUsers: false,
  			AlertCommentsAreLoading: false,
  			IsLoading: false,
  		};
  	},
  	components: { PatientBanner },
  	mixins: [DateFilter],
  	props: ['alertData', 'networkId'],
  	filters: {
  		decodeString: function(value) {
  			if (!value) return '';
  			return _.unescape(value);
  		},
  	},
  	methods: {
  		submitAlertItemComment() {
  			if (!this.Alert.Comment.trim()) {
  				if (this.$refs.textarea) {
  					setTimeout(() => {
  						this.$refs.textarea.refreshSize();
  						this.$refs.textarea.resetTouched();
  						return (this.Alert.Comment = '');
  					}, 10);
  				}
  				return (this.Alert.Comment = '');
  			}
  			this.IsLoading = true;
  			AddCommentToClinicalAlert.callApi(this.Alert.Data.ClinicalAlertExternalIdentifier, this.Alert.Comment)
  				.then((response, textStatus, jqXHr) => {
  					if (/^2/.test(jqXHr.status)) {
  						//Push new comment
  						this.Alert.Data.Comments.push({
  							CommentDate: moment(moment())
  								.local()
  								.format(),
  							Text: this.Alert.Comment,
  							ImageUrlOfCommenter: Vault.getItem('LoggedInUserAvatar'),
  							CommentCreatedBy: {
  								ApplicationUserID: Vault.getItem('ApplicationUserID'),
  								FirstName: Vault.getItem('LoggedInUserFirstName'),
  								LastName: Vault.getItem('LoggedInUserLastName'),
  								IsRequestingUser: true,
  							},
  						});
  					}
  					//Clear comment
  					this.Alert.Comment = '';
  					this.IsLoading = false;
  				})
  				.fail(function() {});
  		},

  		getAlertItemComments(skip, take) {
  			if (this.AlertCommentsAreLoading) return false;

  			this.AlertCommentsAreLoading = true;
  			GetCommentsForClinicalAlert.callApi(this.Alert.Data.ClinicalAlertExternalIdentifier, skip, take)
  				.then((response, status, jqXHr) => {
  					if (/^2/.test(jqXHr.status)) {
  						this.Alert.Data.Comments.unshift(response.Data.Comments); //Push in array
  						this.Alert.Data.Comments = [].concat.apply([], this.Alert.Data.Comments); //Flatten arrays (array pushed into array)
  					}
  					this.Alert.Data.ThereAreMoreComments = response.Data.ThereAreMore;
  					this.AlertCommentsAreLoading = false;
  				})
  				.fail(error => {});
  		},

  		clearCommentTextArea() {
  			if (this.$refs.textarea) {
  				setTimeout(() => {
  					this.Alert.Comment = '';
  					this.$refs.textarea.refreshSize();
  					this.$refs.textarea.resetTouched();
  					return;
  				}, 10);
  			}
  			return (this.Alert.Comment = '');
  		},

  		parseSubscriptionColour(colourRef) {
  			if (!colourRef) return '';

  			if (colourRef.includes('0x')) {
  				return '#' + colourRef.slice(2);
  			}
  			return '#' + colourRef;
  		},
  	},

  	computed: {},
  	watch: {
  		alertData: {
  			//component prop data watcher - check when it changes, update the model here
  			handler(newVal, oldVal) {
  				//TODO trigger click check
  				console.log('alertData');

  				this.IsLoading = false;
  				this.Alert.Data = newVal;
  				this.Alert.Comment = '';
  				this.AlertCommentsAreLoading = false;

  				//Reset textarea
  				if (this.$refs.textarea) {
  					setTimeout(() => {
  						this.$refs.textarea.refreshSize();
  						this.$refs.textarea.resetTouched();
  					}, 0);
  				}
  			},
  			immediate: true,
  			deep: true, //https://stackoverflow.com/questions/42133894/vue-js-how-to-properly-watch-for-nested-properties
  		},

  		//Alert: {
  		//    handler(newVal, oldVal) {
  		//    },
  		//    deep: true //https://stackoverflow.com/questions/42133894/vue-js-how-to-properly-watch-for-nested-properties
  		//},
  	},
  	created() {},
  	mounted() {},
  	beforeDestroy() {},
  	updated() {
  		//this.Task.Data = this.taskData || [];//Important, else props wont update as data assigned only at runtime NOT NEEDED, API LOADED EACH TASK
  		appMain.setElementsAsFullHeight();
  	},
  };
</script>

<style>
</style>

<custom1>
    Alert item component
</custom1>
