﻿
<!--Add a default message to a ui container-->
<div class="{{#if ContainerClass}}{{ContainerClass}}{{else}}containerEmpty-wrapper{{/if}} js-container-empty-default">
    <i class="fa fa-{{Icon}}" aria-hidden="true"></i>
    <span class="containerEmpty-txt">{{{Text}}}</span>
</div>