﻿{{!--appMain.getFatalErrorUserNotificationModal()--}}

<div class="pure-g">
    <div class="pure-u-1 u-margin-bottom-md">
        {{{Message}}}
    </div>
    <div class="pure-u-1">
        <button class="btn js-user-notification-fatal-close-btn">{{#if ButtonText}}{{ButtonText}}{{else}}Close and sign out{{/if}}</button>
    </div>
</div>