﻿<div class="pure-g">
    <div class="pure-u-1">
        <span class="view-title"><i class="fa fa-exclamation-triangle u-color-fail" aria-hidden="true"></i> Unsupported browser</span>
        <p>You are using an unsupported browser. This application is supported in the following browsers:</p>
        <ul class="u-ul--plain">
            <li><i class="fa fa-check u-color-success" aria-hidden="true"></i> Chrome (latest 2 versions)</li>
            <li><i class="fa fa-check u-color-success" aria-hidden="true"></i> Firefox (latest 2 versions)</li>
            <li><i class="fa fa-check u-color-success" aria-hidden="true"></i> Internet Explorer 11</li>
            <li><i class="fa fa-check u-color-success" aria-hidden="true"></i> Microsoft Edge</li>
            <li><i class="fa fa-check u-color-success" aria-hidden="true"></i> Safari (latest 2 versions)</li>
        </ul>
        <p>If you are unable to access any of these browsers please contact your IT team for further assistance.</p>
    </div>
</div>