﻿<template>
  <div ref="feed-wrapper" data-scroll="true" class="feed-scroll-wrapper js-feed-wrapper js-fullHeight-bodyElement">
    <div class="feed-wrapper">

      <template v-if="!FeedData.IsLoadingFeedData">
        <button v-on:click="refreshFeed()" class="feedBody__refresh-btn">
          <i class="fa fa-refresh" aria-hidden="true"></i> Refresh for latest updates</button>

        <ui-button v-on:click="getAddFeedItemModal((isNetworkMemberAreaId) ? 'NetworkUpdateModal' : 'TeamUpdateModal');" color="primary" :raised="false" v-if="!patientId" :disabled="false" class="post-update-btn">Post an update</ui-button>
      </template>

      <template v-if="getSortedFeedItems.length">
        <div v-for="(item) in getSortedFeedItems" :key="item.day">
          <div class="feedBody__item-sortDate">{{item.day | getShortDate}}</div>
          <feed-item v-for="(feedItem) in item.items" :key="feedItem.ContentIdKey" :data="feedItem" :network-id="NetworkId" :member-area-id="MemberAreaId" :patient-id="PatientId" :contentIdToActivate="contentIdToActivate" :isNetworkMemberAreaId="isNetworkMemberAreaId"></feed-item>
        </div>
      </template>

      <div v-if="!getSortedFeedItems.length && !FeedData.IsLoadingFeedData" class="containerEmpty-wrapper">
        <i class="fa fa-comments" aria-hidden="true"></i>
        <span class="containerEmpty-txt">There are no conversations</span>
      </div>

      <div v-if="!FeedData.IsLoadingFeedData && !FeedData.ThereAreMore && getSortedFeedItems.length">
        <p class="u-text-center">End of results</p>
      </div>

      <!--Loaders-->
      <template v-if="FeedData.IsInitialLoadOfFeedData">
        <div v-for="n in 10" :key="n" class="feed-loading-content">
          <vue-content-loading :width="890" :height="124">
            <circle cx="30" cy="30" r="30"></circle>
            <rect x="75" y="13" rx="4" ry="4" height="13" width="752"></rect>
            <rect x="75" y="37" rx="4" ry="4" width="695" height="10"></rect>
            <rect x="0" rx="4" ry="4" height="10" y="70" width="851"></rect>
            <rect x="0" rx="4" ry="4" width="882" height="10" y="87"></rect>
            <rect x="0" rx="4" ry="4" height="10" y="104" width="807"></rect>
          </vue-content-loading>
        </div>
      </template>

      <!--Observer sentinel-->
      <div ref="sentinel" class="sentinel"></div>

      <div class="feed-wrapper--is-loading">
        <ui-progress-circular v-show="FeedData.IsLoadingFeedData && !FeedData.IsInitialLoadOfFeedData" color="primary"></ui-progress-circular>
      </div>
    </div>

    <!--modals-->
    <ui-modal v-if="isNetworkMemberAreaId" :promptBeforeClose="OpenModalIsValidForUpsert" dismissOn="close-button" ref="NetworkUpdateModal" size="normal" :title="`Post an update in ${NetworkName}`" @close="modalClosed('NetworkUpdateModal')">
      <UpdateModal v-if="ComponentKeys.NetworkUpdateModal" :key="ComponentKeys.NetworkUpdateModal" :patientId="patientId" :memberAreaId="memberAreaId" :networkId="networkId" :isNetworkMemberAreaId="isNetworkMemberAreaId"></UpdateModal>
    </ui-modal>

    <ui-modal v-if="!isNetworkMemberAreaId && !PatientId" :promptBeforeClose="OpenModalIsValidForUpsert" dismissOn="close-button" ref="TeamUpdateModal" :size="ComponentKeys.NetworkSearchModal ? 'large' : 'normal'" :title="`Post an update in ${MemberAreaName || NetworkName}`" @close="modalClosed('TeamUpdateModal')">

      <UpdateModal v-show="!ComponentKeys.NetworkSearchModal" :key="ComponentKeys.TeamUpdateModal" :memberAreaId="memberAreaId" :networkId="networkId" :isNetworkMemberAreaId="isNetworkMemberAreaId" @add-patient-to-update="getAddFeedItemModal('NetworkSearchModal')" :patient="NetworkSearchPatientSelected.length ? NetworkSearchPatientSelected[0]: null" :patientId="NetworkSearchPatientSelected.length ? NetworkSearchPatientSelected[0].PatientExternalIdentifier: null"></UpdateModal>

      <NetworkPatientSearch v-if="ComponentKeys.NetworkSearchModal" :networkId="networkId" :memberAreaId="memberAreaId" :widgetType="2" @network-search-selected-patients="(array, patient) => { (array.length) ? this.NetworkSearchPatientSelected = [patient] : this.NetworkSearchPatientSelected =[]}" :clearSelections="!NetworkSearchPatientSelected.length" :isAddingPatientsToTeamList="false" :allowMultipleSelections="false"></NetworkPatientSearch>

      <div v-show="ComponentKeys.NetworkSearchModal" slot="footer">
        <ui-button color="primary" type="secondary" :disabled="IsLoading" v-on:click="NetworkSearchPatientSelected = []; ComponentKeys.NetworkSearchModal = null">Cancel</ui-button>
        <ui-button :disabled="IsLoading || !NetworkSearchPatientSelected.length" :loading="IsLoading" v-on:click="addPatientToUpdate" color="primary">
          Add patient to update
        </ui-button>
      </div>

    </ui-modal>

  </div>
</template>

<script>
  /* Utils */
  import PubSub from 'Endpoints/careflowApp/PubSub';
  import Vault from 'Endpoints/careflowApp/Vault';

  /* API Endpoints */
  import GetPreviousHomeFeedItems from 'Endpoints/homeFeed/GetPreviousHomeFeedItems';
  import GetPatientFeedItems from 'Endpoints/patients/GetPatientFeedItems';
  import MarkSingleFeedAsViewed from 'Endpoints/users/MarkSingleFeedAsViewed';
  import MarkFeedAsRead from 'Endpoints/users/MarkFeedAsRead';
  import GetUnreadItemCountsForAllNetworks from 'Endpoints/users/GetUnreadItemCountsForAllNetworks';

  /*Components*/
  import { VueContentLoading } from 'vue-content-loading';
  import UpdateModal from 'VueComponents/modals/PatientUpdateModal';
  import NetworkPatientSearch from 'VueComponents/patientSearch/NetworkPatientSearch';
  import FeedItem from 'VueComponents/feeds/components/FeedItem';

  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import appMain from 'AppJs/app-main';

  export default {
  	data() {
  		return {
  			IsLoading: false,
  			UpdatedBeforeKey: moment
  				.utc()
  				.add(1, 'minute')
  				.local()
  				.format('YYYY-MM-DDTHH:mm:ss'), //Default - add 5 mins as an arbitary value from now, overcome API / server sync issues,
  			MemberAreaId: this.memberAreaId || null, //Passed prop
  			MemberAreaName: this.memberAreaId
  				? appMain.getMemberAreaName(this.memberAreaId)
  				: null,
  			PatientId: this.patientId || null, //Passed prop
  			NetworkSearchPatientSelected: [],
  			NetworkId: this.networkId || Vault.getSessionItem('ActiveNetworkId'), //Passed prop
  			NetworkName: appMain.getNetworkName(this.networkId),
  			ContentIdToActivate: this.contentIdToActivate || null,
  			FeedIsMarkedAsViewed: false,
  			FeedData: {
  				IsInitialLoadOfFeedData: true, //default
  				IsLoadingFeedData: false,
  				ThereAreMore: false,
  				Skip: 0, //Used on patient feed
  				Take: 25, //Used on patient feed (static)
  				Data: []
  			},
  			//RebuildModalsUiComponentKey: Date.now(),
  			//ShowPatientSearchModal: false,
  			ComponentKeys: {
  				NetworkUpdateModal: null,
  				TeamUpdateModal: null,
  				NetworkSearchModal: null
  			},
  			OpenModalIsValidForUpsert: true
  		};
  	},
  	components: {
  		FeedItem,
  		VueContentLoading,
  		UpdateModal,
  		NetworkPatientSearch
  	},
  	mixins: [DateFilter],
  	props: {
  		networkId: {
  			type: [String, Number],
  			required: true,
  			default: false
  		},
  		memberAreaId: {
  			type: [String, Number],
  			required: false,
  			default: null
  		},
  		patientId: {
  			type: [String, Number],
  			required: false,
  			default: null
  		},
  		contentIdToActivate: {
  			type: [String, Number],
  			required: false,
  			default: null
  		},
  		isNetworkMemberAreaId: {
  			//For Network updates - memberAreaId === networkMemberAreaId
  			type: [Boolean],
  			required: false,
  			default: false
  		}
  	},
  	methods: {
  		scrollHandler() {
  			//When user scrolls to bottom of feed
  			if (this.FeedData.IsLoadingFeedData || !this.FeedData.ThereAreMore)
  				return Promise.resolve();

  			return new Promise((resolve, reject) => {
  				//Add overflow-anchor: none; //https://github.com/angular-ui/ui-scroll/issues/138 to fix chrome jumping uissue

  				if (
  					!this.PatientId &&
  					!this.FeedData.IsLoadingFeedData &&
  					this.FeedData.ThereAreMore
  				)
  					return this.getFeedItems().then(response => {
  						resolve();
  					});
  				if (
  					this.PatientId &&
  					!this.FeedData.IsLoadingFeedData &&
  					this.FeedData.ThereAreMore
  				)
  					return this.getPatientFeedItems()
  						.then(response => {
  							resolve();
  						})
  						.fail(error => {});
  			});
  		},

  		refreshFeed() {
  			//Resets for fresh load of data
  			this.FeedData.Data = [];
  			this.FeedData.ThereAreMore = false;
  			this.FeedData.IsLoadingFeedData = false;
  			this.FeedData.IsInitialLoadOfFeedData = true;
  			this.FeedData.Skip = 0;
  			this.UpdatedBeforeKey = moment
  				.utc()
  				.add(1, 'minute')
  				.local()
  				.format('YYYY-MM-DDTHH:mm:ss');

  			if (this.patientId) {
  				this.getPatientFeedItems().then(response => {
  					this.FeedData.IsInitialLoadOfFeedData = false;
  				});
  			} else {
  				this.getFeedItems().then(response => {
  					this.FeedData.IsInitialLoadOfFeedData = false;
  				});
  			}
  		},

  		getAddFeedItemModal(ref) {
  			if (ref) {
  				//Network updates
  				this.OpenModalIsValidForUpsert = false; //Reset confirm prompt
  				this.ComponentKeys[ref] = Date.now(); //Force modal component to rebuildand instansiate
  				if (ref !== 'NetworkSearchModal') return this.$refs[ref].open(); //Open the Modal
  				return;
  			}
  		},
  		closeModal(ref) {
  			this.$refs[ref].close();
  		},
  		modalClosed(ref) {
  			if (!ref) return;
  			this.IsLoading = false;
  			this.ComponentKeys[ref] = null;
  			this.NetworkSearchPatientSelected = [];
  		},

  		getPatientFeedItems() {
  			if (!this.patientId) return;
  			this.FeedData.IsLoadingFeedData = true;
  			return GetPatientFeedItems.callApi(
  				this.patientId,
  				this.networkId,
  				this.FeedData.Skip,
  				this.FeedData.Take
  			)
  				.then((response, textStatus, jqXHr) => {
  					this.FeedData.ThereAreMore = response.Data.ThereAreMore;
  					this.FeedData.Data.push(...response.Data.FeedItems); //Push array in as flat.
  					this.FeedData.Skip += this.FeedData.Take;
  					this.FeedData.IsLoadingFeedData = false;
  				})
  				.fail(error => {
  					this.FeedData.IsLoadingFeedData = false;
  				});
  		},

  		insertMockFeedItem(obj) {
  			//Push the 'mock' feed data
  			this.FeedData.Data.unshift({
  				Comments: [],
  				ContentItemDescription: '',
  				ContentItemUpdated: false,
  				ContentItemUpdatedDate: moment.utc().format(),
  				ContentItemCreatedDate: moment.utc().format(),
  				ConversationBody: obj.Body,
  				ConversationStartItemTrackableItemId: obj.ContentItemID,
  				ConversationTrackableItemId: obj.ContentItemID,
  				CreatedBy: {
  					ApplicationUserID: Vault.getItem('LoggedInUserExternalId'),
  					FirstName: Vault.getItem('LoggedInUserFirstName'),
  					IsRequestingUser: true,
  					LastName: Vault.getItem('LoggedInUserLastName')
  				},
  				DocumentFileSize: 0,
  				DocumentMimeType: null,
  				DocumentVersionNumber: 1,
  				EventAddress: null,
  				EventCancelled: null,
  				EventEndDate: null,
  				EventLocation: null,
  				EventStartDate: null,
  				ImageFileUrl: null,
  				ImageUrlOfContentItemCreatedBy: Vault.getItem('LoggedInUserAvatar'),
  				ImageUrlOfCreatedByUser: Vault.getItem('LoggedInUserAvatar'),
  				ImageUrlOfLastCommenter: Vault.getItem('LoggedInUserAvatar'),
  				IsDeleted: false,
  				IsImageFile: false,
  				IsRead: true,
  				LastCommentDate: moment.utc().format(),
  				LastCommentText: '',
  				LastCommenter: {
  					ApplicationUserID: Vault.getItem('LoggedInUserExternalId'),
  					FirstName: Vault.getItem('LoggedInUserFirstName'),
  					IsRequestingUser: true,
  					LastName: Vault.getItem('LoggedInUserLastName')
  				},
  				MemberAreaID: obj.MemberAreaId,
  				MemberAreaName: appMain.getMemberAreaName(parseInt(obj.MemberAreaId)), //Select2 so parseInt until modals are Vue refactored
  				NotificationDate: moment.utc().format(),
  				NumberOfComments: 0,
  				OrderingDate: moment.utc().format(),
  				PatientDetails: obj.PatientData || null,
  				ReferralDetails: null,
  				Title: obj.Title,
  				TrackableItemTypeID: null
  			});
  		},

  		insertMockReferralFeedItem(obj) {
  			let targetReferral;

  			//Check permissions
  			if (
  				!appMain.checkUserPermissionForMemberArea(
  					obj.SendingTeamMemberAreaId,
  					'ReadContent'
  				) &&
  				!appMain.checkUserPermissionForMemberArea(
  					obj.ReceivingTeamMemberAreaId,
  					'ReadContent'
  				) &&
  				!this.patientId
  			)
  				return; //patientId for feed type check

  			//Get the referral item first - https://doccom.atlassian.net/browse/WEB-746
  			//Network or Team
  			const viewType = this.patientId ? 'Network' : 'Team';
  			const identifier = this.patientId ? this.networkId : this.memberAreaId;
  			const userPermsissionsInSendingTeam = appMain.getUserPermissionsForMemberArea(
  				obj.SendingTeamMemberAreaId
  			);
  			const userPermsissionsInRecveivingTeam = appMain.getUserPermissionsForMemberArea(
  				obj.ReceivingTeamMemberAreaId
  			);
  			let statusesUserCanApply = [];
  			let targetMemberAreaId = null;

  			if (userPermsissionsInRecveivingTeam.includes('UpdateReferralStatus')) {
  				targetMemberAreaId = obj.ReceivingTeamMemberAreaId;
  				statusesUserCanApply = [
  					{
  						ReferralStatusId: 2,
  						StatusName: 'Accepted'
  					},
  					{
  						ReferralStatusId: 3,
  						StatusName: 'Declined'
  					},
  					{
  						ReferralStatusId: 4,
  						StatusName: 'Cancelled'
  					}
  				];
  			} else if (
  				userPermsissionsInSendingTeam.includes('UpdateReferralStatus') &&
  				!userPermsissionsInRecveivingTeam.includes('UpdateReferralStatus')
  			) {
  				targetMemberAreaId = obj.SendingTeamMemberAreaId;
  				statusesUserCanApply = [
  					{
  						ReferralStatusId: 4,
  						StatusName: 'Cancelled'
  					}
  				];
  			} else {
  				targetMemberAreaId = null;
  				statusesUserCanApply = [];
  			}

  			let pushMockItem = () => {
  				//Push the 'mock' feed data - TODO: constructor for feed object
  				this.FeedData.Data.unshift({
  					Comments: [],
  					ContentItemDescription: '',
  					ContentItemUpdated: false,
  					ContentItemUpdatedDate: moment.utc().format(),
  					ConversationBody: '',
  					ConversationStartItemTrackableItemId: obj.ContentItemId,
  					ConversationTrackableItemId: obj.ContentItemId,
  					CreatedBy: {
  						ApplicationUserID: Vault.getItem('LoggedInUserExternalId'),
  						FirstName: Vault.getItem('LoggedInUserFirstName'),
  						IsRequestingUser: true,
  						LastName: Vault.getItem('LoggedInUserLastName')
  					},
  					DocumentFileSize: 0,
  					DocumentMimeType: null,
  					DocumentVersionNumber: null,
  					EventAddress: null,
  					EventCancelled: null,
  					EventEndDate: null,
  					EventLocation: null,
  					EventStartDate: null,
  					ImageFileUrl: null,
  					ImageUrlOfContentItemCreatedBy: Vault.getItem('LoggedInUserAvatar'),
  					ImageUrlOfCreatedByUser: Vault.getItem('LoggedInUserAvatar'),
  					ImageUrlOfLastCommenter: Vault.getItem('LoggedInUserAvatar'),
  					IsDeleted: false,
  					IsImageFile: false,
  					IsRead: true,
  					LastCommentDate: moment.utc().format(),
  					LastCommentText: '',
  					LastCommenter: {
  						ApplicationUserID: Vault.getItem('LoggedInUserExternalId'),
  						FirstName: Vault.getItem('LoggedInUserFirstName'),
  						IsRequestingUser: true,
  						LastName: Vault.getItem('LoggedInUserLastName')
  					},
  					MemberAreaID: obj.MemberAreaId,
  					MemberAreaName: obj.SendingTeamName,
  					NotificationDate: moment.utc().format(),
  					NumberOfComments: 0,
  					OrderingDate: moment.utc().format(),
  					PatientDetails: obj.PatientData || null,
  					ReferralDetails: {
  						IsCrossNetworkReferral: obj.IsCrossNetworkReferral,
  						PatientExternalIdentifier: obj.PatientId,
  						ReceivingMemberAreaId: obj.ReceivingTeamMemberAreaId,
  						ReceivingMemberAreaName: obj.ReceivingTeamName,
  						ReferralContent: [
  							{
  								Name: 'Situation',
  								Value: obj.SituationTxt
  							},
  							{
  								Name: 'Background',
  								Value: obj.BackgroundTxt
  							},
  							{
  								Name: 'Assessment',
  								Value: obj.AssessmentTxt
  							},
  							{
  								Name: 'Recommentdation',
  								Value: obj.RecommentdationTxt
  							}
  						],
  						ReferralStatusDescription: `Referral decision pending from ${
  							obj.ReceivingMemberAreaName
  						}`,
  						ReferralStatusId: 1,
  						ReferralStatusName: 'Pending',
  						SendingMemberAreaId: obj.SendingTeamMemberAreaId,
  						SendingMemberAreaName: obj.SendingTeamName,
  						StatusesUserCanApply: statusesUserCanApply,
  						TargetMemberAreaId: targetMemberAreaId
  					},
  					Title: '',
  					TrackableItemTypeID: null
  				});
  			};

  			return pushMockItem();
  		},

  		getFeedItems() {
  			this.FeedData.IsLoadingFeedData = true;

  			return GetPreviousHomeFeedItems.callApi(
  				this.UpdatedBeforeKey,
  				this.MemberAreaId,
  				this.NetworkId
  			)
  				.then((response, textStatus, jqXHr) => {
  					this.FeedData.ThereAreMore = response.Data.ThereAreMore;
  					//Get last item
  					let lastItem =
  						response.Data.HomeFeedItems[response.Data.HomeFeedItems.length - 1];
  					if (lastItem) this.UpdatedBeforeKey = lastItem.LastCommentDate;

  					this.FeedData.Data.push(...response.Data.HomeFeedItems);
  					this.FeedData.IsLoadingFeedData = false;

  					if (this.MemberAreaId && !this.FeedIsMarkedAsViewed) {
  						MarkSingleFeedAsViewed.callApi(
  							1,
  							appMain.getAccessGroupId(this.MemberAreaId)
  						).then(response => {
  							//Mark as read on load (each time view loads)
  							this.FeedIsMarkedAsViewed = true;
  							//Single network
  							appMain.getUnreadCountsForSingleNetwork(
  								true,
  								this.NetworkId,
  								null
  							); //Get the badge counts for THIS network
  							//All networks badge counts
  							appMain.getUnreadCountsForAllNetworks(true, null); //Get the badge counts for all user networks
  						});
  					}
  				})
  				.fail(error => (this.FeedData.IsLoadingFeedData = false));
  		},

  		addPatientToUpdate() {
  			this.ComponentKeys.NetworkSearchModal = null; //kill modal component
  		},

  		getFeedItemContentKey(item) {
  			//API returns different prop for patient or team feed :( Set a standard key
  			let idType = item.hasOwnProperty('ContentItemID')
  				? item.ContentItemID
  				: item.ConversationTrackableItemId; //If a patient feed
  			if (idType) return idType;
  			return null;
  		},
  		referralStarted(obj) {
  			if (this.networkId && !this.memberAreaId && !this.patientId)
  				return this.insertMockReferralFeedItem(obj);

  			if (this.networkId && this.memberAreaId && !this.patientId) {
  				if (
  					this.memberAreaId === parseInt(obj.SendingTeam) ||
  					this.memberAreaId === parseInt(obj.ReceivingTeam)
  				) {
  					if (
  						appMain.checkUserPermissionForMemberArea(
  							parseInt(obj.SendingTeam),
  							'ReadContent'
  						) ||
  						appMain.checkUserPermissionForMemberArea(
  							parseInt(obj.ReceivingTeam),
  							'ReadContent'
  						)
  					)
  						return this.insertMockReferralFeedItem(obj);
  					return;
  				}
  			}
  			if (this.patientId) return this.insertMockReferralFeedItem(obj);
  			return;
  		}
  	},
  	computed: {
  		getSortedFeedItems: function() {
  			if (!this.FeedData.Data && !this.FeedData.Data.length) return [];
  			//Group feeds by data
  			//Sort the data
  			let groups = _.groupBy(this.FeedData.Data, item => {
  				//Group the data
  				//return moment(item.LastCommentDate).startOf('day').format();
  				item.ContentIdKey = this.getFeedItemContentKey(item); //API returns different prop for patient or team feed :( Set a standard key
  				if (this.PatientId)
  					return moment(item.NotificationOrderDate)
  						.startOf('day')
  						.format(); //NotificationOrderDate for patient feed
  				return moment(item.OrderingDate)
  					.startOf('day')
  					.format();
  			});

  			let result = _.map(groups, (group, day) => {
  				return {
  					day: day,
  					items: group
  				};
  			});
  			return result;
  		}
  	},
  	watch: {},
  	created() {
  		//Initial API Call
  		var that = this;

  		//feeed type
  		if (this.patientId) {
  			that.getPatientFeedItems().then(() => {
  				this.FeedData.IsInitialLoadOfFeedData = false;
  			});
  		} else {
  			that.getFeedItems().then(() => {
  				this.FeedData.IsInitialLoadOfFeedData = false;
  			});
  		}

  		VueEventBus.$on('Modal.ValidityUpdate', val => {
  			this.OpenModalIsValidForUpsert = val;
  		});
  	},
  	mounted() {
  		/*Infinite scroll Intersection observer*/

  		const sentinel = this.$refs['sentinel'];
  		const items = this.$refs['feed-wrapper'];

  		// Create new IntersectionObserver
  		const io = new IntersectionObserver(entries => {
  			// Only load new articles if the senitel enters the viewport
  			// not if he leaves
  			if (entries[0].intersectionRatio <= 0) {
  				return;
  			}
  			// Load next items
  			// Move sentinel to the end
  			this.scrollHandler().then(response => {
  				if (this.FeedData.ThereAreMore) {
  					items.appendChild(sentinel);
  				} else {
  					io.disconnect();
  				}
  			});
  		});

  		// Start observing .sentinel
  		io.observe(sentinel);

  		//Events
  		VueEventBus.$on('PostUpdate.NewPatientFeedItemAdded', obj => {
  			//Vue modal
  			if (this.ComponentKeys.TeamUpdateModal)
  				this.$refs['TeamUpdateModal'].close();
  			if (this.ComponentKeys.NetworkUpdateModal)
  				this.$refs['NetworkUpdateModal'].close();
  			return this.insertMockFeedItem(obj); //Patient feeds treated as network, show all
  		});
  		VueEventBus.$on('StartPatientReferral.ReferralSent', this.referralStarted);

  		//Non Vue - to deprecate
  		VueEventBus.$on('PostUpdate.NewFeedItemAdded', obj => {
  			//Vue modal
  			if (this.ComponentKeys.TeamUpdateModal)
  				this.$refs['TeamUpdateModal'].close();
  			if (this.ComponentKeys.NetworkUpdateModal)
  				this.$refs['NetworkUpdateModal'].close();

  			if (this.networkId && !this.memberAreaId && !this.patientId)
  				return this.insertMockFeedItem(obj);

  			if (this.networkId && this.memberAreaId && !this.patientId) {
  				if (obj.MemberAreaId === this.memberAreaId)
  					return this.insertMockFeedItem(obj);
  				return;
  			}

  			if (this.patientId && !this.memberAreaId)
  				return this.insertMockFeedItem(obj);
  			return;
  		});
  	},
  	beforeDestroy() {
  		VueEventBus.$off('PostUpdate.NewPatientFeedItemAdded');
  		VueEventBus.$off('StartPatientReferral.ReferralSent', this.referralStarted);
  		VueEventBus.$off('PostUpdate.NewFeedItemAdded');
  		//VueEventBus.$off('Feeds.NewPatientFeedItemAdded');
  		VueEventBus.$off('Modal.ValidityUpdate');
  	},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	}
  };
</script>

<style lang="less" scoped>
  @import '../../../../less/app-variables.less';
  .feed-wrapper {
  	position: relative;
  }
  .post-update-btn {
  	display: flex;
  	margin-left: auto;
  }
  .sentinel {
  	//https://stackoverflow.com/questions/45090875/ms-edge-intersectionobserver-does-it-work-for-you
  	min-width: 1px;
  	min-height: 1px;
  }
</style>

<custom>
    A feed container component.
</custom>
