<template>
  <div :class="{'networks-link':true, 'ui-menu-option':true, 'is-disabled': isLoading}">
    <div class="ui-menu-option__content">
      <div :class="{'menu-name':true, 'is-disabled': isLoading}">
        <i ref="star-popout" v-on:click="setPreferredNetwork" v-if="!option.isPreferredNetwork" :class="{'material-icons':true, 'is-preferred':option.isPreferredNetwork }">star_border</i>
        <i v-else :class="{'material-icons':true, 'is-preferred':option.isPreferredNetwork}">star</i>
        <div ref="option-link" v-on:click="navigateView" class="network-name">{{option.label}}</div>
      </div>
      <span v-if="option.unreadItems.length" class="u-new-content-badge">{{ option.unreadItems | formatBadgeCount }}</span>
    </div>
    <ui-popover v-if="!option.isPreferredNetwork" class="custom-popover" openOn="hover" trigger="star-popout">
      <div>Click to set {{option.label}} as your preferred network</div>
    </ui-popover>
    <!-- <ui-ripple-ink trigger="option-link"></ui-ripple-ink> -->
  </div>
</template>

<script>
  /*Mixins*/
  /*Components*/
  /* API Endpoints */

  export default {
  	data() {
  		return {
  			IsLoading: false,
  		};
  	},
  	components: {},
  	props: {
  		option: {
  			type: [Object],
  			required: true,
  			default: () => {
  				return {};
  			},
  		},
  		isLoading: {
  			type: [Boolean],
  			required: true,
  			default: false,
  		},
  	},
  	filters: {
  		formatBadgeCount(count) {
  			if (count > 99) return `99+`;
  			return count;
  		},
  	},
  	watch: {},
  	mixins: [],

  	computed: {},

  	methods: {
  		setPreferredNetwork() {
  			if (this.isLoading) return;
  			this.$emit('setPreferredNetwork', this.option.networkId);
  		},
  		navigateView() {
  			if (this.isLoading) return;
  			this.$emit('navigateView', this.option.url);
  		},
  	},
  	mounted() {},
  	updated() {},
  };
</script>

<style scoped lang="less" rel="stylesheet/less" type="text/less">
  @import '../../../../../less/app-variables.less';

  .networks-link {
  	height: 100%;
  	.u-new-content-badge {
  		position: relative;
  		margin-left: auto;
  		right: auto;
  		top: auto;
  	}
  	.network-name {
  		display: flex;
  		margin: 0 0 0 0.5em;
  		height: 100%;
  		width: 100%;
  		align-items: center;
  	}

  	& .menu-name {
  		width: 85%;
  		display: flex;
  		height: 100%;
  		align-items: center;
  		&.is-disabled {
  			color: @text-light;
  			opacity: 0.5;
  			&:hover {
  				cursor: default;
  			}
  		}
  	}

  	& i.material-icons {
  		font-size: 17px;
  		&.is-preferred {
  			color: @brand-primary-colour;
  		}
  	}
  	&.ui-menu-option.is-disabled {
  		&:hover {
  			background-color: #fff;
  		}
  	}

  	& .ui-menu-option__content {
  		//height: auto;
  		min-height: 2.5rem;
  		height: initial;
  	}
  }
</style>

<custom>Network Link on main navigation component</custom>
