﻿<template>

  <div :key="RebuildUiComponentKey" ref="referral-active-panel-wrapper" class="teamReferral-wrapper u-elevation-2 pure-g">
    <div class="teamReferrals__referral">
      <div class="pure-u-1">
        <patient-banner :networkId="networkId" :is-team-context="!IsPatientContextView" :content-id="referral.ContentItemId" :patient-id="referral.Patient.PatientExternalIdentifier" :patient="referral.Patient" :member-area-id="memberAreaId"></patient-banner>
      </div>
      <div class="teamReferral-body pure-u-1">
        <div class="pure-u-1">
          <span class="u-subheading--grey">From</span>
          <span class="u-subheading">{{referral.Referral.SendingMemberArea.Name}}</span>
        </div>
        <div class="pure-u-1">
          <span class="u-subheading--grey">To</span>
          <span class="u-subheading">{{referral.Referral.ReceivingMemberArea.Name}}</span>
        </div>

        <div class="pure-u-1 referral__statusBar">
          <template v-if="referral.Referral.StatusesUserCanApply.length">
            <span ref="referralstatusedit-trigger" class="u-subheading popover-trigger">
              <span :class="getReferralClass(referral.Referral.Status.Id)">{{referral.Referral.Status.Description}}
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </span>
            </span>
            <ui-popover ref="referralstatusedit" class="custom-popover teamReferral-status-popover" trigger="referralstatusedit-trigger">
              <div class="referral__referralStatus__change">
                <div ref="referral-update-form" class="">
                  <div class="formRow">
                    <ui-select label="" placeholder="Select a status" class="u-txt-capitalise" :disabled="IsUpdatingReferral" :options="StatusesUserCanApply" v-model="StatusUpdate.Status"></ui-select>

                  </div>
                  <div class="formRow">
                    <ui-textbox enforce-maxlength placeholder="Add a comment" :multi-line="true" name="comment" class="itemReply__txtarea" :disabled="IsUpdatingReferral" v-model="StatusUpdate.Comment"></ui-textbox>
                    <div class="help is-danger" v-if="CustomErrorMessage">
                      <div>{{CustomErrorMessage}}</div>
                    </div>
                    <div class="formRow--footer-actions">
                      <ui-button color="primary" :disabled="IsUpdatingReferral || !StatusUpdate.Status.value || (StatusUpdate.Status.value == 3 && !StatusUpdate.Comment)" :loading="IsUpdatingReferral" v-on:click.stop.prevent="updateReferralStatus($event)">Update status</ui-button>
                    </div>
                  </div>
                </div>
              </div>
            </ui-popover>
          </template>
          <template v-else>
            <!--No statuses to apply-->
            <span class="u-subheading">
              <span :class="getReferralClass(referral.Referral.Status.Id)">{{referral.Referral.Status.Description}}</span>
            </span>
          </template>
        </div>
        <div class="pure-u-1 referral__sbar-wrapper">
          <!--SBAR-->
          <div class="referral__sbar">
            <div v-for="(item, index) in getSbarSortedFields" :key="index" class="teamReferral__sbar-row">
              <span class="label">{{item.Name}}</span>
              <span class="teamReferral__sbar-value">{{item.Value}}</span>
            </div>
          </div>
        </div>
        <div class="pure-u-1 referral__author-wrapper">
          <div class="bodyContent__authorMeta">

            <a href="#" class="u-user-avatar--link js-user-avatar-img">
              <img v-bind:src="referral.Created.User.ProfileImageUrl" class="u-user-avatar--img">
            </a>
            <div class="u-display-t-cell--full-width--middle">
              <a class="js-user-avatar-href" href="#">{{referral.Created.User.FirstName}} {{referral.Created.User.LastName}}</a>
              <small class="bodyContent__itemDate">{{referral.Created.DateAndTime | formatDate}}</small>
            </div>
          </div>
        </div>
        <div class="pure-u-1">
          <ui-progress-circular color="primary" v-if="IsLoadingFirstThreeComments"></ui-progress-circular>
          <template v-if="!IsLoadingFirstThreeComments">
            <span class="u-subheading--grey">Comments</span>
            <div v-if="ActiveReferralDetailsComments.Comments.length" class="referral__comments-wrapper">
              <button v-if="ActiveReferralDetailsComments.ThereAreMore" v-on:click="getReferralComments(referral.ContentItemId,ActiveReferralDetailsComments.Comments.length, 10)" aria-label="See earlier comments" class="comments__see-earlier-btn">See earlier comments</button>

              <div v-for="comment in ActiveReferralDetailsComments.Comments" class="comments__item">
                <div class="comments__itemBody">

                  <span v-if="comment.ReferralStatusDetails" class="u-block comments__itemText" :class="getReferralClass(comment.ReferralStatusDetails.ReferralStatusId)">{{comment.ReferralStatusDetails.ReferralStatusDescription}}</span>

                  <span class="u-block comments__itemText">{{comment.Text}}</span>
                  <div class="comments__authorMeta">
                    <a href="#" class="u-user-avatar--link js-user-avatar-img">
                      <img class="u-user-avatar--img userAvatar--feedComments" v-bind:src="comment.ImageUrlOfCommenter">
                    </a>
                    <div class="u-display-t-cell--full-width--middle">
                      <a class="btn--plain js-user-avatar-href">{{comment.CommentCreatedBy.FirstName}} {{comment.CommentCreatedBy.LastName}}</a>
                      <small class="comments__itemDate">{{comment.CommentDate | formatDate}}</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div v-else>
              There are no comments
            </div>
          </template>
        </div>
        <div class="pure-u-1">
          <!--Comments-->
          <template>
            <div class="pure-u-1">
              <ui-textbox enforce-maxlength placeholder="Add a comment" :multi-line="true" class="itemReply__txtarea" :disabled="IsUpdatingReferral" ref="textarea" v-model="NewComment"></ui-textbox>
              <ui-button color="primary" raised :disabled="IsUpdatingReferral" :loading="IsUpdatingReferral" v-if="NewComment.length" v-on:click="submitReferralComment(referral.ContentItemId)">Add comment</ui-button>
              <ui-button type="secondary" :disabled="IsUpdatingReferral" :loading="IsUpdatingReferral" v-if="NewComment.length" v-on:click.stop.prevent="clearCommentTextArea()">Cancel</ui-button>
            </div>
          </template>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  /* Utils */ /*TODO:USE node fs to resolve paths*/
  import Vault from '../../../endPoints/careflowApp/Vault';
  import GetHandlebarsTemplate from '../../../endPoints/careflowApp/GetHandlebarsTemplate';

  /* API Endpoints */
  import GetCommentsForFeedItems from '../../../endPoints/homeFeed/GetCommentsForFeedItems';
  import AddCommentToFeedItem from '../../../endPoints/homeFeed/AddCommentToFeedItem';
  import UpdateReferralStatus from '../../../endPoints/referral/UpdateReferralStatus';
  import GetReferralList from '../../../endPoints/referral/GetReferralList';

  /*Components*/
  import PatientBanner from '../patientBanners/FeedItem__PatientBanner';

  export default {
  	data: function() {
  		return {
  			IsPatientContextView: false,
  			IsUpdatingReferral: false,
  			MemberAreaId: this.memberAreaId,
  			StatusUpdate: {
  				Status: '',
  				Comment: '',
  			},
  			ActiveContentItemId: null, //Set via watcher
  			IsLoadingFirstThreeComments: false,
  			ActiveReferralDetailsComments: {
  				//from secondary API call upon referral becoming active
  				Comments: [],
  				ThereAreMore: false,
  				Skip: 0,
  				Take: 0,
  			},
  			NewComment: '',
  			CustomErrorMessage: '',
  		};
	  },
	  components: {PatientBanner},
  	props: ['networkId','referral', 'member-area-id', 'is-patient-context'],
  	filters: {
  		formatDate: function(date) {
  			if (!date) return '';
  			return appMain.formatDate(date);
  		},
  		getTeamURL: function(id) {
  			if (!id) return '';
  			return '/#/' + Vault.getSessionItem('ActiveNetworkId') + '/Teams/' + id + '';
  		},
  	},

  	computed: {
  		StatusesUserCanApply() {
  			//API issue, TargetMemberAreaId  not presently returned
  			return this.referral.Referral.StatusesUserCanApply.map((item, index, array) => {
  				return {
  					label: item.StatusName,
  					value: item.ReferralStatusId,
  				};
  			});
  		},

  		requiredComment() {
  			return this.StatusUpdate.Status.value === 3 ? 'required' : '';
  		},

  		getSbarSortedFields() {
  			//Sort by SBAR keys - ios / Android does not construct obj correctly, API does not sort!
  			if (!this.referral || !this.referral.Content) return [];

  			let getIndexKey = name => {
  				if (name === 'Situation') return 0;
  				if (name === 'Background') return 1;
  				if (name === 'Assessment') return 2;
  				if (name === 'Recommendation') return 3;
  				return 99;
  			};

  			//Sort by SBAR keys - ios does not construct obj correctly, API does not sort!
  			let sortedData =
  				this.referral.Content.map((item, index, array) => {
  					return {
  						Name: item.Name,
  						Value: item.Value,
  						IndexKey: getIndexKey(item.Name),
  					};
  				}) || [];

  			// sort by IndexKey
  			sortedData.sort((a, b) => {
  				return a.IndexKey - b.IndexKey;
  			});

  			return sortedData || [];
  		},
  	},

  	watch: {
  		referral: {
  			//Whenever passed referral changes
  			immediate: true,
  			deep: true,
  			handler(newVal, oldVal) {
  				if (!this.referral || this.IsLoadingFirstThreeComments) return;
  				var that = this;
  				if (that.ActiveContentItemId && newVal.ContentItemId === that.ActiveContentItemId) return; //Same, so bail...
  				//Resets - a new referral item has been selected to load...set it up...
  				appMain.stopApiRequests();
  				//Rerender Ui component - reset key
  				this.RebuildUiComponentKey = Date.now();
  				this.clearCommentTextArea();
  				this.CustomErrorMessage = '';

  				that.ActiveReferralDetailsComments.Comments = [];
  				that.ActiveReferralDetailsComments.ThereAreMore = false;
  				that.ActiveReferralDetailsComments.Skip = 0;
  				that.ActiveReferralDetailsComments.Take = 0;

  				that.IsLoadingFirstThreeComments = true; //Initial comment load
  				(that.StatusUpdate.Status = ''),
  					(that.StatusUpdate.Comment = ''),
  					that
  						.getReferralComments(that.referral.ContentItemId, 0, 3)
  						.then(function(response) {
  							that.ActiveContentItemId = newVal.ContentItemId; //Update flag
  							that.IsLoadingFirstThreeComments = false;

  							//Tell parent the comments have loaded
  							that.$parent.$emit('Referrals.ActiveReferralDetailsCommentsLoaded', {
  								ActiveContentItemId: that.ActiveContentItemId,
  							});
  						})
  						.catch(function(error) {
  							//Often hit API 403 error

  							//Tell parent the comments have failed / loaded
  							that.ActiveContentItemId = newVal.ContentItemId; //Update flag
  							that.IsLoadingFirstThreeComments = false;
  							that.$parent.$emit('Referrals.ActiveReferralDetailsCommentsLoaded', {
  								ActiveContentItemId: that.ActiveContentItemId,
  							});
  						});
  			},
  		},

  		IsUpdatingReferral() {},
  	},

  	methods: {
  		getReferralComments: function(contentId, skip, take) {
  			var that = this;
  			return new Promise(function(resolve, reject) {
  				GetCommentsForFeedItems.callApi(contentId, skip, take)
  					.then(function(response) {
  						if (response.Data.Comments) {
  							that.ActiveReferralDetailsComments.Comments.unshift(response.Data.Comments);
  							that.ActiveReferralDetailsComments.Comments = [].concat.apply([], that.ActiveReferralDetailsComments.Comments); //Flatten arrays (array pushed into array)
  						}
  						that.ActiveReferralDetailsComments.ThereAreMore = response.Data.ThereAreMore;
  						resolve(response);
  					})
  					.fail(error => {
  						reject(error);
  					});
  			}).catch(error => {
  				reject(error);
  			});
  		},

  		getTargetMemberAreaId() {
  			//API issue, TargetMemberAreaId  not presently returned

  			const userPermsissionsInSendingTeam = appMain.getUserPermissionsForMemberArea(parseInt(this.referral.Referral.SendingMemberArea.MemberAreaId)) || [];
  			const userPermsissionsInRecveivingTeam = appMain.getUserPermissionsForMemberArea(parseInt(this.referral.Referral.ReceivingMemberArea.MemberAreaId)) || [];
  			let targetMemberAreaId = null;

  			if (userPermsissionsInRecveivingTeam.includes('UpdateReferralStatus')) {
  				targetMemberAreaId = this.referral.Referral.ReceivingMemberArea.MemberAreaId;
  			} else if (userPermsissionsInSendingTeam.includes('UpdateReferralStatus') && !userPermsissionsInRecveivingTeam.includes('UpdateReferralStatus')) {
  				targetMemberAreaId = this.referral.Referral.SendingMemberArea.MemberAreaId;
  			} else {
  				targetMemberAreaId = null;
  			}

  			return targetMemberAreaId || null;
  		},

  		submitReferralComment: function(contentId) {
  			this.CustomErrorMessage = '';
  			if (!this.NewComment.trim()) return this.clearCommentTextArea();
  			this.IsUpdatingReferral = true;

  			AddCommentToFeedItem.callApi(contentId, this.NewComment)
  				.then((response, textStatus, jqxhr) => {
  					/* Return native promise, transform from legacy jQ deferred() by AddCommentToFeedItem callApi*/
  					if (/^2/.test(jqxhr.status)) {
  						this.IsUpdatingReferral = false;
  						(this.referral.Updated.DateAndTime = moment.utc().format()),
  							this.ActiveReferralDetailsComments.Comments.push({
  								Text: this.NewComment,
  								ImageUrlOfCommenter: Vault.getItem('LoggedInUserAvatar'),
  								CommentDate: moment.utc().format(),
  								CommentCreatedBy: {
  									ApplicationUserID: Vault.getItem('ApplicationUserID'),
  									FirstName: Vault.getItem('LoggedInUserFirstName'),
  									LastName: Vault.getItem('LoggedInUserLastName'),
  									IsRequestingUser: true,
  								},
  							});
  						this.NewComment = '';
  						this.clearCommentTextArea();
  					} else {
  						this.NewComment = '';
  						this.clearCommentTextArea();
  						this.IsUpdatingReferral = false;
  					}
  				})
  				.fail(error => {
  					this.NewComment = '';
  					this.clearCommentTextArea();
  					this.IsUpdatingReferral = false;
  					appMain.triggerAppNotification({
  						Heading: 'Error adding update',
  						Text: 'Your update was not added, please try again',
  						Icon: 'error',
  					});
  				});
  		},

  		getReferralStatusName: function(statusId) {
  			switch (parseInt(statusId)) {
  				case 1:
  					return 'pending';
  				case 2:
  					return 'accepted';
  				case 3:
  					return 'declined';
  				case 4:
  					return 'cancelled';
  				default:
  					return '';
  			}
  		},

  		clearCommentTextArea() {
  			if (this.$refs.textarea) {
  				setTimeout(() => {
  					this.NewComment = '';
  					this.$refs.textarea.refreshSize();
  					this.$refs.textarea.resetTouched();
  					return;
  				}, 10);
  			}
  			return (this.NewComment = '');
  		},

  		getReferralClass(id) {
  			switch (id) {
  				case 1:
  					return 'referralStatus referralStatus-pending';
  				case 2:
  					return 'referralStatus referralStatus-accepted';
  				case 3:
  					return 'referralStatus referralStatus-declined';
  				case 4:
  					return 'referralStatus referralStatus-cancelled';
  				default:
  					return 'referralStatus';
  			}
  		},

  		updateReferralStatus: function($event) {
  			var that = this;

  			//Validate the form
  			if (this.StatusUpdate.Status.value === 3 && !this.StatusUpdate.Comment.trim()) return (this.CustomErrorMessage = 'Please enter a reason for declining');

  			this.IsUpdatingReferral = true;
  			this.CustomErrorMessage = '';

  			//Tell parent the update is starting
  			that.$parent.$emit('Referrals.IsUpdatingReferral', {
  				ActiveContentItemId: this.ActiveContentItemId,
  				IsUpdatingReferral: this.IsUpdatingReferral,
  			});

  			//Jan 2017 - API work required to supply a TargetMemberAreaId in API response (David Cleave). Pass active memberarea until then
  			//let targetMemberAreaId = Vault.getSessionItem("ActiveGroupMemberAreaId");
  			let targetMemberAreaId = this.getTargetMemberAreaId(); //API issue, TargetMemberAreaId  not presently returned

  			if (!targetMemberAreaId) return console.error('getTargetMemberAreaId not set');

  			UpdateReferralStatus.callApi(this.referral.ContentItemId, this.StatusUpdate.Comment, targetMemberAreaId, this.StatusUpdate.Status.value)
  				.then((data, textStatus, jqXHR) => {
  					//Process update
  					if (jqXHR.status === 200) {
  						//Update passed prop, not local Data - TODO: EMIT EVENT - REMOVE MUTATION IN CHILD
  						this.referral.Referral.Status.Id = this.StatusUpdate.Status.value;
  						(this.referral.Updated.DateAndTime = moment.utc().format()), (this.referral.Referral.Status.Description = this.getReferralStatusName(this.StatusUpdate.Status.value));
  						this.ActiveReferralDetailsComments.Comments.push({
  							Text: this.StatusUpdate.Comment,
  							ImageUrlOfCommenter: Vault.getItem('LoggedInUserAvatar'),
  							CommentDate: moment.utc().format(),
  							CommentCreatedBy: {
  								ApplicationUserID: Vault.getItem('ApplicationUserID'),
  								FirstName: Vault.getItem('LoggedInUserFirstName'),
  								LastName: Vault.getItem('LoggedInUserLastName'),
  								IsRequestingUser: true,
  							},
  							ReferralStatusDetails: {
  								ReferralStatusId: this.StatusUpdate.Status.value,
  								ReferralStatusName: this.getReferralStatusName(this.StatusUpdate.Status.value).replace(/\b\w/g, function(l) {
  									return l.toUpperCase();
  								}),
  								ReferralStatusDescription: 'Referral ' + this.getReferralStatusName(this.StatusUpdate.Status.value) + ' by ' + appMain.getMemberAreaName(targetMemberAreaId),
  							},
  						});
  						//Clear down
  						this.NewComment = '';
  						this.StatusUpdate.Comment = '';
  						this.StatusUpdate.Status = '';
  						this.IsUpdatingReferral = false;

  						/*Tell parent that referral updated*/
  						//this.$parent.$emit('Referrals.ReferralUpdated', this.referral);

  						//Update options
  						this.referral.Referral.StatusesUserCanApply = data.Data.StatusesUserCanApply;
  					} else {
  						//TODO: handle error
  					}

  					//Tell parent the update is starting
  					that.$parent.$emit('Referrals.IsUpdatingReferral', {
  						ActiveContentItemId: this.ActiveContentItemId,
  						IsUpdatingReferral: this.IsUpdatingReferral,
  					});

  					//Cleanup
  					this.$refs.referralstatusedit.close();
  				})
  				.fail(error => {
  					//Clear down
  					this.IsUpdatingReferral = false;
  					this.NewComment = '';
  					this.StatusUpdate.Comment = '';
  					this.StatusUpdate.Status = '';

  					//Tell parent the update is starting
  					that.$parent.$emit('Referrals.IsUpdatingReferral', {
  						ActiveContentItemId: this.ActiveContentItemId,
  						IsUpdatingReferral: this.IsUpdatingReferral,
  					});
  				});
  		},
  	},

  	events: {},

  	beforeCreate: function() {},

  	created: function() {
  		if (this.isPatientContext) this.IsPatientContextView = true;
  	},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},

  	mounted() {
  		if (this.isPatientContext) {
  			//Setup view scroll height for patient context view
  			var $wrapperEl = $(this.$refs['referral-active-panel-wrapper']);
  			var $scrollableEl = $wrapperEl.find('.js-fullHeight-bodyElement');
  			$scrollableEl.attr('data-full-height-deduct-include', 'js-teamReferrals-filters-wrapper');
  			appMain.setElementsAsFullHeight();
  		}
  	},
  };
</script>


<style></style>
