﻿<template>
  <div ref="referrals-wrapper" class="js-scaffold-block">
    <div data-full-height-deduct="true" class="teamReferrals__filters-wrapper js-teamReferrals-filters-wrapper">

      <div v-if="!patientId" class="filterBlock">
        <ui-select label="" multiple @input="filterSelected(this,true)" placeholder="Referral sent or received" type="basic" class="u-txt-capitalise ui-select--no-border" :disabled="IsLoadingTeamReferrals" :options="Filters.ReferralDirections" v-model="Filters.SelectedDirections"></ui-select>
      </div>

      <div class="filterBlock">
        <ui-select label="" multiple @input="filterSelected(this,true)" placeholder="Referral status" type="basic" class="u-txt-capitalise ui-select--no-border" :disabled="IsLoadingTeamReferrals" :options="Filters.ReferralStatuses" v-model="Filters.SelectedStatuses"></ui-select>
      </div>

      <div class="filterBlock">
        <ui-select label="" multiple placeholder="Consultant" type="basic" class="ui-select--no-border" :disabled="IsLoadingTeamReferrals" :options="getConsultantsFilterData" v-model="Filters.SelectedConsultants"></ui-select>
      </div>

      <div class="filterBlock">

        <ui-select placeholder="Choose a timeframe" type="basic" class="ui-select--no-border" @input="setFiltersTimeFrame" :disabled="IsLoadingTeamReferrals" :options="Filters.ReferralTimeFrames" :value="Filters.SelectedTimeFrameLabel"></ui-select>
      </div>
    </div>

    <div class="pure-g">
      <div class="pure-u-14-24">

        <div ref="referrals-list-table" data-scroll="true" class="js-fullHeight-bodyElement u-relative">

          <!--Loaders-->
          <template v-if="IsLoadingTeamReferrals">
            <div v-for="n in 50" :key="n" class="referrals-table-loading-content">
              <vue-content-loading :width="890" :height="50">
                <rect x="10" y="13" rx="4" ry="4" height="13" width="820"></rect>
                <rect x="10" y="37" rx="4" ry="4" width="765" height="10"></rect>
              </vue-content-loading>
            </div>
          </template>

          <div v-if="!IsLoadingTeamReferrals && getFilteredReferrals.length" class="u-data-table--default">
            <div class="table__head pure-g">
              <div class="pure-u-6-24">Referral</div>
              <div class="pure-u-9-24">Patient</div>
              <div class="pure-u-3-24">Status</div>
              <div class="pure-u-6-24">Last updated</div>
            </div>
            <div class="table__body">

              <div v-for="(row) in getFilteredReferrals" :key="row.ContentItemId" v-on:click="getReferralDetails(row.ContentItemId)" v-bind:class="{'table__row':true, 'pure-g':true, 'active':row.ContentItemId === ActiveReferralId}  ">
                <div class="pure-u-6-24 referral-created-wrapper">
                  <div v-html="getMetaLabel(row.Referral.SendingMemberArea.MemberAreaId, row.Referral)" class="referral-created-meta"></div>
                  <div class="referral-created-date-label">
                    {{row.Created.DateAndTime | formatDate}}</div>
                </div>
                <div class="pure-u-9-24 td__referral-patient">
                  <div class="patient__data-cell">
                    <div class="patient__data">
                      <span class="patient-name">
                        <span class="u-uppercase">{{ row.Patient.PatientFamilyName }}</span>, {{row.Patient.PatientGivenName }}
                        <template v-if="row.Patient.PatientTitle">
                          ({{ row.Patient.PatientTitle }})
                        </template>
                      </span>
                    </div>
                    <div class="patient__data--identifiers">
                      <span class="identifiers__set"><span class="label">Born</span>{{ row.Patient.PatientDateOfBirth }}</span>
                      <span v-if="row.Patient.PatientIdentifiers.PrimaryIdentifier" class="identifiers__set">
                        <span class="label">{{ row.Patient.PatientIdentifiers.PrimaryIdentifier.Label }}</span>{{ row.Patient.PatientIdentifiers.PrimaryIdentifier.Value }}
                      </span>
                    </div><!-- Remove whitespace below - BE CAREFUL WHEN EDITING HERE-->
                    <div class="patient__data" v-if="row.Patient.Clinician">{{ row.Patient.Clinician.FullName }}<template v-if="row.Patient.SiteName || row.Patient.AreaName">, </template></div>
                    <div class="patient__data">
                      <!--TODO: Computed string template literal
                                            --><template v-if="row.Patient.AreaName"> {{ row.Patient.AreaName }} ({{ row.Patient.SiteName }})</template>
                      <!--
                                            --><template v-else> {{ row.Patient.SiteName }}</template>
                      <!--
                                            --><template v-if="row.Patient.Bay">, {{ row.Patient.Bay }}</template>
                      <!--
                                            --><template v-if="row.Patient.Bed && row.Patient.Bay"> - </template>
                      <!--
                                            --><template v-if="row.Patient.Bed">{{row.Patient.Bed }}</template>
                    </div>
                  </div>
                </div>
                <div class="pure-u-3-24"><span :class="getReferralClass(row.Referral.Status.Id)">{{ row.Referral.Status.Description }}</span></div>
                <div class="pure-u-6-24">{{row.Updated.DateAndTime | formatDate}}</div>
              </div>
              <!--End rows-->
              <div class="u-text-center pure-u-1" v-if="getFilteredReferrals.length && !IsLoadingTeamReferrals">
                <template v-if="Filters.SelectedTimeFrameLabel.label === 'Last 24 hours' || Filters.SelectedTimeFrameLabel.label === 'Last 48 hours' || Filters.SelectedTimeFrameLabel.label === 'Last 7 days'">
                  <p>End of filtered results</p>
                  <div><button :disabled="IsLoadingTeamReferrals" type="button" v-on:click.stop.prevent="setFiltersTimeFrame({'label':'Last 30 days','value':Filters.ReferralTimeFrames[3].value })" class="btn--plain">View referrals from the last 30 days</button></div>
                </template>
                <template v-if="Filters.SelectedTimeFrameLabel.label === 'Last 30 days'">
                  <p>End of filtered results</p>
                  <div><button :disabled="IsLoadingTeamReferrals" type="button" v-on:click.stop.prevent="setFiltersTimeFrame({'label':'View all','value':Filters.ReferralTimeFrames[4].value })" class="btn--plain">View referrals older than 30 days</button></div>
                </template>
                <template v-if="Filters.SelectedTimeFrameLabel.label === 'View all'">
                  <p>End of filtered results</p>
                </template>
              </div>
            </div>
          </div>
          <!--End referrals to display, getFilteredReferrals.length-->
          <div class="u-text-center pure-u-1" v-if="!getFilteredReferrals.length && !IsLoadingTeamReferrals">
            <template v-if="Filters.SelectedTimeFrameLabel.label === 'Last 24 hours' || Filters.SelectedTimeFrameLabel.label === 'Last 48 hours' || Filters.SelectedTimeFrameLabel.label === 'Last 7 days'">
              <p>No results</p>
              <div><button :disabled="IsLoadingTeamReferrals" type="button" v-on:click.stop.prevent="setFiltersTimeFrame({'label':'Last 30 days','value':Filters.ReferralTimeFrames[3].value })" class="btn--plain">View referrals from the last 30 days</button></div>
            </template>
            <template v-if="Filters.SelectedTimeFrameLabel.label === 'Last 30 days'">
              <p>No results</p>
              <div><button :disabled="IsLoadingTeamReferrals" type="button" v-on:click.stop.prevent="setFiltersTimeFrame({'label':'View all','value':Filters.ReferralTimeFrames[4].value })" class="btn--plain">View referrals older than 30 days</button></div>
            </template>
            <template v-if="Filters.SelectedTimeFrameLabel.label === 'View all'">
              <p>No results</p>
            </template>
          </div>
        </div>
      </div>

      <div class="pure-u-10-24">
        <!--Loaders-->
        <template v-if="IsLoadingTeamReferrals">
          <div data-scroll="true" class="js-fullHeight-bodyElement u-relative">
            <div v-for="n in 1" :key="n" class="referrals-table-loading-content">
              <vue-content-loading :width="890" :height="500">
                <rect x="10" y="13" rx="4" ry="4" height="85" width="820"></rect>
                <rect x="10" y="115" rx="4" ry="4" width="765" height="28"></rect>
                <rect x="10" y="160" rx="4" ry="4" width="700" height="19"></rect>
                <rect x="10" y="205" rx="4" ry="4" width="745" height="15"></rect>
                <rect x="10" y="240" rx="4" ry="4" width="730" height="15"></rect>
              </vue-content-loading>
            </div>
          </div>
        </template>
        <template v-if="!IsLoadingTeamReferrals && ActiveReferralDetails">
          <div :key="RebuildUiComponentKey" data-scroll="true" class="js-fullHeight-bodyElement u-relative">
            <active-referral-panel :networkId="networkId" :referral="ActiveReferralDetails" :member-area-id="MemberAreaId" :is-patient-context="!!patientId"></active-referral-panel>
          </div>
        </template>
      </div>
    </div>
  </div>
  <!--End root el}}-->
</template>

<script>
  /* Utils */ /*TODO:USE node fs to resolve paths*/
  import Vault from '../../../endPoints/careflowApp/Vault';
  import GetHandlebarsTemplate from '../../../endPoints/careflowApp/GetHandlebarsTemplate';
  //import Drop from 'tether-drop';

  /* API Endpoints */
  import GetCommentsForFeedItems from '../../../endPoints/homeFeed/GetCommentsForFeedItems';
  import AddCommentToFeedItem from '../../../endPoints/homeFeed/AddCommentToFeedItem';
  import UpdateReferralStatus from '../../../endPoints/referral/UpdateReferralStatus';
  import GetReferralList from '../../../endPoints/referral/GetReferralList';
  import GetNetworkReferralList from '../../../endPoints/referral/GetNetworkReferralList';

  /*Components*/
  import ActiveReferralPanel from '../referrals/TeamPatientReferralActivePanel';

  import { VueContentLoading } from 'vue-content-loading';

  export default {
  	data: function() {
  		return {
  			IsFirstLoad: true,
  			TeamReferrals: [], //Referral data from api
  			MemberAreaId: null,
  			MemberAreaName: null,
  			NetworkId: null,
  			PatientId: null,
  			DefaultContentItemId: this.defaultContentItemId, //If a referral to display is passed (E.g. patient dashboard)
  			ViewType: null,
  			Filters: {
  				ReferralStatuses: ['pending', 'accepted', 'declined', 'cancelled'],
  				ReferralDirections: ['sent', 'received'],
  				ReferralConsultants: [],
  				ReferralTimeFrames: [
  					{
  						label: 'Last 24 hours',
  						value: moment().subtract(1, 'days'),
  					},
  					{
  						label: 'Last 48 hours',
  						value: moment().subtract(2, 'days'),
  					},
  					{
  						label: 'Last 7 days',
  						value: moment().subtract(7, 'days'),
  					},
  					{
  						label: 'Last 30 days',
  						value: moment().subtract(30, 'days'),
  					},
  					{
  						label: 'View all',
  						value: null,
  					},
  				],
  				SelectedStatuses: [], //Default to none selected
  				SelectedDirections: [], //Default to none selected
  				SelectedConsultants: [],
  				SelectedTimeFrame: moment().subtract(30, 'days'), //Default to 30 days
  				SelectedTimeFrameLabel: {
  					//Default
  					label: 'Last 30 days',
  					value: moment().subtract(30, 'days'),
  				},
  			},
  			IsLoadingTeamReferrals: true,
  			IsLoadingActiveReferral: false,
  			ActiveReferralId: null,
  			ActiveReferralDetails: null,
  			ActiveReferralIsUpdating: false, //Status changing etc. in active panel
  			RebuildUiComponentKey: Date.now(), //Changing this prop will force any component with the :key="RebuildUiComponentKey" to re-render
  		};
  	},
  	components: { ActiveReferralPanel, VueContentLoading },
  	props: ['memberAreaId', 'networkId', 'patientId', 'defaultContentItemId'], //Pass patientId to determine a patient specific context, so not team,  (so only return patientId referrals, not team)
  	filters: {
  		formatDate: function(date) {
  			if (!date) return '';
  			return appMain.formatDate(date);
  		},
  		getTeamURL: function(id) {
  			if (!id) return '';
  			return '/#/' + Vault.getSessionItem('ActiveNetworkId') + '/Teams/' + id + '';
  		},
  	},

  	computed: {
  		getConsultantsFilterData() {
  			let cliniciansArray = [];

  			this.TeamReferrals.forEach(function(item) {
  				if (item.Patient.Clinician && cliniciansArray.indexOf(item.Patient.Clinician.FullName) === -1) {
  					cliniciansArray.push(item.Patient.Clinician.FullName);
  				}
  			});

  			return cliniciansArray;
  			//const mappedData = this.TeamReferrals.map(function (obj) {

  			//    if (obj.Patient.Clinician) {
  			//        var rObj = {};
  			//        rObj["Clinician"] = obj.Patient.Clinician.FullName;
  			//        return rObj;
  			//    }

  			//});
  		},

  		getFilteredReferrals() {
  			if (!this.TeamReferrals || !this.TeamReferrals.length) return [];
  			var that = this;

  			let returnData = _.chain(this.TeamReferrals)
  				.filter(function(referral) {
  					if (that.ViewType === 'patientNetworkReferrals') return referral; //Direction not applicable at network level

  					//If no direction selected, return all
  					if (!that.Filters.SelectedDirections.length) return referral;

  					if (that.Filters.SelectedDirections.indexOf('received') !== -1) {
  						if (referral.Referral.ReceivingMemberArea.MemberAreaId === that.MemberAreaId) {
  							return referral;
  						}
  					}
  					if (that.Filters.SelectedDirections.indexOf('sent') !== -1) {
  						if (referral.Referral.SendingMemberArea.MemberAreaId === that.MemberAreaId) {
  							return referral;
  						}
  					}
  				})
  				.filter(function(referral) {
  					//Match against selected status
  					if (!that.Filters.SelectedStatuses.length) return referral; //None selected in UI
  					if (that.Filters.SelectedStatuses.indexOf(referral.Referral.Status.Description.toLowerCase()) !== -1) {
  						return referral;
  					}
  				})
  				.filter(function(referral) {
  					//Filter for consultant
  					if (!that.Filters.SelectedConsultants.length) return referral;
  					if (referral.Patient.Clinician && that.Filters.SelectedConsultants.indexOf(referral.Patient.Clinician.FullName) !== -1) {
  						return referral;
  					}
  				})
  				.value(); //No data returned until this call

  			return _.sortBy(returnData, function(o) {
  				return o.Updated.DateAndTime;
  			}).reverse(); //Desc
  		},
  	},

  	watch: {
  		getFilteredReferrals(newVal, oldVal) {
  			if (!newVal || !newVal.length) {
  				this.ActiveReferralDetails = null;
  				this.ActiveReferralId = null;
  				return;
  			}

  			//Preload top referral on initial load of view
  			if (this.IsFirstLoad && newVal && newVal.length) {
  				if (this.DefaultContentItemId) {
  					//Activate passed item ID
  					this.getReferralDetails(this.DefaultContentItemId);
  					this.IsFirstLoad = false;
  				} else {
  					this.getReferralDetails(newVal[0].ContentItemId); //Take first item Will trigger watcher
  					this.IsFirstLoad = false;
  				}
  			} else {
  				if (newVal && newVal.length) {
  					var foundIndex = newVal.findIndex(x => x.ContentItemId == this.ActiveReferralId); //This assumes unique IDs. If IDs are duplicated, it's probably better if you use forEach
  					if (foundIndex === -1) this.getReferralDetails(newVal[0].ContentItemId); //Will trigger watcher. ONLY if the edited task is not in new filter load the top task

  					//Push results to top
  					this.$refs['referrals-list-table'].scrollTop = 0;
  				} else {
  					//No data, clear
  					this.ActiveReferralId = null;
  					this.ActiveReferralDetails = null;
  				}
  			}
  		},
  	},

  	methods: {
  		getViewType() {
  			return new Promise((resolve, reject) => {
  				let viewType; //memberAreaId, networkId, patientId. Check against props
  				if (!this.memberAreaId && this.networkId && this.patientId) {
  					viewType = 'patientNetworkReferrals';
  				}
  				if (this.networkId && this.memberAreaId && this.patientId) {
  					viewType = 'patientNetworkReferrals';
  				}
  				if (this.networkId && this.memberAreaId && !this.patientId) {
  					viewType = 'teamReferrals';
  				}

  				if (viewType) {
  					this.ViewType = viewType;
  					resolve(viewType);
  				} else {
  					this.ViewType = null;
  					reject();
  				}
  			});
  		},

  		filterSelected(el, doNotResetFilters) {
  			//A change to the list filters, calling for a hard resresh (clinical safety). UI components pass selected 'el' data as array (label, val)
  			if (!doNotResetFilters) {
  				//clear filters for clinician and type (the filters handled client side), others post data
  				//this.Filters.SelectedConsultants = [];
  				//this.Filters.SelectedTaskTypes = [];
  			}
  			if (!this.IsLoadingTeamReferrals) return this.getReferralData().then(response => {}); //Need to call API...until websockets for clinical safety, pull data
  			return;
  		},

  		getReferralData() {
  			if (!this.ViewType) return console.error('No viewType set');
  			//Call appropriate API

  			this.TeamReferrals = []; //Reset data - Vue will not observe a length set
  			if (this.ViewType === 'patientNetworkReferrals') return this.getAllNetworkReferralsFromApi();
  			return this.getAllTeamReferralsFromApi();
  		},

  		getAllTeamReferralsFromApi() {
  			return new Promise((resolve, reject) => {
  				//appMain.stopApiRequests(); //Stop other requests
  				let skip = 0; //default
  				let take = 50; //default
  				let accessGroupId = appMain.getAccessGroupExternalIdentifier(this.memberAreaId, false); //Get team access group id
  				this.ActiveReferralDetails = null; //Clear active on filter
  				this.ActiveReferralId = null;
  				this.IsLoadingTeamReferrals = true;
  				let stagingData = []; //For skip/take data. Only push to observed on complete, so watchers are not triggered each skip

  				let callApi = () => {
  					let params = {
  						Filters: {
  							Status: null,
  							Created: {
  								From: null,
  								To: null,
  							},
  							Updated: {
  								From: this.Filters.SelectedTimeFrame,
  								To: moment().add(5, 'minutes'), //Add 5 mins as an arbitary value from now, overcome API / server sync issues
  							},
  							ReferralDirection: 'Both',
  							PatientExternalIdentifiers: this.patientId ? [this.patientId] : [],
  						},
  						//Include: [],
  						Pagination: {
  							Skip: skip,
  							Take: take,
  						},
  						Sorting: [
  							{
  								Field: 'DateUpdated',
  								Order: 'Descending',
  							},
  						],
  					};

  					GetReferralList.callApi(accessGroupId, params)
  						.then(response => {
  							stagingData.push.apply(stagingData, response.Data); //Push array into array

  							if (response.Metadata.Pagination.ThereAreMore) {
  								skip += take;
  								return callApi();
  							} else {
  								this.TeamReferrals.push.apply(this.TeamReferrals, stagingData); //Merge the staging data
  								stagingData.length = 0;
  								this.IsLoadingTeamReferrals = false;
  								resolve(true);
  							}
  						})
  						.fail(() => {
  							reject(false);
  						});
  				};

  				callApi(); //Init
  			});
  		},

  		getAllNetworkReferralsFromApi() {
  			//Get a patients referrals in a network

  			if (!this.patientId) return reject('no patient ID');

  			return new Promise((resolve, reject) => {
  				//appMain.stopApiRequests(); //Stop other requests
  				let patientId = this.patientId;
  				let skip = 0; //default
  				let take = 50; //default
  				let accessGroupId = appMain.getAccessGroupExternalIdentifier(this.networkId, true); //Get network access group id
  				this.ActiveReferralDetails = null; //Clear active on filter
  				this.ActiveReferralId = null;
  				this.IsLoadingTeamReferrals = true;
  				let stagingData = []; //For skip/take data. Only push to observed on complete, so watchers are not triggered each skip

  				let callApi = () => {
  					let params = {
  						Filters: {
  							Status: null,
  							Created: {
  								From: null,
  								To: null,
  							},
  							Updated: {
  								From: this.Filters.SelectedTimeFrame,
  								To: moment().add(5, 'minutes'), //Add 5 mins as an arbitary value from now, overcome API / server sync issues
  							},
  						},
  						Include: [],
  						Pagination: {
  							Skip: skip,
  							Take: take,
  						},
  						Sorting: [
  							{
  								Field: 'DateUpdated',
  								Order: 'Descending',
  							},
  						],
  					};

  					GetNetworkReferralList.callApi(accessGroupId, patientId, params)
  						.then(response => {
  							stagingData.push.apply(stagingData, response.Data); //Push array into array

  							if (response.Metadata.Pagination.ThereAreMore) {
  								skip += take;
  								callApi();
  							} else {
  								this.TeamReferrals.push.apply(this.TeamReferrals, stagingData); //Merge the staging data
  								stagingData.length = 0;
  								this.IsLoadingTeamReferrals = false;
  								resolve(true);
  							}
  						})
  						.fail(function() {
  							reject(false);
  						});
  				};

  				callApi(); //Init
  			});
  		},

  		getReferralDetails(contentId) {
  			if (!contentId || this.IsLoadingActiveReferral || this.ActiveReferralIsUpdating || contentId === this.ActiveReferralId) return;

  			this.IsLoadingActiveReferral = true; //Set 'false'; via event
  			this.ActiveReferralDetails = null;
  			this.ActiveReferralId = null;

  			let selectedReferral = _.filter(this.TeamReferrals, referral => {
  				return referral.ContentItemId === contentId;
  			})[0];

  			if (selectedReferral) {
  				this.ActiveReferralId = selectedReferral.ContentItemId;
  				this.ActiveReferralDetails = selectedReferral;
  			}
  			return;
  		},

  		getReferralStatusName: function(statusId) {
  			switch (parseInt(statusId)) {
  				case 1:
  					return 'Pending';
  				case 2:
  					return 'Accepted';
  				case 3:
  					return 'Declined';
  				case 4:
  					return 'Cancelled';
  				default:
  					return '';
  			}
  		},

  		getReferralClass(id) {
  			switch (id) {
  				case 1:
  					return 'referralStatus referralStatus-pending';
  				case 2:
  					return 'referralStatus referralStatus-accepted';
  				case 3:
  					return 'referralStatus referralStatus-declined';
  				case 4:
  					return 'referralStatus referralStatus-cancelled';
  				default:
  					return 'referralStatus';
  			}
  		},

  		setFiltersTimeFrame(val, justSetValues) {
  			if (!val) return;

  			val = JSON.parse(JSON.stringify(val));

  			this.Filters.SelectedTimeFrame = val.value;

  			//Set the model
  			this.Filters.SelectedTimeFrameLabel.value = val.value;

  			this.Filters.SelectedTimeFrameLabel.label = val.label;

  			if (justSetValues) return;

  			if (!justSetValues) {
  				this.IsFirstLoad = true; //Fresh reload, ensure first task will be selected
  				this.getReferralData(); //Need to call API...
  			}
  		},

  		getMetaLabel(sendingTeamId, referral) {
  			if (this.MemberAreaId && sendingTeamId === this.MemberAreaId) return `<span class="label">To</span><span class="u-block">${referral.ReceivingMemberArea.Name}</span>`;
  			return `<span class="label">From</span><span class="u-block">${referral.SendingMemberArea.Name}</span>`;
  		},
  	},

  	events: {},

  	beforeCreate: function() {},

  	created: function() {
  		//Events (from components) https://laracasts.com/discuss/channels/vue/emit-event-to-parent-component
  		this.$on('Referrals.ActiveReferralDetailsCommentsLoaded', obj => {
  			//if (obj.ActiveContentItemId === this.ActiveReferralId) return this.IsLoadingActiveReferral = false;
  			return (this.IsLoadingActiveReferral = false);
  		});

  		this.$on('Referrals.IsUpdatingReferral', obj => {
  			//Child referral updating (active panel)
  			if (obj.ActiveContentItemId === this.ActiveReferralId) return (this.ActiveReferralIsUpdating = obj.IsUpdatingReferral);
  		});

  		VueEventBus.$on('StartPatientReferral.ReferralSent', obj => {
  			//Vue modal
  			this.getReferralData()
  				.then(response => {})
  				.catch(function(error) {});
  		});
  	},
  	mounted() {
  		this.MemberAreaId = this.memberAreaId;
  		(this.MemberAreaName = appMain.getMemberAreaName(this.memberAreaId)), (this.NetworkId = this.networkId);

  		if (this.patientId) this.PatientId = this.patientId; //Is a patient passed?

  		//Setup view scroll height for patient context view page - only affects patient view
  		if (this.patientId) {
  			let referralsTable = this.$refs['referrals-list-table']; //Dom el
  			let $referralsTable = $(referralsTable);
  			$referralsTable.attr('data-full-height-deduct-exclude', 'js-teamPatientView-head-section');
  			appMain.setElementsAsFullHeight();
  		}

  		//Initial setup
  		this.getViewType().then(response => {
  			if (this.defaultContentItemId) this.setFiltersTimeFrame({ label: 'View all', value: this.Filters.ReferralTimeFrames[4].value }, true); //As a value has been passed, load all tasks to be sure to catch it
  			//Call Api on init
  			this.getReferralData()
  				.then(response => {})
  				.catch(function(error) {
  					//TODO
  				});
  		});
  	},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},
  	beforeDestroy: function() {
  		this.$off('Referrals.ActiveReferralDetailsCommentsLoaded');
  		this.$off('Referrals.IsUpdatingReferral');
  		VueEventBus.$off('StartPatientReferral.ReferralSent');
  	},
  };
</script>

<style scoped lang="less">
  @import '../../../../less/app-variables.less';
  & .referral-created-wrapper {
  	display: flex;
  	flex-direction: column;
  	& .referral-created-meta {
  		display: flex;
  		flex-wrap: wrap;
  		word-wrap: break-word;
  		word-break: break-word;
  		width: 100%;
  	}
  }
  & .referral-created-date-label {
  	color: @text-light;
  	margin: 0.5em 0 0 0;
  }
</style>

<custom1>
    Patient referrals at team and network level.
</custom1>
