﻿<template>

  <div :class="{'alert-item':true, widgetType: true}">
    <div :ref="getTrigger(alert)" class="item-title">

      <div class="item-row">
        <span class="row__title">
          <span class="alert-colour" :style="{ 'background': alert.alertItemColour }"></span> {{alert.type.description}}
        </span>
        <span class="row__date">{{alert.applied | formatDate}}</span>
      </div>
      <div class="alert-reason-popout">
        <ui-popover v-cloak class="custom-popover" openOn="hover" dropdownPosition="left bottom" :trigger="getTrigger(alert)">
          <div v-if="alert.reason.description">Reason: {{alert.reason.description}}</div>
          <div v-if="alert.alertComments">Comment: {{alert.alertComments}}</div>
          <div v-if="alert.applyingHcpName">Applied by: {{alert.applyingHcpName}}</div>
        </ui-popover>
      </div>
    </div>

  </div>
</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  /* API Endpoints */

  export default {
  	data() {
  		return {
  			IsLoading: false,
  		};
  	},
  	props: {
  		alert: {
  			type: Object,
  			required: true,
  		},
  		widgetType: {
  			required: true,
  			type: [Number, String],
  			default: 1,
  		},
  	},
  	mixins: [DateFilter],
  	methods: {
  		getTrigger(alert) {
  			return 'trigger' + alert.alertId;
  		},
  	},
  	created() {},
  };
</script>

<style scoped lang="less">
  @import '../../../../../less/app-variables.less';

  .alert-item {
  	margin-bottom: 0.6em;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	align-items: center;
  	box-sizing: border-box;
  	padding: 0 0.5em;
  	:last-of-type {
  		margin-bottom: 0;
  	}
  }

  .item-title {
  	display: flex;
  	width: 100%;
  }

  .alert-colour {
  	width: 7px;
  	height: 7px;
  	display: flex;
  	margin: 0 0.3em 0 0;
  	align-self: center;
  }

  .item-row {
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;

  	& .row__title {
  		@text-wrap-container();
  		font-weight: @font--normal;
  		display: flex;
  		flex-grow: inherit;
  		padding: 0;
  		margin: 0 0.7em 0 0;
  		box-sizing: border-box;
  		&:hover {
  			//cursor: pointer;
  		}
  	}

  	& .row__date {
  		color: @text-light;
  		font-size: 0.9em;
  		display: flex;
  		font-weight: @font--normal;
  	}
  }
  .custom-popover {
  	max-width: 400px;
  	& div {
  		margin: 0 0 0.4em 0;
  	}
  }

  &.widget-2 {
  	& .item-date {
  		font-size: 0.9em;
  		margin-left: 0;
  	}
  }
</style>

<custom>Component notes</custom>
