<template v-cloak>
	<div :class="{'allergy-item':true}">
		<div v-html="getAllergyDisplayLine" :ref="getTrigger(allergy)" class="item-title"></div>
		<div class="item-date">{{allergy.applied | formatDate}}</div>
		<div class="allergy-reason-popout">
			<ui-popover v-cloak class="custom-popover" openOn="hover" dropdownPosition="left bottom" :trigger="getTrigger(allergy)">
				<div v-if="allergy.reason.description">Reason: {{allergy.reason.description}}</div>
				<div v-if="allergy.allergyComments">Comment: {{allergy.allergyComments}}</div>
				<div v-if="allergy.applyingHcpName">Applied by: {{allergy.applyingHcpName}}</div>
			</ui-popover>
		</div>
	</div>
</template>

<script>
/*Mixins*/
import DateFilter from 'VueMixins/dateFilter';
/* API Endpoints */

export default {
	data() {
		return {
			IsLoading: false,
			IsDrugAllergy: this.allergy.type.id === '4c7efbb1-c475-4641-a89b-eba8ab176d33' || false,
			IsNonDrugAllergy: this.allergy.type.id === '8e4c3011-da2c-4734-b279-d9f0e39f2b7c' || false,
			IsPlantAllergy: this.allergy.type.id === '1141cf7f-fb89-e511-bfdc-7446a03c6939' || false,
			IsSedativeAllergy: this.allergy.type.id === '11c82b87-9bff-e411-a34b-7446a03c6939' || false
		};
	},
	props: {
		allergy: {
			type: Object,
			required: true
		},
		widgetType: {
			required: true,
			type: [Number, String],
			default: 1
		}
	},
	mixins: [DateFilter],
	computed: {
		getAllergyDisplayLine() {
			let hasDrugName = this.allergy.hasOwnProperty('drugName');
			let hasAllergenName = this.allergy.hasOwnProperty('allergenName');
			let hasReaction = this.allergy.hasOwnProperty('reaction');

			if (this.IsNonDrugAllergy) return `${this.allergy.type.description}: ${this.allergy.allergenName} - ${this.allergy.reaction.description}`;
			if (this.IsDrugAllergy) return `${this.allergy.type.description}: ${this.allergy.drugName} - ${this.allergy.reaction.description}`;
			if (this.IsPlantAllergy) return `${this.allergy.type.description}`;
			if (this.IsSedativeAllergy) return `${this.allergy.type.description}`;

			if (hasDrugName && hasReaction) return `${this.allergy.type.description}: ${this.allergy.drugName} - ${this.allergy.reaction.description}`;
			if (hasAllergenName && hasReaction) return `${this.allergy.type.description}: ${this.allergy.allergenName} - ${this.allergy.reaction.description}`;
			return `${this.allergy.type.description}`;
		}
	},
	methods: {
		getTrigger(allergy) {
			return 'trigger' + allergy.alertId;
		}
	},
	created() {}
};
</script>

<style scoped lang="less">
@import '../../../../../less/app-variables.less';

.allergy-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.6em;
}

.item-title {
	&:hover {
		//cursor: pointer;
	}
}

.item-date {
	font-size: 0.9em;
	color: @text-light;
}

.custom-popover {
	max-width: 400px;
}
</style>

<custom>Component notes</custom>
