﻿<template v-cloak>
  <div v-cloak v-if="WidgetType === 1" :style="{ 'border-top-color': getTopAlertColour }" class="medway-alerts-widget-wrapper widget-1">
    <template v-if="IsLoading">
      <div class="view-block__title">Medway Alerts</div>
      <ui-progress-circular color="primary"></ui-progress-circular>
    </template>
    <template v-else>
      <div :style="{ 'border-bottom-color': getTopAlertColour }" class="view-block__title widget-title">Medway Alerts <template v-if="PatientMedwayAlerts.length > 5">(Latest 5)</template></div>

      <div :style="{ 'background': getAlertBodyBg(getTopAlertColour)}" class="alert-items-body pure-u-1" v-if="getLatestFiveAlerts.length">
        <alert-widget-row v-for="(alert) in getLatestFiveAlerts" :alert="alert" :widget-type="widgetType" :key="alert.alertId"></alert-widget-row>
        <div class="alerts-see-all" v-if="PatientMedwayAlerts.length >= 1">
          <button class="btn--plain" v-on:click="openModal('alerts-modal')"> View all {{PatientMedwayAlerts.length}} Medway alerts</button>
        </div>
        <ui-modal @close="modalClosed" ref="alerts-modal" title="Medway alerts">
          <alerts-modal v-if="RebuildUiComponentKey" :patient="patient" :patient-id="patientId" :key="RebuildUiComponentKey" size="normal"></alerts-modal>
        </ui-modal>
      </div>
      <div v-else>
        <div class="no-data-label" v-if="AlertsUnavailable">Medway alerts unavailable.</div>
        <div class="no-data-label" v-else>Medway alerts not recorded.</div>
      </div>
    </template>
  </div>
  <div v-cloak class="medway-alerts-widget-wrapper widget-2" v-else>
    <!--patient banner-->
    <div class="alert-items-body pure-u-1" v-if="getLatestFiveAlerts.length">
      <alert-widget-row v-for="(alert) in getLatestFiveAlerts" :alert="alert" :widget-type="widgetType" :key="alert.alertId"></alert-widget-row>
      <div class="alerts-see-all" v-if="PatientMedwayAlerts.length >= 1">
        <button class="btn--plain" v-on:click="openModal('alerts-modal')"> View all {{PatientMedwayAlerts.length}} Medway alerts</button>
      </div>
      <ui-modal @close="modalClosed" ref="alerts-modal" title="Medway alerts">
        <alerts-modal v-if="RebuildUiComponentKey" :patient="patient" :patient-id="patientId" :key="RebuildUiComponentKey" size="normal"></alerts-modal>
      </ui-modal>
    </div>
    <div v-else>
      <div class="no-data-label" v-if="AlertsUnavailable">Medway alerts unavailable.</div>
      <div class="no-data-label" v-else>Medway alerts not recorded.</div>
    </div>
  </div>

</template>

<script>
  /* Utils */ /*TODO:USE node fs to resolve paths*/
  import Vault from 'Endpoints/careflowApp/Vault';
  import GetHandlebarsTemplate from 'Endpoints/careflowApp/GetHandlebarsTemplate';
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import GetPatientHospitalNumber from 'VueMixins/getPatientHospitalNumber';
  /* API Endpoints */
  import * as GetPatientAlertsService from 'Endpoints/medwayServices/patientAlertsService/GetPatientAlertsService';
  import * as GetMedwayGuid from 'Endpoints/medwayServices/patientServiceAPI/GetPatientMedwayGuid';
  /*Components*/
  import AlertWidgetRow from 'VueComponents/medwayIntegrations/patientAlertService/AlertWidgetRow';
  import { VueContentLoading } from 'vue-content-loading';
  import AlertsModal from 'VueComponents/medwayIntegrations/patientAlertService/PatientAlertsFullList';

  export default {
  	data: function() {
  		return {
  			IsLoading: false,
  			PatientMedwayAlerts: [],
  			WidgetType: parseInt(this.widgetType, 10),
  			RebuildUiComponentKey: null,
  			PatientHospitalNumber: this.getPatientHospitalNumberFromIdentifiers(this.patient.PatientIdentifiers) || null,
  			PatientMedwayGuid: null,
  			AlertsUnavailable: false,
  		};
  	},
  	mixins: [DateFilter, GetPatientHospitalNumber],
  	components: { VueContentLoading, AlertWidgetRow, AlertsModal },
  	props: {
  		alerts: {
  			required: false,
  			type: [Array],
  		},
  		patientId: {
  			required: true,
  			type: [Number, String],
  		},
  		patient: {
  			required: true,
  			type: [Array, Object],
  		},
  		widgetType: {
  			required: true,
  			type: [Number, String],
  			default: 1, //1 = summary, 2 = banner
  		},
  	},
  	filters: {},

  	computed: {
  		getLatestFiveAlerts() {
  			if (!this.PatientMedwayAlerts) return [];
  			if (this.PatientMedwayAlerts.length > 4) return this.PatientMedwayAlerts.slice(0, 5);
  			return this.PatientMedwayAlerts;
  		},

  		getTopAlertColour() {
  			if (this.PatientMedwayAlerts.length && this.PatientMedwayAlerts[0].patientAlertColour) return this.PatientMedwayAlerts[0].patientAlertColour;
  			return '';
  		},
  	},

  	watch: {},

  	methods: {
  		getPatientMedwayGuid() {
  			return new Promise((resolve, reject) => {
  				if (this.patientMedwayGuid) return resolve(this.patientMedwayGuid);
  				GetMedwayGuid.getPatientMedwayGuid(this.patientId, this.patient, this.PatientHospitalNumber)
  					.then(response => {
  						if (!response) return reject();
  						this.PatientMedwayGuid = response.patientId;
  						return resolve(this.PatientMedwayGuid);
  					})
  					.catch(error => {
  						reject();
  					});
  			});
  		},

  		getPatientMedwayAlerts() {
  			//Medway Alerts
  			//serviceType, medwayPatientId, pageSize = 100, pageIndex = 0

  			this.IsLoading = true;

  			return new Promise((resolve, reject) => {
  				let stagingResultsData = [];
  				let pageIndex = 0;
  				let pageSize = 100;

  				let callApi = () => {
  					return GetPatientAlertsService.callApi('Alerts', this.PatientMedwayGuid, pageSize, pageIndex)
  						.then(response => {
  							stagingResultsData.push.apply(stagingResultsData, response.data.results);

  							if (response.data.totalPages > response.data.pageIndex) {
  								//There are more
  								pageIndex += 1;
  								return callApi();
  							}

  							this.PatientMedwayAlerts = stagingResultsData.sort((a, b) => {
  								return new Date(b.applied) - new Date(a.applied);
  							}); // Turn your strings into dates, and then subtract them;

  							this.IsLoading = false;
  							stagingResultsData = [];
  							return resolve();
  						})
  						.catch(error => {
  							this.PatientMedwayAlerts = [];
  							this.IsLoading = false;
  							this.AlertsUnavailable = true;
  							return reject();
  						});
  				};

  				callApi();
  			});
  		},

  		getAlertBodyBg(colour) {
  			if (!colour) return;
  			return convertHex(colour, '05');

  			function convertHex(hex, opacity) {
  				opacity = parseInt(opacity, 10);
  				hex = hex.replace('#', '');
  				let r = parseInt(hex.substring(0, 2), 16);
  				let g = parseInt(hex.substring(2, 4), 16);
  				let b = parseInt(hex.substring(4, 6), 16);

  				let result = 'rgba(' + r + ',' + g + ',' + b + ',' + opacity / 100 + ')';
  				return result;
  			}
  		},
  		openModal(ref) {
  			this.RebuildUiComponentKey = Date.now(); //Force modal component to rebuildand instansiate
  			this.$refs[ref].open();
  		},
  		modalClosed() {
  			this.RebuildUiComponentKey = null;
  		},
  	},

  	events: {},

  	beforeCreate: function() {},

  	created: function() {
  		//Init
  		if (!this.alerts) {
  			this.IsLoading = true;
  			return this.getPatientMedwayGuid()
  				.then(this.getPatientMedwayAlerts)
  				.then(() => {
  					this.IsLoading = false;
  				})
  				.catch(error => {
  					this.PatientMedwayAlerts = [];
  					this.IsLoading = false;
  					this.AlertsUnavailable = true;
  					this.IsLoading = false;
  					this.ApiError = true;
  				});
  		} else {
  			this.PatientMedwayAlerts = this.alerts;
  		}
  	},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},

  	mounted() {},
  };
</script>

<style scoped lang="less">
  .medway-alerts-widget-wrapper {
  	&.widget-1 {
  		border-top: 3px;
  		margin: 1em 1em 1em 0;
  		padding: 0 0 1em 1em;
  		box-sizing: border-box;
  		& .no-data-label {
  			margin: 0.9em 0 0 0;
  		}
  	}

  	&.widget-2 {
  		padding: 0;
  		display: flex;
  		height: 100%;
  		& .alert-items-body {
  			padding: 0;
  			padding-top: 0;
  			margin: 0;
  			height: 100%;
  			display: flex;
  			flex-direction: column;

  			& .alert-item {
  				padding-left: 0;
  				padding-right: 0;
  				flex-direction: column;
  				align-items: flex-start;
  				& .item-date {
  					font-size: 0.9em;
  				}
  			}
  		}
  	}
  	& .view-block__title.widget-title {
  		margin-bottom: 0;
  	}
  }

  .no-data-label {
  	//margin-top: 0.9em;
  }

  .alert-items-body {
  	padding-top: 0.9em;
  	display: flex;
  	flex-direction: column;
  }

  .alerts-see-all {
  	margin: 1em 0 1em 0;
  	display: flex;
  	justify-content: flex-end;
  	padding: 0 1em 0 0;
  	box-sizing: border-box;
  	margin-top: auto;
  }
</style>
<notes></notes>
