<template v-cloak>
  <div v-cloak v-if="WidgetType === 1" :class="{'medway-allergies-widget-wrapper': true, widgetType: true}">
    <div class="allergies-items-body" v-if="getLatestFiveAllergies.length">
      <allergies-widget-row v-for="(allergy) in getLatestFiveAllergies" :allergy="allergy" :widget-type="widgetType" :key="allergy.allergyId"></allergies-widget-row>
      <div class="allergies-see-all" v-if="allergies.length >= 1 ">
        <button class="btn--plain" v-on:click="openModal('allergies-modal')"> View all {{allergies.length}} Medway allergies</button>
      </div>
      <ui-modal @close="modalClosed" ref="allergies-modal" size="normal" :title="'Medway allergies'">
        <allergies-modal v-if="RebuildUiComponentKey" :patient="patient" :patient-id="patientId" :key="RebuildUiComponentKey" size="large"></allergies-modal>
      </ui-modal>
    </div>
    <div v-else>
      <div class="pure-u-1">Medway allergies not recorded.</div>
    </div>
  </div>
</template>

<script>
  import Vault from 'Endpoints/careflowApp/Vault';
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  /* API Endpoints */
  /*Components*/
  import AllergiesWidgetRow from 'VueComponents/medwayIntegrations/patientAlertService/AllergiesWidgetRow';
  import AllergiesModal from 'VueComponents/medwayIntegrations/patientAlertService/PatientAllergiesFullList';
  import { VueContentLoading } from 'vue-content-loading';

  export default {
  	data: function() {
  		return {
  			IsLoading: false,
  			WidgetType: parseInt(this.widgetType, 10),
  			RebuildUiComponentKey: null,
  		};
  	},
  	mixins: [DateFilter],
  	components: { VueContentLoading, AllergiesWidgetRow, AllergiesModal },
  	props: {
  		allergies: {
  			required: true, //Widget requires allergies passed as prop
  			type: [Object, Array],
  		},
  		patientId: {
  			required: true,
  			type: [Number, String],
  		},
  		patient: {
  			required: true,
  			type: [Array, Object],
  		},
  		widgetType: {
  			required: true,
  			type: [Number, String],
  			default: 1,
  		},
  	},
  	filters: {},

  	computed: {
  		getLatestFiveAllergies() {
  			if (!this.allergies) return [];

  			if (this.allergies.length > 4) return this.allergies.slice(0, 5); //begin to end (end not included)
  			return this.allergies;
  		},
  	},

  	watch: {},

  	methods: {
  		openModal(ref) {
  			this.RebuildUiComponentKey = Date.now(); //Force modal component to rebuild and instansiate first time
  			this.$refs[ref].open();
  		},
  		modalClosed() {
  			this.RebuildUiComponentKey = null;
  		},
  	},

  	events: {},

  	beforeCreate: function() {},

  	created: function() {},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},

  	mounted() {},
  };
</script>

<style scoped lang="less">
  .medway-allergies-widget-wrapper {
  	display: flex;
  	height: 100%;
  }

  .allergies-items-body {
  	display: flex;
  	flex-basis: 100%;
  	width: 100%;
  	flex-direction: column;

  	height: 100%;
  }

  .allergies-see-all {
  	margin: 1em 0 1em 0;
  	display: flex;
  	justify-content: flex-end;
  	padding: 0 1em 0 0;
  	box-sizing: border-box;
  	margin-top: auto;
  }
</style>
<notes>Medway allergies widget, used ONLY within the full patient banner component. Create a new component if needed elsewhere or expand to include widgetType prop.</notes>
