<template>
  <div class="medway-allergies-wrapper">
    <ui-progress-circular color="primary" v-if="IsLoading"></ui-progress-circular>
    <template v-if="!IsLoading">
      <div class="allergies-items-body" v-if="getAllergiesComputed.length">
        <div class="allergies-list u-data-table--default">
          <div class="table__head pure-g">
            <div class="pure-u-5-24">Summary</div>
            <div class="pure-u-3-24">Date</div>
            <div class="pure-u-3-24">Reason</div>
            <div class="pure-u-4-24">Applied by</div>
            <div class="pure-u-4-24">Status</div>
            <div class="pure-u-5-24">Comment</div>
          </div>
          <div class="table__body">
            <div class="table__row pure-g" v-for="(allergy) in getAllergiesComputed" :key="allergy.alertId">
              <div v-html="getAllergyNameForDisplay(allergy)" class="pure-u-5-24"></div>
              <div class="pure-u-3-24">{{allergy.applied | formatDate}} </div>
              <div class="pure-u-3-24">{{allergy.reason.description}} </div>
              <div class="pure-u-4-24">{{allergy.applyingHcpName}} </div>
              <div class="pure-u-4-24">{{allergy.status.description}} </div>
              <div class="pure-u-5-24">{{allergy.allergyComments}} </div>
            </div>
            <p v-if="getAllergiesComputed.length" class="u-text-center">End of results ({{getAllergiesComputed.length}})</p>
          </div>
        </div>
      </div>
      <div v-else>
        <div class="no-data-label">Medway allergies not recorded.</div>
      </div>
    </template>
  </div>

</template>

<script>
  /* Utils */
  import Vault from 'Endpoints/careflowApp/Vault';
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import GetPatientHospitalNumber from 'VueMixins/getPatientHospitalNumber';
  /* API Endpoints */
  import * as GetMedwayGuid from 'Endpoints/medwayServices/patientServiceAPI/GetPatientMedwayGuid';
  import * as GetPatientAlertsService from 'Endpoints/medwayServices/patientAlertsService/GetPatientAlertsService';
  /*Components*/

  import { VueContentLoading } from 'vue-content-loading';

  export default {
  	data: function() {
  		return {
  			IsLoading: true,
  			PatientMedwayAllergies: [],
  			PatientHospitalNumber: this.getPatientHospitalNumberFromIdentifiers(this.patient.PatientIdentifiers) || null,
  			PatientMedwayGuid: null,
  			RebuildUiComponentKey: null,
  			ApiError: false,
  		};
  	},
  	mixins: [DateFilter, GetPatientHospitalNumber],
  	components: { VueContentLoading },
  	props: {
  		allergies: {
  			required: false,
  			type: [Array],
  		},
  		patientId: {
  			required: true,
  			type: [Number, String],
  		},
  		patient: {
  			required: true,
  			type: [Array, Object],
  		},
  	},
  	filters: {},

  	computed: {
  		getAllergiesComputed() {
  			if (!this.PatientMedwayAllergies) return [];
  			return this.PatientMedwayAllergies;
  		},
  	},

  	watch: {},

  	methods: {
  		getPatientMedwayGuid() {
  			return new Promise((resolve, reject) => {
  				if (this.PatientMedwayGuid) return resolve(this.PatientMedwayGuid);
  				GetMedwayGuid.getPatientMedwayGuid(this.patientId, this.patient, this.PatientHospitalNumber)
  					.then(response => {
  						if (!response) return reject();
  						this.PatientMedwayGuid = response.patientId;
  						return resolve(this.PatientMedwayGuid);
  					})
  					.catch(error => {
  						reject();
  					});
  			});
  		},

  		getPatientMedwayAllergies() {
  			return new Promise((resolve, reject) => {
  				let stagingResultsData = [];
  				let pageIndex = 0;
  				let pageSize = 100;
  				let callApi = () => {
  					//Medway Allergies
  					GetPatientAlertsService.callApi('Allergies', this.PatientMedwayGuid, pageSize, pageIndex)
  						.then(response => {
  							stagingResultsData.push.apply(stagingResultsData, response.data.results);
  							if (response.data.totalPages > response.data.pageIndex) {
  								//There are more
  								pageIndex += 1;
  								return callApi();
  							}

  							this.PatientMedwayAllergies = stagingResultsData.sort((a, b) => {
  								return new Date(b.applied) - new Date(a.applied);
  							}); // Turn your strings into dates, and then subtract them;

  							stagingResultsData = [];
  							return resolve();
  						})
  						.catch(error => {
  							this.PatientMedwayAllergies = [];
  							reject();
  						});
  				};

  				callApi();
  			});
  		},

  		getAllergyNameForDisplay(allergy) {
  			let hasDrugName = allergy.hasOwnProperty('drugName');
  			let hasAllergenName = allergy.hasOwnProperty('allergenName');
  			let hasReaction = allergy.hasOwnProperty('reaction');

  			if (hasDrugName && hasReaction) return `${allergy.type.description}: ${allergy.drugName} - ${allergy.reaction.description}`;
  			if (hasAllergenName && hasReaction) return `${allergy.type.description}: ${allergy.allergenName} - ${allergy.reaction.description}`;
  			return `${allergy.type.description}`;
  		},
  	},

  	events: {},

  	beforeCreate: function() {},

  	created: function() {
  		//Init
  		if (!this.allergies) {
  			this.IsLoading = true;
  			return this.getPatientMedwayGuid()
  				.then(this.getPatientMedwayAllergies)
  				.then(() => {
  					this.IsLoading = false;
  				})
  				.catch(error => {
  					this.IsLoading = false;
  					this.ApiError = true;
  				});
  		} else {
  			this.PatientMedwayAllergies = this.allergies;
  		}
  	},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},

  	mounted() {},
  };
</script>

<style scoped lang="less">
  .u-data-table--default.allergies-list {
  	margin-bottom: 10em;
  	& .table__body {
  		& .table__row {
  		}
  	}
  }

  .medway-allergies-wrapper {
  	padding: 0;
  	border: 0;
  	border-top: 0;
  }
  .ui-modal__container {
  	width: 995px;
  }
  .allergies-list {
  	width: 100%;
  }
  .u-data-table--default {
  	margin-bottom: 0;
  	margin-left: 0;
  }
</style>
<notes>Medway allergies - used for full list view in a modal</notes>
