<template v-cloak>
  <div v-cloak class="medway-alerts-widget-wrapper">

    <ui-progress-circular color="primary" v-if="IsLoading"></ui-progress-circular>
    <template v-else>

      <div class="alert-items-body" v-if="getAlertsComputed.length">

        <div class="alerts-list u-data-table--default">
          <div class="table__head pure-g">

            <div class="pure-u-4-24">Summary</div>
            <div class="pure-u-4-24">Date</div>
            <div class="pure-u-4-24">Reason</div>
            <div class="pure-u-4-24">Applied by</div>
            <div class="pure-u-4-24">Status</div>
            <div class="pure-u-4-24">Comment</div>

          </div>
          <div class="table__body">
            <div class="table__row pure-g" v-for="(alert) in getAlertsComputed" :key="alert.alertId">
              <div class="pure-u-4-24 alert-summary-wrapper">
                <div class="alert-colour" :style="{ 'background': alert.alertItemColour }"></div>
                <div class="alert-summary">{{alert.type.description}}</div>
              </div>
              <div class="pure-u-4-24">{{alert.applied | formatDate}} </div>
              <div class="pure-u-4-24">{{alert.reason.description}} </div>
              <div class="pure-u-4-24">{{alert.applyingHcpName}} </div>
              <div class="pure-u-4-24">{{alert.status.description}} </div>
              <div class="pure-u-4-24">{{alert.alertComments}} </div>
            </div>
            <p v-if="getAlertsComputed.length" class="u-text-center">End of results ({{getAlertsComputed.length}})</p>

          </div>
        </div>

      </div>
      <div v-else>
        <div class="no-data-label">No Medway alerts for this patient.</div>
      </div>
      <!--<div class="pure-u-1">
                {{ alerts.totalCount | getAlertsTotalsLabel}}
            </div>-->
    </template>
  </div>

</template>

<script>
  /* Utils */ /*TODO:USE node fs to resolve paths*/
  import Vault from 'Endpoints/careflowApp/Vault';
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import GetPatientHospitalNumber from 'VueMixins/getPatientHospitalNumber';
  /* API Endpoints */
  import * as GetPatientAlertsService from 'Endpoints/medwayServices/patientAlertsService/GetPatientAlertsService';
  import * as GetMedwayGuid from 'Endpoints/medwayServices/patientServiceAPI/GetPatientMedwayGuid';
  /*Components*/

  import AlertWidgetRow from 'VueComponents/medwayIntegrations/patientAlertService/AlertWidgetRow';
  import { VueContentLoading } from 'vue-content-loading';

  export default {
  	data: function() {
  		return {
  			IsLoading: false,
  			PatientMedwayAlerts: [],
  			WidgetType: parseInt(this.widgetType, 10),
  			PatientHospitalNumber: this.getPatientHospitalNumberFromIdentifiers(this.patient.PatientIdentifiers) || null,
  			PatientMedwayGuid: null,
  			RebuildUiComponentKey: null,
  			AlertsUnavailable: false,
  		};
  	},
  	mixins: [DateFilter, GetPatientHospitalNumber],
  	components: { VueContentLoading, AlertWidgetRow },
  	props: {
  		alerts: {
  			required: false,
  			type: [Array],
  		},
  		patientId: {
  			required: true,
  			type: [Number, String],
  		},
  		patient: {
  			required: true,
  			type: [Array, Object],
  		},
  	},
  	filters: {},

  	computed: {
  		getAlertsComputed() {
  			if (!this.PatientMedwayAlerts) return [];
  			return this.PatientMedwayAlerts;
  		},

  		getTopAlertColour() {
  			if (this.PatientMedwayAlerts.length && this.PatientMedwayAlerts[0].patientAlertColour) return this.PatientMedwayAlerts[0].patientAlertColour;
  			return '';
  		},
  	},

  	watch: {},

  	methods: {
  		getPatientMedwayGuid() {
  			return new Promise((resolve, reject) => {
  				if (this.patientMedwayGuid) return resolve(this.patientMedwayGuid);
  				GetMedwayGuid.getPatientMedwayGuid(this.patientId, this.patient, this.PatientHospitalNumber)
  					.then(response => {
  						if (!response) return reject();
  						this.PatientMedwayGuid = response.patientId;
  						return resolve(this.PatientMedwayGuid);
  					})
  					.catch(error => {
  						reject();
  					});
  			});
  		},

  		getPatientMedwayAlerts() {
  			//Medway Alerts
  			//serviceType, medwayPatientId, pageSize = 100, pageIndex = 0

  			this.IsLoading = true;

  			return new Promise((resolve, reject) => {
  				let stagingResultsData = [];
  				let pageIndex = 0;
  				let pageSize = 100;

  				let callApi = () => {
  					return GetPatientAlertsService.callApi('Alerts', this.PatientMedwayGuid, pageSize, pageIndex)
  						.then(response => {
  							stagingResultsData.push.apply(stagingResultsData, response.data.results);

  							if (response.data.totalPages > response.data.pageIndex) {
  								//There are more
  								pageIndex += 1;
  								return callApi();
  							}

  							this.PatientMedwayAlerts = stagingResultsData.sort((a, b) => {
  								return new Date(b.applied) - new Date(a.applied);
  							}); // Turn your strings into dates, and then subtract them;

  							this.IsLoading = false;
  							stagingResultsData = [];
  							return resolve();
  						})
  						.catch(error => {
  							this.PatientMedwayAlerts = [];
  							this.IsLoading = false;
  							this.AlertsUnavailable = true;
  							return reject();
  						});
  				};

  				callApi();
  			});
  		},

  		getAlertBodyBg(colour) {
  			if (!colour) return;
  			return convertHex(colour, '05');

  			function convertHex(hex, opacity) {
  				opacity = parseInt(opacity, 10);
  				hex = hex.replace('#', '');
  				let r = parseInt(hex.substring(0, 2), 16);
  				let g = parseInt(hex.substring(2, 4), 16);
  				let b = parseInt(hex.substring(4, 6), 16);

  				let result = 'rgba(' + r + ',' + g + ',' + b + ',' + opacity / 100 + ')';
  				return result;
  			}
  		},
  	},

  	events: {},

  	beforeCreate: function() {},

  	created: function() {
  		//Init
  		if (!this.alerts) {
  			this.IsLoading = true;
  			return this.getPatientMedwayGuid()
  				.then(this.getPatientMedwayAlerts)
  				.then(() => {
  					this.IsLoading = false;
  				})
  				.catch(error => {
  					this.IsLoading = false;
  					this.ApiError = true;
  				});
  		}
  		this.PatientMedwayAlerts = this.alerts;
  	},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},

  	mounted() {},
  };
</script>

<style lang="less">
  .u-data-table--default.alerts-list {
  	margin-bottom: 10em;
  	margin-left: 0;
  	& .table__body {
  		& .table__row {
  			& .alert-colour {
  				width: 7px;
  				height: 7px;
  				display: flex;
  				margin: 0;
  				position: relative;
  				top: 4px;
  				margin: 0 5px 0 0;
  			}
  			& .alert-summary-wrapper {
  				display: flex;
  				flex-direction: row;
  				//flex-wrap: nowrap;
  				& .alert-summary {
  					flex-basis: calc(100% - 12px);
  					max-width: calc(100% - 12px);
  				}
  			}
  		}
  	}
  }

  .alert-items-body {
  	display: flex;
  }

  .medway-alerts-widget-wrapper {
  	padding: 0;
  	border: 0;
  	border-top: 0;
  }
  .ui-modal__container {
  	width: 995px;
  }
  .alerts-list {
  	width: 100%;
  }
</style>
<notes>Medway alerts - used for full list view in a modal</notes>
