<template>
	<div class="patient-vitals-line-item">
		<div class="item-label">{{getVitalLabel}}</div>
		<div class="items-right">
			<div class="item-value">{{getVitalValue}} {{getVitalUnit}}</div>
			<div :class="{'item-interpretation':true, 'no-border': getInterpretation === 'n/a' }">{{getInterpretation}}</div>
		</div>

	</div>
</template>

<script>
import Vault from 'Endpoints/careflowApp/Vault';
/*Mixins*/
import DateFilter from 'VueMixins/dateFilter';
import GetPatientHospitalNumber from 'VueMixins/getPatientHospitalNumber';
/* API Endpoints */
import * as GetVitalsObervations from 'Endpoints/medwayServices/careflowVitals/GetVitalsObservations';
/*Components*/
import VitalsSummaryWidgetLineItem from 'VueComponents/medwayIntegrations/patientVitals/components/VitalsSummaryWidgetLineItem';

export default {
	data: function() {
		return {
			IsLoading: false
		};
	},
	mixins: [DateFilter, GetPatientHospitalNumber],
	components: { VitalsSummaryWidgetLineItem },
	props: {
		item: {
			required: true,
			type: [Object]
		}
	},
	filters: {},

	computed: {
		getVitalLabel() {
			return `${this.item.resource.code.text}`;
		},

		getVitalValue() {
			if (this.item.resource.hasOwnProperty('valueQuantity')) return `${this.item.resource.valueQuantity.value}`;
			if (this.item.resource.hasOwnProperty('valueCodeableConcept')) return `${this.item.resource.valueCodeableConcept.coding[0].display}`;
			return ``;
		},

		getVitalUnit() {
			if (this.item.resource.hasOwnProperty('valueQuantity')) return `${this.item.resource.valueQuantity.unit}`;
			return ``;
		},

		getInterpretation() {
			if (this.item.resource.hasOwnProperty('interpretation')) return `${this.item.resource.interpretation.coding[0].display}`;
			return ``;
		}

		// response.data.entry.forEach(function(item) {
		// 			var shortName;
		// 			switch (item.resource.code.text) {
		// 				case 'Heart Rate':
		// 					shortName = 'HR';
		// 					break;
		// 				case 'Blood Pressure':
		// 					shortName = 'BP';
		// 					break;
		// 				case 'Respiratory Rate':
		// 					shortName = 'RR';
		// 					break;
		// 				case 'Temperature':
		// 					shortName = 'Temp';
		// 					break;
		// 				case 'Heart Rate ':
		// 					shortName = 'HR';
		// 					break;
		// 				default:
		// 					shortName = null;

		// 					break;
		// 			}

		// 			var data = {
		// 				Name: item.resource.code.text,
		// 				ShortName: shortName,
		// 				Value: _.has(item.resource, 'valueQuantity')
		// 					? item.resource.valueQuantity.value
		// 					: item.resource.valueCodeableConcept.coding[0]
		// 							.display,
		// 				Unit: _.has(item.resource, 'valueQuantity')
		// 					? item.resource.valueQuantity.unit
		// 					: null,
		// 				Interpretation:
		// 					item.resource.interpretation.coding[0]
		// 						.display !== 'n/a'
		// 						? item.resource.interpretation.coding[0]
		// 								.display
		// 						: '',
		// 				InterpretationClass: getInterpretationClass(
		// 					item.resource.interpretation.coding[0].display
		// 				)
		// 			};

		// 			templateData.Data.push(data);
		// 		});
	},

	watch: {},

	methods: {},

	events: {},

	beforeCreate: function() {},

	created: function() {},
	updated() {},

	mounted() {}
};
</script>

<style scoped lang="less">
@import '../../../../../../less/app-variables.less';
.patient-vitals-line-item {
	display: flex;
	flex-direction: row;
	margin: 0 0 0.8em 0;
	align-items: center;
}
.item-label {
	color: @text-light;
	word-break: break-all;
	max-width: 65%;
}
.item-value {
	font-weight: @font--medium;
}
.item-interpretation {
	margin: 0 0 0 1em;
	display: flex;
	padding: 0.1em 0.2em;
	border: 1px solid @row--border;
	&.no-border {
		border: none;
	}
}
.items-right {
	align-items: center;
	margin-left: auto;
	display: flex;
	flex-flow: row;
}
</style>
<notes>Vitals/Observations line item (EWS etc. Integration API), used on patient dashboard.</notes>
