<template>
    <div v-if="item.text && item.displayValue" class="patient-vitals-line-item">
      <div class="item-wrap" ref="item-wrap">
        {{item.text}}
        <div v-html="item.displayValue" class="item-value"></div>
      </div>
      <ui-popover class="custom-popover" openOn="hover" dropdownPosition="left bottom" trigger="item-wrap">
        <div v-for="(item) in obsData" :key="item.id">
          <div class="row">
            {{item.text}}<div v-html="item.displayValue" class="item-value"></div>({{item.methodValue}})
          </div>
          <div class="row-date" v-if="item.lastUpdated">{{item.lastUpdated | formatDate}}</div>
        </div>
      </ui-popover>
    </div>
</template>

<script>
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';

  /* API Endpoints */

  /*Components*/

  export default {
  	data: function() {
  		return {
  			IsLoading: false,
  		};
  	},
  	mixins: [DateFilter],
  	components: {},
  	props: {
  		item: {
  			required: true,
  			type: [Object],
  		},
  		obsData: {
  			required: false,
  			type: [Array],
  		},
  	},
  	filters: {},

  	computed: {},

  	watch: {},

  	methods: {},

  	events: {},

  	beforeCreate: function() {},

  	created: function() {},
  	updated() {},

  	mounted() {},
  };
</script>

<style scoped lang="less">
  @import '../../../../../../less/app-variables.less';
  .patient-vitals-line-item {
  	display: flex;
  	flex-direction: row;
  	margin: 0 1em 0 0;
  	align-items: center;
  	& div {
  		display: flex;
  	}
  }
  .item-wrap {
  	&:hover {
  		cursor: pointer;
  	}
  }
  .item-label {
  	color: @text-light;
  	word-break: break-all;
  	max-width: 65%;
  }
  .item-value {
  	font-weight: @font--medium;
  	margin: 0 0.5em 0 0.2em;
  }

  .items-right {
  	align-items: center;
  	margin-left: auto;
  	display: flex;
  	flex-flow: row;
  }

  .custom-popover {
  	& .row {
  		display: flex;
  		flex-direction: row;
  	}
  	& .row-date {
  		display: flex;
  		flex-direction: row;
  		color: @text-light;
  		margin: 0 0 0.5em 0;
  	}
  }
</style>
<notes>Vitals/Observations line item (EWS etc. Integration API), used on patient dashboard.</notes>
