<template>
  <div data-scroll="true" class="js-fullHeight-bodyElement">
    <div class="patient-current-meds">
      <ui-progress-circular color="primary" v-if="IsLoading"></ui-progress-circular>
      <template v-else>
        <template v-if="CurrentPrescriptions && Patient">
              <CurrentMedicationFullLineItem v-for="(item,index) in getMedicationsToDisplay" :patient="Patient" :patientId="PatientId" :item="item" :key="index" :isEitherOr="isEitherOrNotFirstOrLastInGroup(index)" :isFirstEitherOr="isFirstEitherOr(index)" :isLastEitherOr="isLastEitherOr(index)" :eitherOrflag="checkEitherOrStatus(index)"></CurrentMedicationFullLineItem>
            <!--End of results block-->
            <div v-if="getMedicationsToDisplay.length" class="table__results-end pure-u-1">
              <p class="u-text-center">End of results
                <template>({{getMedicationsToDisplay.length}})</template>
              </p>
            </div>
        </template>
        <div v-if="!ApiError && !IsLoading && !CurrentPrescriptions.length">
          No recorded medications for latest patient spell.
        </div>
        <div v-if="ApiError && !IsLoading">
          Medications unavailable.
        </div>
      </template>
    </div>
  </div>
</template>

<script>
  import Vault from 'Endpoints/careflowApp/Vault';
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import GetPatientHospitalNumber from 'VueMixins/getPatientHospitalNumber';
  /* API Endpoints */
  import * as GetPatientEpisodes from 'Endpoints/medwayServices/patientEpisodeService/GetPatientEpisodes';
  import * as GetCurrentMedications from 'Endpoints/medwayServices/ePMAPatientCurrentMedications/GetCurrentMedications';
  import * as GetMedwayGuid from 'Endpoints/medwayServices/patientServiceAPI/GetPatientMedwayGuid';
  import * as GetEpisodeTypes from 'Endpoints/medwayServices/patientEpisodeService/GetEpisodeTypes';
  //import * as GetGpIssuedMedications from 'Endpoints/graphnetServices/GetGpIssuedMedications';
  import GetPatient from 'Endpoints/patients/GetPatient';
  /*Components*/
  import CurrentMedicationFullLineItem from 'VueComponents/medwayIntegrations/patientMedications/components/CurrentMedicationFullLineItem';

  export default {
  	data: function() {
  		return {
  			IsLoading: true,
  			Patient: this.patient || null,
  			PatientId: this.patientId || null,
  			CurrentPrescriptions: [],
  			CurrentActivePrescriptions: [],
  			CurrentInactivePrescriptions: [],
  			LatestEpisodeId: null, //Required
  			PatientMedwayGuid: this.patientMedwayGuid || null, //Required
  			PatientHospitalNumber: this.patient ? this.getPatientHospitalNumberFromIdentifiers(this.patient.PatientIdentifiers) : null,
  			Title: '',
  			RebuildUiComponentKey: null,
  			ApiError: false,
  		};
  	},
  	mixins: [DateFilter, GetPatientHospitalNumber],
  	components: { CurrentMedicationFullLineItem },
  	props: {
  		patient: {
  			required: false,
  			type: [Object],
  		},
  		patientId: {
  			required: true,
  			type: [Number, String],
  		},
  		networkId: {
  			required: true,
  			type: [Number, String],
  		},
  		memberAreaId: {
  			required: false,
  			type: [Number, String],
  		},
  		patientMedwayGuid: {
  			required: false,
  			type: [Number, String],
  		},
  	},
  	filters: {},

  	computed: {
  		getMedicationsToDisplay() {
  			if (!this.CurrentPrescriptions) return [];
  			return this.CurrentPrescriptions;

  			//return _.groupBy(this.CurrentPrescriptions, 'eitherOrGroupId');
  		},
  		getStoppedMedsLabel() {
  			if (!this.CurrentInactivePrescriptions.length) return '';
  			if (this.CurrentInactivePrescriptions.length > 1) return `This patient has ${this.CurrentInactivePrescriptions.length} stopped medications.`;
  			return `This patient has ${this.CurrentInactivePrescriptions.length} stopped medication.`;
  		},
  	},

  	watch: {},

  	methods: {
  		getPatient() {
  			return new Promise((resolve, reject) => {
  				this.IsLoading = true;
  				if (this.patient) return resolve(this.patient);
  				GetPatient.callApi(this.patientId, this.networkId, 'ClinicalTags, HandoverNotes, GroupLists')
  					.then((response, textStatus, xhr) => {
  						this.Patient = response.Data;
  						this.PatientId = response.Data.PatientExternalIdentifier;
  						this.PatientHospitalNumber = this.getPatientHospitalNumberFromIdentifiers(this.Patient.PatientIdentifiers);
  						resolve();
  					})
  					.fail(error => {
  						//returns from callApi
  						reject();
  					});
  			}).catch(error => {
  				reject();
  			});
  		},
  		getPatientMedwayGuid() {
  			return new Promise((resolve, reject) => {
  				if (this.patientMedwayGuid) return resolve(this.patientMedwayGuid);
  				GetMedwayGuid.getPatientMedwayGuid(this.PatientId, this.Patient, this.PatientHospitalNumber)
  					.then(response => {
  						if (!response) return reject();
  						this.PatientMedwayGuid = response.patientId;
  						return resolve(this.PatientMedwayGuid);
  					})
  					.catch(error => {
  						//returns from dispatch
  						reject();
  					});
  			}).catch(error => {
  				reject();
  			});
  		},
  		getPatientEpisode() {
  			return new Promise((resolve, reject) => {
  				GetPatientEpisodes.callApi(this.PatientMedwayGuid)
  					.then((response, status, xhr, fullResponse) => {
  						if (!response.data.results.length) return resolve(); //No latest episode ID

  						let episodeId = response.data.results
  							.map(x => {
  								if (x.episodeType.id === '08fb8f35-ff9b-4378-a90d-ef97e6c673db' || x.episodeType.id === 'edda7e07-be9f-44bf-9e3a-c35b444e06e7') {
  									//Inpatient Spell OR Casualty Attendance
  									return x.episodeId;
  								}
  								return null;
  							})
  							.filter(Boolean);

  						this.LatestEpisodeId = episodeId.length > 0 ? episodeId[0] : null;
  						resolve(this.LatestEpisodeId);
  					})
  					.catch(error => {
  						reject();
  					});
  			}).catch(error => {
  				reject();
  			});
  		},

  		getPatientMedications() {
  			return new Promise((resolve, reject) => {
  				if (!this.LatestEpisodeId) {
  					this.IsLoading = false;
  					return resolve();
  				}
  				GetCurrentMedications.callApi(this.PatientMedwayGuid, this.LatestEpisodeId)
  					.then((response, status, xhr, fullResponse) => {
  						if (Object.keys(response.data).length === 0) {
  							this.IsLoading = false;
  							return resolve();
  						}
  						this.CurrentPrescriptions = response.data.currentPrescriptions;
  						this.CurrentActivePrescriptions = response.data.currentPrescriptions.filter(x => x.status === 'Active');
  						this.CurrentInactivePrescriptions = response.data.currentPrescriptions.filter(x => x.status !== 'Active');
  						this.Title = response.data.title;
  						this.IsLoading = false;
  						resolve();
  					})
  					.catch(error => {
  						//returns from dispatch
  						reject();
  					});
  			}).catch(error => {
  				reject();
  			});
  		},
  		checkEitherOrStatus(index) {
  			if (!this.getMedicationsToDisplay || !this.getMedicationsToDisplay.length || !this.getMedicationsToDisplay[index].isEitherOr) return false;

  			if (index < 1) return false;

  			const prevIndexIsEO = this.getMedicationsToDisplay[index - 1].isEitherOr && this.getMedicationsToDisplay[index - 1].hasOwnProperty('eitherOrGroupId');
  			const indexIsEO = this.getMedicationsToDisplay[index].isEitherOr && this.getMedicationsToDisplay[index].hasOwnProperty('eitherOrGroupId');

  			if (prevIndexIsEO && indexIsEO) {
  				return this.getMedicationsToDisplay[index].eitherOrGroupId === this.getMedicationsToDisplay[index - 1].eitherOrGroupId;
  			}

  			return false;
  		},

  		isEitherOrNotFirstOrLastInGroup(index) {
  			if (!this.getMedicationsToDisplay || !this.getMedicationsToDisplay.length || !this.getMedicationsToDisplay[index].isEitherOr) return false;

  			const isLastIndex = index + 1 >= this.getMedicationsToDisplay.length;
  			const indexIsEO = this.getMedicationsToDisplay[index].isEitherOr && this.getMedicationsToDisplay[index].hasOwnProperty('eitherOrGroupId');
  			const prevIndexIsEO = index > 0 ? this.getMedicationsToDisplay[index - 1].isEitherOr && this.getMedicationsToDisplay[index - 1].hasOwnProperty('eitherOrGroupId') : false;
  			const nextIndexIsEO = !isLastIndex ? this.getMedicationsToDisplay[index + 1].isEitherOr && this.getMedicationsToDisplay[index + 1].hasOwnProperty('eitherOrGroupId') : false;
  			const prevIndexIsSameGroup = prevIndexIsEO ? this.getMedicationsToDisplay[index].eitherOrGroupId === this.getMedicationsToDisplay[index - 1].eitherOrGroupId : false;
  			const nextIndexIsSameGroup = nextIndexIsEO ? this.getMedicationsToDisplay[index].eitherOrGroupId === this.getMedicationsToDisplay[index + 1].eitherOrGroupId : false;

  			if (indexIsEO && (nextIndexIsEO && nextIndexIsSameGroup) && (prevIndexIsEO && prevIndexIsSameGroup)) return true;
  			return false;
  		},

  		isFirstEitherOr(index) {
  			if (!this.getMedicationsToDisplay || !this.getMedicationsToDisplay.length || !this.getMedicationsToDisplay[index].isEitherOr) return false;

  			const isLastIndex = index + 1 >= this.getMedicationsToDisplay.length;
  			const indexIsEO = this.getMedicationsToDisplay[index].isEitherOr && this.getMedicationsToDisplay[index].hasOwnProperty('eitherOrGroupId');
  			const prevIndexIsEO = index > 0 ? this.getMedicationsToDisplay[index - 1].isEitherOr && this.getMedicationsToDisplay[index - 1].hasOwnProperty('eitherOrGroupId') : false;
  			const nextIndexIsEO = !isLastIndex ? this.getMedicationsToDisplay[index + 1].isEitherOr && this.getMedicationsToDisplay[index + 1].hasOwnProperty('eitherOrGroupId') : false;
  			const prevIndexIsSameGroup = prevIndexIsEO ? this.getMedicationsToDisplay[index].eitherOrGroupId === this.getMedicationsToDisplay[index - 1].eitherOrGroupId : false;
  			const nextIndexIsSameGroup = nextIndexIsEO ? this.getMedicationsToDisplay[index].eitherOrGroupId === this.getMedicationsToDisplay[index + 1].eitherOrGroupId : false;

  			if (indexIsEO && nextIndexIsEO && nextIndexIsSameGroup && (!prevIndexIsEO || !prevIndexIsSameGroup)) return true;
  			return false;
  		},

  		isLastEitherOr(index) {
  			if (!this.getMedicationsToDisplay || !this.getMedicationsToDisplay.length || !this.getMedicationsToDisplay[index].isEitherOr) return false;

  			const isLastIndex = index + 1 >= this.getMedicationsToDisplay.length;
  			const indexIsEO = this.getMedicationsToDisplay[index].isEitherOr && this.getMedicationsToDisplay[index].hasOwnProperty('eitherOrGroupId');
  			const prevIndexIsEO = index > 0 ? this.getMedicationsToDisplay[index - 1].isEitherOr && this.getMedicationsToDisplay[index - 1].hasOwnProperty('eitherOrGroupId') : false;
  			const nextIndexIsEO = !isLastIndex ? this.getMedicationsToDisplay[index + 1].isEitherOr && this.getMedicationsToDisplay[index + 1].hasOwnProperty('eitherOrGroupId') : false;
  			const prevIndexIsSameGroup = prevIndexIsEO ? this.getMedicationsToDisplay[index].eitherOrGroupId === this.getMedicationsToDisplay[index - 1].eitherOrGroupId : false;
  			const nextIndexIsSameGroup = nextIndexIsEO ? this.getMedicationsToDisplay[index].eitherOrGroupId === this.getMedicationsToDisplay[index + 1].eitherOrGroupId : false;

  			if (indexIsEO && (!nextIndexIsEO || !nextIndexIsSameGroup) && (prevIndexIsEO && prevIndexIsSameGroup)) return true;

  			return false;
  		},
  	},

  	events: {},

  	beforeCreate: function() {},

  	created: function() {
  		this.getPatient()
  			.then(this.getPatientMedwayGuid)
  			//.then(this.getEpisodeTypes)
  			.then(this.getPatientEpisode)
  			.then(this.getPatientMedications)
  			.catch(error => {
  				this.IsLoading = false;
  				this.ApiError = true;
  			});

  		//   GetGpIssuedMedications.callApi().then(response=>{
  		// 	  alert(JSON.stringify(response))
  		//   })
  	},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},

  	mounted() {},
  };
</script>

<style scoped lang="less">
  @import '../../../../../less/app-variables.less';
  .patient-current-meds {
  	padding: 0 1em 15em 1em;
  }
</style>
<notes>Current Medications Tab view (Integration API), used on patient dashboard.</notes>
