<template>
  <div class="patient-summary-widget">
    <template v-if="IsLoading">
      <div class="view-block__title">Current medications</div>
      <ui-progress-circular color="primary"></ui-progress-circular>
    </template>
    <template v-else>
      <template v-if="CurrentPrescriptions">
        <div class="view-block__title">Current medications
          <span v-if="getMedicationsToDisplay.length"> ({{getMedicationsToDisplay.length}})</span>
          <span v-on:click="setActiveItem" class="u-pull-right btn--plain">View all</span>
        </div>
        <CurrentMedicationLineItem v-for="(item,index) in getMedicationsToDisplay" :patient="patient" :patientId="patientId" :item="item" :key="item.medicationId" :isEitherOr="isEitherOrNotFirstOrLastInGroup(index)" :isFirstEitherOr="isFirstEitherOr(index)" :isLastEitherOr="isLastEitherOr(index)" :eitherOrflag="checkEitherOrStatus(index)"></CurrentMedicationLineItem>
        <!-- <div class="stopped-meds-label" v-if="CurrentInactivePrescriptions" v-html="getStoppedMedsLabel"></div> -->
      </template>
      <div v-if="!ApiError && !IsLoading && !CurrentPrescriptions.length">
        No recorded medications for latest patient spell.
      </div>
      <div v-if="ApiError && !IsLoading">
        Medications unavailable.
      </div>
    </template>
  </div>
</template>

<script>
  import Vault from 'Endpoints/careflowApp/Vault';
  /*Mixins*/
  import DateFilter from 'VueMixins/dateFilter';
  import GetPatientHospitalNumber from 'VueMixins/getPatientHospitalNumber';
  /* API Endpoints */
  import * as GetPatientEpisodes from 'Endpoints/medwayServices/patientEpisodeService/GetPatientEpisodes';
  import * as GetEpisodeTypes from 'Endpoints/medwayServices/patientEpisodeService/GetEpisodeTypes';
  import * as GetCurrentMedications from 'Endpoints/medwayServices/ePMAPatientCurrentMedications/GetCurrentMedications';
  import * as GetMedwayGuid from 'Endpoints/medwayServices/patientServiceAPI/GetPatientMedwayGuid';
  /*Components*/
  import CurrentMedicationLineItem from 'VueComponents/medwayIntegrations/patientMedications/components/CurrentMedicationLineItem';

  export default {
  	data: function() {
  		return {
  			IsLoading: true,
  			CurrentPrescriptions: [],
  			CurrentActivePrescriptions: [],
  			CurrentInactivePrescriptions: [],
  			EpisodeTypes: [],
  			LatestEpisodeId: null, //Required
  			PatientMedwayGuid: null, //Required
  			PatientHospitalNumber: this.getPatientHospitalNumberFromIdentifiers(this.patient.PatientIdentifiers) || null,
  			Title: '',
  			RebuildUiComponentKey: null,
  			ApiError: false,
  		};
  	},
  	mixins: [DateFilter, GetPatientHospitalNumber],
  	components: { CurrentMedicationLineItem },
  	props: {
  		patient: {
  			required: true,
  			type: [Array, Object],
  		},
  		patientId: {
  			required: true,
  			type: [Number, String],
  		},
  		patientMedwayGuid: {
  			required: false,
  			type: [Number, String],
  		},
  		networkId: {
  			required: true,
  			type: [Number, String],
  		},
  		memberAreaId: {
  			required: false,
  			type: [Number, String],
  		},
  	},
  	filters: {},

  	computed: {
  		getMedicationsToDisplay() {
  			if (!this.CurrentPrescriptions.length) return [];
  			return this.CurrentPrescriptions;
  		},
  		getStoppedMedsLabel() {
  			if (!this.CurrentInactivePrescriptions.length) return '';
  			if (this.CurrentInactivePrescriptions.length > 1) return `This patient has ${this.CurrentInactivePrescriptions.length} stopped medications.`;
  			return `This patient has ${this.CurrentInactivePrescriptions.length} stopped medication.`;
  		},
  	},

  	watch: {},

  	methods: {
  		getPatientMedwayGuid() {
  			return new Promise((resolve, reject) => {
  				if (this.patientMedwayGuid) return resolve(this.patientMedwayGuid);
  				GetMedwayGuid.getPatientMedwayGuid(this.patientId, this.patient, this.PatientHospitalNumber)
  					.then(response => {
  						if (!response) return reject();
  						this.PatientMedwayGuid = response.patientId;
  						return resolve(this.PatientMedwayGuid);
  					})
  					.catch(error => {
  						reject();
  					});
  			});
  		},
  		getEpisodeTypes() {
  			return new Promise((resolve, reject) => {
  				GetEpisodeTypes.callApi()
  					.then((response, status, xhr, fullResponse) => {
  						if (!response.data) return resolve();
  						this.EpisodeTypes = response.data;
  						resolve(this.EpisodeTypes);
  					})
  					.catch(error => {
  						reject();
  					});
  			}).catch(error => {
  				reject();
  			});
  		},
  		getPatientEpisode() {
  			return new Promise((resolve, reject) => {
  				GetPatientEpisodes.callApi(this.PatientMedwayGuid)
  					.then((response, status, xhr, fullResponse) => {
  						if (!response.data.results.length) return resolve(); //No latest episode ID

  						let episodeId = response.data.results
  							.map(x => {
  								if (x.episodeType.id === '08fb8f35-ff9b-4378-a90d-ef97e6c673db' || x.episodeType.id === 'edda7e07-be9f-44bf-9e3a-c35b444e06e7') {
  									//Inpatient Spell OR Casualty Attendance
  									return x.episodeId;
  								}
  								return null;
  							})
  							.filter(Boolean);

  						this.LatestEpisodeId = episodeId.length > 0 ? episodeId[0] : null;
  						resolve(this.LatestEpisodeId);
  					})
  					.catch(error => {
  						reject();
  					});
  			}).catch(error => {
  				reject();
  			});
  		},

  		getPatientMedications() {
  			return new Promise((resolve, reject) => {
  				if (!this.LatestEpisodeId) {
  					this.IsLoading = false;
  					return resolve();
  				}
  				GetCurrentMedications.callApi(this.PatientMedwayGuid, this.LatestEpisodeId)
  					.then((response, status, xhr, fullResponse) => {
  						if (Object.keys(response.data).length === 0) {
  							this.IsLoading = false;
  							return resolve();
  						}
  						this.CurrentPrescriptions = response.data.currentPrescriptions;
  						this.CurrentActivePrescriptions = response.data.currentPrescriptions.filter(x => x.status === 'Active');
  						this.CurrentInactivePrescriptions = response.data.currentPrescriptions.filter(x => x.status !== 'Active');
  						this.Title = response.data.title;
  						this.IsLoading = false;
  						resolve();
  					})
  					.catch(error => {
  						reject();
  					});
  			}).catch(error => {
  				reject();
  			});
  		},
  		setActiveItem(medicationId) {
  			this.$emit('set-active-item', {
  				ContentItemId: null,
  				ContentType: 'patient-medications',
  			});
  		},

  		checkEitherOrStatus(index) {
  			//To determine display of 'OR' icon
  			if (!this.getMedicationsToDisplay || !this.getMedicationsToDisplay.length) return false;

  			if (index < 1) return false;

  			const prevIndexIsEO = this.getMedicationsToDisplay[index - 1].isEitherOr && this.getMedicationsToDisplay[index - 1].hasOwnProperty('eitherOrGroupId');
  			const indexIsEO = this.getMedicationsToDisplay[index].isEitherOr && this.getMedicationsToDisplay[index].hasOwnProperty('eitherOrGroupId');

  			if (prevIndexIsEO && indexIsEO) {
  				return this.getMedicationsToDisplay[index].eitherOrGroupId === this.getMedicationsToDisplay[index - 1].eitherOrGroupId;
  			}

  			return false;
  		},

  		isEitherOrNotFirstOrLastInGroup(index) {
  			if (!this.getMedicationsToDisplay || !this.getMedicationsToDisplay.length || !this.getMedicationsToDisplay[index].isEitherOr) return false;

  			const isLastIndex = index + 1 >= this.getMedicationsToDisplay.length;
  			const indexIsEO = this.getMedicationsToDisplay[index].isEitherOr && this.getMedicationsToDisplay[index].hasOwnProperty('eitherOrGroupId');
  			const prevIndexIsEO = index > 0 ? this.getMedicationsToDisplay[index - 1].isEitherOr && this.getMedicationsToDisplay[index - 1].hasOwnProperty('eitherOrGroupId') : false;
  			const nextIndexIsEO = !isLastIndex ? this.getMedicationsToDisplay[index + 1].isEitherOr && this.getMedicationsToDisplay[index + 1].hasOwnProperty('eitherOrGroupId') : false;
  			const prevIndexIsSameGroup = prevIndexIsEO ? this.getMedicationsToDisplay[index].eitherOrGroupId === this.getMedicationsToDisplay[index - 1].eitherOrGroupId : false;
  			const nextIndexIsSameGroup = nextIndexIsEO ? this.getMedicationsToDisplay[index].eitherOrGroupId === this.getMedicationsToDisplay[index + 1].eitherOrGroupId : false;

  			if (indexIsEO && (nextIndexIsEO && nextIndexIsSameGroup) && (prevIndexIsEO && prevIndexIsSameGroup)) return true;
  			return false;
  		},

  		isFirstEitherOr(index) {
  			if (!this.getMedicationsToDisplay || !this.getMedicationsToDisplay.length || !this.getMedicationsToDisplay[index].isEitherOr) return false;

  			const isLastIndex = index + 1 >= this.getMedicationsToDisplay.length;
  			const indexIsEO = this.getMedicationsToDisplay[index].isEitherOr && this.getMedicationsToDisplay[index].hasOwnProperty('eitherOrGroupId');
  			const prevIndexIsEO = index > 0 ? this.getMedicationsToDisplay[index - 1].isEitherOr && this.getMedicationsToDisplay[index - 1].hasOwnProperty('eitherOrGroupId') : false;
  			const nextIndexIsEO = !isLastIndex ? this.getMedicationsToDisplay[index + 1].isEitherOr && this.getMedicationsToDisplay[index + 1].hasOwnProperty('eitherOrGroupId') : false;
  			const prevIndexIsSameGroup = prevIndexIsEO ? this.getMedicationsToDisplay[index].eitherOrGroupId === this.getMedicationsToDisplay[index - 1].eitherOrGroupId : false;
  			const nextIndexIsSameGroup = nextIndexIsEO ? this.getMedicationsToDisplay[index].eitherOrGroupId === this.getMedicationsToDisplay[index + 1].eitherOrGroupId : false;

  			if (indexIsEO && nextIndexIsEO && nextIndexIsSameGroup && (!prevIndexIsEO || !prevIndexIsSameGroup)) return true;
  			return false;
  		},

  		isLastEitherOr(index) {
  			if (!this.getMedicationsToDisplay || !this.getMedicationsToDisplay.length || !this.getMedicationsToDisplay[index].isEitherOr) return false;

  			const isLastIndex = index + 1 >= this.getMedicationsToDisplay.length;
  			const indexIsEO = this.getMedicationsToDisplay[index].isEitherOr && this.getMedicationsToDisplay[index].hasOwnProperty('eitherOrGroupId');
  			const prevIndexIsEO = index > 0 ? this.getMedicationsToDisplay[index - 1].isEitherOr && this.getMedicationsToDisplay[index - 1].hasOwnProperty('eitherOrGroupId') : false;
  			const nextIndexIsEO = !isLastIndex ? this.getMedicationsToDisplay[index + 1].isEitherOr && this.getMedicationsToDisplay[index + 1].hasOwnProperty('eitherOrGroupId') : false;
  			const prevIndexIsSameGroup = prevIndexIsEO ? this.getMedicationsToDisplay[index].eitherOrGroupId === this.getMedicationsToDisplay[index - 1].eitherOrGroupId : false;
  			const nextIndexIsSameGroup = nextIndexIsEO ? this.getMedicationsToDisplay[index].eitherOrGroupId === this.getMedicationsToDisplay[index + 1].eitherOrGroupId : false;

  			if (indexIsEO && (!nextIndexIsEO || !nextIndexIsSameGroup) && (prevIndexIsEO && prevIndexIsSameGroup)) return true;

  			return false;
  		},
  	},

  	events: {},

  	beforeCreate: function() {},

  	created: function() {
  		this.getPatientMedwayGuid()
  			//.then(this.getEpisodeTypes)
  			.then(this.getPatientEpisode)
  			.then(this.getPatientMedications)
  			.catch(error => {
  				this.IsLoading = false;
  				this.ApiError = true;
  			});
  	},
  	updated() {
  		appMain.setElementsAsFullHeight();
  	},

  	mounted() {},
  };
</script>

<style scoped lang="less">
  @import '../../../../../less/app-variables.less';
  .patient-summary-widget {
  	box-sizing: border-box;
  	margin: 1em 0 2em 0;
  	padding: 0 1em;
  }
  .stopped-meds-label {
  	color: @text-light;
  	margin: 0.8em 0 0 0;
  }
</style>
<notes>Current Medications widget (Integration API), used on patient dashboard.</notes>
